<ion-pane class="agent-details">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <agent-timeline class="app-blackheaderwrap"></agent-timeline>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
		<div class="main-tab application-form-wrapper">
            <div>
				<div class="tab-pane active">
					<section class="quetionaire_block">
						<form id="spDetailsForm" name="spDetailsForm">
							<div class="row">
								<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
									<div class="capture-sp-detailswrap">
										<div class="row" ng-show="spdc.businessType=='GoodSolution'">
											<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
												<div class="form-group custom-form">
													<label class="form-label">Do you want to source policy using team agent code?</label>
													<div class="tick-radio-wrap">
														<div class="tick-radio-btn-wrap">
															<input type="radio" id="otherAgent_Y" name="otherAgent" value="Y" ng-model="spdc.otherAgentFlag" ng-disabled="spdc.businessType=='GoodSolution' && spdc.EmpFlag!='L'" ng-required="spdc.businessType=='GoodSolution'">
															<label for="otherAgent_Y">Yes</label>
														</div>
														<div class="tick-radio-btn-wrap">
															<input type="radio" id="otherAgent_N" name="otherAgent" value="N" ng-model="spdc.otherAgentFlag" ng-disabled="spdc.businessType=='GoodSolution' && spdc.EmpFlag!='L'" ng-required="spdc.businessType=='GoodSolution'">
															<label for="otherAgent_N">No</label>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
												<div ng-messages="spDetailsForm.otherAgent.$error" class="error-messages" ng-show="spDetailsForm.otherAgent.$invalid && !spDetailsForm.otherAgent.$pristine">
													<div ng-message="required">Please select an option.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" ng-show="((spdc.businessType=='GoodSolution') && (spdc.otherAgentFlag=='Y'))">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Other Agent's Code</label>
														<input type="text" class="form-control" name="agentcode" ng-model="spdc.SPData.IMP_AGENT_CAMS_CD" placeholder="Agent Code" ng-pattern="spdc.agentCodeRegex" ng-disabled="spdc.businessType=='GoodSolution' && (spdc.EmpFlag!='L' && spdc.EmpFlag!='R' && spdc.EmpFlag!='S')" ng-required="((spdc.businessType=='GoodSolution') && (spdc.otherAgentFlag=='Y'))"/>
													</div>
													<div ng-messages="spDetailsForm.agentcode.$error" class="error-messages" ng-show="spDetailsForm.agentcode.$invalid && !spDetailsForm.agentcode.$pristine">
														<div ng-message="required">Agent Code cannot be empty.</div>
														<div ng-message="pattern">Please enter a valid agent code (Do not prepend zero).</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row" ng-show="spdc.businessType=='IndusSolution'">
											<div class="form-group custom-form main-form-title">
												<label class="form-label">Please Enter following details</label>
											</div>
										</div>
										<div class="row" ng-show="spdc.businessType=='IndusSolution'">
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Tata AIA RM CAMS Code</label>
													<input type="text" class="form-control" name="rmcode" ng-model="spdc.SPData.IMP_RM_CAMS_CD" placeholder="RM Code" ng-pattern="spdc.codeRegex" ng-disabled="spdc.EmpFlag=='R'" ng-required="spdc.businessType=='IndusSolution'"/>
												</div>
												<div ng-messages="spDetailsForm.rmcode.$error" class="error-messages" ng-show="spDetailsForm.rmcode.$invalid && !spDetailsForm.rmcode.$pristine">
													<div ng-message="required">RM Code cannot be empty.</div>
													<div ng-message="pattern">Please use text and digits only.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">IBL SP Code</label>
													<input type="text" class="form-control" name="spcode" ng-model="spdc.SPData.IMP_AGENT_CAMS_CD" placeholder="SP Code" ng-pattern="spdc.codeRegex" ng-required="spdc.businessType=='IndusSolution'"/>
												</div>
												<div ng-messages="spDetailsForm.spcode.$error" class="error-messages" ng-show="spDetailsForm.spcode.$invalid && !spDetailsForm.spcode.$pristine">
													<div ng-message="required">SP Code cannot be empty.</div>
													<div ng-message="pattern">Please use text and digits only.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Sub Office Code</label>
													<input style="text-transform: uppercase" type="text" class="form-control" name="socode" ng-model="spdc.SPData.SUBOFFICECODE" placeholder="Sub Office Code" ng-pattern="spdc.codeRegex" ng-required="spdc.businessType=='IndusSolution'" input-uppercase/>
												</div>
												<div ng-messages="spDetailsForm.socode.$error" class="error-messages" ng-show="spDetailsForm.socode.$invalid && !spDetailsForm.socode.$pristine">
													<div ng-message="required">Sub Office Code cannot be empty.</div>
													<div ng-message="pattern">Please use text and digits only.</div>
												</div>
											</div>
										</div>
										<div class="row" ng-show="spdc.businessType=='GoodSolution' || spdc.businessType=='IndusSolution'">
											<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
												<div class="custom-btn form-btn-wrap">
													<!-- ng-disabled="(!spdc.SPData.IMP_RM_CAMS_CD) || (!spdc.SPData.IMP_AGENT_CAMS_CD) || (!spdc.SPData.SUBOFFICECODE)" -->
													<button class="btn btn-block btn-primary" ng-disabled="spDetailsForm.$invalid" type="button" ng-click="spdc.validateSP()" ng-show="((spdc.businessType!='GoodSolution')||(spdc.otherAgentFlag=='Y'))">Validate</button>
													<button class="btn btn-block btn-primary" ng-disabled="spDetailsForm.$invalid" type="button" ng-click="spdc.onNext()" ng-show="((spdc.businessType=='GoodSolution')&&(spdc.otherAgentFlag=='N'))">Next</button>
												</div>
											</div>
										</div>
										<div class="row" ng-show="spdc.SPData.spValidated && ((spdc.businessType!='GoodSolution') || ((spdc.businessType=='GoodSolution') && (spdc.otherAgentFlag=='Y')))">
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Sourcer Code <span ng-show="spdc.businessType == 'IndusSolution'" class="requiredStar">*</span></label>
													<input type="text" class="form-control" name="srcrcd" ng-model="spdc.SPData.SOURCER_CODE"  ng-required="((spdc.businessType == 'IndusSolution') && spdc.SPData.spValidated)" ng-change="spdc.updateSourcerValue(spdc.SPData.SOURCER_CODE)" ng-pattern="spdc.codeSourcerRegex"/>
												</div>
												<div ng-messages="spDetailsForm.srcrcd.$error" class="error-messages" ng-show="spDetailsForm.srcrcd.$invalid && (!spDetailsForm.srcrcd.$pristine  || spdc.genOpClick)">
													<div ng-message="maxlength">{{spdc.len}} Characters.</div>
													<div ng-message="pattern">The sourcer code entered is incorrect</div>
												</div>
												<div class="error-messages" ng-show="spdc.isSourceCode">
													<div ng-show="spdc.isSCodemax">The sourcer code entered is incorrect</div>
													<div ng-show="spdc.isSCodepattern">The sourcer code entered is incorrect</div>
												</div>

											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Sourcer Name </label>
													<input type="text" class="form-control" name="srcrnm" ng-model="spdc.SPData.SOURCER_NAME" ng-pattern="spdc.nameRegex" ng-maxlength="60"/>
												</div>
												<div ng-messages="spDetailsForm.srcrnm.$error" class="error-messages" ng-show="spDetailsForm.srcrnm.$invalid && (!spDetailsForm.srcrnm.$pristine  || spdc.genOpClick)">
													<div ng-message="maxlength">only 20 characters.</div>
													<div ng-message="pattern">Please enter valid name.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Sourcer Contact No </label>
													<input type="number" class="form-control" name="srcrcn" ng-model="spdc.SPData.SOURCER_CONTACT_NO" ng-pattern="spdc.mobnoRegex"/>
												</div>
												<div ng-messages="spDetailsForm.srcrcn.$error" class="error-messages" ng-show="spDetailsForm.srcrcn.$invalid && (!spDetailsForm.srcrcn.$pristine  || spdc.genOpClick)">
													<div ng-message="pattern">Please enter a ten digit mobile number starting with 7, 8 or 9.</div>
													<div ng-message="pattern">Please use digits only.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">RM Name </label>
													<input type="text" class="form-control"  ng-model="spdc.SPData.IMP_RM_NAME" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">{{spdc.nameLabel}}</label>
													<input type="text" class="form-control" ng-model="spdc.SPData.IMP_AGENT_NAME" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">IRDA Lic No </label>
													<input type="text" class="form-control" ng-model="spdc.SPData.IRDA_LIC_NO " ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">IRDA Lic Exp Date </label>
													<input type="text" class="form-control" ng-model="spdc.SPData.IRDA_LIC_EXP_DT" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Mobile No </label>
													<input type="text" class="form-control" ng-model="spdc.SPData.MOBILENO" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Channel Name </label>
													<input type="text" class="form-control" ng-model="spdc.SPData.CHANNEL_NAME" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Office Code</label>
													<input type="text" class="form-control" ng-model="spdc.SPData.OFFICE_CODE" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Sub Office Code </label>
													<input type="text" class="form-control" ng-model="spdc.SPData.SUBOFFICECODE" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Office Name </label>
													<input type="text" class="form-control" ng-model="spdc.SPData.OFFICE_NAME" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Office Address 1 </label>
													<input type="text" class="form-control" ng-model="spdc.SPData.OFFICE_ADDRESS1" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Office Address 2 </label>
													<input type="text" class="form-control" ng-model="spdc.SPData.OFFICE_ADDRESS2" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Office State </label>
													<input type="text" class="form-control" ng-model="spdc.SPData.OFFICE_STATE" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Office Pin Code </label>
													<input type="text" class="form-control" ng-model="spdc.SPData.OFFICE_ZIP_CODE" ng-disabled="true"/>
												</div>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Office Tel No </label>
													<input type="text" class="form-control" ng-model="spdc.SPData.OFFICE_OFFICE_TEL" ng-disabled="true"/>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 center-block pull-none">
													<div class="custom-btn form-btn-wrap">
														<button class="btn btn-block btn-primary" ng-click="spdc.updateSpData(spDetailsForm,spdc.SPData)" type="button" ng-disabled="spDetailsForm.$invalid || spdc.isSourceCode">Next</button>
													</div>
												</div>
											</div>
										</div>
										<!-- end second row -->
									</div>
								</div>
							</div>
						</form>
					</section>
				</div>
			</div>
		</div>
	</ion-content>
</ion-pane>
