<section class="quetionaire_block">

        <form id="asthmaQuesForm" name="asthmaQuesForm" ng-submit="asthmaC.onGenerateOutput()" novalidate>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group custom-form main-form-title">
                        <label class="form-label">Asthma Questionnaire</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">1) Date of first occurrence?</label>
                                <input type="date" class="form-control" name="astqAns1" ng-model="asthmaC.asthmaQuesData.ANS_1" required >
                                <div ng-messages="asthmaQuesForm.astqAns1.$error" class="error-messages" ng-show="asthmaQuesForm.astqAns1.$invalid && !asthmaQuesForm.astqAns1.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">2) Name of main doctor attended for Asthma?</label>
                                <input type="text" class="form-control" name="astqAns2" ng-model="asthmaC.asthmaQuesData.ANS_2" required >
                                <div ng-messages="asthmaQuesForm.astqAns2.$error" class="error-messages" ng-show="asthmaQuesForm.astqAns2.$invalid && !asthmaQuesForm.astqAns2.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">3) Date you last attended the doctor for this condition?</label>
                                <input type="date" name="astqAns3" class="form-control" ng-model="asthmaC.asthmaQuesData.ANS_3" required >
                                <div ng-messages="asthmaQuesForm.astqAns3.$error" class="error-messages" ng-show="asthmaQuesForm.astqAns3.$invalid && !asthmaQuesForm.astqAns3.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">4) Do you still receive treatment or suffer from any symptoms?</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques4aY" name="ques4a" value="Y" ng-model="asthmaC.asthmaQuesData.ANS_4" ng-change="asthmaC.setNull('4')" required />
                                        <label for="ques4aY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques4aN" name="ques4a" value="N" ng-model="asthmaC.asthmaQuesData.ANS_4" required />
                                        <label for="ques4aN">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="asthmaC.asthmaQuesData.ANS_4=='N'">
                            <div class="form-group custom-form">
                                <label  class="form-label"> If No, then how long has it been since you have ceased all treatment and have been free of all symptoms?
                                </label>
                                <input type="text" class="form-control" name="ans4Reason" ng-model="asthmaC.asthmaQuesData.ANS_4_Reason" ng-required="asthmaC.asthmaQuesData.ANS_4=='N'" placeholder="Year & Months">
                                <div ng-messages="asthmaQuesForm.ans4Reason.$error" class="error-messages" ng-show="asthmaQuesForm.ans4Reason.$invalid && !asthmaQuesForm.ans4Reason.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <!-------5 question start----------->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">5) Please can you provide details of the medication prescribed, to include past and present medication, frequency, duration and dosage?</label>
                                <input type="text" class="form-control" name="astqAns5a" ng-model="asthmaC.asthmaQuesData.ANS_5a" placeholder="Past:" required>
                                <div ng-messages="asthmaQuesForm.astqAns5a.$error" class="error-messages" ng-show="asthmaQuesForm.astqAns5a.$invalid && !asthmaQuesForm.astqAns5a.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                                <input type="text" class="form-control" name="astqAns5b" ng-model="asthmaC.asthmaQuesData.ANS_5b" placeholder="Current:" required>
                                <div ng-messages="asthmaQuesForm.astqAns5b.$error" class="error-messages" ng-show="asthmaQuesForm.astqAns5b.$invalid && !asthmaQuesForm.astqAns5b.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <p>If you currently use any medication, please indicate what medication you use now, please answer Yes or No to each of the following</p>
                            <div class="form-group custom-form">
                                <label class="form-label">A cortisone or steroid inhaler</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques5cY" name="ques5c" value="Y" ng-model="asthmaC.asthmaQuesData.ANS_5c" required />
                                        <label for="ques5cY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques5cN" name="ques5c" value="N" ng-model="asthmaC.asthmaQuesData.ANS_5c" required />
                                        <label for="ques5cN">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">A bronchodilator spray</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques5dY" name="ques5d" value="Y" ng-model="asthmaC.asthmaQuesData.ANS_5d" required />
                                        <label for="ques5dY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques5dN" name="ques5d" value="N" ng-model="asthmaC.asthmaQuesData.ANS_5d" required />
                                        <label for="ques5dN">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">An anti-inflammatory spray</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques5eY" name="ques5e" value="Y" ng-model="asthmaC.asthmaQuesData.ANS_5e" required />
                                        <label for="ques5eY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques5eN" name="ques5e" value="N" ng-model="asthmaC.asthmaQuesData.ANS_5e" required />
                                        <label for="ques5eN">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">Cortisone tablets</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques5fY" name="ques5f" value="Y" ng-model="asthmaC.asthmaQuesData.ANS_5f" required />
                                        <label for="ques5fY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques5fN" name="ques5f" value="N" ng-model="asthmaC.asthmaQuesData.ANS_5f" ng-change="asthmaC.setNull('5')" required />
                                        <label for="ques5fN">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="asthmaC.asthmaQuesData.ANS_5f=='Y'">
                            <div class="form-group custom-form">
                                <label class="form-label">If Yes, how many does do you use each day ?</label>
                                <div class="custom-drp">
                                    <select name="ques5fReason" ng-options="option.MED_DISPLAY for option in asthmaC.noOfMedicineList track by option.MED_VALUE" ng-change="asthmaC.onNoOfMedChg()" ng-model="asthmaC.noOfMedOptionSelected" select-required="asthmaC.asthmaQuesData.ANS_5f=='Y'"></select>
                                    <div ng-messages="asthmaQuesForm.ques5fReason.$error" class="error-messages" ng-show="asthmaQuesForm.ques5fReason.$invalid && !asthmaQuesForm.ques5fReason.$pristine">
                                        <div ng-message="selectRequired">Please select an option.</div>
                                    </div>
                                    <!--<select class="form-control">-->
                                        <!--<option selected>Select</option>-->
                                        <!--<option>1</option>-->
                                        <!--<option>2</option>-->
                                        <!--<option>3</option>-->
                                        <!--<option>4</option>-->
                                    <!--</select>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">6) Have you ever been admitted to hospital for treatment of your asthma?</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques6Y" name="ques6" value="Y" ng-model="asthmaC.asthmaQuesData.ANS_6" required />
                                        <label for="ques6Y">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques6N" name="ques6" value="N" ng-model="asthmaC.asthmaQuesData.ANS_6" ng-change="asthmaC.setNull('6')" required />
                                        <label for="ques6N">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="asthmaC.asthmaQuesData.ANS_6=='Y'">
                            <div class="form-group custom-form">
                                <label  class="form-label"> If Yes, how many times in the past 5 years:
                                </label>
                                <div class="custom-drp">
                                    <select name="ques6Reason" ng-options="option.ADMIT_DISPLAY for option in asthmaC.noOfHospiAdmitList track by option.ADMIT_VALUE" ng-change="asthmaC.onNoOfHospiAdmitChg()" ng-model="asthmaC.noOfHospiAdmitOptionSelected" select-required="asthmaC.asthmaQuesData.ANS_6=='Y'"></select>
                                    <div ng-messages="asthmaQuesForm.ques6Reason.$error" class="error-messages" ng-show="asthmaQuesForm.ques6Reason.$invalid && !asthmaQuesForm.ques6Reason.$pristine">
                                        <div ng-message="selectRequired">Please select an option.</div>
                                    </div>
                                    <!--<select class="form-control">-->
                                        <!--<option selected>Select</option>-->
                                        <!--<option>1</option>-->
                                        <!--<option>2</option>-->
                                        <!--<option>3</option>-->
                                        <!--<option>4</option>-->
                                        <!--<option>5</option>-->
                                        <!--<option>5+</option>-->
                                    <!--</select>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">7) When did you suffer from the symptoms of asthma?</label>
                                <input type="text" class="form-control" name="astqAns7" ng-model="asthmaC.asthmaQuesData.ANS_7" required >
                                <div ng-messages="asthmaQuesForm.astqAns7.$error" class="error-messages" ng-show="asthmaQuesForm.astqAns7.$invalid && !asthmaQuesForm.astqAns7.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">8) Have you missed more than 5 continuous days from your job, (or school for children) in the last 3 years due to asthma?</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques8Y" name="ques8" value="Y" ng-model="asthmaC.asthmaQuesData.ANS_8" required />
                                        <label for="ques8Y">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques8N" name="ques8" value="N" ng-model="asthmaC.asthmaQuesData.ANS_8" ng-change="asthmaC.setNull('8')" required />
                                        <label for="ques8N">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="asthmaC.asthmaQuesData.ANS_8=='Y'">
                            <div class="form-group custom-form">
                                <label  class="form-label"> If Yes, please mention the period
                                </label>
                                <input type="text" class="form-control" name="ans8Reason" ng-model="asthmaC.asthmaQuesData.ANS_8_Reason" ng-required="asthmaC.asthmaQuesData.ANS_8=='Y'">
                                <div ng-messages="asthmaQuesForm.ans8Reason.$error" class="error-messages" ng-show="asthmaQuesForm.ans8Reason.$invalid && !asthmaQuesForm.ans8Reason.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">9) Please provide copies of any medical reports you may have like Chest X-ray, Pulmonary function test report or any other investigation report if any</label>
                                <input type="text" class="form-control" name="astqAns9" ng-model="asthmaC.asthmaQuesData.ANS_9" required >
                                <div ng-messages="asthmaQuesForm.astqAns9.$error" class="error-messages" ng-show="asthmaQuesForm.astqAns9.$invalid && !asthmaQuesForm.astqAns9.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">10) Do you smoke cigarettes Or consumed tobacco in any form?</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques10Y" name="ques10" value="Y" ng-model="asthmaC.asthmaQuesData.ANS_10" required />
                                        <label for="ques10Y">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="ques10N" name="ques10" value="N" ng-model="asthmaC.asthmaQuesData.ANS_10" ng-change="asthmaC.setNull('10')" required />
                                        <label for="ques10N">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="asthmaC.asthmaQuesData.ANS_10=='Y'">
                            <div class="form-group custom-form">
                                <label  class="form-label"> If Yes, how many per day
                                </label>
                                <input type="number" class="form-control" name="ans10Reason" ng-model="asthmaC.asthmaQuesData.ANS_10_Reason" ng-required="asthmaC.asthmaQuesData.ANS_10=='Y'">
                                <div ng-messages="asthmaQuesForm.ans10Reason.$error" class="error-messages" ng-show="asthmaQuesForm.ans10Reason.$invalid && !asthmaQuesForm.ans10Reason.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <div class="custom-btn form-btn-wrap">
                                <button class="btn btn-default btn-block" type="submit" ng-disabled="asthmaQuesForm.$invalid">Generate Output</button>
                            </div>
                        </div>
                    </div>
                    <!-- end second row -->
                </div>
            </div>
        </form>

</section>
<div class="clearfix"></div>