<ion-pane class="add-lead">
	<form id="ek.leadEKYCFormConfirm" name="ek.leadEKYCFormConfirm" ng-submit="ek.onNext(ek.leadEKYCFormConfirm.$pristine)" novalidate>
		<ion-header-bar class="fixed-bar lead-header">
			<div class="lead-menu-icon header-margin-rm">
				<a ng-click="ek.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
			</div>
			<div class="lead-title header-margin-rm">
				<h2>Create Lead</h2>
			</div>
		</ion-header-bar>
		<div class="bar bar-subheader add-lead-sub-header">
			<h2>Personal Details</h2>
		</div>
		<ion-content has-bouncing="false" has-header="true">
			<div class="row add-lead-content">
				<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 center-block pull-none">
					<!--Proposer's OTP-->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form custom-drp side-radio-height-wrap">
							<label class="form-label">Proposer's OTP<span class="requiredStar" ng-show="ek.proposerOTPRequired">*</span></label>
							<input type="text" class="form-control custom-form" placeholder="Proposer's OTP" name="proposerOTP" ng-model="ek.leadEKYCConfirmData.proposer.OTP" ng-disabled="((ek.disableProposerOTP) || (!!ek.ekycDisabled))" ng-required="ek.proposerOTPRequired" ng-pattern="ek.otpRegex"/>
						</div>
						<div ng-messages="ek.leadEKYCConfirmData.proposer.OTP" class="error-messages" ng-show="ek.leadEKYCFormConfirm.proposerOTP.$invalid && !ek.leadEKYCFormConfirm.proposerOTP.$pristine">
							<div ng-message="required">Please enter an OTP.</div>
							<div ng-message="pattern">Please enter a valid OTP.</div>
						</div>
						<div>
							<a ng-click="ek.resendOTP('proposer')" ng-disabled="((ek.disableProposerOTP) || (!!ek.ekycDisabled))">Resend OTP</a>
						</div>
					</div>

					<!-- Submit Proposer's OTP -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
								<div class="custom-btn form-btn-wrap">
									<button class="btn btn-default btn-block" type="button" ng-click="ek.onOTPSubmit('proposer')" ng-disabled="((ek.disableProposerOTP) || (!ek.leadEKYCConfirmData.proposer.OTP) || (!!ek.ekycDisabled))">Submit</button>
								</div>
							</div>
						</div>
					</div>

					<!-- View Proposer's Details -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="row">
							<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
								<div class="custom-btn form-btn-wrap">
									<button class="btn btn-default btn-block" type="button" ng-click="ek.viewAndConfirmDetails('proposer')" ng-disabled="ek.disablePropDtlsView">View and Confirm Proposer's details</button>
								</div>
							</div>
						</div>
					</div>

					 <!--Insured's OTP-->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form custom-drp side-radio-height-wrap">
							<label class="form-label">Insured's OTP<span class="requiredStar" ng-show="ek.insuredOTPRequired">*</span></label>
							<input type="text" class="form-control custom-form" placeholder="Insured's OTP" name="insuredOTP" ng-model="ek.leadEKYCConfirmData.insured.OTP" ng-disabled="((ek.disableInsuredOTP) || (!!ek.ekycDisabled))" ng-required="ek.insuredOTPRequired" ng-pattern="ek.otpRegex"/>
						</div>
						<div ng-messages="ek.leadEKYCConfirmData.insured.OTP" class="error-messages" ng-show="ek.leadEKYCFormConfirm.insuredOTP.$invalid && !ek.leadEKYCFormConfirm.insuredOTP.$pristine">
							<div ng-message="required">Please enter an OTP.</div>
							<div ng-message="pattern">Please enter a valid OTP.</div>
						</div>
						<div>
							<a ng-click="ek.resendOTP('insured')" ng-disabled="((ek.disableInsuredOTP) || (!!ek.ekycDisabled))">Resend OTP</a>
						</div>
					</div>

					<!-- Submit Insured's OTP -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
								<div class="custom-btn form-btn-wrap">
									<button class="btn btn-default btn-block" type="button" ng-click="ek.onOTPSubmit('insured')" ng-disabled="((ek.disableInsuredOTP) || (!ek.leadEKYCConfirmData.insured.OTP) || (!!ek.ekycDisabled))">Submit</button>
								</div>
							</div>
						</div>
					</div>

					<!-- View Insured's Details -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="row">
							<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
								<div class="custom-btn form-btn-wrap">
									<button class="btn btn-default btn-block" type="button" ng-click="ek.viewAndConfirmDetails('insured')" ng-disabled="ek.disableInsDtlsView">View and Confirm Insured's details</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
		<ion-footer-bar class="hide-on-keyboard-open add-lead-footer">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none add-lead-submit-block">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="custom-btn">
							<button class="btn btn-default btn-block" ng-click="ek.onBack()" type="button">Back</button>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="custom-btn">
							<button class="btn btn-default btn-block" type="submit" ng-disabled="ek.leadEKYCFormConfirm.$invalid">Save & Proceed</button>
						</div>
					</div>
				</div>
			</div>
		</ion-footer-bar>
	</form>
</ion-pane>
