<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<qh-timeline class="tab-nav"></qh-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<form name="healthInsForm" id="healthInsForm">
				<!--Page Header-->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group custom-form main-form-title">
						<label class="form-label">Insured</label>
					</div>
				</div>
				<!--Question Wrapper Start-->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="question-outerwrap">
						<!--VCP Questions -->
						<!-- Commented by Ameya for enabling Physician Details block for all Products -->
						<!--<div ng-hide="health.planCode!='222'">-->
						<div>
							<div class="question-wrap orange-border">
								<div>Physician Details :</div>
								<div class="grey-question-wrap">
									<div class="question-lbl grey-lbl">Name:
									<!--<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>-->
									</div>
									<div class="questiontext-box-wrap" style="position:relative">
										<div class="form-group custom-form">
											<input type="text" class="form-control" name="VcpName"  ng-model="health.healthMainBean.VcpQuest1.ANS1" ng-pattern="health.nameRegex" ng-maxlength="60"/>
										</div>
										<div ng-messages="healthInsForm.VcpName.$error" class="error-messages" ng-show="healthInsForm.VcpName.$invalid && (!healthInsForm.VcpName.$pristine || health.click)">
											<!-- <div ng-message="required">Please enter Name.</div> -->
											<div ng-message="pattern">Please enter valid Name.</div>
											<div ng-message="maxlength">Name cannot be more than 60 characters.</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="grey-question-wrap">
									<div class="question-lbl grey-lbl">Address: </div>
									<div class="questiontext-box-wrap" style="position:relative">
										<div class="form-group custom-form">
											<input type="text" class="form-control" name="VcpAddrs" ng-pattern="health.freeTxtRegex" ng-model="health.healthMainBean.VcpQuest1.ANS2" ng-maxlength="50" />
										</div>
										<div ng-messages="healthInsForm.VcpAddrs.$error" class="error-messages" ng-show="healthInsForm.VcpAddrs.$invalid && (!healthInsForm.VcpAddrs.$pristine || health.click)">
											<div ng-message="maxlength">Address cannot be more than 50 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="grey-question-wrap">
									<div class="question-lbl grey-lbl">Telephone: </div>
									<div class="questiontext-box-wrap" style="position:relative">
										<div class="form-group custom-form">
											<input type="text" class="form-control" name="VcpTel"  ng-model="health.healthMainBean.VcpQuest1.ANS3" ng-pattern="health.numRegex" ng-maxlength="12" />
										</div>
										<div ng-messages="healthInsForm.VcpTel.$error" class="error-messages" ng-show="healthInsForm.VcpTel.$invalid && (!healthInsForm.VcpTel.$pristine || health.click)">
											<div ng-message="maxlength">Telephone number cannot be more than 12 digits.</div>
											<div ng-message="pattern">Enter valid Telephone number.</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<!--VCP Grey Label -->
							<div class="question-wrap orange-border" ng-show="health.planCode=='222' && health.SA < 2000000">
								<div class="grey-question-wrap">
									<div class="question-lbl grey-lbl">A.Height(Please mention unit in cms):
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<div class="questiontext-box-wrap" style="position:relative">
										<div class="form-group custom-form">
											<input type="number" class="form-control" name="Vcpheight"  ng-model="health.healthMainBean.Quest2.ANS1" ng-pattern="health.htWtRegex" ng-maxlength="3" ng-required="health.planCode=='222' && health.SA < 2000000"/>
										</div>
										<div ng-messages="healthInsForm.Vcpheight.$error" class="error-messages" ng-show="healthInsForm.Vcpheight.$invalid && (!healthInsForm.Vcpheight.$pristine || health.click)">
											<div ng-message="required">This field cannot be empty.</div>
											<div ng-message="pattern">Height should be in digits and non-zero.</div>
											<div ng-message="maxlength">Height cannot be more than 3 digits.</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="grey-question-wrap">
									<div class="question-lbl grey-lbl">B.Weight(Please mention unit in kgs):
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<div class="questiontext-box-wrap" style="position:relative">
										<div class="form-group custom-form">
											<input type="number" class="form-control" name="Vcpweight"  ng-model="health.healthMainBean.Quest2.ANS2" ng-pattern="health.htWtRegex" ng-maxlength="3" ng-required="health.planCode=='222' && health.SA < 2000000"/>
										</div>
										<div ng-messages="healthInsForm.Vcpweight.$error" class="error-messages" ng-show="healthInsForm.Vcpweight.$invalid && (!healthInsForm.Vcpweight.$pristine || health.click)">
											<div ng-message="required">This field cannot be empty.</div>
											<div ng-message="pattern">Weight should be in digits and non-zero.</div>
											<div ng-message="maxlength">Weight cannot be more than 3 digits.</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<!--VCP third questions-->
							<div class="question-wrap orange-border">
								<div class="question-text">
									C. Do you or any of the persons proposed to be insured has/have any condition, ailment or injury or related condition(s) for which you or any of the persons proposed to be insured had signs or symptoms,and/or were advised/treatment within past 48 months?
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="VcpConAns" id="VcpQuest3Yes" value="Y" ng-model="health.healthMainBean.VcpQuest2.ANSFLAG" ng-change="health.onChangeVCP2()" required/>
										<label for="VcpQuest3Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="VcpConAns" id="VcpQuest3No" value="N" ng-model="health.healthMainBean.VcpQuest2.ANSFLAG" ng-change="health.onChangeVCP2()" required/>
										<label for="VcpQuest3No"></label>
									</div>
								</div>
								<div ng-messages="healthInsForm.VcpConAns.$error" class="error-messages" ng-show="healthInsForm.VcpConAns.$invalid && (!healthInsForm.VcpConAns.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
								<!--Sub Questions-->
								<div class="sub-question-wrap" ng-show="health.healthMainBean.VcpQuest2.ANSFLAG == 'Y'">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
											<div class="form-group custom-form">
												<label class="form-label">A) Please provide Details.</label>
												<input type="text" class="form-control" name="VcpCondition"  ng-model="health.healthSubBean.VcpsubQuest25.ANS" ng-pattern="health.freeTxtRegex" ng-maxlength="250" ng-required="health.healthMainBean.VcpQuest2.ANSFLAG == 'Y'"/>
												<div class="clearfix"></div>
											</div>
											<div ng-messages="healthInsForm.VcpCondition.$error" class="error-messages" ng-show="healthInsForm.VcpCondition.$invalid && (!healthInsForm.VcpCondition.$pristine || health.click)">
												<div ng-message="required">Please enter details.</div>
												<div ng-message="pattern">Enter valid details excluding special characters</div>
												<div ng-message="maxlength">Details cannot be more than 250 digits.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--VCP fourth question-->
							<div class="question-wrap orange-border">
								<div class="question-text">
									D. Has any of your insurance application or reinstatement application on life, accident, medical or health, critical illness, or disability ever been declined, postponed or accepted at extra premium or modified terms?
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="VcpAppCon" id="VcpQuest4Yes" value="Y" ng-model="health.healthMainBean.VcpQuest3.ANSFLAG" ng-change="health.onChangeVCP3()" required=""/>
										<label for="VcpQuest4Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="VcpAppCon" id="VcpQuest4No" value="N" ng-model="health.healthMainBean.VcpQuest3.ANSFLAG" ng-change="health.onChangeVCP3()" required/>
										<label for="VcpQuest4No"></label>
									</div>
								</div>
								<div ng-messages="healthInsForm.VcpAppCon.$error" class="error-messages" ng-show="healthInsForm.VcpAppCon.$invalid && (!healthInsForm.VcpAppCon.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
								<!--Sub Questions-->
								<div class="sub-question-wrap" ng-show="health.healthMainBean.VcpQuest3.ANSFLAG == 'Y'">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
											<div class="form-group custom-form">
												<label class="form-label">A) Please provide Details.</label>
												<input type="text" class="form-control" name="VcpsubQuest2"  ng-model="health.healthSubBean.VcpsubQuest26.ANS" ng-pattern="health.freeTxtRegex" ng-maxlength="250" ng-required="health.healthMainBean.VcpQuest3.ANSFLAG == 'Y'" required/>
												<div class="clearfix"></div>
											</div>
											<div ng-messages="healthInsForm.VcpsubQuest2.$error" class="error-messages" ng-show="healthInsForm.VcpsubQuest2.$invalid && (!healthInsForm.VcpsubQuest2.$pristine || health.click)">
												<div ng-message="required">Please enter details.</div>
												<div ng-message="pattern">Enter valid details excluding special characters</div>
												<div ng-message="maxlength">Details cannot be more than 250 digits.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--VCP fifth question -->
							<div class="question-wrap orange-border">
								<div class="question-text">
									E. Have you undergone treatment/surgery or is any treatment/surgery on going or planned. If yes, please specify name of the treatment/surgery?
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="VcpSurgery" id="VcpQuest5Yes" value="Y" ng-model="health.healthMainBean.VcpQuest4.ANSFLAG" ng-change="health.onChangeVCP4()" required/>
										<label for="VcpQuest5Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="VcpSurgery" id="VcpQuest5No" value="N" ng-model="health.healthMainBean.VcpQuest4.ANSFLAG" ng-change="health.onChangeVCP4()" required/>
										<label for="VcpQuest5No"></label>
									</div>
								</div>
								<div ng-messages="healthInsForm.VcpSurgery.$error" class="error-messages" ng-show="healthInsForm.VcpSurgery.$invalid && (!healthInsForm.VcpSurgery.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
								<!--Sub Questions-->
								<div class="sub-question-wrap" ng-show="health.healthMainBean.VcpQuest4.ANSFLAG == 'Y'">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
											<div class="form-group custom-form">
												<label class="form-label">A) Please provide Details.</label>
												<input type="text" class="form-control" name="VcpsubQuest3"  ng-model="health.healthSubBean.VcpsubQuest27.ANS" ng-required="health.healthMainBean.VcpQuest4.ANSFLAG == 'Y'" ng-maxlength="250" ng-pattern="health.freeTxtRegex" required/>
												<div class="clearfix"></div>
											</div>
											<div ng-messages="healthInsForm.VcpsubQuest3.$error" class="error-messages" ng-show="healthInsForm.VcpsubQuest3.$invalid && (!healthInsForm.VcpsubQuest3.$pristine || health.click)">
												<div ng-message="required">Please enter details.</div>
												<div ng-message="pattern">Enter valid details excluding special characters</div>
												<div ng-message="maxlength">Details cannot be more than 250 digits.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--Main Existing div -->
						<!-- First Question -->
						<div ng-hide="health.planCode=='222' && health.SA < 2000000">
							<div class="question-wrap orange-border">
								<div class="question-text">
									1. Are you presently in good health?
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="Quest1" id="Quest1Yes" value="Y" ng-model="health.healthMainBean.Quest1.ANSFLAG" ng-change="health.onChangeQuest1()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest1Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="Quest1" id="Quest1No" value="N" ng-model="health.healthMainBean.Quest1.ANSFLAG" ng-change="health.onChangeQuest1()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest1No"></label>
									</div>
								</div>
								<!--Error Meaage-->
								<div ng-messages="healthInsForm.Quest1.$error" class="error-messages" ng-show="healthInsForm.Quest1.$invalid && (!healthInsForm.Quest1.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
								<div class="sub-question-wrap" ng-show="health.healthMainBean.Quest1.ANSFLAG == 'N'">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
											<div class="form-group custom-form">
												<label class="form-label">A) Please provide Details.</label>
												<input type="text" class="form-control" name="Quest1NoAns"  ng-model="health.healthSubBean.subQuest28.ANS" ng-required="health.healthMainBean.Quest1.ANSFLAG == 'N'"/>
												<div class="clearfix"></div>
											</div>
											<div ng-messages="healthInsForm.Quest1NoAns.$error" class="error-messages" ng-show="healthInsForm.Quest1NoAns.$invalid && (!healthInsForm.Quest1NoAns.$pristine || health.click)">
												<div ng-message="required">Please enter details.</div>
                      <div ng-message="pattern">Enter valid details excluding special characters</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--Change to VCP PGLID-->
							<!-- Grey Label -->
							<div class="question-wrap orange-border">
								<div class="grey-question-wrap">
									<div class="question-lbl grey-lbl">A.Height(Please mention unit in cms):
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<div class="questiontext-box-wrap" style="position:relative">
										<div class="form-group custom-form">
											<input type="number" class="form-control" name="height"  ng-model="health.healthMainBean.Quest2.ANS1" ng-pattern="health.htWtRegex" ng-maxlength="3" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										</div>
										<div ng-messages="healthInsForm.height.$error" class="error-messages" ng-show="healthInsForm.height.$invalid && (!healthInsForm.height.$pristine || health.click)">
											<div ng-message="required">This field cannot be empty.</div>
											<div ng-message="pattern">Height should be in digits and non-zero.</div>
											<div ng-message="maxlength">Height cannot be more than 3 digits.</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="grey-question-wrap">
									<div class="question-lbl grey-lbl">B.Weight(Please mention unit in kgs):
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<div class="questiontext-box-wrap" style="position:relative">
										<div class="form-group custom-form">
											<input type="number" class="form-control" name="weight"  ng-model="health.healthMainBean.Quest2.ANS2" ng-pattern="health.htWtRegex" ng-maxlength="3" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										</div>
										<div ng-messages="healthInsForm.weight.$error" class="error-messages" ng-show="healthInsForm.weight.$invalid && (!healthInsForm.weight.$pristine || health.click)">
											<div ng-message="required">This field cannot be empty.</div>
											<div ng-message="pattern">Weight should be in digits and non-zero.</div>
											<div ng-message="maxlength">Weight cannot be more than 3 digits.</div>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<!-- Third Question -->
							<div class="question-wrap orange-border">
								<div class="question-text">
									3. Do you have Loss or Gain of weight of 10 kgs or more in the last six months?
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="Quest3" id="Quest3Yes" value="Y" ng-model="health.healthMainBean.Quest3.ANSFLAG" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest3Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="Quest3" id="Quest3No" value="N" ng-model="health.healthMainBean.Quest3.ANSFLAG" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest3No"></label>
									</div>
								</div>
								<div ng-messages="healthInsForm.Quest3.$error" class="error-messages" ng-show="healthInsForm.Quest3.$invalid && (!healthInsForm.Quest3.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
								<!--Sub Questions-->
								<div class="sub-question-wrap" ng-show="health.healthMainBean.Quest3.ANSFLAG == 'Y'">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
											<div class="form-group custom-form">
												<label class="form-label">A) Please provide weight change in Kgs</label>
												<input type="number" class="form-control" name="weightChng"  ng-model="health.healthSubBean.subQuest1.ANS" ng-required="health.healthMainBean.Quest3.ANSFLAG == 'Y'" ng-pattern="health.numRegex" ng-maxlength="3" required/>
												<div class="clearfix"></div>
											</div>
											<div ng-messages="healthInsForm.weightChng.$error" class="error-messages" ng-show="healthInsForm.weightChng.$invalid && (!healthInsForm.weightChng.$pristine || health.click)">
												<div ng-message="required">This field cannot be empty.</div>
												<div ng-message="pattern">Please enter numbers only.</div>
												<div ng-message="maxlength">Weight change cannot be more than 3 digits.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
											<div class="form-group custom-form">
												<label class="form-label">B) Please provide reason for weight change</label>
												<input type="text" class="form-control" name="weightChngReason"  ng-model="health.healthSubBean.subQuest2.ANS" ng-required="health.healthMainBean.Quest3.ANSFLAG == 'Y'" ng-maxlength="250" required block-hash/>
												<div class="clearfix"></div>
											</div>
											<div ng-messages="healthInsForm.weightChngReason.$error" class="error-messages" ng-show="healthInsForm.weightChngReason.$invalid && (!healthInsForm.weightChngReason.$pristine || health.click)">
												<div ng-message="required">This field cannot be empty.</div>
												<div ng-message="blockHash">Please do not use '#' or '|'</div>
												<div ng-message="maxlength">Weight Change cannot be more than 250 characters.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Fourth Question -->
							<div class="question-wrap orange-border">
								<div class="question-text">
									4. Do you have any physical deformity/handicap or congential defect/abnormality?
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="Quest4" id="Quest4Yes" value="Y" ng-model="health.healthMainBean.Quest4.ANSFLAG" ng-change="health.onChangeQuest4()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest4Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="Quest4" id="Quest4No" value="N" ng-model="health.healthMainBean.Quest4.ANSFLAG" ng-change="health.onChangeQuest4()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest4No"></label>
									</div>
								</div>
								<div ng-messages="healthInsForm.Quest4.$error" class="error-messages" ng-show="healthInsForm.Quest4.$invalid && (!healthInsForm.Quest4.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>
							<!-- Fifth Question -->
							<div class="question-wrap orange-border">
								<div class="question-text">
									5. Have you ever advised to and/or have undergone any tests, investigations or surgery or have been hospitalized for check up or treatment
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="Quest5" id="Quest5Yes" value="Y" ng-model="health.healthMainBean.Quest5.ANSFLAG" ng-change="health.onChangeQuest5()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest5Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="Quest5" id="Quest5No" value="N" ng-model="health.healthMainBean.Quest5.ANSFLAG" ng-change="health.onChangeQuest5()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest5No"></label>
									</div>
								</div>
								<div ng-messages="healthInsForm.Quest5.$error" class="error-messages" ng-show="healthInsForm.Quest5.$invalid && (!healthInsForm.Quest5.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>
							<!-- Sixth Question -->
							<div class="question-wrap orange-border">
								<div class="question-text">
									6. Are you currently undergoing or awaiting results of any tests, investigations, surgery or are currently hospitalized for general check up, observation treatment or surgery?
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="Quest6" id="Quest6Yes" value="Y" ng-model="health.healthMainBean.Quest6.ANSFLAG" ng-change="health.onChangeQuest6()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest6Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="Quest6" id="Quest6No" value="N" ng-model="health.healthMainBean.Quest6.ANSFLAG" ng-change="health.onChangeQuest6()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest6No"></label>
									</div>
								</div>
								<div ng-messages="healthInsForm.Quest6.$error" class="error-messages" ng-show="healthInsForm.Quest6.$invalid && (!healthInsForm.Quest6.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
								<div class="sub-question-wrap" ng-show="health.healthMainBean.Quest6.ANSFLAG == 'Y'">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
											<div class="form-group custom-form">
												<label class="form-label">A) Please provide Details.</label>
												<input type="text" class="form-control" name="Quest6NoAns"  ng-model="health.healthSubBean.subQuest29.ANS" ng-pattern="health.freeTxtRegex" ng-required="health.healthMainBean.Quest6.ANSFLAG == 'Y'"/>
												<div class="clearfix"></div>
											</div>
											<div ng-messages="healthInsForm.Quest6NoAns.$error" class="error-messages" ng-show="healthInsForm.Quest6NoAns.$invalid && (!healthInsForm.Quest6NoAns.$pristine || health.click)">
												<div ng-message="required">Please enter details.</div>
												<div ng-message="pattern">Enter valid details excluding special characters</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Seventh Question -->
							<div class="question-wrap orange-border">
								<div class="question-text">
									7. Are you aware of or have you ever deen investigated/treated or hospitalised or referred to Oncologist for cancer,tumor,cysts or any other benign or malignant growth?
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="Quest7" id="Quest7Yes" value="Y" ng-model="health.healthMainBean.Quest7.ANSFLAG" ng-change="health.onChangeQuest7()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest7Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="Quest7" id="Quest7No" value="N" ng-model="health.healthMainBean.Quest7.ANSFLAG" ng-change="health.onChangeQuest7()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest7No"></label>
									</div>
								</div>
								<div ng-messages="healthInsForm.Quest7.$error" class="error-messages" ng-show="healthInsForm.Quest7.$invalid && (!healthInsForm.Quest7.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>
							<!-- Eigth Question-->
							<div class="question-wrap orange-border">
								<div class="question-text">
									8. Did you ever have any aligment/injury requiring treatment/medication for more than a week?
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="Quest8" id="Quest8Yes" value="Y" ng-model="health.healthMainBean.Quest8.ANSFLAG" ng-change="health.onChangeQuest8()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest8Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="Quest8" id="Quest8No" value="N" ng-model="health.healthMainBean.Quest8.ANSFLAG" ng-change="health.onChangeQuest8()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest8No"></label>
									</div>
								</div>
								<div ng-messages="healthInsForm.Quest8.$error" class="error-messages" ng-show="healthInsForm.Quest8.$invalid && (!healthInsForm.Quest8.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>
							<!-- Ninth Question-->
							<div class="question-wrap orange-border">
								<div class="question-text">
									9. Have you ever suffered or are suffering from any of the following :
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										a) Diabetes, High Blood Sugar or Sugar in Urine
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest9A.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<label class="form-label">Please select :</label>
													<div class="custom-drp">
														<select class="form-control" name="Quest9ASub1" ng-model="health.healthMainBean.Quest9A.SUB1.ANS" ng-options="option.DISPLAY for option in health.Quest9AList1 track by option.VALUE" ng-change="health.onChangeQuest9ASub1()" select-required="health.healthMainBean.Quest9A.ANSFLAG == 'Y'">
														</select>
													</div>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9ASub1.$error" class="error-messages" ng-show="healthInsForm.Quest9ASub1.$invalid && (!healthInsForm.Quest9ASub1.$pristine || health.click)">
													<div ng-message="selectRequired">Please select an option.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9A.SUB1.ANS.VALUE == 'High Blood Sugar'">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9ASub2"  ng-model="health.healthSubBean.subQuest10.ANS" ng-required="health.healthMainBean.Quest9A.SUB1.ANS.VALUE == 'High Blood Sugar'" ng-maxlength="250" ng-pattern="health.freeTxtRegex" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9ASub2.$error" class="error-messages" ng-show="healthInsForm.Quest9ASub2.$invalid && (!healthInsForm.Quest9ASub2.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
													<div ng-message="pattern">Enter valid details excluding special characters</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9A.SUB1.ANS.VALUE == 'Sugar in Urine'">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9ASub3"  ng-model="health.healthSubBean.subQuest11.ANS" ng-required="health.healthMainBean.Quest9A.SUB1.ANS.VALUE == 'Sugar in Urine'" ng-maxlength="250" ng-pattern="health.freeTxtRegex" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9ASub3.$error" class="error-messages" ng-show="healthInsForm.Quest9ASub3.$invalid && (!healthInsForm.Quest9ASub3.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
													<div ng-message="pattern">Enter valid details excluding special characters</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
											<input type="radio" name="Quest9A" id="Quest9AYes" value="Y" ng-model="health.healthMainBean.Quest9A.ANSFLAG" ng-change="health.onChange9A(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9AYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
											<input type="radio" name="Quest9A" id="Quest9ANo" value="N" ng-model="health.healthMainBean.Quest9A.ANSFLAG" ng-change="health.onChange9A(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9ANo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9A.$error" class="error-messages" ng-show="healthInsForm.Quest9A.$invalid && (!healthInsForm.Quest9A.$pristine || health.click)">
										<div ng-message="required">This field cannot be empty.</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										b) High/Low BP (Blood Pressure) or Raised Cholesterol
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
											<input type="radio" name="Quest9B" id="Quest9BYes" value="Y" ng-model="health.healthMainBean.Quest9B.ANSFLAG" ng-change="health.onChange9B(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9BYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
											<input type="radio" name="Quest9B" id="Quest9BNo" value="N" ng-model="health.healthMainBean.Quest9B.ANSFLAG" ng-change="health.onChange9B(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9BNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9B.$error" class="error-messages" ng-show="healthInsForm.Quest9B.$invalid && (!healthInsForm.Quest9B.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>

									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest9B.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<label class="form-label">Please select :</label>
													<div class="custom-drp">
														<select class="form-control" name="Quest9BSub1" ng-model="health.healthMainBean.Quest9B.SUB1.ANS" ng-options="option.DISPLAY for option in health.Quest9BList1 track by option.VALUE" ng-change="health.onChangeQuest9BSub1()" select-required="health.healthMainBean.Quest9B.ANSFLAG == 'Y'">
														</select>
													</div>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9BSub1.$error" class="error-messages" ng-show="healthInsForm.Quest9BSub1.$invalid && (!healthInsForm.Quest9BSub1.$pristine || health.click)">
													<div ng-message="selectRequired">Please select an option.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9B.SUB1.ANS.VALUE == 'Low BP'">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9BSub2"  ng-model="health.healthSubBean.subQuest12.ANS" ng-required="health.healthMainBean.Quest9B.SUB1.ANS.VALUE == 'Low BP'" ng-maxlength="250" ng-pattern="health.freeTxtRegex" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9BSub2.$error" class="error-messages" ng-show="healthInsForm.Quest9BSub2.$invalid && (!healthInsForm.Quest9BSub2.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
													<div ng-message="pattern">Enter valid details excluding special characters</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9B.SUB1.ANS.VALUE == 'Raised Cholesterol'">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9BSub3"  ng-model="health.healthSubBean.subQuest3.ANS" ng-required="health.healthMainBean.Quest9B.SUB1.ANS.VALUE == 'Raised Cholesterol'" ng-maxlength="250" ng-pattern="health.freeTxtRegex" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9BSub3.$error" class="error-messages" ng-show="healthInsForm.Quest9BSub3.$invalid && (!healthInsForm.Quest9BSub3.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
													<div ng-message="pattern">Enter valid details excluding special characters</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										c) Chest Pain, Palpitation, Rheumatic Fever, Heart Murmur, Heart Attack, Shortness of Breath or any other Heart related disorder/disease
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
											<input type="radio" name="Quest9C" id="Quest9CYes" value="Y" ng-model="health.healthMainBean.Quest9C.ANSFLAG" ng-change="health.onChangeQuest9C()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9CYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
											<input type="radio" name="Quest9C" id="Quest9CNo" value="N" ng-model="health.healthMainBean.Quest9C.ANSFLAG" ng-change="health.onChangeQuest9C()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9CNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9C.$error" class="error-messages" ng-show="healthInsForm.Quest9C.$invalid && (!healthInsForm.Quest9C.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										d) Disorders of Eye, Ear, Nose, Throat including defective sight, speech or hearing and discharge from ears
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="Quest9D" id="Quest9DYes" value="Y" ng-model="health.healthMainBean.Quest9D.ANSFLAG" ng-change="health.onChange9D(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9DYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="Quest9D" id="Quest9DNo" value="N" ng-model="health.healthMainBean.Quest9D.ANSFLAG" ng-change="health.onChange9D(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9DNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9D.$error" class="error-messages" ng-show="healthInsForm.Quest9D.$invalid && (!healthInsForm.Quest9D.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>
									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest9D.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9DSub1"  ng-model="health.healthSubBean.subQuest13.ANS" ng-required="health.healthMainBean.Quest9D.ANSFLAG == 'Y'" ng-maxlength="250" ng-pattern="health.freeTxtRegex" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9DSub1.$error" class="error-messages" ng-show="healthInsForm.Quest9DSub1.$invalid && (!healthInsForm.Quest9DSub1.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
													<div ng-message="pattern">Enter valid details excluding special characters</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										e) Symptoms/ailment relating to brain Depression, Brain Disorder/disease, Mental/Psychiatric ailment, Parkinson's disease, Multiple Sclerrosis, Nervous disorder, Stroke, Paralysis or Paraplegia, Epilepsy
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="Quest9E" id="Quest9EYes" value="Y" ng-model="health.healthMainBean.Quest9E.ANSFLAG" ng-change="health.onChange9E(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9EYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="Quest9E" id="Quest9ENo" value="N" ng-model="health.healthMainBean.Quest9E.ANSFLAG" ng-change="health.onChange9E(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9ENo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9E.$error" class="error-messages" ng-show="healthInsForm.Quest9E.$invalid && (!healthInsForm.Quest9E.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>
									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest9E.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<label class="form-label">Please select :</label>
													<div class="custom-drp">
														<select class="form-control" name="Quest9ESub1" ng-model="health.healthMainBean.Quest9E.SUB1.ANS" ng-options="option.DISPLAY for option in health.Quest9EList1 track by option.VALUE" ng-change="health.onChangeQuest9ESub1()" select-required="health.healthMainBean.Quest9E.ANSFLAG == 'Y'">
														</select>
													</div>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9ESub1.$error" class="error-messages" ng-show="healthInsForm.Quest9ESub1.$invalid && (!healthInsForm.Quest9ESub1.$pristine || health.click)">
													<div ng-message="selectRequired">Please select an option.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9E.SUB1.ANS.VALUE == 'Nervous disorder'">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9ESub2"  ng-model="health.healthSubBean.subQuest4.ANS" ng-pattern="health.freeTxtRegex" ng-required="health.healthMainBean.Quest9E.SUB1.ANS.VALUE == 'Nervous disorder'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9ESub2.$error" class="error-messages" ng-show="healthInsForm.Quest9ESub2.$invalid && (!healthInsForm.Quest9ESub2.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
													<div ng-message="pattern">Enter valid details excluding special characters</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9E.SUB1.ANS.VALUE == 'Any Other disorder'">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9ESub3"  ng-model="health.healthSubBean.subQuest5.ANS" ng-pattern="health.freeTxtRegex" ng-required="health.healthMainBean.Quest9E.SUB1.ANS.VALUE == 'Any Other disorder'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9ESub3.$error" class="error-messages" ng-show="healthInsForm.Quest9ESub3.$invalid && (!healthInsForm.Quest9ESub3.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
													<div ng-message="pattern">Enter valid details excluding special characters</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9E.SUB1.ANS.VALUE == 'None'">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9ESub4"  ng-model="health.healthSubBean.subQuest14.ANS" ng-required="health.healthMainBean.Quest9E.SUB1.ANS.VALUE == 'None'" ng-pattern="health.freeTxtRegex" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9ESub4.$error" class="error-messages" ng-show="healthInsForm.Quest9ESub4.$invalid && (!healthInsForm.Quest9ESub4.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
                                        <div ng-message="pattern">Enter valid details excluding special characters</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										f) Asthma, Bronchitis, Blood Spitting, Tuberculosis or other Respiratory disorders
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="Quest9F" id="Quest9FYes" value="Y" ng-model="health.healthMainBean.Quest9F.ANSFLAG" ng-change="health.onChange9F(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9FYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="Quest9F" id="Quest9FNo" value="N" ng-model="health.healthMainBean.Quest9F.ANSFLAG" ng-change="health.onChange9F(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9FNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9F.$error" class="error-messages" ng-show="healthInsForm.Quest9F.$invalid && (!healthInsForm.Quest9F.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>
									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest9F.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<div class="form-group custom-form">
													<label class="form-label">Please select :</label>
													<div class="custom-drp">
														<select class="form-control" name="Quest9FSub1" ng-model="health.healthMainBean.Quest9F.SUB1.ANS" ng-options="option.DISPLAY for option in health.Quest9FList1 track by option.VALUE" ng-change="health.onChangeQuest9FSub1()" select-required="health.healthMainBean.Quest9F.ANSFLAG == 'Y'">
														</select>
													</div>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9FSub1.$error" class="error-messages" ng-show="healthInsForm.Quest9FSub1.$invalid && (!healthInsForm.Quest9FSub1.$pristine || health.click)">
													<div ng-message="selectRequired">Please select an option.</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										g) Anaemia or any other Blood related disorders
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="Quest9G" id="Quest9GYes" value="Y" ng-model="health.healthMainBean.Quest9G.ANSFLAG" ng-change="health.onChange9G(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9GYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="Quest9G" id="Quest9GNo" value="N" ng-model="health.healthMainBean.Quest9G.ANSFLAG" ng-change="health.onChange9G(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9GNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9G.$error" class="error-messages" ng-show="healthInsForm.Quest9G.$invalid && (!healthInsForm.Quest9G.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>
									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest9G.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<div class="form-group custom-form">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9GSub1"  ng-model="health.healthSubBean.subQuest15.ANS" ng-required="health.healthMainBean.Quest9G.ANSFLAG == 'Y'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9GSub1.$error" class="error-messages" ng-show="healthInsForm.Quest9GSub1.$invalid && (!healthInsForm.Quest9GSub1.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										h) Musculoskeletal disorder such as Arthritis, Recurrent Back Pain, Slipped disc or any other disorder of Spine, Joints/Limbs or Leprosy
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="Quest9H" id="Quest9HYes" value="Y" ng-model="health.healthMainBean.Quest9H.ANSFLAG" ng-change="health.onChange9H(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9HYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="Quest9H" id="Quest9HNo" value="N" ng-model="health.healthMainBean.Quest9H.ANSFLAG" ng-change="health.onChange9H(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9HNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9H.$error" class="error-messages" ng-show="healthInsForm.Quest9H.$invalid && (!healthInsForm.Quest9H.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>
									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest9H.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<label class="form-label">Please select :</label>
													<div class="custom-drp">
														<select class="form-control" name="Quest9HSub1" ng-model="health.healthMainBean.Quest9H.SUB1.ANS" ng-options="option.DISPLAY for option in health.Quest9HList1 track by option.VALUE" ng-change="health.onChangeQuest9HSub1()" select-required="health.healthMainBean.Quest9H.ANSFLAG == 'Y'">
														</select>
													</div>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9HSub1.$error" class="error-messages" ng-show="healthInsForm.Quest9HSub1.$invalid && (!healthInsForm.Quest9HSub1.$pristine || health.click)">
													<div ng-message="selectRequired">Please select an option.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9H.SUB1.ANS.VALUE == 'Leprosy'">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9HSub2"  ng-model="health.healthSubBean.subQuest6.ANS" ng-required="health.healthMainBean.Quest9H.SUB1.ANS.VALUE == 'Leprosy'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9HSub2.$error" class="error-messages" ng-show="healthInsForm.Quest9HSub2.$invalid && (!healthInsForm.Quest9HSub2.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9H.SUB1.ANS.VALUE == 'None'">
													<div class="form-label">Please provide details :</div>
													<input type="text" class="form-control" name="Quest9HSub3"  ng-model="health.healthSubBean.subQuest16.ANS" ng-required="health.healthMainBean.Quest9H.SUB1.ANS.VALUE == 'None'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9HSub3.$error" class="error-messages" ng-show="healthInsForm.Quest9HSub3.$invalid && (!healthInsForm.Quest9HSub3.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										i) Were you or your spouse ever tested for hepatitis B or C. HIV/AIDS or any other Sexually Transmitted Disease?
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="Quest9I" id="Quest9IYes" value="Y" ng-model="health.healthMainBean.Quest9I.ANSFLAG" ng-change="health.onChange9I(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9IYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="Quest9I" id="Quest9INo" value="N" ng-model="health.healthMainBean.Quest9I.ANSFLAG" ng-change="health.onChange9I(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9INo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9I.$error" class="error-messages" ng-show="healthInsForm.Quest9I.$invalid && (!healthInsForm.Quest9I.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>
									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest9I.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<label class="form-label">Please select :</label>
													<div class="custom-drp">
														<select class="form-control" name="Quest9ISub1" ng-model="health.healthMainBean.Quest9I.SUB1.ANS" ng-options="option.DISPLAY for option in health.Quest9IList1 track by option.VALUE" ng-change="health.onChangeQuest9ISub1()" select-required="health.healthMainBean.Quest9I.ANSFLAG == 'Y'">
														</select>
													</div>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9ISub1.$error" class="error-messages" ng-show="healthInsForm.Quest9ISub1.$invalid && (!healthInsForm.Quest9ISub1.$pristine || health.click)">
													<div ng-message="selectRequired">Please select an option.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9I.SUB1.ANS.VALUE == 'HIV/AIDS or other sexually transmitted disease'">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9ISub2"  ng-model="health.healthSubBean.subQuest7.ANS" ng-required="health.healthMainBean.Quest9I.SUB1.ANS.VALUE == 'HIV/AIDS or other sexually transmitted disease'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9ISub2.$error" class="error-messages" ng-show="healthInsForm.Quest9ISub2.$invalid && (!healthInsForm.Quest9ISub2.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										j) Hydrocele, fistula, piles or symptoms/ailment relating to Kidney, Prostate, Urinary
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="Quest9J" id="Quest9JYes" value="Y" ng-model="health.healthMainBean.Quest9J.ANSFLAG" ng-change="health.onChange9J(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9JYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="Quest9J" id="Quest9JNo" value="N" ng-model="health.healthMainBean.Quest9J.ANSFLAG" ng-change="health.onChange9J(healthInsForm)" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9JNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9J.$error" class="error-messages" ng-show="healthInsForm.Quest9J.$invalid && (!healthInsForm.Quest9J.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>
									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest9J.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<label class="form-label">Please select :</label>
													<div class="custom-drp">
														<select class="form-control" name="Quest9JSub1" ng-model="health.healthMainBean.Quest9J.SUB1.ANS" ng-options="option.DISPLAY for option in health.Quest9JList1 track by option.VALUE" ng-change="health.onChangeQuest9JSub1()" select-required="health.healthMainBean.Quest9J.ANSFLAG == 'Y'">
														</select>
													</div>
													<div class="clearfix"></div>
												</div>
										<!--<span class="error-messages" ng-show="healthInsForm.Quest9JSub1.$error.required">Please select an option.</span>-->
												<div ng-messages="healthInsForm.Quest9JSub1.$error" class="error-messages" ng-show="healthInsForm.Quest9JSub1.$invalid && (!healthInsForm.Quest9JSub1.$pristine || health.click)">
													<div ng-message="selectRequired">Please select an option.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9J.SUB1.ANS.VALUE == 'Hydrocele/fistula/Piles'">
													<label class="question-lbl grey-lbl">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9JSub2"  ng-model="health.healthSubBean.subQuest8.ANS" ng-required="health.healthMainBean.Quest9J.SUB1.ANS.VALUE == 'Hydrocele/fistula/Piles'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9JSub2.$error" class="error-messages" ng-show="healthInsForm.Quest9JSub2.$invalid && (!healthInsForm.Quest9JSub2.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form" ng-show="health.healthMainBean.Quest9J.SUB1.ANS.VALUE == 'Prosate, Urinary System or Reproductive System'">
													<label class="form-label">Please provide details :</label>
													<input type="text" class="form-control" name="Quest9JSub3"  ng-model="health.healthSubBean.subQuest17.ANS" ng-required="health.healthMainBean.Quest9J.SUB1.ANS.VALUE == 'Prosate, Urinary System or Reproductive System'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9JSub3.$error" class="error-messages" ng-show="healthInsForm.Quest9JSub3.$invalid && (!healthInsForm.Quest9JSub3.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										k) Gastritis, Stomach or Duodenal Ulcer, Hernia, jaundice or any other disease or disorders of the liver and Gastrointestinal System
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
											<input type="radio" name="Quest9K" id="Quest9KYes" value="Y" ng-model="health.healthMainBean.Quest9K.ANSFLAG" ng-change="health.onChangeQuest9K()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9KYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
											<input type="radio" name="Quest9K" id="Quest9KNo" value="N" ng-model="health.healthMainBean.Quest9K.ANSFLAG" ng-change="health.onChangeQuest9K()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9KNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9K.$error" class="error-messages" ng-show="healthInsForm.Quest9K.$invalid && (!healthInsForm.Quest9K.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										l) Thyroid disorder or any other disease or disorder of the Endocrine System
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
											<input type="radio" name="QuestL" id="Quest9LYes" value="Y" ng-model="health.healthMainBean.Quest9L.ANSFLAG" ng-change="health.onChangeQuest9L()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9LYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
											<input type="radio" name="Quest9L" id="Quest9LNo" value="N" ng-model="health.healthMainBean.Quest9L.ANSFLAG" ng-change="health.onChangeQuest9L()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9LNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9L.$error" class="error-messages" ng-show="healthInsForm.Quest9L.$invalid && (!healthInsForm.Quest9L.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>

									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest9L.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<div class="form-label">Please provide details :</div>
													<input type="text" class="form-control" name="Quest9LSub1"  ng-model="health.healthSubBean.subQuest18.ANS" ng-required="health.healthMainBean.Quest9L.ANSFLAG == 'Y'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9LSub1.$error" class="error-messages" ng-show="healthInsForm.Quest9LSub1.$invalid && (!healthInsForm.Quest9LSub1.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										m) Any other illness or impairment not mentioned above
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
											<input type="radio" name="QuestM" id="Quest9MYes" value="Y" ng-model="health.healthMainBean.Quest9M.ANSFLAG" ng-change="health.onChangeQuest9M()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9MYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
											<input type="radio" name="Quest9M" id="Quest9MNo" value="N" ng-model="health.healthMainBean.Quest9M.ANSFLAG" ng-change="health.onChangeQuest9M()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
											<label for="Quest9MNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest9M.$error" class="error-messages" ng-show="healthInsForm.Quest9M.$invalid && (!healthInsForm.Quest9M.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>

									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest9M.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<div class="form-label">Please provide details :</div>
													<input type="text" class="form-control" name="Quest9MSub1"  ng-model="health.healthSubBean.subQuest19.ANS" ng-required="health.healthMainBean.Quest9M.ANSFLAG == 'Y'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest9MSub1.$error" class="error-messages" ng-show="healthInsForm.Quest9MSub1.$invalid && (!healthInsForm.Quest9MSub1.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Ten Question -->
							<div class="question-wrap orange-border">
								<div class="question-text">
									10. Have you undergone/have been recommended to under go any of the following - Angioplasty, Bypass Surgery, Brain Surgery, Heart Valve Surgery, Aorta Surgery or Organ Transplant or any treatment for Cancerous growth of any kind ?
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="Quest10" id="Quest10Yes" value="Y" ng-model="health.healthMainBean.Quest10.ANSFLAG" ng-change="health.onChangeQuest10()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest10Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="Quest10" id="Quest10No" value="N" ng-model="health.healthMainBean.Quest10.ANSFLAG" ng-change="health.onChangeQuest10()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest10No"></label>
									</div>
								</div>
								<div ng-messages="healthInsForm.Quest10.$error" class="error-messages" ng-show="healthInsForm.Quest10.$invalid && (!healthInsForm.Quest10.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>

								<!--Sub Questions-->
								<div class="sub-question-wrap" ng-show="health.healthMainBean.Quest10.ANSFLAG == 'Y'">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
											<div class="form-group custom-form">
												<label class="form-label">Please provide details :</label>
												<input type="text" class="form-control" name="Quest10Sub1"  ng-model="health.healthSubBean.subQuest20.ANS" ng-required="health.healthMainBean.Quest10.ANSFLAG == 'Y'" ng-maxlength="250" required block-hash/>
												<div class="clearfix"></div>
											</div>
											<div ng-messages="healthInsForm.Quest10Sub1.$error" class="error-messages" ng-show="healthInsForm.Quest10Sub1.$invalid && (!healthInsForm.Quest10Sub1.$pristine || health.click)">
												<div ng-message="required">This field cannot be empty.</div>
												<div ng-message="blockHash">Please do not use '#' or '|'</div>
												<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Eleven Answer -->
							<div class="question-wrap orange-border">
								<div class="question-text">
									11. Have you ever been absent from work for more than a week in last 2 years due to any illness ?
									<span class="compulsory-mark">
										<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									</span>
								</div>
								<!-- Answer Buttons -->
								<div class="answer-buttons-wrap">
									<div class="tick-radio-btn-wrap answer-yes">
										<input type="radio" name="Quest11" id="Quest11Yes" value="Y" ng-model="health.healthMainBean.Quest11.ANSFLAG" ng-change="health.onChangeQuest11()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest11Yes"></label>
									</div>
									<div class="tick-radio-btn-wrap answer-no">
										<input type="radio" name="Quest11" id="Quest11No" value="N" ng-model="health.healthMainBean.Quest11.ANSFLAG" ng-change="health.onChangeQuest11()" ng-required="(health.planCode=='222' && health.SA > 2000000) || health.planCode!='222'"/>
										<label for="Quest11No"></label>
									</div>
								</div>
								<div ng-messages="healthInsForm.Quest11.$error" class="error-messages" ng-show="healthInsForm.Quest11.$invalid && (!healthInsForm.Quest11.$pristine || health.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
								<!--Sub Questions-->
								<div class="sub-question-wrap" ng-show="health.healthMainBean.Quest11.ANSFLAG == 'Y'">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
											<div class="form-group custom-form">
												<div class="form-label">Please provide details :</div>
												<input type="text" class="form-control" name="Quest11Sub1"  ng-model="health.healthSubBean.subQuest21.ANS" ng-required="health.healthMainBean.Quest11.ANSFLAG == 'Y'" ng-maxlength="250" required block-hash/>
												<div class="clearfix"></div>
											</div>
											<div ng-messages="healthInsForm.Quest11Sub1.$error" class="error-messages" ng-show="healthInsForm.Quest11Sub1.$invalid && (!healthInsForm.Quest11Sub1.$pristine || health.click)">
												<div ng-message="required">This field cannot be empty.</div>
												<div ng-message="blockHash">Please do not use '#' or '|'</div>
												<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Tweleve Question -->
							<div class="question-wrap orange-border" ng-show="health.Gender == 'F'">
								<div class="question-text">
									12. Female Life Questionnaire :
								</div>
								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion">
									<div class="question-text">
										a) Are you now Pregnant?
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
											<input type="radio" name="Quest12A" id="Quest12AYes" value="Y" ng-model="health.healthMainBean.Quest12A.ANSFLAG" ng-required="health.Gender == 'F' && ((health.planCode=='222' && health.SA > 2000000) || health.planCode!='222')" ng-change="health.onChangeQuest12A()" required/>
											<label for="Quest12AYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
											<input type="radio" name="Quest12A" id="Quest12ANo" value="N" ng-model="health.healthMainBean.Quest12A.ANSFLAG" ng-required="health.Gender == 'F' && ((health.planCode=='222' && health.SA > 2000000) || health.planCode!='222')" ng-change="health.onChangeQuest12A()" required/>
											<label for="Quest12ANo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest12A.$error" class="error-messages" ng-show="healthInsForm.Quest12A.$invalid && (!healthInsForm.Quest12A.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>

									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest12A.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<div class="form-label">Please mention expected delivey date :</div>
													<input type="date" class="form-control" name="Quest12ASub1"  ng-model="health.healthMainBean.Quest12A.SUB1.ANS" ng-required="health.healthMainBean.Quest12A.ANSFLAG == 'Y'" required/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest12ASub1.$error" class="error-messages" ng-show="healthInsForm.Quest12ASub1.$invalid && (!healthInsForm.Quest12ASub1.$pristine || health.click)">
													<div ng-message="required">Please select an option.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion" ng-show="health.Gender == 'F'">
									<div class="question-text">
										b) Have you undergone any gynaecological investigations for illness, internal checkups, breast checks such as mammogram or biopsy?
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
											<input type="radio" name="Quest12B" id="Quest12BYes" value="Y" ng-model="health.healthMainBean.Quest12B.ANSFLAG" ng-change="health.onChangeQuest12B()" ng-required="health.Gender == 'F' && ((health.planCode=='222' && health.SA > 2000000) || health.planCode!='222')" required/>
											<label for="Quest12BYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
											<input type="radio" name="Quest12B" id="Quest12BNo" value="N" ng-model="health.healthMainBean.Quest12B.ANSFLAG" ng-change="health.onChangeQuest12B()" ng-required="health.Gender == 'F' && ((health.planCode=='222' && health.SA > 2000000) || health.planCode!='222')" required/>
											<label for="Quest12BNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest12B.$error" class="error-messages" ng-show="healthInsForm.Quest12B.$invalid && (!healthInsForm.Quest12B.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>

									<!--Sub Questions-->
									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest12B.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<label class="form-label">Please provide details</label>
													<input type="text" class="form-control" name="Quest12BSub1"  ng-model="health.healthSubBean.subQuest22.ANS" ng-required="health.healthMainBean.Quest12B.ANSFLAG == 'Y'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest12BSub1.$error" class="error-messages" ng-show="healthInsForm.Quest12BSub1.$invalid && (!healthInsForm.Quest12BSub1.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion" ng-show="health.Gender == 'F'">
									<div class="question-text">
										c) Have you ever consulted a doctor because of an irregularity at the breast, vagina, uterus, ovary, fallopian tubes, menstruation, complications during pregnancy or child delivery or a sexually transmitted disease?
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
											<input type="radio" name="Quest12C" id="Quest12CYes" value="Y" ng-model="health.healthMainBean.Quest12C.ANSFLAG" ng-change="health.onChangeQuest12C()" ng-required="health.Gender == 'F' && ((health.planCode=='222' && health.SA > 2000000) || health.planCode!='222')" required/>
											<label for="Quest12CYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
											<input type="radio" name="Quest12C" id="Quest12CNo" value="N" ng-model="health.healthMainBean.Quest12C.ANSFLAG" ng-change="health.onChangeQuest12C()" ng-required="health.Gender == 'F' && ((health.planCode=='222' && health.SA > 2000000) || health.planCode!='222')" required/>
											<label for="Quest12CNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest12C.$error" class="error-messages" ng-show="healthInsForm.Quest12C.$invalid && (!healthInsForm.Quest12C.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>
									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest12C.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<div class="form-label">Please provide details</div>
													<input type="text" class="form-control" name="Quest12CSub1"  ng-model="health.healthSubBean.subQuest23.ANS" ng-required="health.healthMainBean.Quest12C.ANSFLAG == 'Y'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest12CSub1.$error" class="error-messages" ng-show="healthInsForm.Quest12CSub1.$invalid && (!healthInsForm.Quest12CSub1.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--Sub Questions-->
								<div class="sub-question-wrap multiple-subquestion" ng-show="health.Gender == 'F'">
									<div class="question-text">
										d) Have you suffered from any other disorder of the breast or reproductive organs, abnormal smear test(s) and irregular menses?
										<span class="compulsory-mark">
											<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
										</span>
									</div>
									<!-- Answer Buttons -->
									<div class="answer-buttons-wrap">
										<div class="tick-radio-btn-wrap answer-yes">
											<input type="radio" name="Quest12D" id="Quest12DYes" value="Y" ng-model="health.healthMainBean.Quest12D.ANSFLAG" ng-change="health.onChangeQuest12D()" ng-required="health.Gender == 'F' && ((health.planCode=='222' && health.SA > 2000000) || health.planCode!='222')" required/>
											<label for="Quest12DYes"></label>
										</div>
										<div class="tick-radio-btn-wrap answer-no">
											<input type="radio" name="Quest12D" id="Quest12DNo" value="N" ng-model="health.healthMainBean.Quest12D.ANSFLAG" ng-change="health.onChangeQuest12D()" ng-required="health.Gender == 'F' && ((health.planCode=='222' && health.SA > 2000000) || health.planCode!='222')" required/>
											<label for="Quest12DNo"></label>
										</div>
									</div>
									<div ng-messages="healthInsForm.Quest12D.$error" class="error-messages" ng-show="healthInsForm.Quest12D.$invalid && (!healthInsForm.Quest12D.$pristine || health.click)">
										<div ng-message="required">Please select an option.</div>
									</div>

									<div class="inner-subanswer-wrap" ng-show="health.healthMainBean.Quest12D.ANSFLAG == 'Y'">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-md-6">
												<div class="form-group custom-form">
													<div class="form-label">Please provide details</div>
													<input type="text" class="form-control" name="Quest12DSub1"  ng-model="health.healthSubBean.subQuest24.ANS" ng-required="health.healthMainBean.Quest12D.ANSFLAG == 'Y'" ng-maxlength="250" required block-hash/>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="healthInsForm.Quest12DSub1.$error" class="error-messages" ng-show="healthInsForm.Quest12DSub1.$invalid && (!healthInsForm.Quest12DSub1.$pristine || health.click)">
													<div ng-message="required">This field cannot be empty.</div>
													<div ng-message="blockHash">Please do not use '#' or '|'</div>
													<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Multiple Control -->
							<!--  <div class="question-wrap orange-border">
								  <div class="question-text">
									  Did you ever have any aligment/injury requiring treatment/medication for more than a week?
									  <span class="compulsory-mark">
										  <sup><i class="fa fa-star" aria-hidden="true"></i></sup>
									  </span>
								  </div>
								  <div class="question-text sub-question">
									  a) Diabetes, High blood sugar or Sugar in Urine
									  <div class="sub-questions-radio">
										  <div class="normalradio-wrap">
											  <input type="radio" id="questionAnsOne" name="questionAnsNameOne" checked/>
											  <label for="questionAnsOne">Hobbies</label>
										  </div>
										  <div class="normalradio-wrap">
											  <input type="radio" id="questionAnsTwo" name="questionAnsNameOne" />
											  <label for="questionAnsTwo">Occupation</label>
										  </div>
										  <div class="clearfix"></div>
									  </div>
								  </div>
								  <div class="question-text sub-question">
									  b) High/Low BP(Blood Presssure) or Choleterol
									  <div class="sub-questions-radio">
										  <div class="normalradio-wrap">
											  <input type="radio" id="questionAnsYes" name="questionAnsNameTwo" checked/>
											  <label for="questionAnsYes">Yes</label>
										  </div>
										  <div class="normalradio-wrap">
											  <input type="radio" id="questionAnsNo" name="questionAnsNameTwo" />
											  <label for="questionAnsNo">No</label>
										  </div>
										  <div class="clearfix"></div>
									  </div>
								  </div>
								  <div class="question-text red-text">
									  <div class="question-lbl">A. Please Select:</div>
									  <div class="normalradio-wrap">
										  <input type="radio" id="questionAnsHigh" name="questionAnsNameThree" checked/>
										  <label for="questionAnsHigh">High BP</label>
									  </div>
									  <div class="normalradio-wrap">
										  <input type="radio" id="questionAnsLow" name="questionAnsNameThree" />
										  <label for="questionAnsLow">Low BP</label>
									  </div>
									  <div class="normalradio-wrap">
										  <input type="radio" id="questionAnsCholesterol" name="questionAnsNameThree" />
										  <label for="questionAnsCholesterol">Raised Cholesterol</label>
									  </div>
								  </div>
							  </div>-->
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
						<div class="custom-btn form-btn-wrap"><!--ng-disabled="personalForm.$invalid"-->
							<button class="btn btn-default btn-block" ng-click="health.onNext(healthInsForm)">Next</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>
</ion-content>
