<ion-pane class="sis-height">
    
    <ion-header-bar class="fixed-bar">
        <!-- Header -->
        <div class="sis-header-wrap">
            <sis-header></sis-header>
        </div>
        
        <!-- Timeline -->
        <div class="SIStimeline-wrapper">
            <sis-timeline></sis-timeline>
        </div>
    </ion-header-bar>
    
    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap sis_ekyc">
            <div class="form_wrap">
                <form name="sc.sfePage3Form" id="sc.sfePage3Form" ng-submit="sc.onNext(sc.sfePage3Form.$pristine)" novalidate>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                
                                <!--Plan Name-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group custom-form">
                                        <label class="form-label">Plan Name <span class="requiredStar">*</span></label>
                                        <input type="text" class="form-control custom-form" placeholder="Plan Name" ng-model="sc.sfePage3Data.PLAN_NAME" readonly/>
                                    </div>
                                </div>
                                
                                <!--Sum Assured-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group custom-form">
                                        <label class="form-label">Sum Assured <span class="requiredStar">*</span></label>
                                        <input type="number" class="form-control custom-form" placeholder="Sum Assured" name="sumAssured" ng-change="sc.onSumAssuredChange(true)" ng-model="sc.sfePage3Data.SUM_ASSURED" validate-sum-assured-ta required/>
                                    </div>
                                    <div ng-messages="sc.sfePage3Form.sumAssured.$error" class="error-messages" ng-show="sc.sfePage3Form.sumAssured.$invalid && !sc.sfePage3Form.sumAssured.$pristine">
                                        <div ng-message="required">Sum assured cannot be empty.</div>
                                        <div ng-message="minVal">Minimum sum assured allowed is Rs. {{sc.minSumAssured | number}}.</div>
                                        <div ng-message="maxVal">Maximum sum assured allowed is Rs. {{sc.maxSumAssured | number}}.</div>
                                        <div ng-message="multipleOf">Sum assured should be a multiple of {{sc.sumAssuredMultipleOf | number}}.</div>
                                        <div ng-message="stdAgeProofCheck">Standard age proof is required if sum assured is greater than Rs. {{1000000 | number}}.</div>
                                    </div>
                                </div>
                                
                                <!--Premium Paying Term-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group custom-form custom-drp">
                                        <label class="form-label">Premium Paying Term <span class="requiredStar">*</span></label>
                                        <select class="form-control" name="ppt" ng-options="option.PPT_DISPLAY for option in sc.pptList" ng-model="sc.pptSelected" ng-change="sc.onPPTChange()" validate-ppt-ta="sc.sfePage3Data.POLICY_TERM"></select>
                                    </div>
                                    <div ng-messages="sc.sfePage3Form.ppt.$error" class="error-messages" ng-show="sc.sfePage3Form.ppt.$invalid && !sc.sfePage3Form.ppt.$pristine">
                                        <div ng-message="selectRequired">Please select an option.</div>
                                        <div ng-message="greaterThanPT">Premium paying term cannot be greater than policy term.</div>
                                    </div>
                                </div>
                                
                                <!--Annual Premium-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group custom-form">
                                        <label class="form-label">Annual Premium <span class="requiredStar">*</span></label>
                                        <input type="number" class="form-control custom-form" placeholder="Annual Premium" name="annualPremium" ng-change="sc.onAnnualPremiumChange()" ng-model="sc.sfePage3Data.INPUT_ANNUAL_PREMIUM" readonly validate-annual-premium-ta="!(sc.premiumDisable == 'ANNUAL')" required/>
                                    </div>
                                    <div ng-messages="sc.sfePage3Form.annualPremium.$error" class="error-messages" ng-show="sc.sfePage3Form.annualPremium.$invalid && (!sc.sfePage3Form.sumAssured.$pristine || !sc.sfePage3Form.annualPremium.$pristine || !sc.sfePage3Form.basePremium.$pristine || !sc.sfePage3Form.ppt.$pristine || !sc.sfePage3Form.option.$pristine)">
                                        <div ng-message="required">Annual Premium cannot be empty.</div>
                                        <div ng-message="minVal">Minimum premium allowed is {{sc.minPremium | number}} rupees.</div>
                                        <div ng-message="maxVal">Maximum premium allowed is {{sc.maxPremium | number}} rupees.</div>
                                        <div ng-message="multipleOf">Annual Premium should be a multiple of {{sc.premMultipleOf}}.</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <!--Option-->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="true">
                                    <div class="form-group custom-form custom-drp">
                                        <label class="form-label">Option <span class="requiredStar">*</span></label>
                                        <select class="form-control" name="option" ng-options="option.OPTION_DISPLAY for option in sc.optionList track by option.OPTION" ng-model="sc.optionSelected" ng-change="sc.onOptionChange()" disabled select-required></select>
                                    </div>
                                    <div ng-messages="sc.sfePage3Form.option.$error" class="error-messages" ng-show="sc.sfePage3Form.option.$invalid && !sc.sfePage3Form.option.$pristine">
                                        <div ng-message="selectRequired">Please select an option.</div>
                                    </div>
                                </div>
                                
                                <!--Premium Payment Mode-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group custom-form custom-drp">
                                        <label class="form-label">Premium Payment Mode <span class="requiredStar">*</span></label>
                                        <select class="form-control" name="ppm" disabled ng-options="option.PPM_DISPLAY for option in sc.ppmList track by option.PPM" ng-model="sc.ppmSelected" ng-change="sc.onPPMChange()" select-required>
                                        </select>
                                    </div>
                                    <div ng-messages="sc.sfePage3Form.ppm.$error" class="error-messages" ng-show="sc.sfePage3Form.ppm.$invalid && !sc.sfePage3Form.ppm.$pristine">
                                        <div ng-message="selectRequired">Please select an option.</div>
                                    </div>
                                </div>
                                
                                <!--Policy Term-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group custom-form">
                                        <label class="form-label">Policy Term <span class="requiredStar">*</span></label>
                                        <input type="number" class="form-control custom-form" name="policyTerm" placeholder="Policy Term" ng-model="sc.sfePage3Data.POLICY_TERM" ng-readonly="sc.policyTermReadOnly" ng-change="sc.onPolicyTermChange()" validate-policy-term-ta="sc.sfePage3Data.PREMIUM_PAY_TERM" required/>
                                    </div>
                                    <div ng-messages="sc.sfePage3Form.policyTerm.$error" class="error-messages" ng-show="sc.sfePage3Form.policyTerm.$invalid && !sc.sfePage3Form.policyTerm.$pristine">
                                        <div ng-message="required">Policy term cannot be empty.</div>
                                        <div ng-message="minTerm">Minimum policy term allowed is {{sc.minPolTerm | number}} years.</div>
                                        <div ng-message="maxTerm">Maximum policy term allowed is {{sc.maxPolTerm | number}} years.</div>
                                        <div ng-message="lessThanPPT">Policy term cannot be less than premium paying term.</div>
                                    </div>
                                </div>
                                
                                <!--Base Premium-->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group custom-form">
                                        <label class="form-label">Base Premium <span class="requiredStar">*</span></label>
                                        <input type="number" class="form-control custom-form" placeholder="Base Premium" ng-change="sc.onBasePremiumChange()" ng-model="sc.sfePage3Data.BASE_PREMIUM" name="basePremium" readonly validate-base-premium-ta="!(sc.premiumDisable == 'BASE')" required/>
                                    </div>
                                    <div ng-messages="sc.sfePage3Form.basePremium.$error" class="error-messages" ng-show="sc.sfePage3Form.basePremium.$invalid && (!sc.sfePage3Form.sumAssured.$pristine || !sc.sfePage3Form.annualPremium.$pristine || !sc.sfePage3Form.basePremium.$pristine)">
                                        <div ng-message="required">Base Premium cannot be empty.</div>
                                        <div ng-message="minVal">Minimum premium allowed is {{sc.minPremium | number}} rupees.</div>
                                        <div ng-message="maxVal">Maximum premium allowed is {{sc.maxPremium | number}} rupees.</div>
                                        <div ng-message="multipleOf">Base Premium should be a multiple of {{sc.premMultipleOf}}.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="custom-btn form-btn-wrap">
                                                <button class="btn btn-default btn-block" type="button" ng-click="sc.onBack()">Back</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="custom-btn form-btn-wrap">
                                                <button class="btn btn-default btn-block" type="submit" ng-disabled="sc.sfePage3Form.$invalid">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-pane>
