<ion-pane>
	
		<fhr-header></fhr-header>
		<div class="clearfix"></div>
		<div class="FHR-outerwrap FHR-outputdetails">
			<fhr-left-personal-details></fhr-left-personal-details>
			<!-- Other -->
			<div class="other-titlewrap">
				<div class="other-innertitlewrap">
					<div class="innercontent-wrap other-tab">
						<a href="javascript:void(0);" ng-click="goalsout.redirObj.gotoOthersTab();"><span class="fhr-tab-title tab-other-tilte">Other</span></a>
					</div>
				</div>
			</div>
			<!-- Goals -->
			<div class="goals-titlewrap">
				<div class="goals-innertitlewrap">
					<div class="innercontent-wrap goals-tab">
						<a href="javascript:void(0);" ng-click="goalsout.redirObj.gotoGoalsTab();"><span class="fhr-tab-title tab-goals-title">Goals</span></a>
					</div>
				</div>
			</div>
			<!-- Outputs -->
			<div class="innercontent-wrap tab-innercontent-wrap">
				<div class="fhr-container fhr-output">
					<section class="main-tab fhr-output-tab">
						<!-- Output Header -->
						<div class="output-header-wrap">
							<h2>Output</h2>
							<div class="fhr-tab-wrapper">
								<ul class="main-tab-ul">
									<li ng-if="goalsout.outputDetails.CHEDU.length>0" class="" ng-class="{ active: goalsout.activeTab === 'CHEDU' }">
										<a href="javascript:void(0);" ng-click="goalsout.setActiveTab('CHEDU');">Childs Education ({{goalsout.outputDetails.CHEDU.length}})</a>
									</li>
									<li ng-if="goalsout.outputDetails.CHMARR.length>0" class="" ng-class="{ active: goalsout.activeTab === 'CHMARR' }">
										<a href="javascript:void(0);" ng-click="goalsout.setActiveTab('CHMARR');">Childs Marriage ({{goalsout.outputDetails.CHMARR.length}})</a>
									</li>
									<li ng-if="goalsout.outputDetails.CHWEA.length>0" class="" ng-class="{ active: goalsout.activeTab === 'CHWEA' }">
										<a href="javascript:void(0);" ng-click="goalsout.setActiveTab('CHWEA');">Childs Wealth ({{goalsout.outputDetails.CHWEA.length}})</a>
									</li>
									<li ng-if="goalsout.outputDetails.RETIR.length>0" class="" ng-class="{ active: goalsout.activeTab === 'RETIR' }">
										<a href="javascript:void(0);" ng-click="goalsout.setActiveTab('RETIR');">Retirement Fund</a>
									</li>
									<li ng-if="goalsout.outputDetails.PROTE.length>0" class="" ng-class="{ active: goalsout.activeTab === 'PROTE' }">
										<a href="javascript:void(0);" ng-click="goalsout.setActiveTab('PROTE');">Protection</a>
									</li>
									<li ng-if="goalsout.outputDetails.WEAHOMTWO.length>0" class="" ng-class="{ active: goalsout.activeTab === 'WEAHOMTWO' }">
										<a href="javascript:void(0);" ng-click="goalsout.setActiveTab('WEAHOMTWO');">Wealth creation (2nd Home Down Payment)</a>
									</li>
									<li ng-if="goalsout.outputDetails.WEACARBY.length>0" class="" ng-class="{ active: goalsout.activeTab === 'WEACARBY' }">
										<a href="javascript:void(0);" ng-click="goalsout.setActiveTab('WEACARBY');">Wealth creation (Buying New Car)</a>
									</li>
									<li ng-if="goalsout.outputDetails.WEAINTVAC.length>0" class="" ng-class="{ active: goalsout.activeTab === 'WEAINTVAC' }">
										<a href="javascript:void(0);" ng-click="goalsout.setActiveTab('WEAINTVAC');">Wealth creation (International Vacation)</a>
									</li>
									<li ng-if="goalsout.outputDetails.WEAREPAYHL.length>0" class="" ng-class="{ active: goalsout.activeTab === 'WEAREPAYHL' }">
										<a href="javascript:void(0);" ng-click="goalsout.setActiveTab('WEAREPAYHL');">Wealth creation (Repaying Home Loan)</a>
									</li>
									<li ng-if="goalsout.outputDetails.WEANWBUSI.length>0" class="" ng-class="{ active: goalsout.activeTab === 'WEANWBUSI' }">
										<a href="javascript:void(0);" ng-click="goalsout.setActiveTab('WEANWBUSI');">Wealth creation (Starting New Business)</a>
									</li>
									<li ng-if="goalsout.outputDetails.WEAOTHGOAL.length>0" class="" ng-class="{ active: goalsout.activeTab === 'WEAOTHGOAL' }">
										<a href="javascript:void(0);" ng-click="goalsout.setActiveTab('WEAOTHGOAL');">Wealth creation (Other Goal)</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Output Content -->
						<div class="tab-content output-tab-content-scrollarea">
							<!-- Child Education Goal -->
							<div class="tab-pane" ng-if="goalsout.outputDetails.CHEDU.length>0" ng-class="{ active: goalsout.activeTab === 'CHEDU' }">
								<div class="bar-wrapper">
									<ion-content>
										<div class="tab-content-area" ng-repeat="childEduDetail in goalsout.outputDetails.CHEDU">
											
											<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-wrap">
												<div class="row row-wrap">
													<div class="output-lft-clr">
														<div class="fhr-output-lft" style="position:relative">
															<ion-content>
																
																<h4 class="fhr-output-title">Childs Education Goal</h4>
																<div class="output-client-details">
																	<p class="client-name">{{childEduDetail.CLIENT_FIRST_NAME}} {{childEduDetail.CLIENT_LAST_NAME}}</p>
																	<p class="client-date">{{childEduDetail.CLIENT_BIRTH_DATE}}</p>
																	<p><span class="details-icon"><i class="icon icon-icon-education"></i></span><span class="details-title">Education</span></p>
																</div>
																<div class="output-content">
																	<p>Money is required in Age of</p>
																	<span>{{childEduDetail.GOAL_TARGET_AGE}} (years)</span>
																</div>
																<div class="output-content">
																	<p>Current Cost</p>
																	<span>{{childEduDetail.PRESENT_COST | currency:'&#8377;'}}</span>
																</div>
																<div class="output-content">
																	<p>Current Saving</p>
																	<span>{{childEduDetail.PRESENT_SAVINGS | currency:'&#8377;'}}</span>
																</div>
																<div class="output-content">
																	<p>Expected ROI</p>
																	<span>{{childEduDetail.ROI_RATE}}%</span>
																</div>
																<div class="output-content">
																	<p>Rate of Inflation</p>
																	<span>{{childEduDetail.INFLATION_RATE}}%</span>
																</div>
															</ion-content>
														</div>
													</div>
												</div>
											</div>
											<!-- end left part  -->
											<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 output-rt-clr">
												
												
												<h4 class="output-total">Total amount required =  {{childEduDetail.FUTURE_COST | currency:'&#8377;'}}</h4>
												<div class="fhr-output-rt">
													<div class="fhr-output-chart">
														<p class="shrtfall-txt">Shortfall to
														<br> be planned for
														<br><span>{{childEduDetail.GOAL_GAP_AMOUNT | currency:'&#8377;'}}</span>
														</p>
														<div id="chart_container_CHEDU_{{childEduDetail.RELATION_SEQ_NO}}" style="height:400px; width:350px;"></div>
														<p class="provision-txt">Existing
														<br>Provision
														<br><span>{{childEduDetail.FUTURE_SAVINGS_VALUE | currency:'&#8377;'}}</span>
														</p>
													</div>
													<div class="output-mail-button">
														<div class="custom-btn form-btn-wrap fhr-white-btn">
															<button class="btn btn-default btn-block" type="button" ng-click="goalsout.generateFhrOutput();">Mail me analysis report</button>
														</div>
													</div>
												</div>
												
												
											</div>
											<!-- end right part  -->
											
										</div>
									</ion-content>
								</div>
							</div>
							
							<!-- Child Marriage Goal -->
							<div class="tab-pane" ng-if="goalsout.outputDetails.CHMARR.length>0" ng-class="{ active: goalsout.activeTab === 'CHMARR' }">
								<div class="bar-wrapper">
									<ion-content>
										<div class="tab-content-area" ng-repeat="childMarDetail in goalsout.outputDetails.CHMARR">
											<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-wrap">
												<div class="row row-wrap">
													<div class="output-lft-clr">
														<div class="fhr-output-lft" style="position:relative">
															<ion-content>
																
																
																
																
																<h4 class="fhr-output-title">Childs Marriage Goal</h4>
																<div class="output-client-details">
																	<p class="client-name">{{childMarDetail.CLIENT_FIRST_NAME}} {{childMarDetail.CLIENT_LAST_NAME}}</p>
																	<p class="client-date">{{childMarDetail.CLIENT_BIRTH_DATE}}</p>
																	<p><span class="details-icon"><i class="icon icon-icon-marriage"></i></span><span class="details-title">Marriage</span></p>
																</div>
																<div class="output-content">
																	<p>Money is required in Age of</p>
																	<span>{{childMarDetail.GOAL_TARGET_AGE}} (years)</span>
																</div>
																<div class="output-content">
																	<p>Current Cost</p>
																	<span>{{childMarDetail.PRESENT_COST | currency:'&#8377;'}}</span>
																</div>
																<div class="output-content">
																	<p>Current Saving</p>
																	<span>{{childMarDetail.PRESENT_SAVINGS | currency:'&#8377;'}}</span>
																</div>
																<div class="output-content">
																	<p>Expected ROI</p>
																	<span>{{childMarDetail.ROI_RATE}}%</span>
																</div>
																<div class="output-content">
																	<p>Rate of Inflation</p>
																	<span>{{childMarDetail.INFLATION_RATE}}%</span>
																</div>
															</ion-content>
														</div>
													</div>
													
													
													
													
												</div>
											</div>
											<!-- end left part  -->
											<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 output-rt-clr">
												<h4 class="output-total">Total amount required =  {{childMarDetail.FUTURE_COST | currency:'&#8377;'}}</h4>
												<div class="fhr-output-rt">
													<div class="fhr-output-chart">
														<p class="shrtfall-txt">Shortfall to
														<br> be planned for
														<br><span>{{childMarDetail.GOAL_GAP_AMOUNT | currency:'&#8377;'}}</span>
														</p>
														<div id="chart_container_CHMARR_{{childMarDetail.RELATION_SEQ_NO}}" style="height:400px; width:350px;"></div>
														<p class="provision-txt">Existing
														<br>Provision
														<br><span>{{childMarDetail.FUTURE_SAVINGS_VALUE | currency:'&#8377;'}}</span>
														</p>
													</div>
													<div class="output-mail-button">
														<div class="custom-btn form-btn-wrap fhr-white-btn">
															<button class="btn btn-default btn-block" type="button" ng-click="goalsout.generateFhrOutput();">Mail me analysis report</button>
														</div>
													</div>
												</div>
											</div>
											<!-- end right part  -->
										</div>
									</ion-content>
								</div>
							</div>
							
							<!-- Child Wealth Goal -->
							<div class="tab-pane" ng-if="goalsout.outputDetails.CHWEA.length>0" ng-class="{ active: goalsout.activeTab === 'CHWEA' }">
								<div class="bar-wrapper">
									<ion-content>
										<div class="tab-content-area" ng-repeat="childWeaDetail in goalsout.outputDetails.CHWEA">
											<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-wrap">
												<div class="row row-wrap">
													<div class="output-lft-clr">
														<div class="fhr-output-lft" style="position:relative">
															<ion-content>
																
																
																<h4 class="fhr-output-title">Childs Wealth Goal</h4>
																<div class="output-client-details">
																	<p class="client-name">{{childWeaDetail.CLIENT_FIRST_NAME}} {{childWeaDetail.CLIENT_LAST_NAME}}</p>
																	<p class="client-date">{{childWeaDetail.CLIENT_BIRTH_DATE}}</p>
																	<p><span class="details-icon"><i class="icon icon-icon-loan-for-new-business"></i></span><span class="details-title">Business Start Up</span></p>
																</div>
																<div class="output-content">
																	<p>Money is required in Age of</p>
																	<span>{{childWeaDetail.GOAL_TARGET_AGE}} (years)</span>
																</div>
																<div class="output-content">
																	<p>Current Cost</p>
																	<span>{{childWeaDetail.PRESENT_COST | currency:'&#8377;'}}</span>
																</div>
																<div class="output-content">
																	<p>Current Saving</p>
																	<span>{{childWeaDetail.PRESENT_SAVINGS | currency:'&#8377;'}}</span>
																</div>
																<div class="output-content">
																	<p>Expected ROI</p>
																	<span>{{childWeaDetail.ROI_RATE}}%</span>
																</div>
																<div class="output-content">
																	<p>Rate of Inflation</p>
																	<span>{{childWeaDetail.INFLATION_RATE}}%</span>
																</div>
																
																
															</ion-content>
														</div>
													</div>
												</div>
											</div>
											<!-- end left part  -->
											<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 output-rt-clr">
												<h4 class="output-total">Total amount required =  {{childWeaDetail.FUTURE_COST | currency:'&#8377;'}}</h4>
												<div class="fhr-output-rt">
													<div class="fhr-output-chart">
														<p class="shrtfall-txt">Shortfall to
														<br> be planned for
														<br><span>{{childWeaDetail.GOAL_GAP_AMOUNT | currency:'&#8377;'}}</span>
														</p>
														<div id="chart_container_CHWEA_{{childWeaDetail.RELATION_SEQ_NO}}" style="height:400px; width:350px;"></div>
														<p class="provision-txt">Existing
														<br>Provision
														<br><span>{{childWeaDetail.FUTURE_SAVINGS_VALUE | currency:'&#8377;'}}</span>
														</p>
													</div>
													<div class="output-mail-button">
														<div class="custom-btn form-btn-wrap fhr-white-btn">
															<button class="btn btn-default btn-block" type="button" ng-click="goalsout.generateFhrOutput();">Mail me analysis report</button>
														</div>
													</div>
												</div>
											</div>
											<!-- end right part  -->
										</div>
									</ion-content>
								</div>
							</div>
							
							<!-- Retirement Fund -->
							<div class="tab-pane" ng-if="goalsout.outputDetails.RETIR.length>0" ng-class="{ active: goalsout.activeTab === 'RETIR' }">
								<div class="tab-content-area">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-wrap">
										<div class="row row-wrap">
											<div class="output-lft-clr">
												<div class="fhr-output-lft" style="position:relative">
													<ion-content>
														<h4 class="fhr-output-title">Retirement Goal</h4>
														<div class="output-client-details">
															<p class="client-name">{{goalsout.personalDetails.FIRST_NAME}} {{goalsout.personalDetails.MIDDLE_NAME}} {{goalsout.personalDetails.LAST_NAME}}</p>
															<p class="client-date">{{goalsout.personalDetailsBirthDate}}</p>
															<p><span class="details-icon"><i class="icon icon-icon-retirement"></i></span><span class="details-title">Retirement</span></p>
														</div>
														<div class="output-content">
															<p>Retirement Age</p>
															<span>{{goalsout.personalDetails.RETIREMENT_AGE}} (years)</span>
														</div>
														<div class="output-content">
															<p>Retirement Income Needed upto</p>
															<span>{{goalsout.outputDetails.RETIR[0].GOAL_TARGET_AGE}} (years)</span>
														</div>
														<div class="output-content">
															<p>Income Needed as on Today</p>
															<span>{{goalsout.outputDetails.RETIR[0].PRESENT_COST | currency:'&#8377;'}}</span>
														</div>
														<div class="output-content">
															<p>Rate of Inflation</p>
															<span>{{goalsout.outputDetails.RETIR[0].INFLATION_RATE}}%</span>
														</div>
														<div class="output-content">
															<p>Single corpus(Amount already saved)</p>
															<span>{{goalsout.outputDetails.RETIR[0].PRESENT_SAVINGS | currency:'&#8377;'}}</span>
														</div>
														<div class="output-content">
															<p>Rate at which Amount will grow</p>
															<span>{{goalsout.outputDetails.RETIR[0].ROI_RATE}}%</span>
														</div>
													</ion-content>
												</div>
											</div>
										</div>
									</div>
									<!-- end left part  -->
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 output-rt-clr">
										<h4 class="output-total">Total amount required =  {{goalsout.outputDetails.RETIR[0].FUTURE_REQIRED_CORPUS | currency:'&#8377;'}}</h4>
										<div class="fhr-output-rt">
											<div class="fhr-output-chart">
												<p class="shrtfall-txt">Shortfall to
												<br> be planned for
												<br><span>{{goalsout.outputDetails.RETIR[0].GOAL_GAP_AMOUNT | currency:'&#8377;'}}</span></p>
												<div id="chart_container_RETIR" style="height:400px; width:350px;"></div>
												<p class="provision-txt">Existing
												<br>Provision
												<br><span>{{goalsout.outputDetails.RETIR[0].FUTURE_SAVINGS_VALUE | currency:'&#8377;'}}</span></p>
											</div>
											<div class="output-mail-button">
												<div class="custom-btn form-btn-wrap fhr-white-btn">
													<button class="btn btn-default btn-block" type="button" ng-click="goalsout.generateFhrOutput();">Mail me analysis report</button>
												</div>
											</div>
										</div>
									</div>
									<!-- end right part  -->
								</div>
							</div>
							
							<!-- Protection -->
							<div class="tab-pane" ng-if="goalsout.outputDetails.PROTE.length>0" ng-class="{ active: goalsout.activeTab === 'PROTE' }">
								<div class="tab-content-area">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-wrap">
										<div class="row row-wrap">
											<div class="output-lft-clr">
												<div class="fhr-output-lft" style="position:relative">
													<ion-content>
														<h4 class="fhr-output-title">Protection Goal</h4>
														<div class="output-client-details">
															<p class="client-name">{{goalsout.personalDetails.FIRST_NAME}} {{goalsout.personalDetails.MIDDLE_NAME}} {{goalsout.personalDetails.LAST_NAME}}</p>
															<p class="client-date">{{goalsout.personalDetailsBirthDate}}</p>
															<p><span class="details-icon"><i class="icon icon-icon-protection"></i></span><span class="details-title">Protection</span></p>
														</div>
														<div class="output-content">
															<p>Monthly Household Expenses</p>
															<span>{{goalsout.personalDetails.ANN_EXP_HOUSEHOLD--goalsout.personalDetails.LIABILITY_EMI | currency:'&#8377;'}}</span>
														</div>
														<div class="output-content">
															<p>Rate of Inflation</p>
															<span>{{goalsout.outputDetails.PROTE[0].INFLATION_RATE}}%</span>
														</div>
														<div class="output-content">
															<p>Current Interest Rate</p>
															<span>{{goalsout.outputDetails.PROTE[0].ROI_RATE}}%</span>
														</div>
														<div class="output-content">
															<p>Existing Insurance Cover</p>
															<span>{{goalsout.outputDetails.PROTE[0].SUM_ASSURED | currency:'&#8377;'}}</span>
														</div>
														<div class="output-content">
															<p>Monthly Household Expenses (Excluding Loan EMI)</p>
															<span>{{goalsout.personalDetails.ANN_EXP_HOUSEHOLD | currency:'&#8377;'}}</span>
														</div>
														<div class="output-content">
															<p>Existing O/S Loan</p>
															<span>{{goalsout.personalDetails.LIABILITY_TOTAL | currency:'&#8377;'}}</span>
														</div>
													</ion-content>
												</div>
											</div>
										</div>
									</div>
									<!-- end left part  -->
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 output-rt-clr">
										<h4 class="output-total">Total amount required =  {{(goalsout.outputDetails.PROTE[0].PROVISION_GAP_EMERGENCY_FUND--goalsout.outputDetails.PROTE[0].SUM_ASSURED)  | currency:'&#8377;'}}</h4>
										<div class="fhr-output-rt">
											<div class="fhr-output-chart">
												<p class="shrtfall-txt">Shortfall to
												<br> be planned for
												<br><span>{{goalsout.outputDetails.PROTE[0].PROVISION_GAP_EMERGENCY_FUND | currency:'&#8377;'}}</span></p>
												<div id="chart_container_PROTE" style="height:400px; width:350px;"></div>
												<p class="provision-txt">Existing
												<br>Provision
												<br><span>{{goalsout.outputDetails.PROTE[0].SUM_ASSURED | currency:'&#8377;'}}</span></p>
											</div>
											<div class="output-mail-button">
												<div class="custom-btn form-btn-wrap fhr-white-btn">
													<button class="btn btn-default btn-block" type="button" ng-click="goalsout.generateFhrOutput();">Mail me analysis report</button>
												</div>
											</div>
										</div>
									</div>
									<!-- end right part  -->
								</div>
							</div>
							
							<!-- Wealth Creation Car Buy -->
							<div class="tab-pane" ng-if="goalsout.outputDetails.WEACARBY.length>0" ng-class="{ active: goalsout.activeTab === 'WEACARBY' }">
								<div class="tab-content-area">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-wrap">
										<div class="row row-wrap">
											<div class="output-lft-clr">
												<div class="fhr-output-lft" style="position:relative">
													<ion-content>
														<h4 class="fhr-output-title">Wealth Goal - Buying New Car</h4>
														<div class="output-client-details">
															<p class="client-name">{{goalsout.personalDetails.FIRST_NAME}} {{goalsout.personalDetails.MIDDLE_NAME}} {{goalsout.personalDetails.LAST_NAME}}</p>
															<p class="client-date">{{goalsout.personalDetailsBirthDate}}</p>
															<p><span class="details-icon"><i class="icon icon-icon-new-car"></i></span><span class="details-title">Buying New Car</span></p>
														</div>
														<div class="output-content">
															<p>Sub Goal</p>
															<span>{{goalsout.outputDetails.WEACARBY[0].GOAL_DESC}} </span>
														</div>
														<div class="output-content">
															<p>Money is required in age of</p>
															<span>{{goalsout.outputDetails.WEACARBY[0].GOAL_TARGET_AGE}} (years)</span>
														</div>
														<div class="output-content">
															<p>Current Cost of Current Goal</p>
															<span>{{goalsout.outputDetails.WEACARBY[0].PRESENT_COST | currency:'&#8377;'}}</span>
														</div>
														<div class="output-content">
															<p>Current Saving</p>
															<span>{{goalsout.outputDetails.WEACARBY[0].PRESENT_SAVINGS | currency:'&#8377;'}}</span>
														</div>
													</ion-content>
												</div>
											</div>
										</div>
									</div>
									<!-- end left part  -->
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 output-rt-clr">
										<h4 class="output-total">Total amount required =  {{goalsout.outputDetails.WEACARBY[0].FUTURE_COST | currency:'&#8377;'}}</h4>
										<div class="fhr-output-rt">
											<div class="fhr-output-chart">
												<p class="shrtfall-txt">Shortfall to
												<br> be planned for
												<br><span>{{goalsout.outputDetails.WEACARBY[0].GOAL_GAP_AMOUNT | currency:'&#8377;'}}</span></p>
												<div id="chart_container_WEACARBY" style="height:400px; width:350px;"></div>
												<p class="provision-txt">Existing
												<br>Provision
												<br><span>{{goalsout.outputDetails.WEACARBY[0].FUTURE_SAVINGS_VALUE | currency:'&#8377;'}}</span></p>
											</div>
											<div class="output-mail-button">
												<div class="custom-btn form-btn-wrap fhr-white-btn">
													<button class="btn btn-default btn-block" type="button" ng-click="goalsout.generateFhrOutput();">Mail me analysis report</button>
												</div>
											</div>
										</div>
									</div>
									<!-- end right part  -->
								</div>
							</div>
							
							<!-- Wealth Creation 2nd Home -->
							<div class="tab-pane" ng-if="goalsout.outputDetails.WEAHOMTWO.length>0" ng-class="{ active: goalsout.activeTab === 'WEAHOMTWO' }">
								<div class="tab-content-area">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-wrap">
										<div class="row row-wrap">
											<div class="output-lft-clr">
												<div class="fhr-output-lft" style="position:relative">
													<ion-content>
														<h4 class="fhr-output-title">Wealth Goal - 2nd Home Down Payment</h4>
														<div class="output-client-details">
															<p class="client-name">{{goalsout.personalDetails.FIRST_NAME}} {{goalsout.personalDetails.MIDDLE_NAME}} {{goalsout.personalDetails.LAST_NAME}}</p>
															<p class="client-date">{{goalsout.personalDetailsBirthDate}}</p>
															<p><span class="details-icon"><i class="icon icon-icon-second-home-down-payment"></i></span><span class="details-title">2nd Home Down Payment</span></p>
														</div>
														<div class="output-content">
															<p>Sub Goal</p>
															<span>{{goalsout.outputDetails.WEAHOMTWO[0].GOAL_DESC}} </span>
														</div>
														<div class="output-content">
															<p>Money is required in age of</p>
															<span>{{goalsout.outputDetails.WEAHOMTWO[0].GOAL_TARGET_AGE}} (years)</span>
														</div>
														<div class="output-content">
															<p>Current Cost of Current Goal</p>
															<span>{{goalsout.outputDetails.WEAHOMTWO[0].PRESENT_COST | currency:'&#8377;'}}</span>
														</div>
														<div class="output-content">
															<p>Current Saving</p>
															<span>{{goalsout.outputDetails.WEAHOMTWO[0].PRESENT_SAVINGS | currency:'&#8377;'}}</span>
														</div>
													</ion-content>
												</div>
											</div>
										</div>
									</div>
									<!-- end left part  -->
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 output-rt-clr">
										<h4 class="output-total">Total amount required =  {{goalsout.outputDetails.WEAHOMTWO[0].FUTURE_COST | currency:'&#8377;'}}</h4>
										<div class="fhr-output-rt">
											<div class="fhr-output-chart">
												<p class="shrtfall-txt">Shortfall to
												<br> be planned for
												<br><span>{{goalsout.outputDetails.WEAHOMTWO[0].GOAL_GAP_AMOUNT | currency:'&#8377;'}}</span></p>
												<div id="chart_container_WEAHOMTWO" style="height:400px; width:350px;"></div>
												<p class="provision-txt">Existing
												<br>Provision
												<br><span>{{goalsout.outputDetails.WEAHOMTWO[0].FUTURE_SAVINGS_VALUE | currency:'&#8377;'}}</span></p>
											</div>
											<div class="output-mail-button">
												<div class="custom-btn form-btn-wrap fhr-white-btn">
													<button class="btn btn-default btn-block" type="button" ng-click="goalsout.generateFhrOutput();">Mail me analysis report</button>
												</div>
											</div>
										</div>
									</div>
									<!-- end right part  -->
								</div>
							</div>
							
							<!-- Wealth Creation International Vacation -->
							<div class="tab-pane" ng-if="goalsout.outputDetails.WEAINTVAC.length>0" ng-class="{ active: goalsout.activeTab === 'WEAINTVAC' }">
								<div class="tab-content-area">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-wrap">
										<div class="row row-wrap">
											<div class="output-lft-clr">
												<div class="fhr-output-lft" style="position:relative">
													<ion-content>
														<h4 class="fhr-output-title">Wealth Goal - International Vacation</h4>
														<div class="output-client-details">
															<p class="client-name">{{goalsout.personalDetails.FIRST_NAME}} {{goalsout.personalDetails.MIDDLE_NAME}} {{goalsout.personalDetails.LAST_NAME}}</p>
															<p class="client-date">{{goalsout.personalDetailsBirthDate}}</p>
															<p><span class="details-icon"><i class="icon icon-icon-vacation"></i></span><span class="details-title">International Vacation</span></p>
														</div>
														<div class="output-content">
															<p>Sub Goal</p>
															<span>{{goalsout.outputDetails.WEAINTVAC[0].GOAL_DESC}} </span>
														</div>
														<div class="output-content">
															<p>Money is required in age of</p>
															<span>{{goalsout.outputDetails.WEAINTVAC[0].GOAL_TARGET_AGE}} (years)</span>
														</div>
														<div class="output-content">
															<p>Current Cost of Current Goal</p>
															<span>{{goalsout.outputDetails.WEAINTVAC[0].PRESENT_COST | currency:'&#8377;'}}</span>
														</div>
														<div class="output-content">
															<p>Current Saving</p>
															<span>{{goalsout.outputDetails.WEAINTVAC[0].PRESENT_SAVINGS | currency:'&#8377;'}}</span>
														</div>
													</ion-content>
												</div>
											</div>
										</div>
									</div>
									<!-- end left part  -->
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 output-rt-clr">
										<h4 class="output-total">Total amount required =  {{goalsout.outputDetails.WEAINTVAC[0].FUTURE_COST | currency:'&#8377;'}}</h4>
										<div class="fhr-output-rt">
											<div class="fhr-output-chart">
												<p class="shrtfall-txt">Shortfall to
												<br> be planned for
												<br><span>{{goalsout.outputDetails.WEAINTVAC[0].GOAL_GAP_AMOUNT | currency:'&#8377;'}}</span></p>
												<div id="chart_container_WEAINTVAC" style="height:400px; width:350px;"></div>
												<p class="provision-txt">Existing
												<br>Provision
												<br><span>{{goalsout.outputDetails.WEAINTVAC[0].FUTURE_SAVINGS_VALUE | currency:'&#8377;'}}</span></p>
											</div>
											<div class="output-mail-button">
												<div class="custom-btn form-btn-wrap fhr-white-btn">
													<button class="btn btn-default btn-block" type="button" ng-click="goalsout.generateFhrOutput();">Mail me analysis report</button>
												</div>
											</div>
										</div>
									</div>
									<!-- end right part  -->
								</div>
							</div>
							
							<!-- Wealth Creation Repaying Home Loan -->
							<div class="tab-pane" ng-if="goalsout.outputDetails.WEAREPAYHL.length>0" ng-class="{ active: goalsout.activeTab === 'WEAREPAYHL' }">
								<div class="tab-content-area">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-wrap">
										<div class="row row-wrap">
											<div class="output-lft-clr">
												<div class="fhr-output-lft" style="position:relative">
													<ion-content>
														<h4 class="fhr-output-title">Wealth Goal - Repaying Home Loan</h4>
														<div class="output-client-details">
															<p class="client-name">{{goalsout.personalDetails.FIRST_NAME}} {{goalsout.personalDetails.MIDDLE_NAME}} {{goalsout.personalDetails.LAST_NAME}}</p>
															<p class="client-date">{{goalsout.personalDetailsBirthDate}}</p>
															<p><span class="details-icon"><i class="icon icon-icon-repaying-home"></i></span><span class="details-title">Repaying Home Loan</span></p>
														</div>
														<div class="output-content">
															<p>Sub Goal</p>
															<span>{{goalsout.outputDetails.WEAREPAYHL[0].GOAL_DESC}} </span>
														</div>
														<div class="output-content">
															<p>Money is required in age of</p>
															<span>{{goalsout.outputDetails.WEAREPAYHL[0].GOAL_TARGET_AGE}} (years)</span>
														</div>
														<div class="output-content">
															<p>Current Cost of Current Goal</p>
															<span>{{goalsout.outputDetails.WEAREPAYHL[0].PRESENT_COST | currency:'&#8377;'}}</span>
														</div>
														<div class="output-content">
															<p>Current Saving</p>
															<span>{{goalsout.outputDetails.WEAREPAYHL[0].PRESENT_SAVINGS | currency:'&#8377;'}}</span>
														</div>
													</ion-content>
												</div>
											</div>
										</div>
									</div>
									<!-- end left part  -->
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 output-rt-clr">
										<h4 class="output-total">Total amount required =  {{goalsout.outputDetails.WEAREPAYHL[0].FUTURE_COST | currency:'&#8377;'}}</h4>
										<div class="fhr-output-rt">
											<div class="fhr-output-chart">
												<p class="shrtfall-txt">Shortfall to
												<br> be planned for
												<br><span>{{goalsout.outputDetails.WEAREPAYHL[0].GOAL_GAP_AMOUNT | currency:'&#8377;'}}</span></p>
												<div id="chart_container_WEAREPAYHL" style="height:400px; width:350px;"></div>
												<p class="provision-txt">Existing
												<br>Provision
												<br><span>{{goalsout.outputDetails.WEAREPAYHL[0].FUTURE_SAVINGS_VALUE | currency:'&#8377;'}}</span></p>
											</div>
											<div class="output-mail-button">
												<div class="custom-btn form-btn-wrap fhr-white-btn">
													<button class="btn btn-default btn-block" type="button" ng-click="goalsout.generateFhrOutput();">Mail me analysis report</button>
												</div>
											</div>
										</div>
									</div>
									<!-- end right part  -->
								</div>
							</div>
							
							<!-- Wealth Creation Starting new business -->
							<div class="tab-pane" ng-if="goalsout.outputDetails.WEANWBUSI.length>0" ng-class="{ active: goalsout.activeTab === 'WEANWBUSI' }">
								<div class="tab-content-area">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-wrap">
										<div class="row row-wrap">
											<div class="output-lft-clr">
												<div class="fhr-output-lft" style="position:relative">
													<ion-content>
														<h4 class="fhr-output-title">Wealth Goal - Starting new business</h4>
														<div class="output-client-details">
															<p class="client-name">{{goalsout.personalDetails.FIRST_NAME}} {{goalsout.personalDetails.MIDDLE_NAME}} {{goalsout.personalDetails.LAST_NAME}}</p>
															<p class="client-date">{{goalsout.personalDetailsBirthDate}}</p>
															<p><span class="details-icon"><i class="icon icon-icon-loan-for-new-business"></i></span><span class="details-title">Starting New Business</span></p>
														</div>
														<div class="output-content">
															<p>Sub Goal</p>
															<span>{{goalsout.outputDetails.WEANWBUSI[0].GOAL_DESC}} </span>
														</div>
														<div class="output-content">
															<p>Money is required in age of</p>
															<span>{{goalsout.outputDetails.WEANWBUSI[0].GOAL_TARGET_AGE}} (years)</span>
														</div>
														<div class="output-content">
															<p>Current Cost of Current Goal</p>
															<span>{{goalsout.outputDetails.WEANWBUSI[0].PRESENT_COST | currency:'&#8377;'}}</span>
														</div>
														<div class="output-content">
															<p>Current Saving</p>
															<span>{{goalsout.outputDetails.WEANWBUSI[0].PRESENT_SAVINGS | currency:'&#8377;'}}</span>
														</div>
													</ion-content>
												</div>
											</div>
										</div>
									</div>
									<!-- end left part  -->
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 output-rt-clr">
										<h4 class="output-total">Total amount required =  {{goalsout.outputDetails.WEANWBUSI[0].FUTURE_COST | currency:'&#8377;'}}</h4>
										<div class="fhr-output-rt">
											<div class="fhr-output-chart">
												<p class="shrtfall-txt">Shortfall to
												<br> be planned for
												<br><span>{{goalsout.outputDetails.WEANWBUSI[0].GOAL_GAP_AMOUNT | currency:'&#8377;'}}</span></p>
												<div id="chart_container_WEANWBUSI" style="height:400px; width:350px;"></div>
												<p class="provision-txt">Existing
												<br>Provision
												<br><span>{{goalsout.outputDetails.WEANWBUSI[0].FUTURE_SAVINGS_VALUE | currency:'&#8377;'}}</span></p>
											</div>
											<div class="output-mail-button">
												<div class="custom-btn form-btn-wrap fhr-white-btn">
													<button class="btn btn-default btn-block" type="button" ng-click="goalsout.generateFhrOutput();">Mail me analysis report</button>
												</div>
											</div>
										</div>
									</div>
									<!-- end right part  -->
								</div>
							</div>
							
							<!-- Wealth Creation Other Goal -->
							<div class="tab-pane" ng-if="goalsout.outputDetails.WEAOTHGOAL.length>0" ng-class="{ active: goalsout.activeTab === 'WEAOTHGOAL' }">
								<div class="tab-content-area">
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-wrap">
										<div class="row row-wrap">
											<div class="output-lft-clr">
												<div class="fhr-output-lft" style="position:relative">
													<ion-content>
														<h4 class="fhr-output-title">Wealth Goal - Other</h4>
														<div class="output-client-details">
															<p class="client-name">{{goalsout.personalDetails.FIRST_NAME}} {{goalsout.personalDetails.MIDDLE_NAME}} {{goalsout.personalDetails.LAST_NAME}}</p>
															<p class="client-date">{{goalsout.personalDetailsBirthDate}}</p>
															<p><span class="details-icon"><i class="icon icon-icon-others"></i></span><span class="details-title">Other Goal</span></p>
														</div>
														<div class="output-content">
															<p>Sub Goal</p>
															<span>{{goalsout.outputDetails.WEAOTHGOAL[0].GOAL_DESC}} </span>
														</div>
														<div class="output-content">
															<p>Money is required in age of</p>
															<span>{{goalsout.outputDetails.WEAOTHGOAL[0].GOAL_TARGET_AGE}} (years)</span>
														</div>
														<div class="output-content">
															<p>Current Cost of Current Goal</p>
															<span>{{goalsout.outputDetails.WEAOTHGOAL[0].PRESENT_COST | currency:'&#8377;'}}</span>
														</div>
														<div class="output-content">
															<p>Current Saving</p>
															<span>{{goalsout.outputDetails.WEAOTHGOAL[0].PRESENT_SAVINGS}}</span>
														</div>
													</ion-content>
												</div>
											</div>
										</div>
									</div>
									<!-- end left part  -->
									<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 output-rt-clr">
										<h4 class="output-total">Total amount required =  {{goalsout.outputDetails.WEAOTHGOAL[0].FUTURE_COST | currency:'&#8377;'}}</h4>
										<div class="fhr-output-rt">
											<div class="fhr-output-chart">
												<p class="shrtfall-txt">Shortfall to
												<br> be planned for
												<br><span>{{goalsout.outputDetails.WEAOTHGOAL[0].GOAL_GAP_AMOUNT | currency:'&#8377;'}}</span></p>
												<div id="chart_container_WEAOTHGOAL" style="height:400px; width:350px;"></div>
												<p class="provision-txt">Existing
												<br>Provision
												<br><span>{{goalsout.outputDetails.WEAOTHGOAL[0].FUTURE_SAVINGS_VALUE | currency:'&#8377;'}}</span></p>
											</div>
											<div class="output-mail-button">
												<div class="custom-btn form-btn-wrap fhr-white-btn">
													<button class="btn btn-default btn-block" type="button" ng-click="goalsout.generateFhrOutput();">Mail me analysis report</button>
												</div>
											</div>
										</div>
									</div>
									<!-- end right part  -->
								</div>
							</div>
							
						</div>
					</section>
				</div>
			</div>
			<!-- Recommendation -->
			<div class="recommendation-titlewrap">
				<div class="recommendation-innertitlewrap">
					<div class="innercontent-wrap recommendation-tab">
						<a href="javascript:void(0);" ng-click="goalsout.redirObj.gotoRecommendationTab();"><span class="fhr-tab-title tab-recomm-tilte">Recommendation</span></a>
					</div>
				</div>
			</div>
			<!--{{goalsout.firstTimeInitiation()}}-->
		</div>
	
</ion-pane>
