<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<pi-timeline class="tab-nav"></pi-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<!-- Personal Details Application Form -->
		<div class="app-form-inner-content">
			<form name="otherDetForm" id="otherDetForm">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-class="{ProposerCondition:otherDet.isSelf}">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form main-form-title">
							<label class="form-label">Insured</label>
						</div>
					</div>
						<div class="insured_full">
							<!-- Name -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Name<span class="requiredStar">*</span></label>
									<div class="tick-radio-wrap">
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="rdInsuredFather" name="rdInsuredDetails" value="F" ng-model="otherDet.otherDetailsBean.INSURED_HUSB_FATH_FLAG" ng-disabled="otherDet.insGender == 'M'" required/>
											<label for="rdInsuredFather">Father</label>
										</div>
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="rdInsuredHusband" name="rdInsuredDetails" value="H" ng-model="otherDet.otherDetailsBean.INSURED_HUSB_FATH_FLAG" ng-disabled="otherDet.insGender == 'M'" required/>
											<label for="rdInsuredHusband">Husband</label>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div ng-messages="otherDetForm.rdInsuredDetails.$error" class="error-messages" ng-show="otherDetForm.rdInsuredDetails.$invalid && (!otherDetForm.rdInsuredDetails.$pristine || otherDet.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<input type="text" class="form-control" name="fathHusbFName" placeholder="First Name" ng-model="otherDet.otherDetailsBean.INSURED_HUSB_FATH_FIRST_NAME" ng-pattern="otherDet.nameRegex" ng-maxlength="20" required/>
										</div>
										<div ng-messages="otherDetForm.fathHusbFName.$error" class="error-messages" ng-show="otherDetForm.fathHusbFName.$invalid && (!otherDetForm.rdInsuredDetails.$pristine || otherDet.click)">
											<div ng-message="required">Please enter firstname.</div>
											<div ng-message="maxlength">Name cannot be more than 20 characters.</div>
											<div ng-message="pattern">Enter valid name excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<input type="text" class="form-control" name="fathHusbLName" placeholder="Last Name" ng-model="otherDet.otherDetailsBean.INSURED_HUSB_FATH_LAST_NAME" ng-pattern="otherDet.nameRegex" ng-maxlength="20" required/>
										</div>
										<div ng-messages="otherDetForm.fathHusbLName.$error" class="error-messages" ng-show="otherDetForm.fathHusbLName.$invalid && (!otherDetForm.rdInsuredDetails.$pristine || otherDet.click)">
											<div ng-message="required">Please enter lastname.</div>
																		<div ng-message="maxlength">Name cannot be more than 20 characters.</div>
																		<div ng-message="pattern">Enter valid name excluding special characters</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Are you a politically exposed Person? -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Are you a politically exposed Person?<span class="requiredStar">*</span></label>
									<div class="tick-radio-wrap">
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="rdInsuredExposesYes" name="rdInsuredExposes" value="Y" ng-model="otherDet.otherDetailsBean.INSURED_PEP_SELP_FLAG" ng-change="otherDet.onInsPolExpChg(otherDetForm)" required/>
											<label for="rdInsuredExposesYes">Yes</label>
										</div>
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="rdInsuredExposesNo" name="rdInsuredExposes" value="N" ng-model="otherDet.otherDetailsBean.INSURED_PEP_SELP_FLAG" ng-change="otherDet.onInsPolExpChg(otherDetForm)" required/>
											<label for="rdInsuredExposesNo">No</label>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div ng-messages="otherDetForm.rdInsuredExposes.$error" class="error-messages" ng-show="otherDetForm.rdInsuredExposes.$invalid && (!otherDetForm.rdInsuredExposes.$pristine || otherDet.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>
							<!-- Politically Exposed Details -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form" ng-show="otherDet.otherDetailsBean.INSURED_PEP_SELP_FLAG == 'Y'">
									<label class="form-label">Politically Exposed Details</label>
									<input type="text" class="form-control" name="pepDetails" placeholder="Politically Exposed Details" ng-model="otherDet.otherDetailsBean.INSURED_PEP_DETAILS" ng-required="otherDet.otherDetailsBean.INSURED_PEP_SELP_FLAG == 'Y'" required/>
								</div>
								<div ng-messages="otherDetForm.pepDetails.$error" class="error-messages" ng-show="otherDetForm.pepDetails.$invalid && (!otherDetForm.pepDetails.$pristine || otherDet.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>
							<!-- Are you a politically exposed Person? -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">
										Is any of your family member or close relative a politically exposed person?<span class="requiredStar">*</span>
									</label>
									<div class="tick-radio-wrap">
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="rdInsuredFamilyExposesYes" name="rdInsuredFamilyExposes" value="Y" ng-model="otherDet.otherDetailsBean.INSURED_PEP_FAMILY_FLAG" ng-change="otherDet.onInsFamPolExpChg(otherDetForm)" required/>
											<label for="rdInsuredFamilyExposesYes">Yes</label>
										</div>
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="rdInsuredFamilyExposesNo" name="rdInsuredFamilyExposes" value="N" ng-model="otherDet.otherDetailsBean.INSURED_PEP_FAMILY_FLAG" ng-change="otherDet.onInsFamPolExpChg(otherDetForm)" required/>
											<label for="rdInsuredFamilyExposesNo">No</label>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div ng-messages="otherDetForm.rdInsuredFamilyExposes.$error" class="error-messages" ng-show="otherDetForm.rdInsuredFamilyExposes.$invalid && (!otherDetForm.rdInsuredFamilyExposes.$pristine || otherDet.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>
							<!-- Politically Exposed Details -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form" ng-show="otherDet.otherDetailsBean.INSURED_PEP_FAMILY_FLAG == 'Y'">
									<label class="form-label">Politically Exposed Details</label>
									<input type="text" class="form-control" name="pepFamDetails" placeholder="Politically Exposed Details" ng-model="otherDet.otherDetailsBean.INSURED_PEP_FAMILY_DETAILS" ng-required="otherDet.otherDetailsBean.INSURED_PEP_FAMILY_FLAG == 'Y'" required/>
								</div>
								<div ng-messages="otherDetForm.pepFamDetails.$error" class="error-messages" ng-show="otherDetForm.pepFamDetails.$invalid && (!otherDetForm.pepFamDetails.$pristine || otherDet.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>
						</div>
						<div class="insured_full">
							<!-- Proof of Source of Fund-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="otherDet.isSelf">
								<div class="form-group custom-form">
									<label class="form-label">Proof of Source of Income<span class="requiredStar" ng-show="otherDet.insFundProofReq">*</span></label>
									<div class="custom-drp">
										<select class="form-control" name="insFundProof" ng-model="otherDet.otherDetailsBean.INSURED_FUND_PROOF" ng-options="option.MPPROOF_DESC for option in otherDet.fundProodList | filter: {CUSTOMER_CATEGORY: 'IN'} track by option.DOC_ID" ng-change="otherDet.onInsFundProofChg()" select-required="otherDet.insFundProofReq">
										</select>
									</div>
								</div>
								<div ng-messages="otherDetForm.insFundProof.$error" class="error-messages" ng-show="otherDetForm.insFundProof.$invalid && (!otherDetForm.insFundProof.$pristine || otherDet.click)">
									<div ng-message="selectRequired">Please select an option.</div>
								</div>
							</div>
							<!--   Bank Statement   -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="otherDet.isSelf">
								<div class="form-group custom-form">
									<label class="form-label">Bank statement of last 6 month's with closing balance > current policy premium<span class="requiredStar" ng-show="otherDet.isSelf && otherDet.insBnkStmtValidate">*</span></label>
									<div class="tick-radio-wrap">
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="rdInsuredBankYes" name="rdInsuredBank" value="Y" ng-model="otherDet.otherDetailsBean.INSURED_BANK_STATEMENT" ng-change="otherDet.onInsBankStmtChg()" ng-required="otherDet.isSelf && otherDet.insBnkStmtValidate"/>
											<label for="rdInsuredBankYes">Yes</label>
										</div>
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="rdInsuredBankNo" name="rdInsuredBank" value="N" ng-model="otherDet.otherDetailsBean.INSURED_BANK_STATEMENT" ng-change="otherDet.onInsBankStmtChg()" ng-required="otherDet.isSelf && otherDet.insBnkStmtValidate"/>
											<label for="rdInsuredBankNo">No</label>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div ng-messages="otherDetForm.rdInsuredBank.$error" class="error-messages" ng-show="otherDetForm.rdInsuredBank.$invalid && (!otherDetForm.rdInsuredBank.$pristine || otherDet.click)">
									<div ng-message="required">Need to upload bank statement.</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Insurance Objective<span class="requiredStar">*</span></label>
									<div class="check-box-wrap">
										<input type="checkbox" id="chkRisk" name="insObj" ng-model="otherDet.otherDetailsBean.INS_OBJ_RISK" ng-change="otherDet.onChangeInsObjective(otherDetForm)"/>
										<label for="chkRisk">Risk</label>
									</div>
									<div class="check-box-wrap">
										<input type="checkbox" id="chkSav" ng-model="otherDet.otherDetailsBean.INS_OBJ_SAVINGS" ng-change="otherDet.onChangeInsObjective(otherDetForm)" />
										<label for="chkSav">Saving</label>
									</div>
									<div class="check-box-wrap">
										<input type="checkbox" id="chkChilEdu" ng-model="otherDet.otherDetailsBean.INS_OBJ_CHILD_EDU" ng-change="otherDet.onChangeInsObjective(otherDetForm)"/>
										<label for="chkChilEdu">Child Education</label>
									</div>
									<div class="check-box-wrap">
										<input type="checkbox" id="chkMarriage" ng-model="otherDet.otherDetailsBean.INS_OBJ_MARRIAGE" ng-change="otherDet.onChangeInsObjective(otherDetForm)" />
										<label for="chkMarriage">Marriage</label>
									</div>
									<div class="check-box-wrap">
										<input type="checkbox" id="chkRetire" ng-model="otherDet.otherDetailsBean.INS_OBJ_RETIREMENT" ng-change="otherDet.onChangeInsObjective(otherDetForm)"/>
										<label for="chkRetire">Retirement</label>
									</div>
									<div class="check-box-wrap">
										<input type="checkbox" id="chkLeg" ng-model="otherDet.otherDetailsBean.INS_OBJ_LEGACY_PLAN" ng-change="otherDet.onChangeInsObjective(otherDetForm)" />
										<label for="chkLeg">Legacy Plan</label>
									</div>
									<div class="check-box-wrap">
										<input type="checkbox" id="chkOther" ng-model="otherDet.otherDetailsBean.INS_OBJ_OTHER" ng-change="otherDet.onChangeInsObjective(otherDetForm)"/>
										<label for="chkOther">Other</label>
									</div>
								</div>
								<span class="error-messages" ng-show="!otherDet.insObjValidate && otherDet.click">Please select Insurance Objective.</span>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form" ng-show="otherDet.otherDetailsBean.INS_OBJ_OTHER">
									<label class="form-label">Please provide other details</label>
									<input type="text" class="form-control" name="otherDetails" ng-model="otherDet.otherDetailsBean.INS_OBJ_OTHER_DETAILS" placeholder="Other Details" ng-required="otherDet.otherDetailsBean.INS_OBJ_OTHER" required/>
								</div>
								<div ng-messages="otherDetForm.otherDetails.$error" class="error-messages" ng-show="otherDetForm.otherDetails.$invalid && (!otherDetForm.otherDetails.$pristine || otherDet.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!--Proposer-->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-hide="otherDet.isSelf">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form main-form-title">
							<label class="form-label">Proposer</label>
						</div>
					</div>
					<!-- Name -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form">
							<label class="form-label">Name<span class="requiredStar">*</span></label>
							<div class="tick-radio-wrap">
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="rdProposerFather" name="rdProposerDetails" value="F" ng-model="otherDet.otherDetailsBean.PROPOSER_HUSB_FATH_FLAG" ng-disabled="otherDet.isSelf || otherDet.proGender == 'M'" ng-required="!otherDet.isSelf" required/>
									<label for="rdProposerFather">Father</label>
								</div>
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="rdProposerHusband" name="rdProposerDetails" value="H" ng-model="otherDet.otherDetailsBean.PROPOSER_HUSB_FATH_FLAG" ng-disabled="otherDet.isSelf || otherDet.proGender == 'M'" ng-required="!otherDet.isSelf" required/>
									<label for="rdProposerHusband">Husband</label>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div ng-messages="otherDetForm.rdProposerDetails.$error" class="error-messages" ng-show="otherDetForm.rdProposerDetails.$invalid && (!otherDetForm.rdProposerDetails.$pristine || otherDet.click)">
							<div ng-message="required">Please select an option.</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="form-group custom-form">
									<input type="text" class="form-control" name="proFathHusbFName" placeholder="First Name" ng-model="otherDet.otherDetailsBean.PROPOSER_HUSB_FATH_FIRST_NAME" ng-disabled="otherDet.isSelf" ng-maxlength="20" ng-required="!otherDet.isSelf" required/>
								</div>
								<div ng-messages="otherDetForm.proFathHusbFName.$error" class="error-messages" ng-show="otherDetForm.proFathHusbFName.$invalid && (!otherDetForm.proFathHusbFName.$pristine || otherDet.click)">
									<div ng-message="required">Please select an option.</div>
									<div ng-message="maxlength">Name cannot be more than 20 characters.</div>

								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="form-group custom-form">
									<input type="text" class="form-control" name="proFathHusbLName" placeholder="Last Name" ng-model="otherDet.otherDetailsBean.PROPOSER_HUSB_FATH_LAST_NAME" ng-disabled="otherDet.isSelf" ng-maxlength="20" ng-required="!otherDet.isSelf" required/>
								</div>
								<div ng-messages="otherDetForm.proFathHusbLName.$error" class="error-messages" ng-show="otherDetForm.proFathHusbLName.$invalid && (!otherDetForm.proFathHusbLName.$pristine || otherDet.click)">
									<div ng-message="required">Please select an option.</div>
									<div ng-message="maxlength">Name cannot be more than 20 characters.</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Are you a politically exposed Person? -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form">
							<label class="form-label">Are you a politically exposed Person?<span class="requiredStar">*</span></label>
							<div class="tick-radio-wrap">
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="rdProposerExposesYes" name="rdProposerExposes" value="Y" ng-model="otherDet.otherDetailsBean.PROPOSER_PEP_SELP_FLAG" ng-change="otherDet.onProPolExpChg(otherDetForm)" ng-disabled="otherDet.isSelf" ng-required="!otherDet.isSelf" required/>
									<label for="rdProposerExposesYes">Yes</label>
								</div>
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="rdProposerExposesNo" name="rdProposerExposes" value="N" ng-model="otherDet.otherDetailsBean.PROPOSER_PEP_SELP_FLAG" ng-change="otherDet.onProPolExpChg(otherDetForm)" ng-disabled="otherDet.isSelf" ng-required="!otherDet.isSelf" required/>
									<label for="rdProposerExposesNo">No</label>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div ng-messages="otherDetForm.rdProposerExposes.$error" class="error-messages" ng-show="otherDetForm.rdProposerExposes.$invalid && (!otherDetForm.rdProposerExposes.$pristine || otherDet.click)">
							<div ng-message="required">Please select an option.</div>
						</div>
					</div>
					<!-- Politically Exposed Details -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form" ng-show="otherDet.otherDetailsBean.PROPOSER_PEP_SELP_FLAG == 'Y'">
							<label class="form-label">Politically Exposed Details</label>
							<input type="text" class="form-control" name="proPepDetails" placeholder="Politically Exposed Details" ng-model="otherDet.otherDetailsBean.PROPOSER_PEP_DETAILS" ng-disabled="otherDet.isSelf" ng-required="!otherDet.isSelf && otherDet.otherDetailsBean.PROPOSER_PEP_SELP_FLAG == 'Y'" required/>
						</div>
						<div ng-messages="otherDetForm.proPepDetails.$error" class="error-messages" ng-show="otherDetForm.proPepDetails.$invalid && (!otherDetForm.proPepDetails.$pristine || otherDet.click)">
							<div ng-message="required">Please select an option.</div>
						</div>
					</div>
					<!-- Are you a politically exposed Person? -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form">
							<label class="form-label">
								Is any of your family member or close relative a politically exposed person?<span class="requiredStar">*</span>
							</label>
							<div class="tick-radio-wrap">
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="rdProposerFamilyExposesYes" name="rdProposerFamilyExposes" value="Y" ng-model="otherDet.otherDetailsBean.PROPOSER_PEP_FAMILY_FLAG" ng-change="otherDet.onProFamPolExpChg(otherDetForm)" ng-disabled="otherDet.isSelf" ng-required="!otherDet.isSelf" required/>
									<label for="rdProposerFamilyExposesYes">Yes</label>
								</div>
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="rdProposerFamilyExposesNo" name="rdProposerFamilyExposes" value="N" ng-model="otherDet.otherDetailsBean.PROPOSER_PEP_FAMILY_FLAG" ng-change="otherDet.onProFamPolExpChg(otherDetForm)" ng-disabled="otherDet.isSelf" ng-required="!otherDet.isSelf" required/>
									<label for="rdProposerFamilyExposesNo">No</label>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div ng-messages="otherDetForm.rdProposerFamilyExposes.$error" class="error-messages" ng-show="otherDetForm.rdProposerFamilyExposes.$invalid && (!otherDetForm.rdProposerFamilyExposes.$pristine || otherDet.click)">
							<div ng-message="required">Please select an option.</div>
						</div>
					</div>
					<!-- Politically Exposed Details -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form" ng-show="otherDet.otherDetailsBean.PROPOSER_PEP_FAMILY_FLAG == 'Y'">
							<label class="form-label">Politically Exposed Details</label>
							<input type="text" class="form-control" name="proPepFamDetails" placeholder="Politically Exposed Details" ng-model="otherDet.otherDetailsBean.PROPOSER_PEP_FAMILY_DETAILS" ng-disabled="otherDet.isSelf" ng-required="!otherDet.isSelf && otherDet.otherDetailsBean.PROPOSER_PEP_FAMILY_FLAG == 'Y'" required/>
						</div>
						<div ng-messages="otherDetForm.proPepFamDetails.$error" class="error-messages" ng-show="otherDetForm.proPepFamDetails.$invalid && (!otherDetForm.proPepFamDetails.$pristine || otherDet.click)">
							<div ng-message="required">Please select an option.</div>
						</div>
					</div>
					<!-- Proof of Source of Fund-->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="!otherDet.isSelf">
						<div class="form-group custom-form">
							<label class="form-label">Proof of Source of Income<span class="requiredStar" ng-show="otherDet.proFundProofReq">*</span></label>
							<div class="custom-drp">
								<select class="form-control" name="proFundProof" ng-model="otherDet.otherDetailsBean.PROPOSER_FUND_PROOF" ng-options="option.MPPROOF_DESC for option in otherDet.fundProodList | filter: {CUSTOMER_CATEGORY: 'PR'} track by option.DOC_ID" ng-change="otherDet.onProFundProofChg()" select-required="otherDet.proFundProofReq">
								</select>
							</div>
						</div>
						<div ng-messages="otherDetForm.proFundProof.$error" class="error-messages" ng-show="otherDetForm.proFundProof.$invalid && (!otherDetForm.proFundProof.$pristine || otherDet.click)">
							<div ng-message="selectRequired">Please select an option.</div>
						</div>
					</div>
					<!--   Bank Statement   -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="!otherDet.isSelf">
						<div class="form-group custom-form">
							<label class="form-label">Bank statement of last 6 month's with closing balance > current policy premium<span class="requiredStar" ng-show="!otherDet.isSelf && otherDet.proBnkStmtValidate">*</span></label>
							<div class="tick-radio-wrap">
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="rdProposerBankYes" name="rdProposerBank" value="Y" ng-model="otherDet.otherDetailsBean.PROPOSER_BANK_STATEMENT" ng-change="otherDet.onProBankStmtChg()" ng-required="!otherDet.isSelf && otherDet.proBnkStmtValidate"/>
									<label for="rdProposerBankYes">Yes</label>
								</div>
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="rdProposerBankNo" name="rdProposerBank" value="N" ng-model="otherDet.otherDetailsBean.PROPOSER_BANK_STATEMENT" ng-change="otherDet.onProBankStmtChg()" ng-required="!otherDet.isSelf && otherDet.proBnkStmtValidate"/>
									<label for="rdProposerBankNo">No</label>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div ng-messages="otherDetForm.rdProposerBank.$error" class="error-messages" ng-show="otherDetForm.rdProposerBank.$invalid && (!otherDetForm.rdProposerBank.$pristine || otherDet.click)">
							<div ng-message="required">Need to upload bank statement.</div>
						</div>
					</div>
				</div>
			</div>
				<!-- Common Inputs -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
				<div class="row">
					<!-- Application Place -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form">
							<label class="form-label">Application Place: <span class="requiredStar">*</span></label>
							<input type="text" class="form-control" name="appPlace" placeholder="Application Place" ng-model="otherDet.otherDetailsBean.APPLICATION_PLACE" ng-pattern="otherDet.appPlaceRegex" ng-maxlength="50" required/>
						</div>
						<div ng-messages="otherDetForm.appPlace.$error" class="error-messages" ng-show="otherDetForm.appPlace.$invalid && (!otherDetForm.appPlace.$pristine || otherDet.click)">
							<div ng-message="required">Please enter place.</div>
							<div ng-message="pattern">Enter valid place excluding special characters &amp; digits.</div>
							<div ng-message="maxlength">Place cannot be more than 50 characters.</div>
						</div>
					</div>
					<!-- Do You Want To go -->
					<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="otherDet.PSC_COND">
						<div class="form-group custom-form">
							<label class="form-label">
								Do you want to go for Online PSC ?<span class="requiredStar">*</span>
							</label>
							<div class="tick-radio-wrap">
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="rdOnlinePscYes" name="rdOnlinePsc" value="Y" ng-model="otherDet.rdOnlinePsc" ng-disabled="((otherDet.PGL_ID=='224')||(otherDet.PGL_ID=='225') || otherDet.isTerm || otherDet.PSC_COND)" ng-required="!otherDet.PSC_COND" ng-change="otherDet.onChangePSCOption()"/>
									<label for="rdOnlinePscYes">Yes</label>
								</div>
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="rdOnlinePscNo" name="rdOnlinePsc" value="N" ng-model="otherDet.rdOnlinePsc" ng-disabled="((otherDet.PGL_ID=='224')||(otherDet.PGL_ID=='225') || otherDet.isTerm || otherDet.PSC_COND)" ng-required="!otherDet.PSC_COND" ng-change="otherDet.onChangePSCOption()"/>
									<label for="rdOnlinePscNo">No</label>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div ng-messages="otherDetForm.rdOnlinePsc.$error" class="error-messages" ng-show="otherDetForm.rdOnlinePsc.$invalid && (!otherDetForm.rdOnlinePsc.$pristine || otherDet.click)">
							<div ng-message="required">Please select an option.</div>
						</div>
					</div>
					<!-- Call Time -->
					<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="otherDet.rdOnlinePsc=='N' && !otherDet.PSC_COND">
						<div class="form-group custom-form">
							<label class="form-label">Preferred PSC Call Time<span class="requiredStar">*</span></label>
							<div class="custom-drp">
								<select name="pfCall" class="form-control" id="pfCall"  ng-required="otherDet.rdOnlinePsc=='N' && !otherDet.PSC_COND" ng-model="otherDet.PscTiming">
									<option value="" selected="true">Not Provided</option>
									<option value="9:00-11:00">9:00 - 11:00</option>
									<option value="11:00-13:00">11:00 - 13:00</option>
									<option value="13:00-15:00">13:00 - 15:00</option>
									<option value="15:00-18:00">15:00 - 18:00</option>
									<option value="18:00-20:00">18:00 - 20:00</option>
								</select>
							</div>

						</div>
						<div ng-messages="otherDetForm.pfCall.$error" class="error-messages" ng-show="otherDetForm.pfCall.$invalid && (!otherDetForm.pfCall.$pristine || otherDet.click)">
							<div ng-message="required">Please enter time.</div>
						</div>
					</div>
					<!-- Language -->
					<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="otherDet.rdOnlinePsc=='N' && !otherDet.PSC_COND">
						<div class="form-group custom-form">
							<label class="form-label">Preferred Call Language<span class="requiredStar">*</span></label>
							<div class="custom-drp">
								<select name="pfLang" class="form-control " id="pfLang"  ng-required="otherDet.rdOnlinePsc=='N' && !otherDet.PSC_COND" ng-model="otherDet.PscLanguage">
									<option value="" selected="true">Select language</option>
									<option value="English">English</option>
									<option value="Hindi">Hindi</option>
									<option value="Marathi">Marathi</option>
									<option value="Gujarati">Gujarati</option>
									<option value="Telgu">Telgu</option>
									<option value="Tamil">Tamil</option>
									<option value="Kannada">Kannada</option>
									<option value="Bengali">Bengali</option>
									<option value="Malayalam">Malayalam</option>
									<option value="Oriya">Oriya</option>
									<option value="Punjabi">Punjabi</option>
									<option value="Others">Others</option>
								</select>
							</div>

						</div>
						<div ng-messages="otherDetForm.pfLang.$error" class="error-messages" ng-show="otherDetForm.pfLang.$invalid && (!otherDetForm.pfLang.$pristine || otherDet.click)">
							<div ng-message="required">Please enter language.</div>
						</div>
					</div>-->
				</div>
			</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
						<div class="custom-btn form-btn-wrap">
							<button class="btn btn-default btn-block" ng-click="otherDet.onNext(otherDetForm)">Next</button>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
		<!-- End Personal Details Application Form -->
	</div>
</ion-content>
