<ion-header-bar class="app-form-header">
	<div class="header-margin-rm">
		<a ng-click="aptc.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
	</div>
	<div class="header-margin-rm" style="width: 100%; text-align: center;">
		<h2 class="header-title text-center">Customer Details</h2>
	</div>
</ion-header-bar>
<div class="bar bar-subheader app-form-subheader-progress">
	<div class="new-page-loader" style="height: 30px; background: #13bfb6; width: 100%;">
		<uib-progressbar class="progress-striped progress-bar-info active app-form-progress-bar" animate="false" max="100" value="aptc.progressValue" type="info">
			<i>
				<span count-to="{{aptc.countTo}}" duration="1" count-from="{{aptc.countFrom}}">{{aptc.progressValue}}</span> %
			</i>
		</uib-progressbar>
	</div>
</div>
<div class="bar bar-subheader app-form-subheader-tabs">
	<ul class="main-tab-ul application-fixed-maintab">
		<ion-scroll direction="x" locking="true">
			<li ng-repeat="appTimeObj in aptc.appTimeArr" ng-class="{'active' : (aptc.activeTab == appTimeObj.type)}">
				<a ng-click="aptc.gotoPage(appTimeObj.type)">
					<span>{{appTimeObj.timeLineName}}<i class="fa fa-check font-check-btn" ng-show="appTimeObj.isCompleted" aria-hidden="true"></i></span>
				</a>
			</li>
		</ion-scroll>
	</ul>
</div>
