<ul class="main-tab-ul application-fixed-maintab">
  <ion-scroll direction="y" locking="true">
    <li ng-repeat="appTimeObj in aptc.appTimeArr" ng-class="{'active' : (aptc.activeTab == appTimeObj.type)}">
        <a ng-click="aptc.gotoPage(appTimeObj.type)">
            <span>{{appTimeObj.timeLineName}}<i class="fa fa-check font-check-btn" ng-show="appTimeObj.isCompleted" aria-hidden="true"></i></span>
        </a>
    </li>
  </ion-scroll>
</ul>
