<!--Main Inner Tab-->
<ion-pane class="customer-details">
  <ion-header-bar class="fixed-bar">
      <div class="header-innerwrapper">
          <!-- First Header -->
          <div class="headertitle-wrap">
              <div class="menu-iconlogo-wrapper">
                  <a ng-click="pol.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
              </div>
              <div class="clearfix"></div>
          </div>
          <!-- Second Header -->
          <div class="lead_title">
              <h2>Policy No Generation</h2>
          </div>
      </div>
  </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position policy-no-generator">
        <div class="application-form-wrapper">
            <div class="clearfix"></div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
                <div class="policy_no_wrp">
                    <div class="policy_no_content">
                        <div class="policy-tick-wrp"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
                        <div class="policy-tick-text" ng-hide="!!pol.COMBO_ID">
                            <!--{{pol.POLICY_NO}}-->
                            <span class="policy-hd">Successfully generated Policy Number {{pol.POLICY_NO}}</span>
                        </div>
                        <div class="policy-tick-text" ng-show="!!pol.COMBO_ID">
                            <!--{{pol.POLICY_NO}}-->
                            <div class="policy-hd" style="margin-bottom:10px">Successfully generated Policy Number</div>
                            <div style="margin-bottom:5px">Base Plan : {{pol.POLICY_NO}}</div>
                            <div>Term Plan : {{pol.REF_POLICY_NO}}</div>
                        </div>
                        <div class="row">
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                  <div class="custom-btn form-btn-wrap lead-btn">
                                      <button class="btn btn-default btn-block" type="submit" ng-click="pol.onBack()">Back</button>
                                  </div>
                              </div>
                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                  <div class="custom-btn form-btn-wrap lead-btn">
                                      <button class="btn btn-default btn-block" type="submit" ng-click="pol.onNext()">Next</button>
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

        </div>
    </ion-content>
</ion-pane>
