<ion-pane>
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <div class="headertitle-wrap">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a ng-click="aic.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
                    <h2 class="header-title text-center">Agent Validation</h2>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <section class="disclaimer_container">
            <form id="agentInfoForm" name="agentInfoForm">
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
                    <div class="row" style="margin-top:30px" >
                        <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 center-block pull-none">
                            <div class="agent-validate">
                                <div class="form-group custom-form ">
                                    <label class="form-label">Agent Code:</label>
                                    <input type="text" class="form-control" name="agentcode" ng-model="aic.AGENT_CD" placeholder="Agent Code" ng-pattern="aic.agentCodeRegex" required/>
                                </div>
                                <div ng-messages="agentInfoForm.agentcode.$error" class="error-messages" ng-show="agentInfoForm.agentcode.$invalid && !agentInfoForm.agentcode.$pristine">
                                    <div ng-message="required">Agent Code cannot be empty.</div>
                                    <div ng-message="pattern">Please enter a valid agent code (Do not prepend zero).</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 center-block pull-none">
                        <div class="custom-btn form-btn-wrap">
                            <button class="btn btn-block btn-primary" ng-click="aic.getAgentData()" ng-disabled="agentInfoForm.$invalid" type="button" >Validate</button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="aic.agentdata==true">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">RM Name </label>
                            <input type="text" class="form-control"  ng-model="aic.SPData.IMP_RM_NAME" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">Agent Name</label>
                            <input type="text" class="form-control" ng-model="aic.SPData.IMP_AGENT_NAME" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">IRDA Lic No </label>
                            <input type="text" class="form-control" ng-model="aic.SPData.IRDA_LIC_NO " ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">IRDA Lic Exp Date </label>
                            <input type="text" class="form-control" ng-model="aic.SPData.IRDA_LIC_EXP_DT" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">Mobile No </label>
                            <input type="text" class="form-control" ng-model="aic.SPData.MOBILENO" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">Channel Name </label>
                            <input type="text" class="form-control" ng-model="aic.SPData.CHANNEL_NAME" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">Office Code</label>
                            <input type="text" class="form-control" ng-model="aic.SPData.OFFICE_CODE" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">Sub Office Code </label>
                            <input type="text" class="form-control" ng-model="aic.SPData.SUBOFFICECODE" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">Office Name </label>
                            <input type="text" class="form-control" ng-model="aic.SPData.OFFICE_NAME" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">Office Address 1 </label>
                            <input type="text" class="form-control" ng-model="aic.SPData.OFFICE_ADDRESS1" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">Office Address 2 </label>
                            <input type="text" class="form-control" ng-model="aic.SPData.OFFICE_ADDRESS2" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">Office State </label>
                            <input type="text" class="form-control" ng-model="aic.SPData.OFFICE_STATE" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">Office Pin Code </label>
                            <input type="text" class="form-control" ng-model="aic.SPData.OFFICE_ZIP_CODE" ng-disabled="true"/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group custom-form">
                            <label class="form-label">Office Tel No </label>
                            <input type="text" class="form-control" ng-model="aic.SPData.OFFICE_OFFICE_TEL" ng-disabled="true"/>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </ion-content>
</ion-pane>