<ion-view>
	<ion-content has-bouncing ="false">
		<!--Dashboard Wrapper-->
		<div class="dashboard-wrapper">
			<!-- header -->
			<header>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="header_top">
						<div class="logo-block pull-left">
							<a ng-click="hswCtrl.openMenu()" class="click-menu">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</a>
							<img src="../img/tata-logo.png" alt="Tata AIA Logo" class="main-logo">
						</div>
						<div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>
						<div class="clearfix"></div>
					</div>
				</div>
			</header>
		</div>
		<div>
			<header>
				<form id="HSWForm" name="HSWForm" novalidate>
					<div class="policy-calculator">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<!--Policy Group Name-->
							<div class="inline-cntrl input-width policy-grpwidth">
								<div class="calculator-label">
									Plan Option
								</div>
								<div ng-if="hswCtrl.planGroupArrList.length > 1">
									<div class="custom-drp calculator-cntrl">
										<select class="transperant-cntrl form-control" ng-options="selectedItem.PLAN_NAME for selectedItem in hswCtrl.planGroupArrList"
											ng-model="hswCtrl.selectedGroupCode" name="policyname" ng-change="hswCtrl.getPNLPolicyBasedOnOption()"></select>
									</div>
								</div>
								<div ng-if="hswCtrl.planCodeArrList.length == 1">
									<div class="calculator-cntrl">
										<input type="text" class="transperant-cntrl basic-sum-box" ng-model="hswCtrl.planGroupArrList[0].PLAN_NAME" readonly/>
									</div>
								</div>
							</div>
							<!--Policy Name-->
							<div class="inline-cntrl input-width basicsum-assuredwidth">
								<div class="calculator-label">
									Basic Sum Assured
								</div>
								<div>
									<div class="calculator-cntrl">
										<input type="text" class="transperant-cntrl basic-sum-box" ng-model="hswCtrl.sumAssuredVal" readonly/>
									</div>
								</div>
							</div>

							<!--Policy Terms-->
							<div class="inline-cntrl input-width policy-term">
								<div class="calculator-label">
									Policy Term
								</div>
								<div class="custom-drp calculator-cntrl">
<!--									<select class="transperant-cntrl form-control" ng-options="selectedItem.PNL_MAX_PREMIUM_PAYING_TERM for selectedItem in hswCtrl.planGroupDetailsList"
											ng-model="hswCtrl.selectedPlanTerm" ng-change="hswCtrl.getSelectedPlanTerm()" name="planTerm"></select>-->
<!--									<select class="transperant-cntrl form-control" ng-options="selectedItem.MIN_TERM for selectedItem in (hswCtrl.planGroupDetailsList | filter:hswCtrl.selectedGroupCode.PGF_PNL_CODE) track by selectedItem.PNL_CODE"
										ng-model="hswCtrl.selectedPlanTerm" ng-change="hswCtrl.getPNLTermPpt()" name="planTerm">
										<option value="" ng-if="false"></option>
									</select>-->
									<select class="transperant-cntrl form-control" ng-options="selectedItem.MIN_TERM for selectedItem in hswCtrl.planGroupDetailsList track by selectedItem.PNL_CODE"
											ng-model="hswCtrl.selectedPlanTerm" ng-change="hswCtrl.getPNLTermPpt()" name="planTerm">
										<option value="" ng-if="false"></option>
									</select>
								</div>
							</div>
							<!--Premimum Payment Terms-->
							<div class="inline-cntrl input-width premiumpayment-width">
								<div class="calculator-label">
									Premium Paymemt Term
								</div>
								<div ng-if="!hswCtrl.ppt && hswCtrl.minTerm != hswCtrl.maxTerm">
									<div class="custom-drp calculator-cntrl">
										<select class="transperant-cntrl form-control" ng-options="selectedItem.TERM for selectedItem in hswCtrl.planTermArrayList"
											ng-model="hswCtrl.selectedPlanTerm" name="planTerm"></select>
									</div>
								</div>
								<div ng-if=" !hswCtrl.ppt && hswCtrl.minTerm == hswCtrl.maxTerm">
									<div class="calculator-cntrl">
										<input type="text" class="transperant-cntrl basic-sum-box" ng-model="hswCtrl.maxTerm" readonly/>
									</div>
								</div>
								<div ng-if=" !!hswCtrl.ppt ">
									<div class="calculator-cntrl">
										<input type="text" class="transperant-cntrl basic-sum-box" ng-model="hswCtrl.ppt" readonly/>
									</div>
								</div>
							</div>
							<!--Insured Age-->
							<div class="inline-cntrl input-width policy-term insuredage-width">
								<div class="calculator-label">
									insured age
								</div>
								<div class="calculator-cntrl">
									<input type="number" class="transperant-cntrl" name="insuredAge" ng-model="hswCtrl.age" ng-max="hswCtrl.maxAge" ng-min="hswCtrl.minAge"
										required block-hash ng-maxlength="3" />
								</div>
								<div style="position:relative; padding:5px 0 0 0; height:100%">
									<div style="color:red; position:static; width:150%" ng-messages="HSWForm.insuredAge.$error" class="error-messages" ng-show="HSWForm.insuredAge.$invalid && (!HSWForm.insuredAge.$pristine || hswCtrl.click)">
										<div style="color:red" ng-message="min">Min age should be {{ hswCtrl.minAge }}</div>
										<div style="color:red" ng-message="max">Max age should be {{ hswCtrl.maxAge }}</div>
										<div style="color:red" ng-message="required">Age cannot be empty.</div>
										<div style="color:red" ng-message="maxlength">Age should be less than 4 character.</div>
										<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									</div>
								</div>
							</div>
							<div class="inline-cntrl input-width annual-premium">
								<!--Basic Sum Assured-->
								<div ng-if=" !hswCtrl.startPl || hswCtrl.startPl=='S'">
									<div class="calculator-label">
										basic sum assured
									</div>
									<div class="calculator-cntrl">
										<input type="number" class="transperant-cntrl" name="sumInsured" ng-model="hswCtrl.minSumAssured" ng-max="hswCtrl.maxSumAssured"
											ng-min="hswCtrl.minSumAssured" required block-hash ng-maxlength="8" valid-number/>
									</div>
									<div style="color:red" ng-messages="HSWForm.sumInsured.$error" class="error-messages" ng-show="HSWForm.sumInsured.$invalid && (!HSWForm.sumInsured.$pristine || hswCtrl.click)">
										<div style="color:red" ng-message="min">Min Sum Assured should be {{ hswCtrl.minSumAssured }}</div>
										<div style="color:red" ng-message="max">Max Sum Assured should be {{ hswCtrl.maxSumAssured }}</div>
										<div style="color:red" ng-message="required"> No cannot be empty.</div>
										<div ng-message="blockHash">Please do not use '#' or '|'.</div>
										<div ng-message="maxlength">Sum Assured should be less than 9 character.</div>
										<div ng-message="modValidator">Premium has to be in multiples of 1000</div>
									</div>
								</div>
								<!--Annual Premium-->
								<div ng-if="hswCtrl.startPl=='P'">
									<div class="calculator-label">
										annual premium
									</div>
									<div class="calculator-cntrl">
										<input type="number" class="transperant-cntrl" name="annualpremium" ng-model="hswCtrl.annualPremium" ng-min="hswCtrl.minAnnualPremium"
											ng-required="hswCtrl.startPl=='P'" block-hash ng-maxlength="8" valid-number />
									</div>
									<div style="position:relative; padding:5px 0 0 0; height:100%">
										<div style="color:red; position:static; width:150%" ng-messages="HSWForm.annualpremium.$error" class="error-messages" ng-show="HSWForm.annualpremium.$invalid && (!HSWForm.annualpremium.$pristine || hswCtrl.click)">
											<div style="color:red" ng-message="min">Min Premium should be {{ hswCtrl.minAnnualPremium }}</div>
											<div style="color:red" ng-message="required">Premium cannot be empty.</div>
											<div ng-message="blockHash">Please do not use '#' or '|'.</div>
											<div ng-message="modValidator">Premium has to be in multiples of 1000</div>
											<div ng-message="maxlength">Premium should be less than 9 char.</div>
										</div>
									</div>
								</div>
							</div>
							<!--Go button-->
							<div class="inline-cntrl go-btn-wrap">
								<div class="go-btn" ng-click="hswCtrl.calculateData(HSWForm)">
									GO <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</form>
			</header>
			<div ng-dynamic-controller='ctrlName' class="hsw-wrapper">
				<!-- Based on the selection the HTML will get loaded here -->

				<!-- <div ng-include src="hswCtrl.htmlPath"></div> -->
				<div ng-include src="HSWMain.htmlPathSIP" class="hsw-innerwrapper"></div>

				<!-- <div ng-include src="hswCtrl.htmlPath"></div>    -->
			</div>
		</div>
	</ion-content>
</ion-view>
