<ion-pane class="fact-finderanalysis">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <div class="headertitle-wrap">
				<div class="menu-iconlogo-wrapper">
					<a ng-click="ff2Ctrl.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
				</div>
				<div class="createlead-wrapper">
					<h2 class="header-title text-center">Fact Finder For Need Analysis</h2>
				</div>
            	<div class="clearfix"></div>
            </div>

            <!-- TimeLine Wrapper -->
            <ff-timeline class="timeline-wrapper ff-timeline"></ff-timeline>
        </div>
    </ion-header-bar>


    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap">
                <form id="ffPage2Form" name="ffPage2Form"  novalidate>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">Please select your occupation<b style="color:red">*</b></label>
                                <div class="fact-radio-wrapper">
                                    <div class="fact-wrapper yes-wrapper">
                                        <input type="radio" id="rdoccupationSalaried" name="rdoccupation" ng-model="ff2Ctrl.rdoccupation"  value="Salaried" ng-click="ff2Ctrl.rdbusiness = null " ng-required="true" ng-change="ff2Ctrl.OccupationChanged()" required/>
                                        <label for="rdoccupationSalaried" class="form-label">Salaried</label>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="fact-wrapper yes-wrapper">
                                        <input type="radio" id="rdoccupationEmployed" name="rdoccupation" ng-model="ff2Ctrl.rdoccupation"  value="Self Employed/Businessman" ng-required="true" ng-change="ff2Ctrl.OccupationChanged()" required/>
                                        <label for="rdoccupationEmployed" class="form-label">Self Employed/Businessman</label>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="fact-wrapper yes-wrapper">
                                        <input type="radio" id="rdoccupationOther" name="rdoccupation" ng-model="ff2Ctrl.rdoccupation"  value="Other" ng-click="ff2Ctrl.rdbusiness = null" ng-required="true" ng-change="ff2Ctrl.OccupationChanged()" required/>
                                        <label for="rdoccupationOther" class="form-label">Other</label>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="other-text-boxwrap">
                                        <div class="form-group custom-form ">
                                            <input type="text" class="form-control custom-form text-center" placeholder="Other Specify" name="occOther" id="occOther"  ng-model='ff2Ctrl.occOther' ng-maxlength="50" ng-disabled="ff2Ctrl.rdoccupation=='Self Employed/Businessman' || ff2Ctrl.rdoccupation=='Salaried' || ff2Ctrl.rdoccupation==null" ng-required="ff2Ctrl.rdoccupation=='Other'" block-hash/>
                                            <div ng-messages="ffPage2Form.occOther.$error" class="error-messages" ng-show="ffPage2Form.occOther.$invalid && (!ffPage2Form.occOther.$pristine || ff2Ctrl.click)">
                                                <div ng-message="required">Please enter other Occupation.</div>
                                                <div ng-message="maxlength">Maximum 50 char only.</div>
                                                <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-messages="ffPage2Form.rdoccupation.$error" class="error-messages" ng-show="ffPage2Form.rdoccupation.$invalid && (!ffPage2Form.rdoccupation.$pristine || ff2Ctrl.click)">
                                <div ng-message="required">Please select Occupation.</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show ="ff2Ctrl.rdoccupation=='Self Employed/Businessman'">
                            <div class="form-group custom-form">
                                <label class="form-label">In case you are self employed, is your business <b style="color:red">*</b></label>
                                <div class="fact-radio-wrapper">
                                    <div class="fact-wrapper yes-wrapper">
                                        <!-- ng-checked="true"-->
                                        <input type="radio" id="rdbusinessSole" name="rdbusiness"  ng-model="ff2Ctrl.rdbusiness"  value="Sole proprietorship" ng-required="ff2Ctrl.rdoccupation=='Self Employed/Businessman'" ng-disabled="ff2Ctrl.rdoccupation=='Other' || ff2Ctrl.rdoccupation=='Salaried' || ff2Ctrl.rdoccupation==null" ng-change="ff2Ctrl.bussinessChanged()" required/>
                                        <label for="rdbusinessSole" class="form-label">Sole proprietorship</label>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="fact-wrapper yes-wrapper">
                                        <input type="radio" id="rdbusinessPrivate" name="rdbusiness"  ng-model="ff2Ctrl.rdbusiness"  value="Private / Public Limited Company" ng-required="ff2Ctrl.rdoccupation=='Self Employed/Businessman'" ng-disabled="ff2Ctrl.rdoccupation=='Other' || ff2Ctrl.rdoccupation=='Salaried' || ff2Ctrl.rdoccupation==null" ng-change="ff2Ctrl.bussinessChanged()" required/>
                                        <label for="rdbusinessPrivate" class="form-label">Private / Public Limited Company</label>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="fact-wrapper yes-wrapper">
                                        <input type="radio" id="rdbusinessPartnership" name="rdbusiness" ng-model="ff2Ctrl.rdbusiness"  value="Partnership" ng-required="ff2Ctrl.rdoccupation=='Self Employed/Businessman'" ng-disabled="ff2Ctrl.rdoccupation=='Other' || ff2Ctrl.rdoccupation=='Salaried' || ff2Ctrl.rdoccupation==null" ng-change="ff2Ctrl.bussinessChanged()" required/>
                                        <label for="rdbusinessPartnership" class="form-label">Partnership</label>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="fact-wrapper yes-wrapper">
                                        <input type="radio" id="rdbusinessOther" name="Other" ng-model="ff2Ctrl.rdbusiness"  value="Other" ng-required="ff2Ctrl.rdoccupation=='Self Employed/Businessman'" ng-maxlength="50" ng-disabled="ff2Ctrl.rdoccupation=='Other' || ff2Ctrl.rdoccupation=='Salaried' || ff2Ctrl.rdoccupation==null" ng-change="ff2Ctrl.bussinessChanged()" required/>
                                        <label for="rdbusinessOther" class="form-label">Other</label>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="other-text-boxwrap">
                                        <div class="form-group custom-form">
                                            <input type="text" class="form-control custom-form text-center" placeholder="Other Specify" name="Other2" id="occOther11"  ng-model='ff2Ctrl.occOther11' ng-maxlength="50" ng-disabled="ff2Ctrl.rdbusiness=='Sole proprietorship' || ff2Ctrl.rdbusiness=='Private / Public Limited Company' || ff2Ctrl.rdbusiness=='Partnership' || ff2Ctrl.rdbusiness==null" ng-required="ff2Ctrl.rdbusiness=='Other'" block-hash/>
                                            <div ng-messages="ffPage2Form.Other2.$error" class="error-messages" ng-show="ffPage2Form.Other2.$invalid && !ffPage2Form.Other2.$pristine">
                                                <div ng-message="required">Please enter Annual Income.</div>
                                                <div ng-message="maxlength">Maximum 50 char only.</div>
                                                <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-messages="ffPage2Form.rdbusiness.$error" class="error-messages" ng-show="ffPage2Form.rdbusiness.$invalid && (!ffPage2Form.rdbusiness.$pristine || ff2Ctrl.click)">
                                <div ng-message="required">Please select option.</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group custom-form">
                                <label class="form-label">Please select your Annual Income (in Rs.) <b style="color:red">*</b></label>
                                <div class="form-group custom-form">
                                    <input type="number" class="form-control custom-form text-center" placeholder="Annual Income " name="income" id="income"  ng-model='ff2Ctrl.AnnualIncome' ng-maxlength="15" required/>
                                </div>
                                <div ng-messages="ffPage2Form.income.$error" class="error-messages" ng-show="ffPage2Form.income.$invalid && (!ffPage2Form.income.$pristine || ff2Ctrl.click)">
                                    <div  ng-message="required">Please enter your Annual Income.</div>
                                    <div ng-message="maxlength">Maximum 15 char only.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="fact-table-wrapper">
                                <p class="fact-table-label">If you were to invest in your keys goals, how would you rank the below options in order of priority? Please also mention your existing investments, if any against each goals.<b style="color:red">*</b></p>
                                <div class="table-responsive fact-responsive-table">
                                    <table class="table table table-hover fact-table">
                                        <thead class="fact-thead">
                                            <tr class="fact-tr">
                                                <th class="fact-th">Need</th>
                                                <th>Rank 1 - 4
                                                    <br> ( I being the most important )</th>
                                                <th>Existing investments
                                                    <br> (instruments and value) </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="need-text">Prot</span>ection against death
                                                </td>
                                                <td>
                                                    <div class="form-group custom-form fact-table-input dash-border">
                                                        <div class="form-group custom-form">
                                                            <div class="custom-drp">
                                                                <select class="form-control" id="firstSelect" ng-model="ff2Ctrl.firstSelect"  ng-change="ff2Ctrl.check1()" name="firstSelect" required>
                                                                <option value="">Select</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                </select>
                                                                <div style="color:red" ng-messages="ffPage2Form.firstSelect.$invalid" class="error-messages" ng-show="ffPage2Form.firstSelect.$invalid && (!ffPage2Form.firstSelect.$pristine || ff2Ctrl.click)">
                                                                    <div style="color:red" ng-message="required">Required</div>
                                                                </div>
                                                                <!--<span ng-show="ffPage2Form.selectDeath.$invalid && ffPage2Form.selectDeath.$dirty || ffPage2Form.selectDeath.$invalid && ffPage2Form.selectDeath.$submitted " style="color: red">*Category Required</span>-->
                                                            </div>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group custom-form fact-table-input ">
                                                        <input type="number" class="form-control custom-form text-center" name="investDetail1"  ng-model="ff2Ctrl.investDetail1" placeholder="" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="need-text">Plan</span>ning for your child’s education</td>
                                                <td>
                                                    <div class="form-group custom-form fact-table-input dash-border">
                                                        <div class="form-group custom-form">
                                                            <!--                                    <label for="sel1" class="form-label">Channels of Sales</label>-->
                                                            <div class="custom-drp">
                                                            <select class="form-control" id="secondSelect" ng-model="ff2Ctrl.secondSelect"  ng-change="ff2Ctrl.check2()" required>
                                                                <option value="">Select</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
                                                                <option>4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div style="color:red" ng-messages="ffPage2Form.secondSelect.$invalid" class="error-messages" ng-show="ffPage2Form.secondSelect.$invalid && (!ffPage2Form.secondSelect.$pristine || ff2Ctrl.click)">
                                                            <div style="color:red" ng-message="required">Required</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group custom-form fact-table-input">
                                                        <input type="number" class="form-control custom-form text-center" name="investDetail2"  ng-model="ff2Ctrl.investDetail2" placeholder="" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="need-text">Savi</span>ng to meet long term goals</td>
                                                <td>
                                                    <div class="form-group custom-form fact-table-input dash-border">
                                                        <div class="form-group custom-form">
                                                            <!--                                    <label for="sel1" class="form-label">Channels of Sales</label>-->
                                                            <div class="custom-drp">
                                                                <select class="form-control" id="thirdSelect" ng-model="ff2Ctrl.thirdSelect"  ng-change="ff2Ctrl.check3()" required>
                                                                    <option value="">Select</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div style="color:red" ng-messages="ffPage2Form.thirdSelect.$invalid" class="error-messages" ng-show="ffPage2Form.thirdSelect.$invalid && (!ffPage2Form.thirdSelect.$pristine || ff2Ctrl.click)">
                                                            <div style="color:red" ng-message="required">Required</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group custom-form fact-table-input">
                                                        <input type="number" class="form-control custom-form text-center"name="investDetail3"  ng-model="ff2Ctrl.investDetail3" placeholder="" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><span class="need-text">Plan</span>ning for regular income after retirement</td>
                                                <td>
                                                    <div class="form-group custom-form fact-table-input dash-border">
                                                        <div class="form-group custom-form">
                                                            <!--                                    <label for="sel1" class="form-label">Channels of Sales</label>-->
                                                            <div class="custom-drp">
                                                                <select class="form-control" id="forthSelect" ng-model="ff2Ctrl.forthSelect" ng-change="ff2Ctrl.check4()" required>
                                                                    <option value="">Select</option>
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div style="color:red" ng-messages="ffPage2Form.forthSelect.$invalid" class="error-messages" ng-show="ffPage2Form.forthSelect.$invalid && (!ffPage2Form.forthSelect.$pristine || ff2Ctrl.click)">
                                                            <div style="color:red" ng-message="required">Required</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group custom-form fact-table-input">
                                                        <input type="number" class="form-control custom-form text-center" name="investDetail4"  ng-model="ff2Ctrl.investDetail4" placeholder="" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                 <td>
                                                     <p>Primary Unfulfilled Need</p>
                                                 </td>
                                                 <td>
                                                     <div class="form-group custom-form fact-table-input dash-border">
                                                         <div class="form-group custom-form">
                                                             &lt;!&ndash;                                    <label for="sel1" class="form-label">Channels of Sales</label>&ndash;&gt;
                                                             <div class="custom-drp">
                                                                 <select class="form-control" ng-model="ff2Ctrl.fifthselect"  ng-change="ff2Ctrl.check5()">
                                                                     <option selected></option>
                                                                     <option>1</option>
                                                                     <option>2</option>
                                                                     <option>3</option>
                                                                     <option>4</option>
                                                                     <option>5</option>
                                                                 </select>
                                                             </div>
                                                         </div>
                                                     </div>
                                                 </td>
                                                 <td>
                                                     <div class="form-group custom-form fact-table-input">
                                                         <input type="text" class="form-control custom-form text-center" placeholder="" />
                                                     </div>
                                                 </td>
                                             </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 center-block pull-none">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="custom-btn form-btn-wrap fact-btn-left">
                                                <button class="btn btn-default btn-block" ng-click="ff2Ctrl.Backbtn2()">Back</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="custom-btn form-btn-wrap fact-btn-right">
                                                <button class="btn btn-default btn-block"  type="submit" ng-click="ff2Ctrl.ContSavePage2(ffPage2Form)">Continue</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-pane>
