<ion-view>
	<ion-content has-bouncing ="false">
		<!--Dashboard Wrapper-->
		<div class="dashboard-wrapper">
			<!-- header -->
			<header>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="header_top">
						<div class="logo-block pull-left">
							<a ng-click="hswULIP.openMenu()" class="click-menu">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</a>
							<img src="../img/tata-logo.png" alt="Tata AIA Logo" class="main-logo">
						</div>
						<div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>
						<div class="clearfix"></div>
					</div>
				</div>
			</header>
		</div>
		<div>
			<header>
				<form id="HSWULIPForm" name="HSWULIPForm" novalidate>
					<div class="policy-calculator">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<!--Policy Term-->
							<div class="inline-cntrl input-width ulip-text-box ulip-policyterm">
								<div class="calculator-label">
									Policy Term
								</div>
								<div class="calculator-cntrl">
									<input type="text" class="transperant-cntrl basic-sum-box" ng-model="hswULIP.policyTerm" readonly />
								</div>
							</div>
							<!--Policy Payment Term-->
							<div class="inline-cntrl input-width ulip-text-box ulip-premiumpaymentterm">
								<div class="calculator-label">
									Premium Payment Term
								</div>
								<div class="custom-drp calculator-cntrl">
								<!-- item as item.name for item in items -->
									<select class="transperant-cntrl form-control"  ng-options="selectedTerm.PPT for selectedTerm in hswULIP.pptArrList" ng-model="hswULIP.selectedTerm" name="policyterm" ng-change="hswULIP.updateBasedOnPPT(hswULIP.selectedTerm)">
										
									</select>
								</div>
							</div>
							<!--Insured Age-->
							<div class="inline-cntrl input-width ulip-text-box ulip-insuredage">
								<div class="calculator-label">
									insured age
								</div>
								<div class="calculator-cntrl">
									<input type="number" class="transperant-cntrl" name="insuredAge" ng-model="hswULIP.minAge" ng-max="hswULIP.maxAge" ng-min="hswULIP.minAge" ng-blur="hswULIP.setPremMult()" ng-change="hswULIP.updatePaymentTerm()"  required block-hash ng-maxlength="3" />
								</div>
								<div style="position:relative; padding:5px 0 0 0; height:100%">
								<div style="color:red; position:static; width:150%" ng-messages="HSWULIPForm.insuredAge.$error" class="error-messages" ng-show="HSWULIPForm.insuredAge.$invalid && (!HSWULIPForm.insuredAge.$pristine || hswULIP.click)">
									<div style="color:red" ng-message="min">Min age should be {{ hswULIP.minAge }}</div>
									<div style="color:red" ng-message="max">Max age should be {{ hswULIP.maxAge }}</div>
									<div style="color:red" ng-message="required">Age cannot be empty.</div>
									<div style="color:red" ng-message="maxlength">Age should be less than 4 character.</div>
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
								</div>
								</div>
							</div>
							<!--Annual Premium-->
							<div class="inline-cntrl input-width ulip-annualpremium">
								<div class="calculator-label">
									Annual Premium
								</div>
								<div class="calculator-cntrl">
								<input type="number" class="transperant-cntrl" name="annualpremium" ng-change="hswULIP.setPremMult()" ng-model="hswULIP.minAnnualPremium" ng-min="hswULIP.mAP" ng-max="hswULIP.maxAnnualPremium" required block-hash ng-maxlength="8"  valid-number />
									
								</div>
								<div style="position:relative; padding:5px 0 0 0; height:100%">
									<div style="color:red; position:static; width:150%" ng-messages="HSWULIPForm.annualpremium.$error" class="error-messages" ng-show="HSWULIPForm.annualpremium.$invalid && (!HSWULIPForm.annualpremium.$pristine || hswULIP.click)">
										<div style="color:red" ng-message="min">Min Premium should be {{ hswULIP.mAP }}</div>
										<div style="color:red" ng-message="max">Max Premium should be {{ hswULIP.maxAnnualPremium }}</div>
										<div style="color:red" ng-message="required">Annual Premium No cannot be empty.</div>
										<div ng-message="blockHash">Please do not use '#' or '|'.</div>
										<div ng-message="maxlength">Premium should be less than 9 character.</div>
										<div ng-message="modValidator">Premium has to be in multiples of 1000</div>
									</div>
									</div>
							</div>
							<!--Annual Premium-->
							<!--Sum Assured-->
							<div class="inline-cntrl input-width ulip-sumAssured">
								<div class="calculator-label">
									Basic Sum Assured
								</div>
								<div class="calculator-cntrl">
									<input type="number" class="transperant-cntrl" name="sum-assured" ng-model="hswULIP.sumAssuredVal" disabled/>
								</div>
							</div>
							<!--Sum Assured-->
							<div class="inline-cntrl input-width annual-premium switch-button">
								<ion-toggle ion-toggle-text="4%;8%" ng-model="hswULIP.optionVal" ng-checked="true">
									<div class="calculator-label">
							    		Gross Yield % <span id="toggleval" class="hide"></span>
							    	</div>
							  	</ion-toggle>
							</div>
							<!--Go button-->
							<div class="inline-cntrl go-btn-wrap ulip-gobtn">
								<div class="go-btn" ng-click="hswULIP.calculateData(HSWULIPForm)">
									GO <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</form>
			</header>
			<div ng-dynamic-controller='ctrlName'>
				<!-- Based on the selection the HTML will get loaded here -->

				<!-- <div ng-include src="hswCtrl.htmlPath"></div> -->
				<div id="dynamicTemplateDiv" ng-include src="HSWMain.htmlPathSIP"></div>

				<!-- <div ng-include src="hswCtrl.htmlPath"></div>    -->
			</div>
		</div>
	</ion-content>
</ion-view>
