<ion-view>
	<ion-content has-bouncing ="false">
		<fhr-header></fhr-header>
		<div class="clearfix"></div>
		<div class="FHR-outerwrap FHR-goalsdetails" ng-style="{height: fhrprot.outerWrapInnerHeight +'px'}">
			<fhr-left-personal-details></fhr-left-personal-details>
			<!-- Other -->
			<div class="other-titlewrap">
				<div class="other-innertitlewrap">
					<div class="innercontent-wrap other-tab">
						<a href="javascript:void(0);" ng-click="fhrprot.redirObj.gotoOthersTab();"><span class="fhr-tab-title tab-other-tilte">Other</span></a>
					</div>
				</div>
			</div>
			<!-- Goals -->
			<div class="innercontent-wrap tab-innercontent-wrap">
				<form name="fhrProtectionForm" id="fhrProtectionForm" novalidate style="position:relative">
					<ion-content has-bouncing ="false">
						<div class="fhr-container fhr-goals fhr-protection-goals">
							
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<h2 class="fhr-title"><span class="fhr-title-icon"><img src="../img/icon_protection.svg" alt="Protection Goals" /></span><span>Protection Goal</span></h2>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Insurance Required (With Inflation)<span class="requiredStar">*</span> </label>
														<div class="custom-form-plus-minus">
															<select class="form-control" id="insInfFlag" name="insInfFlag" ng-model="fhrprot.insInfFlag" select-required>
																<!--<option disabled="disabled"></option>-->
																<option value="Y">Yes</option>
																<option value="N">No</option>
															</select>
														</div>
													</div>
													<div ng-messages="fhrProtectionForm.insInfFlag.$error" class="error-messages" ng-show="fhrProtectionForm.insInfFlag.$invalid && !fhrProtectionForm.insInfFlag.$pristine">
														<div ng-message="required">Please select Insurance Required.</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Existing insurance cover<span class="requiredStar">*</span> </label>
														<div class="input_with_sidelabel">
															<input type="number" class="form-control custom-form" placeholder="Existing insurance cover"  name="exInsCover" id="exInsCover"  ng-model="fhrprot.exInsCover"  ng-min="0" ng-max="1000000000"  required />
														</div>
														<span class="fhr-value-field">(Rs)</span>
													</div>
													<div ng-messages="fhrProtectionForm.exInsCover.$error" class="error-messages" ng-show="fhrProtectionForm.exInsCover.$invalid && !fhrProtectionForm.exInsCover.$pristine">
														<div ng-message="required">Please enter Existing insurance cover.</div>
														<div ng-message="max">Insurance cover cannot be greater than 1000000000.</div>
														<div ng-message="min">Insurance cover cannot be less than zero.</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Current interest rate<span class="requiredStar">*</span> </label>
														<div class="custom-form-plus-minus">
															<button ng-click="fhrprot.currInterest = (fhrprot.currInterest>1?fhrprot.currInterest-1:fhrprot.currInterest)"> -</button>
															<input type="number" class="dec-inc_field" placeholder="Current intrest rate" name="currInterest" id="currInterest"  ng-model="fhrprot.currInterest" ng-min="fhrprot.inflRate" ng-max="10" required/>
															<button  ng-click="fhrprot.currInterest = fhrprot.currInterest+1">+</button>
														</div>
														<span class="fhr-value-field">(%)</span>
													</div>
													<div ng-messages="fhrProtectionForm.currInterest.$error" class="error-messages" ng-show="fhrProtectionForm.currInterest.$invalid">
														<div ng-message="required">Please Current intrest rate.</div>
														<div ng-message="max">Interest rate cannot be greater than 10%.</div>
														<div ng-message="min">Interest rate cannot be less inflation rate.</div>
													</div>
												</div>
											</div>
										</div>
										<!-- end of left side  -->
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div class="row">
												<div ng-class="(fhrprot.insInfFlag=='Y'?'col-xs-12 col-sm-12 col-md-12 col-lg-12' : 'col-xs-12 col-sm-12 col-md-12 col-lg-12 disabled-div')">
													<div class="form-group custom-form">
														<label class="form-label">Rate of Inflation<span class="requiredStar">*</span> </label>
														<div class="custom-form-plus-minus">
															<button ng-click="fhrprot.inflRate = (fhrprot.inflRate>1?fhrprot.inflRate-1:fhrprot.inflRate)"> -</button>
															<input type="number" class="dec-inc_field" ng-disabled="fhrprot.insInfFlag=='N'" placeholder="Rate of Inflation" name="inflRate" id="inflRate" ng-model="fhrprot.inflRate"  ng-min="5" ng-max="10" required/>
															<button  ng-click="fhrprot.inflRate = fhrprot.inflRate+1">+</button>
														</div>
														<span class="fhr-value-field">(%)</span>
													</div>
													<div ng-messages="fhrProtectionForm.inflRate.$error" class="error-messages" ng-show="fhrProtectionForm.inflRate.$invalid">
														<div ng-message="required">Please enter Rate of Inflation.</div>
														<div ng-message="max">Rate cannot be greater than 10%.</div>
														<div ng-message="min">Rate cannot be less than 5%.</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 disabled-div">
													<div class="form-group custom-form">
														<label class="form-label">Manage monthly family expense<span class="requiredStar">*</span> </label>
														<div class="input_with_sidelabel">
															<input type="number" class="form-control custom-form"  placeholder="Monthly family expense"  name="expMonth" id="expMonth"  ng-model="fhrprot.expMonth" ng-min="0" />
														</div>
														<span class="fhr-value-field">(Rs)</span>
													</div>
													<div ng-messages="fhrProtectionForm.expMonth.$error" class="error-messages" ng-show="fhrProtectionForm.expMonth.$invalid && !fhrProtectionForm.expMonth.$pristine">
														<div ng-message="required">Please enter monthly family expense.</div>
													</div>
												</div>
												<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												 <div class="form-group custom-form">
												 <label class="form-label">Monthly expenses(excluded loan)<span class="requiredStar">*</span> </label>
												 <span class="fhr-value-field">{{fhrprot.ANN_EXP_HOUSEHOLD}} (Rs)</span>
												 </div>
												 </div>-->
											</div>
										</div>
										<!-- end of right side  -->
									</div>
								</div>
							
						</div>
					</ion-content>
				</form>
			</div>
			<!-- Outputs -->
			<div class="output-titlewrap">
				<div class="output-innertitlewrap">
					<div class="innercontent-wrap output-tab">
						<a href="javascript:void(0);" ng-click="(fhrprot.goalsCountData.childsCount == 0 && fhrprot.goalsCountData.retirementCount == 0 && fhrprot.goalsCountData.protectionCount == 0 && fhrprot.goalsCountData.wealthCount == 0) ? fhrprot.redirObj.showError('Please add atleast 1 goal.') : fhrprot.redirObj.gotoOutputTab();"><span class="fhr-tab-title tab-output-title">Output</span></a>
					</div>
				</div>
			</div>
			<!-- Recommendation -->
			<div class="recommendation-titlewrap">
				<div class="recommendation-innertitlewrap">
					<div class="innercontent-wrap recommendation-tab">
						<a href="javascript:void(0);" ng-click="(fhrprot.goalsCountData.childsCount == 0 && fhrprot.goalsCountData.retirementCount == 0 && fhrprot.goalsCountData.protectionCount == 0 && fhrprot.goalsCountData.wealthCount == 0) ? fhrprot.redirObj.showError('Please add atleast 1 goal.') : fhrprot.redirObj.gotoRecommendationTab();"><span class="fhr-tab-title tab-recomm-tilte">Recommendation</span></a>
					</div>
				</div>
			</div>
			<div class="fhr-next-btn" style="right:10px">
				<button class="next-btn-link" ng-disabled="fhrProtectionForm.$invalid" type="submit" ng-click="fhrprot.onNext(fhrProtectionForm)"><span class="next-btn-txt">Next</span><span  ng-class="(fhrProtectionForm.$invalid) ? 'next-btn-icon next-btn-icon-disabled' : 'next-btn-icon'"><i class="fa fa-arrow-right"></i></span></button>
			</div>
			<div class="fhr-next-btn fhr-prev-btn">
				<button class="next-btn-link" type="submit" ng-click="fhrprot.onPrev()"><span class="next-btn-icon"><i class="fa fa-arrow-left"></i></span><span class="next-btn-txt">Prev</span></button>
			</div>
		</div>
	</ion-content>
</ion-view>
