<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<pi-timeline class="tab-nav"></pi-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<!-- Personal Details Application Form -->
		<div class="app-form-inner-content">
			<form name="addressForm" id="addressForm">
				<!-- Insured -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-class="{ProposerCondition:addrDet.isSelf}">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">Insured</label>
								<div class="check-box-wrap personal_checkbox" ng-hide="addrDet.isSelf">
									<input type="checkbox" id="chkInsSameAsPropAddr" ng-model="addrDet.addressDetBean.AddSameProposer"  ng-disabled="addrDet.isSelf" ng-change="addrDet.copyProposerAddressToInsured()"/>
									<label for="chkInsSameAsPropAddr">
										Address-Same as Proposer.
									</label>
								</div>
							</div>
						</div>
						<div class="insured_full">
							<!-- Resident -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Resident<span class="requiredStar">*</span></label>
									<div class="custom-drp">
										<select class="form-control" name="resident" ng-model="addrDet.addressDetBean.INSURED_RESIDENT_STATUS"  ng-options="option.RESIDENT_STATUS for option in addrDet.residentStatusList track by option.RESIDENT_CD" ng-change="addrDet.onInsResidentChange(addressForm)" ng-disabled="addrDet.disableResStatus || addrDet.addressDetBean.AddSameProposer" select-required>
										</select>
									</div>
								</div>
								<div ng-messages="addressForm.resident.$error" class="error-messages" ng-show="addressForm.resident.$invalid && (!addressForm.resident.$pristine || addrDet.click)">
									<div ng-message="selectRequired">Please select an option.</div>
								</div>
							</div>
							<!-- Nationality -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form" ng-show="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='FN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='OCI'">
									<label class="form-label">Nationality<span class="requiredStar">*</span></label>
									<div class="custom-drp">
									<select class="form-control" name="nationality" ng-disabled="addrDet.addressDetBean.AddSameProposer" ng-model="addrDet.addressDetBean.INSURED_NATIONALITY" ng-options="option.COUNTRY_NAME for option in addrDet.nationalityList track by option.COUNTRY_CODE" select-required="(addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='FN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='OCI')">
										</select>
									</div>
								</div>
								<div ng-messages="addressForm.nationality.$error" class="error-messages" ng-show="addressForm.nationality.$invalid && (!addressForm.nationality.$pristine || addrDet.click)">
									<div ng-message="selectRequired">Please select an option.</div>
								</div>
							</div>
							<!-- Country Of Residence-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form" ng-show="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='NRI' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='FN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='OCI'">
									<label class="form-label">Country of Residence<span class="requiredStar">*</span></label>
									<div class="custom-drp">
										<select class="form-control" name="resiCountry" ng-model="addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY" ng-options="option.COUNTRY_NAME disable when (option.COUNTRY_CODE == 'IN' && addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='NRI') for option in addrDet.residentCountryList track by option.COUNTRY_CODE" ng-change="addrDet.onInsCountryOfResidenceChange(addressForm)" ng-disabled="addrDet.disableCountryOfRes || addrDet.addressDetBean.AddSameProposer" select-required="(addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='NRI' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='FN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='OCI')">
										</select>
									</div>
								</div>
								<div ng-messages="addressForm.resiCountry.$error" class="error-messages" ng-show="addressForm.resiCountry.$invalid && (!addressForm.resiCountry.$pristine || addrDet.click)">
									<div ng-message="selectRequired">Please select an option.</div>
								</div>
							</div>
							<!-- Country Of Birth-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Country of Birth<span class="requiredStar">*</span></label>
									<div class="custom-drp city-drp-dwn">
										<!--<select class="form-control" name="birthCountry" ng-model="addrDet.addressDetBean.INSURED_BIRTH_COUNTRY" ng-options="option.COUNTRY_NAME for option in addrDet.birthCountryList track by option.COUNTRY_CODE" select-required>-->
										<!--</select>-->
										<div custom-select=" s.COUNTRY_NAME for s in addrDet.birthCountryList | filter: { COUNTRY_NAME: $searchTerm } track by s.COUNTRY_CODE" ng-model="addrDet.addressDetBean.INSURED_BIRTH_COUNTRY" name="birthCountry"   select-required></div>
									</div>
								</div>
								<div ng-messages="addressForm.birthCountry.$error" class="error-messages" ng-show="addressForm.birthCountry.$invalid && (!addressForm.birthCountry.$pristine || addrDet.click)">
									<div ng-message="selectRequired">Please select an option.</div>
								</div>
							</div>

							<!--INSURED CURRENT Address 1 -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Address 1<span class="requiredStar">*</span></label>
									<input type="text" class="form-control" name="addr1"  ng-model="addrDet.addressDetBean.INSURED_CURR_ADDR1" ng-disabled="addrDet.insEKYCFlag || addrDet.addressDetBean.AddSameProposer" ng-change="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME && addrDet.copyInsuredCurrAddressToPerm()" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" required block-hash/>
								</div>
								<div ng-messages="addressForm.addr1.$error" class="error-messages" ng-show="addressForm.addr1.$invalid && (!addressForm.addr1.$pristine || addrDet.click)">
									<div ng-message="required">Please enter address</div>
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="maxlength">Address1 cannot be more than 45 characters.</div>
									<div ng-message="pattern">Enter valid Address excluding special characters</div>
								</div>
							</div>
							<!-- Address 2 -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Address 2</label>
									<input type="text" class="form-control" name="addr2" ng-disabled="addrDet.insEKYCFlag || addrDet.addressDetBean.AddSameProposer" ng-model="addrDet.addressDetBean.INSURED_CURR_ADDR2" ng-change="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME && addrDet.copyInsuredCurrAddressToPerm()" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" block-hash/>
								</div>
								<div ng-messages="addressForm.addr2.$error" class="error-messages" ng-show="addressForm.addr2.$invalid && (!addressForm.addr2.$pristine || addrDet.click)">
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="maxlength">Address2 cannot be more than 45 characters.</div>
									<div ng-message="pattern">Enter valid Address excluding special characters</div>
								</div>
							</div>
							<!-- Address 3 -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Address 3</label>
									<input type="text" class="form-control" name="addr3" ng-disabled="addrDet.insEKYCFlag || addrDet.addressDetBean.AddSameProposer" ng-model="addrDet.addressDetBean.INSURED_CURR_ADDR3" ng-change="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME && addrDet.copyInsuredCurrAddressToPerm()" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" block-hash/>
								</div>
								<div ng-messages="addressForm.addr3.$error" class="error-messages" ng-show="addressForm.addr3.$invalid && (!addressForm.addr3.$pristine || addrDet.click)">
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="maxlength">Address3 cannot be more than 45 characters.</div>
									<div ng-message="pattern">Enter valid Address excluding special characters</div>
								</div>
							</div>
							<!-- Landmark -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Landmark<!--<span class="requiredStar">*</span>--></label>
									<input type="text" class="form-control" name="landmark" ng-disabled="addrDet.insEKYCFlag || addrDet.addressDetBean.AddSameProposer" ng-model="addrDet.addressDetBean.INSURED_CURR_LANDMARK" ng-change="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME && addrDet.copyInsuredCurrAddressToPerm()" ng-maxlength="45" ng-pattern="addrDet.freeTxtRegex" block-hash/> <!--required-->
								</div>
								<div ng-messages="addressForm.landmark.$error" class="error-messages" ng-show="addressForm.landmark.$invalid && (!addressForm.landmark.$pristine || addrDet.click)">
								<div ng-message="pattern">Enter valid landmark excluding special characters</div>
									<!-- <div ng-message="required">Please enter Landmark</div> -->
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="pattern">Enter valid landmark excluding special characters</div>
									<div ng-message="maxlength">Landmark cannot be more than 45 characters.</div>
								</div>
							</div>
							<!-- State & City -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row" ng-hide="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE!='IN' && addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS!='Select ' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME!='Select '">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">State<span class="requiredStar">*</span></label>
											<div class="custom-drp city-drp-dwn">
												<!--<select class="form-control" name="state" ng-model="addrDet.addressDetBean.INSURED_CURR_STATE" ng-options="option.STATE_DESC for option in addrDet.insStateList track by option.STATE_CODE" ng-disabled="addrDet.insEKYCFlag" ng-change="addrDet.onInsuredChangeState()" select-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE=='IN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS=='Select ' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME=='Select '">-->
												<!--</select>-->
												<div custom-select=" s.STATE_DESC for s in addrDet.insStateList | filter: { STATE_DESC: $searchTerm } track by s.STATE_CODE" ng-model="addrDet.addressDetBean.INSURED_CURR_STATE" name="state" ng-disabled="addrDet.insEKYCFlag || addrDet.disableState || addrDet.addressDetBean.AddSameProposer" ng-change="addrDet.onInsuredChangeState()"  select-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE=='IN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS=='Select ' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME=='Select '" ></div>
											</div>
										</div>
										<div ng-messages="addressForm.state.$error" class="error-messages" ng-show="(addressForm.state.$invalid && (!addressForm.state.$pristine || addrDet.click))">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">City<span class="requiredStar">*</span></label>
											<div class="custom-drp city-drp-dwn">
												<!--<select class="form-control" name="city" ng-model="addrDet.addressDetBean.INSURED_CURR_CITY" ng-options="option.CITY_DESC for option in addrDet.insCityList track by option.CITY_CODE" ng-change="addrDet.onInsuredChangeCity()" ng-disabled="addrDet.insEKYCFlag" select-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE=='IN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS=='Select ' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME=='Select '">-->
												<!--</select>-->
												<div custom-select=" s.CITY_DESC for s in addrDet.insCityList | filter: { CITY_DESC: $searchTerm } track by s.CITY_CODE" ng-model="addrDet.addressDetBean.INSURED_CURR_CITY" name="city" ng-disabled="addrDet.insEKYCFlag || addrDet.disableCity ||addrDet.addressDetBean.AddSameProposer " ng-change="addrDet.onInsuredChangeCity()" select-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE=='IN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS=='Select ' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME=='Select '" ></div>
											</div>
										</div>
										<div ng-messages="addressForm.city.$error" class="error-messages" ng-show="(addressForm.city.$invalid && (!addressForm.city.$pristine || addrDet.click))">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<!--Other City Name-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="addrDet.addressDetBean.INSURED_CURR_CITY.CITY_CODE =='OT'">
										<div class="form-group custom-form">
											<label class="form-label">Other City Name</label>
											<input type="text" class="form-control custom-form" ng-disabled="addrDet.addressDetBean.AddSameProposer" name="OCityName1"  ng-model='addrDet.addressDetBean.INSURED_CURR_OtherCityName' placeholder="Other City Name" ng-maxlength="20" block-hash/>
										</div>
										<div ng-messages="addressForm.OCityName1.$error" class="error-messages" ng-show="addressForm.OCityName1.$invalid && !addressForm.OCityName1.$pristine">
											<div ng-message="maxlength">Maximum 20 chars only.</div>
											<div ng-message="blockHash">Please do not use '#' or '|'.</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Other State & City -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row" ng-show="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE!='IN' && addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS!='Select ' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME!='Select '">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Other State</label>
										<input type="text" class="form-control" name="otherState" ng-disabled="addrDet.addressDetBean.AddSameProposer" ng-model="addrDet.addressDetBean.INSURED_CURR_STATE_OTHER" ng-change="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME && addrDet.copyInsuredCurrAddressToPerm()" ng-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE!='IN'" ng-maxlength="30" ng-pattern="addrDet.freeTxtRegex" required block-hash/>
										</div>
										<div ng-messages="addressForm.otherState.$error" class="error-messages" ng-show="addressForm.otherState.$invalid && (!addressForm.otherState.$pristine || addrDet.click)">
											<div ng-message="required">Please enter Other State</div>
											<div ng-message="blockHash">Please do not use '#' or '|'.</div>
										<div ng-message="pattern">Enter valid state excluding special characters</div>
											<div ng-message="maxlength">Other State cannot be more than 30 characters.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Other City</label>
											<input type="text" class="form-control" name="otherCity" ng-disabled="addrDet.addressDetBean.AddSameProposer" ng-model="addrDet.addressDetBean.INSURED_CURR_CITY_OTHER" ng-change="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME && addrDet.copyInsuredCurrAddressToPerm()" ng-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE!='IN'" ng-maxlength="30" ng-pattern="addrDet.freeTxtRegex" required block-hash/>
										</div>
										<div ng-messages="addressForm.otherCity.$error" class="error-messages" ng-show="addressForm.otherCity.$invalid && (!addressForm.otherCity.$pristine || addrDet.click)">
											<div ng-message="required">Please enter Other City</div>
											<div ng-message="blockHash">Please do not use '#' or '|'.</div>
											<div ng-message="pattern">Enter valid city excluding special characters</div>
											<div ng-message="maxlength">Other City cannot be more than 30 characters.</div>
										</div>
									</div>
								</div>
							</div>
							<!--Pincode-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Pin Code<span class="requiredStar">*</span></label>
									<input type="number" class="form-control" name="pincode"  ng-model="addrDet.addressDetBean.INSURED_CURR_PINCODE" ng-disabled="addrDet.insEKYCFlag || addrDet.addressDetBean.AddSameProposer" ng-change="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME && addrDet.copyInsuredCurrAddressToPerm()" ng-pattern="addrDet.pinRegex" ng-minlength="6" ng-maxlength="6" required/>
								</div>
								<div ng-messages="addressForm.pincode.$error" class="error-messages" ng-show="addressForm.pincode.$invalid && (!addressForm.pincode.$pristine || addrDet.click)">
									<div ng-message="required">Please enter PIN Code.</div>
									<div ng-message="pattern">Please enter valid PIN Code.</div>
									<div ng-message="maxlength">Pincode should not exceed 6 digits.</div>
									<div ng-message="minlength">Pincode should be minimum 6 digits.</div>
								</div>
							</div>
							<!--Address Repeat-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<div class="check-box-wrap">
									<input type="checkbox" id="chkInsSameAsCurrAddr" ng-disabled="addrDet.addressDetBean.AddSameProposer" ng-model="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME" ng-change="addrDet.copyInsuredCurrAddressToPerm()"/>
										<label for="chkInsSameAsCurrAddr">
											Permanent Residential Address - Same as above.
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="insured_full">
						<!-- INSURED Permanent Address Details -->
							<!-- Address 1 -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Address 1<span class="requiredStar">*</span></label>
									<input type="text" class="form-control" name="permAddr1"  ng-model="addrDet.addressDetBean.INSURED_PERM_ADDR1" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME || addrDet.addressDetBean.AddSameProposer" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" required block-hash/>
								</div>
								<div ng-messages="addressForm.permAddr1.$error" class="error-messages" ng-show="addressForm.permAddr1.$invalid && (!addressForm.permAddr1.$pristine || addrDet.click)">
									<div ng-message="required">Please enter Address</div>
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="maxlength">Address1 cannot be more than 45 characters.</div>
									<div ng-message="pattern">Enter valid Address excluding special characters</div>
								</div>
							</div>
							<!-- Address 2 -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Address 2</label>
									<input type="text" class="form-control" name="permAddr2"  ng-model="addrDet.addressDetBean.INSURED_PERM_ADDR2" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME || addrDet.addressDetBean.AddSameProposer" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" block-hash/>
								</div>
								<div ng-messages="addressForm.permAddr2.$error" class="error-messages" ng-show="addressForm.permAddr2.$invalid && (!addressForm.permAddr2.$pristine || addrDet.click)">
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="maxlength">Address2 cannot be more than 45 characters.</div>
									<div ng-message="pattern">Enter valid Address excluding special characters</div>
								</div>
							</div>
							<!-- Address 3 -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Address 3</label>
									<input type="text" class="form-control" name="permAddr3"  ng-model="addrDet.addressDetBean.INSURED_PERM_ADDR3" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME || addrDet.addressDetBean.AddSameProposer" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" block-hash/>
								</div>
								<div ng-messages="addressForm.permAddr3.$error" class="error-messages" ng-show="addressForm.permAddr3.$invalid && (!addressForm.city.$pristine || addrDet.click)">
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="maxlength">Address3 cannot be more than 45 characters.</div>
									<div ng-message="pattern">Enter valid Address excluding special characters</div>
								</div>
							</div>
							<!-- Landmark -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Landmark<!--<span class="requiredStar">*</span>--></label>
									<input type="text" class="form-control" name="permLandmark"  ng-model="addrDet.addressDetBean.INSURED_PERM_LANDMARK" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME || addrDet.addressDetBean.AddSameProposer" ng-maxlength="45" ng-pattern="addrDet.freeTxtRegex" block-hash/> <!--required-->
								</div>
								<div ng-messages="addressForm.permLandmark.$error" class="error-messages" ng-show="addressForm.permLandmark.$invalid && (!addressForm.permLandmark.$pristine || addrDet.click)">
									<!--<div ng-message="required">Please enter Landmark.</div>-->
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="pattern">Enter valid landmark excluding special characters</div>
									<div ng-message="maxlength">Landmark cannot be more than 45 characters.</div>
								</div>
							</div>
							<!-- State & City -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row" ng-hide="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE!='IN' && addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS!='Select ' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME!='Select '">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">State<span class="requiredStar">*</span></label>
											<div class="custom-drp  city-drp-dwn">
												<!--<select class="form-control" name="permState" ng-model="addrDet.addressDetBean.INSURED_PERM_STATE" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME" ng-options="option.STATE_DESC for option in addrDet.insPStateList track by option.STATE_CODE" ng-change="addrDet.onInsuredChangePState()" select-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE=='IN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS=='Select ' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME=='Select '">-->
												<!--</select>-->

												<div custom-select=" s.STATE_DESC for s in addrDet.insPStateList | filter: { STATE_DESC: $searchTerm } track by s.STATE_CODE" ng-model="addrDet.addressDetBean.INSURED_PERM_STATE" name="permState"  ng-change="addrDet.onInsuredChangePState()" select-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE=='IN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS=='Select ' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME=='Select '" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME || addrDet.addressDetBean.AddSameProposer"></div>
											</div>
										</div>

										<div ng-messages="addressForm.permState.$error" class="error-messages" ng-show="(addressForm.permState.$invalid && (!addressForm.permState.$pristine || addrDet.click))">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">City<span class="requiredStar">*</span></label>
											<div class="custom-drp city-drp-dwn">
												<!--<select class="form-control" name="permCity" ng-model="addrDet.addressDetBean.INSURED_PERM_CITY" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME" ng-options="option.CITY_DESC for option in addrDet.insPCityList track by option.CITY_CODE" select-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE=='IN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS=='Select ' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME=='Select '">-->
												<!--</select>-->


												<div custom-select=" s.CITY_DESC for s in addrDet.insPCityList | filter: { CITY_DESC: $searchTerm } track by s.CITY_CODE" ng-model="addrDet.addressDetBean.INSURED_PERM_CITY" name="permCity" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME || addrDet.addressDetBean.AddSameProposer"  select-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE=='IN' || addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS=='Select ' || addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME=='Select '" ></div>
											</div>
										</div>
										<div ng-messages="addressForm.permCity.$error" class="error-messages" ng-show="(addressForm.permCity.$invalid && (!addressForm.permCity.$pristine || addrDet.click))">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<!--Other City Name-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="addrDet.addressDetBean.INSURED_PERM_CITY.CITY_DESC =='Others'">
										<div class="form-group custom-form">
											<label class="form-label">Other City Name</label>
											<input type="text" class="form-control custom-form"  name="OCityName2" ng-disabled="addrDet.addressDetBean.AddSameProposer"  ng-model='addrDet.addressDetBean.INSURED_PERM_OtherCityName' placeholder="Other City Name" ng-maxlength="20" block-hash/>
										</div>
										<div ng-messages="addressForm.OCityName2.$error" class="error-messages" ng-show="addressForm.OCityName2.$invalid && !addressForm.OCityName2.$pristine">
											<div ng-message="maxlength">Maximum 20 chars only.</div>
											<div ng-message="blockHash">Please do not use '#' or '|'.</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Other State & City -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row" ng-show="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE!='IN' && addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_STATUS!='Select ' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_NAME!='Select '">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Other State</label>
											<input type="text" class="form-control" name="permOtherState"  ng-model="addrDet.addressDetBean.INSURED_PERM_STATE_OTHER" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME || addrDet.addressDetBean.AddSameProposer" ng-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE!='IN'" ng-maxlength="30" ng-pattern="addrDet.freeTxtRegex" required block-hash/>
										</div>
										<div ng-messages="addressForm.permOtherState.$error" class="error-messages" ng-show="addressForm.permOtherState.$invalid && (!addressForm.permOtherState.$pristine || addrDet.click)">
											<div ng-message="required">Please enter Other State</div>
											<div ng-message="blockHash">Please do not use '#' or '|'.</div>
											<div ng-message="pattern">Enter valid state excluding special characters</div>
											<div ng-message="maxlength">Other State cannot be more than 30 characters.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Other City</label>
											<input type="text" class="form-control" name="permOtherCity"  ng-model="addrDet.addressDetBean.INSURED_PERM_CITY_OTHER" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME || addrDet.addressDetBean.AddSameProposer" ng-required="addrDet.addressDetBean.INSURED_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.INSURED_RESIDENT_COUNTRY.COUNTRY_CODE!='IN'" ng-maxlength="30" ng-pattern="addrDet.freeTxtRegex" required block-hash/>
										</div>
										<div ng-messages="addressForm.permOtherCity.$error" class="error-messages" ng-show="addressForm.permOtherCity.$invalid && (!addressForm.permOtherCity.$pristine || addrDet.click)">
											<div ng-message="required">Please enter Other City</div>
											<div ng-message="blockHash">Please do not use '#' or '|'.</div>
											<div ng-message="pattern">Enter valid city excluding special characters</div>
											<div ng-message="maxlength">Other City cannot be more than 30 characters.</div>
										</div>
									</div>
								</div>
							</div>
							<!--Pincode-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Pin Code<span class="requiredStar">*</span></label>
									<input type="number" class="form-control" name="permPinCode"  ng-model="addrDet.addressDetBean.INSURED_PERM_PINCODE" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME || addrDet.addressDetBean.AddSameProposer" ng-pattern="addrDet.pinRegex"  required/>
									<div ng-messages="addressForm.permPinCode.$error" class="error-messages" ng-show="addressForm.permPinCode.$invalid && (!addressForm.permPinCode.$pristine || addrDet.click)">
										<div ng-message="required">Please enter PIN Code.</div>
										<div ng-message="pattern">Please enter valid PIN Code.</div>
									</div>
								</div>
							</div>
							<!-- Address For Communication -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Address For Communication<span class="requiredStar">*</span></label>
									<div class="tick-radio-wrap">
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="rdInsuredCurrent" name="rdInsuredCommunication" value="C" ng-model="addrDet.addressDetBean.INSURED_COMMUNICATE_ADD_FLAG" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME || addrDet.addressDetBean.AddSameProposer" required/>
											<label for="rdInsuredCurrent">Current</label>
										</div>
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="rdInsuredPermanent" name="rdInsuredCommunication" value="P" ng-model="addrDet.addressDetBean.INSURED_COMMUNICATE_ADD_FLAG" ng-disabled="addrDet.addressDetBean.INSURED_IS_CURRADD_PERMADD_SAME || addrDet.addressDetBean.AddSameProposer" required/>
											<label for="rdInsuredPermanent">Permanent</label>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
								<div ng-messages="addressForm.rdInsuredCommunication.$error" class="error-messages" ng-show="addressForm.rdInsuredCommunication.$invalid && (!addressForm.rdInsuredCommunication.$pristine || addrDet.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>

							<!-- Address Proof -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="addrDet.insEKYCFlag">
								<div class="form-group custom-form">
									<label class="form-label">Address Proof<span class="requiredStar">*</span></label>
									<div class="custom-drp">
										<select class="form-control" name="insAddrProof" ng-model="addrDet.addressDetBean.INSURED_ADDRESS_PROOF" ng-options="option.MPPROOF_DESC for option in addrDet.insAddrProofList | filter: {CUSTOMER_CATEGORY: 'IN'} track by option.DOC_ID" ng-change="addrDet.onInsChangeAddressProof()" fatf="addrDet.InsFATFFlag" addr-proof-required="!addrDet.insEKYCFlag">
										</select>
									</div>
								</div>
								<div ng-messages="addressForm.insAddrProof.$error" class="error-messages" ng-show="addressForm.insAddrProof.$invalid && (!addressForm.insAddrProof.$pristine || addrDet.click)">
									<div ng-message="addrProofRequired">Please select an option.</div>
								</div>
							</div>

							<!--Insured Date for Bill -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form" ng-show="addrDet.addressDetBean.INSURED_ADDRESS_PROOF.MPPROOF_DESC=='Utility Bills(Electricity, Water, Gas)' || addrDet.addressDetBean.INSURED_ADDRESS_PROOF.MPPROOF_DESC=='Any Telephone Bill of less than 6 months'" required>
									<label class="form-label">Date Of Bill<span class="requiredStar">*</span></label>
									<input type="date" class="form-control date-icon" name="insBillDate" ng-model="addrDet.addressDetBean.INSURED_BILL_DATE" ng-required = "addrDet.addressDetBean.INSURED_ADDRESS_PROOF.MPPROOF_DESC=='Utility Bills(Electricity, Water, Gas)' || addrDet.addressDetBean.INSURED_ADDRESS_PROOF.MPPROOF_DESC=='Any Telephone Bill of less than 6 months'" date-bill="addrDet.addressDetBean.INSURED_ADDRESS_PROOF.MPPROOF_DESC=='Utility Bills(Electricity, Water, Gas)' || addrDet.addressDetBean.INSURED_ADDRESS_PROOF.MPPROOF_DESC=='Any Telephone Bill of less than 6 months'"/>
								</div>
								<div ng-messages="addressForm.insBillDate.$error" ng-show="addressForm.insBillDate.$invalid && (!addressForm.insBillDate.$pristine || addrDet.click)" class="error-messages">
									<div ng-message="required">Please enter Date of Expiry.</div>
									<div ng-message="billDate">Please provide bills within 2 months.</div>
								</div>
							</div>
							<!--Other Address proof-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form" ng-show="addrDet.addressDetBean.INSURED_ADDRESS_PROOF.MPPROOF_DESC == 'Others'">
									<label class="form-label">Other Address Proof</label>
									<input type="text" class="form-control" name="otherAddrProof" ng-model="addrDet.addressDetBean.INSURED_OTHER_ADDRESS_PROOF"  ng-required="addrDet.addressDetBean.INSURED_ADDRESS_PROOF.MPPROOF_DESC == 'Others'" ng-maxlength="50" ng-pattern="addrDet.freeTxtRegex" required block-hash/>
								</div>
								<div ng-messages="addressForm.otherAddrProof.$error" class="error-messages" ng-show="addressForm.otherAddrProof.$invalid && (!addressForm.otherAddrProof.$pristine || addrDet.click)">
									<div ng-message="required">Please enter Other Address Proof</div>
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="pattern">Enter valid proof excluding special characters</div>
									<div ng-message="maxlength">Other Address cannot be more than 50 characters.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Proposer -->
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-hide="addrDet.isSelf">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">Proposer</label>
							</div>
						</div>
						<!-- Resident -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Resident<span class="requiredStar">*</span></label>
								<div class="custom-drp">
									<select class="form-control" name="proResident" ng-disabled="addrDet.isSelf" ng-model="addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS" ng-options="option.RESIDENT_STATUS for option in addrDet.residentStatusList track by option.RESIDENT_CD" ng-change="addrDet.onProResidentChange(addressForm)" select-required="!addrDet.isSelf">
									</select>
								</div>
							</div>
							<div ng-messages="addressForm.proResident.$error" class="error-messages" ng-show="addressForm.proResident.$invalid && (!addressForm.proResident.$pristine || addrDet.click)">
								<div ng-message="selectRequired">Please select an option.</div>
							</div>
						</div>
						<!-- Nationality -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form" ng-show="addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='FN' || addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='OCI'">
								<label class="form-label">Nationality<span class="requiredStar">*</span></label>
								<div class="custom-drp">
									<select class="form-control" name="proNationality" ng-disabled="addrDet.isSelf" ng-model="addrDet.addressDetBean.PROPOSER_NATIONALITY" ng-change = "addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" ng-options="option.COUNTRY_NAME for option in addrDet.nationalityList track by option.COUNTRY_CODE" select-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='FN' || addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='OCI')">
									</select>
								</div>
							</div>
							<div ng-messages="addressForm.proNationality.$error" class="error-messages" ng-show="addressForm.proNationality.$invalid && (!addressForm.proNationality.$pristine || addrDet.click)">
								<div ng-message="selectRequired">Please select an option.</div>
							</div>
						</div>
						<!-- Country Of Residence-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form" ng-show="addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='NRI' || addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='FN' || addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='OCI'">
								<label class="form-label">Country of Residence<span class="requiredStar">*</span></label>
								<div class="custom-drp">
									<select class="form-control" name="proResiCountry" ng-disabled="addrDet.isSelf" ng-model="addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY" ng-change = "addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" ng-options="option.COUNTRY_NAME disable when (option.COUNTRY_CODE == 'IN' && addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='NRI') for option in addrDet.residentCountryList track by option.COUNTRY_CODE" select-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='NRI' || addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='FN' || addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='OCI')">
									</select>
								</div>
							</div>
							<div ng-messages="addressForm.proResiCountry.$error" class="error-messages" ng-show="addressForm.proResiCountry.$invalid && (!addressForm.proResiCountry.$pristine || addrDet.click)">
								<div ng-message="selectRequired">Please select an option.</div>
							</div>
						</div>
						<!-- Country Of Birth-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Country of Birth<span class="requiredStar">*</span></label>
								<div class="custom-drp  city-drp-dwn">
									<!--<select class="form-control" name="probirthCountry" ng-disabled="addrDet.isSelf" ng-model="addrDet.addressDetBean.PROPOSER_BIRTH_COUNTRY" ng-options="option.COUNTRY_NAME for option in addrDet.birthCountryList track by option.COUNTRY_CODE" select-required="!addrDet.isSelf">-->
									<!--</select>-->
									<div custom-select=" s.COUNTRY_NAME for s in addrDet.birthCountryList | filter: { COUNTRY_NAME: $searchTerm } track by s.COUNTRY_CODE" ng-disabled="addrDet.isSelf" ng-model="addrDet.addressDetBean.PROPOSER_BIRTH_COUNTRY" name="probirthCountry" select-required="!addrDet.isSelf"  ng-disabled="addrDet.isSelf" ></div>
								</div>
							</div>
							<div ng-messages="addressForm.probirthCountry.$error" class="error-messages" ng-show="addressForm.probirthCountry.$invalid && (!addressForm.probirthCountry.$pristine || addrDet.click)">
								<div ng-message="selectRequired">Please select an option.</div>
							</div>
						</div>
						<!-- Address 1 -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Address 1<span class="requiredStar">*</span></label>
								<input type="text" class="form-control" name="proAddr1"  ng-disabled="addrDet.isSelf || addrDet.proEKYCFlag" ng-required="!addrDet.isSelf" ng-model="addrDet.addressDetBean.PROPOSER_CURR_ADDR1" ng-change="(addrDet.addressDetBean.AddSameProposer || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME) && addrDet.copyProposerCurrAddressToPerm()" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" required block-hash/>
							</div>
							<div ng-messages="addressForm.proAddr1.$error" class="error-messages" ng-show="addressForm.proAddr1.$invalid && (!addressForm.proAddr1.$pristine || addrDet.click)">
								<div ng-message="required">Pleas enter Address.</div>
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
								<div ng-message="maxlength">Address1 cannot be more than 45 characters.</div>
								<div ng-message="pattern">Enter valid Address excluding special characters</div>
							</div>
						</div>
						<!-- Address 2 -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Address 2</label>
								<input type="text" class="form-control" name="proAddr2"  ng-disabled="addrDet.isSelf || addrDet.proEKYCFlag" ng-model="addrDet.addressDetBean.PROPOSER_CURR_ADDR2" ng-change="(addrDet.addressDetBean.AddSameProposer || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME) && addrDet.copyProposerCurrAddressToPerm()" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" block-hash/>
							</div>
							<div ng-messages="addressForm.proAddr2.$error" class="error-messages" ng-show="addressForm.proAddr2.$invalid && (!addressForm.proAddr2.$pristine || addrDet.click)">
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
								<div ng-message="maxlength">Address2 cannot be more than 45 characters.</div>
								<div ng-message="pattern">Enter valid Address excluding special characters</div>
							</div>
						</div>
						<!-- Address 3 -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Address 3</label>
								<input type="text" class="form-control" name="proAddr3"  ng-disabled="addrDet.isSelf || addrDet.proEKYCFlag" ng-model="addrDet.addressDetBean.PROPOSER_CURR_ADDR3" ng-change="(addrDet.addressDetBean.AddSameProposer || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME) && addrDet.copyProposerCurrAddressToPerm()" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" block-hash/>
							</div>
							<div ng-messages="addressForm.proAddr3.$error" class="error-messages" ng-show="addressForm.proAddr3.$invalid && (!addressForm.proAddr3.$pristine || addrDet.click)">
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
								<div ng-message="maxlength">Address3 cannot be more than 45 characters.</div>
								<div ng-message="pattern">Enter valid Address excluding special characters</div>
							</div>
						</div>
						<!-- Landmark -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Landmark<!--<span class="requiredStar">*</span>--></label>
								<input type="text" class="form-control" name="proLandmark"  ng-disabled="addrDet.isSelf || addrDet.proEKYCFlag" ng-model="addrDet.addressDetBean.PROPOSER_CURR_LANDMARK" ng-change="(addrDet.addressDetBean.AddSameProposer || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME) && addrDet.copyProposerCurrAddressToPerm()" ng-maxlength="45" ng-pattern="addrDet.freeTxtRegex" block-hash/> <!-- required -->
							</div>
							<div ng-messages="addressForm.proLandmark.$error" class="error-messages" ng-show="addressForm.proLandmark.$invalid && (!addressForm.proLandmark.$pristine || addrDet.click)">
								<!-- <div ng-message="required">Please enter Landmark</div> -->
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
								<div ng-message="pattern">Enter valid landmark excluding special characters</div>
								<div ng-message="maxlength">Landmark cannot be more than 45 characters.</div>
							</div>
						</div>
						<!-- State & City -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row" ng-hide="addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE!='IN' && addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_STATUS!='Select ' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_NAME!='Select '">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">State<span class="requiredStar">*</span></label>
										<div class="custom-drp  city-drp-dwn">
											<!--<select class="form-control" name="proState" ng-disabled="addrDet.isSelf || addrDet.proEKYCFlag" ng-model="addrDet.addressDetBean.PROPOSER_CURR_STATE" ng-options="option.STATE_DESC for option in addrDet.proStateList track by option.STATE_CODE" ng-change="addrDet.onProposerChangeState()" select-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE=='IN')">-->
											<!--</select>-->
											<div custom-select=" s.STATE_DESC for s in addrDet.proStateList | filter: { STATE_DESC: $searchTerm } track by s.STATE_CODE" ng-model="addrDet.addressDetBean.PROPOSER_CURR_STATE" name="proState"  ng-change="addrDet.onProposerChangeState()"  select-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE=='IN')" ng-disabled="addrDet.isSelf || addrDet.proEKYCFlag" ></div>
										</div>
									</div>
									<div ng-messages="addressForm.proState.$error" class="error-messages" ng-show=" (addressForm.proState.$invalid && (!addressForm.proState.$pristine || addrDet.click))">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">City<span class="requiredStar">*</span></label>
										<div class="custom-drp  city-drp-dwn">
											<!--<select class="form-control" name="proCity" ng-disabled="addrDet.isSelf || addrDet.proEKYCFlag" ng-model="addrDet.addressDetBean.PROPOSER_CURR_CITY" ng-options="option.CITY_DESC for option in addrDet.proCityList track by option.CITY_CODE" ng-change="addrDet.onProposerChangeCity()" select-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE=='IN')">-->
											<!--</select>-->
											<div custom-select=" s.CITY_DESC for s in addrDet.proCityList | filter: { CITY_DESC: $searchTerm } track by s.CITY_CODE" ng-model="addrDet.addressDetBean.PROPOSER_CURR_CITY" name="proCity" ng-change="addrDet.onProposerChangeCity()"  select-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE=='IN')" ng-disabled="addrDet.isSelf || addrDet.proEKYCFlag"></div>
										</div>
									</div>
									<div ng-messages="addressForm.proCity.$error" class="error-messages" ng-show="(addressForm.proCity.$invalid && (!addressForm.proCity.$pristine || addrDet.click))">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<!--Other City Name-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="addrDet.addressDetBean.PROPOSER_CURR_CITY.CITY_CODE =='OT'">
									<div class="form-group custom-form">
										<label class="form-label">Other City Name</label>
										<input type="text" class="form-control custom-form"  name="OCityName3" ng-disabled="addrDet.isSelf"  ng-change = "(addrDet.addressDetBean.AddSameProposer || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME) && addrDet.copyProposerAddressToInsured()" ng-model='addrDet.addressDetBean.PROPOSER_CURR_OtherCityName' placeholder="Other City Name" ng-maxlength="20" block-hash/>
									</div>
									<div ng-messages="addressForm.OCityName3.$error" class="error-messages" ng-show="addressForm.OCityName3.$invalid && !addressForm.OCityName3.$pristine">
										<div ng-message="maxlength">Maximum 20 chars only.</div>
										<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									</div>
								</div>

							</div>
						</div>
						<!-- Other State & City -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row" ng-show="addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE!='IN' && addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_STATUS!='Select ' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_NAME!='Select '">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Other State</label>
										<input type="text" class="form-control" name="proOtherState" ng-disabled="addrDet.isSelf" ng-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE!='IN')"  ng-model="addrDet.addressDetBean.PROPOSER_CURR_STATE_OTHER" ng-change="(addrDet.addressDetBean.AddSameProposer || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME) && addrDet.copyProposerCurrAddressToPerm()" ng-maxlength="30" ng-pattern="addrDet.freeTxtRegex" required block-hash/>
									</div>
									<div ng-messages="addressForm.proOtherState.$error" class="error-messages" ng-show="addressForm.proOtherState.$invalid && (!addressForm.proOtherState.$pristine || addrDet.click)">
										<div ng-message="required">Please enter Other State.</div>
										<div ng-message="blockHash">Please do not use '#' or '|'.</div>
										<div ng-message="pattern">Enter valid state excluding special characters</div>
										<div ng-message="maxlength">Other State cannot be more than 30 characters.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Other City</label>
										<input type="text" class="form-control" name="proOtherCity" ng-disabled="addrDet.isSelf" ng-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE!='IN')"  ng-model="addrDet.addressDetBean.PROPOSER_CURR_CITY_OTHER" ng-change="(addrDet.addressDetBean.AddSameProposer || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME) && addrDet.copyProposerCurrAddressToPerm()" ng-maxlength="30" ng-pattern="addrDet.freeTxtRegex" required block-hash/>
									</div>
									<div ng-messages="addressForm.proOtherCity.$error" class="error-messages" ng-show="addressForm.proOtherCity.$invalid && (!addressForm.proOtherCity.$pristine || addrDet.click)">
										<div ng-message="required">Please enter Other City.</div>
										<div ng-message="blockHash">Please do not use '#' or '|'.</div>
										<div ng-message="pattern">Enter valid city excluding special characters</div>
										<div ng-message="maxlength">Other City cannot be more than 30 characters.</div>
									</div>
								</div>
							</div>
						</div>
						<!--Pincode-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Pin Code<span class="requiredStar">*</span></label>
								<input type="number" class="form-control" name="proPincode"  ng-disabled="addrDet.isSelf || addrDet.proEKYCFlag" ng-required="!addrDet.isSelf" ng-model="addrDet.addressDetBean.PROPOSER_CURR_PINCODE" ng-change="(addrDet.addressDetBean.AddSameProposer || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME) && addrDet.copyProposerCurrAddressToPerm()" ng-pattern="addrDet.pinRegex" required/>
							</div>
							<div ng-messages="addressForm.proPincode.$error" class="error-messages" ng-show="addressForm.proPincode.$invalid && (!addressForm.proPincode.$pristine || addrDet.click)">
								<div ng-message="required">Please enter valid PIN Code.</div>
								<div ng-message="pattern">Please enter valid PIN Code.</div>
							</div>
						</div>
						<!--Address Repeat-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<div class="check-box-wrap">
									<input type="checkbox" id="chkProSameAsCurrAddr" ng-disabled="addrDet.isSelf" ng-model="addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" ng-change="addrDet.copyProposerCurrAddressToPerm()"/>
									<label for="chkProSameAsCurrAddr">
										Permanent Residential Address - Same as above.
									</label>
								</div>
							</div>
						</div>
						<!-- Proposer Permanent Address Details-->
						<!-- Address 1 -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Address 1<span class="requiredStar">*</span></label>
								<input type="text" class="form-control" name="proPermAddr1"  ng-model="addrDet.addressDetBean.PROPOSER_PERM_ADDR1" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" ng-change = "addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" ng-required="!addrDet.isSelf" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" required block-hash/>
							</div>
							<div ng-messages="addressForm.proPermAddr1.$error" class="error-messages" ng-show="addressForm.proPermAddr1.$invalid && (!addressForm.proPermAddr1.$pristine || addrDet.click)">
								<div ng-message="required">Please enter Address</div>
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
								<div ng-message="maxlength">Address1 cannot be more than 45 characters.</div>
								<div ng-message="pattern">Enter valid Address excluding special characters</div>
							</div>
						</div>
						<!-- Address 2 -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Address 2</label>
								<input type="text" class="form-control" name="proPermAddr2"  ng-model="addrDet.addressDetBean.PROPOSER_PERM_ADDR2" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" ng-change = "addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" block-hash/>
								<div ng-messages="addressForm.proPermAddr2.$error" class="error-messages" ng-show="addressForm.proPermAddr2.$invalid && (!addressForm.proPermAddr2.$pristine || addrDet.click)">
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="maxlength">Address2 cannot be more than 45 characters.</div>
									<div ng-message="pattern">Enter valid Address excluding special characters</div>
								</div>
							</div>
						</div>
						<!-- Address 3 -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Address 3</label>
								<input type="text" class="form-control" name="proPermAddr3"  ng-model="addrDet.addressDetBean.PROPOSER_PERM_ADDR3" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" ng-change = "addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" ng-pattern="addrDet.freeTxtRegex" ng-maxlength="45" block-hash/>
								<div ng-messages="addressForm.proPermAddr3.$error" class="error-messages" ng-show="addressForm.proPermAddr3.$invalid && (!addressForm.proPermAddr3.$pristine || addrDet.click)">
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="maxlength">Address3 cannot be more than 45 characters.</div>
									<div ng-message="pattern">Enter valid Address excluding special characters</div>
								</div>
							</div>
						</div>
						<!-- Landmark -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Landmark<!--<span class="requiredStar">*</span>--></label>
								<input type="text" class="form-control" name="proPermLandmark"  ng-model="addrDet.addressDetBean.PROPOSER_PERM_LANDMARK" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" ng-change = "addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" ng-maxlength="45" ng-pattern="addrDet.freeTxtRegex" block-hash/> <!-- required -->
							</div>
							<div ng-messages="addressForm.proPermLandmark.$error" class="error-messages" ng-show="addressForm.proPermLandmark.$invalid && (!addressForm.proPermLandmark.$pristine || addrDet.click)">
								<!-- <div ng-message="required">Please enter Landmark.</div> -->
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
								<div ng-message="pattern">Enter valid landmark excluding special characters</div>
								<div ng-message="maxlength">Landmark cannot be more than 45 characters.</div>
							</div>
						</div>
						<!-- State & City -->

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row" ng-hide="addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE!='IN' && addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_STATUS!='Select ' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_NAME!='Select '">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">State<span class="requiredStar">*</span></label>
										<div class="custom-drp city-drp-dwn">
										  <!--  <select class="form-control" name="proPermState" ng-model="addrDet.addressDetBean.PROPOSER_PERM_STATE" ng-options="option.STATE_DESC for option in addrDet.proPStateList track by option.STATE_CODE" ng-change="addrDet.onProposerChangePState()" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" select-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE=='IN')">
											</select>-->
											<div custom-select=" s.STATE_DESC for s in addrDet.proPStateList | filter: { STATE_DESC: $searchTerm } track by s.STATE_CODE" ng-model="addrDet.addressDetBean.PROPOSER_PERM_STATE" ng-change="addrDet.onProposerChangePState()"  name="proPermState" select-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE=='IN')" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME"></div>
										</div>
									</div>
									<div ng-messages="addressForm.proPermState.$error" class="error-messages" ng-show="addressForm.proPermState.$invalid && (!addressForm.proPermState.$pristine || addrDet.click)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">City<span class="requiredStar">*</span></label>
										<div class="custom-drp city-drp-dwn">
											<!--<select class="form-control" name="proPermCity" ng-model="addrDet.addressDetBean.PROPOSER_PERM_CITY" ng-options="option.CITY_DESC for option in addrDet.proPCityList track by option.CITY_CODE" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" select-required="!addrDet.isSelf  && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE=='IN')">
											</select>-->
											<div custom-select=" s.CITY_DESC for s in addrDet.proPCityList | filter: { CITY_DESC: $searchTerm } track by s.CITY_CODE" ng-model="addrDet.addressDetBean.PROPOSER_PERM_CITY" ng-change="addrDet.onProposerChangePCity()"  ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" name="proPermCity" select-required="!addrDet.isSelf  && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD=='RI' || addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE=='IN')"></div>
										</div>
									</div>
									<div ng-messages="addressForm.proPermCity.$error" class="error-messages" ng-show="addressForm.proPermCity.$invalid && (!addressForm.proPermCity.$pristine || addrDet.click)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<!--Other City Name-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="addrDet.addressDetBean.PROPOSER_PERM_CITY.CITY_DESC =='Others'">
									<div class="form-group custom-form">
										<label class="form-label">Other City Name</label>
										<input type="text" class="form-control custom-form"  name="OCityName4"  ng-model='addrDet.addressDetBean.PROPOSER_PERM_OtherCityName' ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" ng-change = "addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" placeholder="Other City Name" ng-maxlength="20" block-hash/>
									</div>
									<div ng-messages="addressForm.OCityName4.$error" class="error-messages" ng-show="addressForm.OCityName4.$invalid && !addressForm.OCityName4.$pristine">
										<div ng-message="maxlength">Maximum 20 chars only.</div>
										<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Other State & City -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row" ng-show="addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE!='IN' && addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_STATUS!='Select ' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_NAME!='Select '">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Other State</label>
										<input type="text" class="form-control" name="proPermOtherState"  ng-model="addrDet.addressDetBean.PROPOSER_PERM_STATE_OTHER" ng-change = "addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" ng-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE!='IN')" ng-maxlength="30" ng-pattern="addrDet.freeTxtRegex" required block-hash/>
									</div>
									<div ng-messages="addressForm.proPermOtherState.$error" class="error-messages" ng-show="addressForm.proPermOtherState.$invalid && (!addressForm.proPermOtherState.$pristine || addrDet.click)">
										<div ng-message="required">PLease enter Other State</div>
										<div ng-message="blockHash">Please do not use '#' or '|'.</div>
										<div ng-message="pattern">Enter valid state excluding special characters</div>
										<div ng-message="maxlength">Other State cannot be more than 30 characters.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Other City</label>
										<input type="text" class="form-control" name="proPermOtherCity"  ng-model="addrDet.addressDetBean.PROPOSER_PERM_CITY_OTHER" ng-change = "addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" ng-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_RESIDENT_STATUS.RESIDENT_CD!='RI' && addrDet.addressDetBean.PROPOSER_RESIDENT_COUNTRY.COUNTRY_CODE!='IN')" ng-maxlength="30" ng-pattern="addrDet.freeTxtRegex" required block-hash/>
									</div>
									<div ng-messages="addressForm.proPermOtherCity.$error" class="error-messages" ng-show="addressForm.proPermOtherCity.$invalid && (!addressForm.proPermOtherCity.$pristine || addrDet.click)">
										<div ng-message="required">Please enter Other City.</div>
										<div ng-message="blockHash">Please do not use '#' or '|'.</div>
										<div ng-message="pattern">Enter valid city excluding special characters</div>
										<div ng-message="maxlength">Other City cannot be more than 30 characters.</div>
									</div>
								</div>
							</div>
						</div>
						<!--Pincode-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Pin Code<span class="requiredStar">*</span></label>
								<input type="number" class="form-control" name="proPermPinCode"  ng-model="addrDet.addressDetBean.PROPOSER_PERM_PINCODE" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" ng-change = "addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" ng-required="!addrDet.isSelf" ng-pattern="addrDet.pinRegex" required/>
							</div>
							<div ng-messages="addressForm.proPermPinCode.$error" class="error-messages" ng-show="addressForm.proPermPinCode.$invalid && (!addressForm.proPermPinCode.$pristine || addrDet.click)">
								<div ng-message="required">Please enter valid PIN Code.</div>
								<div ng-message="pattern">Please enter valid PIN Code.</div>
							</div>
						</div>
						<!-- Address For Communication -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form insured_add_comm">
								<label class="form-label">Address For Communication<span class="requiredStar">*</span></label>
								<div class="tick-radio-wrap">
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="rdProposerCurrent" name="rdProposerCommunication" value="C" ng-model="addrDet.addressDetBean.PROPOSER_COMMUNICATE_ADD_FLAG" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" ng-change ="addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" ng-required="!addrDet.isSelf" required/>
										<label for="rdProposerCurrent">Current</label>
									</div>
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="rdProposerPermanent" name="rdProposerCommunication" value="P" ng-model="addrDet.addressDetBean.PROPOSER_COMMUNICATE_ADD_FLAG" ng-disabled="addrDet.isSelf || addrDet.addressDetBean.PROPOSER_IS_CURRADD_PERMADD_SAME" ng-change ="addrDet.addressDetBean.AddSameProposer && addrDet.copyProposerAddressToInsured()" ng-required="!addrDet.isSelf" required/>
										<label for="rdProposerPermanent">Permanent</label>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div ng-messages="addressForm.rdProposerCommunication.$error" class="error-messages" ng-show="addressForm.rdProposerCommunication.$invalid && (!addressForm.rdProposerCommunication.$pristine || addrDet.click)">
								<div ng-message="required">Please select an option.</div>
							</div>
						</div>
						<!-- Address Proof -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="addrDet.proEKYCFlag">
							<div class="form-group custom-form">
								<label class="form-label">Address Proof<span class="requiredStar">*</span></label>
								<div class="custom-drp">
									<select class="form-control" name="proAddrProof" ng-disabled="addrDet.isSelf" ng-model="addrDet.addressDetBean.PROPOSER_ADDRESS_PROOF" ng-options="option.MPPROOF_DESC for option in addrDet.proAddrProofList | filter: {CUSTOMER_CATEGORY: 'PR'} track by option.DOC_ID" ng-change="addrDet.onProChangeAddressProof()" fatf="addrDet.ProFATFFlag" addr-proof-required="!addrDet.isSelf && !addrDet.proEKYCFlag">
									</select>
								</div>
							</div>
							<div ng-messages="addressForm.proAddrProof.$error" class="error-messages" ng-show="addressForm.proAddrProof.$invalid && (!addressForm.proAddrProof.$pristine || addrDet.click)">
								<div ng-message="addrProofRequired">Please select an option.</div>
							</div>
						</div>
						<!-- Proposer bill date-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form" ng-show="addrDet.addressDetBean.PROPOSER_ADDRESS_PROOF.MPPROOF_DESC=='Utility Bills(Electricity, Water, Gas)' || addrDet.addressDetBean.PROPOSER_ADDRESS_PROOF.MPPROOF_DESC=='Any Telephone Bill of less than 6 months'">
								<label class="form-label">Date Of Bill<span class="requiredStar">*</span></label>
								<input type="date" class="form-control date-icon" name="propBillDate" ng-model="addrDet.addressDetBean.PROPOSER_BILL_DATE" ng-required="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_ADDRESS_PROOF.MPPROOF_DESC=='Utility Bills(Electricity, Water, Gas)' || addrDet.addressDetBean.PROPOSER_ADDRESS_PROOF.MPPROOF_DESC=='Any Telephone Bill of less than 6 months')" date-bill="!addrDet.isSelf && (addrDet.addressDetBean.PROPOSER_ADDRESS_PROOF.MPPROOF_DESC=='Utility Bills(Electricity, Water, Gas)' || addrDet.addressDetBean.PROPOSER_ADDRESS_PROOF.MPPROOF_DESC=='Any Telephone Bill of less than 6 months')"> </input>
							</div>
							<div ng-messages="addressForm.propBillDate.$error" ng-show="addressForm.propBillDate.$invalid && (!addressForm.propBillDate.$pristine || addrDet.click)" class="error-messages">
								<div ng-message="required">Please enter Date of Expiry.</div>
								<div ng-message="billDate">Please provide bills within 2 months.</div>
							</div>
						</div>
						<!--Other Address proof-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form" ng-show="addrDet.addressDetBean.PROPOSER_ADDRESS_PROOF.MPPROOF_DESC == 'Others'">
							<label class="form-label">Other Address Proof</label>
								<input type="text" class="form-control" name="proOtherAddrProof" ng-disabled="addrDet.isSelf" ng-model="addrDet.addressDetBean.PROPOSER_OTHER_ADDRESS_PROOF"  ng-required="!addrDet.isSelf && addrDet.addressDetBean.PROPOSER_ADDRESS_PROOF.MPPROOF_DESC == 'Others'" ng-maxlength="50" ng-pattern="addrDet.freeTxtRegex" required block-hash/>
						</div>
						<div ng-messages="addressForm.proOtherAddrProof.$error" class="error-messages" ng-show="addressForm.proOtherAddrProof.$invalid && (!addressForm.proOtherAddrProof.$pristine || addrDet.click)">
							<div ng-message="required">Please enter Other Address Proof.</div>
							<div ng-message="blockHash">Please do not use '#' or '|'.</div>
							<div ng-message="pattern">Enter valid proof excluding special characters</div>
							<div ng-message="maxlength">Other Address Proof cannot  be more than 50 characters.</div>
						</div>
					</div>
					</div>
				</div>
				<!-- Button -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap">
								<button class="btn btn-default btn-block" ng-click="addrDet.onNext(addressForm)">Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- End Personal Details Application Form -->
	</div>
</ion-content>
