<div class="hswdashboard-wrapper">
   <div class="hswdashboard-wrapper-title">
      <span class="black-title">Tata AIA Life Insurance</span>
      <span class="blue-title">Smart Income Plus</span>
   </div>
   <div class="hswdashboard-wrapper-solutiontitle">Solution illustration</div>
   <!--hsw Graph Wrapper-->
   <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
      <div class="hsw-graphwrapper">
         <!--Tool Tip-->
         <div class="hsw-graphwrapper-tooltipwrapper"  ng-style="{'visibility': HSWMain.option=='Option 1'?'visible':'hidden'}">
            <div class="hsw-graphwrapper-rightinfo-tooltipinfo">
               <div class="">
                  <span>Guaranteed Maturity Payout</span>
                  <span class="tool-tipamount toolblock">{{HSWMain.gmp}}</span>
                  <div ng-if="HSWMain.option=='Option 1'">
                     <span class="tool-tipamount toolblock">+</span>
                     <span>Last Guaranteed Payout</span>
                     <span class="tool-tipamount toolblock">{{HSWMain.gp}}</span>
                  </div>
               </div>
            </div>
            <div class="clearfix"></div>
         </div>
         <!--Left bar Info-->
         <div class="plan-info">
            <div class="hsw-graphwrapper-leftinfo">
               <div class="annumalpremium-calendericon">
                  Annual Premium
               </div>
               <span class="annualpremium-calculatoramount">
                  {{HSWMain.insuredAmt}}
               </span>
            </div>
            <div class="gurantee_paymt sip-box" ng-if="HSWMain.option=='Option 1'">
               <span>Guaranteed Payouts<br> @ {{HSWMain.gpRate }}% Annualised<br> premium of Rs. <b>{{HSWMain.gp}}</b> from the end of<b><br> {{ HSWMain.display1Yr }} policy year </b> to <b> {{ HSWMain.displayYr}}  policy year</b></span>
            </div>

            <div class="gurantee_paymt sip-box1 sip1" ng-if="HSWMain.option=='Option 2'">
               <span ng-if="HSWMain.option=='Option 2'">Guaranteed Payout<br>of Rs. <b>{{HSWMain.gp}}</b> at the end of <b> {{ HSWMain.displayYr }} policy year</b></span>
            </div>
            <!--Right bar Info-->
            <div class="hsw-graphwrapper-rightinfo">
               <div class="maturitypayment-standicon">
                  <span ng-if="HSWMain.option=='Option 1'">Total Payout on Maturity</span>
                  <span ng-if="HSWMain.option=='Option 2'">Guaranteed Maturity Payout</span>
               </div>
               <div class="maturitypayment-amount">{{HSWMain.tmp}}</div>
            </div>
         </div>

         <div class="clearfix"></div>
         <!--Animated bar-->
         <div class="animated-outerbluewrap">
            <!--<div ng-style="{width:HSWMain.percent + '%'}" class="animated-bar">{{HSWMain.percent  + '%'}}</div>-->
            <div class="year_progress">
               <div class="first-interval" style="width: {{HSWMain.firstValue}}%"><span class="bold-yrs">Yr {{HSWMain.ppt}} </span></div>
               <div  ng-class="['second-interval', {'optional-interval-border': HSWMain.option=='Option 2'}]" style="width: {{HSWMain.secondValue}}%">
                  <ul>
                     <li ng-repeat="i in getNumber(HSWMain.diffSecondVal)"  style="width:{{ HSWMain.secondPercent }}%">
                        <span class="val_wrap"></span><span class="yrs_wrap">Yr {{ HSWMain.ppt--i }} </span>
                     </li>
                  </ul>
               </div>
               <div ng-class="['third-interval', {'optional-interval': HSWMain.option=='Option 2'}]" style="width: {{HSWMain.thridValue}}%; position:relative; border-right:1px solid #fff">
                  <ul class="sipUl" >
                      <li ng-repeat="j in getNumber(HSWMain.diffThirdVal)"  style="width:{{ HSWMain.thridPercent }}%">
                         <span class="val_wrap"></span><span class="yrs_wrap">Yr {{ HSWMain.ppt--HSWMain.diffSecondVal--j }} </span>
                      </li>
                  </ul>
               </div>
               <div class="second-interval forth-interval" style="width: {{HSWMain.forthValue}}%">
                  <ul>
                     <li ng-repeat="k in getNumber(HSWMain.diffForthVal)"  style="width:{{ HSWMain.forthPercent }}%">
                        <span class="val_wrap"></span><span class="yrs_wrap">Yr {{ HSWMain.ppt--HSWMain.diffSecondVal--HSWMain.diffThirdVal--k }} </span>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <!--animated-outerbluewrapyears-->
         <div class="animated-years">
            <div class="left-years">
               <div class="years-div">
                  <span class="year-char"><strong>Yr</strong></span>
                  <span class="year-number"><strong>1</strong></span>
               </div>
               <div class="years-text">
                  <strong>start of the plan</strong>
               </div>
            </div>
            <div class="clearfix"></div>
         </div>

         <div class="hsw-extratext">
            The above solution illustration is for a healthy male and standard life.
         </div>

         <div class="clearfix"></div>
         <!--Proceed to SIS-->


      </div>
   </div>
   
   <div class="proceed-tosis" ng-click="HSWMain.processToSiS()">
       proceed to sis <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
   </div>
</div>
