<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<na-timeline class="tab-nav"></na-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<form name="nomForm">
				<div class="application-form-title">Details of Nominee</div>
										<!-- Nominee Application Form -->
				<div class="nominee-application-form-wrap" ng-repeat="Nominee in nc.NomineeArr">
					<!-- Delete Button -->
					<span class="delete-button">
						<i class="fa fa-times-circle-o" aria-hidden="true" ng-click="nc.deleteItem($index)"></i>
					</span>
					<!-- Form Start -->
					<div class="row">
						<!-- Name -->
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<label class="form-label">Name<span class="requiredStar">*</span></label>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
										<input type="text" class="form-control text-center" name="First{{$index}}" placeholder="First"  ng-model="Nominee.FirstName" ng-maxlength="20" required/>
									</div>
									<div ng-messages="nomForm['First'+$index].$error" class="error-messages" ng-show="nomForm['First'+$index].$invalid && (!nomForm['First'+$index].$pristine || nc.click)">
										<div ng-message="required">First name cannot be empty.</div>
										<div ng-message="maxlength">Name cannot more than 20 characters</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
									<input type="text" class="form-control text-center" name="Middle{{$index}}" placeholder="Middle" ng-maxlength="20" ng-model="Nominee.MiddleName"/>
								</div>
								<div ng-messages="nomForm['Middle'+$index].$error" class="error-messages" ng-show="nomForm['Middle'+$index].$invalid && (!nomForm['Middle'+$index].$pristine || nc.click)">
									<div ng-message="maxlength">Name cannot more than 20 characters</div>
								</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
									<input type="text" class="form-control text-center" name="Last{{$index}}" placeholder="Last" ng-model="Nominee.LastName" ng-maxlength="20" required/>
									</div>
									<div ng-messages="nomForm['Last'+$index].$error" class="error-messages" ng-show="nomForm['Last'+$index].$invalid && (!nomForm['Last'+$index].$pristine || nc.click)">
										<div ng-message="required">Last name cannot be empty.</div>
										<div ng-message="maxlength">Name cannot more than 20 characters</div>
									</div>
								</div>
							</div>
						</div>
						<!-- DOB -->
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form">
								<label class="form-label">Date of Birth<span class="requiredStar">*</span></label>
								<input type="date" class="form-control date-icon" name="DOB{{$index}}" ng-model="Nominee.dob" required/>
							</div>
							<div ng-messages="nomForm['DOB'+$index].$error" class="error-messages" ng-show="nomForm['DOB'+$index].$invalid && (!nomForm['DOB'+$index].$pristine || nc.click)">
								<div ng-message="required">Date of birth cannot be empty.</div>
							</div>
						</div>
						<!-- Gender And Relationship -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<!-- Gender -->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Gender<span class="requiredStar">*</span></label>
										<div class="gender-radio-wrapper">
											<div class="gender-wrapper male-wrapper">
												<input type="radio" id="Male{{$index}}" name="Gender{{$index}}" ng-model="Nominee.Gen" ng-value="'Male'" required/>
												<label for="Male{{$index}}">Male</label>
												<div class="clearfix"></div>
											</div>
											<div class="gender-wrapper female-wrapper">
												<input type="radio" id="Female{{$index}}" name="Gender{{$index}}" ng-model="Nominee.Gen" ng-value="'Female'" required/>
												<label for="Female{{$index}}">Female</label>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
									<div ng-messages="nomForm['Gender'+$index].$error" class="error-messages" ng-show="nomForm['Gender'+$index].$invalid && (!nomForm['Gender'+$index].$pristine || nc.click)">
										<div ng-message="required">Select Gender</div>
									</div>
								</div>
								<!-- Relationship -->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Relationship<span class="requiredStar">*</span></label>
										<div class="custom-drp">
											<select name="Relationship{{$index}}" class="form-control" id="relationSelect" ng-options="option.NOM_RELATIONSHIP_DESC disable when ((nc.maritalStatus.MARITAL_CD=='S') && (option.NOM_NBFE_CODE=='41')) for option in nc.nomRelationData track by option.NOM_RELATIONSHIP_DESC" ng-model="Nominee.Relation" ng-change="nc.RelationChange($index)" required>
												<option value="">Select Relationship</option>
											</select>
										</div>
									</div>
									<div ng-messages="nomForm['Relationship'+$index].$error" class="error-messages" ng-show="nomForm['Relationship'+$index].$invalid && (!nomForm['Relationship'+$index].$pristine || nc.click)">
										<div ng-message="required">Select Relationship</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Percentage -->
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form">
								<label class="form-label">Percentage*(%)<span class="requiredStar">*</span></label>
								<input type="number" class="form-control" name="Percentage{{$index}}"  ng-model="Nominee.Percent" ng-focus="nc.percentCalled()" required/>
							</div>
							<div ng-messages="nomForm['Percentage'+$index].$error" class="error-messages" ng-show="nomForm['Percentage'+$index].$invalid && (!nomForm['Percentage'+$index].$pristine || nc.click)">
								<div ng-message="required">Please enter Percentage.</div>
								<div ng-message="isEqualHundred">Percentage should be equal to 100</div>
							</div>
							<span class="error-messages"> {{nc.totalErr}}</span>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 pull-right">
							<div class="custom-btn form-btn-wrap add-btn-wrap">
								<button class="btn btn-primary btn-block" ng-click="nc.AddMore()" ng-disabled="nomForm.$invalid"><i class="fa fa-plus add-color-white" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<form name="nomFormTerm">
				<!--Term Nominee START -->
				<div class="form-group custom-form" ng-if="!!nc.comboID">
					<label class="form-label">Do you want to keep same nominee for Term Product ?<span class="requiredStar">*</span></label>
					<div class="tick-radio-wrap">
						<div class="tick-radio-btn-wrap">
							<input type="radio" id="rdNomYes" value="Y" ng-model="nc.nomTermFlag" name="rdNomYes" required/>
							<label for="rdNomYes">Yes</label>
						</div>
						<div class="tick-radio-btn-wrap">
							<input type="radio" id="rdNomNo" value="N" ng-model="nc.nomTermFlag" name="rdNomNo" required/>
							<label for="rdNomNo">No</label>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- Term Nominee Application Form -->
				<div class="nominee-application-form-wrap" ng-if="nc.nomTermFlag == 'N' && !!nc.comboID "  ng-show="nc.nomTermFlag == 'N'" ng-repeat="TNominee in nc.TermNomineeArr" ng-if="nc.nomTermFlag == 'N'">
					<!-- Delete Button -->
					<span class="delete-button">
						<i class="fa fa-times-circle-o" aria-hidden="true" ng-click="nc.deleteTermItem($index)"></i>
					</span>
					<!-- Form Start -->
					<div class="row ">
						<!-- Name -->
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<label class="form-label">Name<span class="requiredStar">*</span></label>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
										<input type="text" class="form-control text-center" name="TFirst{{$index}}" placeholder="First"  ng-model="TNominee.FirstName" ng-maxlength="20" required/>
									</div>
									<div ng-messages="nomFormTerm['TFirst'+$index].$error" class="error-messages" ng-show="nomFormTerm['TFirst'+$index].$invalid && (!nomFormTerm['TFirst'+$index].$pristine || nc.click)">
										<div ng-message="required">First name cannot be empty.</div>
										<div ng-message="maxlength">Name cannot more than 20 characters</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
										<input type="text" class="form-control text-center" placeholder="Middle"  ng-model="TNominee.MiddleName"/>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
										<input type="text" class="form-control text-center" name="TLast{{$index}}" placeholder="Last" ng-model="TNominee.LastName" ng-maxlength required/>
									</div>
									<div ng-messages="nomFormTerm['TLast'+$index].$error" class="error-messages" ng-show="nomFormTerm['TLast'+$index].$invalid && (!nomFormTerm['TLast'+$index].$pristine || nc.click)">
										<div ng-message="required">Last name cannot be empty.</div>
										<div ng-message="maxlength">Name cannot more than 20 characters</div>
									</div>
								</div>
							</div>
						</div>
						<!-- DOB -->
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form">
								<label class="form-label">Date of Birth<span class="requiredStar">*</span></label>
								<input type="date" class="form-control date-icon" name="TDOB{{$index}}" ng-model="TNominee.dob" required/>
							</div>
							<div ng-messages="nomFormTerm['TDOB'+$index].$error" class="error-messages" ng-show="nomFormTerm['TDOB'+$index].$invalid && (!nomFormTerm['TDOB'+$index].$pristine || nc.click)">
								<div ng-message="required">Date of birth cannot be empty.</div>
							</div>
						</div>
						<!-- Gender And Relationship -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<!-- Gender -->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Gender<span class="requiredStar">*</span></label>
										<div class="gender-radio-wrapper">
											<div class="gender-wrapper male-wrapper">
												<input type="radio" id="TMale{{$index}}" name="TGender{{$index}}" ng-model="TNominee.Gen" ng-value="'Male'" required/>
												<label for="TMale{{$index}}">Male</label>
												<div class="clearfix"></div>
											</div>
											<div class="gender-wrapper female-wrapper">
												<input type="radio" id="TFemale{{$index}}" name="TGender{{$index}}" ng-model="TNominee.Gen" ng-value="'Female'" required/>
												<label for="TFemale{{$index}}">Female</label>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
									<div ng-messages="nomFormTerm['TGender'+$index].$error" class="error-messages" ng-show="nomFormTerm['TGender'+$index].$invalid && (!nomFormTerm['TGender'+$index].$pristine || nc.click)">
										<div ng-message="required">Select Gender</div>
									</div>
								</div>
								<!-- Relationship -->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Relationship<span class="requiredStar">*</span></label>
										<div class="custom-drp">
											<select name="TRelationship{{$index}}" class="form-control" ng-options="option.NOM_RELATIONSHIP_DESC for option in nc.nomRelationData track by option.NOM_RELATIONSHIP_DESC" ng-model="TNominee.Relation" ng-change="nc.RelationChangeTerm($index)" required>
												<option value="">Select Relationship</option>
											</select>
										</div>
									</div>
									<div ng-messages="nomFormTerm['TRelationship'+$index].$error" class="error-messages" ng-show="nomFormTerm['TRelationship'+$index].$invalid && (!nomFormTerm['TRelationship'+$index].$pristine || nc.click)">
										<div ng-message="required">Select Relationship</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Percentage -->
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form">
								<label class="form-label">Percentage*(%)<span class="requiredStar">*</span></label>
								<input type="number" class="form-control" name="TPercentage{{$index}}"  ng-model="TNominee.Percent" ng-focus="nc.TpercentCalled()" required/>
							</div>
							<div ng-messages="nomFormTerm['TPercentage'+$index].$error" class="error-messages" ng-show="nomFormTerm['TPercentage'+$index].$invalid && (!nomFormTerm['TPercentage'+$index].$pristine || nc.click)">
								<div ng-message="required">Please enter Percentage.</div>
								<div ng-message="isEqualHundred">Percentage should be equal to 100</div>
							</div>
							<span class="error-messages"> {{nc.totalTErr}}</span>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 pull-right">
						<div class="custom-btn form-btn-wrap add-btn-wrap">
							<button class="btn btn-primary btn-block" ng-click="nc.AddMoreTerm()" ng-disabled="nomFormTerm.$invalid"><i class="fa fa-plus add-color-white" aria-hidden="true"></i></button>
						</div>
					</div>
				</div>
				<!--Term Nominee END -->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap next-center-btn">
								<button class="btn btn-default btn-block" ng-click="nc.save(nomForm)">Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</ion-content>
