<ion-pane class="view-report">
    <!-- Header -->
    <div class="viewreport-header-wrap">
        <div class="pdf-logo-block pull-left">
            <img src="../img/tata-logo.png" alt="Tata AIA Logo" class="main-logo"/>
        </div>
    </div>

	<ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <view-report class="pdf-outputwrapper" dbl-click-2-zoom></view-report>
    </ion-content>

    <!-- Pop Up -->
    <div class="modal-blackoverlay newblackoverlay" ng-hide="vr.reportPopup">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 center-block pull-none">
            <div class="white-overlay">
                <span class="close-icon" ng-click="vr.closePopUpOverlay()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Customer Name</label>
                            <input type="text" name="CustName" ng-model="vr.CustName" class="form-control" placeHolder="Customer Name" readonly/>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Mobile No</label>
                            <input type="text" name="MobNo" ng-model="vr.MobNo" class="form-control" placeHolder="Mobile No" readonly/>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Email</label>
                            <input type="text" name="Email" ng-model="vr.Email" class="form-control" placeHolder="Email ID" readonly/>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Transaction Amount</label>
                            <input type="text" name="TransAmt" ng-model="vr.TransAmt" class="form-control" placeHolder="Transaction Amount" readonly/>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-xs-12 col-sm-5 col-md-5 col-lg-5 center-block pull-none">
                                <div class="custom-btn form-btn-wrap">
                                    <button class="btn btn-primary btn-block" ng-click="vr.olPaymentData()">Proceed to Pay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Bottom Button Wrapper -->
    <div class="bottom-buttonwrap">
        <div class="sis-form-wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="custom-footer">
                    <div class="fact-middle-button bottom-fixed gen-application-btn-wrap ff-btn-wrap">
                        <ul>
                            <li ng-show="vr.showShareButton">
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button type="button" class="btn btn-default btn-block" ng-click="vr.shareReport()">Share</button>
                                </div>
                            </li>
                            <!--7th july-->
                            <li ng-show="vr.showSaveButton">
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button type="button" class="btn btn-default btn-block" ng-click="vr.saveReport()">Save</button>
                                </div>
                            </li>
                            <!--7th July-->
                            <li ng-show="vr.showSync">
                                <div class="custom-btn form-btn-wrap fact-btn-left" style="margin-top:0px">
                                    <button type="button" class="btn btn-default  btn-block" ng-click="vr.syncAppData()" ng-disabled="!vr.isDataSynced">Sync Data</button>
                                </div>
                            </li>
                            <li ng-show="vr.showConfirmButton">
                                <div class="custom-btn form-btn-wrap fact-btn-left" style="margin-top:0px">
                                    <button type="button" class="btn btn-default btn-block" ng-click="vr.onConfirm()" ng-disabled="vr.confirmed">Confirm</button>
                                </div>
                            </li>
                            <li ng-show="vr.showPayNow">
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button type="button" class="btn btn-default btn-block" ng-click="vr.calOlPop()">Pay Now</button>
                                </div>
                            </li>
                            <li ng-show="!vr.showConfirmButton">
                                <div class="custom-btn form-btn-wrap fact-btn-left" style="margin-top:0px">
                                    <button type="button" class="btn btn-default btn-block" ng-click="vr.exit(true)">Exit</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-pane>
