<ion-pane class="upload-doc">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- header -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
					<div class="headertitle-wrap">
						<div class="menu-iconlogo-wrapper">
							<a ng-click="updc.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
							<img src="../img/tata-logo.png" alt="Tata AIA Logo" class="attach-logo-menu" />
						</div>
						<div class="bell-block bell-wrap"><i class="fa fa-bell" aria-hidden="true"></i></div>
					</div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="doc-uploadwrap">
                        <h2 class="header-title text-center upload-title">Document Upload</h2>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </ion-header-bar>
    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div>
            <div class="upload-navwrapper">
                <nav class="navbar navbar-default doc-upload-nav">
                    <ul class="nav navbar-nav">
                        <li class="{{updc.insclick}}"><a ng-click="updc.navUser('Insured')">Insured</a></li>
                        <li class="{{updc.propclick}}"><a ng-click="updc.navUser('Proposer')" ng-show="updc.disableProp">Proposer</a></li>
                        <li class="{{updc.termclick}}"><a ng-click="updc.navUser('Term')" ng-show="updc.disableTerm">Term</a></li>
                    </ul>
                </nav>
            </div>

            <div class="uploadcontent-wrapper">
                <div class="sis-form-wrap">
                    <div class="row">
                        <div class="doc_upload_wrap">
                            <!-- Poopup code-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="row" ng-repeat="docObj in updc.docArr">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group custom-form">
                                            <label class="form-label upload-form-lbl">{{docObj.MPDOC_DESCRIPTION}}</label>
                                            <select class="form-control document-upload-formcntrl" ng-options="docInnerObj.DOC_ID as docInnerObj.MPPROOF_DESC for docInnerObj in docObj.docArr" ng-change="updc.dropDownChange(docObj.selected,docObj.MPDOC_DESCRIPTION,$index)" ng-model="docObj.selected">
                                                <option value="">Select Document</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="activity-btnwrap">
                                            <button class="doc-checkbox" ng-disabled="docObj.inDatabase"><i class="fa fa-check" aria-hidden="true"></i></button>
                                            <div class="btn-container">
                                                <a class="fab-buttons roll-btn" href="javascript:;">
                                                    <span class="i-wrap">
                                                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                                                    </span>
                                                </a>
                                               <a href="javascript:;" class="fab-buttons fab-buttons1 fab" ng-click="updc.nativeDocClicked($index)" ng-hide="updc.hideForiOS">
                                                   <span class="i-wrap i-wrap-1 cmn-btn">
                                                       <i class="fa fa-file-o" aria-hidden="true"></i>
                                                   </span>
                                                   <span class="ico_txt">Document</span>
                                               </a>
                                                <a href="javascript:;" class="fab-buttons fab-buttons2 fab" ng-click="updc.nativeCamClicked($index)">
                                                    <span class="i-wrap i-wrap-2 cmn-btn">
                                                        <i class="fa fa-camera" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="ico_txt">Camera</span>
                                                </a>
                                                <a href="javascript:;" class="fab-buttons fab-buttons3 fab" ng-click="updc.nativeGallClicked($index)">
                                                    <span class="i-wrap i-wrap-3 cmn-btn">
                                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="ico_txt">Gallery</span>
                                                </a>

                                                <a href="javascript:;" class="fab-buttons fab-buttons3 fab" ng-click="updc.viewimage($index)">
                                                    <span class="i-wrap i-wrap-4 cmn-btn">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="ico_txt">View Image</span>
                                                </a>
                                                <div class="clearfix"></div>
                                            </div>
                                            <!--<button class="btn btn-primary btn-small" ng-click="updc.viewimage()">View Image</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </ion-content>
    <div class="upload-btnwrap">
        <div class="row">
            <div class="center-block pull-none col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <div class="custom-btn">
                    <button class="btn btn-primary btn-block" ng-click="updc.submitt()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</ion-pane>
