<ion-pane class="fact-finderanalysis">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <div class="headertitle-wrap">
				<div class="menu-iconlogo-wrapper">
					<a ng-click="ffOutputCtrl.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
				</div>
				<div class="createlead-wrapper">
					<h2 class="header-title text-center">Fact Finder For Need Analysis</h2>
				</div>
                <div class="clearfix"></div>
            </div>

            <!-- TimeLine Wrapper -->
            <ff-timeline class="timeline-wrapper ff-timeline"></ff-timeline>
        </div>
    </ion-header-bar>


    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <view-fhr-output class="pdf-outputwrapper"></view-fhr-output>
    </ion-content>

    <!-- Bottom Button Wrapper -->
    <div class="bottom-buttonwrap">
        <div class="sis-form-wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="custom-footer">
                    <div class="fact-middle-button bottom-fixed gen-application-btn-wrap ff-btn-wrap">
                        <ul>
                            <!--7th july-->
                            <li>
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button class="btn btn-default btn-block" ng-disabled="ffOutputCtrl.isSigned == 'Y'" ng-click="ffOutputCtrl.doSign()">
                                        Signature &amp; Save
                                    </button>
                                </div>
                            </li>
                            <!--7th July-->
                            <li>
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button class="btn btn-default btn-block" ng-click="ffOutputCtrl.gotoLeadStatusPage()">
                                        Proceed
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</ion-pane>
