<ion-pane class="sis-height">
    <ion-header-bar class="fixed-bar">
        <!-- Header -->
        <div class="sis-header-wrap">
            <sis-header></sis-header>
        </div>
        
        <!-- Timeline -->
        <div class="SIStimeline-wrapper">
            <sis-timeline></sis-timeline>
        </div>
    </ion-header-bar>
    
    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap sis_ekyc">
			<div class="row">
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
					<div class="title-section"><h2>Fund Selection Details</h2></div>
					<div class="fund-details-radio-wrap">
						<div class="form-group custom-form">
							<label class="form-label">Fund Type</label>
						</div>
						<div class="fact-wrapper yes-wrapper">
							<input type="radio" name="fundType" id="manual" value="Manual" ng-model="sc.INVEST_OPT" ng-change="sc.onFundTypeChange()"/>
							<label for="manual">Manual</label>
						</div>
						<div class="fact-wrapper yes-wrapper">
							<input type="radio" name="fundType" id="smart" value="Smart" ng-model="sc.INVEST_OPT" ng-click="sc.selectingEnhancedSmart($event)" ng-change="sc.onFundTypeChange()"/>
							<label for="smart" ng-click="sc.selectingEnhancedSmart($event)">Enhanced Smart</label>
						</div>
					</div>
					<form name="sisFormC" id="sisFormC" ng-submit="sc.onNext(sisFormC.$pristine)" novalidate ng-show="sc.INVEST_OPT=='Manual'">
						<div class="bs-callout-rider insured-box-funds newinsured-box">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
									<div class="form-group custom-form">
										<label class="form-label title-label">Name Of Fund</label>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
									<div class="form-group custom-form">
										<label class="form-label title-label">Allocation</label>
									</div>
								</div>
							</div>
							<div class="row" ng-repeat="fund in sc.fundsList">
								<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
									<div class="form-group custom-form fund-description-lbl">
										<label class="form-label">{{fund.FUND_DESCRIPTION}}</label>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
									<div class="form-group custom-form">
										<input type="number" name="alloc{{$index}}" class="form-control assured-input text-center" placeholder="%" ng-model="fund.FUND_ALLOCATION" ng-change="sc.onAllocChg()" min="0" max="100"/>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div ng-messages="sisFormC['alloc'+$index].$error" class="error-messages" ng-show="sisFormC['alloc'+$index].$invalid && !sisFormC['alloc'+$index].$pristine">
										<div ng-message="min">Min percentage allowed: 0</div>
										<div ng-message="max">Max percentage allowed: 100</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
									<div class="form-group custom-form">
										<label class="form-label">Total</label>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
									<div class="form-group custom-form">
										<input type="number" name="totalFundPercentage" class="form-control assured-input text-center" placeholder="%" ng-model="sc.totalFundPercentage" ng-min="sc.minTotal" ng-max="sc.minTotal" ng-required="sc.INVEST_OPT=='Manual'" readonly/>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div ng-messages="sisFormC.totalFundPercentage.$error" class="error-messages" ng-show="sisFormC.totalFundPercentage.$invalid && !sisFormC.totalFundPercentage.$pristine">
										<div ng-message="required">Total percentage cannot be empty</div>
										<div ng-message="min">Total percentage must be 100</div>
										<div ng-message="max">Total percentage must be 100</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="custom-btn form-btn-wrap">
											<button class="btn btn-default btn-block" type="button" ng-click="sc.onBack()">Back</button>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="custom-btn form-btn-wrap">
											<button class="btn btn-default btn-block" type="submit" ng-disabled="sisFormC.$invalid">Next</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
					<form name="sisFormC_ES" id="sisFormC_ES" ng-submit="sc.onNext(sisFormC_ES.$pristine)" novalidate ng-show="sc.INVEST_OPT=='Smart'">
						<div class="bs-callout-rider insured-box-funds newinsured-box">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Debt oriented fund <span class="requiredStar">*</span></label>
										<select class="form-control" name="debt" ng-options="option.FUND_DESCRIPTION for option in sc.debtFundList track by option.FUND_CODE" ng-change="sc.onDebtFundChg()" ng-model="sc.debtOptionSelected" select-required></select>
									</div>
									<div ng-messages="sisFormC_ES.debt.$error" class="error-messages" ng-show="sisFormC_ES.debt.$invalid && !sisFormC_ES.debt.$pristine">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Equity oriented fund <span class="requiredStar">*</span></label>
										<select class="form-control" name="equity" ng-options="option.FUND_DESCRIPTION for option in sc.equityFundList track by option.FUND_CODE" ng-change="sc.onEquityFundChg()" ng-model="sc.equityOptionSelected" select-required></select>
										<div ng-messages="sisFormC_ES.equity.$error" class="error-messages" ng-show="sisFormC_ES.equity.$invalid && !sisFormC_ES.equity.$pristine">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="custom-btn form-btn-wrap">
											<button class="btn btn-default btn-block" type="button" ng-click="sc.onBack()">Back</button>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="custom-btn form-btn-wrap">
											<button class="btn btn-default btn-block" type="submit" ng-disabled="sisFormC_ES.$invalid">Next</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</ion-content>
</ion-pane>
