 <!--hsw Dashboard wrapper-->
        <div class="hswdashboard-wrapper">
            <div class="hswdashboard-wrapper-title">
                <span class="black-title">Tata AIA Life Insurance</span>
                <span class="blue-title">Wealth Maxima</span>
            </div>
            <div class="hswdashboard-wrapper-solutiontitle">Solution illustration</div>
            <!--hsw Graph Wrapper-->
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
                <div class="hsw-graphwrapper">
                    <!--Tool Tip-->
                    <div class="hsw-graphwrapper-tooltipwrapper">
                        <div class="hsw-graphwrapper-rightinfo-tooltipinfo">
                            <div class="">
                                <span>Regular Premium Fund Value<span style="color:red">* </span></span>
                                <span class="tool-tipamount toolblock">{{HSWMain.premiumFundValue - HSWMain.loyaltyAddition}}</span>
                                <span class="tool-tipamount toolblock"></span>
                                <span>Loyalty Addition</span>
                                <span class="tool-tipamount toolblock">{{HSWMain.loyaltyAddition}}</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--Left bar Info-->
                    <div class="hsw-graphwrapper-leftinfo">
                        <div class="annumalpremium-calendericon">
                            annual premium
                        </div>
                        <span class="annualpremium-calculatoramount">
                            {{HSWMain.annualPerminum}}
                        </span>
                    </div>
                    <!--Right bar Info-->
                    <div class="hsw-graphwrapper-rightinfo">
                        <div class="maturitypayment-standicon">
                            Total maturity Benefit
                        </div>
                        <div class="maturitypayment-amount">{{HSWMain.premiumFundValue}}</div>
                    </div>
                    <div class="clearfix"></div>
                   <!--Animated bar-->
                    <div class="animated-outerbluewrap ulipanimated-outerbluewrap">
                        <!--<div ng-style="{width:HSWMain.percent + '%'}" class="animated-bar">{{HSWMain.percent  + '%'}}</div>-->
                        <div class="year_progress">
                            <div class="first-interval ulip-intervals" style="width: {{HSWMain.percent}}%">
                                <div style="float:right; position:relative">
                                    <div class="interval-yearwrapper">
                                        <div class="interval-inneryearwrapper">
                                            <span class="year-char start-yr">Yr</span>
                                            <span class="year-number start-number" style="">{{HSWMain.ppt}} </span>
                                        </div>
                                        <div class="uliplong-yrs start-text" style="">end of premium payment term</div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <!--animated-outerbluewrapyears-->
                    <div class="animated-years">
                        <div class="left-years">
                            <div class="years-div">
                                <span class="year-char">Yr</span>
                                <span class="year-number">1</span>
                            </div>
                            <div class="years-text start-text" style="width:150px">
                                start of the plan
                            </div>
                        </div>
                        <div class="right-years">
                            <div class="years-div">
                                <span class="year-char">Yr</span>
                                <span class="year-number">{{HSWMain.policyTerm}}</span>
                            </div>
                            <div class="years-text">
                               policy maturity
                            </div>
                         </div>
                        <div class="clearfix"></div>
                    </div>      
                    <div class="clearfix"></div>
                </div>

                <div class="hsw-extratext">
                    <sup style="color:red">*</sup> The default fund selection is Whole Life Mid-cap Equity Fund (ULIF 009 04/01/07 WLE 110)
                </div>
            </div>
            <!--Proceed to SIS-->

            <div class="proceed-tosis" ng-click="HSWMain.processToSiS()">
                proceed to sis <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </div>
        </div>
