<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<qls-timeline class="tab-nav"></qls-timeline>
</div>
<ion-content has-bouncing ="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<!-- Question Wrapper -->
		<div class="app-form-inner-content">
			<form name="lifestyleForm" id="lifestyleForm">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group custom-form main-form-title">
						<label class="form-label">Insured</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="question-outerwrap">
						<!-- 1. First Question -->
						<div class="question-wrap orange-border">
							<div class="question-text">
								Are you employed in Armed Forces, Paramilitary or Police Forces of Fire Brigade
								<span class="compulsory-mark">
									<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
								</span>
							</div>
							<!-- Answer Buttons -->
							<div class="answer-buttons-wrap">
								<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="questionSetOne" value="Y" id="questionOneYes" ng-model="life.lifeStyleBean.Quest1.ANSFLAG" ng-change="life.onChangeQuest1()" required/>
									<label for="questionOneYes"></label>
								</div>
								<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="questionSetOne" value="N" id="questionOneNo" ng-model="life.lifeStyleBean.Quest1.ANSFLAG" ng-change="life.onChangeQuest1()" required/>
									<label for="questionOneNo"></label>
								</div>
							</div>
							<div ng-messages="lifestyleForm.questionSetOne.$error" class="error-messages" ng-show="lifestyleForm.questionSetOne.$invalid && (!lifestyleForm.questionSetOne.$pristine || life.click)">
								<div ng-message="required">Please select an option.</div>
							</div>
						</div>
						<!-- 2. Second Question -->
						<div class="question-wrap pink-border">
							<div class="question-text">
								Is your occupation associated with any specific accident/health hazard or do you take part in activities or have hobbies that could be dangerous in any way (e.g. Chemical Factory, mines, explosives, radition, corrosive chemicals, underwater/underground, aviation, other than as a fare paying passenger, diving, mountaineering, any form of racing etc)?
								<span class="compulsory-mark">
									<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
								</span>
							</div>
							<!-- Answer Buttons -->
							<div class="answer-buttons-wrap">
								<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="questionSetTwo" value="Y" id="questionTwoYes" ng-model="life.lifeStyleBean.Quest2.ANSFLAG" ng-change="life.onChangeQuest2()" required/>
									<label for="questionTwoYes"></label>
								</div>
								<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="questionSetTwo" value="N" id="questionTwoNo" ng-model="life.lifeStyleBean.Quest2.ANSFLAG" ng-change="life.onChangeQuest2()" required/>
									<label for="questionTwoNo"></label>
								</div>
							</div>
							<div ng-messages="lifestyleForm.questionSetTwo.$error" class="error-messages" ng-show="lifestyleForm.questionSetTwo.$invalid && (!lifestyleForm.questionSetTwo.$pristine || life.click)">
								<div ng-message="required">Please select an option.</div>
							</div>
							<!--Sub Questions-->
							<div class="sub-question-wrap" ng-show="life.lifeStyleBean.Quest2.ANSFLAG == 'Y'">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Please select :</label>
											<div class="custom-drp">
												<select class="form-control" name="Quest2Sub1" ng-model="life.lifeStyleBean.Quest2.SUB1.ANS" ng-options="option.DISPLAY for option in life.Quest2List1 track by option.VALUE" ng-change="life.onChangeOccup()" select-required="life.lifeStyleBean.Quest2.ANSFLAG == 'Y'">
												</select>
											</div>
										</div>
										<div ng-messages="lifestyleForm.Quest2Sub1.$error" class="error-messages" ng-show="lifestyleForm.Quest2Sub1.$invalid && (!lifestyleForm.Quest2Sub1.$pristine || life.click)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="life.lifeStyleBean.Quest2.SUB1.ANS.VALUE == 'Hobbies'">
										<div class="form-group custom-form">
											<label class="form-label">Please select :</label>
											<div class="custom-drp">
												<select class="form-control" name="Quest2Sub2" ng-model="life.lifeStyleBean.Quest2.SUB2.ANS" ng-options="option.DISPLAY for option in life.Quest2List2 track by option.VALUE" ng-change="life.onChangeHobbies()" select-required="life.lifeStyleBean.Quest2.ANSFLAG == 'Y' && life.lifeStyleBean.Quest2.SUB1.ANS.VALUE == 'Hobbies'">
												</select>
											</div>
										</div>
										<div ng-messages="lifestyleForm.Quest2Sub2.$error" class="error-messages" ng-show="lifestyleForm.Quest2Sub2.$invalid && (!lifestyleForm.Quest2Sub2.$pristine || life.click)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						<!--3. Third Question -->
						<div class="question-wrap orange-border">
							<div class="question-text">
								Have you been convicted of any criminal proceedings under any court of law in India or abroad?
								<span class="compulsory-mark">
									<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
								</span>
							</div>
							<!-- Answer Buttons -->
							<div class="answer-buttons-wrap">
								<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="questionSetThree" value="Y" id="questionThirdYes" ng-model="life.lifeStyleBean.Quest3.ANSFLAG" required/>
									<label for="questionThirdYes"></label>
								</div>
								<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="questionSetThree" value="N" id="questionThirdNo" ng-model="life.lifeStyleBean.Quest3.ANSFLAG" required/>
									<label for="questionThirdNo"></label>
								</div>
							</div>
							<div ng-messages="lifestyleForm.questionSetThree.$error" class="error-messages" ng-show="lifestyleForm.questionSetThree.$invalid && (!lifestyleForm.questionSetThree.$pristine || life.click)">
								<div ng-message="required">Please select an option.</div>
							</div>
							<!--Sub Questions-->
							<div class="sub-question-wrap" ng-show="life.lifeStyleBean.Quest3.ANSFLAG == 'Y'">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Criminal Details</label>
											<textarea cols="30" rows="2" class="form-control" name="criminal" ng-model="life.lifeStyleBean.Quest3.SUB1.ANS" ng-pattern="life.freeTxtRegex" ng-maxlength="250" ng-required="life.lifeStyleBean.Quest3.ANSFLAG == 'Y'" block-hash></textarea>
											<!--<input type="text" class="form-control" name="criminal" ng-model="life.lifeStyleBean.Quest3.SUB1.ANS" placeholder="Details" required/>-->
										</div>
										<div ng-messages="lifestyleForm.criminal.$error" class="error-messages" ng-show="lifestyleForm.criminal.$invalid && (!lifestyleForm.criminal.$pristine || life.click)">
											<div ng-message="required">This field cannot be empty.</div>
											<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
											<div ng-message="blockHash">Please do not enter '#' or '|'.</div>
											<div ng-message="pattern">Enter valid details excluding special characters.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 4. Forth Question -->
						<div class="question-wrap pink-border">
							<div class="question-text">
								Do you intend to travel outside India for a period of more than 30 days apart from vacation or pleasure?
								<span class="compulsory-mark">
									<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
								</span>
							</div>
							<!-- Answer Buttons -->
							<div class="answer-buttons-wrap">
								<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="questionSetFour" value="Y" id="questionForthYes" ng-model="life.lifeStyleBean.Quest4.ANSFLAG" ng-change="life.onChangeTravel()" required/>
									<label for="questionForthYes"></label>
								</div>
								<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="questionSetFour" value="N" id="questionForthNo" ng-model="life.lifeStyleBean.Quest4.ANSFLAG" ng-change="life.onChangeTravel()" required/>
									<label for="questionForthNo"></label>
								</div>
							</div>
							<div ng-messages="lifestyleForm.questionSetFour.$error" class="error-messages" ng-show="lifestyleForm.questionSetFour.$invalid && (!lifestyleForm.questionSetFour.$pristine || life.click)">
								<div ng-message="required">Please select an option.</div>
							</div>
							<!--Sub Questions-->
							<div class="sub-question-wrap" ng-show="life.lifeStyleBean.Quest4.ANSFLAG == 'Y'">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Travel Details</label>
											<textarea cols="30" rows="2" class="form-control" name="travel" ng-model="life.lifeStyleBean.Quest4.SUB1.ANS" ng-pattern="life.freeTxtRegex" ng-maxlength="250" ng-required="life.lifeStyleBean.Quest4.ANSFLAG == 'Y'" block-hash></textarea>
											<!--<input type="text" class="form-control" name="travel" ng-model="life.lifeStyleBean.Quest4.SUB1.ANS" placeholder="Details" required/>-->
										</div>
										<div ng-messages="lifestyleForm.travel.$error" class="error-messages" ng-show="lifestyleForm.travel.$invalid && (!lifestyleForm.travel.$pristine || life.click)">
											<div ng-message="required">This field cannot be empty.</div>
											<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
											<div ng-message="blockHash">Please do not enter '#' or '|'.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 5. Fifth Question -->
						<div class="question-wrap purple-border">
							<div class="question-text">
								Do you consume alcohol? If Yes, whether ocassionally or frequently kindly specify type and Quantity per day consumed
								<span class="compulsory-mark">
									<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
								</span>
							</div>
							<!-- Answer Buttons -->
							<div class="answer-buttons-wrap">
								<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="questionSetFive" value="Y" id="questionFifthYes" ng-model="life.lifeStyleBean.Quest5.ANSFLAG" ng-change="life.onChangeQuest5()" required/>
									<label for="questionFifthYes"></label>
								</div>
								<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="questionSetFive" value="N" id="questionFifthNo" ng-model="life.lifeStyleBean.Quest5.ANSFLAG" ng-change="life.onChangeQuest5()" required/>
									<label for="questionFifthNo"></label>
								</div>
							</div>
							<div ng-messages="lifestyleForm.questionSetFive.$error" class="error-messages" ng-show="lifestyleForm.questionSetFive.$invalid && (!lifestyleForm.questionSetFive.$pristine || life.click)">
								<div ng-message="required">Please select an option.</div>
							</div>
							<!--Sub Questions-->
							<div class="sub-question-wrap"  ng-show="life.lifeStyleBean.Quest5.ANSFLAG == 'Y'">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Please mention type :</label>
											<div class="custom-drp">
												<select class="form-control" name="Quest5Sub1" ng-model="life.lifeStyleBean.Quest5.SUB1.ANS1" ng-options="option.DISPLAY for option in life.drinksTypeList track by option.NBFE_CODE" select-required="life.lifeStyleBean.Quest5.ANSFLAG == 'Y'">
												</select>
											</div>
										</div>
										<div ng-messages="lifestyleForm.Quest5Sub1.$error" class="error-messages" ng-show="lifestyleForm.Quest5Sub1.$invalid && (!lifestyleForm.Quest5Sub1.$pristine || life.click)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Frequency:</label>
											<div class="custom-drp">
												<select class="form-control" name="Quest5Sub2" ng-model="life.lifeStyleBean.Quest5.SUB1.ANS3" ng-options="option.DISPLAY for option in life.frequencyList track by option.NBFE_CODE" select-required="life.lifeStyleBean.Quest5.ANSFLAG == 'Y'">
												</select>
											</div>
										</div>
										<div ng-messages="lifestyleForm.Quest5Sub2.$error" class="error-messages" ng-show="lifestyleForm.Quest5Sub2.$invalid && (!lifestyleForm.Quest5Sub2.$pristine || life.click)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Quantity (ml)</label>
											<input type="number" class="form-control" name="quant1"  ng-model="life.lifeStyleBean.Quest5.SUB1.ANS2" ng-maxlength="5" ng-pattern="life.numRegex" ng-required="life.lifeStyleBean.Quest5.ANSFLAG == 'Y'"/>
										</div>
										<div ng-messages="lifestyleForm.quant1.$error" class="error-messages" ng-show="lifestyleForm.quant1.$invalid && (!lifestyleForm.quant1.$pristine || life.click)">
											<div ng-message="required">Please enter valid Quantity.</div>
											<div ng-message="pattern">Please enter numbers only.</div>
											<div ng-message="maxlength">Quantity cannot be more than 5 digits.</div>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- 6. Six Question -->
						<div class="question-wrap ligthred-border">
							<div class="question-text">
								Do you consume tobacco? If Yes, whether ocassionally or frequently kindly specify type and Quantity per day consumed
								<span class="compulsory-mark">
									<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
								</span>
							</div>
							<!-- Answer Buttons -->
							<div class="answer-buttons-wrap">
								<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="questionSetSix" value="Y" id="questionSixYes" ng-model="life.lifeStyleBean.Quest6.ANSFLAG" ng-change="life.onChangeQuest6()" required/>
									<label for="questionSixYes"></label>
								</div>
								<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="questionSetSix" value="N" id="questionSixNo" ng-model="life.lifeStyleBean.Quest6.ANSFLAG" ng-change="life.onChangeQuest6()" required/>
									<label for="questionSixNo"></label>
								</div>
							</div>
							<div ng-messages="lifestyleForm.questionSetSix.$error" class="error-messages" ng-show="lifestyleForm.questionSetSix.$invalid && (!lifestyleForm.questionSetSix.$pristine || life.click)">
								<div ng-message="required">Please select an option.</div>
							</div>
							<!--Sub Questions-->
							<div class="sub-question-wrap"  ng-show="life.lifeStyleBean.Quest6.ANSFLAG == 'Y'">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Please mention type :</label>
											<div class="custom-drp">
												<select class="form-control" name="Quest6Sub1" ng-model="life.lifeStyleBean.Quest6.SUB1.ANS1" ng-options="option.DISPLAY for option in life.smokeTypeList track by option.NBFE_CODE" select-required="life.lifeStyleBean.Quest6.ANSFLAG == 'Y'">
												</select>
											</div>
										</div>
										<div ng-messages="lifestyleForm.Quest6Sub1.$error" class="error-messages" ng-show="lifestyleForm.Quest6Sub1.$invalid && (!lifestyleForm.Quest6Sub1.$pristine || life.click)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Frequency:</label>
											<div class="custom-drp">
												<select class="form-control" name="Quest6Sub2" ng-model="life.lifeStyleBean.Quest6.SUB1.ANS3" ng-options="option.DISPLAY for option in life.frequencyList track by option.NBFE_CODE" select-required="life.lifeStyleBean.Quest6.ANSFLAG == 'Y'">
												</select>
											</div>
										</div>
										<div ng-messages="lifestyleForm.Quest6Sub2.$error" class="error-messages" ng-show="lifestyleForm.Quest6Sub2.$invalid && (!lifestyleForm.Quest6Sub2.$pristine || life.click)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Quantity</label>
											<input type="number" class="form-control" name="quant2"  ng-model="life.lifeStyleBean.Quest6.SUB1.ANS2" ng-maxlength="5" ng-pattern="life.numRegex" ng-required="life.lifeStyleBean.Quest6.ANSFLAG == 'Y'"/>
										</div>
										<div ng-messages="lifestyleForm.quant2.$error" class="error-messages" ng-show="lifestyleForm.quant2.$invalid && (!lifestyleForm.quant2.$pristine || life.click)">
											<div ng-message="required">Please enter valid Quantity.</div>
											<div ng-message="pattern">Please enter numbers only.</div>
											<div ng-message="maxlength">Quantity cannot be more than 5 digits.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--7. Seventh Question -->
						<div class="question-wrap ligthred-border">
							<div class="question-text">
								Have you consumed tobacco in any form (smoking, chewing etc) during the past 12 months? If Yes, kindly confirm type, quantity and duration of consumption
								<span class="compulsory-mark">
									<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
								</span>
							</div>
							<!-- Answer Buttons -->
							<div class="answer-buttons-wrap">
								<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="questionSetSev" value="Y" id="questionSevYes" ng-model="life.lifeStyleBean.Quest7.ANSFLAG" ng-change="life.onChangeQuest7()" required/>
									<label for="questionSevYes"></label>
								</div>
								<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="questionSetSev" value="N" id="questionSevNo" ng-model="life.lifeStyleBean.Quest7.ANSFLAG" ng-change="life.onChangeQuest7()" required/>
									<label for="questionSevNo"></label>
								</div>
							</div>
							<div ng-messages="lifestyleForm.questionSetSev.$error" class="error-messages" ng-show="lifestyleForm.questionSetSev.$invalid && (!lifestyleForm.questionSetSev.$pristine || life.click)">
								<div ng-message="required">Please select an option.</div>
							</div>
							<!--Sub Questions-->
							<div class="sub-question-wrap" ng-show="life.lifeStyleBean.Quest7.ANSFLAG == 'Y'">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Please mention type :</label>
											<div class="custom-drp">
												<select class="form-control" name="Quest7Sub1" ng-model="life.lifeStyleBean.Quest7.SUB1.ANS1" ng-options="option.DISPLAY for option in life.smokeTypeList track by option.NBFE_CODE" select-required="life.lifeStyleBean.Quest7.ANSFLAG == 'Y'">
												</select>
											</div>
										</div>
										<div ng-messages="lifestyleForm.Quest7Sub1.$error" class="error-messages" ng-show="lifestyleForm.Quest7Sub1.$invalid && (!lifestyleForm.Quest7Sub1.$pristine || life.click)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Frequency:</label>
											<div class="custom-drp">
												<select class="form-control" name="Quest7Sub2" ng-model="life.lifeStyleBean.Quest7.SUB1.ANS3" ng-options="option.DISPLAY for option in life.frequencyList track by option.NBFE_CODE" select-required="life.lifeStyleBean.Quest7.ANSFLAG == 'Y'">
													<option>Select</option>
												</select>
											</div>
										</div>
										<div ng-messages="lifestyleForm.Quest7Sub2.$error" class="error-messages" ng-show="lifestyleForm.Quest7Sub2.$invalid && (!lifestyleForm.Quest7Sub2.$pristine || life.click)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Quantity</label>
											<input type="number" class="form-control" name="quant3"  ng-model="life.lifeStyleBean.Quest7.SUB1.ANS2" ng-maxlength="5" ng-pattern="life.numRegex" ng-required="life.lifeStyleBean.Quest7.ANSFLAG == 'Y'"/>
										</div>
										<div ng-messages="lifestyleForm.quant3.$error" class="error-messages" ng-show="lifestyleForm.quant3.$invalid && (!lifestyleForm.quant3.$pristine || life.click)">
											<div ng-message="required">Please enter valid Quantity.</div>
											<div ng-message="pattern">Please enter numbers only.</div>
											<div ng-message="maxlength">Quantity cannot be more than 5 digits.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--8. Eight Question -->
						<div class="question-wrap ligthred-border">
							<div class="question-text">
								Do you use or have you ever used Cocaine, Amphetamines, Marijuana, Barbiturates, Narcotics or other Stimulants? If Yes, specify type, duration and quantity consumed
								<span class="compulsory-mark">
									<sup><i class="fa fa-star" aria-hidden="true"></i></sup>
								</span>
							</div>
							<!-- Answer Buttons -->
							<div class="answer-buttons-wrap">
								<div class="tick-radio-btn-wrap answer-yes">
									<input type="radio" name="questionSetEig" value="Y" id="questionEigYes" ng-model="life.lifeStyleBean.Quest8.ANSFLAG" ng-change="life.onChangeQuest8()" required/>
									<label for="questionEigYes"></label>
								</div>
								<div class="tick-radio-btn-wrap answer-no">
									<input type="radio" name="questionSetEig" value="N" id="questionEigNo" ng-model="life.lifeStyleBean.Quest8.ANSFLAG" ng-change="life.onChangeQuest8()" required/>
									<label for="questionEigNo"></label>
								</div>
							</div>
							<div ng-messages="lifestyleForm.questionSetEig.$error" class="error-messages" ng-show="lifestyleForm.questionSetEig.$invalid && (!lifestyleForm.questionSetEig.$pristine || life.click)">
								<div ng-message="required">Please select an option.</div>
							</div>
							<!--Sub Questions-->
							<div class="sub-question-wrap" ng-show="life.lifeStyleBean.Quest8.ANSFLAG == 'Y'">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Please mention type :</label>
											<input type="text" class="form-control" name="Quest8Sub1" ng-model="life.lifeStyleBean.Quest8.SUB1.ANS1"  ng-maxlength="250" ng-required="life.lifeStyleBean.Quest8.ANSFLAG == 'Y'" ng-pattern="life.freeTxtRegex" block-hash/>
										</div>
										<div ng-messages="lifestyleForm.Quest8Sub1.$error" class="error-messages" ng-show="lifestyleForm.Quest8Sub1.$invalid && (!lifestyleForm.Quest8Sub1.$pristine || life.click)">
											<div ng-message="required">Please mention type.</div>
											<div ng-message="maxlength">Details cannot be more than 250 characters.</div>
											<div ng-message="blockHash">Please do not enter '#' or '|'.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Frequency:</label>
											<div class="custom-drp">
												<select class="form-control" name="Quest8Sub2" ng-model="life.lifeStyleBean.Quest8.SUB1.ANS3" ng-options="option.DISPLAY for option in life.frequencyList track by option.NBFE_CODE" select-required="life.lifeStyleBean.Quest8.ANSFLAG == 'Y'">
												</select>
											</div>
										</div>
										<div ng-messages="lifestyleForm.Quest8Sub2.$error" class="error-messages" ng-show="lifestyleForm.Quest8Sub2.$invalid && (!lifestyleForm.Quest8Sub2.$pristine || life.click)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group custom-form">
											<label class="form-label">Quantity</label>
											<input type="number" class="form-control" name="quant4"  ng-model="life.lifeStyleBean.Quest8.SUB1.ANS2" ng-maxlength="5" ng-pattern="life.numRegex" ng-required="life.lifeStyleBean.Quest8.ANSFLAG == 'Y'"/>
										</div>
										<div ng-messages="lifestyleForm.quant4.$error" class="error-messages" ng-show="lifestyleForm.quant4.$invalid && (!lifestyleForm.quant4.$pristine || life.click)">
											<div ng-message="required">Please enter valid Quantity.</div>
											<div ng-message="pattern">Please enter numbers only.</div>
											<div ng-message="maxlength">Quantity cannot be more than 5 digits.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap"><!--ng-disabled="personalForm.$invalid"-->
								<button class="btn btn-default btn-block" ng-click="life.onNext(lifestyleForm)">Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</ion-content>
