<ion-pane class="lead-details">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <div class="headertitle-wrap">
				<div class="menu-iconlogo-wrapper">
					<a ng-click="ldc.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
				</div>
				<div class="createlead-wrapper">
					<h2 class="header-title text-center">View Lead Details</h2>
				</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </ion-header-bar>

	<ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
		<section class="content-block">
			<div class="lead-details-head">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="media">
								<div class="media-left media-middle">
									<img class="media-object img-circle" src="../img/noimg.png" alt="...">
								</div>
								<div class="media-body">
									<h4 class="media-heading" name="name"  ng-model="ldc.name">{{ldc.leadName}}</h4>
									<p class="mobile-no">{{ldc.leadMobileNo}}</p>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 lead-details-tab pull-right" style="display: none">
									<a class="lead-tab-links" ng-click="ldc.editLead()">
										<span class="librari-ico"><i class="icon icon-16"></i></span>
										<span class="text">Lead Library</span>
									</a>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 lead-details-tab pull-right" style="display: none">
									<a class="lead-tab-links">
										<span class="lead-ico"><i class="icon icon-asset-5"></i></span>
										<span class="text">Referral Lead</span>
									</a>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 lead-details-tab pull-right" ng-show="ldc.oppStarter=='FF'">
									<a ng-click="ldc.goToFactFinder()" type="button" class="lead-tab-links">
										<span class="findfactor-ico"><i class="icon icon-11"></i></span>
										<span class="text">New Fact Finder</span>
									</a>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 lead-details-tab pull-right" ng-show="ldc.oppStarter=='FHR' || ldc.oppStarter=='FHR_SIS'">
									<a ng-click="ldc.goToFHR()" type="button" class="lead-tab-links">
										<span class="findfactor-ico"><i class="icon icon-11"></i></span>
										<span class="text">New FHR</span>
									</a>
								</div>
								<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 lead-details-tab pull-right" ng-show="(ldc.oppStarter=='FHR_SIS') || (ldc.oppStarter=='SIS' && ldc.sisId)">
									<a ng-click="ldc.initiateNewSIS(true)" type="button" class="lead-tab-links">
										<span class="findfactor-ico"><i class="icon icon-26"></i></span>
										<span class="text">New SIS</span>
									</a>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="lead-details-content">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-sm-4 col-md-4 lead-box" ng-show="ldc.oppStarter=='FF'">
							<div class="plan plan-color1">
								<div class="head pull-left">
									<h2 class="pull-left">Fact Finder</h2>
									<span class="pull-right ff-white"><i class="icon icon-11"></i></span>
								</div>
								<ul class="item-list pull-left">
									<li>
										<button ng-disabled="(!ldc.fhrId || !!ldc.fhrSignedTimestamp)" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: (!ldc.fhrId || !!ldc.fhrSignedTimestamp)}]" type="button" ng-click="ldc.continueFactFinder()">Continue</button>
									</li>
									<li>
										<button ng-disabled="(!ldc.fhrSignedTimestamp)" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: (!ldc.fhrSignedTimestamp)}]" type="button" ng-click="ldc.viewFFReport()">View Output</button>
									</li>
									<li ng-show="ldc.isTermAttached">
										<button ng-disabled="(!ldc.fhrSignedTimestamp)" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: (!ldc.fhrSignedTimestamp)}]" type="button" ng-click="ldc.viewTermFFReport()">View Term Output</button>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 lead-box" ng-show="ldc.oppStarter=='FHR' || ldc.oppStarter=='FHR_SIS'">
							<div class="plan plan-color1">
								<div class="head pull-left">
									<h2 class="pull-left">FHR</h2>
									<span class="pull-right ff-white"><i class="icon icon-11"></i></span>
								</div>
								<ul class="item-list pull-left">
									<li>
										<button ng-disabled="(!ldc.fhrId || !!ldc.fhrSignedTimestamp) || (!ldc.isFhrSel)" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: ((!ldc.fhrId || !!ldc.fhrSignedTimestamp) || (!ldc.isFhrSel))}]" type="button" ng-click="ldc.continueFHR()">Continue</button>
									</li>
									<li>
										<button ng-disabled="(!ldc.fhrSignedTimestamp) || (!ldc.isFhrSel)" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: ((!ldc.fhrSignedTimestamp) || (!ldc.isFhrSel))}]" type="button" ng-click="ldc.viewFHRReport()">View Output</button>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4 col-md-4 lead-box">
							<div class="plan plan-color2">
								<div class="head pull-left">
									<h2 class="pull-left">SIS</h2>
									<span class="pull-right ff-white"><i class="icon icon-26" aria-hidden="true"></i></span>
								</div>
								<ul class="item-list pull-left">
									<li ng-show="!ldc.sisId">
										<button ng-disabled="ldc.initNewSISDisabled" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: ldc.initNewSISDisabled}]" type="button" ng-click="ldc.initiateNewSIS()">Initiate New SIS</button>
									</li>
									<li ng-show="ldc.sisId">
										<button ng-disabled="(!!ldc.sisSignedTimestamp)" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: (!!ldc.sisSignedTimestamp)}]" type="button" ng-click="ldc.continueSIS()">Continue SIS</button>
									</li>
									<li>
										<button ng-disabled="(!ldc.sisSignedTimestamp)" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: (!ldc.sisSignedTimestamp)}]" type="button" ng-click="ldc.viewSISReport()">View Output</button>
									</li>
									<li ng-show="ldc.isTermAttached">
										<button ng-disabled="(!ldc.sisTermSignedTimestamp)" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: (!ldc.sisTermSignedTimestamp)}]" type="button" ng-click="ldc.viewTermSISReport()">View Term Output</button>
									</li>
									<li>
										<button ng-disabled="(!ldc.sisSignedTimestamp || (ldc.isCustDet=='Y' && ldc.ISDIGITAL_PSC_DONE == 'Y'))" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: (!ldc.sisSignedTimestamp || (ldc.isCustDet=='Y' && ldc.ISDIGITAL_PSC_DONE == 'Y'))}]" type="button" ng-click="ldc.loadInitiatePSC()">Initiate Verification</button>
									</li>
								</ul>
							</div>
						</div>
                        <div class="col-sm-4 col-md-4 lead-box">
                            <div class="plan plan-color3">
                                <div class="head pull-left">
                                    <h2 class="pull-left">App Form</h2>
                                    <span class="pull-right ff-white"><i class="icon icon-27" aria-hidden="true"></i></span>
                                </div>
                                <ul class="item-list pull-left">
                                    <li ng-hide="(ldc.isCustDet=='Y')">
                                       <button ng-disabled="(!ldc.sisSignedTimestamp || ldc.isCustDet=='Y' || (ldc.isCustDet!='Y' && ldc.ISDIGITAL_PSC_DONE!='Y'))" type="button" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: (!ldc.sisSignedTimestamp || ldc.isCustDet=='Y' || (ldc.isCustDet!='Y' && ldc.ISDIGITAL_PSC_DONE!='Y'))}]" ng-click="ldc.loadApplicationCustDet()" type="button">Customer details</button>
                                    </li>
                                    <li ng-show="(!!ldc.sisSignedTimestamp && ldc.isCustDet=='Y')">
                                        <button ng-disabled="!(!!ldc.sisSignedTimestamp && ldc.isCustDet=='Y')" type="button" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: !(!!ldc.sisSignedTimestamp && ldc.isCustDet == 'Y')}]" ng-click="ldc.viewAppReport()" type="button">View Application</button>
                                    </li>
									<li ng-show="(!!ldc.sisSignedTimestamp && ldc.isCustDet=='Y' && !!ldc.COMBO_ID)">
										<button ng-disabled="!(!!ldc.sisSignedTimestamp && ldc.isCustDet=='Y')" type="button" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: !(!!ldc.sisSignedTimestamp && ldc.isCustDet == 'Y')}]" ng-click="ldc.viewAppTermReport()" type="button">View Term Application</button>
									</li>
                                    <li>
                                        <button ng-disabled="(!ldc.sisSignedTimestamp || !ldc.isCustDet || ldc.isCustDet=='N')" type="button" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: (!ldc.sisSignedTimestamp || !ldc.isCustDet || ldc.isCustDet=='N')}]" type="button" ng-click="ldc.uploadDocument()">Document upload</button>
                                    </li>
                                    <li>
                                        <button ng-disabled="(!ldc.sisSignedTimestamp || !ldc.isDocDet || ldc.isDocDet=='N')" type="button" ng-class="['lead-btn-block', 'btn-block', 'ld-dtls-btn',{disable_btn: (!ldc.sisSignedTimestamp || !ldc.isDocDet || ldc.isDocDet=='N')}]" ng-click="ldc.loadAgentDet()" type="button">Agents details</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
						<div class="col-sm-12 col-md-12 lst-update">
							<p>App Tracker No {{ldc.oppId}}</p>
						</div>
						<div class="col-sm-12 col-md-12 lst-update">
							<p>Last updated on {{ldc.lastUpdatedDate}}</p>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</section>
	</ion-content>
</ion-pane>
