<ion-view>
	<ion-content>
		<sis-header></sis-header>
		<div class="clearfix"></div>
		<sis-timeline></sis-timeline>
		<div class="sis-form-wrap">
			<div class="form_wrap">
				<form name="sc.sisFormF" id="sc.sisFormF" novalidate>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form custom-drp">
								<label class="form-label">Are you a<span class="requiredStar">*</span></label>
								<div class="sis-radio-check">
									<div class="tick-radio-wrap">
										<div class="tick-radio-btn-wrap">
											<input  type="radio" id="sisGrpEmpTata" name="sisGrpEmp" value="TATA Group Employee" ng-model="sc.sisFormFData.GROUP_EMPLOYEE" ng-change="sc.onGrpEmpChange()" required/>
											<label for="sisGrpEmpTata">TATA Group Employee</label>
										</div>
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="sisGrpEmpIbl" value="IBL Employee" name="sisGrpEmp" ng-model="sc.sisFormFData.GROUP_EMPLOYEE" ng-change="sc.onGrpEmpChange()" required/>
											<label for="sisGrpEmpIbl">IBL Employee</label>
										</div>
										<div class="tick-radio-btn-wrap">
											<input type="radio" id="sisGrpEmpOthr" value="Others" name="sisGrpEmp" ng-model="sc.sisFormFData.GROUP_EMPLOYEE" ng-change="sc.onGrpEmpChange()" required/>
											<label for="sisGrpEmpOthr">Others</label>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div ng-messages="sc.sisFormF.sisGrpEmp.$error" class="error-messages" ng-show="sc.sisFormF.sisGrpEmp.$invalid && (!sc.sisFormF.sisGrpEmp.$pristine || sc.onNextClick)">
								<div ng-message="selectRequired">Please select an option.</div>
							</div>
						</div>
						<!-- ng-show="sc.sisFormFData.GROUP_EMPLOYEE=='Others'" -->
						<div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form custom-drp">
											<label class="form-label">Nationality <span class="requiredStar">*</span></label>
											<select class="form-control" name="nationality" ng-options="option.NATIONALITY_DISPLAY for option in sc.nationalityList track by option.NATIONALITY_VALUE" ng-model="sc.nationalityOptionSelected" ng-change="sc.onNationalityChg()" select-required></select>
										</div>
										<div ng-messages="sc.sisFormF.nationality.$error" class="error-messages" ng-show="sc.sisFormF.nationality.$invalid && (!sc.sisFormF.nationality.$pristine || sc.onNextClick)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form custom-drp">
											<label class="form-label">Are you Residing <span class="requiredStar">*</span></label>
											<select class="form-control" name="residentStatus" ng-options="option.RESIDENT_STATUS disable when ((sc.sisFormFData.NATIONALITY=='Indian' && (option.RESIDENT_STATUS_CODE=='FN' || option.RESIDENT_STATUS_CODE=='OCI')) ||
											(sc.sisFormFData.NATIONALITY=='Other' && (option.RESIDENT_STATUS_CODE=='RI' || option.RESIDENT_STATUS_CODE=='NRI'))) for option in sc.residentStatusList track by option.RESIDENT_STATUS_CODE" ng-model="sc.residentStatusOptionSelected" ng-change="sc.onResidenceChg()" select-required></select>
										</div>
										<div ng-messages="sc.sisFormF.residentStatus.$error" class="error-messages" ng-show="sc.sisFormF.residentStatus.$invalid && (!sc.sisFormF.residentStatus.$pristine || sc.onNextClick)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sc.sisFormFData.GROUP_EMPLOYEE=='IBL Employee'">
										<div class="form-group custom-form custom-drp">
											<label class="form-label">Date of Joining<span class="requiredStar">*</span></label>
											<input type="date" class="form-control" name="dateOfJoining" ng-model="sc.sisFormFData.IBL_JOINING_DATE" ng-change="sc.onDateOfJoiningChg()" ng-required="sc.sisFormFData.GROUP_EMPLOYEE=='IBL Employee'"/>
										</div>
										<div ng-messages="sc.sisFormF.dateOfJoining.$error" class="error-messages" ng-show="sc.sisFormF.dateOfJoining.$invalid && (!sc.sisFormF.dateOfJoining.$pristine || sc.onNextClick)">
											<div ng-message="required">Please enter the date of joining.</div>
										</div>
									</div>
								</div>
							</div>
							<!--   right side block--->
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<div class="row">
									<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form custom-drp">
											<label class="form-label">Education <span class="requiredStar">*</span></label>
											<select class="form-control" name="eduQualification" ng-options="option.LOOKUP_TYPE_DESC disable when (option.NBFE_CODE=='6') for option in sc.eduQualList track by option.NBFE_CODE" ng-model="sc.eduQualOptionSelected" ng-change="sc.onEducationChg()" select-required="sc.sisFormFData.GROUP_EMPLOYEE=='Others'"></select>
										</div>
										<div ng-messages="sc.sisFormF.eduQualification.$error" class="error-messages" ng-show="sc.sisFormF.eduQualification.$invalid && (!sc.sisFormF.eduQualification.$pristine || sc.onNextClick)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div> -->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form custom-drp">
											<label class="form-label">Occupation Class <span class="requiredStar">*</span></label>
											<select class="form-control" name="occClass" ng-options="option.OCCU_CLASS disable when (option.NBFE_CODE!='1' && option.NBFE_CODE!='2' &&option.NBFE_CODE!='3' && option.NBFE_CODE!='7' && option.NBFE_CODE!='8' && option.NBFE_CODE!=null) for option in sc.occClassList track by option.NBFE_CODE" ng-model="sc.occClassOptionSelected" ng-change="sc.onOccClassChg()" select-required></select>
										</div>
										<div ng-messages="sc.sisFormF.occClass.$error" class="error-messages" ng-show="sc.sisFormF.occClass.$invalid && (!sc.sisFormF.occClass.$pristine || sc.onNextClick)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="!!sc.residentStatusOptionSelected.RESIDENT_STATUS_CODE && sc.residentStatusOptionSelected.RESIDENT_STATUS_CODE!='RI'">
										<div class="form-group custom-form custom-drp">
											<label class="form-label">Country of Residence <span class="requiredStar">*</span></label>
											<select class="form-control" name="residentCountry" ng-options="option.COUNTRY_NAME disable when ((sc.sisFormFData.RESIDENT_STATUS_CODE=='NRI' || sc.sisFormFData.RESIDENT_STATUS_CODE=='OCI') && (option.COUNTRY_CODE == 'IN')) for option in sc.residentCountryList track by option.COUNTRY_CODE" ng-model="sc.residentCountryOptionSelected" ng-change="sc.onCountryChg()" select-required="!!sc.residentStatusOptionSelected.RESIDENT_STATUS_CODE && sc.residentStatusOptionSelected.RESIDENT_STATUS_CODE!='RI'"></select>
										</div>
										<div ng-messages="sc.sisFormF.residentCountry.$error" class="error-messages" ng-show="sc.sisFormF.residentCountry.$invalid && (!sc.sisFormF.residentCountry.$pristine || sc.onNextClick)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sc.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='RI'">
										<div class="form-group custom-form custom-drp">
											<label class="form-label">State <span class="requiredStar">*</span></label>
											<select class="form-control" name="state" ng-options="option.STATE_DESC for option in sc.stateList track by option.STATE_CODE" ng-model="sc.stateOptionSelected" ng-change="sc.onStateChange()" select-required="sc.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='RI'"></select>
										</div>
										<div ng-messages="sc.sisFormF.state.$error" class="error-messages" ng-show="sc.sisFormF.state.$invalid && (!sc.sisFormF.state.$pristine || sc.onNextClick)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sc.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='RI'">
										<div class="form-group custom-form custom-drp">
											<label class="form-label">City <span class="requiredStar">*</span></label>
											<select class="form-control" name="city" ng-options="option.CITY_DESC for option in sc.cityList track by option.CITY_CODE" ng-model="sc.cityOptionSelected" ng-change="sc.onCityChg()" select-required="sc.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='RI'"></select>
										</div>
										<div ng-messages="sc.sisFormF.city.$error" class="error-messages" ng-show="sc.sisFormF.city.$invalid && (!sc.sisFormF.city.$pristine || sc.onNextClick)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sc.cityOptionSelected.CITY_CODE=='OT'">
										<div class="form-group custom-form custom-drp">
											<label class="form-label">Other City<span class="requiredStar">*</span></label>
											<input type="text" class="form-control" name="otherCity" ng-model="sc.sisFormFData.OTHER_CITY" ng-pattern="sc.freeTxtRegex" ng-maxlength="30" ng-required="sc.cityOptionSelected.CITY_CODE=='OT'" block-hash/>
										</div>
										<div ng-messages="sc.sisFormF.otherCity.$error" class="error-messages" ng-show="sc.sisFormF.otherCity.$invalid && (!sc.sisFormF.otherCity.$pristine || sc.onNextClick)">
											<div ng-message="required">Please enter Other City</div>
											<div ng-message="blockHash">Please do not use '#' or '|'.</div>
											<div ng-message="pattern">Enter valid city excluding special characters</div>
											<div ng-message="maxlength">Other City cannot be more than 30 characters.</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end of right block  -->
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="custom-btn form-btn-wrap">
												<button class="btn btn-default btn-block" type="button" ng-click="sc.onBack()">Back</button>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="custom-btn form-btn-wrap">
												<button class="btn btn-default btn-block" type="button" ng-click="sc.onNext(sc.sisFormF)">Next</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <p>{{sc.sisFormF.$error|json}}</p> -->
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>
