<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<pi-timeline class="tab-nav"></pi-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<!-- Personal Details Application Form -->
		<div class="app-form-inner-content">
			<form id="personalForm" name="personalForm" novalidate>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-class="{ProposerCondition:pDet.isSelf}">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">Insured</label>
							</div>
						</div>
						<div class="insured_full">
							<!-- Photo -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6"><!--camera-action-done-->
								<!--  ng-click="pDet.openCamera('IN')" -->
								<div class="form-group custom-form upload-photo-wrap newcamera-action-wrap">
									<label class="form-label">Insured Photo<span class="requiredStar">*</span></label>
									<!--New Layout-->
									<button class="doc-checkbox" ng-disabled="pDet.PhotoFlag.Insured  == 'Y'"><i class="fa fa-check" aria-hidden="true"></i></button>
									<div class="newcamera-action">
										<a class="fab-buttons roll-btn" href="javascript:;">
											<span class="i-wrap">
												<i class="fa fa-paperclip" aria-hidden="true"></i>
											</span>
										</a>
										<a href="javascript:;" class="fab-buttons fab-buttons2 fab" ng-click="pDet.cameraClicked('IN')">
											<span class="i-wrap i-wrap-2 cmn-btn">
												<i class="fa fa-camera" aria-hidden="true"></i>
											</span>
											<span class="ico_txt">Camera</span>
										</a>
										<a href="javascript:;" class="fab-buttons fab-buttons3 fab" ng-click="pDet.gallaryClicked('IN')">
											<span class="i-wrap i-wrap-3 cmn-btn">
												<i class="fa fa-picture-o" aria-hidden="true"></i>
											</span>
											<span class="ico_txt">Gallery</span>
										</a>

										<a href="javascript:;" class="fab-buttons fab-buttons3 fab" ng-click="pDet.viewimage('IN')">
											<span class="i-wrap i-wrap-4 cmn-btn">
												<i class="fa fa-eye" aria-hidden="true"></i>
											</span>
											<span class="ico_txt">View Image</span>
										</a>
										<div class="clearfix"></div>
									</div>
									<!--<span class="camera-action" ng-hide="pDet.PhotoFlag.Insured  == 'Y'"><i class="fa fa-camera" aria-hidden="true"></i></span>
									<span class="camera-action-done" ng-show="pDet.PhotoFlag.Insured  == 'Y'"><i class="fa fa-camera" aria-hidden="true"></i></span>-->
									<div class="clearfix"></div>
								</div>
								<!--&& pDet.boolValue == false -->
								<div class="error-messages" ng-show="(!pDet.PhotoFlag.Insured || pDet.PhotoFlag.Insured  != 'Y') && pDet.click">
									Please upload photo
								</div>
							</div>
							<!-- Title -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form">
									<label class="form-label">Title<span class="requiredStar">*</span></label>
									<div class="custom-drp">
										<select class="form-control" name="title" ng-model="pDet.personalDetBean.INSURED_TITLE" ng-disabled="true" ng-options="option.TITLE_DISPLAY for option in pDet.titleList track by option.TITLE" select-required>
										</select>
									</div>
								</div>
								<div ng-messages="personalForm.title.$error" class="error-messages" ng-show="personalForm.title.$invalid && (!personalForm.title.$pristine || pDet.click)">
									<div ng-message="selectRequired">Please select an option.</div>
								</div>
							</div>
							<!-- Name -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form">
									<label class="form-label">Name<span class="requiredStar">*</span></label>
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
											<input type="text" class="form-control" name="fName" ng-model="pDet.personalDetBean.INSURED_FIRST_NAME" ng-maxlength="20" ng-pattern="pDet.nameRegex" ng-disabled="true" required/>
										</div>
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
											<input type="text" class="form-control" name="mName" ng-model="pDet.personalDetBean.INSURED_MIDDLE_NAME" ng-disabled="true" ng-maxlength="20" ng-pattern="pDet.middleNameRegex"/>
										</div>
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
											<input type="text" class="form-control" name="lName" ng-model="pDet.personalDetBean.INSURED_LAST_NAME" ng-disabled="true" ng-maxlength="20" ng-pattern="pDet.nameRegex" required/>
										</div>
									</div>
								</div>
								<div ng-messages="personalForm.fName.$error" class="error-messages" ng-show="personalForm.fName.$invalid && (!personalForm.fName.$pristine || pDet.click)">
									<div ng-message="required">Please enter Name.</div>
									<div ng-message="maxlength">Name cannot be more than 20 characters</div>
									<div ng-message="pattern">Invalid name</div>
								</div>
								<div ng-messages="personalForm.mName.$error" class="error-messages" ng-show="personalForm.mName.$invalid && (!personalForm.mName.$pristine || pDet.click)">
									<div ng-message="pattern">Invalid name</div>
									<div ng-message="maxlength">Name cannot be more than 20 characters</div>
								</div>
								<div ng-messages="personalForm.lName.$error" class="error-messages" ng-show="personalForm.lName.$invalid && (!personalForm.lName.$pristine || pDet.click)">
									<div ng-message="required">Please enter Name.</div>
									<div ng-message="maxlength">Name cannot be more than 20 characters</div>
									<div ng-message="pattern">Invalid name</div>
								</div>
							</div>
							<!-- Gender -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form">
									<label class="form-label">Gender<span class="requiredStar">*</span></label>
									<div class="gender-radio-wrapper">
										<div class="gender-wrapper male-wrapper">
											<input type="radio" id="rdInsuredMale" value="M" ng-disabled="true" ng-model="pDet.personalDetBean.INSURED_GENDER" name="rdInsuredGender" required/>
											<label for="rdInsuredMale">Male</label>
											<div class="clearfix"></div>
										</div>
										<div class="gender-wrapper female-wrapper">
											<input type="radio" id="rdInsuredFemale" value="F" ng-disabled="true" ng-model="pDet.personalDetBean.INSURED_GENDER" name="rdInsuredGender" required/>
											<label for="rdInsuredFemale">Female</label>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div ng-messages="personalForm.rdInsuredGender.$error" class="error-messages" ng-show="personalForm.rdInsuredGender.$invalid && (!personalForm.rdInsuredGender.$pristine || pDet.click)">
									<div ng-message="required">Please enter Gender</div>
								</div>
							</div>
							<!-- DOB -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form">
									<label class="form-label">Date Of Birth<span class="requiredStar">*</span></label>
							<input type="date" class="form-control date-icon" name="dob" ng-disabled="true" ng-model="pDet.personalDetBean.INSURED_DOB" required/>
								</div>
								<div ng-messages="personalForm.dob.$error" class="error-messages" ng-show="personalForm.dob.$invalid && (!personalForm.dob.$pristine || pDet.click)">
									<div ng-message="required">Please enter DOB</div>
								</div>
							</div>
							<!-- EKYC Option -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form">
								<label class="form-label">Do you have Aadhar Card ?<span class="requiredStar">*</span></label>
								<div class="tick-radio-wrap">
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="rdInsekycYes" value="Y" ng-model="pDet.personalDetBean.INSURED_EKYC_OPT" name="rdInsekyc" ng-disabled="pDet.insEKYCFlag || pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_CODE == 'AD' || pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_CODE == 'AC'" ng-change="pDet.resetInsUAN()" required/>
										<label for="rdInsekycYes">Yes</label>
									</div>
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="rdInsekycNo" value="N" ng-model="pDet.personalDetBean.INSURED_EKYC_OPT" name="rdInsekyc" ng-disabled="pDet.insEKYCFlag || pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_CODE == 'AD' || pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_CODE == 'AC'" ng-change="pDet.resetInsUAN()" required/>
										<label for="rdInsekycNo">No</label>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
								<div ng-messages="personalForm.rdInsekyc.$error" class="error-messages" ng-show="personalForm.rdInsekyc.$invalid && (!personalForm.rdInsekyc.$pristine || pDet.click)">
									<div ng-message="required">Please select an option.</div>
								</div>
							</div>
							<!-- UAN No-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form" ng-show="(pDet.personalDetBean.INSURED_EKYC_OPT=='Y' && pDet.personalDetBean.INSURED_EKYC_OPT!=null) || pDet.insEKYCFlag">
									<label class="form-label">Unique Identification Number (Aadhar)</label>
									<input type="text" class="form-control" name="uanNo" ng-model="pDet.personalDetBean.INSURED_UAN_NO" ng-disabled="pDet.insEKYCFlag" ng-minlength="12" ng-maxlength="12" ng-pattern="pDet.numRegex" ng-change="pDet.isSameAsInsIDProof()" ng-required="pDet.personalDetBean.INSURED_EKYC_OPT=='Y' && pDet.personalDetBean.INSURED_EKYC_OPT!=null" required/>
								</div>
								<div ng-messages="personalForm.uanNo.$error" class="error-messages" ng-show="personalForm.uanNo.$invalid && (!personalForm.uanNo.$pristine || pDet.click)">
									<div ng-message="required">Please enter valid Aadhar Card No.</div>
									<div ng-message="pattern">Please enter valid Aadhar Card No.</div>
									<div ng-message="minlength">Please enter valid Aadhar Card No.</div>
									<div ng-message="maxlength">Please enter valid Aadhar Card No.</div>
								</div>
							</div>
							<!-- I don’t have Permanent Account Number -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form">
								<div class="right-align-checkbox-wrap">
										<input type="checkbox" id="ckInsPAN" ng-model="pDet.personalDetBean.INSURED_PAN_CARD_EXISTS" ng-change="pDet.resetInsPAN()" ng-disabled="pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_CODE == 'PC' || pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_CODE == 'PC'"/>
										<label for="ckInsPAN" class="form-label">I don’t have Permanent Account Number<span class="requiredStar">*</span></label>
									</div>
								</div>
							</div>
							<!-- Permanent Account Number (PAN) -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form" ng-hide="pDet.personalDetBean.INSURED_PAN_CARD_EXISTS">
									<label class="form-label">Permanent Account Number (PAN)<span class="requiredStar">*</span></label>
									<input type="text" class="form-control" name="panNo" ng-model="pDet.personalDetBean.INSURED_PAN_CARD_NO" ng-change="pDet.isSameAsInsIDProof()" ng-minlength="10" ng-maxlength="10" ng-pattern="pDet.panRegex" ng-required="!pDet.personalDetBean.INSURED_PAN_CARD_EXISTS" style="text-transform: uppercase" input-uppercase/>
								</div>
								<div ng-messages="personalForm.panNo.$error" class="error-messages" ng-show="personalForm.panNo.$invalid && (!personalForm.panNo.$pristine || pDet.click)">
									<div ng-message="required">Please enter valid PAN Card No.</div>
									<div ng-message="pattern">Please enter valid PAN Card No.</div>
									<div ng-message="minlength">Please enter valid PAN Card No.</div>
									<div ng-message="maxlength">Please enter valid PAN Card No.</div>
								</div>
							</div>
							<!-- Identification Mark -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form">
									<label class="form-label">Identification Mark</label>
									<input type="text" class="form-control" name="idMark" ng-model="pDet.personalDetBean.INSURED_IDENTIFICATION_MARK" ng-maxlength="25" block-hash/>
								</div>
								<div ng-messages="personalForm.idMark.$error" class="error-messages" ng-show="personalForm.idMark.$invalid && (!personalForm.idMark.$pristine || pDet.click)">
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="maxlength">Identification Mark cannot be more than 25 characters.</div>
								</div>
							</div>
							<!-- Dominant hand -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form">
								<label class="form-label">Dominant Hand</label>
								<div class="tick-radio-wrap">
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="rdInsDominatRight" value="Right" ng-model="pDet.personalDetBean.INSURED_DOMINANT_HAND" name="rdInsDominat"  />
										<label for="rdInsDominatRight">Right</label>
									</div>
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="rdInsDominatLeft" value="Left" ng-model="pDet.personalDetBean.INSURED_DOMINANT_HAND" name="rdInsDominat" />
										<label for="rdInsDominatLeft">Left</label>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						</div>
						<div class="insured_full">
							<!-- Marital Status -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form">
									<label class="form-label">Marital Status<span class="requiredStar">*</span></label>
									<div class="custom-drp">
										<select class="form-control" name="Marital" ng-model="pDet.personalDetBean.INSURED_MARITAL_STATUS" ng-options="option.MARITAL_STATUS disable when (pDet.buyForCode == '75' && option.MARITAL_CD!='M') for option in pDet.maritalStatusList track by option.MARITAL_CD" select-required>
										</select>
									</div>
								</div>
								<div ng-messages="personalForm.Marital.$error" class="error-messages" ng-show="personalForm.Marital.$invalid && (!personalForm.Marital.$pristine || pDet.click)">
									<div ng-message="selectRequired">Please select an option.</div>
								</div>
							</div>
							<!-- Age Proof -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6" ng-hide="pDet.insEKYCFlag && pDet.InsDOBCondition">
								<div class="form-group custom-form">
									<label class="form-label">Age Proof<span class="requiredStar">*</span></label>
									<div class="custom-drp city-drp-dwn">
										<!--<select class="form-control" name="ageProof" ng-model="pDet.personalDetBean.INSURED_AGE_PROOF" ng-options="option.MPPROOF_DESC for option in pDet.insAgeProofList | filter: {CUSTOMER_CATEGORY: 'IN'} track by option.DOC_ID" ng-change="pDet.onInsChangeAgeProof()" select-required>-->
										<!--</select>-->
										<div custom-select=" s.MPPROOF_DESC for s in pDet.insAgeProofList | filter: { MPPROOF_DESC: $searchTerm } track by s.DOC_ID" ng-model="pDet.personalDetBean.INSURED_AGE_PROOF" ng-change="pDet.onInsChangeAgeProof()"  name="ageProof" select-required="!(pDet.insEKYCFlag && pDet.InsDOBCondition)"></div>
									</div>
								</div>
								<div ng-messages="personalForm.ageProof.$error" class="error-messages" ng-show="personalForm.ageProof.$invalid && (!personalForm.ageProof.$pristine || pDet.click)">
									<div ng-message="selectRequired">Please select an option.</div>
								</div>
							</div>
							<!--DOB for AgeProof Documents-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6" ng-hide="pDet.insEKYCFlag && pDet.InsDOBCondition">
								<div class="form-group custom-form">
									<label class="form-label">Date of birth on the age proof<span class="requiredStar">*</span></label>
									<input type="date" class="form-control date-icon" name="insAgeProofdob" ng-model="pDet.personalDetBean.INSURED_AGE_PROOF_DOB" ng-required="!(pDet.insEKYCFlag && pDet.InsDOBCondition)" datecond="!(pDet.insEKYCFlag && pDet.InsDOBCondition)" date-validations="pDet.personalDetBean.INSURED_DOB"/>
								</div>
								<div ng-messages="personalForm.insAgeProofdob.$error" ng-show="personalForm.insAgeProofdob.$invalid && (!personalForm.insAgeProofdob.$pristine || pDet.click)" class="error-messages">
									<div ng-message="required">Please enter DOB</div>
									<div ng-message="dobMismatch">Please provide alternate Age Proof document due to DOB mismatch</div>
								</div>
							</div>
							<!--Date for Expiry -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form" ng-show="(pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_DESC == 'Driving License') && !pDet.insEKYCFlag">
									<label class="form-label">Date Of Expiry<span class="requiredStar">*</span></label>
									<input type="date" class="form-control date-icon" name="expiryDate" ng-model="pDet.personalDetBean.INSURED_EXPIRY_DATE" ng-required="(pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_DESC == 'Driving License') && !pDet.insEKYCFlag" date-expiry = "(pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_DESC == 'Driving License') && !pDet.insEKYCFlag" ng-change="pDet.onInsChangeExpDate()"/>
								</div>
								<div ng-messages="personalForm.expiryDate.$error" ng-show="personalForm.expiryDate.$invalid && (!personalForm.expiryDate.$pristine || pDet.click)" class="error-messages">
									<div ng-message="required">Please enter Date of Expiry</div>
									<div ng-message="expiryDate">Your driving licence is expired. Please provide other Age Proof Document.</div>
								</div>
							</div>
							<!--Date of Issuance-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form" ng-show="pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_DESC == 'Driving License' && !pDet.insEKYCFlag">
									<label class="form-label">Date Of Issuance<span class="requiredStar">*</span></label>
									<input type="date" class="form-control date-icon" name="issuanceDate" ng-model="pDet.personalDetBean.INSURED_ISSUANCE_DATE" ng-required="pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_DESC == 'Driving License' && !pDet.insEKYCFlag" issucond="pDet.personalDetBean.INSURED_AGE_PROOF.MPPROOF_DESC == 'Driving License' && !pDet.insEKYCFlag" validate-issuance="pDet.dvErrMsg" ng-change="pDet.onInsChangeIssuDate()"/>
								</div>
								<div ng-messages="personalForm.issuanceDate.$error" ng-show="personalForm.issuanceDate.$invalid && (!personalForm.issuanceDate.$pristine || pDet.click)" class="error-messages">
									<div ng-message="required">Please enter Date of Issuance</div>
									<div ng-message="issuanceDate">{{pDet.dvErrMsg}}</div>
								</div>
							</div>
							<!-- ID Proof -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6" ng-hide="pDet.insEKYCFlag">
								<div class="form-group custom-form">
									<label class="form-label">Identity Proof<span class="requiredStar">*</span></label>
									<div class="custom-drp">
										<select class="form-control" name="idProof" ng-model="pDet.personalDetBean.INSURED_IDENTITY_PROOF" ng-options="option.MPPROOF_DESC for option in pDet.insIDProofList | filter: {CUSTOMER_CATEGORY : 'IN'} track by option.DOC_ID" ng-change="pDet.onInsChangeIDProof()" select-required="!pDet.insEKYCFlag">
										</select>
									</div>
								</div>
								<div ng-messages="personalForm.idProof.$error" class="error-messages" ng-show="personalForm.idProof.$invalid && (!personalForm.idProof.$pristine || pDet.click)">
									<div ng-message="selectRequired">Please select an option.</div>
								</div>
							</div>
							<!--Date for Expiry -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form" ng-show="(pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License') && !pDet.insEKYCFlag">
									<label class="form-label">Date Of Expiry<span class="requiredStar">*</span></label>
									<input type="date" class="form-control date-icon" name="idexpiryDate" ng-model="pDet.personalDetBean.INSURED_IDENTITY_EXPIRY_DATE" ng-required="(pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License') && !pDet.insEKYCFlag" date-expiry="pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License'" ng-change="pDet.onInsChangeIdExpDate()"/>
								</div>
								<div ng-messages="personalForm.idexpiryDate.$error" ng-show="personalForm.idexpiryDate.$invalid && (!personalForm.idexpiryDate.$pristine || pDet.click)" class="error-messages">
									<div ng-message="required">Please enter Date of Expiry</div>
									<div ng-message="expiryDate">Your driving licence is expired. Please provide other Age Proof Document.</div>
								</div>
							</div>
							<!--Date of Issuance-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form" ng-show="pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License' && !pDet.insEKYCFlag">
									<label class="form-label">Date Of Issuance<span class="requiredStar">*</span></label>
									<input type="date" class="form-control date-icon" name="idissuanceDate" ng-model="pDet.personalDetBean.INSURED_IDENTITY_ISSUANCE_DATE" ng-required="pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License' && !pDet.insEKYCFlag" issucond="pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License'" validate-issuance="pDet.dvErrMsg" ng-change="pDet.onInsChangeIdIssuDate()"/>
								</div>
								<div ng-messages="personalForm.idissuanceDate.$error" ng-show="personalForm.idissuanceDate.$invalid && (!personalForm.idissuanceDate.$pristine || pDet.click)" class="error-messages">
									<div ng-message="required">Please enter Date of Issuance</div>
									<div ng-message="issuanceDate">{{pDet.dvErrMsg}}</div>
								</div>
							</div>
							<!-- Other ID proof -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form" ng-show="pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_DESC=='Others'">
									<label class="form-label">Other Identity Proof</label>
									<input type="text" class="form-control" name="otherIDProof" ng-model="pDet.personalDetBean.INSURED_IDENTITY_PROOF_OTHER" ng-maxlength="50" ng-required="pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC=='Others'" ng-pattern="pDet.freeTxtRegex" required block-hash/>
								</div>
								<div ng-messages="personalForm.otherIDProof.$error" class="error-messages" ng-show="personalForm.otherIDProof.$invalid && (!personalForm.otherIDProof.$pristine || pDet.click)">
									<div ng-message="required">Please enter Other Identity Proof</div>
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
								<div ng-message="pattern">Enter valid proof excluding special characters</div>
									<div ng-message="maxlength">Other ID Proof cannot be more than 50 characters.</div>
								</div>
							</div>
							<!-- ID proof No-->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6" ng-hide="pDet.insEKYCFlag">
								<div class="form-group custom-form">
									<label class="form-label">Identity Proof No<span class="requiredStar">*</span></label>
									<input type="text" class="form-control" name="idProofNo" ng-model="pDet.personalDetBean.INSURED_IDENTITY_PROOF_NO" ng-disabled="pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_CODE == 'AC' || pDet.personalDetBean.INSURED_IDENTITY_PROOF.MPPROOF_CODE == 'PC'" ng-maxlength="17" ng-required="!pDet.insEKYCFlag" block-hash/>
								</div>
								<div ng-messages="personalForm.idProofNo.$error" class="error-messages" ng-show="personalForm.idProofNo.$invalid && (!personalForm.idProofNo.$pristine || pDet.click)">
									<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									<div ng-message="required">Enter valid ID Proof No.</div>
									<div ng-message="maxlength">Identity Proof No cannot be more than 17 characters.</div>
								</div>
							</div>
							<!-- EIA Received -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form eia-wrapper">
									<label class="form-label">EIA Received</label>
									<div class="check-box-wrap">
										<input type="checkbox" id="chkEIAReceived" ng-model="pDet.personalDetBean.EIA_RECEIVE_FLAG" ng-change="pDet.onChangeEiaFlag(personalForm)"/>
										<label for="chkEIAReceived">
											I would like to receive my insurance policy and all the information related to proposed insurance policy through insurance repository as and when applicable.
										</label>
									</div>
								</div>
							</div>
							<!-- EIA Number -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form">
									<label class="form-label">EIA Number</label>
									<input type="number" class="form-control" name="eIANo" ng-model="pDet.personalDetBean.EIA_NO" ng-pattern="pDet.numRegex" ng-maxlength="13" eia-flag="pDet.personalDetBean.EIA_RECEIVE_FLAG" eia-required/>
								</div>
								<div ng-messages="personalForm.eIANo.$error" class="error-messages" ng-show="personalForm.eIANo.$invalid && (!personalForm.eIANo.$pristine || pDet.click)">
									<div ng-message="maxlength">Please enter a valid eIA number.</div>
									<div ng-message="pattern">Please enter numbers only.</div>
									<div ng-message="eiaRequired">Please enter a valid eIA number.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-hide="pDet.isSelf">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">Proposer</label>
							</div>
						</div>
						<!-- Photo -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<!--  ng-click="pDet.openCamera('IN')" -->
							<div class="form-group custom-form upload-photo-wrap newcamera-action-wrap">
								<label class="form-label">Proposer Photo<span class="requiredStar">*</span></label>
								<!--New Layout-->
								<button class="doc-checkbox" ng-disabled="pDet.PhotoFlag.Proposer  == 'Y'"><i class="fa fa-check" aria-hidden="true"></i></button>
								<div class="newcamera-action">
									<a class="fab-buttons roll-btn" href="javascript:;">
										<span class="i-wrap">
											<i class="fa fa-paperclip" aria-hidden="true"></i>
										</span>
									</a>
									<a href="javascript:;" class="fab-buttons fab-buttons2 fab" ng-click="pDet.cameraClicked('PR')">
										<span class="i-wrap i-wrap-2 cmn-btn">
											<i class="fa fa-camera" aria-hidden="true"></i>
										</span>
										<span class="ico_txt">Camera</span>
									</a>
									<a href="javascript:;" class="fab-buttons fab-buttons3 fab" ng-click="pDet.gallaryClicked('PR')">
										<span class="i-wrap i-wrap-3 cmn-btn">
											<i class="fa fa-picture-o" aria-hidden="true"></i>
										</span>
										<span class="ico_txt">Gallery</span>
									</a>

									<a href="javascript:;" class="fab-buttons fab-buttons3 fab" ng-click="pDet.viewimage('PR')">
										<span class="i-wrap i-wrap-4 cmn-btn">
											<i class="fa fa-eye" aria-hidden="true"></i>
										</span>
										<span class="ico_txt">View Image</span>
									</a>
									<div class="clearfix"></div>
								</div>
								<!--<span class="camera-action" ng-hide="pDet.PhotoFlag.Insured  == 'Y'"><i class="fa fa-camera" aria-hidden="true"></i></span>
								<span class="camera-action-done" ng-show="pDet.PhotoFlag.Insured  == 'Y'"><i class="fa fa-camera" aria-hidden="true"></i></span>-->
								<div class="clearfix"></div>
							</div>
							<div class="error-messages" ng-show="pDet.PhotoFlag.Proposer  != 'Y' && pDet.click && !pDet.isSelf">Please upload photo</div>
						</div>
						<!-- Title -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Title<span class="requiredStar">*</span></label>
								<div class="custom-drp">
									<select class="form-control" name="proTitle" ng-model="pDet.personalDetBean.PROPOSER_TITLE" ng-disabled="true" ng-options="option.TITLE_DISPLAY for option in pDet.titleList track by option.TITLE" select-required="!pDet.isSelf">
									</select>
								</div>
							</div>
							<div ng-messages="personalForm.proTitle.$error" class="error-messages" ng-show="personalForm.proTitle.$invalid && (!personalForm.proTitle.$pristine || pDet.click)">
								<div ng-message="selectRequired">Please select an option.</div>
							</div>
						</div>
						<!-- Name -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Name<span class="requiredStar">*</span></label>
								<div class="row">
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
										<input type="text" class="form-control" name="proFName" ng-disabled="true" ng-model="pDet.personalDetBean.PROPOSER_FIRST_NAME" ng-required="!pDet.isSelf"  ng-maxlength="20" ng-pattern="pDet.nameRegex" required/>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
										<input type="text" class="form-control" name="proMName" ng-disabled="true" ng-model="pDet.personalDetBean.PROPOSER_MIDDLE_NAME" ng-maxlength="20" ng-pattern="pDet.middleNameRegex"/>
									</div>
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
										<input type="text" class="form-control" name="proLName" ng-disabled="true" ng-model="pDet.personalDetBean.PROPOSER_LAST_NAME" ng-required="!pDet.isSelf"  ng-maxlength="20" ng-pattern="pDet.nameRegex" required/>
									</div>
								</div>
							</div>
							<div ng-messages="personalForm.proFName.$error" class="error-messages" ng-show="personalForm.proFName.$invalid && (!personalForm.proFName.$pristine || pDet.click)">
								<div ng-message="required">Please enter Name.</div>
								<div ng-message="maxlength">Name cannot be more than 20 characters</div>
								<div ng-message="pattern">Invalid name</div>
							</div>
							<div ng-messages="personalForm.proMName.$error" class="error-messages" ng-show="personalForm.proMName.$invalid && (!personalForm.proMName.$pristine || pDet.click)">
								<div ng-message="pattern">Invalid name</div>
								<div ng-message="maxlength">Name cannot be more than 20 characters</div>
							</div>
							<div ng-messages="personalForm.proLName.$error" class="error-messages" ng-show="personalForm.proLName.$invalid && (!personalForm.proLName.$pristine || pDet.click)">
								<div ng-message="required">Please enter Name.</div>
								<div ng-message="maxlength">Name cannot be more than 20 characters</div>
								<div ng-message="pattern">Invalid name</div>
							</div>
						</div>
						<!-- Gender -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Gender<span class="requiredStar">*</span></label>
								<div class="gender-radio-wrapper">
									<div class="gender-wrapper male-wrapper">
										<input type="radio" id="rdProposerMale" value="M" ng-disabled="true" ng-model="pDet.personalDetBean.PROPOSER_GENDER" ng-required="!pDet.isSelf"  name="rdProposerGender" required/>
										<label for="rdProposerMale">Male</label>
										<div class="clearfix"></div>
									</div>
									<div class="gender-wrapper female-wrapper">
										<input type="radio" id="rdProposerFemale" value="F" ng-disabled="true" ng-model="pDet.personalDetBean.PROPOSER_GENDER" ng-required="!pDet.isSelf" name="rdProposerGender" required/>
										<label for="rdProposerFemale">Female</label>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
							<div ng-messages="personalForm.rdProposerGender.$error" ng-show="personalForm.rdProposerGender.$invalid && (!personalForm.rdProposerGender.$pristine || pDet.click)" class="error-messages">
								<div ng-message="required">Please enter Gender</div>
							</div>
						</div>
						<!-- DOB -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Date Of Birth<span class="requiredStar">*</span></label>
								<input type="date" class="form-control date-icon" name="proDob" ng-disabled="true" ng-model="pDet.personalDetBean.PROPOSER_DOB" ng-required="!pDet.isSelf"  required/>
							</div>
							<div ng-messages="personalForm.proDob.$error" ng-show="personalForm.proDob.$invalid && (!personalForm.proDob.$pristine || pDet.click)" class="error-messages">
								<div ng-message="required">Please enter DOB</div>
							</div>
						</div>
						<!-- EKYC Option -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Do you have Aadhar Card ?<span class="requiredStar">*</span></label>
								<div class="tick-radio-wrap">
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="rdProekycYes" value="Y" ng-disabled="pDet.proEKYCFlag || pDet.isSelf || pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_CODE == 'AD' || pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_CODE == 'AC'" ng-change="pDet.resetProUAN()" ng-required="!pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_EKYC_OPT" name="rdProekyc" required/>
										<label for="rdProekycYes">Yes</label>
									</div>
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="rdProekycNo" value="N" ng-disabled="pDet.proEKYCFlag || pDet.isSelf || pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_CODE == 'AD' || pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_CODE == 'AC'" ng-change="pDet.resetProUAN()" ng-required="!pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_EKYC_OPT" name="rdProekyc" required/>
										<label for="rdProekycNo">No</label>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div ng-messages="personalForm.rdProekyc.$error" ng-show="personalForm.rdProekyc.$invalid && (!personalForm.rdProekyc.$pristine || pDet.click)" class="error-messages">
								<div ng-message="required">Please select an option.</div>
							</div>
						</div>
						<!-- UAN No-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form" ng-show="pDet.personalDetBean.PROPOSER_EKYC_OPT=='Y' && pDet.personalDetBean.PROPOSER_EKYC_OPT!=null">
								<label class="form-label">Unique Identification Number (Aadhar)</label>
								<input type="text" class="form-control" name="ProUanNo" ng-model="pDet.personalDetBean.PROPOSER_UAN_NO" ng-disabled="pDet.proEKYCFlag || (pDet.isSelf && (pDet.personalDetBean.PROPOSER_EKYC_OPT=='Y' && pDet.personalDetBean.PROPOSER_EKYC_OPT!=null))" ng-change="pDet.isSameAsProIDProof()" ng-required="!pDet.isSelf && (pDet.personalDetBean.PROPOSER_EKYC_OPT=='Y' && pDet.personalDetBean.PROPOSER_EKYC_OPT!=null)" ng-minlength="12" ng-maxlength="12" ng-pattern="pDet.numRegex" required/>
							</div>
							<div ng-messages="personalForm.ProUanNo.$error" ng-show="personalForm.ProUanNo.$invalid && (!personalForm.ProUanNo.$pristine || pDet.click)" class="error-messages">
								<div ng-message="required">Please enter valid Aadhar Card No.</div>
								<div ng-message="pattern">Please enter valid Aadhar Card No.</div>
								<div ng-message="minlength">Please enter valid Aadhar Card No.</div>
								<div ng-message="maxlength">Please enter valid Aadhar Card No.</div>
							</div>
						</div>
						<!-- I don’t have Permanent Account Number -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<div class="right-align-checkbox-wrap">
									<input type="checkbox" id="ckProposerPermanentAccountNumber" ng-disabled="pDet.isSelf || pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_CODE == 'PC' || pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_CODE == 'PC'" ng-model="pDet.personalDetBean.PROPOSER_PAN_CARD_EXISTS" ng-change="pDet.resetProPAN()"/>
									<label for="ckProposerPermanentAccountNumber" class="form-label">I don’t have Permanent Account Number</label>
								</div>
							</div>
						</div>
						<!-- Permanent Account Number (PAN) -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form" ng-hide="pDet.personalDetBean.PROPOSER_PAN_CARD_EXISTS">
								<label class="form-label">Permanent Account Number (PAN)<span class="requiredStar">*</span></label>
								<input style="text-transform: uppercase" type="text" class="form-control" name="proPAN" ng-disabled="pDet.isSelf" ng-required="!pDet.isSelf && !pDet.personalDetBean.PROPOSER_PAN_CARD_EXISTS" ng-model="pDet.personalDetBean.PROPOSER_PAN_CARD_NO" ng-change="pDet.isSameAsProIDProof()" ng-minlength="10" ng-maxlength="10" ng-pattern="pDet.panRegex" input-uppercase/>
							</div>
							<div ng-messages="personalForm.proPAN.$error" ng-show="personalForm.proPAN.$invalid && (!personalForm.proPAN.$pristine || pDet.click)" class="error-messages">
								<div ng-message="required">Please enter valid PAN Card No.</div>
								<div ng-message="pattern">Please enter valid PAN Card No.</div>
								<div ng-message="minlength">Please enter valid PAN Card No.</div>
								<div ng-message="maxlength">Please enter valid PAN Card No.</div>
							</div>
						</div>
						<!-- Identification Mark -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Identification Mark</label>
								<input type="text" class="form-control" name="proIdMark" ng-disabled="pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_IDENTIFICATION_MARK" ng-maxlength="25" block-hash/>
							</div>
							<div ng-messages="personalForm.proIdMark.$error" ng-show="personalForm.proIdMark.$invalid && (!personalForm.proIdMark.$pristine || pDet.click)" class="error-messages">
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
								<div ng-message="maxlength">Identification Mark cannot be more than 25 characters.</div>
							</div>
						</div>
						<!-- Dominant hand -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Dominant Hand</label>
								<div class="tick-radio-wrap">
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="rdProDominatRight" value="Right" name="rdProDominat" ng-disabled="pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_DOMINANT_HAND"  />
										<label for="rdProDominatRight">Right</label>
									</div>
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="rdProDominatLeft" value="Left" name="rdProDominat" ng-disabled="pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_DOMINANT_HAND" />
										<label for="rdProDominatLeft">Left</label>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<!-- Marital Status -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Marital Status<span class="requiredStar">*</span></label>
								<div class="custom-drp">
									<select class="form-control" name="proMarital" ng-disabled="pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_MARITAL_STATUS" ng-options="option.MARITAL_STATUS disable when (pDet.buyForCode == '75' && option.MARITAL_CD!='M') for option in pDet.maritalStatusList track by option.MARITAL_CD" select-required="!pDet.isSelf">
									</select>
								</div>
							</div>
							<div ng-messages="personalForm.proMarital.$error" ng-show="personalForm.proMarital.$invalid && (!personalForm.proMarital.$pristine || pDet.click)" class="error-messages" >
								<div ng-message="selectRequired">Please select an option.</div>
							</div>
						</div>


						<!-- Age Proof -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="pDet.proEKYCFlag && pDet.ProDOBCondition">
							<div class="form-group custom-form">
								<label class="form-label">Age Proof<span class="requiredStar">*</span></label>
								<div class="custom-drp city-drp-dwn">
									<!--<select class="form-control" name="proAgeProof" ng-disabled="pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_AGE_PROOF" ng-options="option.MPPROOF_DESC for option in pDet.proAgeProofList | filter: {CUSTOMER_CATEGORY: 'PR'} track by option.DOC_ID" ng-change="pDet.onProChangeAgeProof()" select-required="!pDet.isSelf">-->
									<!--</select>-->
									<div custom-select=" s.MPPROOF_DESC for s in pDet.proAgeProofList | filter: { MPPROOF_DESC: $searchTerm } track by s.DOC_ID" ng-model="pDet.personalDetBean.PROPOSER_AGE_PROOF" ng-change="pDet.onProChangeAgeProof()" ng-disabled="pDet.isSelf" name="proAgeProof" select-required="!pDet.isSelf && !(pDet.proEKYCFlag && pDet.ProDOBCondition)"></div>
								</div>
							</div>
							<div ng-messages="personalForm.proAgeProof.$error" ng-show="personalForm.proAgeProof.$invalid && (!personalForm.proAgeProof.$pristine || pDet.click)" class="error-messages" >
								<div ng-message="selectRequired">Please select an option.</div>
							</div>
						</div>
						<!--Proposer AgeProof DOB-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="pDet.proEKYCFlag && pDet.ProDOBCondition">
							<div class="form-group custom-form">
								<label class="form-label">Date of birth on the age proof<span class="requiredStar">*</span></label>
								<input type="date" class="form-control date-icon" name="proAgeProofDob" ng-disabled="pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_AGE_PROOF_DOB" ng-required="!pDet.isSelf && !(pDet.proEKYCFlag && pDet.ProDOBCondition)" datecond="!pDet.isSelf && !(pDet.proEKYCFlag && pDet.ProDOBCondition)" date-validations="pDet.personalDetBean.PROPOSER_DOB"/>
							</div>
							<div ng-messages="personalForm.proAgeProofDob.$error" ng-show="personalForm.proAgeProofDob.$invalid && (!personalForm.proAgeProofDob.$pristine || pDet.click)" class="error-messages">
								<div ng-message="required">Please enter DOB</div>
								<div ng-message="dobMismatch">Please provide alternate Age Proof document due to DOB mismatch</div>
							</div>
						</div>
						<!--Proposer Date for Expiry -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form" ng-show="pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_DESC == 'Driving License'">
								<label class="form-label">Date Of Expiry<span class="requiredStar">*</span></label>
								<input type="date" class="form-control date-icon" name="propexpiryDate" ng-disabled="pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_EXPIRY_DATE" ng-required="!pDet.isSelf && (pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_DESC == 'Driving License')" date-expiry="!pDet.isSelf && (pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_DESC == 'Driving License')" ng-change="pDet.onProChangeExpDate()"/>
							</div>
							<div ng-messages="personalForm.propexpiryDate.$error" ng-show="personalForm.propexpiryDate.$invalid && (!personalForm.propexpiryDate.$pristine || pDet.click)" class="error-messages">
								<div ng-message="required">Please enter Date of Expiry.</div>
								<div ng-message="expiryDate">Your driving licence is expired. Please provide other Age Proof Document.</div>
							</div>
						</div>
						<!--Proposer Date of Issuance-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form" ng-show="pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_DESC == 'Driving License'">
								<label class="form-label">Date Of Issuance<span class="requiredStar">*</span></label>
								<input type="date" class="form-control date-icon" name="propissuanceDate" ng-disabled="pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_ISSUANCE_DATE"  ng-required="!pDet.isSelf && pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_DESC == 'Driving License'" issucond="!pDet.isSelf && pDet.personalDetBean.PROPOSER_AGE_PROOF.MPPROOF_DESC == 'Driving License'" validate-issuance="pDet.dvErrMsg" ng-change="pDet.onProChangeIssuDate()"/>
							</div>
							<div ng-messages="personalForm.propissuanceDate.$error" ng-show="personalForm.propissuanceDate.$invalid && (!personalForm.propissuanceDate.$pristine || pDet.click)" class="error-messages">
								<div ng-message="required">Please enter Date of Issuance.</div>
								<div ng-message="issuanceDate">{{pDet.dvErrMsg}}</div>
							</div>
						</div>
						<!-- ID Proof -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="pDet.proEKYCFlag">
							<div class="form-group custom-form" >
								<label class="form-label">Identity Proof<span class="requiredStar">*</span></label>
								<div class="custom-drp">
									<select class="form-control" name="proIdProof" ng-disabled="pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_IDENTITY_PROOF" ng-options="option.MPPROOF_DESC for option in pDet.proIDProofList | filter: {CUSTOMER_CATEGORY : 'PR'} track by option.DOC_ID" ng-change="pDet.onProChangeIDProof()" select-required="!pDet.isSelf && !pDet.proEKYCFlag">
									</select>
								</div>
							</div>
							<div ng-messages="personalForm.proIdProof.$error" ng-show="personalForm.proIdProof.$invalid && (!personalForm.proIdProof.$pristine || pDet.click)" class="error-messages" >
								<div ng-message="selectRequired">Please select an option.</div>
							</div>
						</div>
						<!--Proposer Identity Date for Expiry -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form" ng-show="pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License'">
								<label class="form-label">Date Of Expiry<span class="requiredStar">*</span></label>
								<input type="date" class="form-control date-icon" name="propidexpiryDate" ng-disabled="pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_IDENTITY_EXPIRY_DATE"  ng-required="!pDet.isSelf && (pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License')" date-expiry="!pDet.isSelf && (pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC == 'Passport' || pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License')" ng-change="pDet.onProChangeIdExpDate()"/>
							</div>
							<div ng-messages="personalForm.propidexpiryDate.$error" ng-show="personalForm.propidexpiryDate.$invalid && (!personalForm.propidexpiryDate.$pristine || pDet.click)" class="error-messages">
								<div ng-message="required">Please enter Date of Expiry.</div>
								<div ng-message="expiryDate">Your driving licence is expired. Please provide other Age Proof Document.</div>
							</div>
						</div>
						<!--Proposer Identity Date of Issuance-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form" ng-show="pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License'">
								<label class="form-label">Date Of Issuance<span class="requiredStar">*</span></label>
								<input type="date" class="form-control date-icon" name="propidissuanceDate" ng-disabled="pDet.isSelf" ng-model="pDet.personalDetBean.PROPOSER_IDENTITY_ISSUANCE_DATE"  ng-required="!pDet.isSelf && pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License'" issucond="!pDet.isSelf && pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC == 'Driving License'" validate-issuance="pDet.dvErrMsg" ng-change="pDet.onProChangeIdIssuDate()"/>
							</div>
							<div ng-messages="personalForm.propidissuanceDate.$error" ng-show="personalForm.propidissuanceDate.$invalid && (!personalForm.propidissuanceDate.$pristine || pDet.click)" class="error-messages">
								<div ng-message="required">Please enter Date of Issuance.</div>
								<div ng-message="issuanceDate">{{pDet.dvErrMsg}}</div>
							</div>
						</div>
						<!-- Other ID proof -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form" ng-show="pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC=='Others'">
								<label class="form-label">Other Identity Proof</label>
								<input type="text" class="form-control" name="proOtherIDProof" ng-disabled="pDet.isSelf" ng-required="!pDet.isSelf && pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_DESC=='Others'" ng-model="pDet.personalDetBean.PROPOSER_IDENTITY_PROOF_OTHER" ng-pattern="pDet.freeTxtRegex" required block-hash/>
							</div>
							<div ng-messages="personalForm.proOtherIDProof.$error" ng-show="personalForm.proOtherIDProof.$invalid && (!personalForm.proOtherIDProof.$pristine || pDet.click)" class="error-messages" >
								<div ng-message="required">Enter enter Other Identity proof.</div>
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
							<div ng-message="pattern">Enter valid proof excluding special characters</div>
								<div ng-message="maxlength">Other ID Proof cannot be more than 50 characters.</div>
							</div>
						</div>
						<!-- ID proof No-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="pDet.proEKYCFlag">
							<div class="form-group custom-form">
								<label class="form-label">Identity Proof No<span class="requiredStar">*</span></label>
								<input type="text" class="form-control" name="proIdProofNo" ng-disabled="pDet.isSelf || pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_CODE == 'AC' || pDet.personalDetBean.PROPOSER_IDENTITY_PROOF.MPPROOF_CODE == 'PC'" ng-required="!pDet.isSelf && !pDet.proEKYCFlag" ng-model="pDet.personalDetBean.PROPOSER_IDENTITY_PROOF_NO" ng-maxlength="17" block-hash/>
							</div>
							<div ng-messages="personalForm.proIdProofNo.$error" ng-show="personalForm.proIdProofNo.$invalid && (!personalForm.proIdProofNo.$pristine || pDet.click)" class="error-messages">
								<div ng-message="required">Enter valid ID Proof No.</div>
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
								<div ng-message="maxlength">Identity Proof No cannot be more than 17 characters.</div>
							</div>
						</div>
						<!-- Relationship desc -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form  eia-wrapper">
								<label class="form-label">Relationship Description<span class="requiredStar">*</span></label>
								<div class="custom-drp">
									<select class="form-control" name="relDesc" ng-model="pDet.personalDetBean.RELATIONSHIP" ng-options="option.RELATIONSHIP_DESC for option in pDet.insRelDescList track by option.NBFE_CODE" ng-change="pDet.onRelationshipChnge()" select-required>
									</select>
								</div>
							</div>
							<div ng-messages="personalForm.relDesc.$error" ng-show="personalForm.relDesc.$invalid && (!personalForm.relDesc.$pristine || pDet.click)" class="error-messages" >
								<div ng-message="selectRequired">Please select an option.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap"><!--ng-disabled="personalForm.$invalid"-->
								<button class="btn btn-default btn-block" ng-click="pDet.onNext(personalForm)">Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- End Personal Details Application Form -->
	</div>
</ion-content>
