<ion-content has-bouncing="false" class="dashboard-content-wrap">
    <section class="content-block solution-dashboardwrap">
        <div class="solutions-content"></div>
        <section class="tab_wrp">
            <section class="panel-body">
                <ul class="tab-left-align">
                    <li ng-repeat="solution in sc.solutions" ng-show="solution.isActive" ng-class="[solution.colorClass, { active: sc.activeTab===solution.name }]">
                        <a ng-click="sc.gotoTab(solution.name)">
                            <div ng-class="['solutions-head', solution.headClass]">
                                <div class="solutions-title pull-left">
                                    <h2>{{solution.name}}</h2><span>Solutions</span>
                                </div>
                                <div class="solutions-ico-wrap pull-right">
                                    <span class="solutions-ico"><i ng-class="[solution.imageClass]" aria-hidden="true"></i></span><!--Changes Here Added class in i-->
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                
                <div class="tab-content tab-right-align" ng-repeat="solution in sc.solutions">
                    <div ng-class="['tab-pane', solution.headClass, { active: sc.activeTab === solution.name }]">
                        <div class="tab-content-area" style="position:relative">
                            <ion-content>
                                <ul>
                                    <li ng-repeat="product in solution.products" ng-show="product.isActive">
                                        <a ng-click="sc.gotoProductLandingPage(product.pgl_id, solution.name, product.name)">
                                            <span>{{product.name}}</span>
                                            <i class="fa fa-angle-right fa-2x pull-right" aria-hidden="true"></i>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                </ul>
                            </ion-content>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</ion-content>
