<div class="tracker-carousel">
	<div class="carousel-demo">
		<ul rn-carousel rn-carousel-index="sc.carouselIndex" rn-carousel rn-carousel-auto-slide class="carousel5">
			<li class="carousel-contentli" ng-repeat="sisInProgress in sc.sisInProgressArr">
				<div class="col-sm-4 col-xs-4" ng-repeat="sisInPrg in sisInProgress">
					<div class="lead-box-bg">
						<div class="lead-head">
							<div class="lead-head-ico pull-left">{{sisInPrg.LNAME.charAt(0).toUpperCase()}}</div>
							<div class="lead-contact pull-left">
								<h2>{{sisInPrg.LNAME}}</h2>
								<div class="lead-contact-details">
									<span>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<span class="sol-details">{{sisInPrg.MOBNO}}</span>
									</span>
									<span>
										<i class="fa fa-user" aria-hidden="true"></i>
										<span class="sol-apps">{{sisInPrg.LDSRC1}}</span>
									</span>
								</div>
								<div class="date-created">
									<span class="date-created-lbl">Tracker No.: </span>
									<span class="date-on">{{sisInPrg.OPP_ID}}</span>
								</div>
								<div class="date-created">
									<span class="date-created-lbl">Updated on</span>
									<span class="date-on">{{sisInPrg.LSTUPDT_TMSTMP}}</span>
								</div>
							</div>
						</div>
						<div class="lead-head-txt pull-left">
							<button type="button" class="btn btn-default btn-border" ng-click="sc.goToLeadDashboard(sisInPrg)">Continue</button>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="carousel-pagination" rn-carousel-indicators ng-if="sc.sisInProgressArr.length > 1" slides="sc.sisInProgressArr" rn-carousel-index="sc.carouselIndex"></div>
	</div>
</div>
