<ion-view class="change-password">
	<form id="cp.changePasswordForm" name="cp.changePasswordForm" ng-submit="cp.submitCPReq()" novalidate>
		<ion-header-bar class="fixed-bar cp-header">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-margin-rm">
				<div class="cp-header-menu-logo-block pull-left">
					<a ng-click="cp.openMenu()" class="click-menu">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</a>
					<img src="../img/tata-logo.png" alt="Tata AIA Logo" class="main-logo">
				</div>
			</div>
		</ion-header-bar>
		<div class="bar bar-subheader cp-sub-header">
			<h2>Change Password</h2>
		</div>
		<ion-content has-bouncing="false" has-header="true">
			<div class="change-securitypwd-wrap">
				<div class="form_wrap">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<!-- Enter Password -->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Enter Password <span class="requiredStar">*</span></label>
										<input type="password" class="form-control custom-form" placeholder="Enter Password" name="password" ng-model="cp.password" required/>
									</div>
									<div ng-messages="cp.changePasswordForm.password.$error" class="error-messages" ng-show="cp.changePasswordForm.password.$invalid && !cp.changePasswordForm.password.$pristine">
										<div ng-message="required">Password cannot be empty.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<!-- Re-enter Password -->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Re-enter Password <span class="requiredStar">*</span></label>
										<input type="password" class="form-control custom-form" placeholder="Re-enter Password" name="rePassword" ng-model="cp.rePassword" required/>
									</div>
									<div ng-messages="cp.changePasswordForm.rePassword.$error" class="error-messages" ng-show="cp.changePasswordForm.rePassword.$invalid && !cp.changePasswordForm.rePassword.$pristine">
										<div ng-message="required">Password cannot be empty.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-default btn-block" type="submit" ng-disabled="cp.changePasswordForm.$invalid">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	</form>
</ion-view>
