<!--Main Inner Tab-->
<ion-pane class="customer-details">
  <ion-header-bar class="fixed-bar">
      <div class="header-innerwrapper">
          <!-- First Header -->
          <div class="headertitle-wrap">
              <div class="menu-iconlogo-wrapper">
                  <a ng-click="psc.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
              </div>
              <div class="createlead-wrapper">
      					<h2 class="header-title text-center">Initiate Verification</h2>
      				</div>
              <div class="clearfix"></div>
          </div>
          <!-- Second Header -->
          <div class="lead_title">
              <h2>Pre Submission Call - PSC</h2>
          </div>
      </div>
  </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position policy-no-generator">
        <div class="application-form-wrapper psc-wrapper">
            <form name="pscForm" id="pscForm">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 center-block pull-none">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group custom-form">
                            <label class="form-label">Do you want to go for Online PSC ?<span class="requiredStar">*</span></label>
                            <div class="tick-radio-wrap">
            									<div class="tick-radio-btn-wrap">
            										<input type="radio" id="rdOnlinePscYes" name="rdOnlinePsc" value="D" ng-model="psc.rdOnlinePsc" ng-disabled="((psc.PGL_ID=='224')||(psc.PGL_ID=='225') || psc.isTerm || psc.ISDIGITAL_PSC_DONE=='Y')" ng-change="psc.onChangePSCOption()" required/>
            										<label for="rdOnlinePscYes">Yes</label>
            									</div>
            									<div class="tick-radio-btn-wrap">
            										<input type="radio" id="rdOnlinePscNo" name="rdOnlinePsc" value="M" ng-model="psc.rdOnlinePsc" ng-disabled="((psc.PGL_ID=='224')||(psc.PGL_ID=='225') || psc.isTerm || psc.ISDIGITAL_PSC_DONE=='Y')" ng-change="psc.onChangePSCOption()" required/>
            										<label for="rdOnlinePscNo">No</label>
            									</div>
            									<div class="clearfix"></div>
            								</div>
                        </div>
                        <div ng-messages="pscForm.rdOnlinePsc.$error" class="error-messages" ng-show="pscForm.rdOnlinePsc.$invalid && (!pscForm.rdOnlinePsc.$pristine || psc.click)">
          								<div ng-message="required">Please select an option.</div>
          							</div>
                    </div>

                    <!-- Call Time -->
        						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="psc.rdOnlinePsc=='M'">
        							<div class="form-group custom-form">
        								<label class="form-label">Preferred PSC Call Time<span class="requiredStar">*</span></label>
        								<div class="custom-drp">
        									<select name="pfCall" class="form-control" id="pfCall" ng-disabled="psc.ISDIGITAL_PSC_DONE=='Y'" ng-required="psc.rdOnlinePsc=='M'" ng-model="psc.PscTiming">
        										<option value="" selected="true">Not Provided</option>
        										<option value="9:00-11:00">9:00 - 11:00</option>
        										<option value="11:00-13:00">11:00 - 13:00</option>
        										<option value="13:00-15:00">13:00 - 15:00</option>
        										<option value="15:00-18:00">15:00 - 18:00</option>
        										<option value="18:00-20:00">18:00 - 20:00</option>
        									</select>
        								</div>
        							</div>
        							<div ng-messages="pscForm.pfCall.$error" class="error-messages" ng-show="pscForm.pfCall.$invalid && (!pscForm.pfCall.$pristine || psc.click)">
        								<div ng-message="required">Please enter time.</div>
        							</div>
        						</div>

        						<!-- Language -->
        						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-show="psc.rdOnlinePsc=='M'">
        							<div class="form-group custom-form">
        								<label class="form-label">Preferred Call Language<span class="requiredStar">*</span></label>
        								<div class="custom-drp">
        									<select name="pfLang" class="form-control " id="pfLang" ng-disabled="psc.ISDIGITAL_PSC_DONE=='Y'" ng-required="psc.rdOnlinePsc=='M'" ng-model="psc.PscLanguage">
        										<option value="" selected="true">Select language</option>
        										<option value="English">English</option>
        										<option value="Hindi">Hindi</option>
        										<option value="Marathi">Marathi</option>
        										<option value="Gujarati">Gujarati</option>
        										<option value="Telgu">Telgu</option>
        										<option value="Tamil">Tamil</option>
        										<option value="Kannada">Kannada</option>
        										<option value="Bengali">Bengali</option>
        										<option value="Malayalam">Malayalam</option>
        										<option value="Oriya">Oriya</option>
        										<option value="Punjabi">Punjabi</option>
        										<option value="Others">Others</option>
        									</select>
        								</div>

        							</div>
        							<div ng-messages="pscForm.pfLang.$error" class="error-messages" ng-show="pscForm.pfLang.$invalid && (!pscForm.pfLang.$pristine || psc.click)">
        								<div ng-message="required">Please enter language.</div>
        							</div>
        						</div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7 center-block pull-none">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="custom-btn form-btn-wrap">
                        <button class="btn btn-default btn-block" type="submit" ng-disabled="(psc.rdOnlinePsc!='D' || psc.ISDIGITAL_PSC_DONE == 'Y' || ((psc.PGL_ID=='224')||(psc.PGL_ID=='225') || psc.isTerm))" ng-click="psc.callPscAPP()">Initiate Verification</button>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="custom-btn form-btn-wrap">
                            <button class="btn btn-default btn-block" type="submit" ng-disabled="pscForm.$invalid || (psc.ISDIGITAL_PSC_DONE!='Y' && psc.rdOnlinePsc == 'D')" ng-click="psc.Exit(pscForm)">Continue</button>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center-block pull-none">
                      <div class="custom-btn form-btn-wrap lead-btn">
                          <button class="btn btn-default btn-block" type="submit" ng-click="psc.onBack()">Back</button>
                      </div>
                  </div>
              </div>
            </div>
          </form>
        </div>
    </ion-content>
</ion-pane>
