<div class="tracker-carousel">
    <div class="carousel-demo">
        <ul rn-carousel rn-carousel-index="puwc.carouselIndex" rn-carousel rn-carousel-auto-slide class="carousel5 policytracker-carousel">
            <li class="carousel-contentli" ng-repeat="preUWData in puwc.preUWDataArr">
                <div class="col-sm-4 col-xs-4 " ng-repeat="preUW in preUWData">
                    <div class="lead-box-bg policy-tracker-bg">
						<div class="first-letter-wrap">
							<div class="lead-head-ico ng-binding">{{preUW.FULL_NAME.split(' ')[1].charAt(0).toUpperCase()}}</div>
							<div class="clearfix"></div>
						</div>
						<div class="policy-tracker-info-wrap">
							<h2 class="ng-binding policytracker-title">{{preUW.FULL_NAME}}</h2>
							<div class="lead-contact-details">
								<span><i class="fa fa-phone" aria-hidden="true"></i> <span class="sol-details">{{preUW.MOBILE_NO}}</span></span>
							</div>
							<div class="policy-num"><span class="bold-txt ng-binding">{{preUW.POLICY_NO}}</span></div>
							<div class="date-created">
								<span class="date-created-lbl">Submitted on</span>
								<span class="date-on">{{preUW.COMPLETION_TIMESTAMP}}</span>
							</div>
							<div class="ci-initiate"><span class="bold-txt">{{preUW.POLICY_PREUW_STATUS}}</span></div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
						<div class="icon-btn-wrap">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<div class="row">
<!--
									ng-class="[{disable_btn: (preUW.POLICY_PREUW_STATUS=='DST Approved')}]"
-->
									<div class="icon-btn" >
<!--
										ng-disabled="preUW.POLICY_PREUW_STATUS=='DST Approved'"
-->
										<a ng-click="puwc.viewPending(preUW)" >
											<i class="fa fa-eye" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<div class="row">
									<div class="icon-btn">
										<a ng-click="puwc.docUpload(preUW)">
											<i class="fa fa-upload" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<div class="row">
									<div class="icon-btn" ng-class="[{disable_btn: ((preUW.PAY_METHOD_ONLINE_FLAG!='Y') || (appSubmit.RECO_PRODUCT_DEVIATION_FLAG=='T'))}]">
										<a ng-click="puwc.payOnline(preUW.APPLICATION_ID, ((preUW.PAY_METHOD_ONLINE_FLAG!='Y') || (appSubmit.RECO_PRODUCT_DEVIATION_FLAG=='T')))">
											<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<div class="row">
									<div class="icon-btn last-btn">
										<a ng-click="puwc.startNewOpp(preUW.LEAD_ID)">
											<i class="fa fa-plus" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="carousel-pagination" rn-carousel-indicators ng-if="puwc.preUWDataArr.length > 1" slides="puwc.preUWDataArr" rn-carousel-index="puwc.carouselIndex"></div>
    </div>
</div>
<div class="modal-blackoverlay newblackoverlay" ng-hide="puwc.reportPopup">
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 center-block pull-none">
		<div class="white-overlay">
			<span class="close-icon" ng-click="puwc.closePopUpOverlay()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Customer Name</label>
						<input type="text" name="CustName" ng-model="puwc.CustName" class="form-control" placeHolder="Customer Name" readonly/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Mobile No</label>
						<input type="text" name="MobNo" ng-model="puwc.MobNo" class="form-control" placeHolder="Mobile No" readonly/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Email</label>
						<input type="text" name="Email" ng-model="puwc.Email" class="form-control" placeHolder="Email ID" readonly/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Transaction Amount</label>
						<input type="text" name="TransAmt" ng-model="puwc.TransAmt" class="form-control" placeHolder="Transaction Amount" readonly/>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-xs-12 col-sm-5 col-md-5 col-lg-5 center-block pull-none">
							<div class="custom-btn form-btn-wrap">
								<button class="btn btn-primary btn-block" ng-click="puwc.olPaymentData()">Proceed to Pay</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
