<ion-view class="forgot-password">
	<ion-content has-bouncing="false">
		<div class="gc-banner">
			<div class="gc-banner-color-strip-wrapper">
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
			</div>
		</div>
		<form id="fp.forgotPasswordForm" name="fp.forgotPasswordForm" ng-submit="fp.onSubmit()" novalidate>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 center-block pull-none">
				<div class="custom-form-wrapper">
					<div class="row">
						<!-- Form 1 -->
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="row">
								<!-- Enter Security Answer -->
								<div class="col-xl-12 col-lg-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<h4 class="form-title">Answer security question</h4>
									<div class="form-group custom-form">
										<label class="form-label">{{fp.secQues}} <span class="requiredStar">*</span></label>
										<input type="text" class="form-control custom-form" placeholder="Enter Security Answer" name="secQuesAns" ng-model="fp.secQuesAns" required/>
									</div>
									<div ng-messages="fp.forgotPasswordForm.secQuesAns.$error" class="error-messages" ng-show="fp.forgotPasswordForm.secQuesAns.$invalid && !fp.forgotPasswordForm.secQuesAns.$pristine">
										<div ng-message="required">Security answer cannot be empty.</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Form 2 -->
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 border-left">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h4 class="form-title">Set new password</h4>
								<!-- Enter New Password -->
								<div class="form-group custom-form">
									<label class="form-label">Enter New Password <span class="requiredStar">*</span></label>
									<input type="password" class="form-control custom-form" placeholder="Enter New Password" name="password" ng-model="fp.newPassword" required/>
								</div>
								<div ng-messages="fp.forgotPasswordForm.newPassword.$error" class="error-messages" ng-show="fp.forgotPasswordForm.newPassword.$invalid && !fp.forgotPasswordForm.newPassword.$pristine">
									<div ng-message="required">Password cannot be empty.</div>
								</div>
							</div>
							<div class="col-xl-12 col-lg-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<!-- Confirm New Password -->
								<div class="form-group custom-form">
									<label class="form-label">Confirm New Password <span class="requiredStar">*</span></label>
									<input type="password" class="form-control custom-form" placeholder="Confirm new Password" name="confirmPassword" ng-model="fp.confirmPassword" required/>
								</div>
								<div ng-messages="fp.forgotPasswordForm.confirmPassword.$error" class="error-messages" ng-show="fp.forgotPasswordForm.confirmPassword.$invalid && !fp.forgotPasswordForm.confirmPassword.$pristine">
									<div ng-message="required">Password cannot be empty.</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					<!-- Button -->
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block pull-none">
								<div class="custom-btn new-pwd-btn-wrap">
									<button class="btn btn-primary btn-block" type="submit" ng-disabled="fp.forgotPasswordForm.$invalid">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>
