<ion-pane class="sis-height">
    <ion-header-bar class="fixed-bar">
        <!-- Header -->
        <div class="sis-header-wrap">
            <sis-header></sis-header>
        </div>
        
        <!-- Timeline -->
        <div class="SIStimeline-wrapper">
            <sis-timeline></sis-timeline>
        </div>
    </ion-header-bar>
    
    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap sis_ekyc">
            <div class="form_wrap">
                <form>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <table class="table sis_table">
                                    <thead>
                                        <tr>
                                            <th>Name of Plan</th>
                                            <th>Policy Term</th>
                                            <th>Premium Paying Term</th>
                                            <th>Premium Amount</th>
                                            <th>Life Cover</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{sp4.sfePage4Data.BASE_PRODUCT_NAME}}</td>
                                            <td>{{sp4.sfePage4Data.BASE_PT}}</td>
                                            <td>{{sp4.sfePage4Data.BASE_PPT}}</td>
                                            <td>{{sp4.sfePage4Data.BASE_PREMIUM}}</td>
                                            <td>{{sp4.sfePage4Data.BASE_SA}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{sp4.sfePage4Data.TERM_PRODUCT_NAME}}</td>
                                            <td>{{sp4.sfePage4Data.TERM_PT}}</td>
                                            <td>{{sp4.sfePage4Data.TERM_PPT}}</td>
                                            <td>{{sp4.sfePage4Data.TERM_PREMIUM}}</td>
                                            <td>{{sp4.sfePage4Data.TERM_SA}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td></td>
                                            <td></td>
                                            <td>{{sp4.sfePage4Data.BASE_PREMIUM + sp4.sfePage4Data.TERM_PREMIUM}}</td>
                                            <td>{{sp4.sfePage4Data.BASE_SA + sp4.sfePage4Data.TERM_SA}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sp4.sfePage4Data.ISRIDER">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                Excluding {{sp4.sfePage4Data.RIDER_NAME}} premium of Rs. {{sp4.sfePage4Data.RIDER_PREMIUM}}.
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="custom-btn form-btn-wrap">
                                            <!--changes 4nov-->
                                            <button class="btn btn-default btn-block" type="button" ng-click="sp4.onBack()">Back</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="custom-btn form-btn-wrap">
                                            <button class="btn btn-default btn-block" type="submit" ng-click="sp4.onNext()">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-pane>
