<ion-view class="login">
	<ion-content has-bouncing="false">
		<div class="gc-banner">
			<div class="gc-banner-color-strip-wrapper">
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
			</div>
		</div>
		<form name="loginForm" id="loginForm" ng-submit="login.doLogin()">
			<div class="col-xs-8 col-sm-6 col-md-5 col-lg-4 center-block pull-none">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h4 class="form-title text-center login-subtitle">Welcome</h4>
						<span class="making-title">Making Good Happen</span>
					</div>

					<!--User Name-->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form">
							<input type="text" id="username" name="username" class="form-control" placeholder="Username" ng-model="login.username" ng-pattern="login.usernameRegex" onpaste="return false;" stopccp required input-uppercase/>
						</div>
						<div ng-messages="loginForm.username.$error" class="error-messages" ng-show="loginForm.username.$invalid && !loginForm.username.$pristine">
							<div ng-message="required">Username cannot be empty.</div>
							<div ng-message="pattern">Please enter a valid username.</div>
						</div>
					</div>

					<!--Password-->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form">
							<input type="password" id="password" name="password" class="form-control" placeholder="Password" ng-model="login.password" onpaste="return false;" stopccp required/>
						</div>
						<div ng-messages="loginForm.password.$error" class="error-messages" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">
							<div ng-message="required">Password cannot be empty.</div>
						</div>
					</div>

					<!-- Forgot Password -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<p class="pull-right forgot-pass" ng-hide="login.hideForgotPasswordLink" ng-click="login.forgotPassword()">Forgot password?</p>
					</div>

					<!-- Button -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="custom-btn log-in-btn">
							<button class="btn btn-primary btn-block login-btn" type="submit" ng-disabled="loginForm.$invalid">Login</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</ion-content>
	<div class="login-version-no">v {{login.version}}</div>
	<script type="text/javascript">
		(function() {
			var onload = window.onload;

			window.onload = function(){
				if (typeof onload == "function") {
					onload.apply(this, arguments);
				}

				var fields = [];
				var inputs = document.getElementsByTagName("input");
				var textareas = document.getElementsByTagName("textarea");

				for (var i = 0; i < inputs.length; i++) {
					fields.push(inputs[i]);
				}

				for (var i = 0; i < textareas.length; i++) {
					fields.push(textareas[i]);
				}

				for (var i = 0; i < fields.length; i++) {
					var field = fields[i];
					if (typeof field.onpaste != "function" && !!field.getAttribute("onpaste")) {
						field.onpaste = eval("(function () { " + field.getAttribute("onpaste") + " })");
					}
					if (typeof field.onpaste == "function") {
						var oninput = field.oninput;
						field.oninput = function(){
							if (typeof oninput === "function") {
								oninput.apply(this, arguments);
							}
							if (typeof this.previousValue == "undefined") {
								this.previousValue = this.value;
							}
							var pasted = (Math.abs(this.previousValue.length - this.value.length) > 1 && this.value != "");

							if (pasted && !this.onpaste.apply(this, arguments)) {
								this.value = this.previousValue;
							}
							this.previousValue = this.value;
						};
						if (field.addEventListener) {
							field.addEventListener("input", field.oninput, false);
						}
						else if (field.attachEvent) {
							field.attachEvent("oninput", field.oninput);
						}
					}
				}
			}
		})();
	</script>
</ion-view>
