<ion-pane class="sis-height">
    <ion-header-bar class="fixed-bar">
        <!-- Header -->
        <div class="sis-header-wrap">
		<sis-header></sis-header>
        </div>

        <!-- Timeline -->
        <div class="SIStimeline-wrapper">
		<sis-timeline></sis-timeline>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap sis_ekyc">
				<form id="sfaPage2Form" name="sfaPage2Form" ng-submit="sp2.onNext(sfaPage2Form.$pristine)" novalidate>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<!--Title-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Title <span class="requiredStar">*</span></label>
										<select class="form-control" name="title" ng-options="option.TITLE_DISPLAY disable when ((sp2.PGL_ID==sp2.VCP_PGL_ID) && (!sp2.isSelfInsured) && (option.TITLE =='Mr.' || option.TITLE =='Ms.' || option.TITLE =='Miss.') && (option.TITLE != null)) for option in sp2.titleList track by option.TITLE" ng-change="sp2.onTitleChg()" ng-model="sp2.titleOptionSelected" select-required ng-disabled="sp2.isSelfInsured || (sp2.leadDataDisabled && sp2.leadNonFhrDataDisabled)"></select>
									</div>
									<div ng-messages="sfaPage2Form.title.$error" class="error-messages" ng-show="sfaPage2Form.title.$invalid && !sfaPage2Form.title.$pristine">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<!--First Name-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">First Name <span class="requiredStar">*</span></label>
										<input ng-readonly="sp2.isSelfInsured" type="text" class="form-control custom-form" placeholder="First Name" name="firstName" ng-model="sp2.sfaPage2Data.PROPOSER_FIRST_NAME" ng-pattern="sp2.nameRegex" required ng-disabled="sp2.leadDataDisabled || sp2.ekycDataDisabled" ng-maxlength="20"/>
									</div>
									<div ng-messages="sfaPage2Form.firstName.$error" class="error-messages" ng-show="sfaPage2Form.firstName.$invalid && !sfaPage2Form.firstName.$pristine">
										<div ng-message="required">First name cannot be empty.</div>
										<div ng-message="pattern">Please use text and ' or - only.</div>
										<div ng-message="maxlength">Maximum 20 char only.</div>
									</div>
								</div>
								<!--Middle Name-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Middle Name</label>
										<input ng-readonly="sp2.isSelfInsured" type="text" class="form-control custom-form" placeholder="Middle Name" id="middleName" name="middleName" ng-model="sp2.sfaPage2Data.PROPOSER_MIDDLE_NAME" ng-pattern="sp2.mNameRegex" ng-disabled="(sp2.leadDataDisabled && sp2.leadNonFhrDataDisabled) || (sp2.ekycDataDisabled)" ng-maxlength="18"/>
									</div>
									<div ng-messages="sfaPage2Form.middleName.$error" class="error-messages" ng-show="sfaPage2Form.middleName.$invalid && !sfaPage2Form.middleName.$pristine">
										<div ng-message="pattern">Please use text and ' or - or blank space only.</div>
                                        <div ng-message="maxlength">Maximum 18 char only.</div>
									</div>
								</div>
								<!--Last Name-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Last Name <span class="requiredStar">*</span></label>
										<input ng-readonly="sp2.isSelfInsured" type="text" class="form-control custom-form" placeholder="Last Name" name="lastName" ng-model="sp2.sfaPage2Data.PROPOSER_LAST_NAME" ng-class="{'has-error':true}" ng-pattern="sp2.nameRegex" required ng-disabled="(sp2.leadDataDisabled && !!sp2.sfaPage2Data.PROPOSER_LAST_NAME) || (sp2.ekycDataDisabled)" ng-maxlength="20"/>
									</div>
									<div ng-messages="sfaPage2Form.lastName.$error" class="error-messages" ng-show="sfaPage2Form.lastName.$invalid && !sfaPage2Form.lastName.$pristine">
										<div ng-message="required">First name cannot be empty.</div>
										<div ng-message="pattern">Please use text and ' or - only.</div>
										<div ng-message="maxlength">Maximum 20 char only.</div>
									</div>
								</div>

								<!--Date of Birth-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Date of Birth <span class="requiredStar">*</span></label>
										<input ng-readonly="sp2.isSelfInsured" class="form-control custom-form date-icon" placeholder="Date of Birth" name="proposerDob" type="date" ng-model="sp2.sfaPage2Data.PROPOSER_DOB" validate-proposer-dob required ng-disabled="((!sp2.isSelfInsured && sp2.leadDataDisabled) || sp2.ekycDobDisabled)"></input>
										<!--<i class="icon ion-calendar placeholder-icon field-icon" style="padding:0 15px"></i>-->
									</div>
									<div ng-messages="sfaPage2Form.proposerDob.$error" class="error-messages" ng-show="sfaPage2Form.proposerDob.$invalid && !sfaPage2Form.proposerDob.$pristine">
										<div ng-message="required">Please enter a date.</div>
										<div ng-message="propMinAge">Minimum age for the product is: {{ sp2.propMinAge }} years.</div>
										<div ng-message="propMaxAge">Maximum age for the product is: {{ sp2.propMaxAge }} years.</div>
									</div>
								</div>

								<!-- Tata Employee Flag -->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<div class="cbcontainer rider-chk-box tata-discount" ng-show="sp2.showEmployeeFlag">
											<div class="rider-chekbox rider-bigsize">
												<input type="checkbox" id="employeeFlag" name="employeeFlag" ng-true-value="'Y'" ng-false-value="'N'" ng-model="sp2.sfaPage2Data.TATA_FLAG" ng-change="sp2.onEmployeeFlagChg()">
												<label for="employeeFlag">Tata Discount</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<!--Industries-->
								<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
									<!--<div class="form-group custom-form custom-drp city-drp-dwn">-->
										<!--<label class="form-label">Industry <span class="requiredStar">*</span></label>-->
										<!--&lt;!&ndash;<select ng-disabled="sp2.isSelfInsured" class="form-control" name="industry" ng-options="option.SIS_INDUSTRIES_DISPLAY for option in sp2.industryList track by option.SIS_INDUSTRIES" ng-change="sp2.onIndustryChg()" ng-model="sp2.industryOptionSelected" select-required></select>&ndash;&gt;-->
										<!--<div custom-select=" s.SIS_INDUSTRIES_DISPLAY for s in sp2.industryList | filter: { SIS_INDUSTRIES_DISPLAY: $searchTerm } track by s.SIS_INDUSTRIES" ng-model="sp2.industryOptionSelected" ng-change="sp2.onIndustryChg()"  name="industry" select-required></div>-->
									<!--</div>-->
									<!--<div ng-messages="sfaPage2Form.industry.$error" class="error-messages" ng-show="sfaPage2Form.industry.$invalid && !sfaPage2Form.industry.$pristine">-->
										<!--<div ng-message="selectRequired">Please select an option.</div>-->
									<!--</div>-->
								<!--</div>-->
								<!--Occupation-->
								<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
									<!--<div class="form-group custom-form custom-drp city-drp-dwn">-->
										<!--<label class="form-label">Occupation <span class="requiredStar">*</span></label>-->
										<!--&lt;!&ndash;<select ng-disabled="sp2.isSelfInsured" class="form-control" name="occupation" ng-options="option.SIS_OCCUPATION_DISPLAY for option in sp2.occupationList track by option.SIS_OCCUPATION" ng-change="sp2.onOccupationChg()" ng-model="sp2.occupationOptionSelected" select-required></select>&ndash;&gt;-->
										<!--<div custom-select=" s.SIS_OCCUPATION_DISPLAY for s in sp2.occupationList | filter: { SIS_OCCUPATION_DISPLAY: $searchTerm } track by s.SIS_OCCUPATION" ng-model="sp2.occupationOptionSelected" ng-change="sp2.onOccupationChg()"  ng-disabled="sp2.isSelfInsured" name="occupation" select-required></div>-->
									<!--</div>-->
									<!--<div ng-messages="sfaPage2Form.occupation.$error" class="error-messages" ng-show="sfaPage2Form.occupation.$invalid && !sfaPage2Form.occupation.$pristine">-->
										<!--<div ng-message="selectRequired">Please select an option.</div>-->
									<!--</div>-->
								<!--</div>-->
								<!--Nature Of Works-->
								<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
									<!--<div class="form-group custom-form custom-drp city-drp-dwn">-->
										<!--<label class="form-label">Nature Of Work <span class="requiredStar">*</span></label>-->
										<!--&lt;!&ndash;<select ng-disabled="sp2.isSelfInsured" class="form-control" name="natureOfWork" ng-options="option.SIS_NATURE_OF_WORK_DISPLAY for option in sp2.natureOfWorkList track by option.OCCUPATION_CODE" ng-change="sp2.onNatureOfWorkChg()" ng-model="sp2.natureOfWorkOptionSelected" select-required></select>&ndash;&gt;-->
										<!--<div custom-select=" s.SIS_NATURE_OF_WORK_DISPLAY for s in sp2.natureOfWorkList | filter: { SIS_NATURE_OF_WORK_DISPLAY: $searchTerm } track by s.OCCUPATION_CODE" ng-model="sp2.natureOfWorkOptionSelected" ng-change="sp2.onNatureOfWorkChg()"  ng-disabled="sp2.isSelfInsured" name="natureOfWork" select-required></div>-->
									<!--</div>-->
									<!--<div ng-messages="sfaPage2Form.natureOfWork.$error" class="error-messages" ng-show="sfaPage2Form.natureOfWork.$invalid && !sfaPage2Form.natureOfWork.$pristine">-->
										<!--<div ng-message="selectRequired">Please select an option.</div>-->
									<!--</div>-->
								<!--</div>-->

								<!--Gender And Smoking Habbit-->
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group custom-form side-radio-height-wrap">
												<label class="form-label">Gender <span class="requiredStar">*</span></label>
												<div class="gender-radio-wrapper">
													<div class="gender-wrapper male-wrapper">
														<input ng-readonly="sp2.isSelfInsured" type="radio" id="sisPropRdMale" name="gender" value="M" ng-model="sp2.sfaPage2Data.PROPOSER_GENDER" ng-disabled="sp2.genderDisabled" required/>
														<label for="sisPropRdMale"></label>
														<div class="clearfix"></div>
													</div>
													<div class="gender-wrapper female-wrapper">
														<input ng-readonly="sp2.isSelfInsured" type="radio" id="sisPropRdFemale" name="gender" value="F" ng-model="sp2.sfaPage2Data.PROPOSER_GENDER" ng-disabled="sp2.genderDisabled" required/>
														<label for="sisPropRdFemale"></label>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
											<div ng-messages="sfaPage2Form.gender.$error" class="error-messages" ng-show="sfaPage2Form.gender.$invalid && !sfaPage2Form.gender.$pristine">
												<div ng-message="required">Please select a gender.</div>
											</div>
										</div>

								<!--Email-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form side-radio-height-wrap">
										<label class="form-label">Email <span class="requiredStar">*</span></label>
										<input ng-readonly="sp2.isSelfInsured" type="email" class="form-control" placeholder="Email" name="proposerEmail" ng-model="sp2.sfaPage2Data.PROPOSER_EMAIL" ng-pattern="sp2.emailRegex" required ng-disabled="sp2.leadDataDisabled"/>
									</div>
									<div ng-messages="sfaPage2Form.proposerEmail.$error" class="error-messages" ng-show="sfaPage2Form.proposerEmail.$invalid && !sfaPage2Form.proposerEmail.$pristine">
										<div ng-message="required">Proposer email-id cannot be empty.</div>
										<div ng-message="pattern">Please enter a valid email-id.</div>
									</div>
								</div>
								<!--Mobile No-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Mobile Number <span class="requiredStar">*</span></label>
											<input ng-readonly="sp2.isSelfInsured" class="form-control custom-form" placeholder="Mobile Number" name="proposerMobile" type="number" ng-model="sp2.sfaPage2Data.PROPOSER_MOBILE" ng-pattern="sp2.mobileRegex" required ng-disabled="sp2.leadDataDisabled"/>
									</div>
									<div ng-messages="sfaPage2Form.proposerMobile.$error" class="error-messages" ng-show="sfaPage2Form.proposerMobile.$invalid && !sfaPage2Form.proposerMobile.$pristine">
										<div ng-message="required">Proposer mobile number cannot be empty.</div>
										<div ng-message="pattern">Please enter a ten digit mobile number starting with 7, 8 or 9.</div>
									</div>
								</div>

								<!--Age Proof Type-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="sp2.ageProofHidden">
									<div class="form-group custom-form custom-drp city-drp-dwn">
										<label class="form-label">Age Proof Type <span class="requiredStar">*</span></label>
										<!--<select ng-disabled="sp2.isSelfInsured" class="form-control" name="ageProof" ng-options="option.MPPROOF_DESC for option in sp2.ageProofList track by option.DOC_ID" ng-change="sp2.onAgeProofChg()" ng-model="sp2.ageProofOptionSelected" select-required></select>-->
										<div custom-select=" s.MPPROOF_DESC for s in sp2.ageProofList | filter: { MPPROOF_DESC: $searchTerm } track by s.DOC_ID" ng-model="sp2.ageProofOptionSelected" ng-change="sp2.onAgeProofChg()"  name="ageProof" select-required="!sp2.ageProofHidden"></div>

									</div>
									<div ng-messages="sfaPage2Form.ageProof.$error" class="error-messages" ng-show="sfaPage2Form.ageProof.$invalid && !sfaPage2Form.ageProof.$pristine">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<!-- Company Dropdown -->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sp2.showEmployeeFlag && (sp2.sfaPage2Data.TATA_FLAG=='Y')">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Company Name <span class="requiredStar">*</span></label>
										<select class="form-control" name="company" ng-options="option.COMPANY_NAME for option in sp2.companyList track by option.COMPANY_CODE" ng-change="sp2.onCompanyChg()" ng-model="sp2.companyOptionSelected" select-required="sp2.showEmployeeFlag && (sp2.sfaPage2Data.TATA_FLAG=='Y')"></select>
									</div>
									<div ng-messages="sfaPage2Form.company.$error" class="error-messages" ng-show="sfaPage2Form.company.$invalid && !sfaPage2Form.company.$pristine">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="custom-btn form-btn-wrap">
												<button class="btn btn-default btn-block" type="button" ng-click="sp2.onBack()">Back</button>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="custom-btn form-btn-wrap">
												<button class="btn btn-default btn-block" type="submit" ng-disabled="sfaPage2Form.$invalid">Next</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
	</ion-content>
</ion-pane>
