<ion-view class="chg-sec-ques">
	<form id="csq.chgSecQuesForm" name="csq.chgSecQuesForm" ng-submit="csq.onSubmit()" novalidate>
		<ion-header-bar class="fixed-bar csq-header">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-margin-rm">
				<div class="csq-header-menu-logo-block pull-left">
					<a ng-click="csq.openMenu()" class="click-menu">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</a>
					<img src="../img/tata-logo.png" alt="Tata AIA Logo" class="main-logo">
				</div>
			</div>
		</ion-header-bar>
		<div class="bar bar-subheader csq-sub-header">
			<h2>Change Security Questions</h2>
		</div>
		<ion-content has-bouncing="false" has-header="true">
			<div class="change-security-wrap">
				<div class="form_wrap">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<!-- Security Questions -->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="ques in csq.quesData">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Security Question No. {{ ques.Q_NO }}<span class="requiredStar">*</span></label>
										<select class="form-control" name="secQues" ng-options="question.QUESTION_DESC for question in ques.QUESTION_LIST track by question.QUESTION_NO"  ng-change="csq.onChange()" ng-model="ques.SELECTED_QUESTION" select-required></select>
									</div>
									<div ng-messages="csq.chgSecQuesForm.secQues.$error" class="error-messages" ng-show="csq.chgSecQuesForm.secQues.$invalid && !csq.chgSecQuesForm.secQues.$pristine">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<!-- Security Answers -->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="ques in csq.quesData">
									<div class="form-group custom-form">
										<label class="form-label">Answer To Question No. {{ ques.Q_NO }} <span class="requiredStar">*</span></label>
										<input type="text" class="form-control custom-form" placeholder="Answer" name="securityAnswers" ng-model="ques.ANSWER" required/>
									</div>
									<div ng-messages="csq.chgSecQuesForm.securityAnswers.$error" class="error-messages" ng-show="csq.chgSecQuesForm.securityAnswers.$invalid && !csq.chgSecQuesForm.securityAnswers.$pristine">
										<div ng-message="required">Security answer cannot be empty.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-default btn-block" type="submit" ng-disabled="csq.chgSecQuesForm.$invalid">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
	</form>
</ion-view>
