<table class="page" cellspacing="0" cellpadding="0" border="0" style="page-break-before:always;">
  
  <tr>
    <td><img src=||IMGNAME|| alt="" style="width:100%"/></td>
  </tr>
 
 <tr>
    <td><div class="box2"> <h3 class="text-center btm20">Exclusions for Tata AIA Life Insurance Accidental Death and Dismemberment (Long Scale) (ADDL) Linked Rider  (UIN: 110A027V01)</h3>
	
No benefit shall be payable for any losses caused directly or indirectly, wholly or partly, by any one of the following occurrences:
                <table style="width:100%">
				<tr>
                    <td><br/>
                        <ol>
                            <li>Suicide or attempted suicide or self-inflicted injury, whether the life assured is medically sane or insane.  </li>
                            <li> Any condition, ailment or injury or related condition(s) for which you had signs or symptoms, and / or were diagnosed, and / or received, medical advice / treatment within 48 months prior to  this policy issued by Us subject to Fraud &amp; Non-disclosure clause.</li>
                            <li> Failure to seek medical advice or treatment.</li>
                            <li> War, terrorism, invasion, act of foreign enemy, hostilities, civil war, martial law, rebellion, revolution, insurrection, military or usurper power, riot or civil commotion. War means any war whether declared or not. </li>
                            <li>Committing an assault, a criminal offence, an illegal activity or any breach of law with criminal intent only. </li>
                            <li> Engaging in or taking part in professional sport(s) or any hazardous pursuits, including but not limited to, diving or riding or any kind of race; underwater activities involving the use of breathing apparatus or not; martial arts; hunting; mountaineering; parachuting; bungee jumping.</li>
                            <li>  Alcohol or Solvent abuse or taking of Drugs, narcotics or psychotropic substances unless taken in accordance with the lawful directions and prescription of a registered medical practitioner </li>
                            <li>Participation by the insured person in any flying activity, except as a bona fide, fare-paying passenger of a recognized airline on regular routes and on a scheduled timetable.</li>
                            <li>Nuclear Contamination; the radio-active, explosive or hazardous nature of nuclear fuel materials or property contaminated by nuclear fuel materials or accident arising from such nature.</li>
                            <li>"Death or bodily injuries which result directly, solely and independently of any other causes from an Accident AND which occurs after 90 days of the Accident are excluded" In the event the Insured enters into a Coma (as per definition of health regulations) within 90 days after the date of Accident and the death of the Insured occurs after 90 days from the date of Accident, such a claim shall be payable, provided that the claimant can prove using primary medical records that the death of the Insured resulted directly and solely from accident and independent of any other causes and claims investigations conducted by the company concur in their findings".</li>
                        </ol>
</td></tr>
<tr><td>&nbsp;</td></tr>


<tr>
    <td style="text-align:right;">
        <div class="hidePropSign">
            <img id="propSignImage" src="@@PROPSIGN@@" style="width:150px; height:50px;"/>
        </div>
    </td>
</tr>



<tr><td style="text-align:right;font-size:10px">
Proposer's Initials/Signature____________________________
 
          </td>
      </tr>
    </table>

</div></td>
</tr>

<tr>
    <td><div class="footer">
        <p> <strong>Tata AIA Life Insurance Company Ltd.</strong> (IRDA of India Regn. No. 110) CIN - U66010MH2000PLC128403<br/>
          <strong>Registered and Corporate Office:</strong> 14th Floor, Tower A, Peninsula Business Park, Senapati Bapat Marg, Lower Parel, Mumbai- 400013.<br/>
          For more information, Call the Tata AIA Life Insurance Company Ltd Helpline number 1860-266-9966 <br/>
          (local charges apply) or Visit us at: www.tataaia.com or SMS 'LIFE' to 58888</p>
      </div><div style="font-size:7px">
		||VERSION||
		</div></td>
  </tr>

</table>