<table class="page" cellspacing="0" cellpadding="0" border="0" style="page-break-before:always;">
    <tr>
        <td><img src=||IMGNAME|| alt="" style="width:100%"/></td>
    </tr>
    <tr>
        <td style="font-size:10px;">
            <div class="box"> <h3 class="text-center btm20">Exclusions for Tata AIA Life Insurance Waiver of Premium Plus Rider (UIN: 110B029V01)</h3>
                <strong>Exclusion for Total Permanent Disability</strong>
                <br />
                <br />
                Waiver of Premium shall not cover any Total Permanent Disability caused directly or indirectly, wholly or partly, by any of the following occurrences:
                <br/>
                <table style="width:100%;">
                    <tr>
                        <td style="font-size:10px;">
                            <ol type="1">
                                <li>Attempted suicide or self-inflicted injury, whether the policyholder is medically sane or insane. </li>
                                <li> Infection with Human Immunodeficiency Virus (HIV) or conditions due to any Acquired Immune Deficiency Syndrome (AIDS). </li>
                                <li> Failure to seek medical advice or treatment by a medical practioner. </li>
                                <li> War, terrorism, invasion, act of foreign enemy, hostilities, civil war, martial law, rebellion, revolution, insurrection, military or usurper power, riot or civil commotion.  War means any war whether declared or not. </li>
                                <li> Committing an assault, a criminal offence, an illegal activity or any breach of law with criminal intent.</li>
                                <li> Engaging in or taking part in professional sport(s) or any hazardous pursuits, including but not limited to, diving or riding or any kind of race; underwater activities involving the use of breathing apparatus or not; martial arts; hunting; mountaineering; parachuting; bungee jumping </li>
                                <li> Alcohol or Solvent abuse or taking of Drugs, narcotics or psychotropic substances unless taken in accordance with the lawful directions and prescription of a registered medical practitioner </li>
                                <li> Participation by the Life Insured in any flying activity, except as a bona fide, fare- paying passenger of a recognized airline on regular routes and on a scheduled timetable. </li>
                                <li> Nuclear Contamination; the radio-active, explosive or hazardous nature of nuclear fuel materials or property contaminated by nuclear fuel materials or accident arising from such nature.</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-size:10px;">
                            No benefit will be provided for Total Permanent Disability resulting from any condition, ailment or injury or related condition(s) for which the Life Insured had signs or symptoms, and / or were diagnosed, and / or received, medical advice / treatment within 48 months prior to the issuance of Base Policy
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-size:10px;"><strong>Exclusion in case of Suicide:</strong> In case of death of Life Insured due to suicide (i.e. the proposer of the Base Policy to which this rider is attached), whether sane or insane, within 12 months from the date of commencement of this policy (which is same as date of inception of the policy), the nominee as per the Base Policy shall be entitled to total rider premiums paid since inception, provided the Base Policy is in force. In case of death of Life Insured due to suicide, whether sane or insane, within 12 months from the date of reinstatement or revival, the nominee as per the Base Policy shall be entitled to total Rider premiums paid since inception, provided the Base Policy is in force.</td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">
                            <div class="hidePropSign">
                                <img id="propSignImage" src="@@PROPSIGN@@" style="width:150px; height:50px;"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;font-size:10px;">
                            Proposer's Initials/Signature____________________________
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="text-align:center;" class="footer">
                <p>
                    <strong>Tata AIA Life Insurance Company Ltd.</strong> (IRDA of India Regn. No. 110) CIN - U66010MH2000PLC128403<br/>
                    <strong>Registered and Corporate Office:</strong> 14th Floor, Tower A, Peninsula Business Park, Senapati Bapat Marg, Lower Parel, Mumbai- 400013.<br/>
                    For more information, Call the Tata AIA Life Insurance Company Ltd Helpline number 1860-266-9966 <br/>
                    (local charges apply) or Visit us at: www.tataaia.com or SMS 'LIFE' to 58888
                </p>
            </div>
            <div style="font-size:7px">
                ||VERSION||
            </div>
        </td>
    </tr>
</table>