<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<ex-timeline class="tab-nav"></ex-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<form id="appNonTataExistingInsForm" name="nonTata.appNonTataExistingInsForm" novalidate>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group custom-form main-form-title">
						<label class="form-label">Insured</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group custom-form">
						<label class="form-label">
							A. Do you currently hold or have applied for Life Insurance / Health / Personal Acciden Policies with Tata AIA or other compaines?<span class="requiredStar">*</span>
						</label>
						<div class="tick-radio-wrap">
							<div class="new-tick-btn">
								<input type="radio" id="radioCh2Yes" value="Y" name="radioCh2"  ng-model="nonTata.appNonTataExistingInsbean.radioCh2"  required/>
								<label for="radioCh2Yes">Yes</label>
							</div>
							<div class="new-tick-btn">
								<input type="radio" id="radioCh2No" value="N" name="radioCh2" ng-model="nonTata.appNonTataExistingInsbean.radioCh2" ng-change="nonTata.setInsRec()" required/>
								<label for="radioCh2No">No</label>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div ng-messages="nonTata.appNonTataExistingInsForm.radioCh2.$error" class="error-messages" ng-show="nonTata.appNonTataExistingInsForm.radioCh2.$invalid && (!nonTata.appNonTataExistingInsForm.radioCh2.$pristine || nonTata.click)">
						<div ng-message="required">Please Select option.</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="Ins in nonTata.RepeatIns">
					<!-- Delete Button -->
					<span class="delete-button">
						<i class="fa fa-times-circle-o" aria-hidden="true" ng-click="nonTata.deleteInsBlock($index)"></i>
					</span>
					<div class="existing-policy-tile orange-border">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="policy-tile-count">
								1
							</span>
						</div>
						<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label>Type of Insurance</label>
										<div class="custom-drp">
											<select class="form-control" name="insuranceType{{$index}}" ng-model="Ins.insuranceType" ng-disabled="nonTata.appNonTataExistingInsbean.radioCh2!='Y'" ng-required="nonTata.appNonTataExistingInsbean.radioCh2=='Y'">
												<option value="">Select</option>
												<option value="Life">Life</option>
												<option value="Health">Health</option>
												<option value="Unit Linked">Unit Linked</option>
												<option value="Pension">Pension</option>
												<option value="Personal Accident">Personal Accident</option>
											</select>
										</div>
									</div>
									<div ng-messages="nonTata.appNonTataExistingInsForm['insuranceType'+$index].$error" class="error-messages" ng-show="nonTata.appNonTataExistingInsForm['insuranceType'+$index].$invalid && (!nonTata.appNonTataExistingInsForm['insuranceType'+$index].$pristine || nonTata.click)">
										<div ng-message="required">Please select Type of Insurance</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label>Company Name</label>
										<input type="text" name="compName{{$index}}" ng-model="Ins.compName" ng-pattern="/^[a-zA-Z ]*$/" ng-maxlength="50" ng-disabled="nonTata.appNonTataExistingInsbean.radioCh2!='Y'" ng-required="nonTata.appNonTataExistingInsbean.radioCh2=='Y'"  class="form-control" required/>
									</div>
									<div ng-messages="nonTata.appNonTataExistingInsForm['compName'+$index].$error" class="error-messages" ng-show="nonTata.appNonTataExistingInsForm['compName'+$index].$invalid && (!nonTata.appNonTataExistingInsForm['compName'+$index].$pristine || nonTata.click)">
										<div ng-message="required">Please enter company name</div>
										<div ng-message="pattern">Please enter valid company name.</div>
										<div ng-message="maxlength">Company Name cannot be greater than 50 charactres.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label>Basic Sum Assured</label>
										<input type="number" name="baseSA{{$index}}" ng-model="Ins.baseSA" ng-pattern="/^[0-9]*$/" ng-maxlength="15" ng-disabled="nonTata.appNonTataExistingInsbean.radioCh2!='Y'" ng-required="nonTata.appNonTataExistingInsbean.radioCh2=='Y'"  class="form-control" required/>
									</div>
									<div ng-messages="nonTata.appNonTataExistingInsForm['baseSA'+$index].$error" class="error-messages" ng-show="nonTata.appNonTataExistingInsForm['baseSA'+$index].$invalid && (!nonTata.appNonTataExistingInsForm['baseSA'+$index].$pristine || nonTata.click)">
										<div ng-message="required">Please enter sum Assured.</div>
										<div ng-message="pattern">Please enter valid Sum Assured.</div>
										<div ng-message="maxlength">Sum Assured cannot be greater than 15 digits.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label>Annual Premium</label>
										<input type="number" name="annualPremium{{$index}}" ng-model="Ins.annualPremium" ng-pattern="/^[0-9]*$/" ng-maxlength="11" ng-disabled="nonTata.appNonTataExistingInsbean.radioCh2!='Y'" ng-required="nonTata.appNonTataExistingInsbean.radioCh2=='Y'"  class="form-control" required/>
									</div>
									<div ng-messages="nonTata.appNonTataExistingInsForm['annualPremium'+$index].$error" class="error-messages" ng-show="nonTata.appNonTataExistingInsForm['annualPremium'+$index].$invalid && (!nonTata.appNonTataExistingInsForm['annualPremium'+$index].$pristine || nonTata.click)">
										<div ng-message="required">Please enter Annual Premium.</div>
										<div ng-message="pattern">Please enter valid Annual Premium.</div>
										<div ng-message="maxlength">Annual Premium cannot be greater than 11 digits.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label>Decision</label>
										<div class="custom-drp">
											<select class="form-control" name="NonTatadecision{{$index}}" ng-model="Ins.NonTatadecision" ng-disabled="nonTata.appNonTataExistingInsbean.radioCh2!='Y'" ng-change="nonTata.changeDecision($index)" ng-required="nonTata.appNonTataExistingInsbean.radioCh2=='Y'">
												<option value="">Select</option>
												<option value="Standard">Standard</option>
												<option value="With Revised or Extra Premium">With Revised or Extra Premium</option>
												<option value="Deferred">Deferred</option>
												<option value="Not Completed">Not Completed</option>
											</select>
										</div>
									</div>
									<div ng-messages="nonTata.appNonTataExistingInsForm['NonTatadecision'+$index].$error" class="error-messages" ng-show="nonTata.appNonTataExistingInsForm['NonTatadecision'+$index].$invalid && (!nonTata.appNonTataExistingInsForm['NonTatadecision'+$index].$pristine || nonTata.click)">
										<div ng-message="required">Please select Decision type.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label>Details if Decision other than standard</label>
										<input type="text" name="insOtherDet{{$index}}" ng-model="Ins.insOtherDet" ng-maxlength="30" ng-disabled="(nonTata.appNonTataExistingInsbean.radioCh2!='Y' || Ins.NonTatadecision=='Standard')" ng-required="nonTata.appNonTataExistingInsbean.radioCh2=='Y'&& Ins.NonTatadecision!='Standard'" placeHolder="Details if Decision other than standard" class="form-control" required/>
									</div>
									<div ng-messages="nonTata.appNonTataExistingInsForm['insOtherDet'+$index].$error" class="error-messages" ng-show="nonTata.appNonTataExistingInsForm['insOtherDet'+$index].$invalid && (!nonTata.appNonTataExistingInsForm['insOtherDet'+$index].$pristine || nonTata.click)">
										<div ng-message="required">Please enter Decision.</div>
										<div ng-message="maxlength">Decision cannot be greater than 30 characters.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 pull-right">
							<div class="custom-btn form-btn-wrap  add-btn-wrap">
								<button class="btn btn-primary btn-block"  ng-disabled="(nonTata.appNonTataExistingInsForm.$invalid || nonTata.appNonTataExistingInsbean.radioCh2!='Y')" ng-click="nonTata.addNewInsured()"><i class="fa fa-plus add-color-white" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="nonTata.isSelf=='Y'">
				<div class="form-group custom-form main-form-title">
					<label class="form-label">Proposer</label>
				</div>
			</div>
			<form id="appNonTataExistingPropForm" name="nonTata.appNonTataExistingPropForm"  novalidate>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="nonTata.isSelf=='Y'">
					<div class="form-group custom-form">
						<label class="form-label">
							A. Do you currently hold or have applied for Life Insurance / Health / Personal Acciden Policies with Tata AIA or other compaines?<span class="requiredStar">*</span>
						</label>
						<div class="tick-radio-wrap">
							<div class="new-tick-btn">
								<input type="radio" id="PropradioCh2Yes" value="Y" name="PropradioCh2"  ng-model="nonTata.appNonTataExistingPropbean.PropradioCh2"  required/>
								<label for="PropradioCh2Yes">Yes</label>
							</div>
							<div class="new-tick-btn">
								<input type="radio" id="PropradioCh2No" value="N" name="PropradioCh2" ng-model="nonTata.appNonTataExistingPropbean.PropradioCh2" ng-change="nonTata.setPropRec()" required/>
								<label for="PropradioCh2No">No</label>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div ng-messages="nonTata.appNonTataExistingPropForm.PropradioCh2.$error" class="error-messages" ng-show="nonTata.appNonTataExistingPropForm.PropradioCh2.$invalid && (!nonTata.appNonTataExistingPropForm.PropradioCh2.$pristine || nonTata.click)">
						<div ng-message="required">Please select option.</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="nonTata.isSelf=='Y'" ng-repeat="Prop in nonTata.RepeatProp">
					<!-- Delete Button -->
					<span class="delete-button">
						<i class="fa fa-times-circle-o" aria-hidden="true" ng-click="nonTata.deletePropBlock($index)"></i>
					</span>
					<div class="existing-policy-tile orange-border">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="policy-tile-count">
								1
							</span>
						</div>
						<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label>Type of Insurance</label>
										<div class="custom-drp">
											<select class="form-control" name="PropInsuranceType{{$index}}" ng-model="Prop.PropInsuranceType" ng-disabled="nonTata.appNonTataExistingPropbean.PropradioCh2!='Y'"  select-required>
											<option value="" selected>Select</option>
											<option value="Life">Life</option>
											<option value="Health">Health</option>
											<option value="UL">Unit Linked</option>
											<option value="Pension">Pension</option>
											<option value="PersonalAccident">Personal Accident</option>
											</select>
										</div>
									</div>
									<div ng-messages="nonTata.appNonTataExistingPropForm['PropInsuranceType'+$index].$error" class="error-messages" ng-show="nonTata.appNonTataExistingPropForm['PropInsuranceType'+$index].$invalid && (!nonTata.appNonTataExistingPropForm['PropInsuranceType'+$index].$pristine || nonTata.click)">
										<div ng-message="selectRequired">Please select Type of Insurance</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label>Company Name</label>
										<input type="text" name="PropCompName{{$index}}" ng-model="Prop.PropCompName" ng-maxlength="50" ng-pattern="/^[a-zA-Z ]*$/" ng-disabled="nonTata.appNonTataExistingPropbean.PropradioCh2!='Y'" ng-required="nonTata.isSelf!='Y'&& nonTata.appNonTataExistingPropbean.PropradioCh2=='Y'"  class="form-control" required/>
									</div>
									<div ng-messages="nonTata.appNonTataExistingPropForm['PropCompName'+$index].$error" ng-show="nonTata.appNonTataExistingPropForm['PropCompName'+$index].$invalid && (!nonTata.appNonTataExistingPropForm['PropCompName'+$index].$pristine || nonTata.click)">
										<div ng-message="required">Please enter company name</div>
										<div ng-message="pattern">Please enter valid company name.</div>
										<div ng-message="maxlength">Company Name cannot be greater than 50 characters.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label>Basic Sum Assured</label>
										<input type="number" name="PropBaseSA{{$index}}" ng-model="Prop.PropBaseSA" ng-maxlength="15" ng-pattern="/^[0-9]*$/" ng-disabled="nonTata.appNonTataExistingPropbean.PropradioCh2!='Y'" ng-required="nonTata.isSelf!='Y' && nonTata.appNonTataExistingPropbean.PropradioCh2=='Y'"  class="form-control" required/>
									</div>
									<div ng-messages="nonTata.appNonTataExistingPropForm['PropBaseSA'+$index].$error" class="error-messages" ng-show="nonTata.appNonTataExistingPropForm['PropBaseSA'+$index].$invalid && (!nonTata.appNonTataExistingPropForm['PropBaseSA'+$index].$pristine || nonTata.click)">
										<div ng-message="required">Please enter sum Assured.</div>
										<div ng-message="pattern">Please enter valid Sum Assured.</div>
										<div ng-message="maxlength">Sum Assured cannot be greater than 15 digits.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label>Annual Premium</label>
										<input type="number" name="PropAnnualPremium{{$index}}" ng-model="Prop.PropAnnualPremium" ng-maxlength="11" ng-pattern="/^[0-9]*$/" ng-disabled="nonTata.appNonTataExistingPropbean.PropradioCh2!='Y'" ng-required="nonTata.isSelf!='Y' && nonTata.appNonTataExistingPropbean.PropradioCh2=='Y'"  class="form-control" required/>
									</div>
									<div ng-messages="nonTata.appNonTataExistingPropForm['PropAnnualPremium'+$index].$error" class="error-messages" ng-show="nonTata.appNonTataExistingPropForm['PropAnnualPremium'+$index].$invalid && (!nonTata.appNonTataExistingPropForm['PropAnnualPremium'+$index].$pristine || nonTata.click)">
										<div ng-message="required">Please enter Annual Premium.</div>
										<div ng-message="pattern">Please enter valid Annual Premium.</div>
										<div ng-message="maxlength">Annual Premium cannot be greater than 11 digits.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label>Decision</label>
										<div class="custom-drp">
											<select class="form-control" name="PropNonTatadecision{{$index}}" ng-model="Prop.PropNonTatadecision" ng-disabled="nonTata.appNonTataExistingPropbean.PropradioCh2!='Y'" ng-change="nonTata.changePropDecision($index)" select-required>
											<option value="" selected>Select</option>
											<option value="Standard">Standard</option>
											<option value="With Revised or Extra Premium">With Revised or Extra Premium</option>
											<option value="Deferred">Deferred</option>
											<option value="Not Completed">Not Completed</option>
											</select>
										</div>
									</div>
									<div ng-messages="nonTata.appNonTataExistingPropForm['PropNonTatadecision'+$index].$error" class="error-messages" ng-show="nonTata.appNonTataExistingPropForm['PropNonTatadecision'+$index].$invalid && (!nonTata.appNonTataExistingPropForm['PropNonTatadecision'+$index].$pristine|| nonTata.click)">
										<div ng-message="selectRequired">Please select Decision type.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label>Details if Decision other than standard</label>
										<input type="text" name="PropInsOtherDet" ng-model="Prop.PropInsOtherDet" ng-maxlength="30" ng-disabled="(nonTata.appNonTataExistingPropbean.PropradioCh2!='Y' || Prop.PropNonTatadecision=='Standard')" ng-required="nonTata.isSelf!='Y' && Prop.PropNonTatadecision!='Standard' && nonTata.appNonTataExistingPropbean.PropradioCh2=='Y'"  class="form-control" required/>
									</div>
									<div ng-messages="nonTata.appNonTataExistingPropForm.PropInsOtherDet.$error" class="error-messages" ng-show="nonTata.appNonTataExistingPropForm.PropInsOtherDet.$invalid && !nonTata.appNonTataExistingPropForm.PropInsOtherDet.$pristine">
										<div ng-message="required">Please enter Decision.</div>
										<div ng-message="maxlength">Decision cannot be greater than 30 characters.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 pull-right" ng-hide="nonTata.isSelf=='Y'">
							<div class="custom-btn form-btn-wrap add-btn-wrap">
								<button class="btn btn-primary btn-block" ng-disabled="(nonTata.appNonTataExistingPropForm.$invalid || nonTata.appNonTataExistingPropbean.PropradioCh2!='Y')"  ng-click="nonTata.addNewProposer()"><i class="fa fa-plus add-color-white" aria-hidden="true"></i></button>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap add-btn-wrap">
								<button class="btn btn-default btn-block" ng-click="nonTata.saveExistingPoldata(nonTata.appNonTataExistingInsForm,nonTata.appNonTataExistingPropForm)">Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</ion-content>
