<ion-pane class="sis-height">
    <ion-header-bar class="fixed-bar">
        <!-- Header -->
        <div class="sis-header-wrap">
            <sis-header></sis-header>
        </div>
        
        <!-- Timeline -->
        <div class="SIStimeline-wrapper">
            <sis-timeline></sis-timeline>
        </div>
    </ion-header-bar>
    
    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap sis_ekyc">
            <div class="form_wrap">
                <form name="sc.sisFormD" id="sc.sisFormD" ng-submit="sc.onNext(sc.sisFormD.$pristine)" novalidate>
                    <div class=" sis-form-wrap">
                        <div class="row">
                            <div class="bs-callout-rider insured-box-rider">
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                    <div class="sis-rider-left">
                                        <h4 class="insured-1">Name Of The Rider</h4>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <div class="sis-rider-right">
                                        <h4>Sum Assured</h4>
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                                <div ng-repeat="rider in sc.ridersList">
                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                        <div class="sis-rider-left">
                                            <p>{{rider.RDL_DESCRIPTION}}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <div class="sis-rider-right">
                                            <div class="form-group custom-form rider-input">
                                                <input type="number" class="form-control assured-input" name="riderSA{{$index}}" placeholder="Sum Assured" ng-model="rider.SUM_ASSURED" ng-disabled="rider.INPUT_DISABLED" ng-required="rider.RIDER_SELECTED=='Y'" rider-min-max rsa-multiple-of="rider.MULTIPLE_OF"/>
                                            </div>
                                            <div class="cbcontainer rider-chk-box">
                                                <div class="rider-chekbox rider-bigsize">
                                                    <input type="checkbox" id="riderSelect{{$index}}" name="riderSelect{{$index}}" ng-true-value="'Y'" ng-false-value="'N'" ng-disabled="rider.DISABLED" ng-model="rider.RIDER_SELECTED" ng-disabled="rider.DISABLED" ng-change="sc.onRiderSelectChange(rider.RIDER_SELECTED, rider.RDL_CODE, null, 'riderSelect'+{{$index}})">
                                                        <label for="riderSelect{{$index}}"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-messages="sc.sisFormD['riderSA'+$index].$error" class="error-messages" ng-show="sc.sisFormD['riderSA'+$index].$invalid && !rider.INPUT_DISABLED">
                                            <div ng-message="required">Sum assured cannot be empty.</div>
                                            <div ng-message="riderMin">Sum assured cannot be less than Rs. {{rider.MIN_SA}}</div>
                                            <div ng-message="riderMax">Sum assured cannot exceed Rs. {{rider.MAX_SA}}</div>
                                            <div ng-message="rsaMultipleOf">Sum assured must be a multiple of {{rider.MULTIPLE_OF}}</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="custom-btn form-btn-wrap">
                                            <button class="btn btn-default btn-block" type="button" ng-click="sc.onBack()">Back</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="custom-btn form-btn-wrap">
                                            <button class="btn btn-default btn-block" type="submit" ng-disabled="sc.sisFormD.$invalid">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-pane>
