<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
    <div class="view-pendingwrap" style="margin-top:144px;">
        <!-- Checking for pending list data-->
        <div class="row" ng-show="(vpc.pendingList!=null && vpc.status!='Submitted' && vpc.status!='L2 Approved' && vpc.status!='DST Approved' && vpc.status!='UW Approved')">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group custom-form main-form-title" style="margin-bottom:10px;">
                    <label class="form-label" style="font-size:18px">Policy pending</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div class="form-group custom-form view-border" style="border:1px solid #cccccc; padding:10px;" ng-repeat="pending in vpc.pendingList">
                    <label class="form-label"><strong>Pending Code : </strong> {{pending.PENDING_CODE}}</label>
                    <label class="form-label"><strong>Reason : </strong> {{pending.PENDING_DETAILS}}.</label>

                </div>
            </div>
        </div>
        <div class="row" ng-show="(vpc.pendingL1List!=null && vpc.status!='Submitted' && vpc.status!='L2 Approved' && vpc.status!='DST Approved' && vpc.status!='UW Approved' && vpc.visibleflag == true)">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group custom-form main-form-title" style="margin-bottom:10px;">
                    <label class="form-label" style="font-size:18px">Assigned to :</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div class="form-group custom-form view-border" style="border:1px solid #cccccc; padding:10px;" ng-repeat="pending in vpc.pendingL1List">
                    <label class="form-label"><strong>Branch/Hub : </strong> {{pending.BRANCH_NAME}}</label>

                </div>
                <div class="form-group custom-form view-border" style="border:1px solid #cccccc; padding:10px;" ng-repeat="reason in vpc.rejectreason" ng-show="(vpc.status == 'L1 Reject' || vpc.status == 'L2 Reject')">
                    <label class="form-label" style="margin-top:10px;" >
                        <strong>Reject Reason : </strong> {{reason.PENDING_DETAILS}}
                    </label>
                </div>
            </div>
        </div>
<!--
        ng-show = "(vpc.status == 'DST Pending' || vpc.status == 'Others')"
-->
        <!-- for GoodSolution user -->
        <div class="under-writing-container" ng-show ="vpc.business_type=='GoodSolution'">
            <p class="form-label" style="font-size:18px">Expected turn around time:</p>
        <div class="under-writing-wrap" >
            <ul>
                <li>Submitted</li>
                <li>CSO</li>
                <li>DST</li>
                <li>U/W</li>
            </ul>
            <ul>
                <li>(O Hr)</li>
                <li>(1 Hr)</li>
                <li>(1 day)</li>
                <li>(2 Hr)</li>
            </ul>
        </div>
        </div>

        <!-- for IndusSolution user -->
        <div class="under-writing-container" ng-show ="vpc.business_type=='IndusSolution'">
            <p class="form-label" style="font-size:18px">Expected turn around time :</p>
            <div class="under-writing-wrap" >
                <ul>
                    <li>Submitted</li>
                    <li>L1</li>
                    <li>L2</li>
                    <li>CSO</li>
                    <li>DST</li>
                    <li>U/W</li>
                </ul>
                <ul>
                    <li>(O Hr)</li>
                    <li>(3 Hr)</li>
                    <li>(3 Hr)</li>
                    <li>(1 Hr)</li>
                    <li>(1 day)</li>
                    <li>(2 Hr)</li>
                </ul>
            </div>
        </div>

        <!-- for iWealth user -->
        <div class="under-writing-container" ng-show ="vpc.business_type=='iWealth'">
            <p class="form-label" style="font-size:18px">Expected turn around time :</p>
        <div class="under-writing-wrap" >
            <ul>
                <li>Submitted</li>
                <li>L1</li>
                <li>CSO</li>
                <li>DST</li>
                <li>U/W</li>
            </ul>
            <ul>
                <li>(O Hr)</li>
                <li>(3 Hr)</li>
                <li>(1 Hr)</li>
                <li>(1 day)</li>
                <li>(2 Hr)</li>
            </ul>
        </div>
        </div>

        <!-- for LifePlaner user -->
        <div class="under-writing-container" ng-show ="vpc.business_type=='LifePlaner'">
            <p class="form-label" style="font-size:18px">Expected turn around time :</p>
        <div class="under-writing-wrap" >
            <ul>
                <li>Submitted</li>
                <li>CSO</li>
                <li>DST</li>
                <li>U/W</li>
            </ul>
            <ul>
                <li>(O Hr)</li>
                <li>(1 Hr)</li>
                <li>(1 day)</li>
                <li>(2 Hr)</li>
            </ul>
        </div>
        </div>
    </div>
</div>