<ion-pane class="sis-height">
    
    <ion-header-bar class="fixed-bar">
        <!-- Header -->
        <div class="sis-header-wrap">
		<sis-header></sis-header>
        </div>
        
        <!-- Timeline -->
        <div class="SIStimeline-wrapper">
		<sis-timeline></sis-timeline>
        </div>
    </ion-header-bar>
    
    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap sis_ekyc">
			<div class="form_wrap">
				<form>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form custom-drp">
								<label class="form-label congrate-txt">{{sp2.msg}}<span ng-show="sp2.showDisclaimer"><sup>*</sup></span></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form custom-drp">
								<label class="form-label">Please select a product: </label>
								<select class="form-control" name="productSelection" ng-options="option.PRODUCT_NAME for option in sp2.productList track by option.PGL_ID" ng-model="sp2.productSelected"></select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sp2.showDisclaimer">
							<div class="form-group custom-form custom-drp">
								<label class="form-label congrate-txt-disc">*Pre-approved Non-Medical Life Cover is subject to Underwriting</label>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
								<div class="row">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="custom-btn form-btn-wrap">
											<button class="btn btn-default btn-block" type="button" ng-disabled="sp2.comboIdExists" ng-click="sp2.onSkip()">Skip</button>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<div class="custom-btn form-btn-wrap">
											<button class="btn btn-default btn-block" type="submit" ng-disabled="!sp2.productSelected.PGL_ID" ng-click="sp2.onNext()">Continue</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-pane>
