<div class="tracker-carousel" >
	<div class="carousel-demo">
		<ul rn-carousel rn-carousel-index="fpc.carouselIndex" rn-carousel rn-carousel-auto-slide class="carousel5">
			<li class="carousel-contentli" ng-repeat="fhrInProgress in fpc.fhrInProgressArr">
				<div class="col-sm-4 col-xs-4" ng-repeat="fhrInP in fhrInProgress">
					<div class="lead-box-bg">
						<div class="lead-head">
							<div class="lead-head-ico pull-left">{{fhrInP.LNAME.charAt(0).toUpperCase()}}</div>
							<div class="lead-contact pull-left">
								<h2>{{fhrInP.LNAME}}</h2>
								<div class="lead-contact-details">
									<span>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<span class="sol-details">{{fhrInP.MOBNO}}</span>
									</span>
									<span>
										<i class="fa fa-user" aria-hidden="true"></i>
										<span class="sol-apps">{{fhrInP.LDSRC1}}</span>
									</span>
								</div>
								<div class="date-created">
									<span class="date-created-lbl">Tracker No.: </span>
									<span class="date-on">{{fhrInP.OPP_ID}}</span>
								</div>
								<div class="date-created">
									<span class="date-created-lbl">Updated on </span>
									<span class="date-on">{{fhrInP.FMMD}}</span>
								</div>
							</div>
						</div>
						<div class="lead-head-txt pull-left">
							<button type="button" class="btn btn-default btn-border" ng-click="fpc.goToLeadDashboard(fhrInP)">Continue</button>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="carousel-pagination" rn-carousel-indicators ng-if="fpc.fhrInProgressArr.length > 1" slides="fpc.fhrInProgressArr" rn-carousel-index="fpc.carouselIndex"></div>
	</div>
</div>
