<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<rq-timeline class="tab-nav"></rq-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<section class="quetionaire_block">
				<form id="htQuesForm" name="htQuesForm" novalidate>
					<div class="row" ng-show="htC.isDone">
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="htC.showPreview()">preview Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="htC.reGenerate()">Regenerate Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="htC.onNext()">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-hide="htC.isDone">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">Hypertension Questionnaire - {{htC.LoadData.custType}}</label>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="ref-questionwrap"></div>
											<div class="form-group custom-form">
												<label  class="form-label">1) a) When was an elevated blood pressure (Hypertension) diagnosed?</label>
												<input type="date" class="form-control" name="htAns1a" ng-model="htC.htQuesData.ANS_1a" required >
											</div>
											<div ng-messages="htQuesForm.htAns1a.$error" class="error-messages" ng-show="htQuesForm.htAns1a.$invalid && (!htQuesForm.htAns1a.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">b) What was the blood pressure level at that time? (mmHg)</label>
												<input type="number" class="form-control" name="htAns1b" ng-model="htC.htQuesData.ANS_1b" required ng-maxlength="50">
											</div>
											<div ng-messages="htQuesForm.htAns1b.$error" class="error-messages" ng-show="htQuesForm.htAns1b.$invalid && (!htQuesForm.htAns1b.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 50 characters.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">c) Please give name, address and telephone No; of Doctor/s consulted.</label>
												<input type="text" class="form-control" name="htAns1c" ng-model="htC.htQuesData.ANS_1c" required ng-maxlength="100">
											</div>
											<div ng-messages="htQuesForm.htAns1c.$error" class="error-messages" ng-show="htQuesForm.htAns1c.$invalid && (!htQuesForm.htAns1c.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 100 characters.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">d) How often do you follow-up with your doctor? Inpatient number if applicable: Once every (weeks/months)</label>
												<input type="text" class="form-control" name="htAns1d" ng-model="htC.htQuesData.ANS_1d" required >
											</div>
											<div ng-messages="htQuesForm.htAns1d.$error" class="error-messages" ng-show="htQuesForm.htAns1d.$invalid && (!htQuesForm.htAns1d.$pristine || htC.genOpClick)" ng-maxlength="50">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 50 characters.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">e) Have you been told that the hypertension is considered to be secondary to some other reasons such as diabetes, heart disease and kidney disease?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns1eY" name="htAns1e" value="Y" ng-model="htC.htQuesData.ANS_1e" required />
														<label for="htAns1eY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns1eN" name="htAns1e" value="N" ng-model="htC.htQuesData.ANS_1e" ng-change="htC.setNull('1e')" required />
														<label for="htAns1eN">No</label>
													</div>
													<div ng-messages="htQuesForm.htAns1e.$error" class="error-messages" ng-show="htQuesForm.htAns1e.$invalid && (!htQuesForm.htAns1e.$pristine || htC.genOpClick)">
														<div ng-message="required">Please select an option.</div>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="htC.htQuesData.ANS_1e=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label"> If Yes, please provide details.
												</label>
												<input type="text" class="form-control" name="htAns1eReason" ng-model="htC.htQuesData.ANS_1e_Reason" ng-required="htC.htQuesData.ANS_1e=='Y'" ng-maxlength="150">
												<div ng-messages="htQuesForm.htAns1eReason.$error" class="error-messages" ng-show="htQuesForm.htAns1eReason.$invalid && (!htQuesForm.htAns1eReason.$pristine || htC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 150 characters.</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">2) (a)Have there been any complications affecting the heart, brain, kidney, eye vision & others?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns2aY" name="htAns2a" value="Y" ng-model="htC.htQuesData.ANS_2a" required />
														<label for="htAns2aY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns2aN" name="htAns2a" value="N" ng-model="htC.htQuesData.ANS_2a" ng-change="htC.setNull('2a')" required />
														<label for="htAns2aN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="htQuesForm.htAns2a.$error" class="error-messages" ng-show="htQuesForm.htAns2a.$invalid && (!htQuesForm.htAns2a.$pristine || htC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="htC.htQuesData.ANS_2a=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">b) If Yes, please give details.</label>
												<input type="text" class="form-control" name="htAns2b" ng-model="htC.htQuesData.ANS_2b" ng-required="htC.htQuesData.ANS_2a=='Y'" ng-maxlength="150">
											</div>
											<div ng-messages="htQuesForm.htAns2b.$error" class="error-messages" ng-show="htQuesForm.htAns2b.$invalid && (!htQuesForm.htAns2b.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 150 characters.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">3) (a) Are you on treatment now?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns3aY" name="htAns3a" value="Y" ng-model="htC.htQuesData.ANS_3a" required />
														<label for="htAns3aY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns3aN" name="htAns3a" value="N" ng-model="htC.htQuesData.ANS_3a" ng-change="htC.setNull('3a')" required />
														<label for="htAns3aN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="htQuesForm.htAns3a.$error" class="error-messages" ng-show="htQuesForm.htAns3a.$invalid && (!htQuesForm.htAns3a.$pristine || htC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="htC.htQuesData.ANS_3a=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">If so, when was the treatment for hypertension started?</label>
												<input type="date" class="form-control" name="htAns3aReason" ng-model="htC.htQuesData.ANS_3a_Reason" ng-required="htC.htQuesData.ANS_3a=='Y'" ng-maxlength="150">
											</div>
											<div ng-messages="htQuesForm.htAns3aReason.$error" class="error-messages" ng-show="htQuesForm.htAns3aReason.$invalid && (!htQuesForm.htAns3aReason.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 150 characters.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">(b) Have you ever failed to attend for follow up or discontinued your medication/treatments?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns3bY" name="htAns3b" value="Y" ng-model="htC.htQuesData.ANS_3b" required />
														<label for="htAns3bY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns3bN" name="htAns3b" value="N" ng-model="htC.htQuesData.ANS_3b" ng-change="htC.setNull('3b')" required />
														<label for="htAns3bN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="htQuesForm.htAns3b.$error" class="error-messages" ng-show="htQuesForm.htAns3b.$invalid && (!htQuesForm.htAns3b.$pristine || htC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="htC.htQuesData.ANS_3b=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">If Yes, please state when and reason.</label>
												<input type="text" class="form-control" name="htAns3bReason" ng-model="htC.htQuesData.ANS_3b_Reason" ng-required="htC.htQuesData.ANS_3b=='Y'" ng-maxlength="150">
											</div>
											<div ng-messages="htQuesForm.htAns3bReason.$error" class="error-messages" ng-show="htQuesForm.htAns3bReason.$invalid && (!htQuesForm.htAns3bReason.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 150 characters.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">(c) Are you still on treatment?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns3cY" name="htAns3c" value="Y" ng-model="htC.htQuesData.ANS_3c" required />
														<label for="htAns3cY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns3cN" name="htAns3c" value="N" ng-model="htC.htQuesData.ANS_3c" ng-change="htC.setNull('3c')" required />
														<label for="htAns3cN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="htQuesForm.htAns3c.$error" class="error-messages" ng-show="htQuesForm.htAns3c.$invalid && (!htQuesForm.htAns3c.$pristine || htC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="htC.htQuesData.ANS_3c=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">Please state name and dosage appearing on the instructions.</label>
												<input type="text" class="form-control" name="htAns3cReason" ng-model="htC.htQuesData.ANS_3c_Reason" ng-required="htC.htQuesData.ANS_3c=='Y'" ng-maxlength="150">
											</div>
											<div ng-messages="htQuesForm.htAns3cReason.$error" class="error-messages" ng-show="htQuesForm.htAns3cReason.$invalid && (!htQuesForm.htAns3cReason.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 150 characters.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">(d) i. Have you undergone any investigations such as ECG, CXR, Echocardiogram, fundoscopy etc?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns3diY" name="htAns3di" value="Y" ng-model="htC.htQuesData.ANS_3di" required />
														<label for="htAns3diY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns3diN" name="htAns3di" value="N" ng-model="htC.htQuesData.ANS_3di" ng-change="htC.setNull('3di')" required />
														<label for="htAns3diN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="htQuesForm.htAns3di.$error" class="error-messages" ng-show="htQuesForm.htAns3di.$invalid && (!htQuesForm.htAns3di.$pristine || htC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="htC.htQuesData.ANS_3di=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">If Yes, please specify the type(s) of Investigation.
												</label>
												<input type="text" class="form-control" name="htAns3diReason" ng-model="htC.htQuesData.ANS_3di_Reason" ng-required="htC.htQuesData.ANS_3di=='Y'" ng-maxlength="150">
											</div>
											<div ng-messages="htQuesForm.htAns3diReason.$error" class="error-messages" ng-show="htQuesForm.htAns3diReason.$invalid && (!htQuesForm.htAns3diReason.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 150 characters.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="htC.htQuesData.ANS_3di=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">(d) ii. What were the results of the investigations? (Please submit reports for our reference)</label>
												<input type="text" class="form-control" name="htAns3diiReason" ng-model="htC.htQuesData.ANS_3dii_Reason" ng-required="htC.htQuesData.ANS_3di=='Y'" ng-maxlength="150">
											</div>
											<div ng-messages="htQuesForm.htAns3diiReason.$error" class="error-messages" ng-show="htQuesForm.htAns3diiReason.$invalid && (!htQuesForm.htAns3diiReason.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 150 characters.</div>
											</div>
										</div>




										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">4) (a) What was your most recent blood pressure level? (mmHg)</label>
												<input type="number" class="form-control" name="htAns4ai" ng-model="htC.htQuesData.ANS_4ai" placeholder="BP" required ng-maxlength="50" />
											</div>
											<div ng-messages="htQuesForm.htAns4ai.$error" class="error-messages" ng-show="htQuesForm.htAns4ai.$invalid && (!htQuesForm.htAns4ai.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 50 characters.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">(Please give date)</label>
												<input type="date" class="form-control" name="htAns4aii" ng-model="htC.htQuesData.ANS_4aii" placeholder="Date" required >
											</div>
											<div ng-messages="htQuesForm.htAns4aii.$error" class="error-messages" ng-show="htQuesForm.htAns4aii.$invalid && (!htQuesForm.htAns4aii.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">(b) What were your blood pressure readings in the past 12 months? (mmHg)</label>
												<input type="number" class="form-control" name="htAns4bi" ng-model="htC.htQuesData.ANS_4bi" placeholder="BP" required ng-maxlength="50">
											</div>
											<div ng-messages="htQuesForm.htAns4bi.$error" class="error-messages" ng-show="htQuesForm.htAns4bi.$invalid && (!htQuesForm.htAns4bi.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 50 characters.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">(Please give date)</label>
												<input type="date" class="form-control" name="htAns4bii" ng-model="htC.htQuesData.ANS_4bii" placeholder="Date" required >
											</div>
											<div ng-messages="htQuesForm.htAns4bii.$error" class="error-messages" ng-show="htQuesForm.htAns4bii.$invalid && (!htQuesForm.htAns4bii.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">If unknown, were you informed that they were normal or raised?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns4biiiY" name="htAns4biii" value="Y" ng-model="htC.htQuesData.ANS_4biii" required />
														<label for="htAns4biiiY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns4biiiN" name="htAns4biii" value="N" ng-model="htC.htQuesData.ANS_4biii" required />
														<label for="htAns4biiiN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="htQuesForm.htAns4biii.$error" class="error-messages" ng-show="htQuesForm.htAns4biii.$invalid && (!htQuesForm.htAns4biii.$pristine || htC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">5) Have any abnormalities such proteins, blood, sugar etc. ever been found in your urine?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns5Y" name="htAns5" value="Y" ng-model="htC.htQuesData.ANS_5" required />
														<label for="htAns5Y">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns5N" name="htAns5" value="N" ng-model="htC.htQuesData.ANS_5" ng-change="htC.setNull('5')" required />
														<label for="htAns5N">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="htQuesForm.htAns5.$error" class="error-messages" ng-show="htQuesForm.htAns5.$invalid && (!htQuesForm.htAns5.$pristine || htC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="htC.htQuesData.ANS_5=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">If Yes, please provide details.</label>
												<input type="text" class="form-control" name="htAns5Reason" ng-model="htC.htQuesData.ANS_5_Reason" ng-required="htC.htQuesData.ANS_5=='Y'"ng-maxlength="150">
											</div>
											<div ng-messages="htQuesForm.htAns5Reason.$error" class="error-messages" ng-show="htQuesForm.htAns5Reason.$invalid && (!htQuesForm.htAns5Reason.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 150 characters.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">6) Have you lost significant time (eg weeks) off work with this condition?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns6Y" name="htAns6" value="Y" ng-model="htC.htQuesData.ANS_6" required />
														<label for="htAns6Y">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="htAns6N" name="htAns6" value="N" ng-model="htC.htQuesData.ANS_6" ng-change="htC.setNull('6')" required />
														<label for="htAns6N">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="htQuesForm.htAns6.$error" class="error-messages" ng-show="htQuesForm.htAns6.$invalid && (!htQuesForm.htAns6.$pristine || htC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="htC.htQuesData.ANS_6=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">If Yes, please provide details including duration of time off</label>
												<input type="text" class="form-control" name="htAns6Reason" ng-model="htC.htQuesData.ANS_6_Reason" ng-required="htC.htQuesData.ANS_6=='Y'" ng-maxlength="100">
											</div>
											<div ng-messages="htQuesForm.htAns6Reason.$error" class="error-messages" ng-show="htQuesForm.htAns6Reason.$invalid && (!htQuesForm.htAns6Reason.$pristine || htC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 100 characters.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-default btn-block" type="button" ng-click="htC.onGenerateOutput(htQuesForm)">Generate Output</button>
									</div>
								</div>
							</div>
							<!-- end second row -->
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</ion-content>
