<ion-view class="add-lead">
	<form name="leadForm" id="leadForm" ng-submit="pc.onNext(leadForm)" novalidate>
		<ion-header-bar class="fixed-bar lead-header">
			<div class="lead-menu-icon header-margin-rm">
				<a ng-click="pc.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
			</div>
			<div class="lead-title header-margin-rm">
				<h2>Create Lead</h2>
			</div>
		</ion-header-bar>
		<div class="bar bar-subheader add-lead-sub-header">
			<h2>Personal Details</h2>
		</div>

		<ion-content has-bouncing ="false" has-header="true">
			<div class="row add-lead-content">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<!-- Lead Status -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Lead Status</label>
							<select class="form-control" ng-model="pc.leadStatusOptionSelected" ng-options="option.STATUS_VALUE for option in pc.leadStatusList track by option.STATUS_CD" ng-change="pc.onLeadStatusChange()" name="leadStatus" disabled></select>
						</div>
					</div>

					<!-- Campaign Name -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Campaign Name</label>
							<input type="text" class="form-control custom-form" placeholder="Campaign Name" name="campaignName" ng-model="pc.page2Data.CAMPAIGN_NAME" disabled/>
						</div>
					</div>

					<!-- Lead Source 1 -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Lead Source 1</label>
							<select class="form-control"  ng-model="pc.leadSource1OptionSelected" ng-options="option.LOV_VALUE for option in pc.leadSource1List track by option.LOV_CD" name="leadSource1" disabled></select>
						</div>
					</div>

					<!-- iPad Alternate Number -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Alternate Contact Number</label>
							<input type="number" class="form-control custom-form" placeholder="Alternate Contact Number" name="iPadAlternateNumber" ng-model="pc.page2Data.IPAD_ALTERNATE_NO" ng-maxlength="10" ng-pattern="pc.numberRegex"/>
						</div>
						<div ng-messages="leadForm.iPadAlternateNumber.$error" class="error-messages" ng-show="leadForm.iPadAlternateNumber.$invalid && !leadForm.iPadAlternateNumber.$pristine">
							<div ng-message="maxlength">Maximum 10 digits only.</div>
							<div ng-message="pattern">Please enter numbers only.</div>
						</div>
					</div>

					<!-- iPad Special Remark -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Remarks</label>
							<input type="text" class="form-control custom-form" placeholder="Remarks" name="iPadSpecialRemark" ng-model="pc.page2Data.IPAD_SPECIAL_REMARK" ng-maxlength="150" block-hash/>
						</div>
						<div ng-messages="leadForm.iPadSpecialRemark.$error" class="error-messages" ng-show="leadForm.iPadSpecialRemark.$invalid && !leadForm.iPadSpecialRemark.$pristine">
							<div ng-message="maxlength">Maximum 150 chars only.</div>
							<div ng-message="blockHash">Please do not use '#' or '|'.</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<!-- Lead Sub-Status -->
						<div class="form-group custom-form">
							<label class="form-label">Lead Sub-Status</label>
							<select class="form-control"  ng-model="pc.leadSubStatusOptionSelected" ng-options="option.STATUS_SUB_VALUE for option in pc.leadSubStatusList track by option.STATUS_SUB_CD" name="leadSubStatus" disabled></select>
						</div>
					</div>

					<!-- Analytic Product -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Analytic Product</label>
							<input type="text" class="form-control custom-form" placeholder="Analytic Product" name="analyticProduct" ng-model="pc.page2Data.ANALYTIC_RECO_PRODUCT" disabled/>
						</div>
					</div>

					<!-- Lead Source 2 -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Lead Source 2</label>
							<select class="form-control"  ng-model="pc.leadSource2OptionSelected" ng-options="option.LOV_VALUE for option in pc.leadSource2List track by option.LOV_CD" name="leadSource2" disabled></select>
						</div>
					</div>

					<!-- iPad E-Mail ID -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Alternate E-Mail Id</label>
							<input type="text" class="form-control custom-form" placeholder="Alternate E-Mail Id" name="iPadEmailId" ng-model="pc.page2Data.IPAD_EMAIL_ID" ng-pattern="pc.emailRegex" ng-maxlength="50" block-hash/>
						</div>
						<div ng-messages="leadForm.iPadEmailId.$error" class="error-messages" ng-show="leadForm.iPadEmailId.$invalid && !leadForm.iPadEmailId.$pristine">
							<div ng-message="pattern">Please enter a valid email-id.</div>
							<div ng-message="maxlength">Maximum 50 char only.</div>
							<div ng-message="blockHash">Please do not use '#' or '|'.</div>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
		<ion-footer-bar class="hide-on-keyboard-open add-lead-footer">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none add-lead-submit-block">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="custom-btn">
							<button class="btn btn-default btn-block" ng-click="pc.onBack()" type="button">Back</button>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="custom-btn">
							<button class="btn btn-default btn-block" type="submit" ng-disabled="leadForm.$invalid">Next</button>
						</div>
					</div>
				</div>
			</div>
		</ion-footer-bar>
	</form>
</ion-view>
