<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<pyd-timeline class="tab-nav"></pyd-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<form name ="RenPayForm">
				<!--Renewal Pay Question-->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group custom-form">
						<label class="form-label">Do you want to register for Renewal Auto Pay Base plan ?<span class="requiredStar">*</span></label>
						<div class="tick-radio-wrap">
							<div class="tick-radio-btn-wrap">
								<input type="radio" id="radioCh2Yes" value="Y" ng-model="repc.RenPay.RenewalCheck"  name="radioCh2" ng-change="repc.renewalChange()" required/>
								<label for="radioCh2Yes">Yes</label>
							</div>
							<div class="tick-radio-btn-wrap">
								<input type="radio" id="radioCh2No" value="N" ng-model="repc.RenPay.RenewalCheck" name="radioCh2" required/>
								<label for="radioCh2No">No</label>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div ng-messages="RenPayForm.radioCh2.$error" class="error-messages" ng-show="RenPayForm.radioCh2.$invalid && (!RenPayForm.radioCh2.$pristine || repc.click)">
						<div ng-message="required">Please select option.</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="repc.RenPay.RenewalCheck == 'Y'">
					<div class="toggle-this">

						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="row">
									<!--Renewal DropDown-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Renewal Types<span class="requiredStar">*</span></label>
											<div class="custom-drp">
												<select class="form-control" name="renewal" ng-change="repc.onChangeRenData()" ng-model="repc.RenPay.RenClick" ng-options="option.MPPROOF_DESC for option in repc.RenData track by option.MPPROOF_DESC" required>
													<option value="">Select Renewal mode</option>
												</select>
												<!--<select class="form-control" name="renewal" ng-change="repc.onChangeRenData()" ng-model="repc.RenPay.RenClick"  required>-->
													<!--<option value="">Select Renewal mode</option>-->
													<!--<option ng-repeat="option in repc.RenData track by option.MPPROOF_DESC" value="{{option.MPPROOF_DESC}}">{{option.MPPROOF_DESC}}</option>-->
												<!--</select>-->

											</div>
										</div>
										<div ng-messages="RenPayForm.renewal.$error" class="error-messages" ng-show="RenPayForm.renewal.$invalid && (!RenPayForm.renewal.$pristine || repc.click)">
											<div ng-message="required">Please select Renewal Type.</div>
										</div>
									</div>
									<!--Bank Name-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Bank Name<span class="requiredStar">*</span></label>
											<div class="custom-drp city-drp-dwn">
												<!--<select class="form-control" name="bankNames" ng-model="repc.RenPay.BankClick" ng-options ="option.bankName for option in repc.BankData track by option.bankName" required/>-->
												<!--<option value="">Select Bank Name</option>-->
												<!--</select>-->
												<!--<select class="form-control" name="bankNames" ng-model="repc.RenPay.BankClick.bankName" required>
													<option value="">Select Bank Name</option>
													<option ng-repeat="option in repc.BankData track by option.bankCode" value="{{option.bankName}}">{{option.bankName}}</option>
												</select>-->
												<div custom-select="s.bankName for s in repc.BankData | filter: { bankName: $searchTerm } track by s.bankCode" ng-model="repc.RenPay.BankClick"  name="bankNames" select-required></div>
											</div>
										</div>
										<div ng-messages="RenPayForm.bankNames.$error" class="error-messages" ng-show="RenPayForm.bankNames.$invalid && (!RenPayForm.bankNames.$pristine || repc.click)">
											<div ng-message="selectRequired">Please select Renewal Type.</div>
										</div>
									</div>
									<!--Account No-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label>Account No<span class="requiredStar">*</span></label>
											<input type="number" class="form-control" name="AccountNo" ng-model="repc.RenPay.AccNo" ng-minlength="repc.RenPay.BankClick.acclength==0 ? 1 : repc.RenPay.BankClick.acclength" ng-maxlength="repc.RenPay.BankClick.acclength==0 ? 20 : repc.RenPay.BankClick.acclength" required/>
										</div>
										<div ng-messages="RenPayForm.AccountNo.$error" class="error-messages" ng-show="RenPayForm.AccountNo.$invalid && (!RenPayForm.AccountNo.$pristine || repc.click)">
											<div ng-message="required">Bank Account Number cannot be empty.</div>
											<div ng-message="maxlength">Bank Account Number should be {{repc.RenPay.BankClick.acclength==0 ? "1-20" : repc.RenPay.BankClick.acclength}}.</div>
											<div ng-message="minlength">Bank Account Number should be {{repc.RenPay.BankClick.acclength==0 ? "1-20" : repc.RenPay.BankClick.acclength}}.</div>
										</div>
									</div>
									<!--Account type-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Account Type<span class="requiredStar">*</span></label>
											<div class="custom-drp">
												<!--<select class="form-control" name="accType" ng-options="option for option in repc.AccTypes" ng-model="repc.RenPay.AccClick" required/>
												<option value="">Select Account Type</option>
												</select>-->
												<select class="form-control" name="accType" ng-model="repc.RenPay.AccClick" required>
													<option value="">Select Account Type</option>
													<option ng-repeat="accountTypeName in repc.AccTypes" value={{accountTypeName}}>{{accountTypeName}}</option>
												</select>
											</div>
										</div>
										<div ng-messages="RenPayForm.accType.$error" class="error-messages" ng-show="RenPayForm.accType.$invalid && (!RenPayForm.accType.$pristine || repc.click)">
											<div ng-message="required">Please select Account Type.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="row">
									<!--Branch Name-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Branch Name<span class="requiredStar">*</span></label>
											<input type="text" class="form-control" name="branch" ng-model="repc.RenPay.BranchName" ng-maxlength="30" required/>
										</div>
										<div ng-messages="RenPayForm.branch.$error" class="error-messages" ng-show="RenPayForm.branch.$invalid &&(!RenPayForm.branch.$pristine || repc.click)">
											<div ng-message="required">Branch Name required.</div>
											<div ng-message="maxlength">Branch Name cannot be more than 30 characters.</div>
										</div>
									</div>
									<!--IFSC Code-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">IFSC Code<span class="requiredStar">*</span></label>
											<input type="text" class="form-control" name="IfscCode" ng-model="repc.RenPay.IfscCode" ng-pattern="repc.nameRegex" required style="text-transform: uppercase" input-uppercase/>
										</div>
										<div ng-messages="RenPayForm.IfscCode.$error" class="error-messages" ng-show="RenPayForm.IfscCode.$invalid && (!RenPayForm.IfscCode.$pristine || repc.click)">
											<div ng-message="required">IFSC Code required.</div>
											<div ng-message="pattern">Invalid IFSC Code</div>
										</div>
									</div>
									<!--Re enter IFSC Code-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Re-enter IFSC Code<span class="requiredStar">*</span></label>
											<input type="password" class="form-control" name="ReIfscCode" ng-model="repc.RenPay.ReenterIfscCode" ng-pattern="repc.nameRegex" compare-To="repc.RenPay.IfscCode" required style="text-transform: uppercase" input-uppercase/>
										</div>
										<div ng-messages="RenPayForm.ReIfscCode.$error" class="error-messages" ng-show="RenPayForm.ReIfscCode.$invalid && (!RenPayForm.ReIfscCode.$pristine || repc.click)">
											<div ng-message="required">IFSC Code required.</div>
											<div ng-message="compareTo">IFSC Code does not match.</div>
											<div ng-message="pattern">Invalid IFSC Code</div>
										</div>
									</div>
									<!--Amount-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label>Amount<span class="requiredStar">*</span></label>
											<input type="number" class="form-control" name="Amount"  ng-model="repc.RenPay.amount" disabled required/>
										</div>
										<div ng-messages="RenPayForm.Amount.$error" class="error-messages" ng-show="RenPayForm.Amount.$invalid && (!RenPayForm.Amount.$pristine || repc.click)">
											<div ng-message="required">Amount required.</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				 <!-- Changes for the adding term plan stats here  -->
				<div ng-if="!!repc.COMBO_ID">
					 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="!!repc.COMBO_ID">
						<div class="form-group custom-form">
							<label class="form-label">Do you want to register for Renewal Auto Pay Term plan ?<span class="requiredStar">*</span></label>
							<div class="tick-radio-wrap">
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="radioTermPlanYes" value="Y" ng-model="repc.termPlan.RenewalCheckTermPlan"  name="radioChTermPlan" ng-change="repc.renewalChangeTermPlan()" required/>
									<label for="radioTermPlanYes">Yes</label>
								</div>
								<div class="tick-radio-btn-wrap">
									<input type="radio" id="radioTermPlanNo" value="N" ng-model="repc.termPlan.RenewalCheckTermPlan" name="radioChTermPlan" required/>
									<label for="radioTermPlanNo">No</label>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div ng-messages="RenPayForm.radioCh2.$error" class="error-messages" ng-show="RenPayForm.radioCh2.$invalid && (!RenPayForm.radioCh2.$pristine || repc.click)">
							<div ng-message="required">Please select option.</div>
						</div>
					</div>
					<!-- Changes for the adding term plan ends here  -->

					 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="repc.termPlan.RenewalCheckTermPlan == 'Y'">
						<div class="toggle-this">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="row">
										<!--Renewal DropDown-->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">Renewal Types<span class="requiredStar">*</span></label>
												<div class="custom-drp">
													<select class="form-control" name="renewalTermPlan" ng-change="repc.onChangeRenDataTermPlan()" ng-model="repc.termPlan.RenClickTermPlan" ng-options="option.MPPROOF_DESC for option in repc.RenData track by option.MPPROOF_DESC" required>
													<option value="">Select Renewal mode</option>
													</select>
												</div>
											</div>
											<div ng-messages="RenPayForm.renewalTermPlan.$error" class="error-messages" ng-show="RenPayForm.renewalTermPlan.$invalid && (!RenPayForm.renewalTermPlan.$pristine || repc.click)">
												<div ng-message="required">Please select Renewal Type.</div>
											</div>
										</div>
										<!--Bank Name-->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">Bank Name<span class="requiredStar">*</span></label>
												<div class="custom-drp">
													<select class="form-control" name="bankNamesTermPlan" ng-model="repc.termPlan.BankClick" ng-options ="option.bankName for option in repc.BankData track by option.bankName" required>
													<option value="">Select Bank Name</option>
													</select>
												</div>
											</div>
											<div ng-messages="RenPayForm.bankNamesTermPlan.$error" class="error-messages" ng-show="RenPayForm.bankNamesTermPlan.$invalid && (!RenPayForm.bankNamesTermPlan.$pristine || repc.click)">
												<div ng-message="required">Please select Renewal Type.</div>
											</div>
										</div>
										<!--Account No-->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label>Account No<span class="requiredStar">*</span></label>
												<input type="number" class="form-control" name="AccountNoTermPlan" ng-model="repc.termPlan.AccNo" ng-minlength="repc.termPlan.BankClick.acclength==0 ? 1 : repc.termPlan.BankClick.acclength" ng-maxlength="repc.termPlan.BankClick.acclength==0 ? 20 : repc.termPlan.BankClick.acclength" required/>
											</div>
											<div ng-messages="RenPayForm.AccountNoTermPlan.$error" class="error-messages" ng-show="RenPayForm.AccountNoTermPlan.$invalid && (!RenPayForm.AccountNoTermPlan.$pristine || repc.click)">
												<div ng-message="required">Bank Account Number cannot be empty.</div>
												<div ng-message="maxlength">Bank Account Number should be {{repc.RenPay.BankClick.acclength==0 ? "1-20" : repc.termPlan.BankClick.acclength}}.</div>
												<div ng-message="minlength">Bank Account Number should be {{repc.termPlan.BankClick.acclength==0 ? "1-20" : repc.termPlan.BankClick.acclength}}.</div>
											</div>
										</div>
										<!--Account type-->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">Account Type<span class="requiredStar">*</span></label>
												<div class="custom-drp">
													<select class="form-control" name="accTypeTermPlan" ng-options="option for option in repc.AccTypes" ng-model="repc.termPlan.AccClick" required>
													<option value="">Select Account Type</option>
													</select>
												</div>
											</div>
											<div ng-messages="RenPayForm.accTypeTermPlan.$error" class="error-messages" ng-show="RenPayForm.accTypeTermPlan.$invalid && (!RenPayForm.accTypeTermPlan.$pristine || repc.click)">
												<div ng-message="required">Please select Account Type.</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="row">
										<!--Branch Name-->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">Branch Name<span class="requiredStar">*</span></label>
												<input type="text" class="form-control" name="TermPlanBranch" ng-model="repc.termPlan.BranchName" ng-maxlength="30" required/>
											</div>
											<div ng-messages="RenPayForm.TermPlanBranch.$error" class="error-messages" ng-show="RenPayForm.TermPlanBranch.$invalid &&(!RenPayForm.TermPlanBranch.$pristine || repc.click)">
												<div ng-message="required">Branch Name required.</div>
												<div ng-message="maxlength">Branch Name cannot be more than 30 characters.</div>
											</div>
										</div>
										<!--IFSC Code-->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">IFSC Code<span class="requiredStar">*</span></label>
												<input type="text" class="form-control" name="IfscCodeTermPlan" ng-model="repc.termPlan.IfscCode" ng-pattern="repc.nameRegex" required style="text-transform: uppercase" input-uppercase/>
											</div>
											<div ng-messages="RenPayForm.IfscCodeTermPlan.$error" class="error-messages" ng-show="RenPayForm.IfscCodeTermPlan.$invalid && (!RenPayForm.IfscCodeTermPlan.$pristine || repc.click)">
												<div ng-message="required">IFSC Code required.</div>
												<div ng-message="pattern">Invalid IFSC Code</div>
											</div>
										</div>
										<!--Re enter IFSC Code-->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">Re-enter IFSC Code<span class="requiredStar">*</span></label>
												<input type="password" class="form-control" name="ReIfscCodeTermPlan" ng-model="repc.termPlan.ReenterIfscCode" ng-pattern="repc.nameRegex" compare-To="repc.termPlan.IfscCode" required style="text-transform: uppercase" input-uppercase/>
											</div>
											<div ng-messages="RenPayForm.ReIfscCodeTermPlan.$error" class="error-messages" ng-show="RenPayForm.ReIfscCodeTermPlan.$invalid && (!RenPayForm.ReIfscCodeTermPlan.$pristine || repc.click)">
												<div ng-message="required">IFSC Code required.</div>
												<div ng-message="compareTo">IFSC Code does not match.</div>
												<div ng-message="pattern">Invalid IFSC Code</div>
											</div>
										</div>
										<!--Amount-->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label>Amount<span class="requiredStar">*</span></label>
												<input type="number" class="form-control" name="TermPlanAmount"  ng-model="repc.termPlan.amount" disabled required/>
											</div>
											<div ng-messages="RenPayForm.TermPlanAmount.$error" class="error-messages" ng-show="RenPayForm.TermPlanAmount.$invalid && (!RenPayForm.TermPlanAmount.$pristine || repc.click)">
												<div ng-message="required">Amount required.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 center-block pull-none">
							<div class="custom-btn form-btn-wrap">
								<button class="btn btn-default btn-block" ng-click="repc.SaveClick(RenPayForm)">Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</ion-content>
