<ion-view class="add-lead">
	<form name="leadForm" id="leadForm" ng-submit="pc.onNext(leadForm)" novalidate>
		<ion-header-bar class="fixed-bar lead-header">
			<div class="lead-menu-icon header-margin-rm">
				<a ng-click="pc.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
			</div>
			<div class="lead-title header-margin-rm">
				<h2>Create Lead</h2>
			</div>
		</ion-header-bar>
		<div class="bar bar-subheader add-lead-sub-header">
			<h2>Personal Details</h2>
		</div>
		<ion-content has-bouncing="false" has-header="true">
			<div class="row add-lead-content">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<!-- First Name -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">First Name <span class="requiredStar">*</span></label>
							<input type="text" class="form-control custom-form" placeholder="First Name" name="firstName" ng-model="pc.page1Data.FIRST_NAME" ng-maxlength="20" ng-pattern="pc.nameRegex" required/>
						</div>
						<div ng-messages="leadForm.firstName.$error" class="error-messages" ng-show="leadForm.firstName.$invalid && !leadForm.firstName.$pristine">
							<div ng-message="required">First name cannot be empty.</div>
							<div ng-message="pattern">Please use text and ' or - only.</div>
							<div ng-message="maxlength">Maximum 20 char only.</div>
						</div>
					</div>

					<!-- Middle Name -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Middle Name </label>
							<input type="text" class="form-control custom-form" name="middleName" ng-model="pc.page1Data.MIDDLE_NAME" placeholder="Middle Name" ng-maxlength="18" ng-pattern="pc.middleNameRegex"/>
						</div>
						<div ng-messages="leadForm.middleName.$error" class="error-messages" ng-show="leadForm.middleName.$invalid && !leadForm.middleName.$pristine">
							<div ng-message="pattern">Please use text and ', space or - only.</div>
							<div ng-message="maxlength">Maximum 18 char only.</div>
						</div>
					</div>

					<!-- Last Name -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Last Name <span class="requiredStar">*</span></label>
							<input type="text" class="form-control custom-form"  name="lastName" ng-model="pc.page1Data.LAST_NAME" placeholder="Last Name" ng-maxlength="20" ng-pattern="pc.nameRegex" required/>
						</div>
						<div ng-messages="leadForm.lastName.$error" class="error-messages" ng-show="leadForm.lastName.$invalid && !leadForm.lastName.$pristine">
							<div ng-message="required">Last name cannot be empty.</div>
							<div ng-message="pattern">Please use text and ' or - only.</div>
							<div ng-message="maxlength">Maximum 20 char only.</div>
						</div>
					</div>

					<!-- DOB -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form dob">
							<label class="form-label">Date Of Birth <span class="requiredStar">*</span></label>
							<input type="date" class="form-control custom-form date-icon" id="dob" name="dob" ng-model="pc.dob" ng-change="pc.onDOBChange()" validate-dob required/>
						</div>
						<div ng-messages="leadForm.dob.$error" class="error-messages" ng-show="leadForm.dob.$invalid && !leadForm.dob.$pristine">
							<div ng-message="minAge">Minimum Age should be 18 years.</div>
							<div ng-message="required">Date of Birth cannot be empty.</div>
						</div>
					</div>

					<!-- Email Id -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Email <span class="requiredStar">*</span></label>
							<input type="email" class="form-control custom-form" name="email"  ng-model="pc.page1Data.EMAIL_ID" placeholder="Email" ng-pattern="pc.emailRegex" ng-maxlength="50" required block-hash/>
						</div>
						<div ng-messages="leadForm.email.$error" class="error-messages" ng-show="leadForm.email.$invalid && !leadForm.email.$pristine">
							<div ng-message="required">Email-id cannot be empty.</div>
							<div ng-message="pattern">Please enter a valid email-id.</div>
							<div ng-message="maxlength">Maximum 50 char only.</div>
							<div ng-message="blockHash">Please do not use '#' or '|'.</div>
						</div>
					</div>

					<!-- Mobile Number -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Mobile Number <span class="requiredStar">*</span></label>
							<input type="number" class="form-control custom-form" name="mobile"  ng-model="pc.page1Data.MOBILE_NO" placeholder="Mobile Number" ng-pattern="pc.mobileRegex" required/>
						</div>
						<div ng-messages="leadForm.mobile.$error" class="error-messages" ng-show="leadForm.mobile.$invalid && !leadForm.mobile.$pristine">
							<div ng-message="required">Mobile number cannot be empty.</div>
							<div ng-message="pattern">Please enter a ten digit mobile number starting with 7, 8 or 9.</div>
						</div>
					</div>

					<!-- Landline Number -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Landline Number</label>
							<input type="tel" class="form-control custom-form" name="landline" ng-change="pc.landlineChange()" ng-model="pc.page1Data.LANDLINE_NO" placeholder="Landline Number" ng-maxlength="11" ng-pattern="pc.numberRegex"/>
						</div>
						<div ng-messages="leadForm.landline.$error" class="error-messages" ng-show="leadForm.landline.$invalid && !leadForm.landline.$pristine">
							<div ng-message="maxlength">Maximum 11 digits only.</div>
							<div ng-message="pattern">Please enter numbers only.</div>
						</div>
					</div>

					<!-- Alternate Number -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Alternate Number</label>
							<input type="tel" class="form-control custom-form" name="alternateNo" ng-change="pc.alternateNoChange()" ng-model="pc.page1Data.ALTERNATE_NO" placeholder="Alternate Number" ng-maxlength="11" ng-pattern="pc.numberRegex"/>
						</div>
						<div ng-messages="leadForm.alternateNo.$error" class="error-messages" ng-show="leadForm.alternateNo.$invalid && !leadForm.alternateNo.$pristine">
							<div ng-message="maxlength">Maximum 11 digits only.</div>
							<div ng-message="pattern">Please enter numbers only.</div>
						</div>
					</div>

					<!-- Preferred Contact -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label  class="form-label">Preferred Contact <span class="requiredStar">*</span></label>
							<div class="custom-drp">
								<select class="form-control"  ng-model="pc.preferredContactOptionSelected" ng-options="option.LOV_VALUE disable when (((option.LOV_CD=='2')&&(!pc.page1Data.LANDLINE_NO))||((option.LOV_CD=='3') && (!pc.page1Data.ALTERNATE_NO))) for option in pc.preferredContactList track by option.LOV_CD" ng-change="pc.onPreferredContactChange()" name="preferredContact" select-required></select>
							</div>
						</div>
						<div ng-messages="leadForm.preferredContact.$error" class="error-messages" ng-show="leadForm.preferredContact.$invalid && !leadForm.preferredContact.$pristine">
							<div ng-message="selectRequired">Please select a preferred contact.</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<!-- Gender -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Gender <span class="requiredStar">*</span></label>
							<div class="gender-radio-wrapper">
								<div class="gender-wrapper male-wrapper">
									<input type="radio" id="rdMale" name="rdGender" ng-model="pc.page1Data.GENDER_CD" value="1" required/>
									<label for="rdMale"></label>
									<div class="clearfix"></div>
								</div>
								<div class="gender-wrapper female-wrapper">
									<input type="radio" id="rdFemale" name="rdGender" ng-model="pc.page1Data.GENDER_CD" value="2" required/>
									<label for="rdFemale"></label>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<div ng-messages="leadForm.rdGender.$error" ng-class="error-messages" ng-show="leadForm.rdGender.$invalid && !leadForm.rdGender.$pristine">
							<div ng-message="required">Please select a gender.</div>
						</div>
					</div>

					<!-- Marital Status -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<div class="form-group custom-form">
								<label class="form-label">Marital Status</label>
								<div class="custom-drp">
									<select class="form-control" ng-options="option.LOV_VALUE for option in pc.maritalStatusList track by option.LOV_CD" ng-model="pc.maritalStatusOptionSelected" ng-change="pc.onMaritalStatusChange()" name="marStatus"></select>
								</div>
							</div>
						</div>
					</div>

					<!-- Address 1 -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Address 1</label>
							<input type="text" class="form-control custom-form" name="add1"  ng-model="pc.page1Data.CURNT_ADDRESS1" placeholder="Address 1" ng-maxlength="45" ng-pattern="pc.freeTxtRegex" block-hash/>
						</div>
						<div ng-messages="leadForm.add1.$error" class="error-messages" ng-show="leadForm.add1.$invalid && !leadForm.add1.$pristine">
							<div ng-message="maxlength">Maximum 45 chars only.</div>
							<div ng-message="blockHash">Please do not use '#' or '|'.</div>
							<div ng-message="pattern">Enter valid Address excluding special characters</div>
						</div>
					</div>

					<!-- Address 2 -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Address 2</label>
							<input type="text" class="form-control custom-form"  name="add2"  ng-model="pc.page1Data.CURNT_ADDRESS2" placeholder="Address 2" ng-pattern="pc.freeTxtRegex" ng-maxlength="45" block-hash/>
						</div>
						<div ng-messages="leadForm.add2.$error" class="error-messages" ng-show="leadForm.add2.$invalid && !leadForm.add2.$pristine">
							<div ng-message="maxlength">Maximum 45 chars only.</div>
							<div ng-message="blockHash">Please do not use '#' or '|'.</div>
							<div ng-message="pattern">Enter valid Address excluding special characters</div>
						</div>
					</div>

					<!-- Address 3 -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Address 3</label>
							<input type="text" class="form-control custom-form" name="add3"  ng-model="pc.page1Data.CURNT_ADDRESS3" placeholder="Address 3" ng-pattern="pc.freeTxtRegex" ng-maxlength="45" block-hash/>
						</div>
						<div ng-messages="leadForm.add3.$error" class="error-messages" ng-show="leadForm.add3.$invalid && !leadForm.add3.$pristine">
							<div ng-message="maxlength">Maximum 45 chars only.</div>
							<div ng-message="blockHash">Please do not use '#' or '|'.</div>
							<div ng-message="pattern">Enter valid Address excluding special characters</div>
						</div>
					</div>

					<!--Landmark-->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Landmark</label>
							<input type="text" class="form-control custom-form" name="landmark"  ng-model="pc.page1Data.CURNT_DISTRICT_LANDMARK" placeholder="Landmark" ng-pattern="pc.freeTxtRegex" ng-maxlength="45" block-hash/>
						</div>
						<div ng-messages="leadForm.landmark.$error" class="error-messages" ng-show="leadForm.landmark.$invalid && !leadForm.landmark.$pristine">
							<div ng-message="maxlength">Maximum 45 chars only.</div>
							<div ng-message="blockHash">Please do not use '#' or '|'.</div>
							<div ng-message="pattern">Enter valid landmark excluding special characters</div>
						</div>
					</div>

					<!-- State -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">State</label>
							<div class="custom-drp city-drp-dwn" >
								<!--<select class="form-control" ng-change="pc.onStateChange()"  name="state" ng-options="option.STATE_DESC for option in pc.stateList track by option.STATE_CODE" ng-model="pc.stateOptionSelected"></select>-->
								<div custom-select="s.STATE_DESC for s in pc.stateList | filter: { STATE_DESC: $searchTerm } track by s.STATE_CODE" ng-model="pc.stateOptionSelected" ng-change="pc.onStateChange()" ></div>
							</div>
						</div>
					</div>

					<!-- City -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">City</label>
							<div class="custom-drp city-drp-dwn">
								<!--<select class="form-control" ng-options="option.CITY_DESC for option in pc.cityList track by option.CITY_CODE" ng-model="pc.cityOptionSelected" name="city" ng-change="pc.onCityChange()"></select>-->
								<div custom-select="s.CITY_DESC for s in pc.cityList | filter: { CITY_DESC: $searchTerm } track by s.CITY_CODE" ng-model="pc.cityOptionSelected" ng-change="pc.onCityChange()" ></div>

							</div>
						</div>
					</div>
					<!--Other City Name-->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-if="pc.cityOptionSelected.CITY_DESC =='Others'">
						<div class="form-group custom-form">
							<label class="form-label">City Name</label>
							<input type="text" class="form-control custom-form"  name="OCityName"  ng-model="pc.page1Data.Other_CityName"  placeholder="Other City Name" ng-maxlength="20" block-hash/>
						</div>
						<div ng-messages="leadForm.OCityName.$error" class="error-messages" ng-show="leadForm.OCityName.$invalid && !leadForm.OCityName.$pristine">
							<div ng-message="maxlength">Maximum 20 chars only.</div>
							<div ng-message="blockHash">Please do not use '#' or '|'.</div>
						</div>
					</div>

					<!-- Zip -->
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="form-group custom-form">
							<label class="form-label">Zip</label>
							<input type="number" class="form-control custom-form" name="zip"  ng-model="pc.page1Data.CURNT_ZIP_CODE" placeholder="Zip" ng-pattern="pc.zipcodeRegex" ng-minlength="6" ng-maxlength="6"/>
						</div>
						<div ng-messages="leadForm.zip.$error" class="error-messages" ng-show="leadForm.zip.$invalid && !leadForm.zip.$pristine">
							<div ng-message="pattern">Please enter a valid ZipCode.</div>
							<div ng-message="maxlength">Maximum 6 chars only.</div>
							<div ng-message="minlength">Pincode should be minimum 6 digits.</div>
						</div>
					</div>
				</div>
			</div>
		</ion-content>
		<ion-footer-bar class="add-lead-footer">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 center-block pull-none add-lead-submit-block">
					<div class="custom-btn">
						<button class="btn btn-default btn-block" type="submit" ng-disabled="leadForm.$invalid">{{pc.submitButtonLabel}}</button>
					</div>
				</div>
			</div>
		</ion-footer-bar>
	</form>
</ion-view>
