<ion-view class="dashboard-root">
	<!-- header -->
	<ion-header-bar class="dashboard-header">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-margin-rm">
			<div class="dashboard-header-menu-logo-block pull-left">
				<a ng-click="db.openMenu()" class="click-menu">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</a>
				<img src="../img/tata-logo.png" alt="Tata AIA Logo" class="main-logo">
			</div>
			<div class="bell-block pull-right">
				<span ng-show="db.policyRefreshBtn" ng-click="db.refreshbtn()">
					<i class="fa fa-refresh"></i>
				</span>
				<span>
					<i class="fa fa-bell" aria-hidden="true"></i>
				</span>
			</div>
		</div>
	</ion-header-bar>
	<div class="bar bar-subheader">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 dashboard-nav">
			<ul>
				<li ng-class="{'active': (db.isTabActive('home'))}"><a ng-click="db.gotoPage('home')">Home</a></li>
				<li ng-class="{'active': (db.isTabActive('solutions'))}"><a ng-click="db.gotoPage('solutions')">Solutions</a></li>
				<li ng-class="{'active': (db.isTabActive('appTracker'))}"><a ng-click="db.gotoPage('appTracker')">App Tracker</a></li>
				<li ng-class="{'active': (db.isTabActive('policyTracker'))}"><a ng-click="db.gotoPage('policyTracker')">Policy Tracker</a></li>
				<li ng-class="{'active': (db.isTabActive('downloads'))}"><a ng-click="db.gotoPage('downloads')">Downloads</a></li>
			</ul>
		</div>
	</div>
	<!-- End header---->
	<div ui-view="dashboard-content" class="dashboard-content"></div>
</ion-view>
