<div class="tracker-carousel" >
	<div class="carousel-demo">
		<ul rn-carousel rn-carousel-index="oic.carouselIndex" rn-carousel rn-carousel-auto-slide class="carousel5">
			<li class="carousel-contentli" ng-repeat="oppNotInitiated in oic.oppNotInitiatedArr">
				<div class="col-sm-4 col-xs-4" ng-repeat="oppNotInit in oppNotInitiated">
					<div class="lead-box-bg">
						<div class="lead-head">
							<div class="lead-head-ico pull-left">{{oppNotInit.LNAME.charAt(0).toUpperCase()}}</div>
							<div class="lead-contact pull-left">
								<h2>{{oppNotInit.LNAME}}</h2>
								<div class="lead-contact-details">
									<span>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<span class="sol-details">{{oppNotInit.MOBNO}}</span>
									</span>
									<span>
										<i class="fa fa-user" aria-hidden="true"></i>
										<span class="sol-apps">{{oppNotInit.LDSRC1}}</span>
									</span>
								</div>
								<div class="date-created">
									<span class="date-created-lbl">Updated on</span>
									<span class="date-on">{{oppNotInit.LAST_UPDT_DT}}</span>
								</div>
							</div>
						</div>
						<div class="lead-head-txt pull-left">
							<button type="button" class="btn btn-default btn-border" ng-click="oic.goToLeadDashboard(oppNotInit)">Continue</button>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="carousel-pagination" rn-carousel-indicators ng-if="oic.oppNotInitiatedArr.length > 1" slides="oic.oppNotInitiatedArr" rn-carousel-index="oic.carouselIndex"></div>
	</div>
</div>
