<ion-view>
	<ion-content has-bouncing ="false">
		<fhr-header></fhr-header>
		<div class="clearfix"></div>
		<div style="position:relative" ng-style="{height: fhrother.outerWrapInnerHeight +'px'}" class="txt-upprwrap">
			<div class="FHR-outerwrap FHR-others" style="height:100%">
				<fhr-left-personal-details></fhr-left-personal-details>
				<!-- others -->
				<div class="innercontent-wrap tab-innercontent-wrap">
					<div class="fhr-container fhr-others">
						<form name="fhrOtherDetailsForm" id="fhrOtherDetailsForm" novalidate style="height:100%; position:relative">
							<ion-content has-bouncing ="false">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<h2 class="fhr-title">Other Details</h2>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div ng-class="(fhrother.goalsAddedFlag==null) ? 'row':'row disabled-div'">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Annual Income <span class="requiredStar">*</span></label>
														<input type="number" class="form-control custom-form" id="annualIncome" name="annualIncome" ng-model="fhrother.annualIncome" placeholder="Annual Income"  ng-pattern="/^[0-9]*$/" ng-maxlength="11" required/>
													</div>
													<div ng-messages="fhrOtherDetailsForm.annualIncome.$error" class="error-messages" ng-show="fhrOtherDetailsForm.annualIncome.$invalid && !fhrOtherDetailsForm.annualIncome.$pristine">
														<div ng-message="required">Please enter Annual Income.</div>
														<div ng-message="pattern">Please enter valid Annual Income.</div>
														<div ng-message="maxlength">Annual Income cannot be greater than 11 digits.</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Loan EMI<span class="requiredStar">*</span></label>
														<input type="number" class="form-control custom-form" id="loanEmi" name="loanEmi" ng-model="fhrother.loanEmi" placeholder="Loan EMI" ng-maxlength="11" required />
													</div>
													<div ng-messages="fhrOtherDetailsForm.loanEmi.$error" class="error-messages" ng-show="fhrOtherDetailsForm.loanEmi.$invalid && !fhrOtherDetailsForm.loanEmi.$pristine">
														<div ng-message="required">Please enter Loan EMI.</div>
														<div ng-message="pattern">Please enter valid Loan EMI.</div>
														<div ng-message="maxlength">Loan EMI cannot be greater than 11 digits.</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Outstanding Liabilities (including Credit Card)<span class="requiredStar">*</span></label>
														<input type="number" class="form-control custom-form goup" id="liabilityTotal" name="liabilityTotal" ng-model="fhrother.liabilityTotal" placeholder="Outstanding Liabilities"  ng-maxlength="11" required />
													</div>
													<div ng-messages="fhrOtherDetailsForm.liabilityTotal.$error" class="error-messages" ng-show="fhrOtherDetailsForm.liabilityTotal.$invalid && !fhrOtherDetailsForm.liabilityTotal.$pristine">
														<div ng-message="required">Please enter Outstanding Liabilities.</div>
														<div ng-message="pattern">Please enter valid Outstanding Liabilities.</div>
														<div ng-message="maxlength">Outstanding Liabilities cannot be greater than 11 digits.</div>
													</div>
												</div>
											</div>
										</div>
										<!-- End left part  -->
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div class="row">
												<div  ng-class="(fhrother.goalsAddedFlag==null) ? 'col-xs-12 col-sm-12 col-md-12 col-lg-12':'col-xs-12 col-sm-12 col-md-12 col-lg-12 disabled-div'">
													<div class="form-group custom-form">
														<label class="form-label">Monthly Household Expenses (excluding Loan)<span class="requiredStar">*</span></label>
														<input type="number" class="form-control custom-form" id="expHouseHold" name="expHouseHold" ng-model="fhrother.expHouseHold" placeholder="Total Monthly Household Expenses"  required />
													</div>
													<div ng-messages="fhrOtherDetailsForm.expHouseHold.$error" class="error-messages" ng-show="fhrOtherDetailsForm.expHouseHold.$invalid && !fhrOtherDetailsForm.expHouseHold.$pristine">
														<div ng-message="required">Please enter Monthly Household Expenses.</div>
														<div ng-message="pattern">Please enter valid Monthly Household Expenses.</div>
														<div ng-message="maxlength">Monthly Household Expenses cannot be greater than 11 digits.</div>
													</div>
												</div>
												<div  ng-class="(fhrother.personalDetails.IS_SCREEN4_DONE == 'Y' || (fhrother.goalsCountData.protectionCount > 0 || fhrother.goalsCountData.retirementCount > 0)) ? 'col-xs-12 col-sm-12 col-md-12 col-lg-12 disabled-div':'col-xs-12 col-sm-12 col-md-12 col-lg-12'">
													<div class="form-group custom-form custom-margin">
														<label class="form-label">Retirement age <span class="requiredStar">*</span></label>
														<input type="number" class="form-control custom-form" id="retireAge" name="retireAge" ng-model="fhrother.retireAge" placeholder="Retirement age" ng-min="fhrother.minRetirementAge" ng-max="80" ng-maxlength="2" required />
													</div>
													<div ng-messages="fhrOtherDetailsForm.retireAge.$error" class="error-messages" ng-show="fhrOtherDetailsForm.retireAge.$invalid && !fhrOtherDetailsForm.retireAge.$pristine">
														<div ng-message="required">Please enter Retirement age.</div>
														<div ng-message="pattern">Please enter valid Retirement age.</div>
														<div ng-message="maxlength">Retirement age cannot be greater than 2 digits.</div>
														<div ng-message="max">Retirement age cannot be greater than 80 years.</div>
														<div ng-message="min">Retirement age cannot be less than {{fhrother.minRetirementAge}} years.</div>
													</div>
												</div>
											</div>
										</div>
										<!-- End right part  -->
									</div>
								</div>
							</ion-content>
						</form>
					</div>
				</div>
				<!-- Goals -->
				<div class="goals-titlewrap">
					<div class="goals-innertitlewrap">
						<div class="innercontent-wrap goals-tab">
							<a href="javascript:void(0);" ng-click="fhrother.redirObj.gotoGoalsTab();"><span class="fhr-tab-title tab-goals-title">Goals</span></a>
						</div>
					</div>
				</div>
				<!-- Outputs -->
				<div class="output-titlewrap">
					<div class="output-innertitlewrap">
						<div class="innercontent-wrap output-tab">
							<a href="javascript:void(0);" ng-click="(fhrother.goalsCountData.childsCount == 0 && fhrother.goalsCountData.retirementCount == 0 && fhrother.goalsCountData.protectionCount == 0 && fhrother.goalsCountData.wealthCount == 0) ? fhrother.redirObj.showError('Please add atleast 1 goal.') : fhrother.redirObj.gotoOutputTab();"><span class="fhr-tab-title tab-output-title">Output</span></a>
						</div>
					</div>
				</div>
				<!-- Recommendation -->
				<div class="recommendation-titlewrap">
					<div class="recommendation-innertitlewrap">
						<div class="innercontent-wrap recommendation-tab">
							<a href="javascript:void(0);" ng-click="(fhrother.goalsCountData.childsCount == 0 && fhrother.goalsCountData.retirementCount == 0 && fhrother.goalsCountData.protectionCount == 0 && fhrother.goalsCountData.wealthCount == 0) ? fhrother.redirObj.showError('Please add atleast 1 goal.') : fhrother.redirObj.gotoRecommendationTab();"><span class="fhr-tab-title tab-recomm-tilte">Recommendation</span></a>
						</div>
					</div>
				</div>
				<!-- Next Button -->
				<div class="fhr-next-btn">
					<button class="next-btn-link"  ng-if="fhrother.goalsAddedFlag==null"  ng-disabled="fhrOtherDetailsForm.$invalid" type="submit"  ng-click="fhrother.onNext(fhrOtherDetailsForm)" ><span class="next-btn-txt">Next</span><span ng-class="(fhrOtherDetailsForm.$invalid) ? 'next-btn-icon next-btn-icon-disabled' : 'next-btn-icon'"><i class="fa fa-arrow-right"></i></span>
					</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
