<div class="tracker-carousel">
	<div class="carousel-demo">
		<ul rn-carousel rn-carousel-index="fc.carouselIndex" rn-carousel rn-carousel-auto-slide class="carousel5">
			<li class="carousel-contentli" ng-repeat="fhrCompleted in fc.fhrCompletedArr">
				<div class="col-sm-4 col-xs-4" ng-repeat="fhrComplt in fhrCompleted">
					<div class="lead-box-bg">
						<div class="lead-head">
							<div class="lead-head-ico pull-left">{{fhrComplt.LNAME.charAt(0).toUpperCase()}}</div>
							<div class="lead-contact pull-left">
								<h2>{{fhrComplt.LNAME}}</h2>
								<div class="lead-contact-details">
									<span>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<span class="sol-details">{{fhrComplt.MOBNO}}</span>
									</span>
									<span>
										<i class="fa fa-user" aria-hidden="true"></i>
										<span class="sol-apps">{{fhrComplt.LDSRC1}}</span>
									</span>
								</div>
								<div class="date-created">
									<span class="date-created-lbl">Tracker No.: </span>
									<span class="date-on">{{fhrComplt.OPP_ID}}</span>
								</div>
								<div class="date-created">
									<span class="date-created-lbl">Updated on</span>
									<span class="date-on">{{fhrComplt.FHR_TMSTMP}}</span>
								</div>
							</div>
						</div>
						<div class="lead-head-txt pull-left">
							<button type="button" class="btn btn-default btn-border" ng-click="fc.goToLeadDashboard(fhrComplt)">Continue</button>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="carousel-pagination" rn-carousel-indicators ng-if="ffcc.fhrCompletedArr.length > 1" slides="ffcc.fhrCompletedArr" rn-carousel-index="ffcc.carouselIndex"></div>
	</div>
</div>
