<ion-pane class="sis-height">
    <ion-header-bar class="fixed-bar">
        <!-- Header -->
        <div class="sis-header-wrap">
            <sis-header></sis-header>
        </div>

        <!-- Timeline -->
        <div class="SIStimeline-wrapper">
            <sis-timeline></sis-timeline>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap sis_ekyc">
            <form id="sc.sisEKycForm" name="sc.sisEKycForm" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 center-block pull-none">
                        <div class="row">
                            <!--Purchasing Insurance for-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form custom-drp side-radio-height-wrap">
                                    <label class="form-label">
                                        Purchasing Insurance for <span class="requiredStar">*</span>
                                    </label>
                                    <select class="form-control" ng-options="option.PURCHASE_FOR for option in sc.purchasingInsuranceForList track by option.PUR_NBFE_CODE" ng-change="sc.onPurInsForChg()" ng-model="sc.purchaseForOptionSelected" select-required>
                                    </select>
                                </div>
                            </div>

                            <!--Insurance Buying for-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form custom-drp">
                                    <label class="form-label">
                                        Insurance Buying for <span class="requiredStar">*</span>
                                    </label>
                                    <!--((((sp1.PGL_ID==sp1.IRS_PGL_ID) || (sp1.PGL_ID==sp1.ITRP_PGL_ID)) && (option.BUY_NBFE_CODE!='200' && option.BUY_NBFE_CODE!=null)) || ((sp1.PGL_ID==sp1.VCP_PGL_ID) && ((option.BUY_NBFE_CODE!='200' && (option.BUY_NBFE_CODE!='75' || (option.BUY_NBFE_CODE=='75' && sp1.PROPOSER_GENDER =='M'))) && (option.BUY_NBFE_CODE!=null))))-->
                                    <select class="form-control" name="insBuyFor" ng-options="option.BUYING_FOR disable when (((sc.PGL_ID==sc.IRS_PGL_ID) || (sc.PGL_ID==sc.ITRP_PGL_ID) || (sc.PGL_ID==sc.VCP_PGL_ID)) && (option.BUY_NBFE_CODE!='200' && option.BUY_NBFE_CODE!=null)) for option in sc.insuranceBuyingForList track by option.BUY_NBFE_CODE" ng-change="sc.onInsBuyForChg();" ng-model="sc.buyingForOptionSelected" ng-disabled="!!sc.insBuyForDisabled || (sc.INSURED_EKYC_CONSENT_FLAG_PERSIST == 'Y' || sc.PROPOSER_EKYC_CONSENT_FLAG_PERSIST == 'Y')" select-required>
                                    </select>
                                </div>
                                <div ng-messages="sc.sisEKycForm.insBuyFor.$error" class="error-messages" ng-show="sc.sisEKycForm.insBuyFor.$invalid && !sc.sisEKycForm.insBuyFor.$pristine">
                                    <div ng-message="selectRequired">Please select an option.</div>
                                </div>
                            </div>

                            <!--Insured Aadhar Details-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								                      <div class="form-group rider-chk-wrp">
	                                       <div class="rider-chekbox rider-bigsize">
	                                          <input type="checkbox" id="sisInsuredEKyc" ng-true-value="'Y'" ng-false-value="'N'" ng-model="sc.INSURED_EKYC_FLAG" ng-change="sc.onAddAadharFlagChange('insured')" ng-disabled="(sc.INSURED_EKYC_CONSENT_FLAG_PERSIST == 'Y')"/>
	                                           <label for="sisInsuredEKyc">Use Insured's (Self) E-KYC Details</label>
	                                      </div>
								                      </div>
                            </div>

                            <!--Insured Aadhar Number-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">Insured's Aadhar Number <span class="requiredStar" ng-show="sc.INSURED_EKYC_FLAG=='Y'">*</span></label>
                                    <!-- <input type="number" class="form-control custom-form" placeholder="Insured's Aadhar Number" name="insuredAadharNum" ng-model="sc.sisEKycData.insured.CONSUMER_AADHAR_NO" ng-pattern="sc.aadharRegex" ng-disabled="(sc.INSURED_EKYC_FLAG=='N') || (!!sc.sisEKycData.insured.EKYC_DONE_DATE) || (sc.forcedDisableEKYC)" ng-required="(sc.INSURED_EKYC_FLAG=='Y')" ng-change="sc.onInsAadharNumberChange()"/> -->
                                    <select class="form-control" ng-options="option.CONSUMER_AADHAR_NO for option in sc.insAadharList track by option.CONSUMER_AADHAR_NO" name="insuredAadharNum" ng-change="sc.onInsAadharNumberChange()" ng-model="sc.sisEKycData.insured.CONSUMER_AADHAR_NO"  ng-disabled="sc.INSURED_EKYC_FLAG == 'N' || sc.INSURED_EKYC_CONSENT_FLAG_PERSIST == 'Y'" select-required="(sc.INSURED_EKYC_FLAG=='Y')">
                                    </select>
                                </div>
                                <div ng-messages="sc.sisEKycForm.insuredAadharNum.$error" class="error-messages" ng-show="sc.sisEKycForm.insuredAadharNum.$invalid && !sc.sisEKycForm.insuredAadharNum.$pristine">
                                    <div ng-message="required">Insured's aadhar number cannot be empty.</div>
                                    <!-- <div ng-message="pattern">Please enter a 12 digit number only.</div> -->
                                </div>
                            </div>

                            <!-- Proposer Aadhar Details -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								                      <div class="form-group rider-chk-wrp">
	                                       <div class="rider-chekbox rider-bigsize">
	                                          <input type="checkbox" id="sisProposerEKyc" ng-true-value="'Y'" ng-false-value="'N'" ng-model="sc.PROPOSER_EKYC_FLAG" ng-change="sc.onAddAadharFlagChange('proposer')" ng-disabled="((sc.PROPOSER_EKYC_CONSENT_FLAG_PERSIST == 'Y') || (sc.buyingForOptionSelected.BUY_NBFE_CODE == '200'))"/>
	                                           <label for="sisProposerEKyc">Use Proposer's E-KYC details</label>
	                                      </div>
								                      </div>
                            </div>

                            <!--Proposer Aadhar Number-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">Proposer's Aadhar Number <span class="requiredStar" ng-show="sc.PROPOSER_EKYC_FLAG=='Y'">*</span></label>
                                    <input type="number" class="form-control custom-form" placeholder="Proposer's Aadhar Number" name="proposerAadharNum" ng-model="sc.sisEKycData.proposer.CONSUMER_AADHAR_NO" ng-pattern="sc.aadharRegex" ng-disabled="sc.forcedDisableProEKYC" ng-required="(sc.PROPOSER_EKYC_FLAG=='Y')" ng-change="sc.onPropAadharNumberChange()"/>
                                </div>
                                <div ng-messages="sc.sisEKycForm.proposerAadharNum.$error" class="error-messages" ng-show="sc.sisEKycForm.proposerAadharNum.$invalid && !sc.sisEKycForm.proposerAadharNum.$pristine">
                                    <div ng-message="required">Proposer's aadhar number cannot be empty.</div>
                                    <div ng-message="pattern">Please enter a 12 digit number only.</div>
                                </div>
                            </div>

                            <label><span class="requiredStar">*</span>Kindly add Proposer EKYC details in Lead for Self Case</label>

						<!--	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                            <div class="row">
	                                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 pull-left">
	                                    <div class="custom-btn form-btn-wrap">
	                                        <button class="btn btn-default btn-block" type="button" ng-click="sc.openConsent('insured')" ng-disabled="((!!sc.sisEKycData.insured.EKYC_DONE_DATE) || ((sc.sisEKycForm.insuredAadharNum.$invalid) || (sc.INSURED_EKYC_FLAG=='N') || (this.sisEKycData.insured.EKYC_FLAG=='Y')))">Insured's Consent</button>
	                                    </div>
	                                </div>
	                                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 pull-left">
	                                    <div class="custom-btn form-btn-wrap">
	                                        <button class="btn btn-default btn-block" type="button" ng-click="sc.openConsent('proposer')" ng-disabled="((!!sc.sisEKycData.proposer.EKYC_DONE_DATE) || ((sc.sisEKycForm.proposerAadharNum.$invalid) || (sc.PROPOSER_EKYC_FLAG=='N') || (this.sisEKycData.proposer.EKYC_FLAG=='Y')))">Proposer's Consent</button>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>-->

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		                        <div class="row">
		                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
		                                <div class="custom-btn form-btn-wrap">
		                                    <button class="btn btn-default btn-block" type="button" ng-disabled="sc.sisEKycForm.$invalid" ng-click="sc.onNext(sc.sisEKycForm.$pristine)">Next</button>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </ion-content>

    <div class="modal-blackoverlay newblackoverlay" ng-show="sc.showConsent">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 center-block pull-none">
            <div class="white-overlay">
                <span class="close-icon" ng-click="sc.closeConsent()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="form-group custom-form">
                                <div style="text-align: center; font-size: 2em; margin-bottom: 1.5%;">Consent for Authentication</div>
                                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 pull-left" style="border-right: 2px solid #263247;text-align: justify;">
                                    I, the holder of Aadhaar number
                                    <span ng-show="sc.showInsConsent">{{sc.sisEKycData.insured.CONSUMER_AADHAR_NO}}</span>
                                    <span ng-show="!sc.showInsConsent">{{sc.sisEKycData.proposer.CONSUMER_AADHAR_NO}}</span>
                                    , hereby give my consent to Tata AIA Life Insurance Company Limited to obtain my Aadhaar number, Name and Fingerprint/ Iris for authentication with UIDAI. Tata AIA Life Insurance Company Limited has informed me that my identity information will only be used for authentication and also informed that my biometrics will not be stored/ shared and will be submitted to CIDR only for the purpose of authentication.
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 pull-left" style="text-align: justify;">
                                    मे, आधार नंबर
                                    <span ng-show="sc.showInsConsent">{{sc.sisEKycData.insured.CONSUMER_AADHAR_NO}}</span>
                                    <span ng-show="!sc.showInsConsent">{{sc.sisEKycData.proposer.CONSUMER_AADHAR_NO}}</span>
                                    का धारक, एत्दद्वारा यूआईदीआई के साथ प्रमाणीकरण हेतु अपना आधार नंबर, नाम और उंगलियों के निशान/ आइरिस प्राप्त करने के लिए टाटा एआईए लाइफ इंश्योरेंस कंपनी लिमिटेड को अपनी सहमति देता हू. टाटा एआईए लाइफ इंश्योरेंस कंपनी लिमिटेड ने मुझे सूचित किया है की मेरी पहचान संबंधी जानकारी का उपयोग केवल प्रमाणीकरण के लिए किया जाएगा और यह भी सूचित किया गया है की मेरे बायोमेट्रिक्स को संग्रहित/ साझा नही किया जाएगा और प्रमाणीकरण के प्रायोजन से केवल सीआईडीआर के पास जमा कराया जाएगा.
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="sc.showInsConsent" style="margin-top: 4%;margin-bottom: 4%;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center-block pull-none">
                                <div class="rider-chekbox rider-bigsize">
                                    <input type="checkbox" id="sisInsuredEKycConsent" ng-true-value="'Y'" ng-false-value="'N'" ng-model="sc.INSURED_EKYC_CONSENT_FLAG" ng-required="(!sc.sisEKycData.insured.EKYC_DONE_DATE && sc.showConsent && sc.showInsConsent)"/>
                                    <label for="sisInsuredEKycConsent" style="font-size: 1.2em;">I agree/ मे सहमत हू</label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="!sc.showInsConsent" style="margin-top: 4%;margin-bottom: 4%;">
                            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center-block pull-none">
                                <div class="rider-chekbox rider-bigsize">
                                    <input type="checkbox" id="sisProposerEKycConsent" ng-true-value="'Y'" ng-false-value="'N'" ng-model="sc.PROPOSER_EKYC_CONSENT_FLAG" ng-required="(!sc.sisEKycData.proposer.EKYC_DONE_DATE && sc.showConsent && !sc.showInsConsent)"/>
                                    <label for="sisProposerEKycConsent" style="font-size: 1.2em;">I agree/ मे सहमत हू</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-xs-12 col-sm-5 col-md-5 col-lg-5 center-block pull-none">
                                <div class="custom-btn form-btn-wrap">
                                    <button class="btn btn-primary btn-block" ng-click="sc.onConsentSubmit()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-pane>
