<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<rq-timeline class="tab-nav"></rq-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<section class="quetionaire_block">
				<form id="nriQuesForm" name="nriQuesForm" novalidate>
					<div class="row" ng-show="nriC.isDone">
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="nriC.showPreview()">preview Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="nriC.reGenerate()">Regenerate Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="nriC.onNext()">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-hide="nriC.isDone">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">NRI Questionnaire - {{nriC.LoadData.custType}}</label>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Passport Details:</label>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">a. Passport Number</label>
											<input type="text" class="form-control" name="nriAns4a" ng-model="nriC.nriQuesData.ANS_4a" ng-pattern="nriC.freeTxtRegex" required ng-maxlength="20">
										</div>
										<div ng-messages="nriQuesForm.nriAns4a.$error" class="error-messages" ng-show="nriQuesForm.nriAns4a.$invalid && (!nriQuesForm.nriAns4a.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 20 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">b. Date of Issue</label>
											<input type="date" class="form-control" name="nriAns4b" ng-model="nriC.nriQuesData.ANS_4b" required >
										</div>
										<div ng-messages="nriQuesForm.nriAns4b.$error" class="error-messages" ng-show="nriQuesForm.nriAns4b.$invalid && (!nriQuesForm.nriAns4b.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">c. Place of Issue</label>
											<input type="text" class="form-control" name="nriAns4c" ng-model="nriC.nriQuesData.ANS_4c" required ng-maxlength="50">
										</div>
										<div ng-messages="nriQuesForm.nriAns4c.$error" class="error-messages" ng-show="nriQuesForm.nriAns4c.$invalid && (!nriQuesForm.nriAns4c.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 25 characters.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Purpose of your stay abroad</label>
											<div class="tick-radio-wrap">
												<div class="tick-radio-btn-wrap">
													<input type="radio" id="nriAns5O" name="nriAns5" value="Occupation" ng-model="nriC.nriQuesData.ANS_5" ng-change="nriC.setNull('5')" required />
													<label for="nriAns5O">Occupation</label>
												</div>
												<div class="tick-radio-btn-wrap">
													<input type="radio" id="nriAns5E" name="nriAns5" value="Education" ng-model="nriC.nriQuesData.ANS_5" required />
													<label for="nriAns5E">Education</label>
												</div>
												<div class="tick-radio-btn-wrap">
													<input type="radio" id="nriAns5P" name="nriAns5" value="Personal" ng-model="nriC.nriQuesData.ANS_5" ng-change="nriC.setNull('5')" required />
													<label for="nriAns5P">Personal</label>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div ng-messages="nriQuesForm.nriAns5.$error" class="error-messages" ng-show="nriQuesForm.nriAns5.$invalid && (!nriQuesForm.nriAns5.$pristine || nriC.genOpClick)">
											<div ng-message="required">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="nriC.nriQuesData.ANS_5=='Education'">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<label class="form-label">If education :</label>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group custom-form">
													<label class="form-label">a. Name of University / Institution in which you are studying</label>
													<input type="text" class="form-control" name="nriAns6a" ng-model="nriC.nriQuesData.ANS_6a" ng-pattern="nriC.freeTxtRegex" ng-required="nriC.nriQuesData.ANS_5=='Education'" ng-maxlength="200">
													<div ng-messages="nriQuesForm.nriAns6a.$error" class="error-messages" ng-show="nriQuesForm.nriAns6a.$invalid && (!nriQuesForm.nriAns6a.$pristine || nriC.genOpClick)">
														<div ng-message="required">Field cannot be empty.</div>
														<div ng-message="maxlength">only 200 characters.</div>
														<div ng-message="pattern">Enter valid details excluding special characters</div>
													</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group custom-form">
													<label class="form-label">b. Course Details (including duration of the course and proposed date of completion of the Course)</label>
													<input type="text" class="form-control" name="nriAns6b" ng-model="nriC.nriQuesData.ANS_6b" ng-pattern="nriC.freeTxtRegex" ng-required="nriC.nriQuesData.ANS_5=='Education'" ng-maxlength="200">
													<div ng-messages="nriQuesForm.nriAns6b.$error" class="error-messages" ng-show="nriQuesForm.nriAns6b.$invalid && (!nriQuesForm.nriAns6b.$pristine || nriC.genOpClick)">
														<div ng-message="required">Field cannot be empty.</div>
														<div ng-message="maxlength">only 200 characters.</div>
														<div ng-message="pattern">Enter valid details excluding special characters</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Duration of your stay abroad</label>
											<input type="text" class="form-control" name="nriAns7" ng-model="nriC.nriQuesData.ANS_7" ng-pattern="nriC.freeTxtRegex" required ng-maxlength="50" placeholder="In Months or Years">
										</div>
										<div ng-messages="nriQuesForm.nriAns7.$error" class="error-messages" ng-show="nriQuesForm.nriAns7.$invalid && (!nriQuesForm.nriAns7.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 50 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Purpose of your current visit to India</label>
											<input type="text" class="form-control" name="nriAns8" ng-model="nriC.nriQuesData.ANS_8" ng-pattern="nriC.freeTxtRegex" required ng-maxlength="100">
										</div>
										<div ng-messages="nriQuesForm.nriAns8.$error" class="error-messages" ng-show="nriQuesForm.nriAns8.$invalid && (!nriQuesForm.nriAns8.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 100 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">VISA Status</label>
											<div class="tick-radio-wrap">
												<div class="tick-radio-btn-wrap">
													<input type="radio" id="nriAns5W" name="nriAns9" value="Work Visa" ng-model="nriC.nriQuesData.ANS_9" ng-change="nriC.setNull('9')" required />
													<label for="nriAns5W">Work Visa</label>
												</div>
												<div class="tick-radio-btn-wrap">
													<input type="radio" id="nriAns5T" name="nriAns9" value="Travel Visa" ng-model="nriC.nriQuesData.ANS_9" ng-change="nriC.setNull('9')" required />
													<label for="nriAns5T">Travel Visa</label>
												</div>
												<div class="tick-radio-btn-wrap">
													<input type="radio" id="nriAns5R" name="nriAns9" value="Residence Visa" ng-model="nriC.nriQuesData.ANS_9" ng-change="nriC.setNull('9')" required />
													<label for="nriAns5R">Residence Visa</label>
												</div>
												<div class="tick-radio-btn-wrap">
													<input type="radio" id="nriAns5OT" name="nriAns9" value="Other" ng-model="nriC.nriQuesData.ANS_9"  required />
													<label for="nriAns5OT">Other</label>
												</div>
												<div class="clearfix"></div>
											</div>
										</div>
										<div ng-messages="nriQuesForm.nriAns9.$error" class="error-messages" ng-show="nriQuesForm.nriAns9.$invalid && (!nriQuesForm.nriAns9.$pristine || nriC.genOpClick)">
											<div ng-message="required">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="nriC.nriQuesData.ANS_9=='Other'">
										<div class="form-group custom-form">
											<label class="form-label">If Others, Please Specify</label>
											<input type="text" class="form-control" name="nriAns9Reason" ng-model="nriC.nriQuesData.ANS_9_Reason" ng-pattern="nriC.freeTxtRegex" ng-required="nriC.nriQuesData.ANS_9=='Other'" ng-maxlength="50">
										</div>
										<div ng-messages="nriQuesForm.nriAns9Reason.$error" class="error-messages" ng-show="nriQuesForm.nriAns9Reason.$invalid && (!nriQuesForm.nriAns9Reason.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 50 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Date of Arrival in India</label>
											<input type="date" class="form-control" name="nriAns10" ng-model="nriC.nriQuesData.ANS_10" required >
										</div>
										<div ng-messages="nriQuesForm.nriAns10.$error" class="error-messages" ng-show="nriQuesForm.nriAns10.$invalid && (!nriQuesForm.nriAns10.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Date when you intend to leave from India after your current visit</label>
											<input type="date" class="form-control" name="nriAns11" ng-model="nriC.nriQuesData.ANS_11" required >
										</div>
										<div ng-messages="nriQuesForm.nriAns11.$error" class="error-messages" ng-show="nriQuesForm.nriAns11.$invalid && (!nriQuesForm.nriAns11.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Taxpayer Identification Number (TIN No) : </label>
											<input type="text" class="form-control" name="nriAns12" ng-model="nriC.nriQuesData.ANS_12" ng-pattern="nriC.freeTxtRegex" ng-change="nriC.setNull('12')" ng-maxlength="50">
											<label class="form-label">
												Functional Equivalent Number / Common ID no. (in case of no TIN No)Issued in country of residence. e.g. (Social Security No, CPR, Green Card number , Permanent residency number or any unique identification number provided by Govt.etc).
											</label>
										</div>
										<div ng-messages="nriQuesForm.nriAns12.$error" class="error-messages" ng-show="nriQuesForm.nriAns12.$invalid && (!nriQuesForm.nriAns12.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 50 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="nriC.nriQuesData.ANS_12==null || nriC.nriQuesData.ANS_12==''">
										<div class="form-group custom-form">
											<label class="form-label">If TIN No: / Functional Equivalent Number / Common ID no. is not available with Life Assured, please clarify the reason for same.</label>
											<input type="text" class="form-control" name="nriAns12Reason" ng-model="nriC.nriQuesData.ANS_12_Reason" ng-pattern="nriC.freeTxtRegex" ng-required="nriC.nriQuesData.ANS_12==null || nriC.nriQuesData.ANS_12==''" ng-maxlength="50">
										</div>
										<div ng-messages="nriQuesForm.nriAns12Reason.$error" class="error-messages" ng-show="nriQuesForm.nriAns12Reason.$invalid && (!nriQuesForm.nriAns12Reason.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 50 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label class="form-label">Full Address in the Country of your residence</label>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Address</label>
											<input type="text" class="form-control" name="nriAns13a" ng-model="nriC.nriQuesData.ANS_13a" ng-pattern="nriC.freeTxtRegex" required ng-maxlength="100">
										</div>
										<div ng-messages="nriQuesForm.nriAns13a.$error" class="error-messages" ng-show="nriQuesForm.nriAns13a.$invalid && (!nriQuesForm.nriAns13a.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 100 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Landmark</label>
											<input type="text" class="form-control" name="nriAns13b" ng-model="nriC.nriQuesData.ANS_13b" ng-pattern="nriC.freeTxtRegex" required ng-maxlength="100">
										</div>
										<div ng-messages="nriQuesForm.nriAns13b.$error" class="error-messages" ng-show="nriQuesForm.nriAns13b.$invalid && (!nriQuesForm.nriAns13b.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 100 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">City</label>
											<input type="text" class="form-control" name="nriAns13c" ng-model="nriC.nriQuesData.ANS_13c" ng-pattern="nriC.freeTxtRegex" required ng-maxlength="100">
										</div>
										<div ng-messages="nriQuesForm.nriAns13c.$error" class="error-messages" ng-show="nriQuesForm.nriAns13c.$invalid && (!nriQuesForm.nriAns13c.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 100 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">State</label>
											<input type="text" class="form-control" name="nriAns13d" ng-model="nriC.nriQuesData.ANS_13d" ng-pattern="nriC.freeTxtRegex" required ng-maxlength="100">
										</div>
										<div ng-messages="nriQuesForm.nriAns13d.$error" class="error-messages" ng-show="nriQuesForm.nriAns13d.$invalid && (!nriQuesForm.nriAns13d.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 100 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Pincode</label>
											<input type="number" class="form-control" name="nriAns13e" ng-model="nriC.nriQuesData.ANS_13e" required ng-maxlength="15">
										</div>
										<div ng-messages="nriQuesForm.nriAns13e.$error" class="error-messages" ng-show="nriQuesForm.nriAns13e.$invalid && (!nriQuesForm.nriAns13e.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 15 characters.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Mobile No. with country code</label>
											<input type="number" class="form-control" name="nriAns13f" ng-model="nriC.nriQuesData.ANS_13f" required ng-maxlength="15">
										</div>
										<div ng-messages="nriQuesForm.nriAns13f.$error" class="error-messages" ng-show="nriQuesForm.nriAns13f.$invalid && (!nriQuesForm.nriAns13f.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 15 characters.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label class="form-label">Details of Non Resident Account held in India:</label>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Name of Bank</label>
											<input type="text" class="form-control" name="nriAns14a" ng-model="nriC.nriQuesData.ANS_14a" ng-pattern="nriC.freeTxtRegex" required ng-maxlength="50">
										</div>
										<div ng-messages="nriQuesForm.nriAns14a.$error" class="error-messages" ng-show="nriQuesForm.nriAns14a.$invalid && (!nriQuesForm.nriAns14a.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 50 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
										<!--<div class="form-group custom-form">-->
											<!--<label class="form-label">Type of Account</label>-->
											<!--<input type="text" class="form-control" name="nriAns14b" ng-model="nriC.nriQuesData.ANS_14b" required ng-maxlength="50">-->
										<!--</div>-->
										<!--<div ng-messages="nriQuesForm.nriAns14b.$error" class="error-messages" ng-show="nriQuesForm.nriAns14b.$invalid && (!nriQuesForm.nriAns14b.$pristine || nriC.genOpClick)">-->
											<!--<div ng-message="required">Field cannot be empty.</div>-->
											<!--<div ng-message="maxlength">only 50 characters.</div>-->
										<!--</div>-->
									<!--</div>-->
									<!--Added on 10/11/2017-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Type of Account</label>
											<select class="form-control" name="nriAns14b" ng-model="nriC.nriQuesData.ANS_14b" required>
												<option value="">Select Account Type</option>
												<option ng-repeat="accountname in nriC.accountTypeData" value={{accountname}}>{{accountname}}</option>
											</select>
										</div>
										<div ng-messages="nriQuesForm.nriAns14b.$error" class="error-messages" ng-show="nriQuesForm.nriAns14b.$invalid && (!nriQuesForm.nriAns14b.$pristine || nriC.genOpClick)">
											<div ng-message="required">Account type required.</div>
										</div>
									</div>


									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Account Number</label>
											<input type="number" class="form-control" name="nriAns14c" ng-model="nriC.nriQuesData.ANS_14c" required ng-maxlength="50">
										</div>
										<div ng-messages="nriQuesForm.nriAns14c.$error" class="error-messages" ng-show="nriQuesForm.nriAns14c.$invalid && (!nriQuesForm.nriAns14c.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 50 characters.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Address of Bank Branch</label>
											<input type="text" class="form-control" name="nriAns14d" ng-model="nriC.nriQuesData.ANS_14d" ng-pattern="nriC.freeTxtRegex" required ng-maxlength="100">
										</div>
										<div ng-messages="nriQuesForm.nriAns14d.$error" class="error-messages" ng-show="nriQuesForm.nriAns14d.$invalid && (!nriQuesForm.nriAns14d.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 100 characters.</div>
											<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Are you or your close relative are PEP –politically exposed person domestically/ in an international organisation/ in a foreign country?</label>
											<div class="tick-radio-wrap">
												<div class="tick-radio-btn-wrap">
													<input type="radio" id="nriAns15Y" name="nriAns15" value="Y" ng-model="nriC.nriQuesData.ANS_15" required />
													<label for="nriAns15Y">Yes</label>
												</div>
												<div class="tick-radio-btn-wrap">
													<input type="radio" id="nriAns15N" name="nriAns15" value="N" ng-model="nriC.nriQuesData.ANS_15" ng-change="nriC.setNull('15')" required />
													<label for="nriAns15N">No</label>
												</div>
											</div>
										</div>
										<div ng-messages="nriQuesForm.nriAns15.$error" class="error-messages" ng-show="nriQuesForm.nriAns15.$invalid && (!nriQuesForm.nriAns15.$pristine || nriC.genOpClick)">
											<div ng-message="required">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="nriC.nriQuesData.ANS_15=='Y'">
										<div class="form-group custom-form">
											<label class="form-label">If Yes, provide details:</label>
											<input type="text" class="form-control" name="nriAns15Reason" ng-model="nriC.nriQuesData.ANS_15_Reason" ng-pattern="nriC.freeTxtRegex" ng-required="nriC.nriQuesData.ANS_15=='Y'" ng-maxlength="100">
										</div>
										<div ng-messages="nriQuesForm.nriAns15Reason.$error" class="error-messages" ng-show="nriQuesForm.nriAns15Reason.$invalid && (!nriQuesForm.nriAns15Reason.$pristine || nriC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 100 characters.</div
												<div ng-message="pattern">Enter valid details excluding special characters</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label" style="text-align: justify;">Declaration by the Life to be insured / Proposer (if the life to be insured and proposer are two different persons) I, the undersigned, hereby confirm that the above statements and answers, given by me are full, complete and true.
												And I agree to treat this document as part of the original proposal form. I hereby agree to pay all premiums in India and in Indian Rupees only and also agree that claims of any nature arising under the policy will be settled by the Company in India and in Indian Rupees only.
												I also agree that any legal consequence(s) is subject to Indian jurisdiction only. I confirm that this product has been solicited to me in person in India OR through e-mail / telephone communication
												from India I undertake to inform the Company for any change in the above particulars including residential status. In case of any failure to do so, I shall indemnify the company for all losses and damages incurred by the Company due to
												non-fulfillment of my aforesaid obligation to the Company. I also undertake to comply with all the regulations/guidelines issued by Reserve Bank of India or any other regulatory
												authority with reference to NRIs and the related Insurance policies in India from time to time.
											</label>
											<div class="check-box-wrap">
												<input type="checkbox" id="nriAnsD" name="nriAnsD" ng-model="nriC.nriQuesData.ANS_Declaration" required/>
												<label for="nriAnsD">I have read and understood the declarations</label>
												<div class="clearfix"></div>
											</div>
										</div>
										<div ng-messages="nriQuesForm.nriAnsD.$error" class="error-messages" ng-show="nriQuesForm.nriAnsD.$invalid && (!nriQuesForm.nriAnsD.$pristine || nriC.genOpClick)">
											<div ng-message="required">Please accept the declaration.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-default btn-block" type="button" ng-click="nriC.onGenerateOutput(nriQuesForm)">Generate Output</button>
									</div>
								</div>
							</div>
							<!-- end second row -->
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</ion-content>
