<!--Main Inner Tab-->
<ion-pane class="customer-details">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <app-timeline class="app-blackheaderwrap"></app-timeline>
        </div>
    </ion-header-bar>
    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="application-form-wrapper">
            <view-app-output class="pdf-outputwrapper" dbl-click-2-zoom></view-app-output>
            
            <div class="clearfix"></div>
            
			
		</div>
	</ion-content>
    
    
    <div class="modal-blackoverlay newblackoverlay" ng-hide="genT.reportPopup">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 center-block pull-none">
            <div class="white-overlay">
                <span class="close-icon" ng-click="genT.closeBlackOverlay()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
			        <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Customer Name</label>
                            <input type="text" name="CustName" ng-model="genT.CustName" class="form-control" placeHolder="Customer Name" readonly/>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Mobile No</label>
                            <input type="text" name="MobNo" ng-model="genT.MobNo" class="form-control" placeHolder="Mobile No" readonly/>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Email</label>
                            <input type="text" name="Email" ng-model="genT.Email" class="form-control" placeHolder="Email ID" readonly/>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Transaction Amount</label>
                            <input type="text" name="TransAmt" ng-model="genT.TransAmt" class="form-control" placeHolder="Transaction Amount" readonly/>
                        </div>
                    </div>
			                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			                    <div class="row">
                            <div class="col-xs-12 col-xs-12 col-sm-5 col-md-5 col-lg-5 center-block pull-none">
                                <div class="custom-btn form-btn-wrap">
                                    <button class="btn btn-primary btn-block" ng-click="genT.olGenPaymentData()">Proceed to Pay</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bottom Button Wrapper -->
    <div class="bottom-buttonwrap">
        <div class="sis-form-wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="custom-footer">
                    <div class="fact-middle-button bottom-fixed gen-application-btn-wrap ff-btn-wrap">
			                            <ul>
											<li ng-show="!!genT.COMBO_ID && genT.COMBO_PRIM_FLAG == 'P'">
												<div class="custom-btn form-btn-wrap fact-btn-left">
													<button class="btn btn-default btn-block" ng-click="genT.proceedToTerm()">Proceed</button>
												</div>
											</li>
											<li ng-show="!genT.ShowInsuredSign">
												<div class="custom-btn form-btn-wrap fact-btn-left">
													<button class="btn btn-default btn-block" ng-click="genT.saveAppReportFile()">Save</button>
												</div>
											</li>
			                                <!--7th july-->
			                                <li ng-show="genT.ShowInsuredSign && (!!genT.COMBO_ID && genT.COMBO_PRIM_FLAG != 'P')">
			                                    <div class="custom-btn form-btn-wrap fact-btn-left"><!--ng-disabled="!!genT.isInsuredSigned"-->
			                                        <button class="btn btn-default btn-block" ng-click="genT.saveLASign()" ng-disabled="!!genT.isInsuredSigned">Insured Sign</button>
			                                    </div>
			                                </li>
			                                <!--7th July-->
			                                <li ng-show="genT.ShowInsuredSign && (!!genT.COMBO_ID && genT.COMBO_PRIM_FLAG != 'P')">
			                                    <div class="custom-btn form-btn-wrap fact-btn-left" style="margin-top:0px">
			                                        <!-- ganesh ng-disabled="!genT.isProposerSigned || genT.isSelf" -->
			                                        <button class="btn btn-default btn-block" ng-click="genT.savePROSign()" ng-disabled="!!genT.isProposerSigned || genT.isSelf">Proposer Sign</button>
			                                    </div>
			                                </li>
			                                <li ng-show="!!genT.COMBO_ID && genT.COMBO_PRIM_FLAG != 'P'">
			                                    <div class="custom-btn form-btn-wrap fact-btn-left">
			                                        <button class="btn btn-default btn-block" ng-disabled="!genT.isProposerSigned || genT.isProposerSigned == 'N'" ng-click="genT.syncData()">Sync Data</button>
			                                    </div>
			                                </li>
			                                <li ng-show="!!genT.COMBO_ID && genT.COMBO_PRIM_FLAG != 'P'">
			                                    <div class="custom-btn form-btn-wrap fact-btn-left" style="margin-top:0px">
			                                        <!-- ganesh !genT.isDataSynced || genT.isDataSynced == 'N'-->
			                                        <button class="btn btn-default btn-block" ng-disabled="genT.isDataSynced!=true" ng-click="genT.calOlGenPop()" ng-show="genT.isOnlinePay">Pay Now</button>
			                                    </div>
			                                </li>

											<li>
												<div class="custom-btn form-btn-wrap fact-btn-left">
													<button class="btn btn-default btn-block" ng-click="genT.exit()">Exit</button>
												</div>
											</li>
			                            </ul>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
</ion-pane>
