<app-timeline class="app-blackheaderwrap"></app-timeline>
<ion-content has-bouncing="false" has-header="true" style="top: 156px; bottom: 72px;">
	<div class="application-form-wrapper">
		<view-app-output dbl-click-2-zoom></view-app-output>
	</div>
</ion-content>

<!-- Pop Up -->
<div class="modal-blackoverlay newblackoverlay" ng-hide="gen.reportPopup">
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 center-block pull-none">
		<div class="white-overlay">
			<span class="close-icon" ng-click="gen.closeBlackOverlay()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
				<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Customer Name</label>
						<input type="text" name="CustName" ng-model="gen.CustName" class="form-control" placeHolder="Customer Name" readonly/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Mobile No</label>
						<input type="text" name="MobNo" ng-model="gen.MobNo" class="form-control" placeHolder="Mobile No" readonly/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Email</label>
						<input type="text" name="Email" ng-model="gen.Email" class="form-control" placeHolder="Email ID" readonly/>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Transaction Amount</label>
						<input type="text" name="TransAmt" ng-model="gen.TransAmt" class="form-control" placeHolder="Transaction Amount" readonly/>
					</div>
				</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
						<div class="col-xs-12 col-xs-12 col-sm-5 col-md-5 col-lg-5 center-block pull-none">
							<div class="custom-btn form-btn-wrap">
								<button class="btn btn-primary btn-block" ng-click="gen.olGenPaymentData()">Proceed to Pay</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Bottom Button Wrapper -->
<ion-footer-bar class="bottom-buttonwrap" style="padding: 10px; height: 72px;">
	<div class="sis-form-wrap" style="width: 100%;">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="custom-footer">
				<div class="fact-middle-button bottom-fixed gen-application-btn-wrap ff-btn-wrap" style="padding: 0px !important;">
					<ul>
						<!--changes home-->
						<li ng-show="!!gen.COMBO_ID && gen.COMBO_PRIM_FLAG == 'P'">
							<div class="custom-btn form-btn-wrap fact-btn-left">
								<button class="btn btn-default btn-block" ng-click="gen.proceedToTerm()">Proceed</button>
							</div>
						</li>
						<li ng-show="!gen.ShowInsuredSign">
							<div class="custom-btn form-btn-wrap fact-btn-left">
								<button class="btn btn-default btn-block" ng-click="gen.saveAppReportFile()">Save</button>
							</div>
						</li>
						<!--&lt;!&ndash;7th july&ndash;&gt;-->
						<!--{{gen.ShowInsuredSign}} {{!!gen.COMBO_ID}} {{gen.COMBO_PRIM_FLAG}}-->
						<li ng-show="gen.ShowInsuredSign && ((!!gen.COMBO_ID && gen.COMBO_PRIM_FLAG != 'P') || !gen.COMBO_ID)">
							<div class="custom-btn form-btn-wrap fact-btn-left">
								<button class="btn btn-default btn-block" ng-click="gen.saveLASign()" ng-disabled="!!gen.isInsuredSigned">Insured Sign</button>
							</div>
						</li>
						<!--7th July-->
						<li ng-show="gen.ShowInsuredSign && ((!!gen.COMBO_ID && gen.COMBO_PRIM_FLAG != 'P') || !gen.COMBO_ID)">
							<div class="custom-btn form-btn-wrap fact-btn-left" style="margin-top:0px">
								<!-- ganesh ng-disabled="!gen.isProposerSigned || gen.isSelf" -->
								<button class="btn btn-default btn-block" ng-click="gen.savePROSign()" ng-disabled="!!gen.isProposerSigned || gen.isSelf">Proposer Sign</button>
							</div>
						</li>
						<li ng-show="(!!gen.COMBO_ID && gen.COMBO_PRIM_FLAG != 'P') || !gen.COMBO_ID">
							<div class="custom-btn form-btn-wrap fact-btn-left">
								<button class="btn btn-default btn-block" ng-disabled="!gen.isProposerSigned || gen.isProposerSigned == 'N'" ng-click="gen.syncData()">Sync Data</button>
							</div>
						</li>
						<li ng-show="(!!gen.COMBO_ID && gen.COMBO_PRIM_FLAG != 'P') || !gen.COMBO_ID">
							<div class="custom-btn form-btn-wrap fact-btn-left" style="margin-top:0px">
								<!-- ganesh !gen.isDataSynced || gen.isDataSynced == 'N'-->
								<button class="btn btn-default btn-block" ng-disabled="gen.isDataSynced != true" ng-click="gen.calOlGenPop()" ng-show="gen.isOnlinePay">Pay Now</button>
							</div>
						</li>
						<li>
							<div class="custom-btn form-btn-wrap fact-btn-left">
								<button class="btn btn-default btn-block" ng-click="gen.exit()">Exit</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</ion-footer-bar>
