<style>
	/*This class displays the UP arrow*/

	.arrow-up {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 10px solid black;
		display: inline-block;
	}
	/*This class displays the DOWN arrow*/

	.arrow-down {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 10px solid black;
		display: inline-block;
	}

	.sis-form-wrap-sd {
		padding: 35px 0px 0px 0px;
	}

	/* Your CSS */
	.mytable {
		width: 96%;
		margin: 0px auto 15px auto;
	}
</style>
<ion-pane class="sdb-height">
	<ion-header-bar class="fixed-bar">
		<div class="header-innerwrapper">
			<!-- First Header -->
			<div class="headertitle-wrap">
				<div class="menu-iconlogo-wrapper">
					<a ng-click="showDBCtrl.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
				</div>
				<div class="createlead-wrapper">
					<h2 class="header-title text-center">Database</h2>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- Second Header -->
			<div class="lead_title">
				<h2>Table List</h2>
			</div>
		</div>
	</ion-header-bar>
	<ion-content has-bouncing="false" class="has-subheader-custom custom-position">
		<div class="sis-form-wrap-sd sis_ekyc">
			<div class="row firstPart">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="form-group custom-form">
							<label class="form-label">Table Name</label>
							<select class="form-control" ng-options="tablename.table_name for tablename in showDBCtrl.tableArray" ng-model="showDBCtrl.tableNameSelected" ng-change="showDBCtrl.showTableData()" name="tableName">
							<option value="">Select Table</option>
						</select>
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="form-group custom-form">
							<label class="form-label">Select Column</label>
							<div class="form-group custom-form">
								<select class="form-control" ng-model="showDBCtrl.tableMultiColSelected" name="tableMultiColSelected" multiple>
								<option value="all">All</option>
								<option  ng-repeat="columnName in showDBCtrl.tableData.keys" value="{{columnName}}">{{columnName}}</option>
							</select>
							</div>
						</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="form-group custom-form">
							<label class="form-label">Search In Result</label>
							<input type="text" class="form-control custom-form" step="1" ng-model="showDBCtrl.searchAnyText" />
						</div>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
						<div class="form-group custom-form">
							<div class="form-group custom-form">
								<label class="form-label">Rows To Display</label>
								<input type="text" class="form-control custom-form" step="1" ng-model="showDBCtrl.tableDataRowCount" max="5" min="0" />
							</div>
						</div>
					</div>
					<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
						<div class="form-group custom-form">
							<div class="form-group custom-form">
								<label class="form-label">Qry</label>
								<button class="button" style="cursor:pointer;" ng-click="showDBCtrl.showHideQuery(showDBCtrl.hideQueryPanel)">S</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-8 col-sm-8 col-md-8 col-lg-6 col-xl-6" ng-show="showDBCtrl.hideQueryPanel">
						<div class="form-group custom-form">
							<div class="form-group custom-form">
								<textarea ng-model="showDBCtrl.queryToExecute" style="border:1px solid;" cols="65" rows="4"></textarea>
								<br/><br/>
								<div style="color:red"><b>{{showDBCtrl.tableData.queryError}} {{showDBCtrl.emptyQuery}}</b></div>
							</div>
						</div>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 col-xl-3" ng-show="showDBCtrl.hideQueryPanel">
						<div class="custom-btn form-btn-wrap lead-btn">
							<button class="btn btn-default btn-block" ng-click="showDBCtrl.executeQuery()">Execute</button>
						</div>
					</div>
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 col-xl-3" ng-show="showDBCtrl.hideQueryPanel">
						<div class="custom-btn form-btn-wrap lead-btn">
							<button class="btn btn-default btn-block" ng-click="showDBCtrl.resetQuery()">Reset</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<ion-scroll zooming="true" direction="xy" has-bouncing="false" scrollbar-y="false" locking="true" class="mytable">
						<table class="table table-bordered" border="1" cellpadding="2" cellspacing="0">
							<thead>
								<tr>
									<th ng-if="!!showDBCtrl.tableData.keys"><b>Delete</b></th>
									<th ng-repeat="columnName in showDBCtrl.tableData.keys" ng-click="showDBCtrl.sortData(columnName)" ng-show="showDBCtrl.isColumnShown(columnName)">
										<b> {{columnName}} </b><span ng-class="showDBCtrl.getSortClass(columnName)"></span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="tableData in showDBCtrl.tableData.data | limitTo:showDBCtrl.tableDataRowCount | orderBy:showDBCtrl.sortColumn:showDBCtrl.reverseSort | filter : showDBCtrl.searchAnyText">
									<td style="width:10px; text-decoration: underline; " ng-click="showDBCtrl.deleteRow(showDBCtrl.tableNameSelected, tableData)">Delete</td>
									<td ng-repeat="(column_key, column_value) in tableData" ng-show="showDBCtrl.isColumnShown(column_key)">
										{{column_value}}
									</td>
								</tr>
							</tbody>
						</table>
					</ion-scroll>
				</div>
			</div>
		</div>
	</ion-content>
</ion-pane>
