<ion-pane class="fact-finderanalysis">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <div class="headertitle-wrap">
				<div class="menu-iconlogo-wrapper">
					<a ng-click="ff3Ctrl.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
				</div>
				<div class="createlead-wrapper">
					<h2 class="header-title text-center">Fact Finder For Need Analysis</h2>
				</div>
                <div class="clearfix"></div>
            </div>

            <!-- TimeLine Wrapper -->
            <ff-timeline class="timeline-wrapper ff-timeline"></ff-timeline>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap">
            <form id="ffPage3Form" name="ffPage5Form"  novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group custom-form">
                            <label class="form-label">Preffered Payout Option<b style="color:red">*</b></label>
                            <div class="fact-radio-wrapper">
                                <div class="fact-wrapper yes-wrapper">
                                    <input type="radio" id="payoption" name="payoption" ng-model="ff3Ctrl.payoption" value="Lumpsum Payout at Maturity" ng-required="true"/>
                                    <label for="payoption" class="form-label">Lumpsum Payout at Maturity</label>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="fact-wrapper yes-wrapper">
                                    <input type="radio" id="payoption1" name="payoption" ng-model="ff3Ctrl.payoption" value="Regular Payout" ng-required="true"/>
                                    <label for="payoption1" class="form-label">Regular Payout</label>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-messages="ffPage5Form.payoption.$error" class="error-messages" ng-show="ffPage5Form.payoption.$invalid && (!ffPage5Form.payoption.$pristine || ff3Ctrl.click)">
                            <div ng-message="required">Please select Option.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group custom-form">
                                    <label class="form-label">If you had 1 Lakh, how would you like to invest it?<b style="color:red">*</b></label>
                                    <div class="custom-drp">
                                        <select class="form-control" name="invest" ng-model="ff3Ctrl.invest" placeholder="Select" required/>
                                        <option value="">Select</option>
                                        <option>Equity 90% and Debt 10 %</option>
                                        <option>Equity 60% and Debt 40 %</option>
                                        <option>Equity 30% and Debt 70 %</option>
                                        <option>Equity 0% and Debt 100 %</option>
                                        </select>
                                    </div>
                                </div>
                                <div ng-messages="ffPage5Form.invest.$error" class="error-messages" ng-show="ffPage5Form.invest.$invalid && (!ffPage5Form.invest.$pristine || ff3Ctrl.click)">
                                    <div ng-message="required">Please select Option.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group custom-form">
                            <label class="form-label">Are you comfortable investing in a Unit Linked Insurance Plan?<b style="color:red">*</b></label>
                            <div class="fact-radio-wrapper">
                                <div class="fact-wrapper yes-wrapper">
                                    <input type="radio" id="rdInvestingYes" name="rdInvesting" ng-model="ff3Ctrl.rdInvesting" value="Y" ng-change="ff3Ctrl.Changed()" required/>
                                    <label for="rdInvestingYes" class="form-label">Yes</label>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="fact-wrapper yes-wrapper">
                                    <input type="radio" id="rdInvestingNo" name="rdInvesting" ng-model="ff3Ctrl.rdInvesting" value="N" ng-change="ff3Ctrl.Changed()" required/>
                                    <label for="rdInvestingNo" class="form-label">No</label>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-messages="ffPage5Form.rdInvesting.$error" class="error-messages" ng-show="ffPage5Form.rdInvesting.$invalid && (!ffPage5Form.rdInvesting.$pristine || ff3Ctrl.click)">
                            <div ng-message="required">Please select Option.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="form-group custom-form">
                                    <label for="email" class="form-label"><span class="need-text">Fun</span>d Type<b style="color:red">*</b></label>
                                    <label for="email" class="form-label">*Allocation(%) *Total should be 100%</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group custom-form">
                                    <label for="email" class="form-label"><span class="need-text">Equ</span>ity Fund</label>
                                    <input type="number" class="form-control text-center" id="email3" placeholder="%" name="EquityFund" ng-model="ff3Ctrl.EquityFund" ng-maxlength="3" value="0" ng-change="ff3Ctrl.checkEquityVal()" ng-disabled="ff3Ctrl.rdInvesting=='N' || ff3Ctrl.rdInvesting == null" ng-required="ff3Ctrl.rdInvesting=='Y'"/>
                                </div>
                                <div style="color:red" ng-messages="ffPage5Form.EquityFund.$error" class="error-messages" ng-show="ffPage5Form.EquityFund.$invalid && !ffPage5Form.EquityFund.$pristine">
                                    <div style="color:red" ng-message="maxlength">Fund allocation cannot be more than 100%.</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group custom-form">
                                    <label for="email" class="form-label"><span class="need-text">Bal</span>anced Fund</label>
                                    <input type="number" class="form-control text-center" id="email4" placeholder="%"name="BalancedFund" ng-model="ff3Ctrl.BalancedFund" ng-maxlength="3" value="0" ng-change="ff3Ctrl.checkBalanceVal()" ng-disabled="ff3Ctrl.rdInvesting=='N' || ff3Ctrl.rdInvesting == null" ng-required="ff3Ctrl.rdInvesting=='Y'"/>
                                </div>
                                <div style="color:red" ng-messages="ffPage5Form.BalancedFund.$error" class="error-messages" ng-show="ffPage5Form.BalancedFund.$invalid && !ffPage5Form.BalancedFund.$pristine">
                                    <div style="color:red" ng-message="maxlength">Fund allocation cannot be more than 100%.</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group custom-form">
                                    <label for="email" class="form-label"><span class="need-text">Deb</span>t Fund</label>
                                    <input type="number" class="form-control text-center" id="email5" placeholder="%" name="DebtFund" ng-model="ff3Ctrl.DebtFund" ng-maxlength="3" value="0"  ng-change="ff3Ctrl.checkDebtVal()" ng-disabled="ff3Ctrl.rdInvesting=='N' || ff3Ctrl.rdInvesting == null" ng-required="ff3Ctrl.rdInvesting=='Y'"/>
                                </div>
                                <div style="color:red" ng-messages="ffPage5Form.DebtFund.$error" class="error-messages" ng-show="ffPage5Form.DebtFund.$invalid && !ffPage5Form.DebtFund.$pristine">
                                    <div style="color:red" ng-message="maxlength">Fund allocation cannot be more than 100%.</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                <div class="form-group custom-form">
                                    <label for="email" class="form-label"><span class="need-text">Tot</span>al</label>
                                    <input type="number" class="form-control text-center" id="email" placeholder="%"name="Total" ng-model="ff3Ctrl.Total"ng-maxlength="3" ng-disabled="true" />
                                </div>
                                <div ng-messages="ffPage5Form.Total.$error" class="error-messages" ng-show="ffPage5Form.Total.$invalid && !ffPage5Form.Total.$pristine">
                                    <div style="color:red" ng-message="maxlength"> Total needs to be 100 only.</div>
                                </div>
                                <span class="error-messages"> {{ff3Ctrl.fundError}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block pull-none">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="custom-btn form-btn-wrap">
                                            <button class="btn btn-default btn-block" ng-click="ff3Ctrl.Backbtn3()">Back</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                        <div class="custom-btn form-btn-wrap">
                                            <button class="btn btn-default btn-block" type="submit" ng-click="ff3Ctrl.ContSavePage5()">Continue</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </ion-content>
</ion-pane>
