<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<fd-timeline class="tab-nav"></fd-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<form id="familyMemberForm" name="family1.familyMemberForm" novalidate>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group custom-form">
						<label class="form-label">
							Family Details<span class="requiredStar">*</span>
						</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="Member in family1.FamilyArr">
					<span class="delete-button">
						<i class="fa fa-times-circle-o" aria-hidden="true" ng-click="family1.deleteBlock($index)"></i>
					</span>
					<div class="existing-policy-tile orange-border">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="policy-tile-count">
								1
							</span>
						</div>
						<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11 ">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group custom-form">
												<label class="form-label">Family member</label>
												<div class="custom-drp">
										<select class="form-control" name="familyMember{{$index}}" ng-model="Member.familyMember" ng-change="family1.disableOption($index)"  ng-options="option.RELATIONSHIP_DESC disable when ((family1.maritalStatus.MARITAL_CD=='S') && (option.NBFE_CODE=='95')) for option in family1.loadFamilyDetails track by option.NBFE_CODE" required>
										<option value="">Select</option>
													</select>
												</div>
											</div>
											<div ng-messages="family1.familyMemberForm['familyMember'+$index].$error" class="error-messages" ng-show="family1.familyMemberForm['familyMember'+$index].$invalid && (!family1.familyMemberForm['familyMember'+$index].$pristine || family1.click)">
									<div ng-message="required">Please Select Family Member</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group custom-form">
												<label class="form-label">Status</label>
												<div class="gender-radio-wrapper">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="rdFamilyDetailsAlive{{$index}}" name="rdFamilyStatus{{$index}}" value="L" ng-model="Member.rdFamilyStatus"  required/>
														<label for="rdFamilyDetailsAlive{{$index}}">Alive</label>
														<div class="clearfix"></div>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="rdFamilyDetailsDecreased{{$index}}" name="rdFamilyStatus{{$index}}" value="D" ng-model="Member.rdFamilyStatus"  required/>
														<label for="rdFamilyDetailsDecreased{{$index}}">Deceased</label>
														<div class="clearfix"></div>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="family1.familyMemberForm['rdFamilyStatus'+$index].$error" class="error-messages" ng-show="family1.familyMemberForm['rdFamilyStatus'+$index].$invalid && (!family1.familyMemberForm['rdFamilyStatus'+$index].$pristine || family1.click)">
												<div ng-message="required">Please Select Status</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label class="form-label">Current Age / Age at death</label>
										<input type="number" name="CurrAge{{$index}}" ng-model="Member.CurrAge" ng-maxlength="3"  class="form-control" required/>
									</div>
									<div ng-messages="family1.familyMemberForm['CurrAge'+$index].$error" class="error-messages" ng-show="family1.familyMemberForm['CurrAge'+$index].$invalid && (!family1.familyMemberForm['CurrAge'+$index].$pristine || family1.click)">
										<div ng-message="required">Please enter current Age or Age at death</div>
										<div ng-message="maxlength">Age cannot be greater than 3 digits.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label class="form-label">Health Status /Cause of death</label>
										<input type="text" name="status{{$index}}" ng-model="Member.status" ng-maxlength="40"  class="form-control" required/>
									</div>
									<div ng-messages="family1.familyMemberForm['status'+$index].$error" class="error-messages" ng-show="family1.familyMemberForm['status'+$index].$invalid && (!family1.familyMemberForm['status'+$index].$pristine || family1.click)">
										<div ng-message="required">Please enter Health Status or Cause of Death</div>
										<div ng-message="maxlength">Health status cannot be greater than 40 charcters.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 pull-right">
							<div class="custom-btn form-btn-wrap add-btn-wrap">
								<button class="btn btn-primary btn-block" ng-disabled="family1.familyMemberForm.$invalid" ng-click="family1.addMembers()"><i class="fa fa-plus add-color-white" aria-hidden="true"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="myapplicationdate-wrap">
						<span class="application-shortpara">
							Kindly Date Back *my Application No
						</span>
						<span class="application-shorttxtbox">
							<input type="date" name="appBackDateFrom" ng-model="family1.appFamilybean.appBackDateFrom" ng-disabled="true" class="form-control note-text"/>
						</span>
						<span class="application-shortpara">
							to
						</span>
						<span class="application-shorttxtbox">
							<input type="date" name="appBackDateTo" ng-model="family1.appFamilybean.appBackDateTo" ng-disabled="family1.flag!='Y'"  ng-change="family1.validateDate()" class="form-control note-text"/>
							<div ng-messages="family1.familyMemberForm.appBackDateTo.$error" ng-show="family1.familyMemberForm.appBackDateTo.$invalid && (!family1.familyMemberForm.appBackDateTo.$pristine || family1.click)">
							</div>
						</span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="familyDetailsul">
						<ul>
							<li>
								1. Allowed only as per product specifications.
							</li>
							<li>
								2. Allowed within the same financial year.
							</li>
							<li>
								3. DOB and date back should not be the same.
							</li>
							<li>
								4. In case of juvenile (less than 1 year) back date is not allowed.
							</li>
							<li>
								5. Date Back of policy is allowed only up to the official launch date of the Product.
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap add-btn-wrap">
								<button class="btn btn-default btn-block"  ng-click="family1.gotoFamilySection2(family1.familyMemberForm)">Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</ion-content>
