<ion-view>
	<ion-content has-bouncing ="false">
		<fhr-header></fhr-header>
		<div class="clearfix"></div>
		<div class="FHR-outerwrap FHR-goalsdetails" ng-style="{height: fhrchlg.outerWrapInnerHeight +'px'}">
			<fhr-left-personal-details></fhr-left-personal-details>
			<!-- Other -->
			<div class="other-titlewrap">
				<div class="other-innertitlewrap">
					<div class="innercontent-wrap other-tab">
						<a href="javascript:void(0);" ng-click="fhrchlg.redirObj.gotoOthersTab();"><span class="fhr-tab-title tab-other-tilte">Other</span></a>
					</div>
				</div>
			</div>
			<!-- Goals -->
			<div class="innercontent-wrap tab-innercontent-wrap">
				<form name="fhrChildGoalsForm" id="fhrChildGoalsForm" novalidate style="position:relative">
					<ion-content has-bouncing ="false">
						<div class="fhr-container fhr-goals">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h2 class="fhr-title"><span class="fhr-title-icon"><img src="../img/icon_child_goal.svg" alt="Child Goal" /></span><span>Child Goal</span></h2>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="form-group custom-form">
											<label class="form-label">Child's Name <span class="requiredStar">*</span> </label>
											<input type="text" name="childFirstName" ng-model="fhrchlg.childFirstName" class="form-control custom-form" placeholder="First Name"
											ng-maxlength="20" ng-pattern="fhrchlg.nameRegex" required/>
										</div>
										<div ng-messages="fhrChildGoalsForm.childFirstName.$error" class="error-messages" ng-show="fhrChildGoalsForm.childFirstName.$invalid && !fhrChildGoalsForm.childFirstName.$pristine">
											<div ng-message="required">First name cannot be empty.</div>
											<div ng-message="pattern">Please use text and ' or - only.</div>
											<div ng-message="maxlength">Maximum 20 char only.</div>
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="form-group custom-form">
											<label class="form-label">Middle Name</label>
											<input type="text" name="childMiddleName" ng-model="fhrchlg.childMiddleName" class="form-control custom-form" placeholder="Middle Name"
											ng-maxlength="20" ng-pattern="fhrchlg.nameRegex" />
										</div>
										<div ng-messages="fhrChildGoalsForm.childMiddleName.$error" class="error-messages" ng-show="fhrChildGoalsForm.childMiddleName.$invalid && !fhrChildGoalsForm.childMiddleName.$pristine">
											<div ng-message="pattern">Please use text and ' or - only.</div>
											<div ng-message="maxlength">Maximum 20 char only.</div>
										</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<div class="form-group custom-form">
											<label class="form-label">Last Name <span class="requiredStar">*</span></label>
											<input type="text" name="childLastName" ng-model="fhrchlg.childLastName" class="form-control custom-form" placeholder="Last Name"
											ng-maxlength="20" ng-pattern="fhrchlg.nameRegex" required />
										</div>
										<div ng-messages="fhrChildGoalsForm.childLastName.$error" class="error-messages" ng-show="fhrChildGoalsForm.childLastName.$invalid && !fhrChildGoalsForm.childLastName.$pristine">
											<div ng-message="required">Last name cannot be empty.</div>
											<div ng-message="pattern">Please use text and ' or - only.</div>
											<div ng-message="maxlength">Maximum 20 char only.</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end first block  -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group custom-form custom-margin">
													<label class="form-label">Child's Date of Birth <span class="requiredStar">*</span></label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="child_dob_wrp">
													<div class="dob-select-wrp">
														<div class="form-group custom-form custom-drp">
															<select class="form-control" id="childDobDate" name="childDobDate" ng-options="option.LABEL for option in fhrchlg.datesList track by option.LABEL" ng-model="fhrchlg.childDobDate" ng-change="fhrchlg.calculateChildCurrentAge();" select-required>
																<option value="" selected hidden />
															</select>
														</div>
														<div ng-messages="fhrChildGoalsForm.childDobDate.$error" class="error-messages" ng-show="fhrChildGoalsForm.childDobDate.$invalid && !fhrChildGoalsForm.childDobDate.$pristine">
															<div ng-message="selectRequired">Please select date.</div>
														</div>
													</div>
													<div class="dob-select-wrp">
														<div class="form-group custom-form custom-drp">
															<select class="form-control" id="childDobMonth" name="childDobMonth" ng-options="option.LABEL for option in fhrchlg.monthList track by option.LABEL" ng-model="fhrchlg.childDobMonth" ng-change="fhrchlg.calculateChildCurrentAge();" select-required>
																<option value="" selected hidden />
															</select>
														</div>
														<div ng-messages="fhrChildGoalsForm.childDobMonth.$error" class="error-messages" ng-show="fhrChildGoalsForm.childDobMonth.$invalid && !fhrChildGoalsForm.childDobMonth.$pristine">
															<div ng-message="selectRequired">Please select month.</div>
														</div>
													</div>
													<div class="dob-select-wrp">
														<div class="form-group custom-form custom-drp">
															<select class="form-control" id="childDobYear" name="childDobYear" ng-options="option.LABEL for option in fhrchlg.yearsList track by option.LABEL" ng-model="fhrchlg.childDobYear" ng-change="fhrchlg.calculateChildCurrentAge();" select-required>
																<option value="" selected hidden />
															</select>
														</div>
														<div ng-messages="fhrChildGoalsForm.childDobYear.$error" class="error-messages" ng-show="fhrChildGoalsForm.childDobYear.$invalid && !fhrChildGoalsForm.childDobYear.$pristine">
															<div ng-message="selectRequired">Please select year.</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End left part  -->
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fhr-radio-wrap">
												<div class="form-group custom-form">
													<label class="form-label">Goal to be planned</label>
													<div class="gender-radio-wrapper">
														<div class="row">
															<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
																<div class="fhr-multi-radio radio-edu-icon">
																	<input type="radio" id="rdGoalsPlannedEdu" name="rdGoalsPlanned" value="Childs Education"  ng-model="fhrchlg.goalPlan" required />
																	<label for="rdGoalsPlannedEdu"></label>
																	<p class="fhr-radio-lbl">Education</p>
																	<div class="clearfix"></div>
																</div>
															</div>
															<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
																<div class="fhr-multi-radio radio-marraige-icon">
																	<input type="radio" id="rdGoalsPlannedMarriage" name="rdGoalsPlanned" value="Childs Marriage" ng-model="fhrchlg.goalPlan" required />
																	<label for="rdGoalsPlannedMarriage"></label>
																	<p class="fhr-radio-lbl">Marriage</p>
																	<div class="clearfix"></div>
																</div>
															</div>
															<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
																<div class="fhr-multi-radio radio-business-icon">
																	<input type="radio" id="rdGoalsPlannedBusi" name="rdGoalsPlanned" value="Childs Wealth" ng-model="fhrchlg.goalPlan" required />
																	<label for="rdGoalsPlannedBusi"></label>
																	<p class="fhr-radio-lbl">Business<br> Start-up</p>
																	<div class="clearfix"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div ng-messages="fhrChildGoalsForm.rdGoalsPlanned.$error" class="error-messages" ng-show="fhrChildGoalsForm.rdGoalsPlanned.$invalid && !fhrChildGoalsForm.rdGoalsPlanned.$pristine">
													<div ng-message="required">Please select a Goal to be planned.</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End right part  -->
								</div>
							</div>
							<!-- end second block  -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Money is required at the age of<span class="requiredStar">*</span></label>
									<div class="custom-form-plus-minus">
										<button ng-click="fhrchlg.moneyReqAge = (fhrchlg.moneyReqAge>1?fhrchlg.moneyReqAge-1:fhrchlg.moneyReqAge)"> -</button>
										<input type="number" class="dec-inc_field" name="moneyReqAge" id="moneyReqAge" ng-model="fhrchlg.moneyReqAge" ng-min="fhrchlg.minAgeWhenMoneyReq" ng-max="99" required/>
										<button ng-click="fhrchlg.moneyReqAge = fhrchlg.moneyReqAge+1">+</button>
									</div>
									<span class="fhr-value-field">(years)</span>
								</div>
								<div ng-messages="fhrChildGoalsForm.moneyReqAge.$error" class="error-messages" ng-show="fhrChildGoalsForm.moneyReqAge.$invalid">
									<div ng-message="required">Please enter Money required at the age.</div>
									<div ng-message="max">Age cannot be greater than 99 Years.</div>
									<!--<div ng-message="min">Age cannot be less than {{fhrchlg.minAgeWhenMoneyReq}} Years.</div>        -->
									<div ng-message="min">Years to goal cannot be less than 10 yrs.</div>
								</div>
							</div>
							<!-- end third block  -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Current Cost</label>
									<rzslider class="custom-slider" rz-slider-model="fhrchlg.currentCost.value" rz-slider-options="fhrchlg.currentCost.options"></rzslider>
								</div>
							</div>
							<!-- end 4th block  -->
							
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row">
									<div class="child-goal-3block">
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<div class="form-group custom-form">
												<label class="form-label">Current Savings<span class="requiredStar">*</span></label>
												<div class="custom-form-plus-minus">
													<button ng-click="fhrchlg.currSavings = (fhrchlg.currSavings>1?fhrchlg.currSavings-10000:fhrchlg.currSavings)"> -</button>
													<input type="number" class="dec-inc_field" name="currSavings" id="currSavings" ng-model="fhrchlg.currSavings" ng-min="0" ng-max="10000000" required/>
													<button ng-click="fhrchlg.currSavings = fhrchlg.currSavings+10000">+</button>
												</div>
												<span class="fhr-value-field">(Rs)</span>
											</div>
											<div ng-messages="fhrChildGoalsForm.currSavings.$error" class="error-messages" ng-show="fhrChildGoalsForm.currSavings.$invalid">
												<div ng-message="required">Please enter Current Savings.</div>
												<div ng-message="max">Current Savings cannot be greater than 10000000.</div>
												<div ng-message="min">Current Savings cannot be less than zero.</div>
											</div>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<div class="form-group custom-form">
												<label class="form-label">Expected return on Investment<span class="requiredStar">*</span></label>
												<div class="custom-form-plus-minus">
													<button ng-click="fhrchlg.expReturn = (fhrchlg.expReturn>1?fhrchlg.expReturn-1:fhrchlg.expReturn)"> -</button>
													<input type="number" class="dec-inc_field"  name="expReturn" id="expReturn" ng-model="fhrchlg.expReturn" ng-min="fhrchlg.inflRate" ng-max="10" required/>
													<button ng-click="fhrchlg.expReturn = fhrchlg.expReturn+1">+</button>
												</div>
												<span class="fhr-value-field">(%)</span>
											</div>
											<div ng-messages="fhrChildGoalsForm.expReturn.$error" class="error-messages" ng-show="fhrChildGoalsForm.expReturn.$invalid">
												<div ng-message="required">Please enter expected return.</div>
												<div ng-message="max">Return cannot be greater than 10%.</div>
												<div ng-message="min">Return cannot be less than inflation rate.</div>
											</div>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<div class="form-group custom-form">
												<label class="form-label">Rate of Inflation<span class="requiredStar">*</span></label>
												<div class="custom-form-plus-minus">
													<button ng-click="fhrchlg.inflRate = (fhrchlg.inflRate>1?fhrchlg.inflRate-1:fhrchlg.inflRate)"> -</button>
													<input type="number" class="dec-inc_field" placeholder="Rate of Inflation" name="inflRate" id="inflRate" ng-model="fhrchlg.inflRate" ng-min="5" ng-max="10" required/>
													<button  ng-click="fhrchlg.inflRate = fhrchlg.inflRate+1">+</button>
												</div>
												<span class="fhr-value-field">(%)</span>
											</div>
											<div ng-messages="fhrChildGoalsForm.inflRate.$error" class="error-messages" ng-show="fhrChildGoalsForm.inflRate.$invalid">
												<div ng-message="required">Please enter Rate of Inflation.</div>
												<div ng-message="max">Rate cannot be greater than 10%.</div>
												<div ng-message="min">Rate cannot be less than 5%.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</ion-content>
				</form>
			</div>
			<!-- Outputs -->
			<div class="output-titlewrap">
				<div class="output-innertitlewrap">
					<div class="innercontent-wrap output-tab">
						<a href="javascript:void(0);" ng-click="(fhrchlg.goalsCountData.childsCount == 0 && fhrchlg.goalsCountData.retirementCount == 0 && fhrchlg.goalsCountData.protectionCount == 0 && fhrchlg.goalsCountData.wealthCount == 0) ? fhrchlg.redirObj.showError('Please add atleast 1 goal.') : fhrchlg.redirObj.gotoOutputTab();"><span class="fhr-tab-title tab-output-title">Output</span></a>
					</div>
				</div>
			</div>
			<!-- Recommendation -->
			<div class="recommendation-titlewrap">
				<div class="recommendation-innertitlewrap">
					<div class="innercontent-wrap recommendation-tab">
						<a href="javascript:void(0);" ng-click="(fhrchlg.goalsCountData.childsCount == 0 && fhrchlg.goalsCountData.retirementCount == 0 && fhrchlg.goalsCountData.protectionCount == 0 && fhrchlg.goalsCountData.wealthCount == 0) ? fhrchlg.redirObj.showError('Please add atleast 1 goal.') : fhrchlg.redirObj.gotoRecommendationTab();"><span class="fhr-tab-title tab-recomm-tilte">Recommendation</span></a>
					</div>
				</div>
			</div>
			
			<div class="fhr-next-btn" style="right:10px">
				<button class="next-btn-link" ng-disabled="fhrChildGoalsForm.$invalid" type="submit" ng-click="fhrchlg.onNext(fhrChildGoalsForm)">
					<span class="next-btn-txt">Next</span>
					<span  ng-class="(fhrChildGoalsForm.$invalid) ? 'next-btn-icon next-btn-icon-disabled' : 'next-btn-icon'">
						<i class="fa fa-arrow-right"></i>
					</span>
				</button>
			</div>
			<div class="fhr-next-btn fhr-prev-btn">
				<button class="next-btn-link" type="submit" ng-click="fhrchlg.onPrev()">
					<span class="next-btn-icon">
						<i class="fa fa-arrow-left"></i>
					</span>
					<span class="next-btn-txt">Prev</span>
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
