<ion-pane>
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <div class="headertitle-wrap">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a ng-click="dc.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
                    <h2 class="header-title text-center">Disclaimer</h2>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <section class="disclaimer_container">
            <div class="disclaimer_wrap">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div>
                            <div class="disclaimer">
                                <div class="disclaimer_head1">Disclaimer’s</div>
                                <ul>
                                    <li>Insurance is the subject matter of the solicitation</li>
                                    <li>These products are underwritten by Tata AIA Life Insurance Company Limited</li>
                                    <li>
                                        For more details on risk factors, terms and conditions please read sales brochure carefully
                                        before concluding a sale
                                    </li>
                                    <li>Tax benefits are as per Income Tax Act,1961, and are subject to modifications made thereto
                                        from time to time. Please consult your own tax consultant to know the tax benefit available
                                        to you.
                                    </li>
                                    <li>Insurance cover is available under these products.</li>
                                    <li>Riders are not mandatory and are available for a nominal extra cost</li>
                                    <li>Service tax and TDS are applicable as per governing laws. Tata AIA Life Insurance Company Limited
                                        reserves the right to recover/ deduct from the policyholder, any levies and duties (including service tax
                                        and TDS), as imposed by the government from time to time. Kindly refer the sales illustration for the
                                        exact premium.
                                    </li>
                                    <li>You can opt for Combo Solutions or individual products as per requirement.</li>
                                </ul>
                            </div>

                            <div class="dis_box" >
                                Beware of Spurious Phone calls and Fictitious/Fraudulent offers. IRDA of India clarifies to public that
                                <ul>
                                    <li>IRDA of India or its officials do not involve in activities like sale of any kind of insurance or financial products nor invest premiums.</li>
                                    <li>IRDA of India does not announce any bonus. Public receiving such phone calls are requested to lodge a police complaint along with details of phone call, number.</li>
                                </ul>
                            </div>

                            <div class="disclaimer">
                                <ul>
                                    <li>Advisor as a part of the relationship, will be authorised to use the application to solicit business from the customers’ of the Company only. Any usage for other financial services customer will be construed as a breach of this contract.</li>
                                    <li>The Company shall be the sole owner of the data originated from Good Connect application
                                        and the Agent shall have no right over the same.</li>
                                </ul>
                            </div>

                            <div class="disclaimer">
                                <div class="disclaimer_head">Products</div>
                                <ul>
                                    <li ng-repeat="product in dc.productList">{{product}}</li>
                                </ul><br/>
                                For complete details please contact our Insurance advisor or visit Tata AIA Life's nearest branch office or call our toll free number 1-800-267-9966 (facility available to MTNL and BSNL users) and 1-860-266-9966 (facility available from all mobile and landlines wherein local charges would apply) or write to us at <span><a> customercare@tataaia.com</a> </span>Visit us at or SMS 'LIFE' to 58888.<br/><br/>
                                <!-- <li>Tata AIA Life Insurance Vital Care Pro -  UIN: 110N128V01 (Vital Care Pro)</li>
                                 <li>Tata AIA Life Insurance Sampoorna Raksha -  UIN: 110N129V01 (Sampoorna Raksha)</li>
                                 <li>Tata AIA Life Insurance Sampoorna Raksha+ -  UIN: 110N130V01 (Sampoorna Raksha+)</li> -->
                                Registered with Insurance Regulatory & Development Authority (IRDA) under the following Address and Registration Number: Tata AIA Life Insurance Company Ltd. (IRDA of India Regn. No. 110)
                                Registered & Corporate Office Address: 14th Floor, Tower A, Peninsula Business Park, Senapati Bapat Marg, Lower Parel, Mumbai 400013.
                                Tata AIA Life Insurance Company Ltd (Tata AIA Life) is a joint venture company, formed by Tata Sons and AIA Group Ltd (AIA). CIN: U66010MH2000PLC128403
                                <br/>L&amp;C/Advt/2015/Oct/536
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </ion-content>
</ion-pane>
