<ion-pane class="sis-height">
    <ion-header-bar class="fixed-bar">
        <!-- Header -->
        <div class="sis-header-wrap">
		<sis-header></sis-header>
        </div>
        
        <!-- Timeline -->
        <div class="SIStimeline-wrapper">
		<sis-timeline></sis-timeline>
        </div>
    </ion-header-bar>
    
    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <view-sis-output class="pdf-outputwrapper" dbl-click-2-zoom></view-sis-output>
    </ion-content>
    
    
    <!-- Bottom Button Wrapper -->
    <div class="bottom-buttonwrap">
        <div class="sis-form-wrap">
            <div class="custom-footer">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="fact-middle-button bottom-fixed gen-application-btn-wrap">
								<ul>
									<li ng-show="sc.showSaveButton">
										<div class="custom-btn form-btn-wrap fact-btn-left">
											<button class="btn btn-default btn-block" ng-click="sc.saveSisReportFile()">Save</button>
										</div>
									</li>
									<li><!--ng-show="sc.CurrentPageIndex!='COMBO'" COMMENTED FOR SINGLE SIS - Akhil - 22 Dec 2016 -->
										<div class="custom-btn form-btn-wrap fact-btn-left">
											<button class="btn btn-default btn-block" ng-click="sc.shareSIS()">Share</button>
										</div>
									</li>
									<li ng-show="sc.showSignatureButton">
										<div class="custom-btn form-btn-wrap fact-btn-left">
											<button class="btn btn-default btn-block" ng-click="sc.signSisReportFile()" ng-disabled="sc.disableSignature">Sign</button>
										</div>
									</li>

									<li ng-show="sc.showNextButtonForBase">
										<div class="custom-btn form-btn-wrap fact-btn-left">
											<button class="btn btn-default btn-block" ng-click="sc.onClickNextForBase()">Go To Base SIS</button>
										</div>
									</li>
									<li ng-show="sc.showNextButton">
										<div class="custom-btn form-btn-wrap fact-btn-left">
											<button class="btn btn-default btn-block" ng-click="sc.onClickNextForTerm()">Go To Term SIS</button>
										</div>
									</li>
									<li ng-show="sc.showProceedButton">
										<div class="custom-btn form-btn-wrap fact-btn-left">
											<button class="btn btn-default btn-block" ng-disabled="sc.disableProceed" ng-click="sc.sisProceed()">Proceed</button>
										</div>
									</li>
									<li ng-show="sc.showExitButton">
										<div class="custom-btn form-btn-wrap fact-btn-left">
											<button class="btn btn-default btn-block" ng-click="sc.sisExit()">Exit</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
</ion-pane>
