<ion-pane class="fact-finderanalysis">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <div class="headertitle-wrap">
				<div class="menu-iconlogo-wrapper">
					<a ng-click="ff5Ctrl.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
				</div>
				<div class="createlead-wrapper">
					<h2 class="header-title text-center">Fact Finder For Need Analysis</h2>
				</div>
                <div class="clearfix"></div>
            </div>

            <!-- TimeLine Wrapper -->
            <div class="timeline-wrapper ff-timeline">
                <div class="new-timeline">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="time-line-head" style="position:relative;">
                            <div class="time-line-divider"></div>
                            <ul>
                                <li>
                                    <a href="javascript:void">
                                        <span style="background:#1c2535; width:50px; height:40px; display:inline-block">
                                            <span class="time-line-count">1</span>
                                        </span>
                                        <span class="timeline-content">Mandatory<br> Fields</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void">
                                        <span style="background:#1c2535; width:50px; height:40px; display:inline-block">
                                            <span class="time-line-count ">2</span>
                                        </span>
                                        <span class="timeline-content">Need Identification<br>&amp; Prioritization</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void">
                                        <span style="background:#1c2535; width:50px; height:40px; display:inline-block">
                                            <span class="time-line-count">3</span>
                                        </span>
                                        <span class="timeline-content">Prefered Payout<br> Option &amp; Risk<br> Assessment</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void">
                                        <span style="background:#1c2535; width:50px; height:40px; display:inline-block">
                                            <span class="time-line-count">4</span>
                                        </span>
                                        <span class="timeline-content">Product<br>Recommendations</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void" class="anchor-active">
                                        <span style="background:#1c2535; width:50px; height:40px; display:inline-block">
                                            <span class="time-line-count time-active">5</span>
                                        </span>
                                        <span class="timeline-content">Customer’s<br>Consent</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="fact-radio-wrapper">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="fact-wrapper yes-wrapper">
                                <input type="radio" id="rdInvestEquity1" name="rdInvest" ng-model="ff5Ctrl.rdInvest" value="The above recommendation is based on the information provided by me and as documented in this form. I have explained about the features of the products / and / funds / and believe it would be suitable for me based on my insurance needs and financial objectives"   ng-required="true"/>
                                <label for="rdInvestEquity1" class="form-label">The above recommendation is based on the information provided by me and as documented in this form. I have explained about the features of the products / and / funds / and believe it would be suitable for me based on my insurance needs and financial objectives.</label>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="fact-wrapper yes-wrapper">
                                <input type="radio" id="rdInvestEquity2" name="rdInvest" ng-model="ff5Ctrl.rdInvest" value="I do not agree with the above recommendation and have opted for alternate products for my need."  ng-required="true"/>
                                <label for="rdInvestEquity2" class="form-label">I do not agree with the above recommendation and have opted for alternate products for my need. </label>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="fact-wrapper yes-wrapper">
                                <input type="radio" id="rdInvestEquity3" name="rdInvest" ng-model="ff5Ctrl.rdInvest" value="I agree with the product recommendation made above but DO NOT agree with the choice of fund ( only for ULIP products.)"  ng-required="true"/>
                                <label for="rdInvestEquity3" class="form-label">I agree with the product recommendation made above but DO NOT agree with the choice of fund ( only for ULIP products.)</label>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="fact-middle-button">
                            <div class="col-xs-12 col-sm-offset-3 col-sm-3 col-md-3">
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button class="btn btn-default btn-block" ng-click="ff5Ctrl.BackPage5()">Back</button>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <div class="custom-btn form-btn-wrap fact-btn-right">
                                    <button class="btn btn-default btn-block" ng-click="ff5Ctrl.ContSavePage5()">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>
