<div class="row">
    <div class="col col-80 col-offset-10">
        <button class="button button-block button-positive" type="button" ng-click="odc.optDwnldBtnClick()">
            Download
        </button>
    </div>
</div>
