<ion-content has-bouncing="false" class="dashboard-content-wrap">
    <section class="download-section">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h2 class="down-header-title text-center">Downloads</h2>
                    <product-docs-list></product-docs-list>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h2 class="down-header-title text-center">Resource</h2>
                    <resources-docs-list></resources-docs-list>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
</ion-content>

<!-- Bottom Button Wrapper -->
<div class="bottom-buttonwrap">
    <div class="sis-form-wrap">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="custom-footer">
                <div class="fact-middle-button bottom-fixed gen-application-btn-wrap ff-btn-wrap">
                    <ul>
                        <li>
                            <li>
                                <div class="custom-btn form-btn-wrap fact-btn-left">
                                    <button class="btn btn-default btn-block" ng-click="op.optDwnldBtnClick(op.productDocsList,op.resourceDocsList)">
                                        Download
                                    </button>
                                </div>
                            </li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
