<div class="chk-down" ng-repeat="product in op.productDocsList">
    <div class="checkbox-down checkbox-download">
        <input type="checkbox" name="downloadProdList{{$index}}" ng-change="op.onChange('product',product)" ng-model="product.checked" id="downloadProdList{{$index}}">
        <label for="downloadProdList{{$index}}">{{ product.DCNM + product.DCTP }}</label>
    </div>
</div>
