<div class="chk-down" ng-repeat="resource in op.resourceDocsList">
    <div class="checkbox-down checkbox-download">
        <input type="checkbox" name="downloadResList{{$index}}" ng-change="op.onChange('resource',resource)" ng-model="resource.checked" id="downloadResList{{$index}}">
        <label for="downloadResList{{$index}}">{{ resource.DCNM + resource.DCTP }}</label>
    </div>
</div>
