<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<rq-timeline class="tab-nav"></rq-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<section class="quetionaire_block">
				<form id="mwpQuesForm" name="mwpQuesForm" novalidate>
					<div class="row" ng-show="mwpC.isDone">
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="mwpC.showPreview()">preview Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="mwpC.reGenerate()">Regenerate Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="mwpC.onNext()">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-hide="mwpC.isDone">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">ADDENDUM TO APPLICATION - {{mwpC.LoadData.custType}}</label>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">
													I hereby declare and opt for the policy to be issued under the Married Women’s Property Act,
													1874. I fully understand that this document shall constitute a part and parcel of my proposal form for
													insurance and I hereby further declare that the above stated information is to the best of my
													knowledge true and complete in every respect and agree that any incorrect information stated
													above may invalidate the contract
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<div class="check-box-wrap">
													<input type="checkbox" id="mwpAnsDeclrsn" name="mwpAnsDeclrsn" ng-model="mwpC.mwpQuesData.ANS_Declaration" required/>
													<label for="mwpAnsDeclrsn">I have read and understood the declarations</label>
												</div>
												<div class="clearfix"></div>
											</div>
											<div ng-messages="mwpQuesForm.mwpAnsDeclrsn.$error" class="error-messages" ng-show="mwpQuesForm.mwpAnsDeclrsn.$invalid && (!mwpQuesForm.mwpAnsDeclrsn.$pristine || mwpC.genOpClick)">
												<div ng-message="required">Please accept the declaration.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">
													Particulars of Beneficiary (ies):<br/>
													<i>Please note that in all cases the beneficiaries can only be the Wife and/or Wife & child (ren).</i>
												</label>
												<div class="table-responsive">
													<table class="table table-bordered">
														<thead>
														<tr>
															<th class="text-center">Sr No</th>
															<th class="text-center">Name</th>
															<th class="text-center">Relationship with Insured</th>
															<th class="text-center">Age (Yrs)</th>
														</tr>
														</thead>
														<tbody>
														<tr>
															<td nowrap>
																<div>
																	<input type="number" class="form-control" value="1" ng-disabled="true">
																</div>
															</td>
															<td nowrap>
																<div >
																	<input type="text" class="form-control" name="mwpAns21a" ng-model="mwpC.mwpQuesData.ANS_21a" required  ng-maxlength="40">
																	<div ng-messages="mwpQuesForm.mwpAns21a.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns21a.$invalid && (!mwpQuesForm.mwpAns21a.$pristine || mwpC.genOpClick)">
																		<div ng-message="required">Field cannot be empty.</div>
																		<div ng-message="maxlength">only 40 characters.</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="text" class="form-control" name="mwpAns21b" ng-model="mwpC.mwpQuesData.ANS_21b" required  ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns21b.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns21b.$invalid && (!mwpQuesForm.mwpAns21b.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="number" class="form-control" name="mwpAns21c" ng-model="mwpC.mwpQuesData.ANS_21c" required  ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns21c.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns21c.$invalid && (!mwpQuesForm.mwpAns21c.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td nowrap>
																<div >
																	<input type="number" class="form-control" value="2" ng-disabled="true">
																	<!--<input type="number" class="form-control" name="mwpAns21a" ng-model="mwpC.mwpQuesData.ANS_21a" required  >-->
																	<!--<div ng-messages="mwpQuesForm.mwpAns21a.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns21a.$invalid && (!mwpQuesForm.mwpAns21a.$pristine || mwpC.genOpClick)">-->
																	<!--<div ng-message="required">Field cannot be empty.</div>-->
																	<!--</div>-->
																</div>
															</td>
															<td nowrap>
																<div >
																	<input type="text" class="form-control" name="mwpAns22a" ng-model="mwpC.mwpQuesData.ANS_22a" ng-maxlength="40">
																	<div ng-messages="mwpQuesForm.mwpAns22a.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns22a.$invalid && (!mwpQuesForm.mwpAns22a.$pristine || mwpC.genOpClick)">
																		<div ng-message="required">Field cannot be empty.</div>
																		<div ng-message="maxlength">only 40 characters.</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="text" class="form-control" name="mwpAns22b" ng-model="mwpC.mwpQuesData.ANS_22b" ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns22b.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns22b.$invalid && (!mwpQuesForm.mwpAns22b.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="number" class="form-control" name="mwpAns22c" ng-model="mwpC.mwpQuesData.ANS_22c" ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns22c.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns22c.$invalid && (!mwpQuesForm.mwpAns22c.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td nowrap>
																<div >
																	<input type="number" class="form-control" value="3" ng-disabled="true">
																	<!--<input type="number" class="form-control" name="mwpAns21a" ng-model="mwpC.mwpQuesData.ANS_21a" required  >-->
																	<!--<div ng-messages="mwpQuesForm.mwpAns21a.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns21a.$invalid && (!mwpQuesForm.mwpAns21a.$pristine || mwpC.genOpClick)">-->
																	<!--<div ng-message="required">Field cannot be empty.</div>-->
																	<!--</div>-->
																</div>
															</td>
															<td nowrap>
																<div >
																	<input type="text" class="form-control" name="mwpAns23a" ng-model="mwpC.mwpQuesData.ANS_23a" ng-maxlength="40">
																	<div ng-messages="mwpQuesForm.mwpAns23a.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns23a.$invalid && (!mwpQuesForm.mwpAns23a.$pristine || mwpC.genOpClick)">
																		<div ng-message="required">Field cannot be empty.</div>
																		<div ng-message="maxlength">only 40 characters.</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="text" class="form-control" name="mwpAns23b" ng-model="mwpC.mwpQuesData.ANS_23b" ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns23b.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns23b.$invalid && (!mwpQuesForm.mwpAns23b.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="number" class="form-control" name="mwpAns23c" ng-model="mwpC.mwpQuesData.ANS_23c" ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns23c.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns23c.$invalid && (!mwpQuesForm.mwpAns23c.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
														</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">
													Trustee/s Details
												</label>
												<div class="table-responsive">
													<table class="table table-bordered">
														<thead>
														<tr>
															<th class="text-center">Sr No</th>
															<th class="text-center">Name</th>
															<th class="text-center">Address</th>
															<th class="text-center">Signature for agreeing to act as special trustee</th>
														</tr>
														</thead>
														<tbody>
														<tr>
															<td nowrap>
																<div >
																	<input type="number" class="form-control" value="1" ng-disabled="true">
																	<!--<input type="number" class="form-control" name="mwpAns21a" ng-model="mwpC.mwpQuesData.ANS_21a" required  >-->
																	<!--<div ng-messages="mwpQuesForm.mwpAns21a.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns21a.$invalid && (!mwpQuesForm.mwpAns21a.$pristine || mwpC.genOpClick)">-->
																	<!--<div ng-message="required">Field cannot be empty.</div>-->
																	<!--</div>-->
																</div>
															</td>
															<td nowrap>
																<div >
																	<input type="text" class="form-control" name="mwpAns41a" ng-model="mwpC.mwpQuesData.ANS_41a" required  ng-maxlength="40">
																	<div ng-messages="mwpQuesForm.mwpAns41a.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns41a.$invalid && (!mwpQuesForm.mwpAns41a.$pristine || mwpC.genOpClick)">
																		<div ng-message="required">Field cannot be empty.</div>
																		<div ng-message="maxlength">only 40 characters.</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="text" class="form-control" name="mwpAns41b" ng-model="mwpC.mwpQuesData.ANS_41b" required  ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns41b.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns41b.$invalid && (!mwpQuesForm.mwpAns41b.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="text" class="form-control" name="mwpAns41c" ng-model="mwpC.mwpQuesData.ANS_41c" required  ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns41c.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns41c.$invalid && (!mwpQuesForm.mwpAns41c.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td nowrap>
																<div >
																	<input type="number" class="form-control" value="2" ng-disabled="true">
																	<!--<input type="number" class="form-control" name="mwpAns21a" ng-model="mwpC.mwpQuesData.ANS_21a" required  >-->
																	<!--<div ng-messages="mwpQuesForm.mwpAns21a.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns21a.$invalid && (!mwpQuesForm.mwpAns21a.$pristine || mwpC.genOpClick)">-->
																	<!--<div ng-message="required">Field cannot be empty.</div>-->
																	<!--</div>-->
																</div>
															</td>
															<td nowrap>
																<div >
																	<input type="text" class="form-control" name="mwpAns42a" ng-model="mwpC.mwpQuesData.ANS_42a" ng-maxlength="40">
																	<div ng-messages="mwpQuesForm.mwpAns42a.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns42a.$invalid && (!mwpQuesForm.mwpAns42a.$pristine || mwpC.genOpClick)">
																		<div ng-message="required">Field cannot be empty.</div>
																		<div ng-message="maxlength">only 40 characters.</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="text" class="form-control" name="mwpAns42b" ng-model="mwpC.mwpQuesData.ANS_42b" ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns42b.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns42b.$invalid && (!mwpQuesForm.mwpAns42b.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="text" class="form-control" name="mwpAns42c" ng-model="mwpC.mwpQuesData.ANS_42c" ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns42c.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns42c.$invalid && (!mwpQuesForm.mwpAns42c.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
														</tr>
														<tr>
															<td nowrap>
																<div >
																	<input type="number" class="form-control" value="3" ng-disabled="true">
																	<!--<input type="number" class="form-control" name="mwpAns21a" ng-model="mwpC.mwpQuesData.ANS_21a" required  >-->
																	<!--<div ng-messages="mwpQuesForm.mwpAns21a.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns21a.$invalid && (!mwpQuesForm.mwpAns21a.$pristine || mwpC.genOpClick)">-->
																	<!--<div ng-message="required">Field cannot be empty.</div>-->
																	<!--</div>-->
																</div>
															</td>
															<td nowrap>
																<div >
																	<input type="text" class="form-control" name="mwpAns43a" ng-model="mwpC.mwpQuesData.ANS_43a" ng-maxlength="40">
																	<div ng-messages="mwpQuesForm.mwpAns43a.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns43a.$invalid && (!mwpQuesForm.mwpAns43a.$pristine || mwpC.genOpClick)">
																		<div ng-message="required">Field cannot be empty.</div>
																		<div ng-message="maxlength">only 40 characters.</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="text" class="form-control" name="mwpAns43b" ng-model="mwpC.mwpQuesData.ANS_43b" ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns43b.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns43b.$invalid && (!mwpQuesForm.mwpAns43b.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
															<td nowrap>
																<div >
																	<div >
																		<input type="text" class="form-control" name="mwpAns43c" ng-model="mwpC.mwpQuesData.ANS_43c" ng-maxlength="25">
																		<div ng-messages="mwpQuesForm.mwpAns43c.$error" class="error-messages" ng-show="mwpQuesForm.mwpAns43c.$invalid && (!mwpQuesForm.mwpAns43c.$pristine || mwpC.genOpClick)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">only 25 characters.</div>
																		</div>
																	</div>
																</div>
															</td>
														</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-default btn-block" type="button" ng-click="mwpC.onGenerateOutput(mwpQuesForm)">Generate Output</button>
									</div>
								</div>
							</div>
							<!-- end second row -->
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</ion-content>
