<div class="tracker-carousel" >
	<div class="carousel-demo">
		<ul rn-carousel rn-carousel-index="apc.carouselIndex" rn-carousel class="carousel5">
			<li class="carousel-contentli" ng-repeat="appInProgress in apc.appInProgressArr">
				<div class="col-sm-4 col-xs-4" ng-repeat="appInPrg in appInProgress">
					<div class="lead-box-bg">
						<div class="lead-head">
							<div class="lead-head-ico pull-left">
								{{appInPrg.LNAME.charAt(0).toUpperCase()}}
							</div>
							<div class="lead-contact pull-left">
								<h2>{{appInPrg.LNAME}}</h2>
								<div class="lead-contact-details">
									<span>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<span class="sol-details">{{appInPrg.MOBNO}}</span>
									</span>
									<span>
										<i class="fa fa-user" aria-hidden="true"></i>
										<span class="sol-apps">{{appInPrg.LDSRC1}}</span>
									</span>
								</div>
								<div class="date-created" ng-show="!appInPrg.POLICY_NO">
									<span class="date-created-lbl">Tracker No.: </span>
									<span class="date-on">{{appInPrg.OPP_ID}}</span>
								</div>
								<div class="date-created" ng-show="!!appInPrg.POLICY_NO">
									<span class="date-created-lbl">Policy No.: </span>
									<span class="date-on">{{appInPrg.POLICY_NO}}</span>
								</div>
								<div class="date-created">
									<span class="date-created-lbl">Updated on </span>
									<span class="date-on">{{appInPrg.LSTUPDT_TMSTMP}}</span>
								</div>
							</div>
						</div>
						<div class="lead-head-txt pull-left">
							<button type="button" class="btn btn-default btn-border" ng-click="apc.goToLeadDashboard(appInPrg)">Continue</button>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="carousel-pagination" rn-carousel-indicators ng-if="apc.appInProgressArr.length > 1" slides="apc.appInProgressArr" rn-carousel-index="apc.carouselIndex"></div>
	</div>
</div>
