<ion-view>
    <ion-content has-bouncing ="false">
        <fhr-header></fhr-header>
        <div class="clearfix"></div>
        <div class="FHR-outerwrap FHR-goalsdetails">
            <fhr-left-personal-details></fhr-left-personal-details>
             <!-- Other -->
            <div class="other-titlewrap">
                <div class="other-innertitlewrap">
                    <div class="innercontent-wrap other-tab">
                        <a href="javascript:void(0);" ng-click="fhrgoals.redirObj.gotoOthersTab();"><span class="fhr-tab-title tab-other-tilte">Other</span></a>
                    </div>
                </div>
            </div>
            <!-- Goals -->
            <div class="innercontent-wrap tab-innercontent-wrap">
                <div class="fhr-container fhr-goals">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h2 class="fhr-title">Goals<span class="fhr-sub-title">Select your Goal</span></h2>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div ng-class="(fhrgoals.fhrPersonalDetailsData.IS_SCREEN3_DONE=='Y') ? 'row disabled-div' : 'row'">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="fhr-goal-box">
                                        <!--<a href="javascript:void(0);" ng-click="fhrgoals.goalsCountData.childsCount == 3 ? fhrgoals.showCompletedFlag('Child Goal') : fhrgoals.gotoChildGoalsTab()">-->
                                        <a href="javascript:void(0);" ng-click="fhrgoals.gotoChildGoalsTab()">
                                            <div class="fhr-goal-box-img"> <img src="../img/icon_child_goal.svg" alt="Child Goal" />
                                                <div class="FHR-goals-circle"><span>{{fhrgoals.goalsCountData.childsCount}}</span></div>
                                                <!--<img ng-if="fhrgoals.goalsCountData.childsCount == 3" class="goal-completed" src="../img/goal-completed.png" alt="">-->
                                                <p>Child Goal</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="fhr-goal-box">
                                        <a href="javascript:void(0);" ng-click="fhrgoals.goalsCountData.retirementCount == 1 ? fhrgoals.showCompletedFlag('Retirement Fund Goal') : fhrgoals.gotoRetFundTab()">
                                            <div class="fhr-goal-box-img"> <img src="../img/icon_retirement_fund.svg" alt="Retirement Fund" />
                                                <div class="FHR-goals-circle" ng-if="fhrgoals.goalsCountData.retirementCount != 1"><span>{{fhrgoals.goalsCountData.retirementCount}}</span></div>
                                                <img ng-if="fhrgoals.goalsCountData.retirementCount == 1" class="goal-completed" src="../img/goal-completed.png" alt="">
                                                <p>Retirement Fund</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="fhr-goal-box">
                                        <a href="javascript:void(0);" ng-click="fhrgoals.goalsCountData.protectionCount == 1 ? fhrgoals.showCompletedFlag('Protection Goal') : fhrgoals.gotoProtectionTab()">
                                            <div class="fhr-goal-box-img"> <img src="../img/icon_protection.svg" alt="Protection" />
                                                <div class="FHR-goals-circle" ng-if="fhrgoals.goalsCountData.protectionCount != 1"><span>{{fhrgoals.goalsCountData.protectionCount}}</span></div>
                                                <img ng-if="fhrgoals.goalsCountData.protectionCount == 1" class="goal-completed" src="../img/goal-completed.png" alt="">
                                                <p>Protection</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="fhr-goal-box">
                                        <a href="javascript:void(0);" ng-click="fhrgoals.goalsCountData.wealthCount == 6 ? fhrgoals.showCompletedFlag('Wealth Creation Goal') : fhrgoals.gotoWealthCreateTab();">
                                            <div class="fhr-goal-box-img"> <img src="../img/icon_wealth_creation.svg" alt="Wealth Creation" />
                                                <div class="FHR-goals-circle" ng-if="fhrgoals.goalsCountData.wealthCount != 6"><span>{{fhrgoals.goalsCountData.wealthCount}}</span></div>
                                                <img ng-if="fhrgoals.goalsCountData.wealthCount == 6" class="goal-completed" src="../img/goal-completed.png" alt="">
                                                <p>Wealth Creation</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Outputs -->
            <div class="output-titlewrap">
                <div class="output-innertitlewrap">
                    <div class="innercontent-wrap output-tab">
                        <a href="javascript:void(0);" ng-click="(fhrgoals.goalsCountData.childsCount == 0 && fhrgoals.goalsCountData.retirementCount == 0 && fhrgoals.goalsCountData.protectionCount == 0 && fhrgoals.goalsCountData.wealthCount == 0) ? fhrgoals.redirObj.showError('Please add atleast 1 goal.') : fhrgoals.redirObj.gotoOutputTab();"><span class="fhr-tab-title tab-output-title">Output</span></a>
                    </div>
                </div>
            </div>
            <!-- Recommendation -->
            <div class="recommendation-titlewrap">
                <div class="recommendation-innertitlewrap">
                    <div class="innercontent-wrap recommendation-tab">
                        <a href="javascript:void(0);" ng-click="(fhrgoals.goalsCountData.childsCount == 0 && fhrgoals.goalsCountData.retirementCount == 0 && fhrgoals.goalsCountData.protectionCount == 0 && fhrgoals.goalsCountData.wealthCount == 0) ? fhrgoals.redirObj.showError('Please add atleast 1 goal.') : fhrgoals.redirObj.gotoRecommendationTab();"><span class="fhr-tab-title tab-recomm-tilte">Recommendation</span></a>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>
