<ion-view>
    <ion-content has-bouncing ="false">
        <fhr-header></fhr-header>
        <div class="clearfix"></div>
        <div class="FHR-outerwrap FHR-goalsdetails">            
            <fhr-left-personal-details></fhr-left-personal-details>
             <!-- Other -->
            <div class="other-titlewrap">
                <div class="other-innertitlewrap">
                    <div class="innercontent-wrap other-tab">
                        <a href="javascript:void(0);" ng-click="fhrsuccessgoals.redirObj.gotoOthersTab();"><span class="fhr-tab-title tab-other-tilte">Other</span></a>
                    </div>
                </div>
            </div>
            <!-- Goals -->
            <div class="innercontent-wrap tab-innercontent-wrap success-wrapper">
                <div class="fhr-container fhr-goals success-wrapper-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="fhr-select-wrap">
                                <h2 class="fhr-select-goal">Awesome!</h2>
                                <div class="select-goal-icon"> <img src="../img/{{fhrsuccessgoals.goalIcon}}.svg" alt="{{fhrsuccessgoals.goalMsg}} Goal" /> </div>
                                <p class="fhr-selct-label">You have set a goal for your {{fhrsuccessgoals.goalMsg | lowercase}}.</p> 
                                <a href="javascript:void(0);" ng-click="fhrsuccessgoals.redirObj.gotoOutputTab();" class="fhr-select-link">View Output</a>                        
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fhr-select-btn">
                            <p class="fhr-select-wish">Do you wish to set more goals for your life</p>
                            <div class="row">
                                <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fhr-pull-none">
                                            <div class="custom-btn form-btn-wrap fhr-white-btn">
                                                <button class="btn btn-default btn-block"  ng-click="fhrsuccessgoals.redirObj.gotoGoalsTab();" type="button">Select Go</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Outputs -->
            <div class="output-titlewrap">
                <div class="output-innertitlewrap">
                    <div class="innercontent-wrap output-tab">
                        <a href="javascript:void(0);" ng-click="(fhrsuccessgoals.goalsCountData.childsCount == 0 && fhrsuccessgoals.goalsCountData.retirementCount == 0 && fhrsuccessgoals.goalsCountData.protectionCount == 0 && fhrsuccessgoals.goalsCountData.wealthCount == 0) ? fhrsuccessgoals.redirObj.showError('Please add atleast 1 goal.') : fhrsuccessgoals.redirObj.gotoOutputTab();"><span class="fhr-tab-title tab-output-title">Output</span></a>
                    </div>
                </div>
            </div>
            <!-- Recommendation -->
            <div class="recommendation-titlewrap">
                <div class="recommendation-innertitlewrap">
                    <div class="innercontent-wrap recommendation-tab">
                        <a href="javascript:void(0);" ng-click="(fhrsuccessgoals.goalsCountData.childsCount == 0 && fhrsuccessgoals.goalsCountData.retirementCount == 0 && fhrsuccessgoals.goalsCountData.protectionCount == 0 && fhrsuccessgoals.goalsCountData.wealthCount == 0) ? fhrsuccessgoals.redirObj.showError('Please add atleast 1 goal.') : fhrsuccessgoals.redirObj.gotoRecommendationTab();"><span class="fhr-tab-title tab-recomm-tilte">Recommendation</span></a>
                    </div>
                </div>
            </div>
        </div>                
    </ion-content>
</ion-view>
