<!--Main Inner Tab-->
<ion-pane class="customer-details">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <app-timeline class="app-blackheaderwrap"></app-timeline>
        </div>
    </ion-header-bar>
    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="application-form-wrapper">
            
            <!-- Personal Details Application Form -->
            <div class="application-form-inner-tab-content">
                <form id="vernacForm" name="vernacForm" novalidate>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form main-form-title">
                                    <label class="form-label">Vernacular Declaration</label>
                                </div>
                            </div>
                            <!--Witness Name-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">Declarant's/ Witness's Name<span class="requiredStar">*</span></label>
                                    <input type="text" class="form-control" name="witnessName" ng-model="vern.witnessBean.witnessName" ng-minlength="1" ng-maxlength="60" ng-pattern="vern.nameRegex" required/>
                                </div>
                                <div ng-messages="vernacForm.witnessName.$error" class="error-messages" ng-show="vernacForm.witnessName.$invalid && (!vernacForm.witnessName.$pristine || vern.click)">
                                    <div ng-message="required">Please enter Declarant's/ Witness's Name</div>
                                    <div ng-message="pattern">Please enter valid Name.</div>
                                    <div ng-message="minlength">Please enter Declarant's/ Witness's Name</div>
                                    <div ng-message="maxlength">Name cannot be more than 60 Characters.</div>
                                </div>
                            </div>
                            
                            <!--ID Card/ Proof Type -->
                            <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                                <!--<div class="form-group custom-form">-->
                                    <!--<label class="form-label">ID Card/ Proof Type<span class="requiredStar">*</span></label>-->
                                    <!--<input type="text" class="form-control" name="idProofType" ng-model="vern.witnessBean.idProofType" ng-minlength="1" ng-maxlength="20" ng-pattern="vern.alphaNumSpaceRegex" required/>-->
                                <!--</div>-->
                                <!--<div ng-messages="vernacForm.idProofType.$error" class="error-messages" ng-show="vernacForm.idProofType.$invalid && (!vernacForm.idProofType.$pristine || vern.click)">-->
                                    <!--<div ng-message="required">Please enter ID Card/ Proof Type</div>-->
                                    <!--<div ng-message="pattern">Please enter valid ID Card/ Proof Type.</div>-->
                                    <!--<div ng-message="minlength">Please enter ID Card/ Proof Type</div>-->
                                    <!--<div ng-message="maxlength">ID Card/ Proof Type cannot be more than 20 Characters.</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--ID Card/Proof Type added on 9th Feb 2017-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">ID Card/ Proof Type<span class="requiredStar">*</span></label>
                                    <div class="custom-drp">
                                        <select class="form-control" name="idProofType" ng-model="vern.witnessBean.idProofType" ng-options="option.MPPROOF_DESC for option in vern.verProofList | filter: {CUSTOMER_CATEGORY : vern.customertype} track by option.MPPROOF_DESC" ng-change="vern.onProofChange()" select-required>
                                        </select>
                                    </div>
                                </div>
                                <div ng-messages="vernacForm.idProofType.$error" class="error-messages" ng-show="vernacForm.idProofType.$invalid && (!vernacForm.idProofType.$pristine || vern.click)">
                                    <div ng-message="required">Please Select an option</div>
                                </div>
                            </div>
                            <!--Other ID Card/Proof Type Name-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="vern.witnessBean.idProofType.MPPROOF_DESC =='Others'">
                                <div class="form-group custom-form">
                                    <label class="form-label">Other ID Card/ Proof Type</label>
                                    <input type="text" class="form-control custom-form"  name="Other_PROOF_TYPE"  ng-model='vern.witnessBean.Other_PROOF_TYPE'  ng-minlength="1" ng-maxlength="20" ng-pattern="vern.alphaNumSpaceRegex" required/>
                                </div>
                                <div ng-messages="vernacForm.Other_PROOF_TYPE.$error" class="error-messages" ng-show="vernacForm.Other_PROOF_TYPE.$invalid && (!vernacForm.Other_PROOF_TYPE.$pristine || vern.click)">
                                    <div ng-message="required">Please enter ID Card/ Proof Type</div>
                                    <div ng-message="pattern">Please enter valid ID Card/ Proof Type.</div>
                                    <div ng-message="minlength">Please enter ID Card/ Proof Type</div>
                                    <div ng-message="maxlength">ID Card/ Proof Type cannot be more than 20 Characters.</div>
                                </div>
                            </div>
                            <!--ID Card/ Proof No. -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">ID Card/ Proof No. <span class="requiredStar">*</span></label>
                                    <input type="text" class="form-control" name="idProofNo" ng-model="vern.witnessBean.idProofNo" ng-change="vern.onIDNumChange()" ng-minlength="1" ng-maxlength="20" ng-pattern="vern.alphaNumSpaceRegex" required/>
                                </div>
                                <div ng-messages="vernacForm.idProofNo.$error" class="error-messages" ng-show="vernacForm.idProofNo.$invalid && (!vernacForm.idProofNo.$pristine || vern.click)">
                                    <div ng-message="required">Please enter ID Card/ Proof Type</div>
                                    <div ng-message="pattern">Please enter valid ID Card/ Proof Type.</div>
                                    <div ng-message="minlength">Please enter ID Card/ Proof Type</div>
                                    <div ng-message="maxlength">ID Card/ Proof Type cannot be more than 20 Characters.</div>
                                </div>
                            </div>
                            
                            <!--EXPLAINED IN LANGUAGE. -->
                            <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
                                <!--<div class="form-group custom-form">-->
                                    <!--<label class="form-label">Explained in Language <span class="requiredStar">*</span></label>-->
                                    <!--<input type="text" class="form-control" name="expLang" ng-model="vern.witnessBean.expLang" ng-minlength="1" ng-maxlength="20" ng-pattern="vern.alphaRegex" required/>-->
                                <!--</div>-->
                                <!--<div ng-messages="vernacForm.expLang.$error" class="error-messages" ng-show="vernacForm.expLang.$invalid && (!vernacForm.expLang.$pristine || vern.click)">-->
                                    <!--<div ng-message="required">Please enter Language.</div>-->
                                    <!--<div ng-message="pattern">Please enter Language</div>-->
                                    <!--<div ng-message="minlength">Please enter Language</div>-->
                                    <!--<div ng-message="maxlength">Language cannot be more than 20 Characters.</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--EXPLAINED IN LANGUAGE. added on 9th Feb 2017 -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
                                <div class="form-group custom-form">
                                    <label class="form-label">Explained in Language<span class="requiredStar">*</span></label>
                                    <div class="custom-drp">
                                        <select class="form-control" name="expLang" ng-model="vern.expLang"  ng-options="option.EXP_LANGUAGE for option in vern.ExpLanguageList track by option.LANGUAGE" ng-change="vern.onLangChange()" select-required>
                                        </select>
                                    </div>
                                </div>
                                <div ng-messages="vernacForm.expLang.$error" class="error-messages" ng-show="vernacForm.expLang.$invalid && (!vernacForm.expLang.$pristine || vern.click)">
                                    <div ng-message="required">Please Select an option.</div>
                                </div>
                            </div>
                            
                            <!--ADDRESS OF WITNESS. -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">Address of the witness <span class="requiredStar">*</span></label>
                                    <input type="text" class="form-control" name="addr" ng-model="vern.witnessBean.addr" ng-minlength="1" ng-maxlength="30" ng-pattern="vern.alphaNumSpaceRegex" required/>
                                </div>
                                <div ng-messages="vernacForm.addr.$error" class="error-messages" ng-show="vernacForm.addr.$invalid && (!vernacForm.addr.$pristine || vern.click)">
                                    <div ng-message="required">Please enter an address.</div>
                                    <div ng-message="pattern">Please enter only name, number and space.</div>
                                    <div ng-message="minlength">Please enter an address.</div>
                                    <div ng-message="maxlength">Address cannot be more than 30 characters long.</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
                                <div class="custom-btn form-btn-wrap"><!--ng-disabled="vernacForm.$invalid"-->
                                    <button class="btn btn-default btn-block" ng-disabled="vernacForm.$invalid" ng-click="vern.onNext(vernacForm)">Save Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="clearfix"></div>
            <!-- End Personal Details Application Form -->
        </div>
    </ion-content>
</ion-pane>
