<ion-view>
	<ion-content has-bouncing ="false">
		<fhr-header></fhr-header>
		<div class="clearfix"></div>
		<div class="FHR-outerwrap FHR-goalsdetails" ng-style="{height: fhrretfund.outerWrapInnerHeight +'px'}">
			<fhr-left-personal-details></fhr-left-personal-details>
			<!-- Other -->
			<div class="other-titlewrap">
				<div class="other-innertitlewrap">
					<div class="innercontent-wrap other-tab">
						<a href="javascript:void(0);" ng-click="fhrretfund.redirObj.gotoOthersTab();"><span class="fhr-tab-title tab-other-tilte">Other</span></a>
					</div>
				</div>
			</div>
			<!-- Goals -->
			<div class="innercontent-wrap tab-innercontent-wrap">
				<form name="fhrRetirementFundForm" id="fhrRetirementFundForm" novalidate style="position:relative">
					<ion-content has-bouncing ="false">
						<div class="fhr-container fhr-goals fhr-protection-goals">
							
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<h2 class="fhr-title"><span class="fhr-title-icon"><img src="../img/icon_retirement_fund.svg" alt="Retirement Fund" /></span><span>Retirement Fund</span></h2>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div class="row">
												<!--                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												 <div class="form-group custom-form">
												 <label class="form-label">Retirement age</label>
												 <div class="custom-form-plus-minus">
												 <button ng-click="fhrretfund.retireAge = (fhrretfund.retireAge>1?fhrretfund.retireAge-1:fhrretfund.retireAge)"> -</button>
												 <input type="number" class="dec-inc_field" name="retireAge" id="retireAge" ng-model="fhrretfund.retireAge" required/>
												 <button  ng-click="fhrretfund.retireAge = fhrretfund.retireAge+1">+</button>
												 </div>
												 <span class="fhr-value-field">(Years)</span>
												 </div>
												 <div ng-messages="fhrRetirementFundForm.retireAge.$error" class="error-messages" ng-show="fhrRetirementFundForm.retireAge.$invalid && !fhrRetirementFundForm.retireAge.$pristine">
												 <div ng-message="required">Please enter Retirement age.</div>
												 </div>
												 </div>-->
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Monthly income needed as on today<span class="requiredStar">*</span> </label>
														<div class="input_with_sidelabel">
															<input type="number" class="form-control custom-form" placeholder="Monthly income needed"  name="incomeNeed" id="incomeNeed" ng-model="fhrretfund.incomeNeed" ng-min="0" ng-max="10000000" required/>
														</div>
														<span class="fhr-value-field">(Rs)</span>
													</div>
													<div ng-messages="fhrRetirementFundForm.incomeNeed.$error" class="error-messages" ng-show="fhrRetirementFundForm.incomeNeed.$invalid && !fhrRetirementFundForm.incomeNeed.$pristine">
														<div ng-message="required">Please enter Monthly income.</div>
														<div ng-message="min">Monthly income cannot be less than zero.</div>
														<div ng-message="max">Monthly income cannot be greater than 10000000.</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Amount already saved(single corpus)<span class="requiredStar">*</span> </label>
														<div class="input_with_sidelabel">
															<input type="number" class="form-control custom-form" placeholder="Amount already saved"  name="savedAmt" id="savedAmt" ng-model="fhrretfund.savedAmt" ng-min="0" ng-max="10000000" required />
														</div>
														<span class="fhr-value-field">(Rs)</span>
													</div>
													<div ng-messages="fhrRetirementFundForm.savedAmt.$error" class="error-messages" ng-show="fhrRetirementFundForm.savedAmt.$invalid && !fhrRetirementFundForm.savedAmt.$pristine">
														<div ng-message="required">Please enter Amount already saved.</div>
														<div ng-message="min">Amount cannot be less than zero.</div>
														<div ng-message="max">Amount cannot be greater than 10000000.</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Rate at which amount will grow<span class="requiredStar">*</span> </label>
														<div class="custom-form-plus-minus">
															<button ng-click="fhrretfund.amountGrowRate = (fhrretfund.amountGrowRate>1?fhrretfund.amountGrowRate-1:fhrretfund.amountGrowRate)"> -</button>
															<input type="number" class="dec-inc_field" name="amountGrowRate" id="amountGrowRate" ng-model="fhrretfund.amountGrowRate"  ng-min="fhrretfund.inflRate" ng-max="10" required/>
															<button  ng-click="fhrretfund.amountGrowRate = fhrretfund.amountGrowRate+1">+</button>
														</div>
														<span class="fhr-value-field">(%)</span>
													</div>
													<div ng-messages="fhrRetirementFundForm.amountGrowRate.$error" class="error-messages" ng-show="fhrRetirementFundForm.amountGrowRate.$invalid ">
														<div ng-message="required">Please enter Rate.</div>
														<div ng-message="max">Rate cannot be greater than 10%.</div>
														<div ng-message="min">Rate cannot be less than inflation rate.</div>
													</div>
												</div>
											</div>
										</div>
										<!-- end of left side  -->
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Retirement income needed upto<span class="requiredStar">*</span> </label>
														<div class="input_with_sidelabel">
															<input type="number" class="form-control custom-form" name="retireIncomeVal" id="retireIncomeVal" ng-model="fhrretfund.retireIncomeVal"  ng-min="80" ng-max="100" required/>
														</div>
														<span class="fhr-value-field">(Yrs)</span>
													</div>
													<div ng-messages="fhrRetirementFundForm.retireIncomeVal.$error" class="error-messages" ng-show="fhrRetirementFundForm.retireIncomeVal.$invalid && !fhrRetirementFundForm.retireIncomeVal.$pristine">
														<div ng-message="required">Please enter Retirement income.</div>
														<div ng-message="max">Value cannot be greater than 100.</div>
														<div ng-message="min">Value cannot be less than 80.</div>
													</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<div class="form-group custom-form">
														<label class="form-label">Rate of Inflation<span class="requiredStar">*</span> </label>
														<div class="custom-form-plus-minus">
															<button ng-click="fhrretfund.inflRate = (fhrretfund.inflRate>1?fhrretfund.inflRate-1:fhrretfund.inflRate)"> -</button>
															<input type="number" class="dec-inc_field" name="inflRate" id="inflRate" ng-model="fhrretfund.inflRate"  ng-min="5" ng-max="10" required/>
															<button  ng-click="fhrretfund.inflRate = fhrretfund.inflRate+1">+</button>
														</div>
														<span class="fhr-value-field">(%)</span>
													</div>
													<div ng-messages="fhrRetirementFundForm.inflRate.$error" class="error-messages" ng-show="fhrRetirementFundForm.inflRate.$invalid">
														<div ng-message="required">Please enter Rate of Inflation.</div>
														<div ng-message="max">Rate cannot be greater than 10%.</div>
														<div ng-message="min">Rate cannot be less than 5%.</div>
													</div>
												</div>
											</div>
										</div>
										<!-- end of right side  -->
									</div>
								</div>
							
							
						</div>
					</ion-content>
				</form>
			</div>
			<!-- Outputs -->
			<div class="output-titlewrap">
				<div class="output-innertitlewrap">
					<div class="innercontent-wrap output-tab">
						<a href="javascript:void(0);" ng-click="(fhrretfund.goalsCountData.childsCount == 0 && fhrretfund.goalsCountData.retirementCount == 0 && fhrretfund.goalsCountData.protectionCount == 0 && fhrretfund.goalsCountData.wealthCount == 0) ? fhrretfund.redirObj.showError('Please add atleast 1 goal.') : fhrretfund.redirObj.gotoOutputTab();"><span class="fhr-tab-title tab-output-title">Output</span></a>
					</div>
				</div>
			</div>
			<!-- Recommendation -->
			<div class="recommendation-titlewrap">
				<div class="recommendation-innertitlewrap">
					<div class="innercontent-wrap recommendation-tab">
						<a href="javascript:void(0);" ng-click="(fhrretfund.goalsCountData.childsCount == 0 && fhrretfund.goalsCountData.retirementCount == 0 && fhrretfund.goalsCountData.protectionCount == 0 && fhrretfund.goalsCountData.wealthCount == 0) ? fhrretfund.redirObj.showError('Please add atleast 1 goal.') : fhrretfund.redirObj.gotoRecommendationTab();"><span class="fhr-tab-title tab-recomm-tilte">Recommendation</span></a>
					</div>
				</div>
			</div>
			<div class="fhr-next-btn" style="right:10px">
				<button class="next-btn-link" ng-disabled="fhrRetirementFundForm.$invalid" type="submit" ng-click="fhrretfund.onNext(fhrRetirementFundForm)"><span class="next-btn-txt">Next</span><span  ng-class="(fhrRetirementFundForm.$invalid) ? 'next-btn-icon next-btn-icon-disabled' : 'next-btn-icon'"><i class="fa fa-arrow-right"></i></span></button>
			</div>
			<div class="fhr-next-btn fhr-prev-btn">
				<button class="next-btn-link" type="submit" ng-click="fhrretfund.onPrev()"><span class="next-btn-icon"><i class="fa fa-arrow-left"></i></span><span class="next-btn-txt">Prev</span></button>
			</div>
		</div>
	</ion-content>
</ion-view>
