<ion-pane class="sis-height">
	<ion-header-bar class="fixed-bar">
		<!-- Header -->
		<div class="sis-header-wrap">
			<sis-header></sis-header>
		</div>

		<!-- Timeline -->
		<div class="SIStimeline-wrapper">
			<sis-timeline></sis-timeline>
		</div>
	</ion-header-bar>

	<ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
		<div class="sis-form-wrap sis_ekyc">
				<form id="sp1.sfaPage1Form" name="sp1.sfaPage1Form" ng-submit="sp1.onNext(sp1.sfaPage1Form.$pristine)" novalidate>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<!--Title-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Title <span class="requiredStar">*</span></label>
										<select class="form-control" name="title" ng-options="option.TITLE_DISPLAY disable when ((sp1.PGL_ID==sp1.VCP_PGL_ID) && (sp1.sfaPage1Data.PROPOSER_IS_INSURED != 'Y') && (option.TITLE =='Mrs.' || option.TITLE =='Ms.' || option.TITLE =='Miss.') && (option.TITLE != null)) for option in sp1.titleList track by option.TITLE" ng-change="sp1.onTitleChg()" ng-model="sp1.titleOptionSelected" select-required ng-disabled="sp1.leadDataDisabled && sp1.leadNonFhrDataDisabled"></select>
									</div>
									<div ng-messages="sp1.sfaPage1Form.title.$error" class="error-messages" ng-show="sp1.sfaPage1Form.title.$invalid && !sp1.sfaPage1Form.title.$pristine">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>

								<!--First Name-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">First Name <span class="requiredStar">*</span></label>
										<input type="text" class="form-control custom-form" placeholder="First Name" name="firstName" ng-model="sp1.sfaPage1Data.INSURED_FIRST_NAME" ng-pattern="sp1.nameRegex" required ng-disabled="sp1.leadDataDisabled || sp1.firstNameDisabled" ng-maxlength="20"/>
									</div>
									<div ng-messages="sp1.sfaPage1Form.firstName.$error" class="error-messages" ng-show="sp1.sfaPage1Form.firstName.$invalid && !sp1.sfaPage1Form.firstName.$pristine">
										<div ng-message="required">First name cannot be empty.</div>
										<div ng-message="pattern">Please use text and ' or - only.</div>
										<div ng-message="maxlength">Maximum 20 char only.</div>
									</div>
								</div>

								<!--Middle Name-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Middle Name</label>
										<input type="text" class="form-control custom-form" placeholder="Middle Name" id="middleName" name="middleName" ng-model="sp1.sfaPage1Data.INSURED_MIDDLE" ng-pattern="sp1.mNameRegex" ng-disabled="((sp1.leadDataDisabled && sp1.leadNonFhrDataDisabled) || (sp1.middleNameDisabled))" ng-maxlength="18"/>
									</div>
									<div ng-messages="sp1.sfaPage1Form.middleName.$error" class="error-messages" ng-show="sp1.sfaPage1Form.middleName.$invalid && !sp1.sfaPage1Form.middleName.$pristine">
										<div ng-message="pattern">Please use text and ' or - or blank space only.</div>
										<div ng-message="maxlength">Maximum 18 char only.</div>
									</div>
								</div>

								<!--Last Name-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Last Name <span class="requiredStar">*</span></label>
										<input type="text" class="form-control custom-form" placeholder="Last Name" name="lastName" ng-model="sp1.sfaPage1Data.INSURED_LAST_NAME" ng-class="{'has-error':true}" ng-pattern="sp1.nameRegex" required ng-disabled="(sp1.leadDataDisabled && !!sp1.sfaPage1Data.INSURED_LAST_NAME) || sp1.lastNameDisabled" ng-maxlength="20"/>
									</div>
									<div ng-messages="sp1.sfaPage1Form.lastName.$error" class="error-messages" ng-show="sp1.sfaPage1Form.lastName.$invalid && !sp1.sfaPage1Form.lastName.$pristine">
										<div ng-message="required">Last name cannot be empty.</div>
										<div ng-message="pattern">Please use text and ' or - only.</div>
										<div ng-message="maxlength">Maximum 20 char only.</div>
									</div>
								</div>

								<!--Date Of Birth-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Date of Birth <span class="requiredStar">*</span></label>
										<input class="form-control custom-form date-icon" placeholder="Date of Birth" name="insuredDob" type="date" ng-model="sp1.sfaPage1Data.INSURED_DOB" ng-change="sp1.onInsuredDobChg()" isproposer="sp1.sfaPage1Data.PROPOSER_IS_INSURED" validate-insured-dob required ng-disabled="sp1.ekycDobDisabled || sp1.leadDataDisabled"></input>
										<!-- ng-disabled="((sp1.leadDataDisabled || sp1.ekycDobDisabled) || (sp1.sfaPage1Data.PROPOSER_IS_INSURED!='Y' && sp1.ekycDobDisabled))" -->
									</div>
									<div ng-messages="sp1.sfaPage1Form.insuredDob.$error" class="error-messages" ng-show="sp1.sfaPage1Form.insuredDob.$invalid"> <!--  && !sp1.sfaPage1Form.insuredDob.$pristine - removed as invalid data can be populated from lead -->
										<div ng-message="required" ng-show="!sp1.sfaPage1Form.insuredDob.$pristine">Please enter a date.</div>
										<div ng-message="insMinAge">Minimum age for the product is: {{ ((sp1.prodMinAge=="0")?"30 days.": (sp1.prodMinAge + "years.")) }}</div>
										<div ng-message="insMaxAge">Maximum age for the product is: {{ sp1.prodMaxAge }} years.</div>
										<div ng-message="insMinAge_Adult">Minimum age for the product is: {{ sp1.adultAge }} years.</div>
										<div ng-message="insSpouseMinAge_Adult">Spouse age should be greater than: {{ sp1.adultAge }} years.</div>
									</div>
								</div>


								<!--Gender And Smoking Habbit-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
									</div>
								</div>

								<!-- Tata Employee Flag -->
								<div class="cbcontainer rider-chk-box" ng-show="sp1.showEmployeeFlag">
									<div class="rider-chekbox rider-bigsize-sis">
										<input type="checkbox" id="employeeFlag" name="employeeFlag" ng-true-value="'Y'" ng-false-value="'N'" ng-model="sp1.sfaPage1Data.TATA_FLAG" ng-change="sp1.onEmployeeFlagChg()">
										<label for="employeeFlag">Tata Discount</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="row">


								<!--Gender-->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form side-radio-height-wrap">
										<label class="form-label">Gender <span class="requiredStar">*</span></label>
										<div class="gender-radio-wrapper">
											<div class="gender-wrapper male-wrapper">
												<input type="radio" id="sisInsRdMale" name="gender" value="M" ng-model="sp1.sfaPage1Data.INSURED_GENDER" ng-disabled="sp1.genderDisabled" required/>
												<label for="sisInsRdMale"></label>
												<div class="clearfix"></div>
											</div>
											<div class="gender-wrapper female-wrapper">
												<input type="radio" id="sisInsRdFemale" name="gender" value="F" ng-model="sp1.sfaPage1Data.INSURED_GENDER" ng-disabled="sp1.genderDisabled" required/>
												<label for="sisInsRdFemale"></label>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
									<div ng-messages="sp1.sfaPage1Form.gender.$error" class="error-messages" ng-show="sp1.sfaPage1Form.gender.$invalid && !sp1.sfaPage1Form.gender.$pristine">
										<div ng-message="required">Please select a gender.</div>
									</div>
								</div>

								<!--Smoking Habbit-->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-show="sp1.showSmoker">
									<div class="form-group custom-form side-radio-height-wrap">
										<label class="form-label">Smoking Habits <span class="requiredStar">*</span></label>
										<div class="smoke-radio-wrapper">
											<div class="smoke-wrapper smoker-wrapper">
												<input type="radio" id="sisInsRdSmoking" name="smoker" value="Y" ng-model="sp1.sfaPage1Data.ISSMOKER" ng-required="sp1.showSmoker"/>
												<label for="sisInsRdSmoking"></label>
												<div class="clearfix"></div>
											</div>
											<div class="gender-wrapper non-smoker-wrapper">
												<input type="radio" id="sisInsRdNonSmoking" name="smoker" value="N" ng-model="sp1.sfaPage1Data.ISSMOKER" ng-required="sp1.showSmoker"/>
												<label for="sisInsRdNonSmoking"></label>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
									<div ng-messages="sp1.sfaPage1Form.smoker.$error" class="error-messages" ng-show="sp1.sfaPage1Form.smoker.$invalid && !sp1.sfaPage1Form.smoker.$pristine">
										<div ng-message="required">Please select an option.</div>
									</div>
								</div>

								<!--Email-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Email <span class="requiredStar" ng-show="sp1.insEmailRequired">*</span></label>
										<input type="email" class="form-control custom-form" placeholder="Email" name="insuredEmail" ng-model="sp1.sfaPage1Data.INSURED_EMAIL" ng-pattern="sp1.emailRegex"  ng-required="sp1.insEmailRequired" ng-disabled="sp1.leadDataDisabled"/>
									</div>
									<div ng-messages="sp1.sfaPage1Form.insuredEmail.$error" class="error-messages" ng-show="sp1.sfaPage1Form.insuredEmail.$invalid && !sp1.sfaPage1Form.insuredEmail.$pristine">
										<div ng-message="required">Insured email-id cannot be empty.</div>
										<div ng-message="pattern">Please enter a valid email-id.</div>
									</div>
								</div>
								<!--Mobile No-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Mobile Number <span class="requiredStar" ng-show="sp1.insMobRequired">*</span></label>
										<input class="form-control custom-form" placeholder="Mobile Number" name="insuredMobile" type="number" ng-model="sp1.sfaPage1Data.INSURED_MOBILE" ng-pattern="sp1.mobileRegex" ng-required="sp1.insMobRequired" ng-disabled="sp1.leadDataDisabled"/>
									</div>
									<div ng-messages="sp1.sfaPage1Form.insuredMobile.$error" class="error-messages" ng-show="sp1.sfaPage1Form.insuredMobile.$invalid && !sp1.sfaPage1Form.insuredMobile.$pristine">
										<div ng-message="required">Insured mobile number cannot be empty.</div>
										<div ng-message="pattern">Please enter a ten digit mobile number starting with 7, 8 or 9.</div>
									</div>
								</div>
								<!--Age proof Type-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="sp1.ekycDobDisabled">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Age Proof Type <span class="requiredStar">*</span></label>
										<div class="custom-drp city-drp-dwn">
											<div custom-select=" s.MPPROOF_DESC for s in sp1.ageProofList | filter: { MPPROOF_DESC: $searchTerm } track by s.DOC_ID" ng-model="sp1.ageProofOptionSelected" ng-change="sp1.onAgeProofChg()"  name="ageProof" select-required="!sp1.ekycDobDisabled"></div>
										</div>
									</div>
									<div ng-messages="sp1.sfaPage1Form.ageProof.$error" class="error-messages" ng-show="sp1.sfaPage1Form.ageProof.$invalid && !sp1.sfaPage1Form.ageProof.$pristine">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<!-- Company Dropdown -->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sp1.showEmployeeFlag && (sp1.sfaPage1Data.TATA_FLAG=='Y')">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Company Name <span class="requiredStar">*</span></label>
										<select class="form-control" name="company" ng-options="option.COMPANY_NAME for option in sp1.companyList track by option.COMPANY_CODE" ng-change="sp1.onCompanyChg()" ng-model="sp1.companyOptionSelected" select-required="sp1.showEmployeeFlag && (sp1.sfaPage1Data.TATA_FLAG=='Y')"></select>
									</div>
									<div ng-messages="sp1.sfaPage1Form.company.$error" class="error-messages" ng-show="sp1.sfaPage1Form.company.$invalid && !sp1.sfaPage1Form.company.$pristine">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="custom-btn form-btn-wrap">
												<button class="btn btn-default btn-block" type="button" ng-click="sp1.onBack()">Back</button>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="custom-btn form-btn-wrap">
												<button class="btn btn-default btn-block" type="submit" ng-disabled="sp1.sfaPage1Form.$invalid">Next</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
	</ion-content>
</ion-pane>
