<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<fd-timeline class="tab-nav"></fd-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<form id="family2.familySection2Form" name="family2.familySection2Form">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group custom-form">
						<label class="form-label">
							A. Family Details (Mandatory if the life to be insured is Juvenile / Student / Housewife)
						</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="existing-policy-tile orange-border">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="policy-tile-count">
								1
							</span>
						</div>
						<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<label class="form-label">Father / Husband Name</label>
											<div class="row">
												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
													<div class="form-group custom-form">
											<input type="text" name="Fname" ng-model="family2.appFamilybean2.Fname" ng-maxlength="20" ng-pattern="/^[a-zA-Z'-]*$/" ng-required="family2.famCondition" placeholder="First"  class="form-control" required/>
													</div>
													<div ng-messages="family2.familySection2Form.Fname.$error" class="error-messages" ng-show="family2.familySection2Form.Fname.$invalid && (!family2.familySection2Form.Fname.$pristine || family2.click)">
														<div ng-message="required">Please enter First Name</div>
														<div ng-message="pattern">Please enter valid First Name</div>
														<div ng-message="maxlength">Name cannot be greater than 20 characters.</div>
													</div>
												</div>
												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
													<div class="form-group custom-form">
											<input type="text" name="Mname" ng-model="family2.appFamilybean2.Mname" ng-maxlength="20" ng-pattern="/^[a-zA-Z'-]*$/" placeholder="Middle"  class="form-control" />
													</div>
													<div ng-messages="family2.familySection2Form.Mname.$error" class="error-messages" ng-show="family2.familySection2Form.Mname.$invalid && (!family2.familySection2Form.Mname.$pristine || family2.click)">
													<div ng-message="pattern">Please enter child's valid Middle Name.</div>
														<div ng-message="maxlength">Middle Name cannot be greater than 20 characters.</div>
													</div>
												</div>
												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
													<div class="form-group custom-form">
											<input type="text" name="Lname" ng-model="family2.appFamilybean2.Lname" ng-maxlength="20" ng-pattern="/^[a-zA-Z'-]*$/" ng-required="family2.famCondition" placeholder="Last"  class="form-control" required/>
													</div>
													<div ng-messages="family2.familySection2Form.Lname.$error" class="error-messages" ng-show="family2.familySection2Form.Lname.$invalid && (!family2.familySection2Form.Lname.$pristine || family2.click)">
														<div ng-message="required">Please enter Last Name</div>
														<div ng-message="pattern">Please enter valid Last Name</div>
														<div ng-message="maxlength">Last Name cannot be greater than 20 characters.</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group custom-form">
												<label class="form-label">Gender</label>
												<div class="gender-radio-wrapper">
													<div class="gender-wrapper male-wrapper">
														<input type="radio" id="rdFamilyDetailsMale" name="rdFamilyGender" value="M"  ng-model="family2.appFamilybean2.rdFamilyGender" ng-disabled="true" />
														<label for="rdFamilyDetailsMale">Male</label>
														<div class="clearfix"></div>
													</div>
													<div class="gender-wrapper female-wrapper">
														<input type="radio" id="rdFamilyDetailsFemale" name="rdFamilyGender" value="F" ng-model="family2.appFamilybean2.rdFamilyGender" ng-disabled="true" />
														<label for="rdFamilyDetailsFemale">Female</label>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
											<div ng-messages="family2.familySection2Form.rdFamilyGender.$error" class="error-messages" ng-show="family2.familySection2Form.rdFamilyGender.$invalid && (!family2.familySection2Form.rdFamilyGender.$pristine || family2.click)">
												<div ng-message="required">Please select Gender.</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label class="form-label">Date of Birth</label>
										<input type="date" name="Bdate" ng-model="family2.appFamilybean2.Bdate" ng-required="family2.famCondition"  class="form-control text-center date-icon" validate-dob required/>
									</div>
									<div ng-messages="family2.familySection2Form.Bdate.$error" class="error-messages" ng-show="family2.familySection2Form.Bdate.$invalid && (!family2.familySection2Form.Bdate.$pristine || family2.click)">
										<div ng-message="required">Please enter Date of Birth.</div>
										<div ng-message="minAge">Min Age should be greater than 18</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label class="form-label">Occupation</label>
										<input type="text" name="MemOccu" ng-model="family2.appFamilybean2.MemOccu" ng-maxlength="180" ng-required="family2.famCondition"  class="form-control" required/>
									</div>
									<div ng-messages="family2.familySection2Form.MemOccu.$error" class="error-messages" ng-show="family2.familySection2Form.MemOccu.$invalid && (!family2.familySection2Form.MemOccu.$pristine || family2.click)">
										<div ng-message="required">Please enter Occupation.</div>
										<div ng-message="maxlength">Occupation cannot me more than 180 characters.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label class="form-label">Annual Income</label>
										<input type="text" name="MemAnnualInc" ng-model="family2.appFamilybean2.MemAnnualInc" ng-maxlength="15" ng-pattern="/^[0-9]*$/" ng-required="family2.famCondition"  class="form-control" required/>
									</div>
									<div ng-messages="family2.familySection2Form.MemAnnualInc.$error" class="error-messages" ng-show="family2.familySection2Form.MemAnnualInc.$invalid && (!family2.familySection2Form.MemAnnualInc.$pristine || family2.click)">
										<div ng-message="required">Please enter Annual Income.</div>
										<div ng-message="pattern">Please enter valid Annual Income.</div>
										<div ng-message="maxlength">Annual Income cannot be greater than 15 digits.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label class="form-label">Total Insurance Coverage (Existing + Applied)</label>
										<input type="text" name="MemInsDet" ng-model="family2.appFamilybean2.MemInsDet" ng-maxlength="50"  ng-required="family2.famCondition" class="form-control" required/>
									</div>
									<div ng-messages="family2.familySection2Form.MemInsDet.$error" class="error-messages" ng-show="family2.familySection2Form.MemInsDet.$invalid && (!family2.familySection2Form.MemInsDet.$pristine || family2.click)">
										<div ng-message="required">Please enter Insurance Details.</div>
										<div ng-message="maxlength">Insurance Details cannot be greater than 50 characters.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="child in family2.FamilyChildArr">
					<!-- Delete Button ng-click="nc.deleteItem($index)" -->
					<span class="delete-button">
						<i class="fa fa-times-circle-o" aria-hidden="true" ng-click="family2.deleteChildBlock($index)"></i>
					</span>
					<div class="existing-policy-tile maroon-border">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="policy-tile-count">
								1
							</span>
						</div>
						<div class="col-xs-12 col-sm-11 col-md-11 col-lg-11">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<label class="form-label">Child Name</label>
											<div class="row">
												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
													<div class="form-group custom-form">
											<input type="text" name="childFname{{$index}}" ng-model="child.childFname" ng-maxlength="20" ng-pattern="/^[a-zA-Z'-]*$/" ng-required="family2.famCondition" placeholder="First"  class="form-control" required/>
													</div>
													<div ng-messages="family2.familySection2Form['childFname'+$index].$error" class="error-messages" ng-show="family2.familySection2Form['childFname'+ $index].$invalid && (!family2.familySection2Form['childFname'+$index].$pristine || family2.click)">
														<div ng-message="required">Please enter child's First Name.</div>
														<div ng-message="pattern">Please enter child's valid First Name.</div>
														<div ng-message="maxlength">Name cannot be greater than 20 characters.</div>
													</div>
												</div>
												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
													<div class="form-group custom-form">
											<input type="text" name="childMname{{$index}}" ng-model="child.childMname" ng-maxlength="20" ng-pattern="/^[a-zA-Z'-]*$/" placeholder="Middle" class="form-control" />
													</div>
													<div ng-messages="family2.familySection2Form['childMname'+$index].$error" class="error-messages" ng-show="family2.familySection2Form['childMname'+ $index].$invalid && (!family2.familySection2Form['childMname'+$index].$pristine || family2.click)">
													<div ng-message="pattern">Please enter child's valid Middle Name.</div>
														<div ng-message="maxlength">Middle Name cannot be greater than 20 characters.</div>
													</div>
												</div>
												<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
													<div class="form-group custom-form">
											<input type="text" name="childLname{{$index}}" ng-model="child.childLname" ng-maxlength="20" ng-pattern="/^[a-zA-Z'-]*$/" ng-required="family2.famCondition" placeholder="Last" class="form-control" required/>
													</div>
													<div ng-messages="family2.familySection2Form['childLname'+$index].$error" class="error-messages" ng-show="family2.familySection2Form['childLname'+ $index].$invalid && (!family2.familySection2Form['childLname'+$index].$pristine || family2.click)">
														<div ng-message="required">Please enter child's Last Name.</div>
														<div ng-message="pattern">Please enter child's valid Last Name.</div>
														<div ng-message="maxlength">Last Name cannot be greater than 20 characters.</div>
													</div>
												</div>
											</div>

										</div>
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group custom-form">
												<label class="form-label">Gender</label>
												<div class="gender-radio-wrapper">
													<div class="gender-wrapper male-wrapper">
														<input type="radio" id="rdFamilyDetailsMale1{{$index}}" name="rdFamilyGender1{{$index}}" value="M" ng-model="child.rdFamilyGender1" ng-required="family2.famCondition" required/>
														<label for="rdFamilyDetailsMale1{{$index}}">Male</label>
														<div class="clearfix"></div>
													</div>
													<div class="gender-wrapper female-wrapper">
														<input type="radio" id="rdFamilyDetailsFemale1{{$index}}" name="rdFamilyGender1{{$index}}" value="F" ng-model="child.rdFamilyGender1" ng-required="family2.famCondition" required/>
														<label for="rdFamilyDetailsFemale1{{$index}}">Female</label>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
											<div ng-messages="family2.familySection2Form['rdFamilyGender1'+$index].$error" class="error-messages" ng-show="family2.familySection2Form['rdFamilyGender1'+ $index].$invalid && (!family2.familySection2Form['rdFamilyGender1'+$index].$pristine || family2.click)">
												<div ng-message="required">Please select Gender.</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label class="form-label">Date of Birth</label>
										<input type="date" name="childBdate{{$index}}" ng-model="child.childBdate" ng-required="family2.famCondition"  class="form-control text-center date-icon" required/>
									</div>
									<div ng-messages="family2.familySection2Form['childBdate'+$index].$error" class="error-messages" ng-show="family2.familySection2Form['childBdate'+ $index].$invalid && (!family2.familySection2Form['childBdate'+$index].$pristine || family2.click)">
										<div ng-message="required">Please enter child's Date of Birth.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label class="form-label">Occupation</label>
										<input type="text" name="childOccu{{$index}}" ng-model="child.childOccu" ng-maxlength="180" ng-required="family2.famCondition"  class="form-control" required/>
									</div>
									<div ng-messages="family2.familySection2Form['childOccu'+$index].$error" class="error-messages" ng-show="family2.familySection2Form['childOccu'+ $index].$invalid && (!family2.familySection2Form['childOccu'+$index].$pristine || family2.click)">
										<div ng-message="required">Please enter child's Occupation.</div>
										<div ng-message="maxlength">Occupation cannot be more than 180 digits.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label class="form-label">Annual Income</label>
										<input type="text" name="childAnnuInc{{$index}}" ng-model="child.childAnnuInc" ng-maxlength="15" ng-pattern="/^[0-9]*$/" ng-required="family2.famCondition"  class="form-control" required/>
									</div>
									<div ng-messages="family2.familySection2Form['childAnnuInc'+$index].$error" class="error-messages" ng-show="family2.familySection2Form['childAnnuInc'+ $index].$invalid && (!family2.familySection2Form['childAnnuInc'+$index].$pristine || family2.click)">
										<div ng-message="required">Please enter child's Annual Income.</div>
										<div ng-message="pattern">Please enter child's valid Annual Income.</div>
										<div ng-message="maxlength">Annual Income cannot be greater than 15 digits.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form rupppe-textbox">
										<label class="form-label">Total Insurance Coverage (Existing + Applied)</label>
										<input type="text" name="childInsdet{{$index}}" ng-model="child.childInsdet" ng-maxlength="15" ng-pattern="/^[0-9]*$/" ng-required="family2.famCondition"  class="form-control" required/>
									</div>
									<div ng-messages="family2.familySection2Form['childInsdet'+$index].$error" class="error-messages" ng-show="family2.familySection2Form['childInsdet'+ $index].$invalid && (!family2.familySection2Form['childInsdet'+$index].$pristine || family2.click)">
										<div ng-message="required">Please enter child's Insurance Details.</div>
										<div ng-message="maxlength">Insurance Coverage cannot be greater than 15 digits.</div>
										<div ng-message="pattern">Please enter child's valid Coverage Amount.</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 pull-right">
							<div class="custom-btn form-btn-wrap add-btn-wrap">
								<button class="btn btn-primary btn-block"  ng-click="family2.addNewChild()"><i class="fa fa-plus add-color-white" aria-hidden="true"></i></button>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap add-btn-wrap">
								<button class="btn btn-default btn-block"  ng-click="family2.gotoNextPg(family2.familySection2Form)">Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</ion-content>
