<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<rq-timeline class="tab-nav"></rq-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<section class="quetionaire_block">
				<form id="hwQuesForm" name="hwQuesForm" novalidate>
				<div class="row" ng-show="hwC.isDone">
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="custom-btn form-btn-wrap">
									<button type="button" class="btn btn-default btn-block" ng-click="hwC.showPreview()">preview Output</button>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="custom-btn form-btn-wrap">
									<button type="button" class="btn btn-default btn-block" ng-click="hwC.reGenerate()">Regenerate Output</button>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="custom-btn form-btn-wrap">
									<button type="button" class="btn btn-default btn-block" ng-click="hwC.onNext()">Next</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" ng-hide="hwC.isDone">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group custom-form main-form-title">
							<label class="form-label">Housewife Questionnaire - {{hwC.LoadData.custType}}</label>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">A. Information on proposed insured[Housewife]</label>
										</div>
									</div>
									<!--Education of the Housewife-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label  class="form-label">1. Education of the Housewife</label>
											<div class="custom-drp">
												<select class="form-control" name="hwAnsA1" ng-options="option.EDU_DISPLAY for option in hwC.educationList track by option.EDU_VALUE" ng-change="hwC.onEducationChg()" ng-model="hwC.educationOptionSelected" select-required ></select>
											</div>
										</div>
										<div ng-messages="hwQuesForm.hwAnsA1.$error" class="error-messages" ng-show="hwQuesForm.hwAnsA1.$invalid && (!hwQuesForm.hwAnsA1.$pristine || hwC.genOpClick)">
											<div ng-message="selectRequired">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form" ng-show="hwC.educationOptionSelected.EDU_VALUE=='Others'">
											<label  class="form-label">Please specify</label>
											<div class="custom-drp">
												<input type="text" class="form-control" name="hwAnsA1Reason" ng-model="hwC.hwQuesData.ANS_A1_Reason" ng-required="hwC.educationOptionSelected.EDU_VALUE=='Others'" ng-maxlength="50">
												<div ng-messages="hwQuesForm.hwAnsA1Reason.$error" class="error-messages" ng-show="hwQuesForm.hwAnsA1Reason.$invalid && (!hwQuesForm.hwAnsA1Reason.$pristine || hwC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 50 characters.</div>
												</div>
											</div>
										</div>
									</div>
									<!--Education of the Housewife-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label  class="form-label">2. What is the purpose of insurance?</label>
											<div class="custom-drp">
												<select name="hwAnsA2" class="form-control"  ng-options="option.IP_DISPLAY for option in hwC.insPurposeList track by option.IP_VALUE" ng-change="hwC.onInsPurposeChg()" ng-model="hwC.insPurposeOptionSelected" select-required ></select>
												<div ng-messages="hwQuesForm.hwAnsA2.$error" class="error-messages" ng-show="hwQuesForm.hwAnsA2.$invalid && (!hwQuesForm.hwAnsA2.$pristine || hwC.genOpClick)">
													<div ng-message="selectRequired">Please select an option.</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form" ng-show="hwC.insPurposeOptionSelected.IP_VALUE=='Others'">
											<label  class="form-label">Please specify</label>
											<div class="custom-drp">
												<input type="text" class="form-control" name="hwAnsA2Reason" ng-model="hwC.hwQuesData.ANS_A2_Reason" ng-required="hwC.insPurposeOptionSelected.IP_VALUE=='Others'" ng-maxlength="100">
												<div ng-messages="hwQuesForm.hwAnsA2Reason.$error" class="error-messages" ng-show="hwQuesForm.hwAnsA2Reason.$invalid && (!hwQuesForm.hwAnsA2Reason.$pristine || hwC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 100 characters.</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label  class="form-label">3. Existing Insurance Details of the Proposed Insured</label>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<div class="form-group custom-form">
													<input type="number" class="form-control" name="hwAnsA3a" ng-model="hwC.hwQuesData.ANS_A3a" placeholder="Sum Assured" required ng-maxlength="15">
												</div>
												<div ng-messages="hwQuesForm.hwAnsA3a.$error" class="error-messages" ng-show="hwQuesForm.hwAnsA3a.$invalid && (!hwQuesForm.hwAnsA3a.$pristine || hwC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 15 characters.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<div class="form-group custom-form">
													<input type="number" class="form-control" name="hwAnsA3b" ng-model="hwC.hwQuesData.ANS_A3b" placeholder="Premium" required ng-maxlength="15">
												</div>
												<div ng-messages="hwQuesForm.hwAnsA3b.$error" class="error-messages" ng-show="hwQuesForm.hwAnsA3b.$invalid && (!hwQuesForm.hwAnsA3b.$pristine || hwC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 15 characters.</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form main-form-title">
											<label class="form-label">B. Information on husband of the proposed insured</label>
										</div>
									</div>
									<!--Occupation-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label  class="form-label">1. Occupation:</label>
											<input type="text" class="form-control" name="hwAnsB1" ng-model="hwC.hwQuesData.ANS_B1" required ng-maxlength="100">
										</div>
										<div ng-messages="hwQuesForm.hwAnsB1.$error" class="error-messages" ng-show="hwQuesForm.hwAnsB1.$invalid && (!hwQuesForm.hwAnsB1.$pristine || hwC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="maxlength">only 100 characters.</div>
										</div>
									</div>
									<!--Annual Income-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label  class="form-label">2. Annual Income:</label>
											<input type="number" class="form-control" name="hwAnsB2" ng-model="hwC.hwQuesData.ANS_B2" required ng-maxlength="100">
											<div ng-messages="hwQuesForm.hwAnsB2.$error" class="error-messages" ng-show="hwQuesForm.hwAnsB2.$invalid && (!hwQuesForm.hwAnsB2.$pristine || hwC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 100 characters.</div>
											</div>
										</div>
									</div>
									<!--Source of Income-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label  class="form-label">3. Source of Income:</label>
											<input type="text" class="form-control" name="hwAnsB3" ng-model="hwC.hwQuesData.ANS_B3" required ng-maxlength="100">
											<div ng-messages="hwQuesForm.hwAnsB3.$error" class="error-messages" ng-show="hwQuesForm.hwAnsB3.$invalid && (!hwQuesForm.hwAnsB3.$pristine || hwC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 100 characters.</div>
											</div>
										</div>
									</div>
									<!--Source of Income-->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<label  class="form-label">4. Existing Insurance Cover:</label>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<div class="form-group custom-form">
													<input type="number" class="form-control" name="hwAnsB4a" ng-model="hwC.hwQuesData.ANS_B4a" placeholder="Sum Assured" required ng-maxlength="50">
												</div>
												<div ng-messages="hwQuesForm.hwAnsB4a.$error" class="error-messages" ng-show="hwQuesForm.hwAnsB4a.$invalid && (!hwQuesForm.hwAnsB4a.$pristine || hwC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 50 characters.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<div class="form-group custom-form">
													<input type="number" class="form-control" name="hwAnsB4b" ng-model="hwC.hwQuesData.ANS_B4b" placeholder="Premium" required ng-maxlength="50">
												</div>
												<div ng-messages="hwQuesForm.hwAnsB4b.$error" class="error-messages" ng-show="hwQuesForm.hwAnsB4b.$invalid && (!hwQuesForm.hwAnsB4b.$pristine || hwC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 50 characters.</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
								<div class="custom-btn form-btn-wrap">
									<button class="btn btn-default btn-block" type="button" ng-click="hwC.onGenerateOutput(hwQuesForm)">Generate Output</button>
								</div>
							</div>
						</div>
						<!-- end second row -->
					</div>
				</div>
			</form>
			</section>
		</div>
	</div>
</ion-content>
