<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<pyd-timeline class="tab-nav"></pyd-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<form name="bankdetForm">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Account Holder Name<span class="requiredStar">*</span></label>
						<input type="text" class="form-control" name="AccHoldName"  ng-model="bdc.BankDetails.AccHoldName" ng-maxlength="60" required block-hash/>
					</div>
					<div ng-messages="bankdetForm.AccHoldName.$error" class="error-messages" ng-show="bankdetForm.AccHoldName.$invalid && (!bankdetForm.AccHoldName.$pristine || bdc.click)">
						<div ng-message="required">Account Holder name cannot be empty.</div>
						<div ng-message="maxlength">Account Holder name cannot be more than 60 characters.</div>
              <div ng-message="blockHash">Please do not use '#' or '|'.</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">IFSC Code<span class="requiredStar">*</span></label>
						<input type="text" class="form-control" name="IfscCode"  ng-model="bdc.BankDetails.IfscCode" ng-pattern="bdc.ifscRegex" ng-maxlength="11" required style="text-transform: uppercase" input-uppercase/>
					</div>
					<div ng-messages="bankdetForm.IfscCode.$error" class="error-messages" ng-show="bankdetForm.IfscCode.$invalid && (!bankdetForm.IfscCode.$pristine || bdc.click)">
						<div ng-message="required">IFSC code cannot be empty.</div>
						<div ng-message="maxlength">IFSC Code cannot be more than 11 characters.</div>
						<div ng-message="pattern">Invalid IFSC Code</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Bank Name<span class="requiredStar">*</span></label>
						<!--<select class="form-control" ng-model="bdc.BankDetails.Bank" name="bankNam" ng-options="option.bankName for option in bdc.BankData track by option.bankName" required>-->
							<!--<option value="">Select Bank Name</option>-->
						<!--</select>-->
						<div class="custom-drp city-drp-dwn">
							<div custom-select="s.bankName for s in bdc.BankData | filter: { bankName: $searchTerm } track by s.bankCode" ng-model="bdc.BankDetails.Bank"  name="bankNam" select-required></div>
						</div>

					</div>
					<div ng-messages="bankdetForm.bankNam.$error" class="error-messages" ng-show="bankdetForm.bankNam.$invalid && (!bankdetForm.bankNam.$pristine || bdc.click)">
						<div ng-message="selectRequired">Bank name required.</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Re-enter IFSC Code<span class="requiredStar">*</span></label>
						<input type="password" class="form-control" name="reenterIfscCode"  ng-maxlength="11" ng-pattern="bdc.ifscRegex" ng-model="bdc.BankDetails.reenterIfscCode" compare-To="bdc.BankDetails.IfscCode" required style="text-transform: uppercase" input-uppercase/>
					</div>
					<div ng-messages="bankdetForm.reenterIfscCode.$error" class="error-messages" ng-show="bankdetForm.reenterIfscCode.$invalid && (!bankdetForm.reenterIfscCode.$pristine || bdc.click)">
						<div ng-message="required">IFSC code cannot be empty.</div>
						<div ng-message="maxlength">IFSC Code cannot be more than 11 characters.</div>
						<div ng-message="compareTo">IFSC code does not match.</div>
						<div ng-message="pattern">Invalid IFSC Code</div>
					</div>
				</div>
				<!--Other Bank -->
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" ng-show="bdc.BankDetails.Bank.bankName =='Other'">
					<div class="form-group custom-form" >
						<label class="form-label">Other Bank Name<span class="requiredStar">*</span></label>
						<input type="text" class="form-control" name="otBank"  ng-maxlength="50" ng-model="bdc.BankDetails.otBank" ng-required="bdc.BankDetails.Bank.bankName =='Other'" block-hash/>
					</div>
					<div ng-messages="bankdetForm.otBank.$error" class="error-messages" ng-show="bankdetForm.otBank.$invalid && (!bankdetForm.otBank.$pristine || bdc.click)">
						<div ng-message="required">Bank name cannot be empty.</div>
						<div ng-message="maxlength">Bank name cannot be more than 50 characters.</div>
              <div ng-message="blockHash">Please do not use '#' or '|'.</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Branch Name<span class="requiredStar">*</span></label>
						<input type="text" class="form-control" name="branchName"  ng-model="bdc.BankDetails.BranchName" ng-maxlength="30" required block-hash/>
					</div>
					<div ng-messages="bankdetForm.branchName.$error" class="error-messages" ng-show="bankdetForm.branchName.$invalid && (!bankdetForm.branchName.$pristine || bdc.click)">
						<div ng-message="required">Branch name cannot be empty.</div>
						<div ng-message="maxlength">Branch Name cannot be more than 30 characters.</div>
              <div ng-message="blockHash">Please do not use '#' or '|'.</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Account Type<span class="requiredStar">*</span></label>
						<select class="form-control" name="accountType" ng-model="bdc.BankDetails.AccType" required>
							<option value="">Select Account Type</option>
							<option ng-repeat="accountname in bdc.accountTypeData" value={{accountname}}>{{accountname}}</option>
						</select>
					</div>
					<div ng-messages="bankdetForm.accountType.$error" class="error-messages" ng-show="bankdetForm.accountType.$invalid && (!bankdetForm.accountType.$pristine || bdc.click)">
						<div ng-message="required">Account type required.</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Account Number<span class="requiredStar">*</span></label>
						<input type="number" class="form-control" name="BankAccNo"  ng-model="bdc.BankDetails.BankAccNum" ng-minlength="bdc.BankDetails.Bank.acclength==0 ? 1 : bdc.BankDetails.Bank.acclength" ng-maxlength="bdc.BankDetails.Bank.acclength==0 ? 20 : bdc.BankDetails.Bank.acclength" required/>
					</div>
					<div ng-messages="bankdetForm.BankAccNo.$error" class="error-messages" ng-show="bankdetForm.BankAccNo.$invalid && (!bankdetForm.BankAccNo.$pristine || bdc.click)">
						<div ng-message="required">Bank Account Number cannot be empty.</div>
						<div ng-message="maxlength">Bank Account Number should be {{bdc.BankDetails.Bank.acclength==0 ? "1-20" : bdc.BankDetails.Bank.acclength}}.</div>
						<div ng-message="minlength">Bank Account Number should be {{bdc.BankDetails.Bank.acclength==0 ? "1-20" : bdc.BankDetails.Bank.acclength}}.</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Bank Details<span class="requiredStar">*</span></label>
						<select class="form-control" ng-model="bdc.BankDetails.NeftDoc" ng-change="bdc.onChangeNeftDoc()" name ="neftDoc" required>
							<option value="">Select NEFT Registration Document</option>
							<option ng-repeat="neftObj in bdc.neftDocData" value={{neftObj.DOC_ID}}>{{neftObj.MPPROOF_DESC}}</option>
						</select>
					</div>
					<div ng-messages="bankdetForm.neftDoc.$error" class="error-messages" ng-show="bankdetForm.neftDoc.$invalid && (!bankdetForm.neftDoc.$pristine || bdc.click)">
						<div ng-message="required">Neft doc required.</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="form-group custom-form">
						<label class="form-label">Re-enter Account<span class="requiredStar">*</span></label>
						<input type="password" class="form-control" name="reenterAccNo"  ng-model="bdc.BankDetails.reenterAccNo" ng-minlength="bdc.BankDetails.Bank.acclength==0 ? 1 : bdc.BankDetails.Bank.acclength" ng-maxlength="bdc.BankDetails.Bank.acclength==0 ? 20 : bdc.BankDetails.Bank.acclength" compare-to="bdc.BankDetails.BankAccNum" required/>
					</div>
					<div ng-messages="bankdetForm.reenterAccNo.$error" class="error-messages" ng-show="bankdetForm.reenterAccNo.$invalid && (!bankdetForm.reenterAccNo.$pristine || bdc.click)">
						<div ng-message="required">Bank Account Number cannot be empty.</div>
						<div ng-message="compareTo">Bank Account Number does not match</div>
						<div ng-message="maxlength">Bank Account Number should be {{bdc.BankDetails.Bank.acclength==0 ? "1-20" : bdc.BankDetails.Bank.acclength}}.</div>
						<div ng-message="minlength">Bank Account Number should be {{bdc.BankDetails.Bank.acclength==0 ? "1-20" : bdc.BankDetails.Bank.acclength}}.</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn">
								<button class="btn btn-default btn-block" ng-click="bdc.save(bankdetForm)">Save</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</ion-content>
