<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<rq-timeline class="tab-nav"></rq-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<section class="quetionaire_block">
				<div class="fatca_wrap">
					<div class="row">
						<form id="fatcaQuesForm" name="fatcaQuesForm" novalidate>
							<div class="row" ng-show="fatC.isDone">
								<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
											<div class="custom-btn form-btn-wrap">
												<button type="button" class="btn btn-default btn-block" ng-click="fatC.reGenerate()">Regenerate Output</button>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
											<div class="custom-btn form-btn-wrap">
												<button type="button" class="btn btn-default btn-block" ng-click="fatC.showPreview()">preview Output</button>
											</div>
										</div>
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
											<div class="custom-btn form-btn-wrap">
												<button type="button" class="btn btn-default btn-block" ng-click="fatC.onNext()">Next</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" ng-hide="fatC.isDone">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form main-form-title">
										<label class="form-label">FATCA Questionnaire - {{fatC.LoadData.custType}}</label>
									</div>
									<div class="form-group custom-form" >

										<label>Father's Name <span class="requiredStar">*</span></label>
										<input type="text" class="form-control" name="factAnsfn" ng-model="fatC.fatcQuesData.ANS_fn" placeholder="" ng-maxlength="125" ng-pattern="fatC.nameRegex" required/>
									</div>
									<div ng-messages="fatcaQuesForm.factAnsfn.$error" class="error-messages" ng-show="fatcaQuesForm.factAnsfn.$invalid && (!fatcaQuesForm.factAnsfn.$pristine || fatC.genOpClick)">
										<div ng-message="required">Field cannot be empty.</div>
										<div ng-message="maxlength">only 125 characters.</div>
										<div ng-message="pattern">Please enter valid Name.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label>Place Of Birth <span class="requiredStar">*</span></label>
										<input type="text" class="form-control" name="factAnspob" ng-model="fatC.fatcQuesData.ANS_pob" placeholder="" ng-maxlength="100" ng-pattern="fatC.nameRegex" required/> </div>
									<div ng-messages="fatcaQuesForm.factAnspob.$error" class="error-messages" ng-show="fatcaQuesForm.factAnspob.$invalid && (!fatcaQuesForm.factAnspob.$pristine || fatC.genOpClick)">
										<div ng-message="required">Field cannot be empty.</div>
										<div ng-message="maxlength">only 100 characters.</div>
										<div ng-message="pattern">Please enter valid Name.</div>

									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Country of Birth <span class="requiredStar">*</span></label>
										<div class="custom-drp">
											<select class="form-control" name="birthCountry" ng-model="fatC.fatcQuesData.ANS_COB" ng-options="option.COUNTRY_NAME for option in fatC.birthCountryList track by option.COUNTRY_CODE" select-required>
											</select>
										</div>
									</div>
									<div ng-messages="fatcaQuesForm.birthCountry.$error" class="error-messages" ng-show="fatcaQuesForm.birthCountry.$invalid && (!fatcaQuesForm.birthCountry.$pristine || fatC.genOpClick)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label>Occupation Type <span class="requiredStar">*</span></label>
										<div class="custom-drp">
											<select class="form-control" name="fatcaAns_Occtype" ng-disabled="fatC.isDisabled_occ" ng-options="option for option in fatC.OccList " ng-change="fatC.occTypeChg()" ng-model="fatC.fatcQuesData.ANS_OCC">
												<!-- <option selected></option>
												 <option>type 1</option>
												 <option>type 2</option>-->
											</select>
										</div>
									</div>
								</div>


								<div ng-messages="fatcaQuesForm.fatcaAns_Occtype.$error" class="error-messages" ng-show="fatcaQuesForm.fatcaAns_Occtype.$invalid && (!fatcaQuesForm.fatcaAns_Occtype .$pristine || fatC.genOpClick)">
									<div ng-message="selectRequired">Please select an option.</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label>Identification Type <span class="requiredStar">*</span></label>
										<div class="custom-drp">
											<select class="form-control" name="fatcaAns_idtype" ng-disabled="fatC.isDisabled_idtype" ng-options="option for option in fatC.IdentyList " ng-change="fatC.idTypeChg()" ng-model="fatC.fatcQuesData.ANS_IDTYPE">

											</select>
										</div>
									</div>
								</div>
								<div ng-messages="fatcaQuesForm.fatcaAns_idtype.$error" class="error-messages" ng-show="fatcaQuesForm.fatcaAns_idtype.$invalid && (!fatcaQuesForm.fatcaAns_idtype.$pristine || fatC.genOpClick)">
									<div ng-message="selectRequired">Please select an option.</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form" ng-show="fatC.fatcQuesData.ANS_IDTYPE=='Others'">
										<label class="form-label">Other Identity Proof <span class="requiredStar">*</span></label>
										<input type="text" class="form-control" name="proOtherIDProof" ng-disabled="fatC.isSelf" ng-required="!fatC.isSelf && fatC.fatcQuesData.ANS_IDTYPE=='Others'" ng-pattern="fatC.nameRegex" ng-model="fatC.fatcQuesData.IDENTITY_PROOF_OTHER" ng-maxlength="100" required block-hash/>
									</div>
									<div ng-messages="fatcaQuesForm.proOtherIDProof.$error" ng-show="fatcaQuesForm.proOtherIDProof.$invalid && (!fatcaQuesForm.proOtherIDProof.$pristine || fatC.genOpClick)" class="error-messages" >
										<div ng-message="required">Enter enter Other Identity proof.</div>
										<div ng-message="blockHash">Please do not use '#' or '|'.</div>
										<div ng-message="maxlength">Other ID Proof cannot be more than 100 characters.</div>
										<div ng-message="pattern">Please enter valid Identity proof</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label>Identification No <span class="requiredStar">*</span></label>
										<input type="text" class="form-control" name="fatcAns_Idno" ng-model="fatC.fatcQuesData.ANS_Idno" placeholder="" readonly/> </div>
									<div ng-messages="fatcaQuesForm.fatcAns_Idno.$error" class="error-messages" ng-show="fatcaQuesForm.fatcAns_Idno.$invalid && (!fatcaQuesForm.fatcAns_Idno.$pristine || fatC.genOpClick)">
										<div ng-message="required">Field cannot be empty.</div>
									</div>
								</div>


								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Residance for Tax Purpose:</label>

										<div class="tick-radio-wrap">
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="fatAnstaxY" name="fatAnstax" value="Y" ng-model="fatC.fatcQuesData.ANS_TAXRES" />
												<label for="fatAnstaxY">Yes</label>
											</div>
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="fatAnstaxN" name="fatAnstax" value="N" ng-model="fatC.fatcQuesData.ANS_TAXRES" ng-disabled="true" />
												<label for="fatAnstaxN">No</label>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div ng-messages="fatcaQuesForm.fatAnstax.$error" class="error-messages" ng-show="fatcaQuesForm.fatAnstax.$invalid && (!fatcaQuesForm.fatAnstax.$pristine || fatC.genOpClick)">
										<div ng-message="required">Please select an option.</div>
									</div>
								</div>


								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

									<div class="table-responsive fatca_table_wrp">
										<table class="table table-bordered">
											<thead>
											<tr>
												<th>
													<label  class="form-label">Country/Countries of Tax Residency<span class="requiredStar">*</span></label>
												</th>
												<th>
													<label  class="form-label">Address in the jurisdiction for Tax Residency<span class="requiredStar">*</span></label>
												</th>
												<th>
													<label  class="form-label">Tax Identification Number(TIN)/Function Equivalent Number<span class="requiredStar">*</span></label>
												</th>
												<th>
													<label  class="form-label">TIN/Function Equivalent Number Issuing Country<span class="requiredStar">*</span></label>
												</th>
												<th>
													<label  class="form-label">Validity of documentary evidence provided</label>
												</th>

											</tr>
											</thead>
											<tbody>
											<tr>
												<td style="position:relative">
													<div class="form-group custom-form">
													<div class="custom-drp">
														<select class="form-control" name="fatcqAnsB1a" ng-model="fatC.fatcQuesData.ANS_B1a" ng-options="country.COUNTRY_NAME for country in fatC.birthCountryList track by country.COUNTRY_CODE" select-required></select>
													</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB1a.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB1a.$invalid && (!fatcaQuesForm.fatcqAnsB1a.$pristine || fatC.genOpClick)">
														<div ng-message="selectRequired">Please select an option.</div>
													</div>

												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB1b_BLDG" ng-model="fatC.fatcQuesData.ANS_B1b_BLDG" placeholder="Building Name" ng-pattern="fatC.addressRegex" required ng-maxlength="25">
													</div>

													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB1b_STREET" ng-model="fatC.fatcQuesData.ANS_B1b_STRT" placeholder="Street Name" ng-pattern="fatC.addressRegex" required ng-maxlength="25">
													</div>

													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB1b_CITY" ng-model="fatC.fatcQuesData.ANS_B1b_CITY" placeholder="City Name" ng-pattern="fatC.addressRegex" required ng-maxlength="25">
													</div>
													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB1b_STATE" ng-model="fatC.fatcQuesData.ANS_B1b_STATE" placeholder="State Name" ng-pattern="fatC.addressRegex" required ng-maxlength="25">
													</div>

													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB1b_PIN" ng-model="fatC.fatcQuesData.ANS_B1b_PIN" ng-pattern="fatC.pinRegex" placeholder="Pincode" ng-maxlength="25"  required >
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB1b_BLDG.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB1b_BLDG.$invalid && (!fatcaQuesForm.fatcqAnsB1b_BLDG.$pristine || fatC.genOpClick)">
														<div ng-message="required">Building cannot be empty.</div>
														<div ng-message="maxlength">Building should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid building name.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB1b_STREET.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB1b_STREET.$invalid && (!fatcaQuesForm.fatcqAnsB1b_STREET.$pristine || fatC.genOpClick)">
														<div ng-message="required">Street cannot be empty.</div>
														<div ng-message="maxlength">Street should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid street name.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB1b_CITY.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB1b_CITY.$invalid && (!fatcaQuesForm.fatcqAnsB1b_CITY.$pristine || fatC.genOpClick)">
														<div ng-message="required">City cannot be empty.</div>
														<div ng-message="maxlength">City should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid city name.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB1b_STATE.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB1b_STATE.$invalid && (!fatcaQuesForm.fatcqAnsB1b_STATE.$pristine || fatC.genOpClick)">
														<div ng-message="required">State cannot be empty.</div>
														<div ng-message="maxlength">State should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid state name.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB1b_PIN.$error" class="error-messages"  ng-show="fatcaQuesForm.fatcqAnsB1b_PIN.$invalid && (!fatcaQuesForm.fatcqAnsB1b_PIN.$pristine || fatC.genOpClick)">
														<div ng-message="required">Pin cannot be empty.</div>
														<div ng-message="maxlength">Pin should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid PIN Code.</div>
													</div>
												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB1c" ng-model="fatC.fatcQuesData.ANS_B1c" ng-pattern="fatC.addressRegex" required ng-maxlength="100">
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB1c.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB1c.$invalid && (!fatcaQuesForm.fatcqAnsB1c.$pristine || fatC.genOpClick)">
														<div ng-message="required">Field cannot be empty.</div>
														<div ng-message="maxlength">only 100 characters.</div>
														<div ng-message="pattern">Please  enter valid TIN.</div>
													</div>
												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<div class="custom-drp">
															<select class="form-control" name="tinCountryb1d" ng-model="fatC.fatcQuesData.ANS_b1d" ng-options="option1.COUNTRY_NAME for option1 in fatC.birthCountryList track by option1.COUNTRY_CODE" select-required>
															</select>
														</div>
													</div>
													<div ng-messages="fatcaQuesForm.tinCountryb1d.$error" class="error-messages" ng-show="fatcaQuesForm.tinCountryb1d.$invalid && (!fatcaQuesForm.tinCountryb1d.$pristine || fatC.genOpClick)">
														<div ng-message="selectRequired">Please select an option.</div>
													</div>
												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<input type="date" class="form-control" name="fatcqAnsB1e" ng-model="fatC.fatcQuesData.ANS_B1e" ng-change="fatC.validitydate1(fatC.fatcQuesData.ANS_B1e)"  >
													</div>
												   <!-- <div ng-messages="fatcaQuesForm.fatcqAnsB1e.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB1e.$invalid && (!fatcaQuesForm.fatcqAnsB1e.$pristine || fatC.genOpClick)">
														<div ng-message="required">Field cannot be empty.</div>
													</div>-->
												</td>

											</tr>
											<tr>
												<td style="position:relative">
													<div class="custom-drp">
														<select class="form-control" name="fatcqAnsB2a" ng-model="fatC.fatcQuesData.ANS_B2a" ng-options="country.COUNTRY_NAME for country in fatC.birthCountryList track by country.COUNTRY_CODE" >
													</select>
													</div>

												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB2b_BLDG" ng-model="fatC.fatcQuesData.ANS_B2b_BLDG" placeholder="Building Name" ng-pattern="fatC.addressRegex" ng-maxlength="25">
													</div>
													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB2b_STREET" ng-model="fatC.fatcQuesData.ANS_B2b_STRT" placeholder="Street Name"  ng-pattern="fatC.addressRegex" ng-maxlength="25">
													</div>

													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB2b_CITY" ng-model="fatC.fatcQuesData.ANS_B2b_CITY" placeholder="City Name" ng-pattern="fatC.addressRegex" ng-maxlength="25">
													</div>
													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB2b_STATE" ng-model="fatC.fatcQuesData.ANS_B2b_STATE" placeholder="State Name" ng-pattern="fatC.addressRegex" ng-maxlength="25">
													</div>

													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB2b_PIN" ng-model="fatC.fatcQuesData.ANS_B2b_PIN"  placeholder="Pincode" ng-pattern="fatC.pinRegex" ng-maxlength="25">
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB2b_BLDG.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB2b_BLDG.$invalid && (!fatcaQuesForm.fatcqAnsB1b_BLDG.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">Building should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid building name.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB2b_STREET.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB2b_STREET.$invalid && (!fatcaQuesForm.fatcqAnsB2b_STREET.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">Street should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid street.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB2b_CITY.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB2b_CITY.$invalid && (!fatcaQuesForm.fatcqAnsB2b_CITY.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">City should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid city.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB2b_STATE.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB2b_STATE.$invalid && (!fatcaQuesForm.fatcqAnsB2b_STATE.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">State should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid state.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB2b_PIN.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB2b_PIN.$invalid && (!fatcaQuesForm.fatcqAnsB2b_PIN.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">Pin should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid PIN Code.</div>
													</div>
												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB2c" ng-model="fatC.fatcQuesData.ANS_B2c" ng-pattern="fatC.addressRegex" ng-maxlength="100">
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB2c.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB2c.$invalid && (!fatcaQuesForm.fatcqAnsB2c.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">only 100 characters.</div>
														<div ng-message="pattern">Please enter valid TIN.</div>
													</div>
												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<div class="custom-drp">
															<select class="form-control" name="tinCountryb2d" ng-model="fatC.fatcQuesData.ANS_b2d" ng-options="option2.COUNTRY_NAME for option2 in fatC.birthCountryList track by option2.COUNTRY_CODE" >
															</select>
														</div>
													</div>
												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<input type="date" class="form-control" name="fatcqAnsB2e" ng-model="fatC.fatcQuesData.ANS_B2e" ng-change="fatC.validitydate2(fatC.fatcQuesData.ANS_B2e)" >
													</div>
												</td>

											</tr>
											<tr>
												<td style="position:relative">
													<div class="custom-drp">
														<select class="form-control" name="fatcqAnsB3a" ng-model="fatC.fatcQuesData.ANS_B3a" ng-options="country.COUNTRY_NAME for country in fatC.birthCountryList track by country.COUNTRY_CODE" >
													</select>
													</div>

												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB3b_BLDG" ng-model="fatC.fatcQuesData.ANS_B3b_BLDG"  placeholder="Building Name" ng-pattern="fatC.addressRegex" ng-maxlength="25">
													</div>
													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB3b_STREET" ng-model="fatC.fatcQuesData.ANS_B3b_STRT" placeholder="Street Name" ng-pattern="fatC.addressRegex" ng-maxlength="25">
													</div>

													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB3b_CITY" ng-model="fatC.fatcQuesData.ANS_B3b_CITY" placeholder="City Name" ng-pattern="fatC.addressRegex" ng-maxlength="25">
													</div>
													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB3b_STATE" ng-model="fatC.fatcQuesData.ANS_B3b_STATE" placeholder="State Name" ng-pattern="fatC.addressRegex" ng-maxlength="25">
													</div>

													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB3b_PIN"  ng-model="fatC.fatcQuesData.ANS_B3b_PIN" placeholder="Pincode" ng-pattern="fatC.pinRegex" ng-maxlength="25">
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB3b_BLDG.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB3b_BLDG.$invalid && (!fatcaQuesForm.fatcqAnsB3b_BLDG.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">Building should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid building name.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB3b_STREET.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB3b_STREET.$invalid && (!fatcaQuesForm.fatcqAnsB3b_STREET.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">Street should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid street.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB3b_CITY.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB3b_CITY.$invalid && (!fatcaQuesForm.fatcqAnsB3b_CITY.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">City should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid city.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB3b_STATE.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB3b_STATE.$invalid && (!fatcaQuesForm.fatcqAnsB3b_STATE.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">State should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid state.</div>
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB3b_PIN.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB3b_PIN.$invalid && (!fatcaQuesForm.fatcqAnsB3b_PIN.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">Pin should have only 25 characters.</div>
														<div ng-message="pattern">Please enter valid PIN Code.</div>
													</div>
												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<input type="text" class="form-control" name="fatcqAnsB3c" ng-model="fatC.fatcQuesData.ANS_B3c" ng-pattern="fatC.addressRegex" ng-maxlength="100">
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB3c.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB3c.$invalid && (!fatcaQuesForm.fatcqAnsB3c.$pristine || fatC.genOpClick)">
														<div ng-message="maxlength">only 100 characters.</div>
														<div ng-message="maxlength">Please enter valid TIN.</div>
													</div>
												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<div class="custom-drp">
															<select class="form-control" name="tinCountryb3d" ng-model="fatC.fatcQuesData.ANS_b3d" ng-options="option3.COUNTRY_NAME for option3 in fatC.birthCountryList track by option3.COUNTRY_CODE" >
															</select>
														</div>
													</div>

												</td>
												<td style="position:relative">
													<div class="form-group custom-form">
														<input type="date" class="form-control" name="fatcqAnsB3e"  ng-model="fatC.fatcQuesData.ANS_B3e" ng-change="fatC.validitydate3(fatC.fatcQuesData.ANS_B3e)">
													</div>
													<div ng-messages="fatcaQuesForm.fatcqAnsB3e.$error" class="error-messages" ng-show="fatcaQuesForm.fatcqAnsB3e.$invalid && (!fatcaQuesForm.fatcqAnsB3e.$pristine)">
														<div ng-message="pattern">Please enter valid date formate</div>
													</div>
												</td>

											</tr>


											</tbody>
										</table>
									</div>

								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
											<div class="form-group custom-form">
												<label class="form-label">Date</label>
												<input type="date" class="form-control date-icon" ng-model="fatC.fatcQuesData.currdate" readonly />
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 center-block pull-none">
										<div class="custom-btn form-btn-wrap">
											<button class="btn btn-default btn-block" type="button" ng-click="fatC.onGenerateOutput(fatcaQuesForm)" >Generate Output</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>
	</div>
</ion-content>
