<ion-pane class="fact-finderanalysis">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <div class="headertitle-wrap">
				<div class="menu-iconlogo-wrapper">
					<a ng-click="ff4Ctrl.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
				</div>
				<div class="createlead-wrapper">
					<h2 class="header-title text-center">Fact Finder For Need Analysis</h2>
				</div>
            	<div class="clearfix"></div>
            </div>

            <!-- TimeLine Wrapper -->
            <ff-timeline class="timeline-wrapper ff-timeline"></ff-timeline>
        </div>
    </ion-header-bar>



    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap">
                <form id="ffPage4Form" name="ffPage4Form"  novalidate>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group custom-form">
                                <label  class="form-label">Recommended Products(s):<b style="color:red">*</b></label>
                                <div class="custom-drp city-drp-dwn">
                                    <!--<select class="form-control" ng-options="option.PRODUCT_NAME for option in ff4Ctrl.LPProductList track by option.PRODUCT_UINNO" ng-model="ff4Ctrl.recProduct"  ng-change="ff4Ctrl.CheckForULIP()" name="recProduct" required/>-->
                                    <div custom-select=" s.PRODUCT_NAME for s in ff4Ctrl.LPProductList | filter: { PRODUCT_NAME: $searchTerm } track by s.PRODUCT_NAME" ng-model="ff4Ctrl.recProduct" ng-change="ff4Ctrl.CheckForULIP()" name="recProduct" required>
                                    </div>
                                </div>
                            </div>

                            <div ng-messages="ffPage4Form.recProduct.$error" class="error-messages" ng-show="(ff4Ctrl.recProduct.PRODUCT_NAME =='Select') || (ffPage4Form.recProduct.$invalid && (!ffPage4Form.recProduct.$pristine || ff4Ctrl.click))">
                                <div>Please select Product.</div>
                            </div>
                            <div style="color:red"class="error-messages" ng-show="ffPage4Form.recProduct.$error.required && !ffPage4Form.recProduct.$pristine">Recommended Products</div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group custom-form">
                                <label  class="form-label">Recommended Funds Options<b style="color:red">*</b><span class="fact-sub-text">(In case of ULIP only)</span></label>
                                <div class="custom-drp">
                                    <select class="form-control" ng-options="option.FUND_DESCRIPTION for option in ff4Ctrl.LPFundList track by option.FUND_CODE" ng-disabled="ff4Ctrl.recProduct.PRODUCT_SOLUTION!='Wealth Solutions'" ng-model="ff4Ctrl.recFund" name="recFund" ng-required="ff4Ctrl.recProduct.PRODUCT_SOLUTION=='Wealth Solutions'">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div ng-messages="ffPage4Form.recFund.$error" class="error-messages" ng-show="ffPage4Form.recFund.$invalid && (!ffPage4Form.recFund.$pristine || ff4Ctrl.click)">
                                <div ng-message="required">Please select Funds.</div>
                            </div>
                            <div style="color:red"class="error-messages" ng-show="ffPage4Form.recFund.$error.required && !ffPage4Form.recFund.$pristine">Recommended Products</div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label  class="form-label">Customer Consent<b style="color:red">*</b></label>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="fact-radio yes-wrapper">
                                <input type="radio" id="rdInvestEquity1" name="rdInvest" ng-model="ff4Ctrl.rdInvest" value="The above recommendation is based on the information provided by me and as documented in this form. I have explained about the features of the products / and / funds / and believe it would be suitable for me based on my insurance needs and financial objectives."   ng-required="true"/>
                                <label for="rdInvestEquity1" class="form-label">The above recommendation is based on the information provided by me and as documented in this form. I have explained about the features of the products / and / funds / and believe it would be suitable for me based on my insurance needs and financial objectives.</label>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="fact-radio yes-wrapper">
                                <input type="radio" id="rdInvestEquity2" name="rdInvest" ng-model="ff4Ctrl.rdInvest" value="I do not agree with the above recommendation and have opted for alternate products for my need."  ng-required="true"/>
                                <label for="rdInvestEquity2" class="form-label">I do not agree with the above recommendation and have opted for alternate products for my need. </label>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show ="ff4Ctrl.recProduct.PRODUCT_SOLUTION=='Wealth Solutions'">
                            <div class="fact-radio yes-wrapper">
                                <input type="radio" id="rdInvestEquity3" name="rdInvest" ng-model="ff4Ctrl.rdInvest" value="I agree with the product recommendation made above but DO NOT agree with the choice of fund ( only for ULIP products.)" ng-required="true"/>
                                <label for="rdInvestEquity3" class="form-label">I agree with the product recommendation made above but DO NOT agree with the choice of fund ( only for ULIP products.)</label>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 center-block pull-none">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="custom-btn form-btn-wrap">
                                                <button class="btn btn-default btn-block"ng-click="ff4Ctrl.Backbtn4()">Back</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                            <div class="custom-btn form-btn-wrap">
                                                <button class="btn btn-default btn-block" type="submit"ng-click="ff4Ctrl.ContSavePage6()">Continue</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-pane>
