<app-timeline class="app-blackheaderwrap"></app-timeline>
<ion-content has-bouncing="false" has-header="true" style="top: 156px;">
	<div class="application-form-wrapper">
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
			<div class="policy_no_wrp">
				<div class="policy_no_content">
					<div class="policy-tick-wrp"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
					<div class="policy-tick-text" ng-hide="!!pol.COMBO_ID">
						<!--{{pol.POLICY_NO}}-->
						<span class="policy-hd">Successfully generated Policy Number {{pol.POLICY_NO}}</span>
					</div>
					<div class="policy-tick-text" ng-show="!!pol.COMBO_ID">
						<!--{{pol.POLICY_NO}}-->
						<div class="policy-hd" style="margin-bottom:10px">Successfully generated Policy Number</div>
						<div style="margin-bottom:5px">Base Plan : {{pol.POLICY_NO}}</div>
						<div>Term Plan : {{pol.REF_POLICY_NO}}</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap"><!--ng-disabled="personalForm.$invalid"-->
								<button type="button" class="btn btn-default btn-block" ng-click="pol.onNext()">Next</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form name="justifcationForm" id="justifcationForm">
			<div class="modal-blackoverlay newblackoverlay" ng-show="pol.startPopup">
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 center-block pull-none">
					<div class="white-overlay">
						<span class="close-icon" ng-click="pol.closePopUp()"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Justification for Exceptional Approval</label>
									<input type="text" name="justfication" ng-model="pol.ELIGIBILITY_JUSTIFICATION" class="form-control" placeHolder="Please provide justification" ng-maxlength="150" ng-pattern="pol.freeTxt" block-hash required/>
								</div>
							</div>
							<div ng-messages="justifcationForm.justfication.$error" class="error-messages" ng-show="justifcationForm.justfication.$invalid && (!justifcationForm.justfication.$pristine || eduQ.click)">
								<div ng-message="required">Field cannot be blank.</div>
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
								<div ng-message="pattern">Enter valid details excluding special characters</div>
								<div ng-message="maxlength">Other Education qualification cannot be more than 150 characters.</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row">
									<div class="col-xs-12 col-xs-12 col-sm-5 col-md-5 col-lg-5 center-block pull-none">
										<div class="custom-btn form-btn-wrap">
											<button class="btn btn-primary btn-block" ng-click="pol.onSaveJstfication(justifcationForm)">Save</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</ion-content>
