<ul class="tab-ul">
	<li ng-class="{'active': (medac.activeTab==obj.type)}" ng-repeat="obj in medac.medDiaArr" ng-click="medac.gotoPage(obj.type)" ng-show="obj.show">
		<a>{{obj.name}}</a>
	</li>
</ul>
