<ion-view class="lead-list">
	<ion-header-bar class="fixed-bar lead-header">
		<div class="lead-menu-icon header-margin-rm">
			<a ng-click="lc.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
		</div>
		<div class="lead-title header-margin-rm">
			<h2>View Leads</h2>
		</div>
	</ion-header-bar>
	<div class="bar bar-subheader lead-list-sub-header">
		<ul>
			<li ng-class="{active: lc.activeTab==='S'}">
				<a ng-click="lc.onTabClick('S')">
					<div class="lead-list-tabs">
						<span><i class="fa fa-user" aria-hidden="true"></i></span>
						<span>Self Leads</span>
					</div>
				</a>
			</li>
			<li ng-class="{active: lc.activeTab==='P'}">
				<a ng-click="lc.onTabClick('P')">
					<div class="lead-list-tabs">
						<span><i class="fa fa-globe" aria-hidden="true"></i></span>
						<span>Pushed Leads</span>
					</div>
				</a>
			</li>
		</ul>
	</div>

	<ion-content has-bouncing="false" has-header="true">
		<div class="tab-content">
			<div class="tab-pane" ng-class="{active: lc.activeTab==='S'}">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="lead in lc.leadsList.SELF">
					<div ng-class="['lead-list-block', lead.leadLeftBorderClass]">
						<a ng-class="['pull-left', lead.leadCircleClass]"><span>{{lead.LEAD_INITIAL}}</span></a>
						<div class="lead-list-block-dtls">
							<h4>{{lead.LEAD_NAME}}</h4>
							<p>
								<i class="fa fa-phone" aria-hidden="true"></i>
								<span>{{lead.MOBILE_NO}}</span>
							</p>
							<p>
								<i class="fa fa-user" aria-hidden="true"></i>
								<span>{{lead.LOV_VALUE}}</span>
							</p>
							<div class="lead-list-block-btns">
								<a ng-click="lc.onEdit('S', lead.IPAD_LEAD_ID)" class="btn btn-default">Edit</a>
								<a ng-click="lc.onContinue('S', lead.IPAD_LEAD_ID)" class="btn btn-default" ng-disabled="lead.INVALID">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" ng-class="{active: lc.activeTab==='P'}">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-repeat="lead in lc.leadsList.PUSHED">
					<div ng-class="['lead-list-block', lead.leadLeftBorderClass]">
						<a ng-class="['pull-left', lead.leadCircleClass]"><span>{{lead.LEAD_INITIAL}}</span></a>
						<div class="lead-list-block-dtls">
							<h4>{{lead.LEAD_NAME}}</h4>
							<p>
								<i class="fa fa-phone" aria-hidden="true"></i>
								<span>{{lead.MOBILE_NO}}</span>
							</p>
							<p>
								<i class="fa fa-globe" aria-hidden="true"></i>
								<span>{{lead.LOV_VALUE}}</span>
							</p>
							<div class="lead-list-block-btns">
								<a ng-click="lc.onEdit('P', lead.IPAD_LEAD_ID)" class="btn btn-default">Edit</a>
								<a ng-click="lc.onContinue('P', lead.IPAD_LEAD_ID)" class="btn btn-default" ng-disabled="lead.INVALID">Continue</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
