<section class="quetionaire_block">

        <form id="arthriQuesForm" name="arthriQuesForm" ng-submit="arthriC.onGenerateOutput()" novalidate>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group custom-form main-form-title">
                        <label class="form-label">Arthritis Questionnaire</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">1) Which form of arthritis do you suffer from? E.g. Rheumatoid arthritis, osteoarthritis, etc</label>
                                <input type="text" class="form-control" name="arthriqAns1" ng-model="arthriC.arthritisQuesData.ANS_1" required >
                                <div ng-messages="arthriQuesForm.arthriqAns1.$error" class="error-messages" ng-show="arthriQuesForm.arthriqAns1.$invalid && !arthriQuesForm.arthriqAns1.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">2) When was this condition first diagnosed?</label>
                                <input type="text" class="form-control" name="arthriqAns2" ng-model="arthriC.arthritisQuesData.ANS_2" required >
                                <div ng-messages="arthriQuesForm.arthriqAns2.$error" class="error-messages" ng-show="arthriQuesForm.arthriqAns2.$invalid && !arthriQuesForm.arthriqAns2.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">3) How would you describe the current condition?</label>
                                <div class="custom-drp">
                                    <select name="arthriqAns3" class="form-control" ng-options="option.CONDITION_DISPLAY for option in arthriC.arthriConditionList track by option.CONDITION_VALUE" ng-change="arthriC.arthriConditionChg()" ng-model="arthriC.arthriConditionOptionSelected" select-required></select>
                                    <div ng-messages="arthriQuesForm.arthriqAns3.$error" class="error-messages" ng-show="arthriQuesForm.arthriqAns3.$invalid && !arthriQuesForm.arthriqAns3.$pristine">
                                        <div ng-message="selectRequired">Please select an option.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">4) a) What is the current extent of symptoms? Please specify the joints where you get the Maximum symptoms.</label>
                                <input type="text" class="form-control" name="arthriqAns4a" ng-model="arthriC.arthritisQuesData.ANS_4a" required >
                                <div ng-messages="arthriQuesForm.arthriqAns4a.$error" class="error-messages" ng-show="arthriQuesForm.arthriqAns4a.$invalid && !arthriQuesForm.arthriqAns4a.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">b) Are your activities restricted in any way?</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="arthriqAns4bY" name="arthriqAns4b" value="Y" ng-model="arthriC.arthritisQuesData.ANS_4b" required />
                                        <label for="arthriqAns4bY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="arthriqAns4bN" name="arthriqAns4b" value="N" ng-model="arthriC.arthritisQuesData.ANS_4b" ng-change="arthriC.setNull('4b')" required />
                                        <label for="arthriqAns4bN">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="arthriC.arthritisQuesData.ANS_4b=='Y'">
                            <div class="form-group custom-form">
                                <label  class="form-label"> If Yes, please provide details.
                                </label>
                                <input type="text" class="form-control" name="arthriqAns4bReason" ng-model="arthriC.arthritisQuesData.ANS_4b_Reason" ng-required="arthriC.arthritisQuesData.ANS_4b=='Y'">
                                <div ng-messages="arthriQuesForm.arthriqAns4bReason.$error" class="error-messages" ng-show="arthriQuesForm.arthriqAns4bReason.$invalid && !arthriQuesForm.arthriqAns4bReason.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">c) Do you use a walking stick or other mobility aids?</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="arthriqAns4cY" name="arthriqAns4c" value="Y" ng-model="arthriC.arthritisQuesData.ANS_4c" required />
                                        <label for="arthriqAns4cY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="arthriqAns4cN" name="arthriqAns4c" value="N" ng-model="arthriC.arthritisQuesData.ANS_4c" ng-change="arthriC.setNull('4c')" required />
                                        <label for="arthriqAns4cN">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="arthriC.arthritisQuesData.ANS_4c=='Y'">
                            <div class="form-group custom-form">
                                <label  class="form-label"> If Yes, please provide details.
                                </label>
                                <input type="text" class="form-control" name="arthriqAns4cReason" ng-model="arthriC.arthritisQuesData.ANS_4c_Reason" ng-required="arthriC.arthritisQuesData.ANS_4c=='Y'">
                                <div ng-messages="arthriQuesForm.arthriqAns4cReason.$error" class="error-messages" ng-show="arthriQuesForm.arthriqAns4cReason.$invalid && !arthriQuesForm.arthriqAns4cReason.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">d) What treatment has or is currently being prescribed for this condition? Please state name/type and dosage.</label>
                                <input type="text" class="form-control" name="arthriqAns4d" ng-model="arthriC.arthritisQuesData.ANS_4d" required >
                                <div ng-messages="arthriQuesForm.arthriqAns4d.$error" class="error-messages" ng-show="arthriQuesForm.arthriqAns4d.$invalid && !arthriQuesForm.arthriqAns4d.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">e) Are you taking corticosteroids for the condition?</label>
                                <input type="text" class="form-control" name="arthriqAns4e" ng-model="arthriC.arthritisQuesData.ANS_4e" required >
                                <div ng-messages="arthriQuesForm.arthriqAns4e.$error" class="error-messages" ng-show="arthriQuesForm.arthriqAns4e.$invalid && !arthriQuesForm.arthriqAns4e.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">5) a) Have you been advised to have, or have you had a joint replacement or any other surgery or intervention?</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="arthriqAns5aY" name="arthriqAns5a" value="Y" ng-model="arthriC.arthritisQuesData.ANS_5a" required />
                                        <label for="arthriqAns5aY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="arthriqAns5aN" name="arthriqAns5a" value="N" ng-model="arthriC.arthritisQuesData.ANS_5a" ng-change="arthriC.setNull('5a')" required />
                                        <label for="arthriqAns5aN">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="arthriC.arthritisQuesData.ANS_5a=='Y'">
                            <div class="form-group custom-form">
                                <label  class="form-label"> If Yes, please provide details.
                                </label>
                                <input type="text" class="form-control" name="arthriqAns5aReason" ng-model="arthriC.arthritisQuesData.ANS_5a_Reason" ng-required="arthriC.arthritisQuesData.ANS_5a=='Y'">
                                <div ng-messages="arthriQuesForm.arthriqAns5aReason.$error" class="error-messages" ng-show="arthriQuesForm.arthriqAns5aReason.$invalid && !arthriQuesForm.arthriqAns5aReason.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">b) Have you lost significant time (eg weeks) off work with this condition?</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="arthriqAns5bY" name="arthriqAns5b" value="Y" ng-model="arthriC.arthritisQuesData.ANS_5b" required />
                                        <label for="arthriqAns5bY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="arthriqAns5bN" name="arthriqAns5b" value="N" ng-model="arthriC.arthritisQuesData.ANS_5b" ng-change="arthriC.setNull('5b')" required />
                                        <label for="arthriqAns5bN">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="arthriC.arthritisQuesData.ANS_5b=='Y'">
                            <div class="form-group custom-form">
                                <label  class="form-label"> If Yes, please provide details.
                                </label>
                                <input type="text" class="form-control" name="arthriqAns5bReason" ng-model="arthriC.arthritisQuesData.ANS_5b_Reason" ng-required="arthriC.arthritisQuesData.ANS_5b=='Y'">
                                <div ng-messages="arthriQuesForm.arthriqAns5bReason.$error" class="error-messages" ng-show="arthriQuesForm.arthriqAns5bReason.$invalid && !arthriQuesForm.arthriqAns5bReason.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">6) Which investigations were done? ( Eg, X –rays, MRI scans, CT scan, blood tests, Full medical exam, other etc). Please provide copy of medicals report accordingl</label>
                                <input type="text" class="form-control" name="arthriqAns6" ng-model="arthriC.arthritisQuesData.ANS_6" required >
                                <div ng-messages="arthriQuesForm.arthriqAns6.$error" class="error-messages" ng-show="arthriQuesForm.arthriqAns6.$invalid && !arthriQuesForm.arthriqAns6.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end second row -->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div class="custom-btn form-btn-wrap">
                        <button class="btn btn-default btn-block" type="submit" ng-disabled="arthriQuesForm.$invalid">Generate Output</button>
                    </div>
                </div>
            </div>
        </form>

</section>
<div class="clearfix"></div>