<div>
	<!-- Page Header -->
	<div class="app-page-header" id="headerWrap">
		<div class="headertitle-wrap">
			<div class="menu-iconlogo-wrapper">
				<a ng-click="agtc.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
			</div>
			<div class="createlead-wrapper">
				<h2 class="header-title text-center">Agent Details</h2>
			</div>
		</div>
	</div>
	<!-- End Page Header -->

	<!-- Loader -->
	<div class="agent-page-loader"></div>
	<!-- End Loader -->

	<!-- Main Tabs -->
	<ul class="main-tab-ul">
	    <li ng-repeat="agentTimeObj in agtc.agentTimeArr" ng-class="{'active' : (agtc.activeTab == agentTimeObj.type)}">
	        <a ng-click="agtc.gotoPage(agentTimeObj.type)">
	            <span>
                    {{agentTimeObj.timeLineName}}<i class="fa fa-check font-check-btn" ng-show="agentTimeObj.isCompleted" aria-hidden="true"></i>
                </span>
	        </a>
	    </li>
	</ul>
</div>
