<ul class="main-tab-ul">
    <li ng-repeat="agentTimeObj in agtc.agentTimeArr" ng-class="{'active' : (agtc.activeTab == agentTimeObj.type)}">
        <a ng-click="agtc.gotoPage(agentTimeObj.type)">
            <span>{{agentTimeObj.timeLineName}}<i class="fa fa-check font-check-btn" ng-show="agentTimeObj.isCompleted" aria-hidden="true"></i></span>
        </a>
    </li>
</ul>
