<!--<header>-->
<!--<div class="Fact-finder-header">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
            <!--<div class="header_top">-->
                <!--<div class="logo-block pull-left">-->
                    <!--<a ng-click="tc.openMenu()" class="click-menu">-->
                        <!--<i class="fa fa-bars" aria-hidden="true"></i>-->
                    <!--</a>-->
                    <!--<img src="../img/tata-logo.png" alt="Tata AIA Logo" class="main-logo">-->
                <!--</div>-->
                <!--<div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>-->
                <!--<div class="clearfix"></div>-->
            <!--</div>-->
            <!--<div class="clearfix"></div>-->
            <!--&lt;!&ndash;<a ng-click="tc.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>&ndash;&gt;-->
            <!--<h2 class="header-title text-center">Knowledge Bank</h2>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
    <!--</header>-->
<header>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="header_top">
            <div class="logo-block pull-left">
                <a ng-click="tc.openMenu()" class="click-menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <img src="../img/tata-logo.png" alt="Tata AIA Logo" class="main-logo">
            </div>
            <!--<div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>-->
            <div class="clearfix"></div>
            <h2 class="header-title text-center">Knowledge Bank</h2>
        </div>
    </div>
    <div class="clearfix"></div>
</header>
<section class="content-block kb-wrapper">
    <div class="lead-details-content my-tool-kits">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4 lead-box" ng-repeat="toolkitObj in tc.toolkitList">
                    <div class="plan plan-color1" >
                        <div class="head pull-left">
                            <h2 class="pull-left kb-title"><span>{{ toolkitObj.DOC_NAME }}</span></h2>
                            <span class="pull-right"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></span>
                        </div>
                        <ul class="item-list pull-left">
                            <li><a class="lead-btn-block " type="button" ng-click="tc.viewDocument(toolkitObj)">View</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
