<ion-pane class="agent-details">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <agent-timeline class="app-blackheaderwrap"></agent-timeline>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="main-tab application-form-wrapper">
            <div>
                <div class="tab-pane active">
                    <!--Content-->
                    <div>
                        <view-final-output class="pdf-outputwrapper" dbl-click-2-zoom></view-final-output>
                    </div>
                    <!--Button Wrapper-->
                    <form id="finalSub" name="finalSub" novalidate>

                        <!-- <div class="extra-modaloverlay" ng-hide="fsc.consentPopup">
                            <div class="modal-blackoverlay newblackoverlay">
                                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 center-block pull-none">
                                    <div class="white-overlay">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 final_sub_wrap">
                                                <div class="form-group custom-form">
                                                    <label>I have gone through the online proposal and consent to the terms and conditions</label>
                                                    <div class="tick-radio-wrap">
                                                        <div class="tick-radio-btn-wrap">
                                                            <input type="radio" id="radioCh2Yes" value="Y" ng-model="fsc.custConsent"  name="radioCh2" required/>
                                                            <label for="radioCh2Yes">Yes</label>
                                                        </div>
                                                        <div class="tick-radio-btn-wrap">
                                                            <input type="radio" id="radioCh2No" value="N" ng-model="fsc.custConsent" name="radioCh2" required/>
                                                            <label for="radioCh2No">No</label>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                </div>
                                                <div ng-messages="finalSub.radioCh2.$error" class="error-messages" ng-show="finalSub.radioCh2.$invalid && (!finalSub.radioCh2.$pristine || fsc.click)">
                                                    <div ng-message="required">Please select an option.</div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 final_sub_wrap">
                                                <div class="form-group custom-form">
                                                    <label>Are you interested in receiving promotional offers from third parties? </label>
                                                    <div class="tick-radio-wrap">
                                                        <div class="tick-radio-btn-wrap">
                                                            <input type="radio" id="radioCh3Yes" value="Y" ng-model="fsc.promoOff"  name="radioCh3" required/>
                                                            <label for="radioCh3Yes">Yes</label>
                                                        </div>
                                                        <div class="tick-radio-btn-wrap">
                                                            <input type="radio" id="radioCh3No" value="N" ng-model="fsc.promoOff" name="radioCh3" required/>
                                                            <label for="radioCh3No">No</label>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                </div>
                                                <div ng-messages="finalSub.radioCh3.$error" class="error-messages" ng-show="finalSub.radioCh3.$invalid && (!finalSub.radioCh3.$pristine || fsc.click)">
                                                    <div ng-message="required">Please select an option.</div>
                                                </div>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="row">
                                                    <div class="col-xs-12 col-xs-12 col-sm-5 col-md-5 col-lg-5 center-block pull-none">
                                                        <div class="custom-btn form-btn-wrap">
                                                            <button class="btn btn-primary btn-block" ng-click="fsc.accept(finalSub)">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
        						<!--New Popup-->
        						<div class="extra-modaloverlay" ng-show="fsc.offlinePscPopup">
							<div class="modal-blackoverlay newblackoverlay">
								<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 center-block pull-none">
									<div class="white-overlay">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 final_sub_wrap">
												<div class="form-group custom-form">
													<label>Do you want to go for Offline PSC ?</label>
													<div class="tick-radio-wrap">
														<div class="tick-radio-btn-wrap">
															<input type="radio" id="rdOfflinePscYes" name="offlinePsc" value="Y" ng-model="fsc.offlinePsc"   required/>
															<label for="rdOfflinePscYes">Yes</label>
														</div>
														<div class="tick-radio-btn-wrap">
															<input type="radio" id="rdOfflinePscNo" name="offlinePsc" value="N" ng-model="fsc.offlinePsc"  required/>
															<label for="rdOfflinePscNo">No</label>
														</div>
														<div class="clearfix"></div>
													</div>

												</div>
												<div ng-messages="finalSub.offlinePsc.$error" class="error-messages" ng-show="finalSub.offlinePsc.$invalid && (!finalSub.offlinePsc.$pristine || fsc.click)">
													<div ng-message="required">Please select an option.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="fsc.offlinePsc=='Y'">
												<div class="form-group custom-form">
													<label class="form-label">Preferred PSC Call Time</label>
													<div class="custom-drp">
														<select name="pfCall" class="form-control" id="pfCall"  ng-required="fsc.offlinePsc=='Y' && !fsc.PSC_COND" ng-model="fsc.PscTiming">
															<option value="" selected="true">Not Provided</option>
															<option value="9:00-11:00">9:00 - 11:00</option>
															<option value="11:00-13:00">11:00 - 13:00</option>
															<option value="13:00-15:00">13:00 - 15:00</option>
															<option value="15:00-18:00">15:00 - 18:00</option>
															<option value="18:00-20:00">18:00 - 20:00</option>
														</select>
													</div>

												</div>
												<div ng-messages="finalSub.pfCall.$error" class="error-messages" ng-show="finalSub.pfCall.$invalid && (!finalSub.pfCall.$pristine || fsc.click)">
													<div ng-message="required">Please enter time.</div>
												</div>
											</div>
											<div class="clearfix"></div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="fsc.offlinePsc=='Y'">
												<div class="form-group custom-form">
													<label class="form-label">Preferred Call Language</label>
													<div class="custom-drp">
														<select name="pfLang" class="form-control " id="pfLang"  ng-required="fsc.offlinePsc=='Y' && !fsc.PSC_COND" ng-model="fsc.PscLanguage">
															<option value="" selected="true">Select language</option>
															<option value="English">English</option>
															<option value="Hindi">Hindi</option>
															<option value="Marathi">Marathi</option>
															<option value="Gujarati">Gujarati</option>
															<option value="Telgu">Telgu</option>
															<option value="Tamil">Tamil</option>
															<option value="Kannada">Kannada</option>
															<option value="Bengali">Bengali</option>
															<option value="Malayalam">Malayalam</option>
															<option value="Oriya">Oriya</option>
															<option value="Punjabi">Punjabi</option>
															<option value="Others">Others</option>
														</select>
													</div>

												</div>

												<div ng-messages="finalSub.pfLang.$error" class="error-messages" ng-show="finalSub.pfLang.$invalid && (!finalSub.pfLang.$pristine || fsc.click)">
													<div ng-message="required">Please enter language.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="row">
													<div class="col-xs-12 col-xs-12 col-sm-5 col-md-5 col-lg-5 center-block pull-none">
														<div class="custom-btn form-btn-wrap">
															<button class="btn btn-primary btn-block" ng-click="fsc.pscSubmit(finalSub)">Submit</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
    <!-- Bottom Button Wrapper -->
    <div class="bottom-buttonwrap">
        <div class="sis-form-wrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="custom-footer">
                    <div class="fact-middle-button bottom-fixed gen-application-btn-wrap ff-btn-wrap">
                        <ul>
                            <li>
                                <div class="custom-btn form-btn-wrap fact-btn-left"><!--ng-disabled="fsc.isAgentSigned == 'Y'"-->
                                    <button class="btn btn-default btn-block" ng-click="fsc.saveAgentSignature()" ng-disabled="fsc.isAgentSigned == 'Y'">{{fsc.text}}</button>
                                </div>
                            </li>
                            <li>
                                <div class="custom-btn form-btn-wrap fact-btn-left"><!--ng-disabled="fsc.isAgentSigned == 'Y'"-->
                                    <button class="btn btn-default btn-block" ng-click="fsc.callPscAPP()" ng-if="fsc.isPscEnable == 'Y'" ng-disabled="fsc.disableBackground == 'Y' || fsc.offlinePsc=='Y' || fsc.disableOnSucc">Initiate Verification</button>
                                </div>
                            </li>
							<li>
                                <div class="custom-btn form-btn-wrap fact-btn-left" style="margin-top:0px">
                                    <button class="btn btn-default btn-block" ng-click="fsc.startPolicySubmission()" ng-disabled="fsc.isAgentSigned != 'Y' || !fsc.isPscDone">Application Submit</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-pane>
