<ion-pane class="sis-height">    
    <ion-header-bar class="fixed-bar">
        <!-- Header -->
        <div class="sis-header-wrap">
		<sis-header></sis-header>
        </div>
        
        <!-- Timeline -->
        <div class="SIStimeline-wrapper">
		<sis-timeline></sis-timeline>
        </div>
    </ion-header-bar>
    
    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap sis_ekyc">
			<div class="form_wrap">
				<form name="sp1.sfePage1Form" id="sp1.sfePage1Form" novalidate>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Resident <span class="requiredStar">*</span></label>
										<select class="form-control" name="residentStatus" ng-options="option.RESIDENT_STATUS for option in sp1.residentStatusList track by option.RESIDENT_STATUS_CODE" ng-model="sp1.residentStatusOptionSelected" ng-change="sp1.onResidenceChg(sp1.sfePage1Form)" ng-disabled="sp1.ekycFlag" select-required></select>
									</div>
									<div ng-messages="sp1.sfePage1Form.residentStatus.$error" class="error-messages" ng-show="sp1.sfePage1Form.residentStatus.$invalid && (!sp1.sfePage1Form.residentStatus.$pristine || sp1.onNextClick)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='NRI' || sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='FN' || sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='OCI'">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Country of Residence <span class="requiredStar">*</span></label>
										<select class="form-control" name="residentCountry" ng-options="option.COUNTRY_NAME for option in sp1.residentCountryList track by option.COUNTRY_CODE" ng-model="sp1.residentCountryOptionSelected" ng-change="sp1.onCountryChg()" select-required="sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='NRI' || sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='FN' || sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='OCI'"></select>

									</div>
									<div ng-messages="sp1.sfePage1Form.residentCountry.$error" class="error-messages" ng-show="sp1.sfePage1Form.residentCountry.$invalid && (!sp1.sfePage1Form.residentCountry.$pristine || sp1.onNextClick)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='RI'">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">State <span class="requiredStar">*</span></label>
										<!--<select class="form-control" name="state" ng-options="option.STATE_DESC for option in sp1.stateList track by option.STATE_CODE" ng-model="sp1.stateOptionSelected" ng-change="sp1.onStateChange()" select-required="sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='RI'"></select>-->
										<div class="custom-drp city-drp-dwn">
											<div custom-select=" s.STATE_DESC for s in sp1.stateList | filter: { STATE_DESC: $searchTerm } track by s.STATE_CODE" ng-disabled="sp1.ekycFlag" ng-model="sp1.stateOptionSelected"  name="state"  ng-change="sp1.onStateChange()" select-required="sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='RI'"></div>
										</div>
									</div>
									<div ng-messages="sp1.sfePage1Form.state.$error" class="error-messages" ng-show="sp1.sfePage1Form.state.$invalid && (!sp1.sfePage1Form.state.$pristine || sp1.onNextClick)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='RI'">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">City <span class="requiredStar">*</span></label>
										<!--<select class="form-control" name="city" ng-options="option.CITY_DESC for option in sp1.cityList track by option.CITY_CODE" ng-model="sp1.cityOptionSelected" ng-change="sp1.onCityChg()" select-required="sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='RI'"></select>-->
										<div class="custom-drp city-drp-dwn">
											<div custom-select=" s.CITY_DESC for s in sp1.cityList | filter: { CITY_DESC: $searchTerm } track by s.CITY_CODE" ng-model="sp1.cityOptionSelected" ng-disabled="sp1.ekycFlag" name="city"  ng-change="sp1.onCityChg()" select-required="sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='RI'"></div>
										</div>
									</div>
									<div ng-messages="sp1.sfePage1Form.city.$error" class="error-messages" ng-show="sp1.sfePage1Form.city.$invalid && (!sp1.sfePage1Form.city.$pristine || sp1.onNextClick)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
							</div>
						</div>
						<!--   right side block--->
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='FN' || sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='OCI'">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Nationality <span class="requiredStar">*</span></label>
										<select class="form-control" name="nationality" ng-options="option.COUNTRY_NAME for option in sp1.nationalityList track by option.COUNTRY_CODE" ng-model="sp1.nationalityOptionSelected" ng-change="sp1.onNationalityChg()" select-required="sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='FN' || sp1.residentStatusOptionSelected.RESIDENT_STATUS_CODE=='OCI'"></select>
									</div>
									<div ng-messages="sp1.sfePage1Form.nationality.$error" class="error-messages" ng-show="sp1.sfePage1Form.nationality.$invalid && (!sp1.sfePage1Form.nationality.$pristine || sp1.onNextClick)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Education <span class="requiredStar">*</span></label>
										<select class="form-control" name="eduQualification" ng-options="option.LOOKUP_TYPE_DESC disable when (option.NBFE_CODE=='6') for option in sp1.eduQualList track by option.NBFE_CODE" ng-model="sp1.eduQualOptionSelected" ng-change="sp1.onEducationChg()" select-required></select>
									</div>
									<div ng-messages="sp1.sfePage1Form.eduQualification.$error" class="error-messages" ng-show="sp1.sfePage1Form.eduQualification.$invalid && (!sp1.sfePage1Form.eduQualification.$pristine || sp1.onNextClick)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Occupation Class <span class="requiredStar">*</span></label>
										<select class="form-control" name="occClass" ng-options="option.OCCU_CLASS disable when (option.NBFE_CODE=='7') for option in sp1.occClassList track by option.NBFE_CODE" ng-model="sp1.occClassOptionSelected" ng-change="sp1.onOccClassChg()" select-required></select>
									</div>
									<div ng-messages="sp1.sfePage1Form.occClass.$error" class="error-messages" ng-show="sp1.sfePage1Form.occClass.$invalid && (!sp1.sfePage1Form.occClass.$pristine || sp1.onNextClick)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end of right block  -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="custom-btn form-btn-wrap">
												<button class="btn btn-default btn-block" type="button" ng-click="sp1.onBack()">Back</button>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="custom-btn form-btn-wrap">
												<button class="btn btn-default btn-block" type="button" ng-click="sp1.onNext(sp1.sfePage1Form)">Next</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-pane>
