<!-- Personal Details -->
<div class="personal-detailsoutput">
    <div class="personalinner-detailsoutput">
        <div class="innercontent-wrap personal-tab" id="personal-tab-left">
            <p class="fhr-tab-title">Personal Details</p>
            <div class="personal_details_fetched_data">
                <p class="personal_details_fetched_name">{{fullName}}</p>
                <ul class="personal_details_fetched_icon">
                    <li class="personal_details_fetched_gender"><i ng-class="(gender=='1') ? 'fa fa-male' : 'fa fa-female'"></i> </li>
                    <li><span>&nbsp;</span></li>
                    <li class="personal_details_fetched_smoke"><i ng-class="(smoker=='Y') ? 'icon icon-20' : 'icon icon-22'"></i></li>
                </ul>
                <p class="personal_details_fetched_dob">{{dob}}</p>
                <p class="personal_details_fetched_nunmer">{{contactNumber}}</p>
                <p class="personal_details_fetched_mail">{{email}}</p>
                <p class="personal_details_fetched_location">{{city}}</p>
            </div>
            <div class="personal_detail_edit" ng-if="goalsAddedFlag=='N'">
                <a href="javascript:void(0);"><i class="fa fa-pencil"></i></a>
            </div>
        </div>
    </div>
</div>
