<ion-view>
	<ion-content has-bouncing ="false">
		<fhr-header></fhr-header>
		<div class="clearfix"></div>
		<div class="FHR-outerwrap FHR-personaldetails" ng-style="{height: persd.outerWrapInnerHeight +'px'}">
			<!--  personal details   -->
			<div class="innercontent-wrap tab-innercontent-wrap">
				<form name="fhrPersonalDetailsForm" id="fhrPersonalDetailsForm" novalidate>
					<div class="fhr-container fhr-personal">
						<div ng-class="(persd.goalsAddedFlag==null) ? 'row':'row disabled-div'">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<h2 class="fhr-title">Personal Details</h2>
							</div>
							<div ng-class="(!!persd.fhrLeadData && persd.goalsAddedFlag==null) ? 'col-xs-4 col-sm-4 col-md-4 col-lg-4 disabled-div' : 'col-xs-4 col-sm-4 col-md-4 col-lg-4'">
								<div class="form-group custom-form">
									<label class="form-label">First Name <span class="requiredStar">*</span> </label>
									<input type="text" name="firstName" ng-model="persd.firstName" class="form-control custom-form" placeholder="First Name" ng-maxlength="20" ng-pattern="persd.nameRegex" required/>
								</div>
								<div ng-messages="fhrPersonalDetailsForm.firstName.$error" class="error-messages" ng-show="fhrPersonalDetailsForm.firstName.$invalid && !fhrPersonalDetailsForm.firstName.$pristine">
									<div ng-message="required">First name cannot be empty.</div>
									<div ng-message="pattern">Please use text and ' or - only.</div>
									<div ng-message="maxlength">Maximum 20 char only.</div>
								</div>
							</div>
							<div ng-class="(!!persd.fhrLeadData && persd.goalsAddedFlag==null) ? 'col-xs-4 col-sm-4 col-md-4 col-lg-4 disabled-div' : 'col-xs-4 col-sm-4 col-md-4 col-lg-4'">
								<div class="form-group custom-form">
									<label class="form-label">Middle Name</label>
									<input type="text" name="middleName" ng-model="persd.middleName" class="form-control custom-form" placeholder="Middle Name" ng-maxlength="20" ng-pattern="persd.nameRegex" />
								</div>
								<div ng-messages="fhrPersonalDetailsForm.middleName.$error" class="error-messages" ng-show="fhrPersonalDetailsForm.middleName.$invalid && !fhrPersonalDetailsForm.middleName.$pristine">
									<div ng-message="pattern">Please use text and ' or - only.</div>
									<div ng-message="maxlength">Maximum 20 char only.</div>
								</div>
							</div>
							<div ng-class="(!!persd.fhrLeadData && persd.goalsAddedFlag==null) ? 'col-xs-4 col-sm-4 col-md-4 col-lg-4 disabled-div' : 'col-xs-4 col-sm-4 col-md-4 col-lg-4'">
								<div class="form-group custom-form">
									<label class="form-label">Last Name <span class="requiredStar">*</span></label>
									<input type="text" name="lastName" ng-model="persd.lastName" class="form-control custom-form" placeholder="Last Name" ng-maxlength="20" ng-pattern="persd.nameRegex" required/>
								</div>
								<div ng-messages="fhrPersonalDetailsForm.lastName.$error" class="error-messages" ng-show="fhrPersonalDetailsForm.lastName.$invalid && !fhrPersonalDetailsForm.lastName.$pristine">
									<div ng-message="required">Last name cannot be empty.</div>
									<div ng-message="pattern">Please use text and ' or - only.</div>
									<div ng-message="maxlength">Maximum 20 char only.</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row">
									<!-- Date of Birth -->
									<div ng-class="(!!persd.fhrLeadData && persd.goalsAddedFlag==null) ? 'col-xs-6 col-sm-6 col-md-6 col-lg-6 disabled-div' : 'col-xs-6 col-sm-6 col-md-6 col-lg-6'">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group custom-form custom-margin">
													<label class="form-label">Date of Birth <span class="requiredStar">*</span></label>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="child_dob_wrp">
													<div class="dob-select-wrp">
														<div class="form-group custom-form custom-drp">
															<select class="form-control" id="dobDate" name="dobDate" ng-options="option.LABEL for option in persd.datesList track by option.LABEL" ng-model="persd.dobDate" select-required>
																<option value="" selected hidden />
															</select>
														</div>
														<div ng-messages="fhrPersonalDetailsForm.dobDate.$error" class="error-messages" ng-show="fhrPersonalDetailsForm.dobDate.$invalid && !fhrPersonalDetailsForm.dobDate.$pristine">
															<div ng-message="selectRequired">Please select date.</div>
														</div>
													</div>
													<div class="dob-select-wrp">
														<div class="form-group custom-form custom-drp">
															<select class="form-control" id="dobMonth" name="dobMonth" ng-options="option.LABEL for option in persd.monthList track by option.LABEL" ng-model="persd.dobMonth" select-required>
																<option value="" selected hidden />
															</select>
														</div>
														<div ng-messages="fhrPersonalDetailsForm.dobMonth.$error" class="error-messages" ng-show="fhrPersonalDetailsForm.dobMonth.$invalid && !fhrPersonalDetailsForm.dobMonth.$pristine">
															<div ng-message="selectRequired">Please select month.</div>
														</div>
													</div>
													<div class="dob-select-wrp">
														<div class="form-group custom-form custom-drp">
															<select class="form-control" id="dobYear" name="dobYear" ng-options="option.LABEL for option in persd.yearsList track by option.LABEL" ng-model="persd.dobYear" select-required>
																<option value="" selected hidden />
															</select>
														</div>
														<div ng-messages="fhrPersonalDetailsForm.dobYear.$error" class="error-messages" ng-show="fhrPersonalDetailsForm.dobYear.$invalid && !fhrPersonalDetailsForm.dobYear.$pristine">
															<div ng-message="selectRequired">Please select year.</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="row">
											<div class="fhr-radio-wrap">
												<!-- Gender -->
												<div ng-class="(!!persd.fhrLeadData && persd.goalsAddedFlag==null) ? 'col-xs-6 col-sm-6 col-md-6 col-lg-6 disabled-div' : 'col-xs-6 col-sm-6 col-md-6 col-lg-6'">
													<div class="form-group custom-form">
														<label class="form-label">Your Gender<span class="requiredStar">*</span></label>
														<div class="gender-radio-wrapper">
															<div class="gender-wrapper male-wrapper">
																<input type="radio" id="rdMale" name="rdGender" ng-model="persd.gender" value="1" checked required/>
																<label for="rdMale"></label>
																<div class="clearfix"></div>
															</div>
															<div class="gender-wrapper female-wrapper">
																<input type="radio" id="rdFemale" name="rdGender" ng-model="persd.gender" value="2" required/>
																<label for="rdFemale"></label>
																<div class="clearfix"></div>
															</div>
														</div>
													</div>
													<div ng-messages="fhrPersonalDetailsForm.rdGender.$error" ng-class="error-messages" ng-show="fhrPersonalDetailsForm.rdGender.$invalid && !fhrPersonalDetailsForm.rdGender.$pristine">
														<div ng-message="required">Please select a gender.</div>
													</div>
												</div>
												<!-- Smoke -->
												<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
													<div class="form-group custom-form">
														<label class="form-label">Do you smoke?<span class="requiredStar">*</span></label>
														<div class="smoke-radio-wrapper">
															<div class="smoke-wrapper smoker-wrapper">
																<input type="radio" id="smoke" name="smoke" ng-model="persd.smoker" value="Y" checked required/>
																<label for="smoke"></label>
																<div class="clearfix"></div>
															</div>
															<div class="smoke-wrapper non-smoker-wrapper">
																<input type="radio" id="nonsmoke" name="smoke" ng-model="persd.smoker" value="N" required/>
																<label for="nonsmoke"></label>
																<div class="clearfix"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end first block  -->
							<div ng-class="(!!persd.fhrLeadData && persd.goalsAddedFlag==null) ? 'col-xs-6 col-sm-6 col-md-6 col-lg-6 disabled-div' : 'col-xs-6 col-sm-6 col-md-6 col-lg-6'">
								<div class="form-group custom-form">
									<label class="form-label">Your Contact Number <span class="requiredStar">*</span></label>
									<input type="text" class="form-control custom-form" placeholder="Contact Number" id="contactNumber" name="contactNumber" ng-model="persd.contactNumber" ng-pattern="persd.mobileRegex" required/>
								</div>
								<div ng-messages="fhrPersonalDetailsForm.contactNumber.$error" class="error-messages" ng-show="fhrPersonalDetailsForm.contactNumber.$invalid && !fhrPersonalDetailsForm.contactNumber.$pristine">
									<div ng-message="required">Contact number cannot be empty.</div>
									<div ng-message="pattern">Please enter a ten digit mobile number starting with 7, 8 or 9.</div>
								</div>
							</div>
							<div ng-class="(!!persd.fhrLeadData && persd.goalsAddedFlag==null) ? 'col-xs-6 col-sm-6 col-md-6 col-lg-6 disabled-div' : 'col-xs-6 col-sm-6 col-md-6 col-lg-6'">
								<div class="form-group custom-form">
									<label class="form-label">Your Email<span class="requiredStar">*</span></label>
									<input type="email" id="emailId" name="emailId" ng-model="persd.email" class="form-control custom-form" placeholder="Email" ng-pattern="persd.emailRegex" ng-maxlength="50" required block-hash/>
									<div ng-messages="fhrPersonalDetailsForm.emailId.$error" class="error-messages" ng-show="fhrPersonalDetailsForm.emailId.$invalid && !fhrPersonalDetailsForm.emailId.$pristine">
										<div ng-message="required">Email-id cannot be empty.</div>
										<div ng-message="pattern">Please enter a valid email-id.</div>
										<div ng-message="maxlength">Maximum 50 char only.</div>
										<div ng-message="blockHash">Please do not use '#' or '|'.</div>
									</div>
								</div>
							</div>
							<!-- End left part  -->
							
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<div class="form-group custom-form custom-drp">
									<label class="form-label">Residential Status<span class="requiredStar">*</span></label>
									<select class="form-control" id="resStatus" name="resStatus" ng-model="persd.resiStatusSelected" ng-options="option.RESIDENT_STATUS for option in persd.residentalStatusList track by option.RESIDENT_CD" ng-change="persd.onResidentChange(fhrPersonalDetailsForm)"
										select-required>
										<option value="" selected hidden />
									</select>
								</div>
								<div ng-messages="fhrPersonalDetailsForm.resStatus.$error" class="error-messages" ng-show="fhrPersonalDetailsForm.resStatus.$invalid && !fhrPersonalDetailsForm.resStatus.$pristine">
									<div ng-message="selectRequired">Please select Residential Status.</div>
								</div>
							</div>
							<!--<div ng-class="(!!persd.fhrLeadData.CURNT_STATE) ? 'col-xs-6 col-sm-6 col-md-6 col-lg-6 disabled-div' : 'col-xs-6 col-sm-6 col-md-6 col-lg-6'">-->
							<div ng-class="persd.resiStatusSelected.RESIDENT_CD=='RI' || persd.resiStatusSelected.RESIDENT_CD===null?'col-xs-6 col-sm-6 col-md-6 col-lg-6':'col-xs-6 col-sm-6 col-md-6 col-lg-6 disabled-div'">
								<div class="form-group custom-form custom-drp">
									<label class="form-label">State<span ng-if="persd.resiStatusSelected.RESIDENT_CD=='RI'" class="requiredStar">*</span></label>
									<select class="form-control" id="state" name="state" ng-change="persd.onStateChange()" ng-options="option.STATE_DESC for option in persd.stateList track by option.STATE_CODE" ng-model="persd.stateOptionSelected" select-required="persd.resiStatusSelected.RESIDENT_CD=='RI'">
										<option value="" selected hidden />
									</select>
								</div>
								<div ng-messages="fhrPersonalDetailsForm.state.$error" class="error-messages" ng-show="fhrPersonalDetailsForm.state.$invalid && !fhrPersonalDetailsForm.state.$pristine">
									<div ng-message="selectRequired">Please select State.</div>
								</div>
							</div>
							<!--<div ng-class="(!!persd.fhrLeadData.CURNT_STATE) ? 'col-xs-6 col-sm-6 col-md-6 col-lg-6 disabled-div' : 'col-xs-6 col-sm-6 col-md-6 col-lg-6'">-->
							<div ng-class="persd.resiStatusSelected.RESIDENT_CD=='RI' || persd.resiStatusSelected.RESIDENT_CD===null?'col-xs-6 col-sm-6 col-md-6 col-lg-6':'col-xs-6 col-sm-6 col-md-6 col-lg-6 disabled-div'">
								<div class="form-group custom-form custom-drp">
									<label class="form-label">City<span ng-if="persd.resiStatusSelected.RESIDENT_CD=='RI'" class="requiredStar">*</span></label>
									<select class="form-control" id="city" name="city" ng-options="option.CITY_DESC for option in persd.cityList track by option.CITY_CODE" ng-model="persd.cityOptionSelected" select-required="persd.resiStatusSelected.RESIDENT_CD=='RI'">
										<option value="" selected hidden />
									</select>
								</div>
								<div ng-messages="fhrPersonalDetailsForm.city.$error" class="error-messages" ng-show="fhrPersonalDetailsForm.city.$invalid && !fhrPersonalDetailsForm.city.$pristine">
									<div ng-message="selectRequired">Please select City.</div>
								</div>
							</div>
							<!-- end second block  -->
						</div>
						<div class="row">
							<p style="font-size:10px; margin:2px 0; border:1px solid #fff; padding:2px; color: #fff">
							Please note that, by submitting your details, you are giving your consent to receive a SMS/Call by a Tata AIA Life insurance Company Limited or its representative with reference to this solicited inquiry even though you may be registered on the DND list.
							Since this is a request from your end, &amp; our endeavor is to reach out to you at earliest, this call is likely to be made from a non 140 number also
							</p>
						</div>
						
					</div>
				</form>
			</div>
			<!-- Other -->
			<div class="other-titlewrap">
				<div class="other-innertitlewrap">
					<div class="innercontent-wrap other-tab">
						<a href="javascript:void(0);" ng-click="persd.redirObj.gotoOthersTab();"><span class="fhr-tab-title tab-other-tilte">Other</span></a>
					</div>
				</div>
			</div>
			<!-- Goals -->
			<div class="goals-titlewrap">
				<div class="goals-innertitlewrap">
					<div class="innercontent-wrap goals-tab">
						<a href="javascript:void(0);" ng-click="persd.redirObj.gotoGoalsTab();"><span class="fhr-tab-title tab-goals-title">Goals</span></a>
					</div>
				</div>
			</div>
			<!-- Outputs -->
			<div class="output-titlewrap">
				<div class="output-innertitlewrap">
					<div class="innercontent-wrap output-tab">
						<a href="javascript:void(0);" ng-click="(persd.goalsCountData.childsCount == 0 && persd.goalsCountData.retirementCount == 0 && persd.goalsCountData.protectionCount == 0 && persd.goalsCountData.wealthCount == 0) ? persd.redirObj.showError('Please add atleast 1 goal.') : persd.redirObj.gotoOutputTab();"><span class="fhr-tab-title tab-output-title">Output</span></a>
					</div>
				</div>
			</div>
			<!-- Recommendation -->
			<div class="recommendation-titlewrap">
				<div class="recommendation-innertitlewrap">
					<div class="innercontent-wrap recommendation-tab">
						<a href="javascript:void(0);" ng-click="(persd.goalsCountData.childsCount == 0 && persd.goalsCountData.retirementCount == 0 && persd.goalsCountData.protectionCount == 0 && persd.goalsCountData.wealthCount == 0) ? persd.redirObj.showError('Please add atleast 1 goal.') : persd.redirObj.gotoRecommendationTab();"><span class="fhr-tab-title tab-recomm-tilte">Recommendation</span></a>
					</div>
				</div>
			</div>
			<div class="fhr-next-btn">
				<button class="next-btn-link" ng-if="persd.goalsAddedFlag==null" ng-disabled="fhrPersonalDetailsForm.$invalid" type="submit" ng-click="persd.onNext(fhrPersonalDetailsForm)"><span class="next-btn-txt">Next</span><span ng-class="(fhrPersonalDetailsForm.$invalid) ? 'next-btn-icon to-other-tab next-btn-icon-disabled' : 'next-btn-icon to-other-tab'"><i class="fa fa-arrow-right"></i></span></button>
			</div>
		</div>
	</ion-content>
</ion-view>
