<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<na-timeline class="tab-nav"></na-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<form name="ApptForm">
				<div ng-if="apc.nomineeAgeFlag" class="application-form-title">Details of Appointee (Where Nominee is a minor, Appointee also to be furnished)</div>

				<!-- Nominee Application Form -->
				<div class="nominee-application-form-wrap" ng-if="apc.nomineeAgeFlag">
					<!-- Form Start -->
					<div class="row">
						<!-- Name -->
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<label class="form-label">Name<span class="requiredStar">*</span></label>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
									<input type="text" class="form-control text-center" name="First" placeholder="First" ng-maxlength="20"  ng-model="apc.apptData.FirstName" required/>
									</div>
									<div ng-messages="ApptForm.First.$error" class="error-messages" ng-show="ApptForm.First.$invalid && (!ApptForm.First.$pristine || apc.click)">
										<div ng-message="required">First name cannot be empty.</div>
										<div ng-message="maxlength">Name cannot more than 20 characters</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
									<input type="text" class="form-control text-center" name="Middle" placeholder="Middle" ng-maxlength="20" ng-model="apc.apptData.MiddleName" />
								</div>
								<div ng-messages="ApptForm.Middle.$error" class="error-messages" ng-show="ApptForm.Middle.$invalid && (!ApptForm.Middle.$pristine || apc.click)">
									<div ng-message="maxlength">Name cannot more than 20 characters</div>
								</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
									<input type="text" class="form-control text-center" placeholder="Last" name="Last" ng-maxlength="20" ng-model="apc.apptData.LastName" required/>
									</div>
									<div ng-messages="ApptForm.Last.$error" class="error-messages" ng-show="ApptForm.Last.$invalid && (!ApptForm.Last.$pristine || apc.click)">
										<div ng-message="required">Last name cannot be empty.</div>
										<div ng-message="maxlength">Last Name cannot more than 20 characters</div>
									</div>
								</div>
							</div>
						</div>
						<!-- DOB -->
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form">
								<label class="form-label">Date of Birth<span class="requiredStar">*</span></label>
								<input type="date" class="form-control date-icon" name="DOB" ng-model="apc.apptData.dob" validate-dob required/>
							</div>
							<div ng-messages="ApptForm.DOB.$error" class="error-messages" ng-show="ApptForm.DOB.$invalid && (!ApptForm.DOB.$pristine || apc.click)">
								<div ng-message="required">Date of birth cannot be empty.</div>
								<div ng-message="minAge">Min Age should be greater than 18.</div>
							</div>
						</div>
						<!-- Gender And Relationship -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<!-- Gender -->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Gender<span class="requiredStar">*</span></label>
										<div class="gender-radio-wrapper">
											<div class="gender-wrapper male-wrapper">
												<input type="radio" id="rdMale" name="rdGender" ng-value="'Male'" ng-model="apc.apptData.Gen" required/>
												<label for="rdMale">Male</label>
												<div class="clearfix"></div>
											</div>
											<div class="gender-wrapper female-wrapper">
												<input type="radio" id="rdFemale" name="rdGender" ng-value="'Female'" ng-model="apc.apptData.Gen" required/>
												<label for="rdFemale">Female</label>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
									<div ng-messages="ApptForm.rdGender.$error" class="error-messages" ng-show="ApptForm.rdGender.$invalid && (!ApptForm.rdGender.$pristine || apc.click)">
										<div ng-message="required">Please enter Gender</div>
									</div>
								</div>
								<!-- Relationship -->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Relationship<span class="requiredStar">*</span></label>
										<!--<input type="text" class="form-control" placeholder="Relationship" ng-model="apc.Relation"/>-->
										<div class="custom-drp">
											<select name="Relationship{{$index}}" class="form-control" id="relationSelect"  ng-options="option.APPT_RELATIONSHIP_DESC for option in apc.apptRelationData track by option.APPT_NBFE_CODE" ng-model="apc.apptData.Relation" ng-change="nc.RelationChange($index)" select-required> <!-- name="relationSelect" -->
											<option value="">Select Relationship</option>
											</select>
										</div>
									</div>
									<div ng-messages="ApptForm['Relationship'+$index].$error" class="error-messages" ng-show="ApptForm['Relationship'+$index].$invalid && (!ApptForm['Relationship'+$index].$pristine || apc.click)">
										<div ng-message="required">Select Relationship</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div ng-if="apc.nomineeTermAgeFlag" class="application-form-title">Details of Appointee Term (Where Nominee is a minor, Appointee also to be furnished)</div>

				<!-- Nominee Term Application Form -->
				<div class="nominee-application-form-wrap" ng-if="apc.nomineeTermAgeFlag">
					<!-- Form Start -->
					<div class="row">
						<!-- Name -->
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<label class="form-label">Name<span class="requiredStar">*</span></label>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
										<input type="text" class="form-control text-center" name="First" placeholder="First"  ng-model="apc.apptTermData.FirstName" required/>
									</div>
									<div ng-messages="ApptForm.First.$error" class="error-messages" ng-show="ApptForm.First.$invalid && (!ApptForm.First.$pristine || apc.click)">
										<div ng-message="required">First name cannot be empty.</div>
										<div ng-message="maxlength">Name cannot more than 20 characters</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
										<input type="text" class="form-control text-center" placeholder="Middle"  ng-model="apc.apptTermData.MiddleName" />
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="form-group custom-form">
										<input type="text" class="form-control text-center" placeholder="Last" name="Last"  ng-model="apc.apptTermData.LastName" required/>
									</div>
									<div ng-messages="ApptForm.Last.$error" class="error-messages" ng-show="ApptForm.Last.$invalid && (!ApptForm.Last.$pristine || apc.click)">
										<div ng-message="required">Last name cannot be empty.</div>
										<div ng-message="maxlength">Last Name cannot more than 20 characters</div>
									</div>
								</div>
							</div>
						</div>
						<!-- DOB -->
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form">
								<label class="form-label">Date of Birth<span class="requiredStar">*</span></label>
								<input type="date" class="form-control date-icon" name="DOB" ng-model="apc.apptTermData.dob" validate-dob required/>
							</div>
							<div ng-messages="ApptForm.DOB.$error" class="error-messages" ng-show="ApptForm.DOB.$invalid && (!ApptForm.DOB.$pristine || apc.click)">
								<div ng-message="required">Date of birth cannot be empty.</div>
								<div ng-message="minAge">Min Age should be greater than 18.</div>
							</div>
						</div>
						<!-- Gender And Relationship -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<!-- Gender -->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Gender<span class="requiredStar">*</span></label>
										<div class="gender-radio-wrapper">
											<div class="gender-wrapper male-wrapper">
												<input type="radio" id="rdTMale" name="rdTGender" ng-value="'Male'" ng-model="apc.apptTermData.Gen" required/>
												<label for="rdTMale">Male</label>
												<div class="clearfix"></div>
											</div>
											<div class="gender-wrapper female-wrapper">
												<input type="radio" id="rdTFemale" name="rdTGender" ng-value="'Female'" ng-model="apc.apptTermData.Gen" required/>
												<label for="rdTFemale">Female</label>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
									<div ng-messages="ApptForm.rdTGender.$error" class="error-messages" ng-show="ApptForm.rdTGender.$invalid && (!ApptForm.rdTGender.$pristine || apc.click)">
										<div ng-message="required">Please enter Gender</div>
									</div>
								</div>
								<!-- Relationship -->
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Relationship<span class="requiredStar">*</span></label>
										<!--<input type="text" class="form-control" placeholder="Relationship" ng-model="apc.Relation"/>-->
										<div class="custom-drp">
											<select name="relationSelect" class="form-control" id="relationSelect" name="Relationship" ng-options="option.APPT_RELATIONSHIP_DESC for option in apc.apptRelationData track by option.APPT_NBFE_CODE" ng-model="apc.apptTermData.Relation" select-required>
											<option value="">Select Relationship</option>
											</select>
										</div>
									</div>
									<div ng-messages="ApptForm.Relationship.$error" class="error-messages" ng-show="ApptForm.Relationship.$invalid && (!ApptForm.Relationship.$pristine || apc.click)">
										<div ng-message="selectRequired">Select Relationship</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap">
								<button class="btn btn-default btn-block" ng-click="apc.saveApptData(ApptForm)">Save</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</ion-content>
