<div class="modal-body">
	<canvas id="signature-pad" class="signature-pad" width="550px" height="300px" sign-directive></canvas>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<div class="custom-btn">
			<button class="btn btn-default btn-block" ng-click="sc.saveSign()">Save</button>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<div class="custom-btn">
			<button class="btn btn-default btn-block" ng-click="sc.hideSign()">Close</button>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<div class="custom-btn">
			<button class="btn btn-default btn-block" ng-click="sc.clearCanvas()">Clear</button>
		</div>
	</div>
	<div class="clearfix" style="clear:both"></div>
</div>