<div class="tracker-carousel" >
	<div class="carousel-demo">
		<ul rn-carousel rn-carousel-index="fic.carouselIndex" rn-carousel rn-carousel-auto-slide class="carousel5">
			<li class="carousel-contentli" ng-repeat="ffNotInitiated in fic.ffNotInitiatedArr">
				<div class="col-sm-4 col-xs-4" ng-repeat="ffNotInit in ffNotInitiated">
					<div class="lead-box-bg">
						<div class="lead-head">
							<div class="lead-head-ico pull-left">{{ffNotInit.LNAME.charAt(0).toUpperCase()}}</div>
							<div class="lead-contact pull-left">
								<h2>{{ffNotInit.LNAME}}</h2>
								<div class="lead-contact-details">
									<span>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<span class="sol-details">{{ffNotInit.MOBNO}}</span>
									</span>
									<span>
										<i class="fa fa-user" aria-hidden="true"></i>
										<span class="sol-apps">{{ffNotInit.LDSRC1}}</span>
									</span>
								</div>
								<div class="date-created">
									<span class="date-created-lbl">Updated on</span>
									<span class="date-on">{{ffNotInit.LAST_UPDT_DT}}</span>
								</div>
							</div>
						</div>
						<div class="lead-head-txt pull-left">
							<button type="button" class="btn btn-default btn-border" ng-click="fic.goToLeadDashboard(ffNotInit)">Continue</button>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="carousel-pagination" rn-carousel-indicators ng-if="fic.ffNotInitiatedArr.length > 1" slides="fic.ffNotInitiatedArr" rn-carousel-index="fic.carouselIndex"></div>
	</div>
</div>
