<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<pi-timeline class="tab-nav"></pi-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<!-- Personal Details Application Form -->
		<div class="app-form-inner-content">
			<form name="contactForm" id="contactForm">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-class="{ProposerCondition:contact.contactDetBean.isSelf}">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">Insured</label>
							</div>
						</div>
						<div class="insured_full">
							<!-- Mobile No -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Mobile No<span class="requiredStar">*</span></label>
									<input type="number" class="form-control" name="mobNo"  ng-model="contact.contactDetBean.INSURED_MOBILE_NO" ng-pattern="contact.mobRegex" dob="contact.contactDetBean.insuredDOB" self="contact.contactDetBean.isSelf" contact-required/>
								</div>
								<div ng-messages="contactForm.mobNo.$error" class="error-messages" ng-show="contactForm.mobNo.$invalid && (!contactForm.mobNo.$pristine || contact.click)">
									<div ng-message="contactRequired">Please enter valid Mobile No.</div>
									<div ng-message="pattern">Please enter valid Mobile No.</div>
								</div>
							</div>
							<!-- Std Code -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Residential Std Code</label>
									<input type="number" class="form-control" name="resiCode"  ng-model="contact.contactDetBean.INSURED_RESI_STD_CODE" ng-pattern="contact.numRegex" ng-maxlength="5" />
								</div>
								<div ng-messages="contactForm.resiCode.$error" class="error-messages" ng-show="contactForm.resiCode.$invalid && (!contactForm.resiCode.$pristine || contact.click)">
									<div ng-message="contactRequired">Please enter valid STD Code.</div>
									<div ng-message="pattern">Please enter valid STD Code.</div>
									<div ng-message="maxlength">STD Code cannot be more than 5 digits.</div>
								</div>
							</div>
							<!-- Landline -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Residential Landline</label>
									<input type="number" class="form-control" name="resiLand"  ng-model="contact.contactDetBean.INSURED_RESI_LANDLINE_NO" ng-pattern="contact.numRegex" ng-maxlength="10" />
								</div>
								<div ng-messages="contactForm.resiLand.$error" class="error-messages" ng-show="contactForm.resiLand.$invalid && (!contactForm.resiLand.$pristine || contact.click)">
									<div ng-message="contactRequired">Please enter valid Landline No.</div>
									<div ng-message="pattern">Please enter valid Landline No.</div>
									<div ng-message="maxlength">Landline cannot be more than 10 digits.</div>
								</div>
							</div>
						</div>
						<div class="insured_full">
							<!-- office std code & landline -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row">
									<!-- Office STD Code -->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Office Std Code</label>
											<input type="number" class="form-control" name="offCode"  ng-model="contact.contactDetBean.INSURED_OFF_STD_CODE" ng-pattern="contact.numRegex" ng-maxlength="5" />
										</div>
										<div ng-messages="contactForm.offCode.$error" class="error-messages" ng-show="contactForm.offCode.$invalid && (!contactForm.offCode.$pristine || contact.click)">
											<div ng-message="contactRequired">Please enter STD Code.</div>
											<div ng-message="pattern">Please enter valid STD Code.</div>
											<div ng-message="maxlength">STD Code cannot be more than 5 digits.</div>
										</div>
									</div>
									<!-- Office landline -->
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label class="form-label">Office Landline</label>
											<input type="number" class="form-control" name="offLand"  ng-model="contact.contactDetBean.INSURED_OFF_LANDLINE_NO" ng-pattern="contact.numRegex" ng-maxlength="10" />
										</div>
										<div ng-messages="contactForm.offLand.$error" class="error-messages" ng-show="contactForm.offLand.$invalid && (!contactForm.offLand.$pristine || contact.click)">
											<div ng-message="contactRequired">Please enter valid Landline No.</div>
											<div ng-message="pattern">Please enter valid Landline No.</div>
											<div ng-message="maxlength">Landline cannot be more than 10 digits.</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Email id -->
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="form-group custom-form">
									<label class="form-label">Email Id<span class="requiredStar">*</span></label>
									<input type="text" class="form-control" name="email"  ng-model="contact.contactDetBean.INSURED_EMAIL_ID" ng-pattern="contact.emailRegex" dob="contact.contactDetBean.insuredDOB" self="contact.contactDetBean.isSelf" contact-required/>
								</div>
								<div ng-messages="contactForm.email.$error" class="error-messages" ng-show="contactForm.email.$invalid && (!contactForm.email.$pristine || contact.click)">
									<div ng-message="contactRequired">Please enter valid Email ID.</div>
									<div ng-message="pattern">Please enter valid Email ID.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-hide="contact.contactDetBean.isSelf">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">Proposer</label>
							</div>
						</div>
						<!-- Mobile No -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Mobile No<span class="requiredStar">*</span></label>
								<input type="number" class="form-control" name="proMobNo"  ng-disabled="contact.contactDetBean.isSelf" ng-required="!contact.contactDetBean.isSelf" ng-model="contact.contactDetBean.PROPOSER_MOBILE_NO" ng-pattern="contact.mobRegex"  required/>
							</div>
							<div ng-messages="contactForm.proMobNo.$error" class="error-messages" ng-show="contactForm.proMobNo.$invalid && (!contactForm.proMobNo.$pristine || contact.click)">
								<div ng-message="required">Please enter valid Mobile No.</div>
								<div ng-message="pattern">Please enter valid Mobile No.</div>
							</div>
						</div>
						<!-- Std Code -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Residential Std Code</label>
								<input type="number" class="form-control" name="proResiCode"  ng-disabled="contact.contactDetBean.isSelf" ng-model="contact.contactDetBean.PROPOSER_RESI_STD_CODE" ng-pattern="contact.numRegex" ng-maxlength="5"/>
							</div>
							<div ng-messages="contactForm.proResiCode.$error" class="error-messages" ng-show="contactForm.proResiCode.$invalid && (!contactForm.proResiCode.$pristine || contact.click)">
								<div ng-message="required">Please enter valid STD Code.</div>
								<div ng-message="pattern">Please enter valid STD Code.</div>
								<div ng-message="maxlength">STD Code cannot be more than 5 digits.</div>
							</div>
						</div>
						<!-- Landline -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Residential Landline</label>
								<input type="number" class="form-control" name="proResiLand"  ng-disabled="contact.contactDetBean.isSelf" ng-model="contact.contactDetBean.PROPOSER_RESI_LANDLINE_NO" ng-pattern="contact.numRegex" ng-maxlength="10"/>
							</div>
							<div ng-messages="contactForm.proResiLand.$error" class="error-messages" ng-show="contactForm.proResiLand.$invalid && (!contactForm.proResiLand.$pristine || contact.click)">
								<div ng-message="required">Please enter valid Landline No.</div>
								<div ng-message="pattern">Please enter valid Landline No.</div>
								<div ng-message="maxlength">Landline cannot be more than 10 digits.</div>
							</div>
						</div>
						<!-- office std code & landline -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<!-- Office STD Code -->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Office Std Code</label>
										<input type="number" class="form-control" name="proOffStd"  ng-disabled="contact.contactDetBean.isSelf" ng-model="contact.contactDetBean.PROPOSER_OFF_STD_CODE" ng-pattern="contact.numRegex" ng-maxlength="5"/>
									</div>
									<div ng-messages="contactForm.proOffStd.$error" class="error-messages" ng-show="contactForm.proOffStd.$invalid && (!contactForm.proOffStd.$pristine || contact.click)">
										<div ng-message="required">Please enter valid STD Code.</div>
										<div ng-message="pattern">Please enter valid STD Code.</div>
										<div ng-message="maxlength">STD Code cannot be more than 5 digits.</div>
									</div>
								</div>
								<!-- Office landline -->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Office Landline</label>
										<input type="number" class="form-control" name="proOffLand"  ng-disabled="contact.contactDetBean.isSelf" ng-model="contact.contactDetBean.PROPOSER_OFF_LANDLINE_NO" ng-pattern="contact.numRegex" ng-maxlength="10"/>
									</div>
									<div ng-messages="contactForm.proOffLand.$error" class="error-messages" ng-show="contactForm.proOffLand.$invalid && (!contactForm.proOffLand.$pristine || contact.click)">
										<div ng-message="required">Please enter valid Landline No.</div>
										<div ng-message="pattern">Please enter valid Landline No.</div>
										<div ng-message="maxlength">Landline cannot be more than 10 digits.</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Email id -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Email Id<span class="requiredStar">*</span></label>
								<input type="text" class="form-control" name="proEmail"  ng-disabled="contact.contactDetBean.isSelf" ng-required="!contact.contactDetBean.isSelf" ng-model="contact.contactDetBean.PROPOSER_EMAIL_ID" ng-pattern="contact.emailRegex" required/>
							</div>
							<div ng-messages="contactForm.proEmail.$error" class="error-messages" ng-show="contactForm.proEmail.$invalid && (!contactForm.proEmail.$pristine || contact.click)">
								<div ng-message="required">Please enter valid Email ID.</div>
								<div ng-message="pattern">Please enter valid Email ID.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap"><!--ng-disabled="contactForm.$invalid"-->
								<button class="btn btn-default btn-block" ng-click="contact.onNext(contactForm)">Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- End Personal Details Application Form -->
	</div>
</ion-content>
