<ion-content has-bouncing="false" class="dashboard-content-wrap">
    <section class="content-block sol-single-wrap">
        <div class=" solution-content-single">
            <div class="sol-txt-wrp">
                <ul ng-class="['sol-single-top', pc.solBg]">
                    <li>
                        <div class="sol-txt-content">
                            <h2>{{pc.solutionType}}<span>Solutions</span></h2>
                            <p>Tata AIA Life Insurance<span>{{pc.productName}}</span></p>
                        </div>
                    </li>
                    <li>
                        <span class="sol-single-img circle-icon">
                            <i ng-class="['icon', pc.imgIcon, pc.imgColor]"></i>
                        </span>
                    </li>
                </ul>
                <div class="sol-single-bottom">
                    <ul>
                        <li>
                            <a ng-click="pc.viewFile('.pps')"> <span></span>
                                <span>Presentation</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="pc.viewFile('.mp4')"> <span></span>
                                <span>Video</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="pc.viewFile('.pdf')"> <span></span>
                                <span>PDF Brochure</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="pc.gotoSIS()"> <span></span>
                                <span>Generate SIS</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="pc.openSISListing(pc.pglId)"> <span></span>
                                <span>Saved SIS</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="bottom_back">
                <a ng-click="pc.onBack()"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i>Back</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
</ion-content>
