<ion-view>
	<ion-content has-bouncing ="false">
		<fhr-header></fhr-header>
		<div class="clearfix"></div>
		<div class="FHR-outerwrap FHR-goalsdetails" ng-style="{height: fhrweacreat.outerWrapInnerHeight +'px'}">
			<fhr-left-personal-details></fhr-left-personal-details>
			<!-- Other -->
			<div class="other-titlewrap">
				<div class="other-innertitlewrap">
					<div class="innercontent-wrap other-tab">
						<a href="javascript:void(0);" ng-click="fhrweacreat.redirObj.gotoOthersTab();"><span class="fhr-tab-title tab-other-tilte">Other</span></a>
					</div>
				</div>
			</div>
			<!-- Goals -->
			<div class="innercontent-wrap tab-innercontent-wrap">
				<form name="fhrWealthCreationForm" id="fhrWealthCreationForm" novalidate style="position:relative">
					<ion-content has-bouncing ="false">
						<div class="fhr-container fhr-goals fhr-wealth-creation">
							
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<h2 class="fhr-title"><span class="fhr-title-icon"><img src="../img/icon_wealth_creation.svg" alt="Wealth Creation Goals" /></span><span>Wealth Creation</span>
									</h2>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fhr-radio-wrap">
									<div class="form-group custom-form fhr-wealth-creation-wrap">
										<label class="form-label">Wealth to be created for<span class="requiredStar">*</span> </label>
										<div class="gender-radio-wrapper">
											<div class="row">
												<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
													<div class="fhr-multi-radio radio-repaying-icon">
														<input type="radio" id="rePaying" name="wealthCrePlan" ng-model="fhrweacreat.wealthCrePlan" value="{{fhrweacreat.wealthPlanList.REPAYHL}}" ng-disabled="fhrweacreat.existingWealthGoalsData.REPAYHL!==null" required />
														<label for="rePaying"></label>
														<p class="fhr-radio-lbl">Repaying Home</p>
														<div class="clearfix"></div>
													</div>
												</div>
												<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
													<div class="fhr-multi-radio radio-loan-icon">
														<input type="radio" id="loanStart" name="wealthCrePlan" ng-model="fhrweacreat.wealthCrePlan" value="{{fhrweacreat.wealthPlanList.NWBUSI}}" ng-disabled="fhrweacreat.existingWealthGoalsData.NWBUSI!==null" required />
														<label for="loanStart"></label>
														<p class="fhr-radio-lbl">Starting new business</p>
														<div class="clearfix"></div>
													</div>
												</div>
												<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
													<div class="fhr-multi-radio radio-payment-icon">
														<input type="radio" id="secondHome" name="wealthCrePlan" ng-model="fhrweacreat.wealthCrePlan" value="{{fhrweacreat.wealthPlanList.HOMTWO}}" ng-disabled="fhrweacreat.existingWealthGoalsData.HOMTWO!==null" required />
														<label for="secondHome"></label>
														<p class="fhr-radio-lbl">Second home down payment</p>
														<div class="clearfix"></div>
													</div>
												</div>
												<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
													<div class="fhr-multi-radio radio-newcar-icon">
														<input type="radio" id="newCar" name="wealthCrePlan" ng-model="fhrweacreat.wealthCrePlan" value="{{fhrweacreat.wealthPlanList.CARBY}}" ng-disabled="fhrweacreat.existingWealthGoalsData.CARBY!==null" required />
														<label for="newCar"></label>
														<p class="fhr-radio-lbl">New car</p>
														<div class="clearfix"></div>
													</div>
												</div>
												<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
													<div class="fhr-multi-radio radio-vacation-icon">
														<input type="radio" id="vacation" name="wealthCrePlan" ng-model="fhrweacreat.wealthCrePlan" value="{{fhrweacreat.wealthPlanList.INTVAC}}" ng-disabled="fhrweacreat.existingWealthGoalsData.INTVAC!==null" required />
														<label for="vacation"></label>
														<p class="fhr-radio-lbl">Vacation</p>
														<div class="clearfix"></div>
													</div>
												</div>
												<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
													<div class="fhr-multi-radio radio-other-icon">
														<input type="radio" id="wealthOther" name="wealthCrePlan" ng-model="fhrweacreat.wealthCrePlan"  value="{{fhrweacreat.wealthPlanList.OTHGOAL}}" ng-disabled="fhrweacreat.existingWealthGoalsData.OTHGOAL!==null" required />
														<label for="wealthOther"></label>
														<p class="fhr-radio-lbl">Others</p>
														<div class="clearfix"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div ng-messages="fhrWealthCreationForm.wealthCrePlan.$error" class="error-messages" ng-show="fhrWealthCreationForm.wealthCrePlan.$invalid && !fhrWealthCreationForm.wealthCrePlan.$pristine">
										<div ng-message="required">Please select a Wealth plan.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group custom-form">
												<label class="form-label">Current cost of current goal <span class="requiredStar">*</span></label>
												<div class="input_with_sidelabel">
													<input type="number" class="form-control custom-form" id="currCostCurrGoal" name="currCostCurrGoal" placeholder="Current cost of current goal" ng-min="0" ng-max="10000000" ng-model="fhrweacreat.currCostCurrGoal" required/>
												</div>
												<span class="fhr-value-field">(Rs)</span>
											</div>
											<div ng-messages="fhrWealthCreationForm.currCostCurrGoal.$error" class="error-messages" ng-show="fhrWealthCreationForm.currCostCurrGoal.$invalid && !fhrWealthCreationForm.currCostCurrGoal.$pristine">
												<div ng-message="required">Please enter Current cost of current goal.</div>
												<div ng-message="min">Current cost cannot be less than 0.</div>
												<div ng-message="max">Current cost cannot be greater than 10000000.</div>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group custom-form">
												<label class="form-label">Current Savings<span class="requiredStar">*</span></label>
												<div class="custom-form-plus-minus">
													<button ng-click="fhrweacreat.currSaving = (fhrweacreat.currSaving>1?fhrweacreat.currSaving-10000:fhrweacreat.currSaving)"> -</button>
													<input type="number" class="dec-inc_field" name="currSaving" id="currSaving" ng-model="fhrweacreat.currSaving" ng-min="0" ng-max="10000000" required/>
													<button ng-click="fhrweacreat.currSaving = fhrweacreat.currSaving+10000">+</button>
												</div>
												<span class="fhr-value-field">(Rs)</span>
											</div>
											<div ng-messages="fhrWealthCreationForm.currSaving.$error" class="error-messages" ng-show="fhrWealthCreationForm.currSaving.$invalid">
												<div ng-message="required">Please enter Current Savings.</div>
												<div ng-message="min">Savings cannot be less than 0.</div>
												<div ng-message="max">Savings cannot be greater than 10000000.</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group custom-form">
												<label class="form-label">Age when money is required<span class="requiredStar">*</span></label>
												<div class="custom-form-plus-minus">
													<button ng-click="fhrweacreat.moneyReqAge = (fhrweacreat.moneyReqAge>1?fhrweacreat.moneyReqAge-1:fhrweacreat.moneyReqAge)"> -</button>
													<!--                                                <input type="number" class="dec-inc_field" name="moneyReqAge" id="moneyReqAge" ng-model="fhrweacreat.moneyReqAge" ng-min="fhrweacreat.currAgePersonalInfo" ng-max="99" required/>-->
													<input type="number" class="dec-inc_field" name="moneyReqAge" id="moneyReqAge" ng-model="fhrweacreat.moneyReqAge" ng-min="fhrweacreat.minAgeWhenMoneyReq" ng-max="99" required/>
													<button ng-click="fhrweacreat.moneyReqAge = fhrweacreat.moneyReqAge+1">+</button>
												</div> <span class="fhr-value-field">(years)</span>
											</div>
											<div ng-messages="fhrWealthCreationForm.moneyReqAge.$error" class="error-messages" ng-show="fhrWealthCreationForm.moneyReqAge.$invalid">
												<div ng-message="required">Please enter Age.</div>
												<div ng-message="max">Age cannot be greater than 99 Years.</div>
												<div ng-message="min">Age cannot be less than {{fhrweacreat.minAgeWhenMoneyReq}} Years.</div>
											</div>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group custom-form">
												<label class="form-label">Expected Return on Investment<span class="requiredStar">*</span></label>
												<div class="input_with_sidelabel">
													<input type="number" class="form-control custom-form" placeholder="Expected Return on Investment" name="growthRateSaving" id="growthRateSaving" ng-model="fhrweacreat.growthRateSaving" ng-min="fhrweacreat.inflationRate" ng-max="10" required/>
												</div>
												<span class="fhr-value-field">(%)</span>
											</div>
											<div ng-messages="fhrWealthCreationForm.growthRateSaving.$error" class="error-messages" ng-show="fhrWealthCreationForm.growthRateSaving.$invalid">
												<div ng-message="required">Please enter Expected Return on Investment.</div>
												<div ng-message="max">Investment cannot be greater than 10%.</div>
												<div ng-message="min">Investment cannot be less than inflation rate.</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<div class="form-group custom-form">
												<label class="form-label">Rate of Inflation<span class="requiredStar">*</span></label>
												<div class="input_with_sidelabel">
													<input type="number" class="form-control custom-form" placeholder="Inflation rate" name="inflationRate" id="inflationRate"  ng-model="fhrweacreat.inflationRate" ng-min="5" ng-max="10" required/>
												</div>
												<span class="fhr-value-field">(%)</span>
											</div>
											<div ng-messages="fhrWealthCreationForm.inflationRate.$error" class="error-messages" ng-show="fhrWealthCreationForm.inflationRate.$invalid && !fhrWealthCreationForm.inflationRate.$pristine">
												<div ng-message="required">Please enter Rate of Inflation.</div>
												<div ng-message="max">Rate of Inflation cannot be greater than 10%.</div>
												<div ng-message="min">Rate of Inflation cannot be less than 5%.</div>
											</div>
										</div>
									</div>
								</div>
							
							
						</div>
					</ion-content>
				</form>
			</div>
			<!-- Outputs -->
			<div class="output-titlewrap">
				<div class="output-innertitlewrap">
					<div class="innercontent-wrap output-tab">
						<a href="javascript:void(0);" ng-click="(fhrweacreat.goalsCountData.childsCount == 0 && fhrweacreat.goalsCountData.retirementCount == 0 && fhrweacreat.goalsCountData.protectionCount == 0 && fhrweacreat.goalsCountData.wealthCount == 0) ? fhrweacreat.redirObj.showError('Please add atleast 1 goal.') : fhrweacreat.redirObj.gotoOutputTab();"><span class="fhr-tab-title tab-output-title">Output</span></a>
					</div>
				</div>
			</div>
			<!-- Recommendation -->
			<div class="recommendation-titlewrap">
				<div class="recommendation-innertitlewrap">
					<div class="innercontent-wrap recommendation-tab">
						<a href="javascript:void(0);" ng-click="(fhrweacreat.goalsCountData.childsCount == 0 && fhrweacreat.goalsCountData.retirementCount == 0 && fhrweacreat.goalsCountData.protectionCount == 0 && fhrweacreat.goalsCountData.wealthCount == 0) ? fhrweacreat.redirObj.showError('Please add atleast 1 goal.') : fhrweacreat.redirObj.gotoRecommendationTab();"><span class="fhr-tab-title tab-recomm-tilte">Recommendation</span></a>
					</div>
				</div>
			</div>
			<div class="fhr-next-btn" style="right:10px">
				<button class="next-btn-link" type="submit" ng-click="fhrweacreat.onNext(fhrWealthCreationForm)"><span class="next-btn-txt">Next</span><span  ng-class="(fhrWealthCreationForm.$invalid) ? 'next-btn-icon next-btn-icon-disabled' : 'next-btn-icon'"><i class="fa fa-arrow-right"></i></span></button>
			</div>
			<div class="fhr-next-btn fhr-prev-btn">
				<button class="next-btn-link" type="submit" ng-click="fhrweacreat.onPrev()"><span class="next-btn-icon"><i class="fa fa-arrow-left"></i></span><span class="next-btn-txt">Prev</span></button>
			</div>
		</div>
	</ion-content>
</ion-view>
