<ion-pane class="agent-details">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <agent-timeline class="app-blackheaderwrap"></agent-timeline>
        </div>
    </ion-header-bar>
    
    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="main-tab application-form-wrapper">
            <div>
                <div class="tab-pane active">
                    <section class="quetionaire_block">
                        <form id="ccrQuesForm" name="ccrQuesForm"  novalidate>
                            <div class="row">
                                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
                                    <div class="capture-sp-detailswrap">
                                        <div class="row" ng-show="ccrC.isOPGEN">
                                            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                        <div class="custom-btn form-btn-wrap">
                                                            <button type="button" class="btn btn-default btn-block" ng-click="ccrC.showPreview()">View Output</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                        <div class="custom-btn form-btn-wrap">
                                                            <button type="button" class="btn btn-default btn-block" ng-click="ccrC.reGenerate()">Regenerate Output</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                        <div class="custom-btn form-btn-wrap">
                                                            <button type="button" class="btn btn-default btn-block" ng-click="ccrC.goNext()">Next</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" ng-hide="ccrC.isOPGEN">
                                            <!-- Wrapper for selection of wather Insured person related or not starts here -->
                                            
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group custom-form main-form-title">
                                                    <label class="form-label">Customer Confidential Report (CCR)</label>
                                                </div>
                                                
                                                <div class="form-group custom-form">
                                                    <label class="form-label">Is agent related to insured or proposer ?<span class="requiredStar">*</span></label>
                                                    <div class="tick-radio-wrap">
                                                        <div class="new-tick-btn">
                                                            <input type="radio" id="radioCh2Yes" value="Y" ng-model="ccrC.IsAgentRelated.AGENT_REL_FLAG"  name="radioCh2" ng-change="ccrC.changeIsRelatedFlag('Y')" required/>
                                                            <label for="radioCh2Yes">Yes</label>
                                                        </div>
                                                        <div class="new-tick-btn">
                                                            <input type="radio" id="radioCh2No" value="N" ng-model="ccrC.IsAgentRelated.AGENT_REL_FLAG" name="radioCh2" ng-change="ccrC.changeIsRelatedFlag('N')"  required/>
                                                            <label for="radioCh2No">No</label>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                                
                                                <div ng-messages="ccrQuesForm.radioCh2.$error" class="error-messages" ng-show="ccrQuesForm.radioCh2.$invalid && (!ccrQuesForm.radioCh2.$pristine || ccrC.click)">
                                                    <div ng-message="required">Please select option.</div>
                                                </div>
                                            </div>
                                            <!-- Wrapper for selection of wather Insured person related or not ends here -->
                                            
                                            <!-- Wrapper for agent are related to insure or purposer starts here -->
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="ccrC.IsAgentRelated.AGENT_REL_FLAG == 'Y'">
                                                <div class="row">
                                                    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                                        <div class="form-group custom-form">
                                                            <label class="form-label upload-form-lbl">
                                                                Please upload document
                                                                <div class="form-control document-upload-formcntrl" >
                                                                    {{ccrC.DocumentDescription.MPPROOF_DESC}}
                                                                </div>
                                                            </label>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                                                        <div class="activity-btnwrap">
                                                            <button class="doc-checkbox" ng-disabled="ccrC.inDatabase"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                            <div class="btn-container">
                                                                <a class="fab-buttons roll-btn" href="javascript:;">
                                                                    <span class="i-wrap">
                                                                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                                                                    </span>
                                                                </a>
<!--                                                                Commented by Sneha 01-01-17-->
<!--                                                                <a href="javascript:;" class="fab-buttons fab-buttons1 fab" ng-click="ccrC.nativeDocClicked($index)">-->
<!--                                                                    <span class="i-wrap i-wrap-1 cmn-btn">-->
<!--                                                                        <i class="fa fa-file-o" aria-hidden="true"></i>-->
<!--                                                                    </span>-->
<!--                                                                    <span class="ico_txt">Document</span>-->
<!--                                                                </a>-->
                                                                <a href="javascript:;" class="fab-buttons fab-buttons2 fab" ng-click="ccrC.nativeCamClicked($index)">
                                                                    <span class="i-wrap i-wrap-2 cmn-btn">
                                                                        <i class="fa fa-camera" aria-hidden="true"></i>
                                                                    </span>
                                                                    <span class="ico_txt">Camera</span>
                                                                </a>
                                                                <a href="javascript:;" class="fab-buttons fab-buttons3 fab" ng-click="ccrC.nativeGallClicked($index)">
                                                                    <span class="i-wrap i-wrap-3 cmn-btn">
                                                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                                    </span>
                                                                    <span class="ico_txt">Gallery</span>
                                                                </a>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div>
                                                            <div class="center-block pull-none col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                                                <div class="custom-btn">
                                                                    <button type="button" class="btn btn-default btn-block" ng-click="ccrC.submitt()">
                                                                        View Output
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- Wrapper for agent are related to insure or purposer ends here -->
                                            <!-- Wrapper for agent not related to insured starts here  -->
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="ccrC.IsAgentRelated.AGENT_REL_FLAG == 'N'">
                                                <div class="row">
                                                    <!-- Wrapper for agent not related to insured starts here  -->
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="ccrC.IsInsured">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                <div class="form-group custom-form main-form-title">
                                                                    <label class="form-label">Insured</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                <div class="form-group custom-form">
                                                                    <label class="form-label">I am aware of / have observed some adverse habits / heath condition</label>
                                                                    <div class="tick-radio-wrap">
                                                                        <div class="new-tick-btn">
                                                                            <input type="radio" id="ccrAns1Y" name="ccrAns1" value="Y" ng-model="ccrC.ccrQuesData.ANS_1" required />
                                                                            <label for="ccrAns1Y">Yes</label>
                                                                        </div>
                                                                        <div class="new-tick-btn">
                                                                            <input type="radio" id="ccrAns1N" name="ccrAns1" value="N" ng-model="ccrC.ccrQuesData.ANS_1" required />
                                                                            <label for="ccrAns1N">No</label>
                                                                        </div>
																		
                                                                        <div ng-messages="ccrQuesForm.ccrAns1.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns1.$invalid && (!ccrQuesForm.ccrAns1.$pristine || ccrC.genOpClick)">
                                                                            <div ng-message="required">Please select an option.</div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                <div class="form-group custom-form">
                                                                    <label class="form-label">I am aware of / have observed some income / occupation inconsistency</label>
                                                                    <div class="tick-radio-wrap">
                                                                        <div class="new-tick-btn">
                                                                            <input type="radio" id="ccrAns2Y" name="ccrAns2" value="Y" ng-model="ccrC.ccrQuesData.ANS_2" required />
                                                                            <label for="ccrAns2Y">Yes</label>
                                                                        </div>
                                                                        <div class="new-tick-btn">
                                                                            <input type="radio" id="ccrAns2N" name="ccrAns2" value="N" ng-model="ccrC.ccrQuesData.ANS_2" required />
                                                                            <label for="ccrAns2N">No</label>
                                                                        </div>
                                                                        <div ng-messages="ccrQuesForm.ccrAns2.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns2.$invalid && (!ccrQuesForm.ccrAns2.$pristine || ccrC.genOpClick)">
                                                                            <div ng-message="required">Please select an option.</div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                <div class="form-group custom-form">
                                                                    <label class="form-label">Has the Life Assured / Proposer been convicted or has proceedings pending against him / her for any criminal offence in a court of
                                                                        law in India or abroad.</label>
                                                                    <div class="tick-radio-wrap">
                                                                        <div class="new-tick-btn">
                                                                            <input type="radio" id="ccrAns3Y" name="ccrAns3" value="Y" ng-model="ccrC.ccrQuesData.ANS_3" required />
                                                                            <label for="ccrAns3Y">Yes</label>
                                                                        </div>
                                                                        <div class="new-tick-btn">
                                                                            <input type="radio" id="ccrAns3N" name="ccrAns3" value="N" ng-model="ccrC.ccrQuesData.ANS_3" required />
                                                                            <label for="ccrAns3N">No</label>
                                                                        </div>
                                                                        <div ng-messages="ccrQuesForm.ccrAns3.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns3.$invalid && (!ccrQuesForm.ccrAns3.$pristine || ccrC.genOpClick)">
                                                                            <div ng-message="required">Please select an option.</div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                                <div class="form-group custom-form">
                                                                    <label class="form-label">Is the Life Assured / Proposer a Politically Exposed Person</label>
                                                                    <div class="tick-radio-wrap">
                                                                        <div class="new-tick-btn">
                                                                            <input type="radio" id="ccrAns4Y" name="ccrAns4" value="Y" ng-model="ccrC.ccrQuesData.ANS_4" required />
                                                                            <label for="ccrAns4Y">Yes</label>
                                                                        </div>
                                                                        <div class="new-tick-btn">
                                                                            <input type="radio" id="ccrAns4N" name="ccrAns4" value="N" ng-model="ccrC.ccrQuesData.ANS_4" required />
                                                                            <label for="ccrAns4N">No</label>
                                                                        </div>
                                                                        <div ng-messages="ccrQuesForm.ccrAns4.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns4.$invalid && (!ccrQuesForm.ccrAns4.$pristine || ccrC.genOpClick)">
                                                                            <div ng-message="required">Please select an option.</div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Wrapper for agent not related to insured ends here  -->
                                                    
                                                    <!-- Wrapper for agent not related to Proposer starts here  -->
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="ccrC.IsProposer">
														<div class="row">
															<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
																<div class="form-group custom-form main-form-title">
																	<label class="form-label">Proposer</label>
																</div>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
																<div class="form-group custom-form">
																	<label class="form-label">I am aware of / have observed some adverse habits / heath condition</label>
																	<div class="tick-radio-wrap">
																		<div class="new-tick-btn">
																			<input type="radio" id="ccrAns1YProposer" name="ccrAns1Proposer" value="Y" ng-model="ccrC.ccrQuesData.ANS_1Proposer" required />
																			<label for="ccrAns1YProposer">Yes</label>
																		</div>
																		<div class="new-tick-btn">
																			<input type="radio" id="ccrAns1NProposer" name="ccrAns1Proposer" value="N" ng-model="ccrC.ccrQuesData.ANS_1Proposer" required />
																			<label for="ccrAns1NProposer">No</label>
																		</div>
																		<div ng-messages="ccrQuesForm.ccrAns1Proposer.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns1Proposer.$invalid && (!ccrQuesForm.ccrAns1Proposer.$pristine || ccrC.genOpClick)">
																			<div ng-message="required">Please select an option.</div>
																		</div>
																		<div class="clearfix"></div>
																	</div>
																</div>
															</div>
															<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
																<div class="form-group custom-form">
																	<label class="form-label">I am aware of / have observed some income / occupation inconsistency</label>
																	<div class="tick-radio-wrap">
																		<div class="new-tick-btn">
																			<input type="radio" id="ccrAns2YProposer" name="ccrAns2Proposer" value="Y" ng-model="ccrC.ccrQuesData.ANS_2Proposer" required />
																			<label for="ccrAns2YProposer">Yes</label>
																		</div>
																		<div class="new-tick-btn">
																			<input type="radio" id="ccrAns2NProposer" name="ccrAns2Proposer" value="N" ng-model="ccrC.ccrQuesData.ANS_2Proposer" required />
																			<label for="ccrAns2NProposer">No</label>
																		</div>
																		<div ng-messages="ccrQuesForm.ccrAns2Proposer.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns2Proposer.$invalid && (!ccrQuesForm.ccrAns2Proposer.$pristine || ccrC.genOpClick)">
																			<div ng-message="required">Please select an option.</div>
																		</div>
																		<div class="clearfix"></div>
																	</div>
																</div>
															</div>
															<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
																<div class="form-group custom-form">
																	<label class="form-label">Has the Life Assured / Proposer been convicted or has proceedings pending against him / her for any criminal offence in a court of
																		law in India or abroad.</label>
																	<div class="tick-radio-wrap">
																		<div class="new-tick-btn">
																			<input type="radio" id="ccrAns3YProposer" name="ccrAns3Proposer" value="Y" ng-model="ccrC.ccrQuesData.ANS_3Proposer" required />
																			<label for="ccrAns3YProposer">Yes</label>
																		</div>
																		<div class="new-tick-btn">
																			<input type="radio" id="ccrAns3NProposer" name="ccrAns3Proposer" value="N" ng-model="ccrC.ccrQuesData.ANS_3Proposer" required />
																			<label for="ccrAns3NProposer">No</label>
																		</div>
																		<div ng-messages="ccrQuesForm.ccrAns3Proposer.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns3Proposer.$invalid && (!ccrQuesForm.ccrAns3Proposer.$pristine || ccrC.genOpClick)">
																			<div ng-message="required">Please select an option.</div>
																		</div>
																		<div class="clearfix"></div>
																	</div>
																</div>
															</div>
															<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
																<div class="form-group custom-form">
																	<label class="form-label">Is the Life Assured / Proposer a Politically Exposed Person</label>
																	<div class="tick-radio-wrap">
																		<div class="new-tick-btn">
																			<input type="radio" id="ccrAns4YProposer" name="ccrAns4Proposer" value="Y" ng-model="ccrC.ccrQuesData.ANS_4Proposer" required />
																			<label for="ccrAns4YProposer">Yes</label>
																		</div>
																		<div class="new-tick-btn">
																			<input type="radio" id="ccrAns4NProposer" name="ccrAns4Proposer" value="N" ng-model="ccrC.ccrQuesData.ANS_4Proposer" required />
																			<label for="ccrAns4NProposer">No</label>
																		</div>
																		<div ng-messages="ccrQuesForm.ccrAns4Proposer.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns4Proposer.$invalid && (!ccrQuesForm.ccrAns4Proposer.$pristine || ccrC.genOpClick)">
																			<div ng-message="required">Please select an option.</div>
																		</div>
																		<div class="clearfix"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- Wrapper for agent not related to purposer ends here  -->

<!--													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--                                                        <div class="row">-->
<!--                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--                                                                <div class="form-group custom-form main-form-title">-->
<!--                                                                    <label class="form-label">Proposer</label>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div class="row">-->
<!--                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--                                                                <div class="form-group custom-form">-->
<!--                                                                    <label class="form-label">I am aware of / have observed some adverse habits / heath condition</label>-->
<!--                                                                    <div class="tick-radio-wrap">-->
<!--                                                                        <div class="tick-radio-btn-wrap">-->
<!--                                                                            <input type="radio" id="ccrAns1YProposer" name="ccrAns1Proposer" value="Y" ng-model="ccrC.ccrQuesData.ANS_1Proposer" required />-->
<!--                                                                            <label for="ccrAns1YProposer">Yes</label>-->
<!--                                                                        </div>-->
<!--                                                                        <div class="tick-radio-btn-wrap">-->
<!--                                                                            <input type="radio" id="ccrAns1NProposer" name="ccrAns1Proposer" value="N" ng-model="ccrC.ccrQuesData.ANS_1Proposer" required />-->
<!--                                                                            <label for="ccrAns1NProposer">No</label>-->
<!--                                                                        </div>-->
<!--                                                                        <div ng-messages="ccrQuesForm.ccrAns1Proposer.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns1Proposer.$invalid && (!ccrQuesForm.ccrAns1Proposer.$pristine || ccrC.genOpClick)">-->
<!--                                                                            <div ng-message="required">Please select an option.</div>-->
<!--                                                                        </div>-->
<!--                                                                        <div class="clearfix"></div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--                                                                <div class="form-group custom-form">-->
<!--                                                                    <label class="form-label">I am aware of / have observed some income / occupation inconsistency</label>-->
<!--                                                                    <div class="tick-radio-wrap">-->
<!--                                                                        <div class="tick-radio-btn-wrap">-->
<!--                                                                            <input type="radio" id="ccrAns2YProposer" name="ccrAns2Proposer" value="Y" ng-model="ccrC.ccrQuesData.ANS_2Proposer" required />-->
<!--                                                                            <label for="ccrAns2YProposer">Yes</label>-->
<!--                                                                        </div>-->
<!--                                                                        <div class="tick-radio-btn-wrap">-->
<!--                                                                            <input type="radio" id="ccrAns2NProposer" name="ccrAns2Proposer" value="N" ng-model="ccrC.ccrQuesData.ANS_2Proposer" required />-->
<!--                                                                            <label for="ccrAns2NProposer">No</label>-->
<!--                                                                        </div>-->
<!--                                                                        <div ng-messages="ccrQuesForm.ccrAns2Proposer.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns2Proposer.$invalid && (!ccrQuesForm.ccrAns2Proposer.$pristine || ccrC.genOpClick)">-->
<!--                                                                            <div ng-message="required">Please select an option.</div>-->
<!--                                                                        </div>-->
<!--                                                                        <div class="clearfix"></div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--                                                                <div class="form-group custom-form">-->
<!--                                                                    <label class="form-label">Has the Life Assured / Proposer been convicted or has proceedings pending against him / her for any criminal offence in a court of-->
<!--                                                                        law in India or abroad.</label>-->
<!--                                                                    <div class="tick-radio-wrap">-->
<!--                                                                        <div class="tick-radio-btn-wrap">-->
<!--                                                                            <input type="radio" id="ccrAns3YProposer" name="ccrAns3Proposer" value="Y" ng-model="ccrC.ccrQuesData.ANS_3Proposer" required />-->
<!--                                                                            <label for="ccrAns3YProposer">Yes</label>-->
<!--                                                                        </div>-->
<!--                                                                        <div class="tick-radio-btn-wrap">-->
<!--                                                                            <input type="radio" id="ccrAns3NProposer" name="ccrAns3Proposer" value="N" ng-model="ccrC.ccrQuesData.ANS_3Proposer" required />-->
<!--                                                                            <label for="ccrAns3NProposer">No</label>-->
<!--                                                                        </div>-->
<!--                                                                        <div ng-messages="ccrQuesForm.ccrAns3Proposer.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns3Proposer.$invalid && (!ccrQuesForm.ccrAns3Proposer.$pristine || ccrC.genOpClick)">-->
<!--                                                                            <div ng-message="required">Please select an option.</div>-->
<!--                                                                        </div>-->
<!--                                                                        <div class="clearfix"></div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--                                                                <div class="form-group custom-form">-->
<!--                                                                    <label class="form-label">Is the Life Assured / Proposer a Politically Exposed Person</label>-->
<!--                                                                    <div class="tick-radio-wrap">-->
<!--                                                                        <div class="tick-radio-btn-wrap">-->
<!--                                                                            <input type="radio" id="ccrAns4YProposer" name="ccrAns4Proposer" value="Y" ng-model="ccrC.ccrQuesData.ANS_4Proposer" required />-->
<!--                                                                            <label for="ccrAns4YProposer">Yes</label>-->
<!--                                                                        </div>-->
<!--                                                                        <div class="tick-radio-btn-wrap">-->
<!--                                                                            <input type="radio" id="ccrAns4NProposer" name="ccrAns4Proposer" value="N" ng-model="ccrC.ccrQuesData.ANS_4Proposer" required />-->
<!--                                                                            <label for="ccrAns4NProposer">No</label>-->
<!--                                                                        </div>-->
<!--                                                                        <div ng-messages="ccrQuesForm.ccrAns4Proposer.$error" class="error-messages" ng-show="ccrQuesForm.ccrAns4Proposer.$invalid && (!ccrQuesForm.ccrAns4Proposer.$pristine || ccrC.genOpClick)">-->
<!--                                                                            <div ng-message="required">Please select an option.</div>-->
<!--                                                                        </div>-->
<!--                                                                        <div class="clearfix"></div>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
                                                    <!-- Wrapper for agent not related to purposer ends here  -->
                                                    
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <div class="row">
                                                            <div class="col-xs-22 col-sm-6 col-md-4 col-lg-4 center-block pull-none">
                                                                <div class="custom-btn form-btn-wrap">
                                                                    <button class="btn btn-default btn-block" type="button" ng-click="ccrC.onGenerateOutput(ccrQuesForm)">Generate Output</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end second row -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>
