<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<ex-timeline class="tab-nav"></ex-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<form id="appExistingInsForm" name="tata.appExistingInsForm" novalidate>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group custom-form main-form-title">
						<label class="form-label">Insured</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="form-group custom-form">
						<label class="form-label">A. Do you have life insurance policy with Tata AIA Life Insurance Company<span class="requiredStar">*</span></label>
						<div class="tick-radio-wrap">
							<div class="new-tick-btn">
								<input type="radio" id="radioChYes" value="Y" name="radioCh"  ng-model="tata.appExistingInsbean.radioCh" required/>
								<label for="radioChYes">Yes</label>
							</div>
							<div class="new-tick-btn">
								<input type="radio" id="radioChNo" value="N" name="radioCh" ng-model="tata.appExistingInsbean.radioCh" ng-change="tata.onChangeRadio()" required/>
								<label for="radioChNo">No</label>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div ng-messages="tata.appExistingInsForm.radioCh.$error" ng-show="tata.appExistingInsForm.radioCh.$invalid && (!tata.appExistingInsForm.radioCh.$pristine || tata.click)" class="error-messages">
						<div ng-message="required">Please Select option.</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="existing-policy-tile orange-border">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="policy-tile-count">
								1
							</span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form rupppe-textbox">
								<label>Policy Nos</label>
								<input type="text" name="polno1" ng-model="tata.TataObj.policyNo.polno1" ng-pattern="/^[CU]{1}[0-9]{9}$/" ng-disabled="tata.appExistingInsbean.radioCh!='Y'" ng-required="tata.appExistingInsbean.radioCh=='Y'" class="form-control" required/>
							</div>
							<div ng-messages="tata.appExistingInsForm.polno1.$error" ng-show="tata.appExistingInsForm.polno1.$invalid && (!tata.appExistingInsForm.polno1.$pristine || tata.click)" class="error-messages">
								<div ng-message="required">Please enter Policy No.</div>
								<div ng-message="pattern">Please enter valid Policy No.</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="form-group custom-form rupppe-textbox">
								<label>Sum Assured</label>
								<input type="number" name="sa1" ng-model="tata.TataObj.sumAssured.sa1" ng-pattern="/^[0-9]*$/" ng-maxlength="15" ng-disabled="tata.appExistingInsbean.radioCh!='Y'"  ng-required="tata.appExistingInsbean.radioCh=='Y'" class="form-control" required/>
							</div>
							<div ng-messages="tata.appExistingInsForm.sa1.$error" ng-show="tata.appExistingInsForm.sa1.$invalid && (!tata.appExistingInsForm.sa1.$pristine || tata.click)" class="error-messages">
								<div ng-message="required">Please enter valid Sum Assured.</div>
								<div ng-message="pattern">Please enter valid Sum Assured.</div>
								<div ng-message="maxlength">Please enter valid Sum Assured less than 15 digits.</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="existing-policy-tile pink-border">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="policy-tile-count">
								2
							</span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form rupppe-textbox">
								<label>Policy Nos</label>
								<input type="text" name="polno2" ng-model="tata.TataObj.policyNo.polno2" ng-pattern="/^[CU]{1}[0-9]{9}$/" ng-disabled="tata.appExistingInsbean.radioCh!='Y'" class="form-control" />
							</div>
							<div ng-messages="tata.appExistingInsForm.polno2.$error" ng-show="tata.appExistingInsForm.polno2.$invalid && (!tata.appExistingInsForm.polno2.$pristine || tata.click)" class="error-messages">
								<div ng-message="required">Please enter Policy No.</div>
								<div ng-message="pattern">Please enter valid Policy No.</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="form-group custom-form rupppe-textbox">
								<label>Sum Assured</label>
								<input type="number" name="sa2" ng-model="tata.TataObj.sumAssured.sa2" ng-pattern="/^[0-9]*$/" ng-maxlength="15" ng-disabled="tata.appExistingInsbean.radioCh!='Y'" class="form-control" />
							</div>
							<div ng-messages="tata.appExistingInsForm.sa2.$error" ng-show="tata.appExistingInsForm.sa2.$invalid && (!tata.appExistingInsForm.sa2.$pristine || tata.click)" class="error-messages">
								<div ng-message="required">Please enter valid Sum Assured.</div>
								<div ng-message="pattern">Please enter valid Sum Assured.</div>
								<div ng-message="maxlength">Please enter valid Sum Assured less than 15 digits.</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="existing-policy-tile maroon-border">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="policy-tile-count">
								3
							</span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form rupppe-textbox">
								<label>Policy Nos</label>
								<input type="text" name="polno3" ng-model="tata.TataObj.policyNo.polno3" ng-pattern="/^[CU]{1}[0-9]{9}$/" ng-disabled="tata.appExistingInsbean.radioCh!='Y'" class="form-control" />
							</div>
							<div ng-messages="tata.appExistingInsForm.polno3.$error" ng-show="tata.appExistingInsForm.polno3.$invalid && (!tata.appExistingInsForm.polno3.$pristine || tata.click)" class="error-messages">
								<div ng-message="required">Please enter Policy No.</div>
								<div ng-message="pattern">Please enter valid Policy No.</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="form-group custom-form rupppe-textbox">
								<label>Sum Assured</label>
								<input type="number" name="sa3" ng-model="tata.TataObj.sumAssured.sa3" ng-pattern="/^[0-9]*$/" ng-maxlength="15" ng-disabled="tata.appExistingInsbean.radioCh!='Y'" class="form-control" />
							</div>
							<div ng-messages="tata.appExistingInsForm.sa3.$error" ng-show="tata.appExistingInsForm.sa3.$invalid && (!tata.appExistingInsForm.sa3.$pristine || tata.click)" class="error-messages">
								<div ng-message="required">Please enter valid Sum Assured.</div>
								<div ng-message="pattern">Please enter valid Sum Assured.</div>
								<div ng-message="maxlength">Please enter valid Sum Assured less than 15 digits.</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!--Proposr Data-->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="tata.isSelf=='Y'">
					<div class="form-group custom-form main-form-title">
						<label class="form-label">Proposer</label>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="tata.isSelf=='Y'">
					<div class="form-group custom-form">
						<label class="form-label">
							A. Do you have life insurance policy with Tata AIA Life Insurance Company
							<span class="requiredStar">*</span>
						</label>
						<div class="tick-radio-wrap">
							<div class="new-tick-btn">
								<input type="radio" id="PropradioChYes" value="Y" name="PropradioCh" ng-model="tata.appExistingPropbean.PropradioCh" ng-required="tata.isSelf!='Y'" required />
								<label for="PropradioChYes">Yes</label>
							</div>
							<div class="new-tick-btn">
								<input type="radio" id="PropradioChNo" value="N" name="PropradioCh" ng-model="tata.appExistingPropbean.PropradioCh" ng-change="tata.onChangePropRadio()" ng-required="tata.isSelf!='Y'"  required />
								<label for="PropradioChNo">No</label>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div ng-messages="tata.appExistingInsForm.PropradioCh.$error" class="error-messages" ng-show="tata.appExistingInsForm.PropradioCh.$invalid && (!tata.appExistingInsForm.PropradioCh.$pristine || tata.click)">
						<div ng-message="required">Please Select option.</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="tata.isSelf=='Y'">
					<div class="existing-policy-tile orange-border">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="policy-tile-count">
								1
							</span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form rupppe-textbox">
								<label>Policy Nos</label>
								<input type="text" name="polno4" ng-model="tata.PropTataObj.PropPolicyNo.polno4" ng-pattern="/^[CU]{1}[0-9]{9}$/" ng-disabled="tata.appExistingPropbean.PropradioCh!='Y'" ng-required="tata.isSelf!='Y'&& tata.appExistingPropbean.PropradioCh=='Y'"   class="form-control" required/>
							</div>
							<div ng-messages="tata.appExistingInsForm.polno4.$error" class="error-messages" ng-show="tata.appExistingInsForm.polno4.$invalid && (!tata.appExistingInsForm.polno4.$pristine || tata.click)">
								<div ng-message="required">Please enter Policy No.</div>
								<div ng-message="pattern">Please enter valid Policy No.</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="form-group custom-form rupppe-textbox">
								<label>Sum Assured</label>
								<input type="number" name="sa4" ng-model="tata.PropTataObj.PropSumAssured.sa4" ng-pattern="/^[0-9]*$/" ng-maxlength="15" ng-disabled="tata.appExistingPropbean.PropradioCh!='Y'" ng-required="tata.isSelf!='Y' && tata.appExistingPropbean.PropradioCh=='Y'"  class="form-control" required/>
							</div>
							<div ng-messages="tata.appExistingInsForm.sa4.$error" class="error-messages" ng-show="tata.appExistingInsForm.sa4.$invalid && (!tata.appExistingInsForm.sa4.$pristine || tata.click)">
								<div ng-message="required">Please enter valid Sum Assured.</div>
								<div ng-message="pattern">Please enter valid Sum Assured.</div>
								<div ng-message="maxlength">Please enter valid Sum Assured less than 15 digits.</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="existing-policy-tile pink-border">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="policy-tile-count">
								2
							</span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form rupppe-textbox">
								<label>Policy Nos</label>
								<input type="text" name="polno5" ng-model="tata.PropTataObj.PropPolicyNo.polno5" ng-pattern="/^[CU]{1}[0-9]{9}$/" ng-disabled="tata.appExistingPropbean.PropradioCh!='Y'"  class="form-control" />
							</div>
							<div ng-messages="tata.appExistingInsForm.polno5.$error" class="error-messages" ng-show="tata.appExistingInsForm.polno5.$invalid && (!tata.appExistingInsForm.polno5.$pristine || tata.click)">
								<div ng-message="required">Please enter Policy No.</div>
								<div ng-message="pattern">Please enter valid Policy No.</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="form-group custom-form rupppe-textbox">
								<label>Sum Assured</label>
								<input type="number" name="sa5" ng-model="tata.PropTataObj.PropSumAssured.sa5" ng-pattern="/^[0-9]*$/" ng-maxlength="15" ng-disabled="tata.appExistingPropbean.PropradioCh!='Y'" class="form-control" />
							</div>
							<div ng-messages="tata.appExistingInsForm.sa5.$error" class="error-messages" ng-show="tata.appExistingInsForm.sa5.$invalid && (!tata.appExistingInsForm.sa5.$pristine || tata.click)">
								<div ng-message="required">Please enter valid Sum Assured.</div>
								<div ng-message="pattern">Please enter valid Sum Assured.</div>
								<div ng-message="maxlength">Please enter valid Sum Assured less than 15 digits.</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="existing-policy-tile maroon-border">
						<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							<span class="policy-tile-count">
								3
							</span>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="form-group custom-form rupppe-textbox">
								<label>Policy Nos</label>
								<input type="text" name="polno6" ng-model="tata.PropTataObj.PropPolicyNo.polno6" ng-pattern="/^[CU]{1}[0-9]{9}$/" ng-disabled="tata.appExistingPropbean.PropradioCh!='Y'" class="form-control" />
							</div>
							<div ng-messages="tata.appExistingInsForm.polno6.$error" class="error-messages" ng-show="tata.appExistingInsForm.polno6.$invalid && (!tata.appExistingInsForm.polno6.$pristine || tata.click)">
								<div ng-message="required">Please enter Policy No.</div>
								<div ng-message="pattern">Please enter valid Policy No.</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="form-group custom-form rupppe-textbox">
								<label>Sum Assured</label>
								<input type="number" name="sa6" ng-model="tata.PropTataObj.PropSumAssured.sa6" ng-pattern="/^[0-9]*$/" ng-maxlength="15" ng-disabled="tata.appExistingPropbean.PropradioCh!='Y'"  class="form-control" />
							</div>
							<div ng-messages="tata.appExistingInsForm.sa6.$error" class="error-messages" ng-show="tata.appExistingInsForm.sa6.$invalid && (!tata.appExistingInsForm.sa6.$pristine || tata.click)">
								<div ng-message="required">Please enter valid Sum Assured.</div>
								<div ng-message="pattern">Please enter valid Sum Assured.</div>
								<div ng-message="maxlength">Please enter valid Sum Assured less than 15 digits.</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap add-btn-wrap">
								<button class="btn btn-default btn-block" ng-click="tata.gotoNonTataPolpg(tata.appExistingInsForm)">Next</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</ion-content>
