<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<rq-timeline class="tab-nav"></rq-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="application-form-inner-tab-content">
			<section class="quetionaire_block">
				<form id="poQuesForm" name="poQuesForm" novalidate>
					<div class="row" ng-show="poC.isDone">
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="poC.showPreview()">preview Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="poC.reGenerate()">Regenerate Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="poC.onNext()">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-hide="poC.isDone">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">PIO, OCI Questionnaire - {{poC.LoadData.custType}}</label>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Country of Birth</label>
										<input type="text" class="form-control" name="poAns2b" ng-model="poC.poQuesData.ANS_2b" required >
										<div ng-messages="poQuesForm.poAns2b.$error" class="error-messages" ng-show="poQuesForm.poAns2b.$invalid && (!poQuesForm.poAns2b.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Country of Current Residence</label>
										<input type="text" class="form-control" name="poAns4" ng-model="poC.poQuesData.ANS_4" required >
										<div ng-messages="poQuesForm.poAns4.$error" class="error-messages" ng-show="poQuesForm.poAns4.$invalid && (!poQuesForm.poAns4.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Date on which you became permanent resident of the country mentioned above</label>
										<input type="date" class="form-control" name="poAns5" ng-model="poC.poQuesData.ANS_5" required >
										<div ng-messages="poQuesForm.poAns5.$error" class="error-messages" ng-show="poQuesForm.poAns5.$invalid && (!poQuesForm.poAns5.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Do you hold or Had earlier held Indian Passport?</label>
										<div class="tick-radio-wrap">
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="poAns6Y" name="poAns6" value="Y" ng-model="poC.poQuesData.ANS_6" required />
												<label for="poAns6Y">Yes</label>
											</div>
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="poAns6N" name="poAns6" value="N" ng-model="poC.poQuesData.ANS_6" ng-change="poC.setNull('6')" required />
												<label for="poAns6N">No</label>
											</div>
											<div ng-messages="poQuesForm.poAns6.$error" class="error-messages" ng-show="poQuesForm.poAns6.$invalid && (!poQuesForm.poAns6.$pristine || poC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="poC.poQuesData.ANS_6=='Y'">
									<div class="form-group custom-form">
										<label class="form-label">If yes, then provide below details:-</label>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">a. Passport Number</label>
										<input type="text" class="form-control" name="poAns6a" ng-model="poC.poQuesData.ANS_6a" ng-required="poC.poQuesData.ANS_6=='Y'" >
										<div ng-messages="poQuesForm.poAns6a.$error" class="error-messages" ng-show="poQuesForm.poAns6a.$invalid && (!poQuesForm.poAns6a.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">b. Date of Issue</label>
										<input type="date" class="form-control" name="poAns6b" ng-model="poC.poQuesData.ANS_6b" ng-required="poC.poQuesData.ANS_6=='Y'" validate-Date>
										<div ng-messages="poQuesForm.poAns6b.$error" class="error-messages" ng-show="poQuesForm.poAns6b.$invalid && (!poQuesForm.poAns6b.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
											<div ng-message="validateDate">Date should not greater than toay's Date.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">c. Place of Issue</label>
										<input type="text" class="form-control" name="poAns6c" ng-model="poC.poQuesData.ANS_6c" ng-required="poC.poQuesData.ANS_6=='Y'" >
										<div ng-messages="poQuesForm.poAns6c.$error" class="error-messages" ng-show="poQuesForm.poAns6c.$invalid && (!poQuesForm.poAns6c.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
									<div class="form-group custom-form">
										<label class="form-label">Provide your current Passport Details:-</label>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">a. Passport Number</label>
										<input type="text" class="form-control" name="poAns7a" ng-model="poC.poQuesData.ANS_7a" required >
										<div ng-messages="poQuesForm.poAns7a.$error" class="error-messages" ng-show="poQuesForm.poAns7a.$invalid && (!poQuesForm.poAns7a.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">b. Date of Issue</label>
										<input type="date" class="form-control" name="poAns7b" ng-model="poC.poQuesData.ANS_7b" required >
										<div ng-messages="poQuesForm.poAns7b.$error" class="error-messages" ng-show="poQuesForm.poAns7b.$invalid && (!poQuesForm.poAns7b.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">c. Place of Issue</label>
										<input type="text" class="form-control" name="poAns7c" ng-model="poC.poQuesData.ANS_7c" required >
										<div ng-messages="poQuesForm.poAns7c.$error" class="error-messages" ng-show="poQuesForm.poAns7c.$invalid && (!poQuesForm.poAns7c.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">OCI Card Number / PIO Card Number</label>
										<input type="text" class="form-control" name="poAns8" ng-model="poC.poQuesData.ANS_8" required >
										<div ng-messages="poQuesForm.poAns8.$error" class="error-messages" ng-show="poQuesForm.poAns8.$invalid && (!poQuesForm.poAns8.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Purpose of your current visit to India</label>
										<input type="text" class="form-control" name="poAns9" ng-model="poC.poQuesData.ANS_9" required >
										<div ng-messages="poQuesForm.poAns9.$error" class="error-messages" ng-show="poQuesForm.poAns9.$invalid && (!poQuesForm.poAns9.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">VISA Status</label>
										<div class="tick-radio-wrap">
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="poAns5W" name="poAns10" value="Work Visa" ng-model="poC.poQuesData.ANS_10" ng-change="poC.setNull('10')" required />
												<label for="poAns5W">Work Visa</label>
											</div>
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="poAns5T" name="poAns10" value="Travel Visa" ng-model="poC.poQuesData.ANS_10" ng-change="poC.setNull('10')" required />
												<label for="poAns5T">Travel Visa</label>
											</div>
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="poAns5R" name="poAns10" value="Residence Visa" ng-model="poC.poQuesData.ANS_10" ng-change="poC.setNull('10')" required />
												<label for="poAns5R">Residence Visa</label>
											</div>
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="poAns5OT" name="poAns10" value="Other" ng-model="poC.poQuesData.ANS_10"  required />
												<label for="poAns5OT">Other</label>
											</div>
											<div ng-messages="poQuesForm.poAns10.$error" class="error-messages" ng-show="poQuesForm.poAns10.$invalid && (!poQuesForm.poAns10.$pristine || poC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="poC.poQuesData.ANS_10=='Other'">
									<div class="form-group custom-form">
										<label class="form-label">If Others, Please Specify</label>
										<input type="text" class="form-control" name="poAns10Reason" ng-model="poC.poQuesData.ANS_10_Reason" ng-required="poC.poQuesData.ANS_10=='Other'" >
										<div ng-messages="poQuesForm.poAns10Reason.$error" class="error-messages" ng-show="poQuesForm.poAns10Reason.$invalid && (!poQuesForm.poAns10Reason.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Date of Arrival in India</label>
										<input type="date" class="form-control" name="poAns11a" ng-model="poC.poQuesData.ANS_11a" required >
										<div ng-messages="poQuesForm.poAns11a.$error" class="error-messages" ng-show="poQuesForm.poAns11a.$invalid && (!poQuesForm.poAns11a.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Date when you intend to leave from india your current visit</label>
										<input type="date" class="form-control" name="poAns11b" ng-model="poC.poQuesData.ANS_11b" required >
										<div ng-messages="poQuesForm.poAns11b.$error" class="error-messages" ng-show="poQuesForm.poAns11b.$invalid && (!poQuesForm.poAns11b.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Taxpayer Identification Number (TIN No) : </label>
										<input type="text" class="form-control" name="poAns12" ng-model="poC.poQuesData.ANS_12" ng-change="poC.setNull('12')">
										<div ng-messages="poQuesForm.poAns12.$error" class="error-messages" ng-show="poQuesForm.poAns12.$invalid && (!poQuesForm.poAns12.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
										<label class="form-label">
											Functional Equivalent Number / Common ID no. (in case of no TIN No)Issued in country of residence. e.g. (Social Security No, CPR, Green Card number , Permanent residency number or any unique identification number provided by Govt.etc).
										</label>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="poC.poQuesData.ANS_12==null || poC.poQuesData.ANS_12==''">
									<div class="form-group custom-form">
										<label class="form-label">If TIN No: / Functional Equivalent Number / Common ID no. is not available with Life Assured, please clarify the reason for same.</label>
										<input type="text" class="form-control" name="poAns12Reason" ng-model="poC.poQuesData.ANS_12_Reason" ng-required="poC.poQuesData.ANS_12==null || poC.poQuesData.ANS_12==''">
										<div ng-messages="poQuesForm.poAns12Reason.$error" class="error-messages" ng-show="poQuesForm.poAns12Reason.$invalid && (!poQuesForm.poAns12Reason.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Full Address in the Country of your residence</label>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">Address</label>
										<input type="text" class="form-control" name="poAns13a" ng-model="poC.poQuesData.ANS_13a" required>
										<div ng-messages="poQuesForm.poAns13a.$error" class="error-messages" ng-show="poQuesForm.poAns13a.$invalid && (!poQuesForm.poAns13a.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">Landmark</label>
										<input type="text" class="form-control" name="poAns13b" ng-model="poC.poQuesData.ANS_13b" required>
										<div ng-messages="poQuesForm.poAns13b.$error" class="error-messages" ng-show="poQuesForm.poAns13b.$invalid && (!poQuesForm.poAns13b.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">City</label>
										<input type="text" class="form-control" name="poAns13c" ng-model="poC.poQuesData.ANS_13c" required>
										<div ng-messages="poQuesForm.poAns13c.$error" class="error-messages" ng-show="poQuesForm.poAns13c.$invalid && (!poQuesForm.poAns13c.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">State</label>
										<input type="text" class="form-control" name="poAns13d" ng-model="poC.poQuesData.ANS_13d" required>
										<div ng-messages="poQuesForm.poAns13d.$error" class="error-messages" ng-show="poQuesForm.poAns13d.$invalid && (!poQuesForm.poAns13d.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">Pincode</label>
										<input type="number" class="form-control" name="poAns13e" ng-model="poC.poQuesData.ANS_13e" required>
										<div ng-messages="poQuesForm.poAns13e.$error" class="error-messages" ng-show="poQuesForm.poAns13e.$invalid && (!poQuesForm.poAns13e.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">Mobile No. with country code</label>
										<input type="number" class="form-control" name="poAns13f" ng-model="poC.poQuesData.ANS_13f" required>
										<div ng-messages="poQuesForm.poAns13f.$error" class="error-messages" ng-show="poQuesForm.poAns13f.$invalid && (!poQuesForm.poAns13f.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Details of Non Resident Account held in India:</label>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">Name of Bank</label>
										<input type="text" class="form-control" name="poAns14a" ng-model="poC.poQuesData.ANS_14a" required>
										<div ng-messages="poQuesForm.poAns14a.$error" class="error-messages" ng-show="poQuesForm.poAns14a.$invalid && (!poQuesForm.poAns14a.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">Type of Account</label>
										<input type="text" class="form-control" name="poAns14b" ng-model="poC.poQuesData.ANS_14b" required>
										<div ng-messages="poQuesForm.poAns14b.$error" class="error-messages" ng-show="poQuesForm.poAns14b.$invalid && (!poQuesForm.poAns14b.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">Account Number</label>
										<input type="number" class="form-control" name="poAns14c" ng-model="poC.poQuesData.ANS_14c" required>
										<div ng-messages="poQuesForm.poAns14c.$error" class="error-messages" ng-show="poQuesForm.poAns14c.$invalid && (!poQuesForm.poAns14c.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
									<div class="form-group custom-form">
										<label class="form-label">Address of Bank Branch</label>
										<input type="text" class="form-control" name="poAns14d" ng-model="poC.poQuesData.ANS_14d" required>
										<div ng-messages="poQuesForm.poAns14d.$error" class="error-messages" ng-show="poQuesForm.poAns14d.$invalid && (!poQuesForm.poAns14d.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">Are you or your close relative are PEP –politically exposed person domestically/ in an international organisation/ in a foreign country?</label>
										<div class="tick-radio-wrap">
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="poAns15Y" name="poAns15" value="Y" ng-model="poC.poQuesData.ANS_15" required />
												<label for="poAns15Y">Yes</label>
											</div>
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="poAns15N" name="poAns15" value="N" ng-model="poC.poQuesData.ANS_15" ng-change="poC.setNull('15')" required />
												<label for="poAns15N">No</label>
											</div>
											<div ng-messages="poQuesForm.poAns15.$error" class="error-messages" ng-show="poQuesForm.poAns15.$invalid && (!poQuesForm.poAns15.$pristine || poC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="poC.poQuesData.ANS_15=='Y'">
									<div class="form-group custom-form">
										<label class="form-label">If Yes, provide details:</label>
										<input type="text" class="form-control" name="poAns15Reason" ng-model="poC.poQuesData.ANS_15_Reason" ng-required="poC.poQuesData.ANS_15=='Y'" >
										<div ng-messages="poQuesForm.poAns15Reason.$error" class="error-messages" ng-show="poQuesForm.poAns15Reason.$invalid && (!poQuesForm.poAns15Reason.$pristine || poC.genOpClick)">
											<div ng-message="required">Field cannot be empty.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-default btn-block" type="button" ng-click="poC.onGenerateOutput(poQuesForm)">Generate Output</button>
									</div>
								</div>
							</div>
							<!-- end second row -->
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</ion-content>
