<ion-pane>

    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <div class="headertitle-wrap">
                <div class="menu-iconlogo-wrapper">
                    <a ng-click="pscCtrl.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- Second Header -->
            <div class="lead_title">
                <h2>Address Details</h2>
            </div>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing="false" class="has-subheader-custom custom-position psc-block-wrp">
        <section class="content-block">
            <div class="lead-block-wrp">
                <div class="form_wrap">
                    <form name="pscPageForm" id="pscPageForm" ng-submit="pscCtrl.onNext(pscPageForm)" novalidate>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <!-- Address 1 -->
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                    <div class="form-group custom-form">
                                        <label class="form-label">Address 1<span class="requiredStar">*</span></label>
                                        <input type="text" class="form-control custom-form" name="add1"  ng-model='pscCtrl.pscPage1Data.CURNT_ADDRESS1' placeholder="Address 1" ng-maxlength="45" ng-pattern="pscCtrl.freeTxtRegex" ng-disabled="pscCtrl.disableFlag" block-hash required/>
                                    </div>
                                    <div ng-messages="pscPageForm.add1.$error" class="error-messages" ng-show="pscPageForm.add1.$invalid && (!pscPageForm.add1.$pristine || pscCtrl.click)">
                                        <div ng-message="required">Please enter address.</div>
                                        <div ng-message="maxlength">Maximum 45 chars only.</div>
                                        <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                                        <div ng-message="pattern">Enter valid Address excluding special characters</div>
                                    </div>
                                </div>

                                <!-- Address 2 -->
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                    <div class="form-group custom-form">
                                        <label class="form-label">Address 2</label>
                                        <input type="text" class="form-control custom-form"  name="add2"  ng-model='pscCtrl.pscPage1Data.CURNT_ADDRESS2' placeholder="Address 2" ng-pattern="pscCtrl.freeTxtRegex" ng-disabled="pscCtrl.disableFlag" ng-maxlength="45" block-hash/>
                                    </div>
                                    <div ng-messages="pscPageForm.add2.$error" class="error-messages" ng-show="pscPageForm.add2.$invalid && (!pscPageForm.add2.$pristine || pscCtrl.click)">
                                        <div ng-message="maxlength">Maximum 45 chars only.</div>
                                        <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                                        <div ng-message="pattern">Enter valid Address excluding special characters</div>
                                    </div>
                                </div>

                                <!-- Address 3 -->
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                    <div class="form-group custom-form">
                                        <label class="form-label">Address 3</label>
                                        <input type="text" class="form-control custom-form"  name="add3"  ng-model='pscCtrl.pscPage1Data.CURNT_ADDRESS3' placeholder="Address 3" ng-pattern="pscCtrl.freeTxtRegex" ng-disabled="pscCtrl.disableFlag" ng-maxlength="45" block-hash/>
                                    </div>
                                    <div ng-messages="pscPageForm.add3.$error" class="error-messages" ng-show="pscPageForm.add3.$invalid && (!pscPageForm.add3.$pristine || pscCtrl.click)">
                                        <div ng-message="maxlength">Maximum 45 chars only.</div>
                                        <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                                        <div ng-message="pattern">Enter valid Address excluding special characters</div>
                                    </div>
                                </div>

                                <!--Landmark-->
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                    <div class="form-group custom-form">
                                        <label class="form-label">Landmark</label>
                                        <input type="text" class="form-control custom-form" name="landmark"  ng-model='pscCtrl.pscPage1Data.CURNT_DISTRICT_LANDMARK' placeholder="Landmark" ng-pattern="pscCtrl.freeTxtRegex" ng-disabled="pscCtrl.disableFlag" ng-maxlength="45" block-hash/>
                                    </div>
                                    <div ng-messages="pscPageForm.landmark.$error" class="error-messages" ng-show="pscPageForm.landmark.$invalid && (!pscPageForm.landmark.$pristine || pscCtrl.click)">
                                        <div ng-message="maxlength">Maximum 45 chars only.</div>
                                        <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                                        <div ng-message="pattern">Enter valid landmark excluding special characters</div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group custom-form">
                                        <label class="form-label">State<span class="requiredStar" >*</span></label>
                                        <div class="custom-drp city-drp-dwn" >
                                            <!--<select class="form-control" ng-change="pc.onStateChange()"  name="state" ng-options="option.STATE_DESC for option in pc.stateList track by option.STATE_CODE" ng-model="pc.stateOptionSelected"></select>-->
                                            <div custom-select="s.STATE_DESC for s in pscCtrl.stateList | filter: { STATE_DESC: $searchTerm } track by s.STATE_CODE" name="state" ng-model="pscCtrl.stateOptionSelected" ng-change="pscCtrl.onStateChange()" ng-disabled="pscCtrl.disableFlag || (pscCtrl.srState && !!pscCtrl.stateOptionSelected.STATE_CODE)" select-required></div>
                                        </div>
                                    </div>
                                    <div ng-messages="pscPageForm.state.$error" class="error-messages" ng-show="pscPageForm.state.$invalid && (!pscPageForm.state.$pristine || pscCtrl.click)">
                                        <div ng-message="selectRequired">Please select an option.</div>
                                    </div>
                                </div>

                                <!-- City -->
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group custom-form" >
                                        <label class="form-label">City<span class="requiredStar" >*</span></label>
                                        <div class="custom-drp city-drp-dwn">
                                            <!--<select class="form-control" ng-options="option.CITY_DESC for option in pc.cityList track by option.CITY_CODE" ng-model="pc.cityOptionSelected" name="city" ng-change="pc.onCityChange()"></select>-->
                                            <div custom-select="s.CITY_DESC for s in pscCtrl.cityList | filter: { CITY_DESC: $searchTerm } track by s.CITY_CODE" name="city" ng-model="pscCtrl.cityOptionSelected" ng-change="pscCtrl.onCityChange()" ng-disabled="pscCtrl.disableFlag || (pscCtrl.srState && !!pscCtrl.cityOptionSelected.CITY_CODE)" select-required></div>

                                        </div>
                                    </div>
                                    <div ng-messages="pscPageForm.city.$error" class="error-messages" ng-show="pscPageForm.city.$invalid && (!pscPageForm.city.$pristine || pscCtrl.click)">
                                        <div ng-message="selectRequired">Please select an option.</div>
                                    </div>
                                </div>
                                <!-- Zip -->
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                                    <div class="form-group custom-form">
                                        <label class="form-label">Pin Code<span class="requiredStar" >*</span></label>
                                        <input type="number" class="form-control custom-form" name="zip"  ng-model='pscCtrl.pscPage1Data.CURNT_ZIP_CODE' placeholder="Pin Code" ng-pattern="pscCtrl.zipscCtrlodeRegex" ng-minlength="6" ng-maxlength="6" ng-disabled="pscCtrl.disableFlag" required/>
                                    </div>
                                    <div ng-messages="pscPageForm.zip.$error" class="error-messages" ng-show="pscPageForm.zip.$invalid && (!pscPageForm.zip.$pristine || pscCtrl.click)">
                                        <div ng-message="required">Please enter Pincode.</div>
                                        <div ng-message="pattern">Please enter a valid ZipscCtrlode.</div>
                                        <div ng-message="maxlength">Maximum 6 chars only.</div>
                                        <div ng-message="minlength">Pincode should be minimum 6 digits.</div>
                                    </div>
                                </div>
                                <!--Other City Name-->
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="pscCtrl.pscPage1Data.CURNT_CITY =='OT'">
                                    <div class="form-group custom-form">
                                        <label class="form-label">City Name</label>
                                        <input type="text" class="form-control custom-form"  name="OCityName"  ng-model='pscCtrl.Other_CityName'  placeholder="Other City Name" ng-maxlength="20" ng-required="pscCtrl.pscPage1Data.CURNT_CITY =='OT'" block-hash/>
                                    </div>
                                    <div ng-messages="pscPageForm.OCityName.$error" class="error-messages" ng-show="pscPageForm.OCityName.$invalid && !pscPageForm.OCityName.$pristine">
                                        <div ng-message="maxlength">Maximum 20 chars only.</div>
                                        <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                                        <div ng-message="required">cannot be empty.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 center-block pull-none">
                                    <div class="custom-btn form-btn-wrap lead-btn">
                                        <button class="btn btn-default btn-block" type="submit">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </ion-content>
</ion-pane>
