<div class="tracker-carousel" >
	<div class="carousel-demo">
		<ul rn-carousel rn-carousel-index="sc.carouselIndex" rn-carousel rn-carousel-auto-slide class="carousel5">
			<li class="carousel-contentli" ng-repeat="sisCompleted in sc.sisCompletedArr">
				<div class="col-sm-4 col-xs-4" ng-repeat="sisComplt in sisCompleted">
					<div class="lead-box-bg">
						<div class="lead-head">
							<div class="lead-head-ico pull-left">{{sisComplt.LNAME.charAt(0).toUpperCase()}}</div>
							<div class="lead-contact pull-left">
								<h2>{{sisComplt.LNAME}}</h2>
								<div class="lead-contact-details">
									<span>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<span class="sol-details">{{sisComplt.MOBNO}}</span>
									</span>
									<span>
										<i class="fa fa-user" aria-hidden="true"></i>
										<span class="sol-apps">{{sisComplt.LDSRC1}}</span>
									</span>
								</div>
								<div class="date-created" ng-show="!sisComplt.POLICY_NO">
									<span class="date-created-lbl">Tracker No.: </span>
									<span class="date-on">{{sisComplt.OPP_ID}}</span>
								</div>
								<div class="date-created" ng-show="!!sisComplt.POLICY_NO">
									<span class="date-created-lbl">Policy No.: </span>
									<span class="date-on">{{sisComplt.POLICY_NO}}</span>
								</div>
								<div class="date-created">
									<span class="date-created-lbl">Updated on</span>
									<span class="date-on">{{sisComplt.LSTUPDT_TMSTMP}}</span>
								</div>
							</div>
						</div>
						<div class="lead-head-txt pull-left">
							<button type="button" class="btn btn-default btn-border" ng-click="sc.goToLeadDashboard(sisComplt)">Continue</button>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="carousel-pagination" rn-carousel-indicators ng-if="sc.sisCompletedArr.length > 1" slides="sc.sisCompletedArr" rn-carousel-index="sc.carouselIndex"></div>
	</div>
</div>
