<div class="new-timeline">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="time-line-head ff-timeline-head" style="position:relative;">
            <div class="time-line-divider"></div>
            <ul>
                <li ng-repeat="obj in ft.timelineObj">
                    <a ng-click="ft.onTabClick(obj.type)" ng-class="{'anchor-active': (ft.activeTab == obj.type), 'anchor-active-completed': (obj.isTabComplete && (ft.activeTab != obj.type))}">
                        <span style="background:#1c2535; width:50px; height:40px; display:inline-block">
                            <span ng-class="['time-line-count', {'time-active': (ft.activeTab == obj.type)}, {'time-line-completed': (obj.isTabComplete && (ft.activeTab != obj.type))}]">{{obj.number}}</span>
                        </span>
                        <span class="timeline-content"><span class="timeline-content-txt">{{obj.name}}</span><span class="timeline-content-txt">{{obj.name2}}</span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
