<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<rq-timeline class="tab-nav"></rq-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<section class="quetionaire_block">
				<form id="occQuesForm" name="occQuesForm" novalidate>
					<div class="row" ng-show="occQ.isDone">
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="occQ.showPreview()">preview Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="occQ.reGenerate()">Regenerate Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="occQ.onNext()">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-hide="occQ.isDone">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">Occupation Questionnaire - {{occQ.LoadData.custType}}</label>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
									<div class="row">
										<!-- What is your exact occupation  -->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">1. What is your exact occupation?</label>
												<input type="text" class="form-control" name="occuQ1" ng-model="occQ.occuQuesData.currOccupation" ng-maxlength="100" required>
											</div>
											<div ng-messages="occQuesForm.occuQ1.$error" class="error-messages" ng-show="occQuesForm.occuQ1.$invalid && (!occQuesForm.occuQ1.$pristine || occQ.click)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
											</div>
										</div>
										<!-- Job Responsibilities: Please describe your daily exact nature of duties in details  -->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">2. Job Responsibilities: Please describe your daily exact nature of duties in details</label>
												<input type="text" class="form-control" name="occuQ2" ng-model="occQ.occuQuesData.duties" ng-maxlength="100" required>
											</div>
											<div ng-messages="occQuesForm.occuQ2.$error" class="error-messages" ng-show="occQuesForm.occuQ2.$invalid &&(!occQuesForm.occuQ2.$pristine || occQ.click)" >
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
											</div>
										</div>
										<!-- How long have you been engaged in your occupation?  -->
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">3. How long have you been engaged in your occupation?</label>
												<input type="text" class="form-control" name="occuQ3" ng-model="occQ.occuQuesData.occuPeriod" ng-maxlength="100" required>
											</div>
											<div ng-messages="occQuesForm.occuQ3.$error" class="error-messages" ng-show="occQuesForm.occuQ3.$invalid &&(!occQuesForm.occuQ3.$pristine || occQ.click)" >
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
											</div>
										</div>
											<!-- What percentage of your working time is spent on the following? -->
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<label  class="form-label">4. What percentage of your working time is spent on the following?</label>
												<div class="row">
													<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
														<div class="form-group custom-form">
															<input type="number" class="form-control" name="occuQ4a" ng-model="occQ.occuQuesData.per1"  placeholder="Administration" ng-maxlength="15" required />
														</div>
														<div ng-messages="occQuesForm.occuQ4a.$error" class="error-messages" ng-show="occQuesForm.occuQ4a.$invalid &&(!occQuesForm.occuQ4a.$pristine || occQ.click)">
															<div ng-message="required">Field cannot be empty.</div>
															<div ng-message="maxlength">Field cannot be more than 15 characters.</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
														<div class="form-group custom-form">
															<input type="number" class="form-control" name="occuQ4b" ng-model="occQ.occuQuesData.per2"  placeholder="Supervisor"  ng-maxlength="15" required>
														</div>
														<div ng-messages="occQuesForm.occuQ4b.$error" class="error-messages" ng-show="occQuesForm.occuQ4b.$invalid &&(!occQuesForm.occuQ4b.$pristine || occQ.click)">
															<div ng-message="required">Field cannot be empty.</div>
															<div ng-message="maxlength">Field cannot be more than 15 characters.</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
														<div class="form-group custom-form">
															<input type="number" class="form-control" name="occuQ4c" ng-model="occQ.occuQuesData.per3"  placeholder="Manual Labour"  ng-maxlength="15" required>
														</div>
														<div ng-messages="occQuesForm.occuQ4c.$error" class="error-messages" ng-show="occQuesForm.occuQ4c.$invalid &&(!occQuesForm.occuQ4c.$pristine || occQ.click)">
															<div ng-message="required">Field cannot be empty.</div>
															<div ng-message="maxlength">Field cannot be more than 15 characters.</div>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
														<div class="form-group custom-form">
															<input type="number" class="form-control" name="occuQ4d" ng-model="occQ.occuQuesData.per4"  placeholder="Travel"  ng-maxlength="15" required>
														</div>
														<div ng-messages="occQuesForm.occuQ4d.$error" class="error-messages" ng-show="occQuesForm.occuQ4d.$invalid &&(!occQuesForm.occuQ4d.$pristine || occQ.click)">
															<div ng-message="required">Field cannot be empty.</div>
															<div ng-message="maxlength">Field cannot be more than 15 characters.</div>
														</div>
													</div>
												</div>
											</div>
											<!-- Job Nature (Tick as appropriate). If Yes, please mention details below.  -->
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group custom-form occupation-job-nature">
													<label class="form-label">5.Job Nature (Tick as appropriate). If Yes, please mention details below.<span class="requiredStar">*</span></label>
													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
															<div class="tick-radio-wrap">
																<div class="tick-radio-btn-wrap">
																	<input type="radio" id="rdIndoorYes" name="rdIndoorOutdoor" value="Indoor" ng-model="occQ.occuQuesData.inOutdoor" required/>
																	<label for="rdIndoorYes">Indoor</label>
																</div>
																<div class="tick-radio-btn-wrap">
																	<input type="radio" id="rdOutdoorNo" name="rdIndoorOutdoor" value="Outdoor" ng-model="occQ.occuQuesData.inOutdoor" required/>
																	<label for="rdOutdoorNo">Outdoor</label>
																</div>
																<div class="clearfix"></div>
															</div>
															<div ng-messages="occQuesForm.rdIndoorOutdoor.$error" class="error-messages" ng-show="occQuesForm.rdIndoorOutdoor.$invalid &&(!occQuesForm.rdIndoorOutdoor.$pristine || occQ.click)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
															<div class="tick-radio-wrap">
																<div class="tick-radio-btn-wrap">
																	<input type="radio" id="rdOperMachine" name="rdOperMachine" value="Operation of Machine" ng-model="occQ.occuQuesData.operMachine" required/>
																	<label for="rdOperMachine">Operation of Machine</label>
																</div>
																<div class="tick-radio-btn-wrap">
																	<input type="radio" id="rdNoOperMachineNo" name="rdOperMachine" value="No Operation of Machine" ng-model="occQ.occuQuesData.operMachine" required/>
																	<label for="rdNoOperMachineNo">No Operation of Machine</label>
																</div>
																<div class="clearfix"></div>
															</div>
															<div ng-messages="occQuesForm.rdOperMachine.$error" class="error-messages" ng-show="occQuesForm.rdOperMachine.$invalid &&(!occQuesForm.rdOperMachine.$pristine || occQ.click)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
															<div class="tick-radio-wrap">
																<div class="tick-radio-btn-wrap">
																	<input type="radio" id="rdWorkHeight" name="rdWorkHeight" value="Work at heights" ng-model="occQ.occuQuesData.workHeight" required/>
																	<label for="rdWorkHeight">Work at heights</label>
																</div>
																<div class="tick-radio-btn-wrap">
																	<input type="radio" id="rdNoWorkHeight" name="rdWorkHeight" value="No Work at heights" ng-model="occQ.occuQuesData.workHeight" required/>
																	<label for="rdNoWorkHeight">No work at heights</label>
																</div>
																<div class="clearfix"></div>
															</div>
															<div ng-messages="occQuesForm.rdWorkHeight.$error" class="error-messages" ng-show="occQuesForm.rdWorkHeight.$invalid &&(!occQuesForm.rdWorkHeight.$pristine || occQ.click)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
															<div class="tick-radio-wrap">
																<div class="tick-radio-btn-wrap">
																	<input type="radio" id="rdWorkOffshore" name="rdWorkOffshore" value="Work offshore or underground" ng-model="occQ.occuQuesData.workOffShore" required/>
																	<label for="rdWorkOffshore">Work offshore or underground</label>
																</div>
																<div class="tick-radio-btn-wrap">
																	<input type="radio" id="rdNoWorkOffshore" name="rdWorkOffshore" value="No Work offshore or underground" ng-model="occQ.occuQuesData.workOffShore" required/>
																	<label for="rdNoWorkOffshore">No work offshore or underground</label>
																</div>
																<div class="clearfix"></div>
															</div>
															<div ng-messages="occQuesForm.rdWorkOffshore.$error" class="error-messages" ng-show="occQuesForm.rdWorkOffshore.$invalid &&(!occQuesForm.rdWorkOffshore.$pristine || occQ.click)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
															<!-- Do you consider your occupation to be hazardous in any way? -->
															<div class="row">
																<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
																	<div class="form-group custom-form">
																		<label class="form-label">You had any accidents or illness associated with your duties?<span class="requiredStar">*</span>
																		</label>
																		<input type="text" class="form-control" name="dutyQue" ng-model="occQ.occuQuesData.duty" ng-maxlength="100" required>
																		<div ng-messages="occQuesForm.dutyQue.$error" class="error-messages" ng-show="occQuesForm.dutyQue.$invalid &&(!occQuesForm.dutyQue.$pristine || occQ.click)">
																			<div ng-message="required">Field cannot be empty.</div>
																			<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- Do you drive a vehicle or ride a motorcycle as part of your job? -->
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group custom-form">
													<label class="form-label">
														6. Do you drive a vehicle or ride a motorcycle as part of your job? (Other than travelling to and from your normal place of work)?<span class="requiredStar">*</span>
													</label>
													<div class="tick-radio-wrap">
														<div class="tick-radio-btn-wrap">
															<input type="radio" id="rdDriveVehicleYes" name="rdDriveVehicle" value="Y" ng-model="occQ.occuQuesData.jobTravel" required/>
															<label for="rdDriveVehicleYes">Yes</label>
														</div>
														<div class="tick-radio-btn-wrap">
															<input type="radio" id="rdDriveVehicleNo" name="rdDriveVehicle" value="N" ng-model="occQ.occuQuesData.jobTravel" required/>
															<label for="rdDriveVehicleNo">No</label>
														</div>
														<div class="clearfix"></div>
													</div>
													<div ng-messages="occQuesForm.rdDriveVehicle.$error" class="error-messages" ng-show="occQuesForm.rdDriveVehicle.$invalid &&(!occQuesForm.rdDriveVehicle.$pristine || occQ.click)">
														<div ng-message="required">Field cannot be empty.</div>
														<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
													</div>
												</div>
											</div>
											<!-- If so how many kilometers per day?  -->
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group custom-form">
													<label  class="form-label">If so how many kilometers per day?</label>
													<input type="number" class="form-control" name="ques6Yes" ng-model="occQ.occuQuesData.kilPerDay" ng-maxlength="100" ng-disabled = "occQ.occuQuesData.jobTravel!='Y'" ng-required = "occQ.jobTravel=='Y'">
												</div>
												<div ng-messages="occQuesForm.ques6Yes.$error" class="error-messages" ng-show="occQuesForm.ques6Yes.$invalid &&(!occQuesForm.ques6Yes.$pristine || occQ.click)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
												</div>
											</div>
											<!-- Do you consider your occupation to be hazardous in any way? -->
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group custom-form">
													<label class="form-label">
														7. Do you consider your occupation to be hazardous in any way? (For example dealing with explosives or chemicals, working with
														high voltages or extreme heat furnaces).<span class="requiredStar">*</span>
													</label>
													<div class="tick-radio-wrap">
														<div class="tick-radio-btn-wrap">
															<input type="radio" id="rdOccuHozardousYes" name="rdOccuHozardous" value="Y" ng-model="occQ.occuQuesData.hazardousQ7" required/>
															<label for="rdOccuHozardousYes">Yes</label>
														</div>
														<div class="tick-radio-btn-wrap">
															<input type="radio" id="rdOccuHozardousNo" name="rdOccuHozardous" value="N" ng-model="occQ.occuQuesData.hazardousQ7" required/>
															<label for="rdOccuHozardousNo">No</label>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
												<div ng-messages="occQuesForm.rdOccuHozardous.$error" class="error-messages" ng-show="occQuesForm.rdOccuHozardous.$invalid &&(!occQuesForm.rdOccuHozardous.$pristine || occQ.click)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
												</div>
											</div>
											<!-- If Yes, please provide details: -->
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group custom-form">
													<label  class="form-label">If Yes, please provide details:</label>
													<input type="text" class="form-control" name="que7Y" ng-model="occQ.occuQuesData.que7Yes" ng-maxlength="100" ng-disabled = "occQ.occuQuesData.hazardousQ7!='Y'" ng-required="occQ.hazardousQ7 == 'Y'">
												</div>
												<div ng-messages="occQuesForm.que7Y.$error" class="error-messages" ng-show="occQuesForm.que7Y.$invalid &&(!occQuesForm.que7Y.$pristine || occQ.click)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">Field cannot be more than 100 characters.</div>
												</div>
											</div>
											<!-- Declaration  -->
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group custom-form">
													<div class="check-box-wrap">
														<input type="checkbox" id="chkDecl"  name="chkDecl" ng-model="occQ.occuQuesData.declarationLabel" required>
														<label for="chkDecl">I declare that the answers I have given are, to the best of my knowledge, true and I have not withheld any material information that may influence the assessment of acceptance of this proposal.<br>
															I agree that this form will constitute part of my proposal for life assurance and that failure to disclose any material fact known to me may invalidate the contract.</label>
													</div>
												</div>
												<div ng-messages="occQuesForm.chkDecl.$error" class="error-messages" ng-show="occQuesForm.chkDecl.$invalid &&(!occQuesForm.chkDecl.$pristine || occQ.click)">
													<div ng-message="required">Field cannot empty.</div>
												</div>
											</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 center-block pull-none">
										<div class="custom-btn form-btn-wrap">
											<button class="btn btn-default btn-block" type="button" ng-click="occQ.onGenerateOutput(occQuesForm)">Generate Output</button>
										</div>
									</div>
								</div>
								<!-- end second row -->
							</div>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</ion-content>
