<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<rq-timeline class="tab-nav"></rq-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<section class="quetionaire_block">
				<form id="jvQuesForm" name="jvQuesForm" novalidate>
					<div class="row" ng-show="juvC.isDone">
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="juvC.showPreview()">preview Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="juvC.reGenerate()">Regenerate Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="juvC.onNext()">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-hide="juvC.isDone">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">Juvenile Questionnaire - {{juvC.LoadData.custType}}</label>
							</div>
							<div class="row">
								<div class="col-lg-10 col-lg-10 col-lg-10 col-lg-10 center-block pull-none">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form main-form-title">
											<label class="form-label">A. Information on proposed insured[Juvenile / Student]</label>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form">
											<label  class="form-label">Existing Insurance Details of the Proposed Insured</label>
											<div class="form-group custom-form">
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="jvAnsAY" name="jvAnsA" value="Y" ng-model="juvC.jvQuesData.ANS_A" required />
														<label for="jvAnsAY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="jvAnsAN" name="jvAnsA" value="N" ng-model="juvC.jvQuesData.ANS_A" ng-change="juvC.setNull('A')" required />
														<label for="jvAnsAN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
										<div ng-messages="jvQuesForm.jvAnsA.$error" class="error-messages" ng-show="jvQuesForm.jvAnsA.$invalid && (!jvQuesForm.jvAnsA.$pristine || juvC.genOpClick)">
											<div ng-message="required">Please select an option.</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="row" ng-show="juvC.jvQuesData.ANS_A=='Y'">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<div class="form-group custom-form">
													<input type="number" class="form-control" name="jvAnsA1" ng-model="juvC.jvQuesData.ANS_A1" placeholder="Sum Assured:" ng-required="juvC.jvQuesData.ANS_A=='Y'" ng-maxlength="10">
												</div>
												<div ng-messages="jvQuesForm.jvAnsA1.$error" class="error-messages" ng-show="jvQuesForm.jvAnsA1.$invalid && (!jvQuesForm.jvAnsA1.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 10 characters.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
												<div class="form-group custom-form">
													<input type="number" class="form-control" name="jvAnsA2" ng-model="juvC.jvQuesData.ANS_A2" placeholder="Premium:" required ng-required="juvC.jvQuesData.ANS_A=='Y'" ng-maxlength="10">
												</div>
												<div ng-messages="jvQuesForm.jvAnsA2.$error" class="error-messages" ng-show="jvQuesForm.jvAnsA2.$invalid && (!jvQuesForm.jvAnsA2.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 10 characters.</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form main-form-title">
											<label class="form-label">B. Information on parents of the proposed insured</label>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<label class="form-label">1. Occupation:</label>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">FATHER:</label>
													<input type="text" class="form-control" name="jvAnsB1a" ng-model="juvC.jvQuesData.ANS_B1a" required ng-maxlength="25">
												</div>
												<div ng-messages="jvQuesForm.jvAnsB1a.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB1a.$invalid && (!jvQuesForm.jvAnsB1a.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 25 characters.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">MOTHER:</label>
													<input type="text" class="form-control" name="jvAnsB1b" ng-model="juvC.jvQuesData.ANS_B1b" required ng-maxlength="25">
												</div>
												<div ng-messages="jvQuesForm.jvAnsB1b.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB1b.$invalid && (!jvQuesForm.jvAnsB1b.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 25 characters.</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<label class="form-label">2. Annual Income:</label>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">FATHER:</label>
													<input type="number" class="form-control" name="jvAnsB2a" ng-model="juvC.jvQuesData.ANS_B2a" required ng-maxlength="25">
												</div>
												<div ng-messages="jvQuesForm.jvAnsB2a.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB2a.$invalid && (!jvQuesForm.jvAnsB2a.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 25 characters.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">MOTHER:</label>
													<input type="number" class="form-control" name="jvAnsB2b" ng-model="juvC.jvQuesData.ANS_B2b" required ng-maxlength="25">
												</div>
												<div ng-messages="jvQuesForm.jvAnsB2b.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB2b.$invalid && (!jvQuesForm.jvAnsB2b.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 25 characters.</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<label class="form-label">3. Existing / Simultaneously Applied Insurance Cover:</label>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">FATHER:</label>
													<div class="form-group custom-form">
														<div class="tick-radio-wrap">
															<div class="tick-radio-btn-wrap">
																<input type="radio" id="jvAnsB3afY" name="jvAnsB3af" value="Y" ng-model="juvC.jvQuesData.ANS_B3AF" required />
																<label for="jvAnsB3afY">Yes</label>
															</div>
															<div class="tick-radio-btn-wrap">
																<input type="radio" id="jvAnsB3afN" name="jvAnsB3af" value="N" ng-model="juvC.jvQuesData.ANS_B3AF" ng-change="juvC.setNull('B3AF')" required />
																<label for="jvAnsB3afN">No</label>
															</div>
															<div class="clearfix"></div>
														</div>
													</div>
												</div>
												<div ng-messages="jvQuesForm.jvAnsB3af.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB3af.$invalid && (!jvQuesForm.jvAnsB3af.$pristine || juvC.genOpClick)">
													<div ng-message="required">Please select an option.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<div class="form-group custom-form">
													<label class="form-label">Mother:</label>
													<div class="form-group custom-form">
														<div class="tick-radio-wrap">
															<div class="tick-radio-btn-wrap">
																<input type="radio" id="jvAnsB3amY" name="jvAnsB3am" value="Y" ng-model="juvC.jvQuesData.ANS_B3AM" required />
																<label for="jvAnsB3amY">Yes</label>
															</div>
															<div class="tick-radio-btn-wrap">
																<input type="radio" id="jvAnsB3amN" name="jvAnsB3am" value="N" ng-model="juvC.jvQuesData.ANS_B3AM" ng-change="juvC.setNull('B3AM')" required />
																<label for="jvAnsB3amN">No</label>
															</div>
															<div class="clearfix"></div>
														</div>
													</div>
												</div>
												<div ng-messages="jvQuesForm.jvAnsB3am.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB3am.$invalid && (!jvQuesForm.jvAnsB3am.$pristine || juvC.genOpClick)">
													<div ng-message="required">Please select an option.</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<label class="form-label">Sum Assured :</label>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-show="juvC.jvQuesData.ANS_B3AF=='Y'">
												<div class="form-group custom-form">
													<label class="form-label">FATHER:</label>
													<input type="number" class="form-control" name="jvAnsB3a1" ng-model="juvC.jvQuesData.ANS_B3a1" ng-required="juvC.jvQuesData.ANS_B3AF=='Y'" ng-maxlength="10">
												</div>
												<div ng-messages="jvQuesForm.jvAnsB3a1.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB3a1.$invalid && (!jvQuesForm.jvAnsB3a1.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 10 characters.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-show="juvC.jvQuesData.ANS_B3AM=='Y'">
												<div class="form-group custom-form">
													<label class="form-label">MOTHER:</label>
													<input type="number" class="form-control" name="jvAnsB3a2" ng-model="juvC.jvQuesData.ANS_B3a2" ng-required="juvC.jvQuesData.ANS_B3AM=='Y'" ng-maxlength="10">
												</div>
												<div ng-messages="jvQuesForm.jvAnsB3a2.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB3a2.$invalid && (!jvQuesForm.jvAnsB3a2.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 10 characters.</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<label class="form-label">Premium :</label>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-show="juvC.jvQuesData.ANS_B3AF=='Y'">
												<div class="form-group custom-form">
													<label class="form-label">FATHER:</label>
													<input type="number" class="form-control" name="jvAnsB3b1" ng-model="juvC.jvQuesData.ANS_B3b1" ng-required="juvC.jvQuesData.ANS_B3AF=='Y'" ng-maxlength="10">
												</div>
												<div ng-messages="jvQuesForm.jvAnsB3b1.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB3b1.$invalid && (!jvQuesForm.jvAnsB3b1.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 10 characters.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-show="juvC.jvQuesData.ANS_B3AM=='Y'">
												<div class="form-group custom-form">
													<label class="form-label">MOTHER:</label>
													<input type="number" class="form-control" name="jvAnsB3b2" ng-model="juvC.jvQuesData.ANS_B3b2" ng-required="juvC.jvQuesData.ANS_B3AM=='Y'" ng-maxlength="10">
												</div>
												<div ng-messages="jvQuesForm.jvAnsB3b2.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB3b2.$invalid && (!jvQuesForm.jvAnsB3b2.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 10 characters.</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
												<label class="form-label">Policy No :</label>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-show="juvC.jvQuesData.ANS_B3AF=='Y'">
												<div class="form-group custom-form">
													<label class="form-label">FATHER:</label>
													<input type="text" class="form-control" name="jvAnsB3c1" ng-model="juvC.jvQuesData.ANS_B3c1" ng-required="juvC.jvQuesData.ANS_B3AF=='Y'" ng-maxlength="25">
												</div>
												<div ng-messages="jvQuesForm.jvAnsB3c1.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB3c1.$invalid && (!jvQuesForm.jvAnsB3c1.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 25 characters.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-show="juvC.jvQuesData.ANS_B3AM=='Y'">
												<div class="form-group custom-form">
													<label class="form-label">MOTHER:</label>
													<input type="text" class="form-control" name="jvAnsB3c2" ng-model="juvC.jvQuesData.ANS_B3c2" ng-required="juvC.jvQuesData.ANS_B3AM=='Y'" ng-maxlength="25">
												</div>
												<div ng-messages="jvQuesForm.jvAnsB3c2.$error" class="error-messages" ng-show="jvQuesForm.jvAnsB3c2.$invalid && (!jvQuesForm.jvAnsB3c2.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="maxlength">only 25 characters.</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group custom-form main-form-title">
											<label class="form-label">C. Information on siblings of the proposed insured</label>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group custom-form">
													<label class="form-label">Does the proposed Insured have siblings less than Age 18 Years?</label>
													<div class="tick-radio-wrap">
														<div class="tick-radio-btn-wrap">
															<input type="radio" id="jvAnsC1Y" name="jvAnsC1" value="Y" ng-model="juvC.jvQuesData.ANS_C1" required />
															<label for="jvAnsC1Y">Yes</label>
														</div>
														<div class="tick-radio-btn-wrap">
															<input type="radio" id="jvAnsC1N" name="jvAnsC1" value="N" ng-model="juvC.jvQuesData.ANS_C1" ng-change="juvC.setNull('C1')" required />
															<label for="jvAnsC1N">No</label>
														</div>
														<div class="clearfix"></div>
													</div>
												</div>
												<div ng-messages="jvQuesForm.jvAnsC1.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1.$invalid && (!jvQuesForm.jvAnsC1.$pristine || juvC.genOpClick)">
													<div ng-message="required">Please select an option.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="juvC.jvQuesData.ANS_C1=='Y'">
												<div class="form-group custom-form">
													<label  class="form-label">If Yes, Please confirm the number of siblings</label>
													<input type="number" class="form-control" name="jvAnsC1Reason" ng-model="juvC.jvQuesData.ANS_C1_Reason" ng-required="juvC.jvQuesData.ANS_C1=='Y'" min="1" max="4" ng-change="juvC.setNull('C1R')" ng-maxlength="1">
												</div>
												<div ng-messages="jvQuesForm.jvAnsC1Reason.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason.$invalid && (!jvQuesForm.jvAnsC1Reason.$pristine || juvC.genOpClick)">
													<div ng-message="required">Field cannot be empty.</div>
													<div ng-message="min">At least 1 sibling.</div>
													<div ng-message="max">At most 4 sibling.</div>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="juvC.jvQuesData.ANS_C1=='Y'">
												<div class="form-group custom-form">
													<label  class="form-label">Details of existing / simultaneously applied Insurance Cover on sibling less than age 18 years:</label>
												</div>
												<div class="form-group custom-form">
													<label  class="form-label">Sum Assured</label>
													<div class="row">
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>0">
															<input type="number" class="form-control" name="jvAnsC1Reason1a" ng-model="juvC.jvQuesData.ANS_C1_Reason1a" placeholder="Sibling 1" ng-required="juvC.jvQuesData.ANS_C1_Reason>0" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason1a.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason1a.$invalid && (!jvQuesForm.jvAnsC1Reason1a.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>1">
															<input type="number" class="form-control" name="jvAnsC1Reason2a" ng-model="juvC.jvQuesData.ANS_C1_Reason2a" placeholder="Sibling 2" ng-required="juvC.jvQuesData.ANS_C1_Reason>1" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason2a.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason2a.$invalid && (!jvQuesForm.jvAnsC1Reason2a.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>2">
															<input type="number" class="form-control" name="jvAnsC1Reason3a" ng-model="juvC.jvQuesData.ANS_C1_Reason3a" placeholder="Sibling 3" ng-required="juvC.jvQuesData.ANS_C1_Reason>2" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason3a.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason3a.$invalid && (!jvQuesForm.jvAnsC1Reason3a.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>3">
															<input type="number" class="form-control" name="jvAnsC1Reason4a" ng-model="juvC.jvQuesData.ANS_C1_Reason4a" placeholder="Sibling 4" ng-required="juvC.jvQuesData.ANS_C1_Reason>3" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason4a.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason4a.$invalid && (!jvQuesForm.jvAnsC1Reason4a.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group custom-form">
													<label  class="form-label">Premium</label>
													<div class="row">
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>0">
															<input type="number" class="form-control" name="jvAnsC1Reason1b" ng-model="juvC.jvQuesData.ANS_C1_Reason1b" placeholder="Sibling 1" ng-required="juvC.jvQuesData.ANS_C1_Reason>0" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason1b.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason1b.$invalid && (!jvQuesForm.jvAnsC1Reason1b.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>1">
															<input type="number" class="form-control" name="jvAnsC1Reason2b" ng-model="juvC.jvQuesData.ANS_C1_Reason2b" placeholder="Sibling 2" ng-required="juvC.jvQuesData.ANS_C1_Reason>1" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason2b.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason2b.$invalid && (!jvQuesForm.jvAnsC1Reason2b.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>2">
															<input type="number" class="form-control" name="jvAnsC1Reason3b" ng-model="juvC.jvQuesData.ANS_C1_Reason3b" placeholder="Sibling 3" ng-required="juvC.jvQuesData.ANS_C1_Reason>2" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason3b.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason3b.$invalid && (!jvQuesForm.jvAnsC1Reason3b.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>3">
															<input type="number" class="form-control" name="jvAnsC1Reason4b" ng-model="juvC.jvQuesData.ANS_C1_Reason4b" placeholder="Sibling 4" ng-required="juvC.jvQuesData.ANS_C1_Reason>3" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason4b.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason4b.$invalid && (!jvQuesForm.jvAnsC1Reason4b.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group custom-form">
													<label  class="form-label">Policy No.</label>
													<div class="row">
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>0">
															<input type="text" class="form-control" name="jvAnsC1Reason1c" ng-model="juvC.jvQuesData.ANS_C1_Reason1c" placeholder="Sibling 1" ng-required="juvC.jvQuesData.ANS_C1_Reason>0" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason1c.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason1c.$invalid && (!jvQuesForm.jvAnsC1Reason1c.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>1">
															<input type="text" class="form-control" name="jvAnsC1Reason2c" ng-model="juvC.jvQuesData.ANS_C1_Reason2c" placeholder="Sibling 2" ng-required="juvC.jvQuesData.ANS_C1_Reason>1" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason2c.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason2c.$invalid && (!jvQuesForm.jvAnsC1Reason2c.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>2">
															<input type="text" class="form-control" name="jvAnsC1Reason3c" ng-model="juvC.jvQuesData.ANS_C1_Reason3c" placeholder="Sibling 3" ng-required="juvC.jvQuesData.ANS_C1_Reason>2" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason3c.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason3c.$invalid && (!jvQuesForm.jvAnsC1Reason3c.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" ng-show="juvC.jvQuesData.ANS_C1_Reason>3">
															<input type="text" class="form-control" name="jvAnsC1Reason4c" ng-model="juvC.jvQuesData.ANS_C1_Reason4c" placeholder="Sibling 4" ng-required="juvC.jvQuesData.ANS_C1_Reason>3" ng-maxlength="25">
															<div ng-messages="jvQuesForm.jvAnsC1Reason4c.$error" class="error-messages" ng-show="jvQuesForm.jvAnsC1Reason4c.$invalid && (!jvQuesForm.jvAnsC1Reason4c.$pristine || juvC.genOpClick)">
																<div ng-message="required">Field cannot be empty.</div>
																<div ng-message="maxlength">only 25 characters.</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-default btn-block" type="button" ng-click="juvC.onGenerateOutput(jvQuesForm)">Generate Output</button>
									</div>
								</div>
							</div>
							<!-- end second row -->
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</ion-content>
