<ion-view>
	<ion-content has-bouncing ="false">
		<fhr-header></fhr-header>
		<div class="clearfix"></div>
		<div class="FHR-outerwrap FHR-recommendationdetails" style="height: {{fhrrecomm.outerWrapInnerHeight}}px">
			<fhr-left-personal-details></fhr-left-personal-details>
			<!-- Other -->
			<div class="other-titlewrap">
				<div class="other-innertitlewrap">
					<div class="innercontent-wrap other-tab">
						<a href="javascript:void(0);" ng-click="fhrrecomm.redirObj.gotoOthersTab();"><span class="fhr-tab-title tab-other-tilte">Other</span></a>
					</div>
				</div>
			</div>
			<!-- Goals -->
			<div class="goals-titlewrap">
				<div class="goals-innertitlewrap">
					<div class="innercontent-wrap goals-tab">
						<a href="javascript:void(0);" ng-click="fhrrecomm.redirObj.gotoGoalsTab();"><span class="fhr-tab-title tab-goals-title">Goals</span></a>
					</div>
				</div>
			</div>
			<!-- Outputs -->
			<div class="output-titlewrap">
				<div class="output-innertitlewrap">
					<div class="innercontent-wrap output-tab">
						<a href="javascript:void(0);" ng-click="fhrrecomm.redirObj.gotoOutputTab();"><span class="fhr-tab-title tab-output-title">Output</span></a>
					</div>
				</div>
			</div>
			<!-- Recommendation -->
			<div class="innercontent-wrap tab-innercontent-wrap">
				<div class="fhr-container fhr-recommendation">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h2 class="fhr-title">Recommendation</h2>
						</div>
						<div class="bar-wrapper inner-tile-wrapper">
							<ion-content>
								<div ng-repeat="prodData in fhrrecomm.productRecommDetails track by $index" ng-class="($index==0) ? 'col-xs-12 col-sm-12 col-md-12 col-lg-12' : 'col-xs-12 col-sm-12 col-md-12 col-lg-12 fhr-gap'">
									
									<div class="padding-top15" ng-repeat="prodSubData in prodData">
										<div class="recomm-sub-head">{{prodData[$index].GOAL_DESC}} {{prodSubData.FULL_NAME !== "" ? "- " + prodSubData.FULL_NAME : ""}}</div>
										
										<div class="row">
											
											<div ng-repeat="prodDetails in prodSubData.PRODUCT_DETAILS track by $index" ng-click="(prodDetails.PGL_ID=='0'?fhrrecomm.showSignModal('fhrRecommDeviaSign'):fhrrecomm.gotoProductLandingPage({{prodDetails.PGL_ID}}))" ng-class="(($index < 2)? 'col-xs-6 col-sm-6 col-md-6 col-lg-6 recommendation-box-wrp' : 'col-xs-6 col-sm-6 col-md-6 col-lg-6 recommendation-box-wrp padding-top15')">
												<div class="recommendation-box" ng-if="prodDetails.IMG!='OTHERS'">
													<div class="glyphs recommendation-box-img">
														<img src="../img/recomm-product-imgs/{{prodDetails.IMG}}.jpg" alt="{{prodDetails.NAME}}">
															<div class="icon icon-icon-others" style="display:none;"></div>
															</div>
													<p id="prodName-{{prodDetails.IMG}}" style="display:none;">{{prodDetails.NAME}}</p>
												</div>
												<div class="recommendation-box recomm-others" ng-if="prodDetails.IMG=='OTHERS'">
													<div class="recomm-others-content">
														<div class="glyphs recommendation-box-img">
															<div class="icon icon-icon-others"></div>
														</div>
														<p>{{prodDetails.NAME}}</p>
													</div>
												</div>
											</div>
											
											
											
										</div>
										
									</div>
									
								</div>
							</ion-content>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
