<div class="modal-body" style="padding-top: 0;">
    <form name="fhrRecommDeviationForm" id="fhrRecommDeviationForm" novalidate>
        <div class="sigtextwrap">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group custom-form recomsigpadbtn">
                    <label class="form-label">Reason for not selecting recommended solutions <span class="requiredStar">*</span></label>
                    <textarea name="reasonRecomm" id="reasonRecomm" class="form-control custom-form" ng-model="recommdev.reasonRecomm" placeholder="Enter Reason" style="resize: none" rows="3" ng-maxlength="200" required> </textarea>
                </div>
                <div ng-messages="fhrRecommDeviationForm.reasonRecomm.$error" class="error-messages" ng-show="fhrRecommDeviationForm.reasonRecomm.$invalid && !fhrRecommDeviationForm.reasonRecomm.$pristine">
                    <div ng-message="required">Reason cannot be empty.</div>
                    <div ng-message="maxlength">Maximum 200 characters only.</div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group custom-form sigpadwrap">
                <canvas id="signature-pad" width="500px" height="300px" class="signature-pad" sign-directive></canvas>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="sigbtnwrap">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="custom-btn">
                    <button class="btn btn-default btn-block" ng-disabled="fhrRecommDeviationForm.$invalid" ng-click="recommdev.saveSign()">Save</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="custom-btn">
                    <button class="btn btn-default btn-block" ng-click="recommdev.hideSign()">Close</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="custom-btn">
                    <button class="btn btn-default btn-block" ng-click="recommdev.clearCanvas()">Clear</button>
                </div>
            </div>
            <div class="clearfix" style="clear:both"></div>
        </div>
    </form>
</div>