<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<rq-timeline class="tab-nav"></rq-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<section class="quetionaire_block">
				<form id="diabetesQuesForm" name="diabetesQuesForm" novalidate>
					<div class="row" ng-show="diabetC.isDone">
						<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="diabetC.showPreview()">preview Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="diabetC.reGenerate()">Regenerate Output</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="custom-btn form-btn-wrap">
										<button type="button" class="btn btn-default btn-block" ng-click="diabetC.onNext()">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-hide="diabetC.isDone">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form main-form-title">
								<label class="form-label">Diabetes Customer Questionnaire - {{diabetC.LoadData.custType}}</label>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">1) Date of first diagnosis?</label>
												<input type="date" class="form-control" name="dqAns1" ng-model="diabetC.diabetesQuesData.ANS_1" required >
											</div>
											<div ng-messages="diabetesQuesForm.dqAns1.$error" class="error-messages" ng-show="diabetesQuesForm.dqAns1.$invalid && (!diabetesQuesForm.dqAns1.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">2) Name of main doctor attended for diabetes?</label>
												<input type="text" class="form-control" name="dqAns2" ng-model="diabetC.diabetesQuesData.ANS_2" ng-pattern="diabetC.freeTxtRegex" required ng-maxlength="100">
											</div>
											<div ng-messages="diabetesQuesForm.dqAns2.$error" class="error-messages" ng-show="diabetesQuesForm.dqAns2.$invalid && (!diabetesQuesForm.dqAns2.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 100 characters.</div>
												<div ng-message="pattern">Enter valid details excluding special characters</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label  class="form-label">3) Date you last attended the doctor for this condition?</label>
												<input type="date" name="dqAns3" class="form-control" ng-model="diabetC.diabetesQuesData.ANS_3" required >
											</div>
											<div ng-messages="diabetesQuesForm.dqAns3.$error" class="error-messages" ng-show="diabetesQuesForm.dqAns3.$invalid && (!diabetesQuesForm.dqAns3.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">4) Do you still receive treatment or suffer from any symptoms?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques4Y" name="ques4" value="Y" ng-model="diabetC.diabetesQuesData.ANS_4" ng-change="diabetC.setNull('4')" required />
														<label for="ques4Y">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques4N" name="ques4" value="N" ng-model="diabetC.diabetesQuesData.ANS_4" required />
														<label for="ques4N">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques4.$error" class="error-messages" ng-show="diabetesQuesForm.ques4.$invalid && (!diabetesQuesForm.ques4.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="diabetC.diabetesQuesData.ANS_4=='N'">
											<div class="form-group custom-form">
												<label  class="form-label"> If No, then how long has it been since you have ceased all treatment and have been free of all symptoms?
												</label>
												<input type="text" class="form-control" name="dqAns4" ng-model="diabetC.diabetesQuesData.ANS_4_Reason" ng-pattern="diabetC.freeTxtRegex" ng-required="diabetC.diabetesQuesData.ANS_4=='N'" ng-maxlength="100">
											</div>
											<div ng-messages="diabetesQuesForm.dqAns4.$error" class="error-messages" ng-show="diabetesQuesForm.dqAns4.$invalid && (!diabetesQuesForm.dqAns4.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 100 characters.</div>
												<div ng-message="pattern">Enter valid details excluding special characters</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">5) Do you use insulin injections?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques5Y" name="ques5" value="Y" ng-model="diabetC.diabetesQuesData.ANS_5" required />
														<label for="ques5Y">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques5N" name="ques5" value="N" ng-model="diabetC.diabetesQuesData.ANS_5" ng-change="diabetC.setNull('5')" required />
														<label for="ques5N">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques5.$error" class="error-messages" ng-show="diabetesQuesForm.ques5.$invalid && (!diabetesQuesForm.ques5.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="diabetC.diabetesQuesData.ANS_5=='Y'">
											<div class="form-group custom-form">
												<label class="form-label">If Yes, how many injections per day ?</label>
												<div class="custom-drp">
													<select name="ques5a" class="form-control" ng-options="option.NUMBER_DISPLAY for option in diabetC.noOfInjectionsList track by option.NUMBER_VALUE" ng-change="diabetC.onNoOfInjeChg()" ng-model="diabetC.noOfInjeOptionSelected" select-required="diabetC.diabetesQuesData.ANS_5=='Y'"></select>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques5a.$error" class="error-messages" ng-show="diabetesQuesForm.ques5a.$invalid && (!diabetesQuesForm.ques5a.$pristine || diabetC.genOpClick)">
												<div ng-message="selectRequired">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="diabetC.diabetesQuesData.ANS_5=='Y'">
											<div class="form-group custom-form">
												<label class="form-label">How many units per day?</label>
												<div class="custom-drp">
													<select name="ques5b" class="form-control" ng-options="option.RANGE_DISPLAY for option in diabetC.unitsPerDayList track by option.RANGE_VALUE" ng-change="diabetC.onUnitsPerDayChg()" ng-model="diabetC.unitsPerDaySelected" select-required="diabetC.diabetesQuesData.ANS_5=='Y'"></select>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques5b.$error" class="error-messages" ng-show="diabetesQuesForm.ques5b.$invalid && (!diabetesQuesForm.ques5b.$pristine || diabetC.genOpClick)">
												<div ng-message="selectRequired">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">6) Do you take oral medication for Diabetes?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques6Y" name="ques6" value="Y" ng-model="diabetC.diabetesQuesData.ANS_6" required/>
														<label for="ques6Y">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques6N" name="ques6" value="N" ng-model="diabetC.diabetesQuesData.ANS_6" ng-change="diabetC.setNull('6')" required/>
														<label for="ques6N">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques6.$error" class="error-messages" ng-show="diabetesQuesForm.ques6.$invalid && (!diabetesQuesForm.ques6.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="diabetC.diabetesQuesData.ANS_6=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">If Yes, give name of tablets and dose?</label>
												<input type="text" class="form-control" name="dqAns6" ng-model="diabetC.diabetesQuesData.ANS_6_Reason" ng-pattern="diabetC.freeTxtRegex" ng-required="diabetC.diabetesQuesData.ANS_6=='Y'" ng-maxlength="150">
											</div>
											<div ng-messages="diabetesQuesForm.dqAns6.$error" class="error-messages" ng-show="diabetesQuesForm.dqAns6.$invalid && (!diabetesQuesForm.dqAns6.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 150 characters.</div>
												<div ng-message="pattern">Enter valid details excluding special characters</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">7) Do you undergo test for monitoring Blood sugar?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques7Y" name="ques7" value="Y" ng-model="diabetC.diabetesQuesData.ANS_7" required />
														<label for="ques7Y">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques7N" name="ques7" value="N" ng-model="diabetC.diabetesQuesData.ANS_7" ng-change="diabetC.setNull('7')" required />
														<label for="ques7N">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
												<div ng-messages="diabetesQuesForm.ques7.$error" class="error-messages" ng-show="diabetesQuesForm.ques7.$invalid && (!diabetesQuesForm.ques7.$pristine || diabetC.genOpClick)">
													<div ng-message="required">Please select an option.</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="diabetC.diabetesQuesData.ANS_7=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">If Yes, what was the last fasting blood sugar/HBAc reading and when was it tested?</label>
												<input type="text" class="form-control" name="dqAns7" ng-model="diabetC.diabetesQuesData.ANS_7_Reason" ng-pattern="diabetC.freeTxtRegex" ng-required="diabetC.diabetesQuesData.ANS_7=='Y'" ng-maxlength="150">
											</div>
											<div ng-messages="diabetesQuesForm.dqAns7.$error" class="error-messages" ng-show="diabetesQuesForm.dqAns7.$invalid && (!diabetesQuesForm.dqAns7.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 150 characters.</div>
												<div ng-message="pattern">Enter valid details excluding special characters</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<label  class="form-label">8) Do you suffer from any of the Following</label>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">a) Eye problems related to diabetes</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8aY" name="ques8a" value="Y" ng-model="diabetC.diabetesQuesData.ANS_8a" required />
														<label for="ques8aY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8aN" name="ques8a" value="N" ng-model="diabetC.diabetesQuesData.ANS_8a" required />
														<label for="ques8aN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques8a.$error" class="error-messages" ng-show="diabetesQuesForm.ques8a.$invalid && (!diabetesQuesForm.ques8a.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">b) Protein in the Urine or kidney Disease</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8bY" name="ques8b" value="Y" ng-model="diabetC.diabetesQuesData.ANS_8b" required />
														<label for="ques8bY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8bN" name="ques8b" value="N" ng-model="diabetC.diabetesQuesData.ANS_8b" required />
														<label for="ques8bN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques8b.$error" class="error-messages" ng-show="diabetesQuesForm.ques8b.$invalid && (!diabetesQuesForm.ques8b.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">c) Neuropathy or Nerve disorder</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8cY" name="ques8c" value="Y" ng-model="diabetC.diabetesQuesData.ANS_8c" required />
														<label for="ques8cY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8cN" name="ques8c" value="N" ng-model="diabetC.diabetesQuesData.ANS_8c" required />
														<label for="ques8cN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques8c.$error" class="error-messages" ng-show="diabetesQuesForm.ques8c.$invalid && (!diabetesQuesForm.ques8c.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">d) High cholesterol of triglycerides</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8dY" name="ques8d" value="Y" ng-model="diabetC.diabetesQuesData.ANS_8d" required />
														<label for="ques8dY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8dN" name="ques8d" value="N" ng-model="diabetC.diabetesQuesData.ANS_8d" required />
														<label for="ques8dN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques8d.$error" class="error-messages" ng-show="diabetesQuesForm.ques8d.$invalid && (!diabetesQuesForm.ques8d.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">e) High blood pressure</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8eY" name="ques8e" value="Y" ng-model="diabetC.diabetesQuesData.ANS_8e" required />
														<label for="ques8eY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8eN" name="ques8e" value="N" ng-model="diabetC.diabetesQuesData.ANS_8e" required />
														<label for="ques8eN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques8e.$error" class="error-messages" ng-show="diabetesQuesForm.ques8e.$invalid && (!diabetesQuesForm.ques8e.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">f) Heart condition or Circulatory trouble</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8fY" name="ques8f" value="Y" ng-model="diabetC.diabetesQuesData.ANS_8f" required />
														<label for="ques8fY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8fN" name="ques8f" value="N" ng-model="diabetC.diabetesQuesData.ANS_8f" required />
														<label for="ques8fN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques8f.$error" class="error-messages" ng-show="diabetesQuesForm.ques8f.$invalid && (!diabetesQuesForm.ques8f.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">g) Non healing ulcers or wound</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8gY" name="ques8g" value="Y" ng-model="diabetC.diabetesQuesData.ANS_8g" required />
														<label for="ques8gY">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques8gN" name="ques8g" value="N" ng-model="diabetC.diabetesQuesData.ANS_8g" required />
														<label for="ques8gN">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques8g.$error" class="error-messages" ng-show="diabetesQuesForm.ques8g.$invalid && (!diabetesQuesForm.ques8g.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">9) Have you been hospitalized for control of high blood sugar?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques9Y" name="ques9" value="Y" ng-model="diabetC.diabetesQuesData.ANS_9" required />
														<label for="ques9Y">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques9N" name="ques9" value="N" ng-model="diabetC.diabetesQuesData.ANS_9" ng-change="diabetC.setNull('9')" required />
														<label for="ques9N">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques9.$error" class="error-messages" ng-show="diabetesQuesForm.ques9.$invalid && (!diabetesQuesForm.ques9.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="diabetC.diabetesQuesData.ANS_9=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">If Yes, please provide details including dates (month/year).</label>
												<input type="text" class="form-control" name="dqAns9" ng-model="diabetC.diabetesQuesData.ANS_9_Reason" ng-pattern="diabetC.freeTxtRegex" ng-required="diabetC.diabetesQuesData.ANS_9=='Y'" ng-maxlength="100">
											</div>
											<div ng-messages="diabetesQuesForm.dqAns9.$error" class="error-messages" ng-show="diabetesQuesForm.dqAns9.$invalid && (!diabetesQuesForm.dqAns9.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 100 characters.</div>
												<div ng-message="pattern">Enter valid details excluding special characters</div>

											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="form-group custom-form">
												<label class="form-label">10) Since your treatment began, have you ever been hospitalized for diabetic coma or any condition related to diabetes?</label>
												<div class="tick-radio-wrap">
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques10Y" name="ques10" value="Y" ng-model="diabetC.diabetesQuesData.ANS_10" required />
														<label for="ques10Y">Yes</label>
													</div>
													<div class="tick-radio-btn-wrap">
														<input type="radio" id="ques10N" name="ques10" value="N" ng-model="diabetC.diabetesQuesData.ANS_10" ng-change="diabetC.setNull('10')" required />
														<label for="ques10N">No</label>
													</div>
													<div class="clearfix"></div>
												</div>
											</div>
											<div ng-messages="diabetesQuesForm.ques10.$error" class="error-messages" ng-show="diabetesQuesForm.ques10.$invalid && (!diabetesQuesForm.ques10.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Please select an option.</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="diabetC.diabetesQuesData.ANS_10=='Y'">
											<div class="form-group custom-form">
												<label  class="form-label">If Yes, please provide dates and also submit copies of hospitalization records of the episode(s).</label>
												<input type="text" class="form-control" name="dqAns10" ng-model="diabetC.diabetesQuesData.ANS_10_Reason" ng-pattern="diabetC.freeTxtRegex" ng-required="diabetC.diabetesQuesData.ANS_10=='Y'" ng-maxlength="100">
											</div>
											<div ng-messages="diabetesQuesForm.dqAns10.$error" class="error-messages" ng-show="diabetesQuesForm.dqAns10.$invalid && (!diabetesQuesForm.dqAns10.$pristine || diabetC.genOpClick)">
												<div ng-message="required">Field cannot be empty.</div>
												<div ng-message="maxlength">only 100 characters.</div>
												<div ng-message="pattern">Enter valid details excluding special characters</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-default btn-block" type="button" ng-click="diabetC.onGenerateOutput(diabetesQuesForm)">Generate Output</button>
									</div>
								</div>
							</div>
							<!-- end second row -->
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
</ion-content>
