<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<md-timeline class="tab-nav"></md-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<form name="medicalForm" id="medicalForm">
				<div class="medical-fixwrapper">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Do you wish to check if Medical Test is required for the policy?</label>
								<div class="tick-radio-wrap">
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="medOnlnQuesY" name="medOnlnQues" value="Y" ng-model="imdc.medicalBean.MED_FLAG" ng-change="imdc.onChangeMedFlag()" required>
										<label for="medOnlnQuesY">Yes</label>
									</div>
									<div class="tick-radio-btn-wrap">
										<input type="radio" id="medOnlnQuesN" name="medOnlnQues" value="N" ng-model="imdc.medicalBean.MED_FLAG" ng-change="imdc.onChangeMedFlag()" required>
										<label for="medOnlnQuesN">No</label>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div ng-messages="medicalForm.medOnlnQues.$error" class="error-messages"
								 ng-show="medicalForm.medOnlnQues.$invalid && (!medicalForm.medOnlnQues.$pristine || imdc.click)">
								<div ng-message="required">Please select an option.</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="imdc.medicalBean.MED_FLAG=='Y'">
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="test-wrap">
										<div class="form-group custom-form text-center">
											<label class="form-label"><strong>Test Details</strong></label>
											<div class="table-responsive">
												<table class="table table-border">
													<thead>
														<tr>
															<th nowrap><strong>Test Name</strong></th>
															<th nowrap><strong>Test Description</strong></th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="MedicalDetails in imdc.medicalBean.MedicalDetailsArr">
															<td nowrap>{{MedicalDetails.TESTNAME}}</td>
															<td>{{MedicalDetails.TESTDETAILS}}</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">TPA Name</label>
										<div class="custom-drp">
											<select class="form-control" name="tpa" ng-options="option.MG_TPA_NAME for option in imdc.medicalBean.tpaList track by option.MG_TPA_CODE" ng-change="imdc.onTpaChg(imdc.medicalBean.tpaOptionSelected);" ng-model="imdc.medicalBean.tpaOptionSelected" select-required="imdc.medicalBean.MED_FLAG=='Y'"></select>
										</div>
									</div>
									<div ng-messages="medicalForm.tpa.$error" class="error-messages" ng-show="medicalForm.tpa.$invalid && (!medicalForm.tpa.$pristine || imdc.click)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Select DC</label>
										<div class="custom-drp">
											<select class="form-control" name="dc" ng-options="option.MG_DC_NAME for option in imdc.medicalBean.dcList track by option.MG_DC_CODE" ng-change="imdc.onDcChg();" ng-model="imdc.medicalBean.dcOptionSelected" select-required="imdc.medicalBean.MED_FLAG=='Y'"></select>
										</div>
									</div>
									<div ng-messages="medicalForm.dc.$error" class="error-messages" ng-show="medicalForm.dc.$invalid && (!medicalForm.dc.$pristine || imdc.click)">
										<div ng-message="selectRequired">Please select an option.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Preffered Date 1</label>
										<input type="date" name="pdate1" class="form-control date-icon" ng-model="imdc.medicalBean.MG_PREFERED1_DATE" ng-change="imdc.clearDate1()" ng-required="imdc.medicalBean.MED_FLAG=='Y'" validate-prefered-date/>
									</div>
									<div ng-messages="medicalForm.pdate1.$error" class="error-messages" ng-show="medicalForm.pdate1.$invalid && (!medicalForm.pdate1.$pristine || imdc.click)">
										<div ng-message="required">Please enter a date.</div>
										<div ng-message="validatePreferedDate">Kindly provide a preffered date that is atleast 2 working days later.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Preffered Date 2</label>
										<input type="date" name="pdate2" class="form-control date-icon" ng-model="imdc.medicalBean.MG_PREFERED2_DATE" ng-change="imdc.clearDate2()" ng-disabled="imdc.medicalBean.MG_PREFERED1_DATE==null" compare-date="imdc.medicalBean.MG_PREFERED1_DATE"/>
									</div>
									<div ng-messages="medicalForm.pdate2.$error" class="error-messages" ng-show="medicalForm.pdate2.$invalid && (!medicalForm.pdate2.$pristine || imdc.click)">
										<div ng-message="required">Please enter a date.</div>
										<div ng-message="compareDate">date should be greater than preffered date 1.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Preffered Date 3</label>
										<input type="date" name="pdate3" class="form-control date-icon" ng-model="imdc.medicalBean.MG_PREFERED3_DATE" ng-disabled="(imdc.medicalBean.MG_PREFERED2_DATE==null)" compare-date="imdc.medicalBean.MG_PREFERED2_DATE"/>
									</div>
									<div ng-messages="medicalForm.pdate3.$error" class="error-messages" ng-show="medicalForm.pdate3.$invalid && (!medicalForm.pdate3.$pristine || imdc.click)">
										<div ng-message="required">Please enter a date.</div>
										<div ng-message="compareDate">date should be greater than preffered date 2.</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<div class="form-group custom-form">
										<label class="form-label">Home Visit</label>
										<div class="tick-radio-wrap">
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="hvflagY" name="hvflag" value="Y" ng-model="imdc.medicalBean.MG_DC_HOME_VISIT_FLAG" ng-required="imdc.medicalBean.MED_FLAG=='Y'">
												<label for="hvflagY">Yes</label>
											</div>
											<div class="tick-radio-btn-wrap">
												<input type="radio" id="hvflagN" name="hvflag" value="N" ng-model="imdc.medicalBean.MG_DC_HOME_VISIT_FLAG" ng-required="imdc.medicalBean.MED_FLAG=='Y'">
												<label for="hvflagN">No</label>
											</div>
											<div class="clearfix"></div>
										</div>
									</div>
									<div ng-messages="medicalForm.hvflag.$error" class="error-messages" ng-show="medicalForm.hvflag.$invalid && (!medicalForm.hvflag.$pristine || imdc.click)">
										<div ng-message="required">Please select an option.</div>
									</div>
								</div>
								<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 center-block pull-none">
											<div class="custom-btn form-btn-wrap">
												<button class="btn btn-block btn-default"
														ng-click="imdc.onSave(medicalForm)">Save
												</button>
											</div>
										</div>
									</div>
								</div>-->
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 center-block pull-none">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-block btn-default" ng-click="imdc.onSave(medicalForm)">Save
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</ion-content>
