<div class="pane-head">
	<span ng-click="panels.close();" class="fa-stack fa-lg fa-pull-right" aria-hidden="true" style="padding: 6px; margin-right: 5px;">
		<i class="fa fa-circle fa-stack-2x" style="color: red;"></i>
		<i class="fa fa-close fa-stack-1x fa-inverse"></i>
	</span>
</div>
<div class="pane-body">
	<div class="menu_wrap">
		<ul>
			<ion-scroll direction="y" locking="true">
				<li>
					<a ng-click="oc.goHome()" style="padding: 10px 0px 10px 12px; width: 100%;">
						<span class="fa-stack fa-lg fa-pull-left" aria-hidden="true" style="font-size: 25px;">
							<i class="fa fa-circle fa-stack-2x" style="color: #00b3e2;"></i>
							<i class="fa fa-home fa-stack-1x fa-inverse"></i>
						</span>
						<span class="menu-txt">home</span>
					</a>
				</li>
				<li>
					<a ng-click="oc.goToLeadListing()" style="padding: 10px 0px 10px 15px;">
						<span class="menu-ico">
							<img src="../img/communicator-ico.png" alt="Leads">
						</span>
						<span class="menu-txt">leads</span>
					</a>
				</li>
				<li>
					<a ng-click="oc.gotoAppTracker()" style="padding: 10px 0px 10px 15px;">
						<span class="menu-ico">
							<img src="../img/apptracker-ico.png" alt="app tracker">
						</span>
						<span class="menu-txt">app tracker</span>
					</a>
				</li>
				<li>
					<a ng-click="oc.gotoPolicyTracker()" style="padding: 10px 0px 10px 15px;">
						<span class="menu-ico">
							<img src="../img/analytics-ico.png" alt="policy tracker">
						</span>
						<span class="menu-txt">policy tracker</span>
					</a>
				</li>
				<li>
					<a ng-click="oc.gotoKnowledgeBank()" style="padding: 10px 0px 10px 15px;">
						<span class="menu-ico">
							<img src="../img/knowledge-bank-ico.png" alt="knowledge bank">
						</span>
						<span class="menu-txt">knowledge bank</span>
					</a>
				</li>
				<li>
					<a ng-click="oc.leadSync()" style="padding: 10px 0px 10px 15px;">
						<span class="fa-stack fa-lg fa-pull-left" aria-hidden="true" style="font-size: 25px;">
							<i class="fa fa-circle fa-stack-2x" style="color: #cf5c7f;"></i>
							<i class="fa fa-refresh fa-stack-1x fa-inverse"></i>
						</span>
						<span class="menu-txt">lead sync</span>
					</a>
				</li>
				<li ng-show="oc.getBusinessType()">
					<a ng-click="oc.goToAgentInfo()" style="padding: 10px 0px 10px 15px;">
						<span class="fa-stack fa-lg fa-pull-left" aria-hidden="true" style="font-size: 25px;">
							<i class="fa fa-circle fa-stack-2x" style="color: #f26862;"></i>
							<i class="fa fa-id-card fa-stack-1x fa-inverse"></i>
						</span>
						<span class="menu-txt">agent validation</span>
					</a>
				</li>
				<li>
					<a ng-click="oc.goToDisclaimer()" style="padding: 10px 0px 10px 15px;">
						<span class="fa-stack fa-lg fa-pull-left" aria-hidden="true" style="font-size: 25px;">
							<i class="fa fa-circle fa-stack-2x" style="color: #19bcb9;"></i>
							<i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
						</span>
						<span class="menu-txt">disclaimer</span>
					</a>
				</li>
				<li>
					<a ng-click="oc.copyDBToExternal()" style="padding: 10px 0px 10px 15px;">
						<span class="fa-stack fa-lg fa-pull-left" aria-hidden="true" style="font-size: 25px;">
							<i class="fa fa-circle fa-stack-2x" style="color: #fbb040;"></i>
							<i class="fa fa-download fa-stack-1x fa-inverse"></i>
						</span>
						<span class="menu-txt">downloads</span>
					</a>
				</li>
				<li ng-hide="oc.isNTIDLogin()">
					<a ng-click="oc.goToChangeSecQues()" style="padding: 10px 0px 10px 15px;">
						<span class="fa-stack fa-lg fa-pull-left" aria-hidden="true" style="font-size: 25px;">
							<i class="fa fa-circle fa-stack-2x" style="color: #8dc63f;"></i>
							<i class="fa fa-question fa-stack-1x fa-inverse"></i>
						</span>
						<span class="menu-txt">Change Security Questions</span>
					</a>
				</li>
				<li ng-hide="oc.isNTIDLogin()">
					<a ng-click="oc.goToChangePassword()" style="padding: 10px 0px 10px 15px;">
						<span class="fa-stack fa-lg fa-pull-left" aria-hidden="true" style="font-size: 25px;">
							<i class="fa fa-circle fa-stack-2x" style="color: #f26862;"></i>
							<i class="fa fa-unlock-alt fa-stack-1x fa-inverse"></i>
						</span>
						<span class="menu-txt">Change Password</span>
					</a>
				</li>
				 <li>
					<a ng-click="oc.showDB()" style="padding: 10px 0px 10px 15px;">
						<span class="fa-stack fa-lg fa-pull-left" aria-hidden="true" style="font-size: 25px;">
							<i class="fa fa-circle fa-stack-2x" style="color: #00b3e2;"></i>
							<i class="fa fa-database fa-stack-1x fa-inverse"></i>
						</span>
						<span class="menu-txt">Show DB</span>
					</a>
				</li>
				<li ng-hide="true">
					<a ng-click="oc.callPSC()" style="padding: 10px 0px 10px 15px;">
						<span class="menu-ico">
							<img src="../img/communicator-ico.png" alt="downloads">
						</span>
						<span class="menu-txt">Call PSC</span>
					</a>
				</li>
				<li>
					<a ng-click="oc.logout()" style="padding: 10px 0px 10px 15px;">
						<span class="fa-stack fa-lg fa-pull-left" aria-hidden="true" style="font-size: 25px;">
							<i class="fa fa-circle fa-stack-2x" style="color: #bb8d0a;"></i>
							<i class="fa fa-sign-out fa-stack-1x fa-inverse"></i>
						</span>
						<span class="menu-txt">logout</span>
					</a>
				</li>
			</ion-scroll>
		</ul>
	</div>
</div>
