<div class="clearfix"></div>
<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 center-block pull-none">
    <div class="policy_no_wrp policy-text policy-online-payment-wrap">
        <div class="policy_no_content">
            <div class="policy-tick-wrp"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
            <div class="policy-tick-text">
                <div class="row">
                    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 center-block pull-none">
                        <!--{{pol.POLICY_NO}}-->
                        <div class="policy-hd">Your Payment is Successful.</div>
                        <div class="policy-hd policy-payment-content">Transaction ID {{ol.TransactionID}}</div>
                        <div class="policy-hd policy-payment-content">Policy No {{ol.PolicyNo}}</div>
                        <div class="policy-hd policy-payment-content">Amount {{ol.Amount}}</div>
                        <div class="policy-hd policy-payment-content">Transaction Date {{ol.TransactionDate}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
                    <div class="custom-btn form-btn-wrap"><!--ng-disabled="personalForm.$invalid"-->
                        <button type="button" class="btn btn-default btn-block" ng-click="ol.goToHomePg()">Go to Home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

