<ion-view view-title="Change Password Done">
    <ion-content has-bouncing ="false">
		<label>
			<div class="col col-80 col-offset-10">
				<button class="button button-block button-positive" type="submit" ng-click="dpc.continueFTL()">Submit</button>
			</div>
		</label>
    </ion-content>
</ion-view>
