<ion-content has-bouncing="false" class="dashboard-content-wrap">
    <section class="content-block apptracker-dashboard">
        <section class="lead_tab_wrp app-tab-">
            <section class="main-tab">
                <ul class="main-tab-ul dashboard-main-ul" id="menuTab">
                    <li ng-class="{ active: (atc.activeTab=='oppNotInitiated') }">
                        <a ng-click="atc.gotoPage('oppNotInitiated')">
                            <div class="lead-tabs">
                                <span class="lead-tab-number">{{atc.oppNotInitiatedCnt}}</span>
                                <span class="lead-tab-head">{{atc.oppStarterModuleName}} not </span>
                                <span class="lead-tab-sub-head">initiated</span>
                            </div>
                        </a>
                    </li>
                    <li ng-class="{ active:(atc.activeTab=='fhrInProgress') }" ng-hide="atc.hideFF">
                        <a ng-click="atc.gotoPage('fhrInProgress')">
                            <div class="lead-tabs">
                                <span class="lead-tab-number">{{atc.fhrInProgressCnt}}</span>
                                <span class="lead-tab-head">{{atc.oppStarterModuleName}}</span>
                                <span class="lead-tab-sub-head">in progress</span>
                            </div>
                        </a>
                    </li>
                    <li class="" ng-class="{ active: (atc.activeTab=='fhrCompleted') }" ng-hide="atc.hideFF">
                        <a ng-click="atc.gotoPage('fhrCompleted')">
                            <div class="lead-tabs">
                                <span class="lead-tab-number">{{atc.fhrCompletedCnt}}</span>
                                <span class="lead-tab-head">{{atc.oppStarterModuleName}}</span>
                                <span class="lead-tab-sub-head">Completed</span>
                            </div>
                        </a>
                    </li>
                    <li class="" ng-class="{ active: (atc.activeTab=='sisInProgress') }">
                        <a ng-click="atc.gotoPage('sisInProgress')">
                            <div class="lead-tabs">
                                <span class="lead-tab-number">{{atc.sisInProgressCnt}}</span>
                                <span class="lead-tab-head">SIS in</span>
                                <span class="lead-tab-sub-head">progress</span>
                            </div>
                        </a>
                    </li>
                    <li class="" ng-class="{ active: (atc.activeTab=='sisCompleted') }">
                        <a ng-click="atc.gotoPage('sisCompleted')">
                            <div class="lead-tabs">
                                <span class="lead-tab-number">{{atc.sisCompletedCnt}}</span>
                                <span class="lead-tab-head">SIS </span>
                                <span class="lead-tab-sub-head">completed</span>
                            </div>
                        </a>
                    </li>
                    <li class="" ng-class="{ active: (atc.activeTab=='appInProgress') }">
                        <a ng-click="atc.gotoPage('appInProgress')">
                            <div class="lead-tabs">
                                <span class="lead-tab-number">{{atc.appInProgressCnt}}</span>
                                <span class="lead-tab-head">Application</span>
                                <span class="lead-tab-sub-head">in progress</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="tab-content tab-innerCarouselWrap" id="contentWrap">
                    <div ui-view="app-trk-tab"></div>
                    <div class="clearfix"></div>
                </div>
            </section>
        </section>
        <div class="clearfix"></div>
    </section>
</ion-content>
