<header>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="header_top">
            <div class="logo-block pull-left">
                <a href="javascript:void(0);" id="menu-show-button" class="click-menu">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <img src="../img/tata-logo.png" alt="Tata AIA Logo" class="main-logo">
            </div>
            <div class="bell-block pull-right"><i class="fa fa-bell" aria-hidden="true"></i></div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>      
