<ion-view class="forgot-password">
	<ion-content has-bouncing="false">
		<div class="gc-banner">
			<div class="gc-banner-color-strip-wrapper">
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
				<span class="gc-banner-color-strip"></span>
			</div>
		</div>
		<form name="ftlSetPwdForm" id="ftlSetPwdForm" ng-submit="fspc.submitCPReq()" novalidate>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 center-block pull-none">
				<div class="custom-form-wrapper">
					<!-- Form 1 -->
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="set-new-wrapper">
								<h4 class="form-title">Set new password</h4>
								<div class="form-group custom-form">
									<input type="password" name="password" class="form-control" placeholder="New Password" ng-model="fspc.password" required/>
									<div ng-messages="ftlSetPwdForm.password.$error" class="error-messages" ng-show="ftlSetPwdForm.password.$invalid && !ftlSetPwdForm.password.$pristine">
										<div ng-message="required">Password cannot be empty.</div>
									</div>
								</div>
								<div class="form-group custom-form">
									<input type="password" name="rePassword" class="form-control" placeholder="Confirm Password" ng-model="fspc.rePassword" required/>
									<div ng-messages="ftlSetPwdForm.rePassword.$error" class="error-messages" ng-show="ftlSetPwdForm.rePassword.$invalid && !ftlSetPwdForm.rePassword.$pristine">
										<div ng-message="required">Password confirmation cannot be empty.</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Form 2 -->
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 border-left">
							<div class="set-new-wrapper">
								<h4 class="form-title">Set security questions</h4>
								<div ng-repeat="question in fspc.securityQuestions">
									<div class="form-group custom-form">
										<input type="text" class="form-control" placeholder="{{question.QUESTION_DESC}}" ng-model="question.ANSWER" required/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Button -->
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 center-block pull-none">
									<div class="custom-btn new-pwd-btn-wrap">
										<button class="btn btn-primary btn-block" type="submit" ng-disabled="ftlSetPwdForm.$invalid">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>
