<ion-pane class="sis-height">
    <ion-header-bar class="fixed-bar">
        <!-- Header -->
        <div class="sis-header-wrap">
            <sis-header></sis-header>
        </div>

        <!-- Timeline -->
        <div class="SIStimeline-wrapper">
            <sis-timeline></sis-timeline>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap sis_ekyc">
            <form name="sc.sisFormB" id="sc.sisFormB" ng-submit="sc.onNext(sc.sisFormB, sc.sisFormB.$pristine)" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <!--Plan Name-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">Plan Name <span class="requiredStar">*</span></label>
                                    <input type="text" class="form-control custom-form" placeholder="Plan Name" ng-model="sc.sisFormBData.PLAN_NAME" readonly/>
                                </div>
                            </div>
                            <!--Sum Assured-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">Sum Assured <span class="requiredStar">*</span></label>
                                    <input type="number" class="form-control custom-form" placeholder="Sum Assured" name="sumAssured" ng-change="sc.onSumAssuredChange()" ng-model="sc.sisFormBData.SUM_ASSURED" ng-readonly="sc.sisFormBData.INVT_STRAT_FLAG != 'S'" ng-maxlength="12" validate-sum-assured required/>
                                </div>
                                <div ng-messages="sc.sisFormB.sumAssured.$error" class="error-messages" ng-show="sc.sisFormB.sumAssured.$invalid && (!sc.sisFormB.sumAssured.$pristine || !sc.sisFormB.annualPremium.$pristine || !sc.sisFormB.basePremium.$pristine)">
                                    <!-- Will be validated only if sp is S, or sp is P but not base premium (for MIP to work) -->
                                    <div ng-message="required">Sum assured cannot be empty.</div>
                                    <div ng-message="minVal">Minimum sum assured allowed is Rs. {{sc.minSumAssured | number}}.</div>
                                    <div ng-message="maxVal">Maximum sum assured allowed is Rs. {{sc.maxSumAssured | number}}.</div>
                                    <div ng-message="multipleOf">Sum assured should be a multiple of {{sc.sumAssuredMultipleOf | number}}.</div>
                                    <div ng-message="juvenileCheck">Sum assured cannot exceed Rs. {{20000000 | number}} if the insured is less than 18 years of age.</div>
                                    <div ng-message="juvenileCheckMMX">Sum assured cannot exceed Rs. {{30000000 | number}} if the insured is less than 18 years of age.</div>
                                    <div ng-message="stdAgeProofCheck">Standard age proof is required if sum assured is greater than Rs. {{1000000 | number}}.</div>
                                    <div ng-message="maxlength">Sum assured cannot exceed 12 digits.</div>
                                </div>
                            </div>
                            <!--Annual Primumum-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">Annual Premium <span class="requiredStar">*</span></label>
                                    <input type="number" class="form-control custom-form" placeholder="Annual Premium" name="annualPremium" ng-change="sc.onAnnualPremiumChange()" ng-model="sc.sisFormBData.INPUT_ANNUAL_PREMIUM" ng-readonly="((sc.sisFormBData.INVT_STRAT_FLAG == 'S')||(sc.premiumDisable == 'ANNUAL'))" ng-maxlength="12" validate-annual-premium="!(sc.premiumDisable == 'ANNUAL')" required/>
                                </div>
                                <div ng-messages="sc.sisFormB.annualPremium.$error" class="error-messages" ng-show="sc.sisFormB.annualPremium.$invalid && (!sc.sisFormB.sumAssured.$pristine || !sc.sisFormB.annualPremium.$pristine || !sc.sisFormB.basePremium.$pristine || !sc.sisFormB.ppt.$pristine || !sc.sisFormB.option.$pristine)">
                                    <div ng-message="required">Annual Premium cannot be empty.</div>
                                    <div ng-message="minVal">Minimum premium allowed is {{sc.minPremium | number}} rupees.</div>
                                    <div ng-message="maxVal">Maximum premium allowed is {{sc.maxPremium | number}} rupees.</div>
                                    <div ng-message="multipleOf">Annual Premium should be a multiple of {{sc.premMultipleOf}}.</div>
                                    <div ng-message="maxlength">Annual Premium cannot exceed 12 digits.</div>
                                </div>
                            </div>
                            <!--Premium Multiple-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sc.showPremMultList">
                                <div class="form-group custom-form custom-drp">
                                    <label class="form-label">Premium Multiple <span class="requiredStar">*</span></label>
                                    <select class="form-control" name="premMult" ng-options="option.PREM_MULT_DISPLAY for option in sc.premiumMultipleList track by option.PREM_MULT" ng-model="sc.premMultSelected" ng-change="sc.onPremiumMultipleChange()" select-required></select>
                                </div>
                                <div ng-messages="sc.sisFormB.premMult.$error" class="error-messages" ng-show="sc.sisFormB.premMult.$invalid && !sc.sisFormB.premMult.$pristine">
                                    <div ng-message="selectRequired">Please select an option.</div>
                                </div>
                            </div>
                            <!--Base Premium-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">Base Premium <span class="requiredStar">*</span></label>
                                    <input type="number" class="form-control custom-form" placeholder="Base Premium" ng-change="sc.onBasePremiumChange()" ng-model="sc.sisFormBData.BASE_PREMIUM" name="basePremium" ng-readonly="(sc.premiumDisable == 'BASE')" validate-base-premium="!(sc.premiumDisable == 'BASE')" required/>
                                </div>
                                <div ng-messages="sc.sisFormB.basePremium.$error" class="error-messages" ng-show="sc.sisFormB.basePremium.$invalid && (!sc.sisFormB.sumAssured.$pristine || !sc.sisFormB.annualPremium.$pristine || !sc.sisFormB.basePremium.$pristine)">
                                    <div ng-message="required">Base Premium cannot be empty.</div>
                                    <div ng-message="minVal">Minimum premium allowed is {{sc.minPremium | number}} rupees.</div>
                                    <div ng-message="maxVal">Maximum premium allowed is {{sc.maxPremium | number}} rupees.</div>
                                    <div ng-message="multipleOf">Base Premium should be a multiple of {{sc.premMultipleOf}}.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="row">
                            <!--Starting Point-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sc.showSPList">
                                <div class="form-group custom-form custom-drp">
                                    <label class="form-label">Starting Point <span class="requiredStar">*</span></label>
                                    <select class="form-control" name="sp" ng-options="option.SP_DISPLAY for option in sc.spList track by option.SP" ng-change="sc. onSPChange()" ng-model="sc.spSelected" select-required></select>
                                </div>
                                <div ng-messages="sc.sisFormB.sp.$error" class="error-messages" ng-show="sc.sisFormB.sp.$invalid && !sc.sisFormB.sp.$pristine">
                                    <div ng-message="selectRequired">Please select an option.</div>
                                </div>
                            </div>
                            <!--Option-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sc.showOptionList">
                                <div class="form-group custom-form custom-drp">
                                    <label class="form-label">Option <span class="requiredStar">*</span></label>
                                    <select class="form-control" name="option" ng-options="option.OPTION_DISPLAY disable when ((sc.pglId=='222') && ((((sc.isSelf=='Y') && (option.OPTION.indexOf('Duo')!=-1)) || ((sc.isSelf!='Y') && (option.OPTION.indexOf('Pro')!=-1))) && (option.OPTION != null))) for option in sc.optionList track by option.OPTION" ng-model="sc.optionSelected" ng-change="sc.onOptionChange()" select-required></select>
                                </div>
                                <div ng-messages="sc.sisFormB.option.$error" class="error-messages" ng-show="sc.sisFormB.option.$invalid && !sc.sisFormB.option.$pristine">
                                    <div ng-message="selectRequired">Please select an option.</div>
                                </div>
                            </div>
                            <!--Premium Payment Mode-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form custom-drp">
                                    <label class="form-label">Premium Payment Mode <span class="requiredStar">*</span></label>
                                    <select class="form-control" name="ppm" ng-options="option.PPM_DISPLAY for option in sc.ppmList track by option.PPM" ng-model="sc.ppmSelected" ng-change="sc.onPPMChange()" select-required>
                                    </select>
                                </div>
                                <div ng-messages="sc.sisFormB.ppm.$error" class="error-messages" ng-show="sc.sisFormB.ppm.$invalid && !sc.sisFormB.ppm.$pristine">
                                    <div ng-message="selectRequired">Please select an option.</div>
                                </div>
                            </div>
                            <!--Premium Paying Term-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="sc.showPPTList">
                                <div class="form-group custom-form custom-drp">
                                    <label class="form-label">{{sc.pptLabel}} <span class="requiredStar">*</span></label>
                                    <select class="form-control" name="ppt" ng-options="option.PPT_DISPLAY for option in sc.pptList" ng-model="sc.pptSelected" ng-change="sc.onPPTChange()" validate-ppt="sc.sisFormBData.POLICY_TERM"></select>
                                </div>
                                <div ng-messages="sc.sisFormB.ppt.$error" class="error-messages" ng-show="sc.sisFormB.ppt.$invalid && !sc.sisFormB.ppt.$pristine">
                                    <div ng-message="selectRequired">Please select an option.</div>
                                    <div ng-message="greaterThanPT">Premium paying term cannot be greater than policy term.</div>
                                </div>
                            </div>
                            <!--Premium Paying Term-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-hide="sc.showPPTList">
                                <div class="form-group custom-form">
                                    <label class="form-label">Premium Paying Term <span class="requiredStar">*</span></label>
                                    <input type="number" class="form-control custom-form" placeholder="Premium Paying Term" ng-model="sc.sisFormBData.PREMIUM_PAY_TERM" readonly/>
                                </div>
                            </div>
                            <!--Policy Term-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form">
                                    <label class="form-label">Policy Term <span class="requiredStar">*</span></label>
                                    <input type="number" class="form-control custom-form" name="policyTerm" placeholder="Policy Term" ng-model="sc.sisFormBData.POLICY_TERM" ng-readonly="sc.policyTermReadOnly" ng-change="sc.onPolicyTermChange()" validate-policy-term="sc.sisFormBData.PREMIUM_PAY_TERM" required/>
                                </div>
                                <div ng-messages="sc.sisFormB.policyTerm.$error" class="error-messages" ng-show="sc.sisFormB.policyTerm.$invalid && (!sc.sisFormB.policyTerm.$pristine || !!sc.sisFormBData.POLICY_TERM)">
                                    <div ng-message="required">Policy term cannot be empty.</div>
                                    <div ng-message="minTerm">Minimum policy term allowed is {{sc.minPolTerm | number}} years.</div>
                                    <div ng-message="maxTerm">Maximum policy term allowed is {{sc.maxPolTerm | number}} years.</div>
                                    <div ng-message="lessThanPPT">Policy term cannot be less than premium paying term.</div>
                                </div>
                            </div>
                            <!--Plan Code-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group custom-form custom-drp">
                                    <label class="form-label">Plan Code <span class="requiredStar">*</span></label>
                                    <select class="form-control" ng-options="option.PNL_CODE_DISPLAY for option in sc.planCodeList track by option.PNL_CODE" ng-model="sc.planCodeSelected" select-required disabled></select> <!-- Error div not written as error is not to be shown for plan code -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="custom-btn form-btn-wrap">
                                            <button class="btn btn-default btn-block" type="button" ng-click="sc.onBack()">Back</button>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="custom-btn form-btn-wrap">
                                            <button class="btn btn-default btn-block" type="submit" ng-disabled="sc.sisFormB.$invalid">Next</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </ion-content>
</ion-pane>
