<ion-content has-bouncing="false" class="dashboard-content-wrap">
    <section class="content-block">
        <section class="lead_tab_wrp app-tab- lead_tab_wrp policy_tracker">
            <section class="main-tab">
                <ul class="main-tab-ul dashboard-main-ul" >
                    <li ng-class="{'active': (ptC.activeTab=='appSubmitted')} ">
                        <a ng-click="ptC.gotoPage('appSubmitted')" >
                            <div class="lead-tabs"> <span class="lead-tab-number">{{ptC.appSubmittedCnt}}</span> <span class="lead-tab-head">App</span> <span class="lead-tab-sub-head">Submitted</span> </div>
                        </a>
                    </li>
                    <li ng-class="{'active': (ptC.activeTab=='preUW')} ">
                        <a ng-click="ptC.gotoPage('preUW')">
                            <div class="lead-tabs"> <span class="lead-tab-number">{{ptC.preUWDataCnt}}</span> <span class="lead-tab-head">Pre </span> <span class="lead-tab-sub-head">UW</span> </div>
                        </a>
                    </li>
                    <li ng-class="{'active': (ptC.activeTab=='uwPending') }">
                        <a ng-click="ptC.gotoPage('uwPending')">
                            <div class="lead-tabs"> <span class="lead-tab-number">{{ptC.uwPendingCnt}}</span> <span class="lead-tab-head">UW</span> <span class="lead-tab-sub-head">Status</span> </div>
                        </a>
                    </li>
                    <li ng-class="{'active': (ptC.activeTab=='issuedPolicy')}">
                        <a ng-click="ptC.gotoPage('issuedPolicy')">
                            <div class="lead-tabs"> <span class="lead-tab-number">{{ptC.issuedPolicyCnt}}</span> <span class="lead-tab-head">Issued </span> <span class="lead-tab-sub-head">completed</span> </div>
                        </a>
                    </li>
                    <li ng-class="{'active': (ptC.activeTab=='declinedPolicy')}">
                        <a ng-click="ptC.gotoPage('declinedPolicy')">
                            <div class="lead-tabs"> <span class="lead-tab-number">{{ptC.declinedPolicyCnt}}</span> <span class="lead-tab-head">Decline</span> <span class="lead-tab-sub-head">Information</span> </div>
                        </a>
                    </li>
                    <li ng-class="{'active': (ptC.activeTab=='closedPolicy') }">
                        <a ng-click="ptC.gotoPage('closedPolicy')">
                            <div class="lead-tabs"> <span class="lead-tab-number">{{ptC.closedPolicyCnt}}</span> <span class="lead-tab-head">Closed</span> <span class="lead-tab-sub-head">in progress</span> </div>
                        </a>
                    </li>
                </ul>
                
                <div class="tab-content tab-innerCarouselWrap" id="contentWrap">
                    <!--<div class="tab-pane" ng-class="{ active: activeTab === 'appSubmit' }">-->
                    <div ui-view="policy-tracker-content"/>
                    <!--</div>-->
                    
                </div>
            </section>
        </section>
        <div class="clearfix"></div>
    </section>
</ion-content>
