<ion-pane>
    <ion-header-bar class="fixed-bar">
        <!-- Header -->
        <div class="sis-header-wrap">
		<sis-header></sis-header>
        </div>

        <!-- Timeline -->
        <div class="SIStimeline-wrapper">
		<sis-timeline></sis-timeline>
        </div>
    </ion-header-bar>

    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap sis_ekyc">
			<div class="form_wrap">
				<form id="sc.vernacForm" name="sc.vernacForm" ng-submit="sc.saveDetailsAndSign(sc.vernacForm.$pristine)" novalidate>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<div class="row">
								<!--Declarant's/ Witness's Name-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">Declarant's/ Witness's Name <span class="requiredStar">*</span></label>
										<input type="text" class="form-control custom-form" name="decName" ng-model="sc.vernacDetails.DEC_NAME" ng-class="{'has-error':true}" ng-pattern="sc.nameRegex" ng-maxlength="60" required/>
									</div>
									<div ng-messages="sc.vernacForm.decName.$error" class="error-messages" ng-show="sc.vernacForm.decName.$invalid && !sc.vernacForm.decName.$pristine">
										<div ng-message="required">Declarant's/ Witness's Name cannot be empty.</div>
										<div ng-message="pattern">Please use text and ' or - only.</div>
                    <div ng-message="maxlength">Name cannot be more than 60 characters.</div>
									</div>
								</div>

								<!--ID Card/ Proof Type-->
								<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
									<!--<div class="form-group custom-form custom-drp">-->
										<!--<label class="form-label">ID Card/ Proof Type <span class="requiredStar">*</span></label>-->
										<!--<input type="text" class="form-control custom-form" name="proofType" ng-model="sc.vernacDetails.PROOF_TYPE" ng-class="{'has-error':true}" ng-pattern="sc.idProofNameRegex" ng-maxlength="20" required/>-->
									<!--</div>-->
									<!--<div ng-messages="sc.vernacForm.proofType.$error" class="error-messages" ng-show="sc.vernacForm.proofType.$invalid && !sc.vernacForm.proofType.$pristine">-->
										<!--<div ng-message="required">ID Card/ Proof Type cannot be empty.</div>-->
										<!--<div ng-message="pattern">Please use text and ' or - only.</div>-->
                    					<!--<div ng-message="maxlength">ID Card/ Proof Type cannot be more than 20 characters.</div>-->
									<!--</div>-->
								<!--</div>-->
								<!--ID Card/Proof Type added on 3rd Feb 2017-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form">
										<label class="form-label">ID Card/ Proof Type<span class="requiredStar">*</span></label>
										<div class="custom-drp">
											<select class="form-control" name="proofType" ng-model="sc.vernacDetails.PROOF_TYPE" ng-class="{'has-error':true}" ng-options="option.MPPROOF_DESC for option in sc.insIDProofList | filter: {CUSTOMER_CATEGORY : sc.customertype} track by option.MPPROOF_DESC" select-required/>
											</select>
										</div>
									</div>
									<div ng-messages="sc.vernacForm.proofType.$error" class="error-messages" ng-show="sc.vernacForm.proofType.$invalid && !sc.vernacForm.proofType.$pristine">
										<div ng-message="required">ID Card/ Proof Type cannot be empty.</div>
									</div>
								</div>
								<!--Other ID Card/Proof Type Name-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="sc.vernacDetails.PROOF_TYPE.MPPROOF_DESC =='Others'">
									<div class="form-group custom-form">
										<label class="form-label">Other ID Card/ Proof Type</label>
										<input type="text" class="form-control custom-form"  name="OproofType"  ng-model='sc.vernacDetails.Other_PROOF_TYPE'  ng-class="{'has-error':true}" ng-pattern="sc.idProofNameRegex" ng-maxlength="20" required/>
									</div>
									<div ng-messages="sc.vernacForm.OproofType.$error" class="error-messages" ng-show="sc.vernacForm.OproofType.$invalid && !sc.vernacForm.OproofType.$pristine">
										<div ng-message="required">ID Card/ Proof Type cannot be empty.</div>
										<div ng-message="pattern">Please use text and ' or - only.</div>
										<div ng-message="maxlength">ID Card/ Proof Type cannot be more than 20 characters.</div>
									</div>
								</div>

								<!--ID Card/ Proof No.-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group custom-form custom-drp">
										<label class="form-label">ID Card/ Proof No. <span class="requiredStar">*</span></label>
										<input type="text" class="form-control custom-form" name="proofNo" ng-model="sc.vernacDetails.PROOF_NO" ng-class="{'has-error':true}" ng-pattern="sc.idNumRegex" ng-change="sc.onIDNumChange()" ng-maxlength="20" required/>
									</div>
									<div ng-messages="sc.vernacForm.proofNo.$error" class="error-messages" ng-show="sc.vernacForm.proofNo.$invalid && !sc.vernacForm.proofNo.$pristine">
										<div ng-message="required">ID Card/ Proof No. cannot be empty.</div>
										<div ng-message="pattern">Please use text and ' or - only.</div>
                                        <div ng-message="maxlength">ID Card/ Proof No cannot be more than 20 characters.</div>
									</div>
								</div>

								<!--Explained in Language-->
								<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
									<!--<div class="form-group custom-form custom-drp">-->
										<!--<label class="form-label">Explained in Language <span class="requiredStar">*</span></label>-->
										<!--<input type="text" class="form-control custom-form" name="expLang" ng-model="sc.vernacDetails.EXP_LANG" ng-class="{'has-error':true}" ng-pattern="sc.nameRegex" ng-maxlength="20" required/>-->
									<!--</div>-->
									<!--<div ng-messages="sc.vernacForm.expLang.$error" class="error-messages" ng-show="sc.vernacForm.expLang.$invalid && !sc.vernacForm.expLang.$pristine">-->
										<!--<div ng-message="required">Explained in Language cannot be empty.</div>-->
										<!--<div ng-message="pattern">Please use text and ' or - only.</div>-->
                                        <!--<div ng-message="maxlength">Language cannot be more than 20 characters.</div>-->
									<!--</div>-->
								<!--</div>-->

								<!--Explained in language  on 8th Feb-->
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 span12_6">
								<div class="form-group custom-form">
									<label class="form-label">Explained in Language<span class="requiredStar">*</span></label>
									<div class="custom-drp">
										<select class="form-control" name="expLang" ng-model="sc.vernacDetails.EXP_LANG" ng-class="{'has-error':true}" ng-options="option.EXP_LANGUAGE for option in sc.ExpLanguageList track by option.LANGUAGE" select-required>
										</select>
									</div>
								</div>
									<div ng-messages="sc.vernacForm.expLang.$error" class="error-messages" ng-show="sc.vernacForm.expLang.$invalid && !sc.vernacForm.expLang.$pristine">
										<div ng-message="required">Please Select an option.</div>
									</div>
							</div>

							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 center-block pull-none">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-default btn-block" type="submit" ng-disabled="sc.vernacForm.$invalid">Save Details and Sign</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-pane>
