<app-timeline class="app-blackheaderwrap"></app-timeline>
<div class="application-form-wrapper app-form-sidebar">
	<pyd-timeline class="tab-nav"></pyd-timeline>
</div>
<ion-content has-bouncing="false" has-header="true" class="app-form-content">
	<div class="application-form-wrapper">
		<div class="app-form-inner-content">
			<form name="payOptForm">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<!--premium-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Premium<span class="requiredStar">*</span></label>
								<input type="number" class="form-control" name="Premium"  ng-disabled=true ng-model="poc.PayOpt.Premium" required/>
							</div>
							<div ng-messages="payOptForm.Premium.$error" class="error-messages" ng-show="payOptForm.Premium.$invalid && (!payOptForm.Premium.$pristine || poc.click)">
								<div ng-message="required">Premium required.</div>
							</div>
						</div>
						<!--service tax-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Service Tax<span class="requiredStar">*</span></label>
								<input type="number" class="form-control" name="ServiceTax"  ng-model="poc.PayOpt.serviceTax" ng-disabled=true required/>
							</div>
							<div ng-messages="payOptForm.ServiceTax.$error" class="error-messages" ng-show="payOptForm.ServiceTax.$invalid && (!payOptForm.ServiceTax.$pristine || poc.click)">
								<div ng-message="required">Service Tax required.</div>
							</div>
						</div>
						<!--Total premium amount-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Total Premium Amount<span class="requiredStar">*</span></label>
								<input type="number" class="form-control" name="totPremAmt" ng-disabled=true ng-model="poc.PayOpt.TotPremAmt" required/>
							</div>
							<div ng-messages="payOptForm.totPremAmt.$error" class="error-messages" ng-show="payOptForm.totPremAmt.$invalid && (!payOptForm.totPremAmt.$pristine || poc.click)">
								<div ng-message="required">Total Premium Amount required.</div>
							</div>
						</div>
						<!--Payment methods-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Payment Type<span class="requiredStar">*</span></label>
								<select class="form-control" name="payMethods" ng-change="poc.onChangePayMode()" ng-options= "option.payClick disable when (poc.disablSI == false && option.payClick =='Standing Instruction') for option in poc.PayData track by option.payClick" ng-model="poc.PayOpt.payClick" required>
									<option value="">Select Payment method</option>
								</select>
							</div>
							<div ng-messages="payOptForm.payMethods.$error" class="error-messages" ng-show="payOptForm.payMethods.$invalid && (!payOptForm.payMethods.$pristine || poc.click)">
								<div ng-message="required">Payment method required.</div>
							</div>
						</div>
						<!--Amount-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label">Amount<span class="requiredStar">*</span></label>
								<input type="number" class="form-control"  max-Calc="poc.PayOpt.TotPremAmt" name="amount" ng-disabled ng-model="poc.PayOpt.amount" required/>
							</div>
							<div ng-messages="payOptForm.amount.$error" class="error-messages" ng-show="payOptForm.amount.$invalid && (!payOptForm.amount.$pristine || poc.click)">
								<div ng-message="required">Amount required.</div>
								<div ng-message="maxCalc">Amount cannot be greater than total premium amount.</div>
							</div>
						</div>
						<!--cheque no-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="poc.PayOpt.payClick.payClick == 'Cheque'">
							<div class="form-group custom-form">
								<label class="form-label">Cheque No<span class="requiredStar">*</span></label>
								<input type="text" class="form-control"  ng-maxlength="10" ng-model= "poc.PayOpt.CheqNo" name="cheqno" required block-hash/>
							</div>
							<div ng-messages="payOptForm.cheqno.$error" class="error-messages" ng-show="payOptForm.cheqno.$invalid && (!payOptForm.cheqno.$pristine || poc.click)">
								<div ng-message="required">Cheque No required.</div>
								<div ng-message="maxlength">Cheque No cannot be more than 10 characters.</div>
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
							</div>
						</div>
						<!--demand draft number-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="poc.PayOpt.payClick.payClick == 'Demand Draft'">
							<div class="form-group custom-form">
								<label class="form-label">DD no<span class="requiredStar">*</span></label>
								<input type="text" class="form-control"  ng-maxlength="10" ng-model = "poc.PayOpt.DDNo" name="DDNo" required block-hash/>
							</div>
							<div ng-messages="payOptForm.DDNo.$error" class="error-messages" ng-show="payOptForm.DDNo.$invalid && (!payOptForm.DDNo.$pristine || poc.click)">
								<div ng-message="required">Demand Draft Number required.</div>
								<div ng-message="maxlength">DD No cannot be more than 10 characters.</div>
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
							</div>
						</div>
						<!-- cheque Date -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="poc.PayOpt.payClick.payClick == 'Cheque'">
							<div class="form-group custom-form">
								<label class="form-label">Cheq Date<span class="requiredStar">*</span></label>
								<input type="date" class="form-control text-center date-icon" name="chequeDate" ng-model="poc.PayOpt.ChqDate" ng-max="poc.maxDate | date:'yyyy-MM-dd'" ng-min="poc.minDate | date:'yyyy-MM-dd'" required/>
							</div>
							<div ng-messages="payOptForm.chequeDate.$error" class="error-messages" ng-show="payOptForm.chequeDate.$invalid && (!payOptForm.chequeDate.$pristine || poc.click)">
								<div ng-message="required">Cheque date cannot be empty.</div>
								<div ng-message="max">Cheque date cannot be greater than 1 day.</div>
								<div ng-message="min">Cheque date cannot be less than 15 days.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<div class="row">
						<!-- Bank name -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="poc.PayOpt.payClick.payClick == 'Cheque' || poc.PayOpt.payClick.payClick == 'Demand Draft' || poc.PayOpt.payClick.payClick == 'Standing Instruction'">
							<div class="form-group custom-form">
								<label class="form-label">Bank Name<span class="requiredStar">*</span></label>
								<!--<select class="form-control" name="bankNames" ng-options="option.bankName for option in poc.bankData track by option.bankName" ng-model="poc.PayOpt.bankName" required>-->
								<!--<option value="">Select Bank Name</option>-->
								<!--</select>-->
								<div class="custom-drp city-drp-dwn">
									<div custom-select="option.bankName for option in poc.bankData | filter: { bankName: $searchTerm } track by option.bankCode" ng-model="poc.PayOpt.bankName" ng-disabled="poc.disableBank" name="bankNames" select-required></div>
								</div>
							</div>
							<div ng-messages="payOptForm.bankNames.$error" class="error-messages" ng-show="payOptForm.bankNames.$invalid && (!payOptForm.bankNames.$pristine || poc.click)">
								<div ng-message="selectRequired">Bank Name required.</div>
							</div>
						</div>
						<!--branch-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="poc.PayOpt.payClick.payClick == 'Cheque' || poc.PayOpt.payClick.payClick == 'Demand Draft' || poc.PayOpt.payClick.payClick == 'Standing Instruction'">
							<div class="form-group custom-form">
								<label class="form-label">Branch Name<span class="requiredStar">*</span></label>
								<input type="text" class="form-control" name="branch"  ng-maxlength="30" ng-model="poc.PayOpt.branchname" required block-hash/>
							</div>
							<div ng-messages="payOptForm.branch.$error" class="error-messages" ng-show="payOptForm.branch.$invalid && (!payOptForm.branch.$pristine || poc.click)">
								<div ng-message="required">Branch Name required.</div>
								<div ng-message="maxlength">Branch Name cannot be more than 30 characters.</div>
								<div ng-message="blockHash">Please do not use '#' or '|'.</div>
							</div>
						</div>
						<!--Account No-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="poc.PayOpt.payClick.payClick == 'Standing Instruction'">
							<div class="form-group custom-form">
								<label class="form-label">Account No<span class="requiredStar">*</span></label>
								<input type="number" class="form-control" name="BankAccNo"  ng-model="poc.PayOpt.AccNo" ng-minlength="poc.PayOpt.bankName.acclength==0 ? 1 : poc.PayOpt.bankName.acclength" ng-maxlength="poc.PayOpt.bankName.acclength==0 ? 20 : poc.PayOpt.bankName.acclength" required/>
							</div>
							<div ng-messages="payOptForm.BankAccNo.$error" class="error-messages" ng-show="payOptForm.BankAccNo.$invalid && (!payOptForm.BankAccNo.$pristine || poc.click)">
								<div ng-message="required">Bank Account Number cannot be empty.</div>
								<div ng-message="maxlength">Bank Account Number should be {{poc.PayOpt.bankName.acclength==0 ? "1-20" : poc.PayOpt.bankName.acclength}}.</div>
								<div ng-message="minlength">Bank Account Number should be {{poc.PayOpt.bankName.acclength==0 ? "1-20" : poc.PayOpt.bankName.acclength}}.</div>
							</div>
						</div>
						<!--IFSC code-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="poc.PayOpt.payClick.payClick == 'Cheque' || poc.PayOpt.payClick.payClick == 'Demand Draft' || poc.PayOpt.payClick.payClick == 'Standing Instruction'">
							<div class="form-group custom-form">
								<label class="form-label">IFSC Code<span class="requiredStar">*</span></label>
								<input type="text" class="form-control" name="ifscCode"  ng-model="poc.PayOpt.IfscCode" ng-pattern="poc.ifscRegex" ng-maxlength="11" required style="text-transform: uppercase" input-uppercase/>
							</div>
							<div ng-messages="payOptForm.ifscCode.$error" class="error-messages" ng-show="payOptForm.ifscCode.$invalid && (!payOptForm.ifscCode.$pristine || poc.click)">
								<div ng-message="required">IFSC code required.</div>
								<div ng-message="maxlength">IFSC Code cannot be more than 11 characters.</div>
								<div ng-message="pattern">Invalid IFSC Code</div>
							</div>
						</div>
						<!--reenter ifsc code-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="poc.PayOpt.payClick.payClick == 'Cheque' || poc.PayOpt.payClick.payClick == 'Demand Draft' || poc.PayOpt.payClick.payClick == 'Standing Instruction'" >
							<div class="form-group custom-form">
								<label class="form-label">Re-enter IFSC Code<span class="requiredStar">*</span></label>
								<input type="password" class="form-control" name="reenterIfscCode"  ng-maxlength="11" ng-pattern="poc.ifscRegex" ng-model="poc.PayOpt.reenterIfscCode" compare-To="poc.PayOpt.IfscCode" required style="text-transform: uppercase" input-uppercase/>
							</div>
							<div ng-messages="payOptForm.reenterIfscCode.$error" class="error-messages" ng-show="payOptForm.reenterIfscCode.$invalid && (!payOptForm.reenterIfscCode.$pristine || poc.click)">
								<div ng-message="required">IFSC code required.</div>
								<div ng-message="compareTo">IFSC code doesnot match.</div>
								<div ng-message="maxlength">IFSC Code cannot be more than 11 characters.</div>
								<div ng-message="pattern">Invalid IFSC Code</div>
							</div>
						</div>
						<!--premium pay mode-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="form-group custom-form">
								<label class="form-label" ng-if="poc.payModes.length > 1">On the first policy anniversary I would like to change the premium payment mode to</label>
								<select class="form-control" name="payModes" ng-options="option.PAY_CODE for option in poc.payModes track by option.PAY_ID" ng-if="poc.payModes.length > 1" ng-model="poc.PayOpt.freq" required/>
								</select>
							</div>
							<div ng-messages="payOptForm.payModes.$error" class="error-messages" ng-show="payOptForm.payModes.$invalid && (!payOptForm.payModes.$pristine || poc.click)">
								<div ng-message="required">Pay Modes required.</div>
							</div>
						</div>
					</div>
				</div>
				<!--save button-->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 center-block pull-none">
							<div class="custom-btn form-btn-wrap">
								<button class="btn btn-default btn-block" ng-click="poc.Save(payOptForm)">Save</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</ion-content>
