<ion-content has-bouncing="false">
	<section class="content-block" touch-timeout="OnLoad">
		<div class="dashboard-wrap dashboard-block-1">
			<ul>
				<li class="block-color-1">
					<span class="block-digit">{{hc.topBannerCounts.LEADS}}</span><span class="block-text"><strong>Leads</strong><br/>total</span><span class="block-ico"><i></i></span>
				</li>
				<li class="block-color-2" ng-hide="hc.hideFF">
					<p class="block-digit1">{{hc.topBannerCounts.FF}}</p>
					<p class="block-text1"><strong>Fact Finder</strong><br/>total</p>
				</li>
				<li class="block-color-2" ng-hide="!hc.hideFF">
					<p class="block-digit1">{{hc.topBannerCounts.FHR}}</p>
					<p class="block-text1"><strong>FHR</strong><br/>total</p>
				</li>
				<li class="block-color-3">
					<p class="block-digit1">{{hc.topBannerCounts.SIS}}</p>
					<p class="block-text1"><strong>SIS</strong><br/>total</p>
				</li>
				<li class="block-color-4">
					<p class="block-digit1">{{hc.topBannerCounts.APP_IN_PROGRESS}}</p>
					<p class="block-text1"><strong>Applications</strong><br>in progress</p>
				</li>
				<li class="block-color-5">
					<p class="block-digit1">{{hc.topBannerCounts.APP_COMPLETED}}</p>
					<p class="block-text1"><strong>Applications</strong><br>submitted</p>
					<p class="block-ico"></p>
				</li>
			</ul>
		</div>
		<!-- end of block 1   -->
		<div class="dashboard-block-2">
			<div class="col-sm-8 col-xs-8">
				<div class="chart-block"> <!-- businessoverview-container -->
					<div class="col-sm-6 col-xs-6 business-overview">
						<h2><strong>Business</strong> Overview</h2>
						<div class="chart-wrap">
							<canvas id="line" class="chart chart-Doughnut" chart-data="hc.chartData" chart-labels="hc.chartLabels" chart-legend="false" chart-series="series"></canvas>
						</div>
					</div>
					<div class="col-sm-6 col-xs-6 business-tabs">
						<ul class="nav nav-pills">
							<li ng-click="hc.refreshChart('daily')" ng-class="[{'active': (hc.activeTab=='daily')}]">
								<a data-toggle="tab">Daily</a>
							</li>
							<li ng-click="hc.refreshChart('weekly')" ng-class="[{'active': (hc.activeTab=='weekly')}]">
								<a data-toggle="tab">Weekly</a>
							</li>
							<li ng-click="hc.refreshChart('monthly')" ng-class="[{'active': (hc.activeTab=='monthly')}]">
								<a data-toggle="tab">Monthly </a>
							</li>
						</ul>
						<div class="tab-content clearfix business-tab-content">
							<div ng-class="['tab-pane', {'active': (hc.activeTab=='daily')}]" id="1b">
								<p>Proposal</p>
								<ul>
									<li><span class="proposal-color clr-1"></span><span class="proposal-txt">{{hc.chartData[0]}}% Pre-UW Pending</span></li>
									<li><span class="proposal-color clr-2"></span><span class="proposal-txt">{{hc.chartData[1]}}% UW Pending</span></li>
									<li><span class="proposal-color clr-3"></span><span class="proposal-txt">{{hc.chartData[2]}}% Issued</span></li>
									<li><span class="proposal-color clr-4"></span><span class="proposal-txt">{{hc.chartData[3]}}% Declined</span></li>
									<li><span class="proposal-color clr-5"></span><span class="proposal-txt">{{hc.chartData[4]}}% Closed</span></li>
								</ul>
							</div>
							<div ng-class="['tab-pane', {'active': (hc.activeTab=='weekly')}]" id="2b">
								<p>Proposal</p>
								<ul>
									<li><span class="proposal-color clr-1"></span><span class="proposal-txt">{{hc.chartData[0]}}% Pre-UW Pending</span></li>
									<li><span class="proposal-color clr-2"></span><span class="proposal-txt">{{hc.chartData[1]}}% UW Pending</span></li>
									<li><span class="proposal-color clr-3"></span><span class="proposal-txt">{{hc.chartData[2]}}% Issued</span></li>
									<li><span class="proposal-color clr-4"></span><span class="proposal-txt">{{hc.chartData[3]}}% Declined</span></li>
									<li><span class="proposal-color clr-5"></span><span class="proposal-txt">{{hc.chartData[4]}}% Closed</span></li>
								</ul>
							</div>
							<div ng-class="['tab-pane', {'active': (hc.activeTab=='monthly')}]" id="3b">
								<p>Proposal</p>
								<ul>
									<li><span class="proposal-color clr-1"></span><span class="proposal-txt">{{hc.chartData[0]}}% Pre-UW Pending</span></li>
									<li><span class="proposal-color clr-2"></span><span class="proposal-txt">{{hc.chartData[1]}}% UW Pending</span></li>
									<li><span class="proposal-color clr-3"></span><span class="proposal-txt">{{hc.chartData[2]}}% Issued</span></li>
									<li><span class="proposal-color clr-4"></span><span class="proposal-txt">{{hc.chartData[3]}}% Declined</span></li>
									<li><span class="proposal-color clr-5"></span><span class="proposal-txt">{{hc.chartData[4]}}% Closed</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="proposal-tab-block">
						<div class="proposal-tab-links">
							<a>
								<span class="pro-tab-count">{{hc.bottomBannerCounts.PreUWPendingCount}}</span>
								<span class="pro-tab-head">Pre-UW</span>
								<span class="pro-tab-subhead">Proposals</span>
								<span class="pro-tab-border1"></span>
							</a>
						</div>
						<div class="proposal-tab-links">
							<a>
								<span class="pro-tab-count">{{hc.bottomBannerCounts.UWPendingCount}}</span>
								<span class="pro-tab-head">UW-pending</span>
								<span class="pro-tab-subhead">Proposals</span>
								<span class="pro-tab-border2"></span>
							</a>
						</div>
						<div class="proposal-tab-links">
							<a>
								<span class="pro-tab-count">{{hc.bottomBannerCounts.IssuedCount}}</span>
								<span class="pro-tab-head">Issued</span>
								<span class="pro-tab-subhead">Proposals</span>
								<span class="pro-tab-border3"></span>
							</a>
						</div>
						<div class="proposal-tab-links">
							<a>
								<span class="pro-tab-count">{{hc.bottomBannerCounts.DeclinedCount}}</span>
								<span class="pro-tab-head">Declined</span>
								<span class="pro-tab-subhead">Proposals</span>
								<span class="pro-tab-border4"></span>
							</a>
						</div>
						<div class="proposal-tab-links">
							<a>
								<span class="pro-tab-count">{{hc.bottomBannerCounts.ClosedCount}}</span>
								<span class="pro-tab-head">Closed</span>
								<span class="pro-tab-subhead">Proposals</span>
								<span class="pro-tab-border5"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-xs-4 business-image img-responsive"><img ng-src="{{hc.imageName}}" alt="business" set-db-img-height/>
				<div class="popup-blk">
					<div class="fav-icon-wrp home-plus-favicon">
						<button ng-click="hc.toggleLeadPopup()">
							<i class="fa fa-plus fa-2x" aria-hidden="true"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- end of block 2   -->
		<div class="clearfix"></div>
	</section>
</ion-content>
<!-- Pop Up -->
<div ng-hide="hc.leadPopup" class="modal-blackoverlay">
	<div class="popup_wrap">
		<div class="popup_content">
			<ul>
				<li><a ng-click="hc.addLead()"><span class="popup-ico purple-clr-bg"><i class="icon icon-17"></i></span><span class="fav-text">Add Lead</span></a></li>
				<li ng-show="false"><a><span class="popup-ico green-clr-bg"><i class="icon icon-2"></i></span><span class="fav-text">New Appointment</span></a></li>
				<li ng-show="false"><a><span class="popup-ico skyblue-clr-bg"><i class="icon icon-11"></i></span><span class="fav-text">Start FHR</span></a></li>
				<li>
					<button ng-click="hc.toggleLeadPopup()"><span class="popup-ico red-clr-bg cross-btn"><i class="icon icon-41"></i></span></button>
				</li>
			</ul>
		</div>
	</div>
</div>
