<ion-content has-bouncing="false" class="dashboard-content-wrap">
    <section class="content-block">
        <div class="lead-details-content my-tool-kits">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="sis in sl.sisListing">
                        <div class="lead-box savd-sis-listing-tile">
                            <div ng-class="['plan', sis.planColor]">
                                <div class="head pull-left">
                                    <h2 class="pull-left"><span>{{sis.CUST_NAME}}</span><span class="sub-head">{{sis.CREATED_DATE}}</span></h2>
                                    <span class="pull-right"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></span>
                                </div>
                                <ul class="item-list pull-left">
                                    <li><a class="lead-btn-block" type="button" ng-click="sl.viewSIS(sis.SIS_ID, sis.CUST_EMAIL_ID)">View</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ion-content>
