<div class="header-innerwrapper">
    <!-- First Header -->
    <div class="headertitle-wrap">
		<div class="menu-iconlogo-wrapper">
			<a ng-click="shdr.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
		</div>
		<div class="createlead-wrapper">
			<h2 class="header-title text-center">SIS</h2>
		</div>
        <div class="clearfix"></div>
    </div>
</div>
