<div class="new-timeline">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="time-line-head">
            <div class="time-line-divider"></div>
            <ul>
                <li ng-repeat="obj in st.timelineObj">
                    <a ng-click="st.onTabClick(obj.type)" ng-class="{'anchor-active': (st.activeTab == obj.type), 'anchor-active-completed': (obj.isTabComplete && (st.activeTab != obj.type))}">
                        <span class="timeline-count">
                            <span ng-class="['time-line-count', {'time-active': (st.activeTab == obj.type)}, {'time-line-completed': (obj.isTabComplete && (st.activeTab != obj.type))}]">{{obj.number}}
                            </span>
                        </span>
                        <span class="timeline-content">{{obj.name}}<br>{{(obj.name=='SIS')?'Output':'Details'}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
