<div class="tracker-carousel">
    <div class="carousel-demo">
        <ul rn-carousel rn-carousel-index="dpc.carouselIndex" rn-carousel rn-carousel-auto-slide class="carousel5 policytracker-carousel">
            <li class="carousel-contentli" ng-repeat="declinedPolicy in dpc.declinedPolicyArr">
                <div class="col-sm-4 col-xs-4 " ng-repeat="declinedPol in declinedPolicy">
                    <div class="lead-box-bg policy-tracker-bg">
                        <div class="first-letter-wrap">
                            <div class="lead-head-ico ng-binding">{{declinedPol.FULL_NAME.split(' ')[1].charAt(0).toUpperCase()}}</div>
                            <div class="clearfix"></div>
                        </div>

                            <div class="policy-tracker-info-wrap">
                                <h2 class="ng-binding policytracker-title">{{declinedPol.FULL_NAME}}</h2>
                                <div class="lead-contact-details"> <span><i class="fa fa-phone" aria-hidden="true"></i> <span class="sol-details">{{declinedPol.MOBILE_NO}}</span></span>
                                </div>
                                <div class="policy-num"><span class="bold-txt ng-binding">{{declinedPol.POLICY_NO}}</span></div>
                                <div class="date-created"> <span class="date-created-lbl">Submitted on</span><span class="date-on">{{declinedPol.COMPLETION_TIMESTAMP}}</span> </div>
                                <div class="ci-initiate"><span class="bold-txt">{{declinedPol.POLICY_PREUW_STATUS}}</span></div>
                                <!--<div class="policy_btn">-->
                                    <!--<button class="btn btn-default" ng-click="dpc.startNewOpp(declinedPol.LEAD_ID)">Start New Opportunirty</button>-->
                                <!--</div>-->
                            </div>
                            <div class="clearfix"></div>
                            <div class="icon-btn-wrap">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="icon-btn last-btn">
                                            <a ng-click="dpc.startNewOpp(declinedPol.LEAD_ID)">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="carousel-pagination" rn-carousel-indicators ng-if="dpc.declinedPolicyArr.length > 1" slides="dpc.declinedPolicyArr" rn-carousel-index="dpc.carouselIndex"></div>
    </div>
</div>
