<ion-pane class="fact-finderanalysis">
    <ion-header-bar class="fixed-bar">
        <div class="header-innerwrapper">
            <!-- First Header -->
            <div class="headertitle-wrap">
				<div class="menu-iconlogo-wrapper">
					<a ng-click="ff1Ctrl.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
				</div>
				<div class="createlead-wrapper">
					<h2 class="header-title text-center">Fact Finder For Need Analysis</h2>
				</div>
                <div class="clearfix"></div>
            </div>

            <!-- TimeLine Wrapper -->
            <ff-timeline class="timeline-wrapper ff-timeline"></ff-timeline>
        </div>
    </ion-header-bar>



    <ion-content has-bouncing ="false" class="has-subheader-custom custom-position">
        <div class="sis-form-wrap">
            <form id="ffPage1Form" name="ffPage1Form" novalidate>
                <!--<div>{{ffPage1Form.$error}}</div>-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form side-radio-height-wrap">
                            <label class="form-label">Channels of Sales<b style="color:red">*</b></label>
                            <div class="custom-drp">
                                <select class="form-control" name="SalesChannel" ng-model="ff1Ctrl.SalesChannel" required/>
                                <option value="">Select</option>
                                <option>CAT</option>
                                <option>CSE</option>
                                <option>EC RELATIONSHIP MANAGER</option>
                                <option>ERM XSELL</option>
                                <option>KAM</option>
                                <option>NRI RELATIONSHIP MANAGER</option>
                                <option>NRI_ARM</option>
                                <option>OPERATIONS</option>
                                <option>PARTNER EXCLUSIVE</option>
                                <option>PCAT</option>
                                <option>RM_SELECT</option>
                                <option>SDM/ASDM</option>
                                <option>OTHERS</option>
                                </select>
                            </div>
                        </div>
                        <div ng-messages="ffPage1Form.SalesChannel.$error" class="error-messages" ng-show="ffPage1Form.SalesChannel.$invalid && (!ffPage1Form.SalesChannel.$pristine || ff1Ctrl.click)">
                            <div ng-message="required">Please select sales channel.</div>
                        </div>
                    </div><!--channel of sales-->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form side-radio-height-wrap">
                            <label class="form-label">Existing IndusInd Bank Customer<b style="color:red">*</b></label>
                            <div class="fact-radio-wrapper">
                                <div class="fact-wrapper yes-wrapper">
                                    <input type="radio" id="rdRelationshipExclusive" name="rdValue" ng-model="ff1Ctrl.rdValue" value="Y" ng-change="ff1Ctrl.Changed()" required/>
                                    <label for="rdRelationshipExclusive" class="form-label">Yes</label>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="fact-wrapper yes-wrapper">
                                    <input type="radio" id="rdRelationshipNRI" name="rdValue" ng-model="ff1Ctrl.rdValue" value="N" ng-change="ff1Ctrl.Changed()" required/>
                                    <label for="rdRelationshipNRI" class="form-label">No</label>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div ng-messages="ffPage1Form.rdValue.$error" class="error-messages" ng-show="ffPage1Form.rdValue.$invalid && (!ffPage1Form.rdValue.$pristine || ff1Ctrl.click)">
                            <div ng-message="required">Please select option.</div>
                        </div>
                    </div><!--Existing Induslnd Bank Customer-->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Customer Segments<b style="color:red">*</b></label>
                            <div class="custom-drp">
                                <select class="form-control" name="CustomerSegmentSelect" ng-model="ff1Ctrl.CustomerSegmentSelect" ng-change="ff1Ctrl.onCustSegChange()" placeholder="Select" required/>
                                <option value="">Select</option>
                                <option>EXCLUSIVE</option>
                                <option>SELECT</option>
                                <option>BRANCH BANKING</option>
                                <option>OTHERS</option>
                                </select>
                            </div>
                        </div>
                        <div ng-messages="ffPage1Form.CustomerSegmentSelect.$error" class="error-messages" ng-show="ffPage1Form.CustomerSegmentSelect.$invalid && (!ffPage1Form.CustomerSegmentSelect.$pristine || ff1Ctrl.click)">
                            <div ng-message="required">Please select customer segment.</div>
                        </div>
                    </div><!--Customer segment-->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form dob">
                            <label class="form-label">IndusInd Bank Account Opening Date<b style="color:red">*</b></label><!--max="{{ff1Ctrl.maxdate | date:'yyyy-MM-dd'}}"-->
                            <input type="date" class="form-control custom-form text-center date-icon" id="date1" name="date1" ng-model="ff1Ctrl.AccountOpeningDate" max="{{ff1Ctrl.maxdate | date:'yyyy-MM-dd'}}" placeholder="dd/mm/yyyy" ng-disabled="ff1Ctrl.rdValue=='N' || ff1Ctrl.rdValue==null" ng-required="ff1Ctrl.rdValue=='Y'"/>
                        </div>
                        <div style="color:red" ng-messages="ffPage1Form.date1.$error" class="error-messages" ng-show="ffPage1Form.date1.$invalid && (!ffPage1Form.date1.$pristine || ff1Ctrl.click)">
                            <div style="color:red" ng-message="required">IndusInd Bank Account Opening Date cannot be empty.</div>
                        </div>
                    </div>
                    <!--IndusInd Bank Account Opening Date-->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Title<b style="color:red">*</b></label>
                            <div class="custom-drp">
                                <select class="form-control" name="Title" ng-model="ff1Ctrl.Title" placeholder="Select" required>
                                    <option value="">Select</option>
                                    <option>Mr</option>
                                    <option>Mrs</option>
                                    <option>Ms</option>
                                    <option>Miss</option>
                                    <option>Dr</option>
                                </select>
                            </div>
                        </div>
                        <div ng-messages="ffPage1Form.Title.$error" class="error-messages" ng-show="ffPage1Form.Title.$invalid && (!ffPage1Form.Title.$pristine || ff1Ctrl.click)">
                            <div ng-message="required">Please select tittle.</div>
                        </div>
                    </div><!--Title-->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label  class="form-label">IndusInd Bank Account No<b style="color:red">*</b></label>
                            <input type="tel" class="form-control"name="BankAccountNo"  id="BankAccountNo" ng-model="ff1Ctrl.BankAccountNo" ng-pattern="ff1Ctrl.numberRegex" ng-minlength="12" ng-maxlength="12" ng-disabled="ff1Ctrl.rdValue=='N' || ff1Ctrl.rdValue==null" ng-required="ff1Ctrl.rdValue=='Y'" block-hash/>
                        </div>
                        <div style="color:red" ng-messages="ffPage1Form.BankAccountNo.$error" class="error-messages" ng-show="ffPage1Form.BankAccountNo.$invalid && (!ffPage1Form.BankAccountNo.$pristine || ff1Ctrl.click)">
                            <div style="color:red" ng-message="maxlength">Bank Account Number should be 12 digits.</div>
                            <div style="color:red" ng-message="minlength">Bank Account Number should be 12 digits.</div>
                            <div style="color:red" ng-message="required">Account No cannot be empty.</div>
							<div ng-message="pattern">Please enter numbers only.</div>
                            <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label for="FName" class="form-label"> First Name<b style="color:red">*</b></label>
                            <input type="text" class="form-control" id="FName" name="FName"ng-model="ff1Ctrl.FName" placeholder="First Name" ng-maxlength="20" ng-pattern="ff1Ctrl.nameRegex" required block-hash/>
                        </div>
                        <div ng-messages="ffPage1Form.FName.$error" class="error-messages" ng-show="ffPage1Form.FName.$invalid && !ffPage1Form.FName.$pristine">
                            <div style="color:red" ng-message="required">First name cannot be empty.</div>
                            <div style="color:red" ng-message="pattern">Please use text and ' or - only.</div>
                            <div style="color:red" ng-message="maxlength">Maximum 20 char only.</div>
                            <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label" ng-disabled="true">IndusInd Type of Relationship<b style="color:red">*</b></label>
                            <div class="custom-drp">
                                <select class="form-control" name="Relationship" ng-model="ff1Ctrl.Relationship" ng-disabled="ff1Ctrl.rdValue=='N' || ff1Ctrl.rdValue==null" ng-required="ff1Ctrl.rdValue=='Y'"  >
                                    <option value="">Select</option>
                                    <option>EXCLUSIVE</option>
                                    <option>SELECT</option>
                                    <option>BRANCH BANKING</option>
                                    <option>OTHERS</option>
                                </select>
                            </div>
                        </div>
                        <div ng-messages="ffPage1Form.Relationship.$error" class="error-messages" ng-show="ffPage1Form.Relationship.$invalid && (!ffPage1Form.Relationship.$pristine || ff1Ctrl.click)">
                            <div ng-message="required">Please select relationship.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Middle Name</label>
                            <input class="form-control" type="text" id="name1" name="MName" ng-model="ff1Ctrl.MiddleName" placeholder="Middle Name" ng-maxlength="18" ng-pattern="ff1Ctrl.nameRegex" block-hash/>
                        </div>
                        <div style="color:red" ng-messages="ffPage1Form.MName.$error" class="error-messages" ng-show="ffPage1Form.MName.$invalid && !ffPage1Form.MName.$pristine">
                            <div style="color:red" ng-message="pattern">Please use text and ' or - only.</div>
                            <div style="color:red" style="color:red" ng-message="maxlength">Maximum 18 char only.</div>
                            <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label" ng-disabled="true">IndusInd Account Type<b style="color:red">*</b></label>
                            <div class="custom-drp">
                                <select class="form-control" name="accountType" ng-model="ff1Ctrl.accountType" ng-disabled="ff1Ctrl.rdValue=='N' || ff1Ctrl.rdValue==null" ng-required="ff1Ctrl.rdValue=='Y'" >
                                    <option value="">Select </option>
                                    <option>Saving</option>
                                    <option>Current</option>
                                    <option>NRO</option>
                                </select>
                            </div>
                        </div>
                        <div ng-messages="ffPage1Form.accountType.$error" class="error-messages" ng-show="ffPage1Form.accountType.$invalid && (!ffPage1Form.accountType.$pristine || ff1Ctrl.click)">
                            <div ng-message="required">Please select account type.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Last Name<b style="color:red">*</b></label>
                            <input class="form-control" type="text" id="name3" name="LName" ng-model="ff1Ctrl.LName" placeholder="Last Name" ng-maxlength="20" ng-pattern="ff1Ctrl.nameRegex" required block-hash/>
                        </div>
                        <div style="color:red" ng-messages="ffPage1Form.LName.$error" class="error-messages" ng-show="ffPage1Form.LName.$invalid && !ffPage1Form.LName.$pristine">
                            <div style="color:red" ng-message="required">Last name cannot be empty.</div>
                            <div style="color:red" ng-message="pattern">Please use text and ' or - only.</div>
                            <div style="color:red" ng-message="maxlength">Maximum 20 char only.</div>
                            <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">IndusInd Account IFSC code </label>
                                <input class="form-control" type="text" name="ifscCode" ng-pattern="ff1Ctrl.ifscRegex" ng-model="ff1Ctrl.ifscCode" placeholder="IFSC code" ng-maxlength="11" ng-disabled="ff1Ctrl.rdValue=='N' || ff1Ctrl.rdValue==null" block-hash style="text-transform: uppercase" input-uppercase/>
                        </div>
                        <div style="color:red" ng-messages="ffPage1Form.ifscCode.$error" class="error-messages" ng-show="ffPage1Form.ifscCode.$invalid && (!ffPage1Form.ifscCode.$pristine || ff1Ctrl.click)">
                                <div style="color:red" style="color:red" ng-message="maxlength">IFSC Code cannot be more than 11 characters.</div>
                            <div style="color:red" ng-message="required">IFSC code cannot be empty.</div>
                                <div style="color:red" ng-message="pattern">Invalid IFSC Code.</div>
                            <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label for="mobile" class="form-label">Mobile No<b style="color:red">*</b></label>
                            <input type="number" class="form-control"name="mobile"  id="mobile" ng-model="ff1Ctrl.MobileNo" placeholder="Mobile No" ng-pattern="ff1Ctrl.mobileRegex" required>
                                </div>
                        <div style="color:red" ng-messages="ffPage1Form.mobile.$error" class="error-messages" ng-show="ffPage1Form.mobile.$invalid && !ffPage1Form.mobile.$pristine">
                            <div style="color:red" ng-message="required">Insured mobile number cannot be empty.</div>
                            <div style="color:red" ng-message="pattern">Please enter a ten digit mobile number starting with 7, 8 or 9.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><!--ng-change="ff1Ctrl.branchName = ff1Ctrl.branchName.split(' ').join('')"-->
                        <div class="form-group custom-form">
                            <label class="form-label">IndusInd Bank Branch Name <b style="color:red">*</b></label>
                            <input class="form-control" type="text" name="branchName" ng-model="ff1Ctrl.branchName" placeholder="Branch Name" ng-maxlength="20" ng-pattern="ff1Ctrl.fullname" ng-trim="false" ng-disabled="ff1Ctrl.rdValue=='N' || ff1Ctrl.rdValue==null" ng-required="ff1Ctrl.rdValue=='Y'" block-hash/>
                        </div>
                        <div style="color:red" ng-messages="ffPage1Form.branchName.$error" class="error-messages" ng-show="ffPage1Form.branchName.$invalid && (!ffPage1Form.branchName.$pristine || ff1Ctrl.click)">
                            <div style="color:red" ng-message="required">Branch name cannot be empty.</div>
                            <div style="color:red" ng-message="pattern">Please use text and ' or - only.</div>
                            <div style="color:red" style="color:red" ng-message="maxlength">Maximum 20 char only.</div>
                            <div ng-message="blockHash">Please do not use '#' or '|'.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">DOB<b style="color:red">*</b></label>
                            <input type="date" class="form-control custom-form text-center date-icon" id="Dob" name="Dob" ng-model="ff1Ctrl.Dob" placeholder="dd/mm/yyyy" validate-dob required></input>
                        </div>
                        <div ng-messages="ffPage1Form.Dob.$error" style="color:red" class="error-messages" ng-show="ffPage1Form.Dob.$invalid && !ffPage1Form.Dob.$pristine">
                            <div style="color:red" ng-message="minAge">Min Age should be greater than 18</div>
                            <div style="color:red" ng-message="required">DOB cannot be empty.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group custom-form">
                            <label class="form-label">Current Life Stage<b style="color:red">*</b></label>
                            <div class="custom-drp">
                                <select class="form-control" ng-model="ff1Ctrl.CurrentLifeStage" name="Relationship1" required>
                                    <option value="">Select</option>
                                    <option>Single and Working</option>
                                    <option>Married without Children</option>
                                    <option>Parent with young children</option>
                                    <option>Parent with Grown up children</option>
                                    <option>Nearing Reitrement</option>
                                    <option>Retired</option>
                                </select>
                            </div>
                        </div>
                        <div ng-messages="ffPage1Form.Relationship1.$error" class="error-messages" ng-show="ffPage1Form.Relationship1.$invalid && (!ffPage1Form.Relationship1.$pristine || ff1Ctrl.click)">
                            <div ng-message="required">Please select Current Life Stage.</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 center-block pull-none">
                                <div class="custom-btn form-btn-wrap">
                                    <button class="btn btn-default btn-block" type="submit" ng-click="ff1Ctrl.ContSave(ffPage1Form)">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </ion-content>
</ion-pane>
