<ion-view class="add-lead">
	<form id="sc.leadEKYCForm" name="sc.leadEKYCForm" ng-submit="sc.onNext(sc.leadEKYCForm.$pristine)" novalidate>
		<ion-header-bar class="fixed-bar lead-header">
			<div class="lead-menu-icon header-margin-rm">
				<a ng-click="sc.openMenu()" class="header-nav-arrow"><i class="fa fa-bars"></i></a>
			</div>
			<div class="lead-title header-margin-rm">
				<h2>Create Lead</h2>
			</div>
		</ion-header-bar>
		<div class="bar bar-subheader add-lead-sub-header">
			<h2>Personal Details</h2>
		</div>
		<ion-content has-bouncing="false" has-header="true">
			<div class="row add-lead-content">
				<div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 center-block pull-none">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
							<div class="form-group custom-form custom-drp">
								<label class="form-label" style="font-size: 18px;">
									Proposer's Name : {{sc.LEAD_NAME}}
								</label>
							</div>
						</div>

						<!--Purchasing Insurance for-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-if="sc.mandateHide">
							<div class="form-group custom-form custom-drp side-radio-height-wrap">
								<label class="form-label">
									Purchasing Insurance for <span class="requiredStar">*</span>
								</label><!--ng-change="sc.onPurInsForChg()"-->
								<select class="form-control" ng-options="option.PURCHASE_FOR for option in sc.purchasingInsuranceForList track by option.PUR_NBFE_CODE" ng-model="sc.purchaseForOptionSelected" ng-change="sc.onPurInsForChg()" select-required>
								</select>
							</div>
						</div>

						<!--Insurance Buying for-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-if="sc.mandateHide">
							<div class="form-group custom-form custom-drp">
								<label class="form-label">
									Insurance Buying for <span class="requiredStar">*</span>
								</label><!--ng-change="sc.onInsBuyForChg();"-->

								<select class="form-control" name="insBuyFor" ng-options="option.BUYING_FOR for option in sc.insuranceBuyingForList track by option.BUY_NBFE_CODE" ng-model="sc.buyingForOptionSelected" ng-disabled="sc.insBuyForDisabled" ng-change="sc.onInsBuyForChg();" select-required>
								</select>
							</div>
							<div ng-messages="sc.leadEKYCForm.insBuyFor.$error" class="error-messages" ng-show="sc.leadEKYCForm.insBuyFor.$invalid && !sc.leadEKYCForm.insBuyFor.$pristine">
								<div ng-message="selectRequired">Please select an option.</div>
							</div>
						</div>

						<!-- Proposer Aadhar Details -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="form-group rider-chk-wrp">
								<div class="rider-chekbox rider-bigsize">
									<input type="checkbox" id="leadProposerEKyc" ng-true-value="'Y'" ng-false-value="'N'" ng-model="sc.PROPOSER_EKYC_FLAG" ng-change="sc.onAadharFlagChange('proposer')" ng-disabled="((!!sc.leadEKYCData.proposer.EKYC_DONE_DATE) || ((!!sc.leadFormAData_eKyc.PROPOSER_IS_INSURED) && (sc.leadFormAData_eKyc.PROPOSER_IS_INSURED=='Y'))) || (!!sc.ekycDisabled) || (sc.forcedDisableEKYC)"/>
									<label for="leadProposerEKyc">Add Proposer's E-KYC Details (Self)</label>
								</div>
							</div>
						</div>

						<!--Proposer Aadhar Number-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="form-group custom-form">
								<label class="form-label">Proposer's Aadhar Number <span class="requiredStar" ng-show="sc.PROPOSER_EKYC_FLAG=='Y'">*</span></label>
								<input type="number" class="form-control custom-form" placeholder="Proposer's Aadhar Number" name="proposerAadharNum" ng-model="sc.leadEKYCData.proposer.CONSUMER_AADHAR_NO" ng-pattern="sc.aadharRegex" ng-disabled="(((sc.PROPOSER_EKYC_FLAG=='N') || (!!sc.leadEKYCData.proposer.EKYC_DONE_DATE)) || ((!!sc.leadFormAData_eKyc.PROPOSER_IS_INSURED) && (sc.leadFormAData_eKyc.PROPOSER_IS_INSURED=='Y'))) || (sc.forcedDisableEKYC)" ng-required="(sc.PROPOSER_EKYC_FLAG=='Y')" ng-change="sc.onPropAadharNumberChange()"/>
							</div>
							<div ng-messages="sc.leadEKYCForm.proposerAadharNum.$error" class="error-messages" ng-show="sc.leadEKYCForm.proposerAadharNum.$invalid && !sc.leadEKYCForm.proposerAadharNum.$pristine">
								<div ng-message="required">Proposer's aadhar number cannot be empty.</div>
								<div ng-message="pattern">Please enter a 12 digit number only.</div>
							</div>
						</div>

						<!--Insured Aadhar Details-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="form-group rider-chk-wrp">
								<div class="rider-chekbox rider-bigsize">
									<input type="checkbox" id="leadInsuredEKyc" ng-true-value="'Y'" ng-false-value="'N'" ng-model="sc.INSURED_EKYC_FLAG" ng-change="sc.onAadharFlagChange('insured')" ng-disabled="(sc.forcedDisableEKYC)"/>
									<label for="leadInsuredEKyc">Add Insured's E-KYC Details</label>
								</div>
							</div>
						</div>

						<!--Insured Aadhar Number-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="form-group custom-form">
								<label class="form-label">Insured's Aadhar Number <span class="requiredStar" ng-show="sc.INSURED_EKYC_FLAG=='Y'">*</span></label>
								<input type="number" class="form-control custom-form" placeholder="Insured's Aadhar Number" name="insuredAadharNum" ng-model="sc.leadEKYCData.insured.CONSUMER_AADHAR_NO" ng-pattern="sc.aadharRegex" ng-disabled="(sc.INSURED_EKYC_FLAG=='N') || (!!sc.leadEKYCData.insured.EKYC_DONE_DATE) || (sc.forcedDisableEKYC)" ng-required="(sc.INSURED_EKYC_FLAG=='Y')" ng-change="sc.onInsAadharNumberChange()"/>
							</div>
							<div ng-messages="sc.leadEKYCForm.insuredAadharNum.$error" class="error-messages" ng-show="sc.leadEKYCForm.insuredAadharNum.$invalid && !sc.leadEKYCForm.insuredAadharNum.$pristine">
								<div ng-message="required">Insured's aadhar number cannot be empty.</div>
								<div ng-message="pattern">Please enter a 12 digit number only.</div>
							</div>
						</div>

						<!--Insured Aadhar List-->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="form-group custom-form">
								<label class="form-label">List of Insured Aadhar Numbers</label>
								<select class="form-control" ng-options="option.CONSUMER_AADHAR_NO for option in sc.insAadharList track by option.CONSUMER_AADHAR_NO" name="insuredAadharNumList" ng-model="sc.viewList"  ng-disabled="!sc.insAadharList || !sc.insAadharList[0]">
									<option value="">View Insured Aadhar List</option>
								</select>
							</div>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 pull-left">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-default btn-block" type="button" ng-click="sc.openConsent('insured')" ng-disabled="((!!sc.leadEKYCData.insured.EKYC_DONE_DATE) || ((sc.leadEKYCForm.insuredAadharNum.$invalid) || (sc.INSURED_EKYC_FLAG=='N') || (this.leadEKYCData.insured.EKYC_FLAG=='Y')))">Insured's Consent</button>
									</div>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 pull-left">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-default btn-block" type="button" ng-click="sc.openConsent('proposer')" ng-disabled="((!!sc.leadEKYCData.proposer.EKYC_DONE_DATE) || ((sc.leadEKYCForm.proposerAadharNum.$invalid) || (sc.PROPOSER_EKYC_FLAG=='N') || (this.leadEKYCData.proposer.EKYC_FLAG=='Y')))">Proposer's Consent</button>
									</div>
								</div>
							</div>
						</div>
						<label><span class="requiredStar">*</span>Kindly add the proposer's E-KYC details for self case</label>
					</div>
				</div>
			</div>
		</ion-content>
		<ion-footer-bar class="hide-on-keyboard-open add-lead-footer">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 center-block pull-none add-lead-submit-block">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="custom-btn">
							<button class="btn btn-default btn-block" ng-click="sc.onBack()" type="button">Back</button>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="custom-btn">
							<button class="btn btn-default btn-block" type="submit" ng-disabled="sc.leadEKYCForm.$invalid">Next</button>
						</div>
					</div>
				</div>
			</div>
		</ion-footer-bar>
		<div class="ekyc-modal-background" ng-show="sc.showConsent">
			<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 center-block pull-none">
				<div class="ekyc-modal-foreground">
					<span class="close-icon" ng-click="sc.closeConsent()">
						<i class="fa fa-times-circle-o" aria-hidden="true"></i>
					</span>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="row">
								<div class="form-group custom-form">
									<div class="ekyc-consent-title">Consent for Authentication</div>
									<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 pull-left ekyc-consent-body-english">
										I, the holder of Aadhaar number
										<span ng-show="sc.showInsConsent">
											{{sc.leadEKYCData.insured.CONSUMER_AADHAR_NO}}
										</span>
										<span ng-show="!sc.showInsConsent">
											{{sc.leadEKYCData.proposer.CONSUMER_AADHAR_NO}}
										</span>
										, hereby give my consent to Tata AIA Life Insurance Company Limited to obtain my Aadhaar number, Name and Fingerprint/ Iris for authentication with UIDAI. Tata AIA Life Insurance Company Limited has informed me that my identity information will only be used for authentication and also informed that my biometrics will not be stored/ shared and will be submitted to CIDR only for the purpose of authentication.
									</div>
									<div class="col-xs-12 col-sm-4 col-md-6 col-lg-6 pull-left ekyc-consent-body-devanagri">
										मे, आधार नंबर
										<span ng-show="sc.showInsConsent">
											{{sc.leadEKYCData.insured.CONSUMER_AADHAR_NO}}
										</span>
										<span ng-show="!sc.showInsConsent">
											{{sc.leadEKYCData.proposer.CONSUMER_AADHAR_NO}}
										</span>
										का धारक, एत्दद्वारा यूआईदीआई के साथ प्रमाणीकरण हेतु अपना आधार नंबर, नाम और उंगलियों के निशान/ आइरिस प्राप्त करने के लिए टाटा एआईए लाइफ इंश्योरेंस कंपनी लिमिटेड को अपनी सहमति देता हू. टाटा एआईए लाइफ इंश्योरेंस कंपनी लिमिटेड ने मुझे सूचित किया है की मेरी पहचान संबंधी जानकारी का उपयोग केवल प्रमाणीकरण के लिए किया जाएगा और यह भी सूचित किया गया है की मेरे बायोमेट्रिक्स को संग्रहित/ साझा नही किया जाएगा और प्रमाणीकरण के प्रायोजन से केवल सीआईडीआर के पास जमा कराया जाएगा.
									</div>
								</div>
							</div>
							<div class="row ekyc-consent-cb-block" ng-show="sc.showInsConsent">
								<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center-block pull-none">
									<div class="rider-chekbox rider-bigsize">
										<input type="checkbox" id="leadInsuredEKycConsent" ng-true-value="'Y'" ng-false-value="'N'" ng-model="sc.INSURED_EKYC_CONSENT_FLAG" ng-required="(!sc.leadEKYCData.insured.EKYC_DONE_DATE && sc.showConsent && sc.showInsConsent)"/>
										<label for="leadInsuredEKycConsent" class="ekyc-consent-cb-lbl-txt">I agree/ मे सहमत हू</label>
									</div>
								</div>
							</div>
							<div class="row ekyc-consent-cb-block" ng-show="!sc.showInsConsent">
								<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 center-block pull-none">
									<div class="rider-chekbox rider-bigsize">
										<input type="checkbox" id="leadProposerEKycConsent" ng-true-value="'Y'" ng-false-value="'N'" ng-model="sc.PROPOSER_EKYC_CONSENT_FLAG" ng-required="(!sc.leadEKYCData.proposer.EKYC_DONE_DATE && sc.showConsent && !sc.showInsConsent)"/>
										<label for="leadProposerEKycConsent" class="ekyc-consent-cb-lbl-txt">I agree/ मे सहमत हू</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-xs-12 col-sm-5 col-md-5 col-lg-5 center-block pull-none">
									<div class="custom-btn form-btn-wrap">
										<button class="btn btn-primary btn-block" ng-click="sc.onConsentSubmit()">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</ion-view>
