/*Body*/
html,body {height:100%}

/*Comman css*/
.search-citywrapper{height:169px}
.error-messages{line-height:12px; bottom:4px}

/* Changes */
/* Login */
.pane-wrapper{height:100vh; position:absolute; top:0; left:0; overflow-y:auto; width:100%; overflow-x: hidden}


/*Dashboard*/
.dashboard-header-wrap{width:100%; height:116px; position:absolute; top:0; left:0; z-index: 999; background:#fff}
.dashboard-content-wrap{top:114px}




/*Header*/
.headertitle-wrap{height:50px; background:#fff; position:relative}
.menu-iconlogo-wrapper{position:absolute; top:0; left:0; z-index: 2}
.createlead-wrapper{position:absolute; top:0; left:0; width:100%; text-align: center;}
.header-nav-arrow{text-align:center; width:auto; padding: 10px 20px 0 20px}
.attach-logo-menu{float:left; margin:15px 0 0 0}
.dashboard-headerwrap{width:100%; display:block; margin-top:0!important}
.bell-wrap{position:absolute; top:10px; right:20px}
input{-webkit-appearance: none; -moz-appearance: none; appearance: none}





/*Login Page*/
.version-no{position:absolute}
.login-txtwrapper{height:-webkit-calc(100% - 200px); height:calc(100% - 200px)}
.login-txtwrapper ion-content.scroll-content.ionic-scroll{overflow:auto}
.login-height{height:100%}
.login-subtitle{margin-top:50px}
.login-normal-wrap{height:216px; /*position:relative*/}
.login .has-header{top: 216px !important;}
.login-inner-wrap{height:100%; width:100%; position:absolute; top:0; left:0; z-index:999; border-bottom: 1px solid white;}

/*Forgot Pwd*/
.custom-form-wrapper{padding-top:50px; margin:0}



/*Loader*/
.progress-bar-info{border-radius:0}

/*Lead*/
.lead-listing-wrap{height:auto}
.view-details-tempheight{top:50px!important}
.cd{top:156px!important}
.lead-fixed-bar{position:absolute; top:0; left:0; height:auto!important; padding:0}

/*Downloads*/
.down-header-title{padding-top:15px}
.download-section{padding-bottom:150px}

/*Dashboard*/
.popup-blk .fav-icon-wrp{position:absolute; right:20px; bottom:50px}
.modal-blackoverlay{position:absolute; top:0; left:0; width:100%; height:100%; z-index:999}
section.content-block{position:static}

/**/
.scroll{height:100%; display:block}
.fixed-bar{position:absolute; top:0; left:0; height:auto!important; padding:0}
.header-innerwrapper{margin-top:0!important; width:100%}
.lead_title h2{margin-bottom:0}
.timeline-wrapper{display:block}
.new-timeline{background:#1c2535; height:100px; padding-top:15px}
.pdf-outputwrapper{padding:10px 0 100px 0; display:block; font-family: 'tata_aia_printregular'}
.bottom-buttonwrap{position: absolute; bottom: 0; width: 100%; background: #fff; padding: 10px 0; border-top:1px solid #ccc; z-index:998}
.bottom-buttonwrap .sis-form-wrap{padding:0}
.bottom-buttonwrap .bottom-fixed{padding:0}
.bottom-buttonwrap .custom-footer ul{margin-bottom:0!important}
.ffna{top:150px!important}



/* SIS */
.sis-header-wrap{position: absolute; top: 0; left: 0; width: 100%; height: 50px; margin-top: 0!important; background:#fff}
.SIStimeline-wrapper{position: absolute; top: 50px; left: 0; width: 100%; margin-top: 0!important}
.viewreport-header-wrap{position: absolute; top: 0; left: 0; width: 100%; margin-top: 0!important; background:#fff; z-index:999}
.sis_ekyc .error-messages{bottom:6px}
.sis-height .SIStimeline-wrapper{height:102px}
.rider-chekbox input[type='checkbox']:checked + label:before{font-family: 'FontAwesome'}
.sis-height .fixed-bar{height:152px!important}
.time-line-head:before{left:100px; right:100px}
.form-group.rider-chk-wrp{margin-bottom: 15px}



/*Application Form*/
.app-form-wrapper, .app-inner-wrapper{width:100%; height:100%; display:block}
.app-page-header{height:auto; border:0}
.appheader, .app-blackheaderwrap{display:block}
.kindly-date-text-wrap{width:350px; display:inline-block}
.kindly-date-textbox{float:left; width:150px}
.kindly-date-textbox input[type='text']{border-radius: 0; box-shadow:none}
.kindly-date-towrap{float:left; margin:5px}
.new-tick-btn{display:inline-block}
.new-tick-btn input[type="radio"]{display:none}
.new-tick-btn input[type="radio"] + label {padding:10px 0 10px 50px; cursor: pointer; position: relative; margin-right:10px}
.new-tick-btn input[type="radio"] + label:before{content:'\4c'; width:40px; position: absolute; top:0px; left:0; font-family:'good-solution-icon'; border-radius: 20px; padding:5px 0; text-align: center; font-size:20px; background:#e7e9ec; color:#ffffff;}
.new-tick-btn input[type="radio"]:checked + label:before{content:'\4c'; background:#f26963; color:#fff}

.right-align-checkbox-wrap input[type='checkbox'] {display:none}
.right-align-checkbox-wrap input[type='checkbox'] + label{position:relative; color:#6e6e6e}
.right-align-checkbox-wrap input[type='checkbox'] + label:before{content:'\f096'; font-family:'FontAwesome'!important;
position: absolute; top: -15px; right: 0; font-size:35px}
.right-align-checkbox-wrap input[type='checkbox']:checked + label:before{content:'\f046'; right:-5px}
.main-tab-ul{-webkit-overflow-scrolling: touch}





/*Fact Finder*/
.ff-fixed-bar{position:absolute; top:0; left:0; height:auto!important; padding:0}
.fact-finderanalysis .ff-timeline{height:102px}
.fact-radio.yes-wrapper input[type='radio'] + label{letter-spacing: normal; padding:5px 0 0 40px;}
.fact-radio.yes-wrapper input[type='radio'] + label:before{left:15px}



/*Doc Upload*/
.doc-uploadwrap{background:rgba(255,255,255,1);background:-moz-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:-webkit-gradient(left top,left bottom,color-stop(0%,rgba(255,255,255,1)),color-stop(50%,rgba(241,241,241,1)),color-stop(51%,rgba(237,237,237,1)),color-stop(100%,rgba(238,238,238,1)));background:-webkit-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:-o-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:-ms-linear-gradient(top,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);background:linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(237,237,237,1) 51%,rgba(238,238,238,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eeeeee',GradientType=0); border-bottom: 1px solid rgba(204, 204, 204, 0.49);border-top: 1px solid rgba(204, 204, 204, 0.49);}
.upload-navwrapper ul li.active a{background-color:#fff!important}
.doc-checkbox{padding:7px 5px}
.upload-btnwrap{position:absolute; bottom:0; left:0; width:100%}


/*Agent Details*/
.agent-detailwrapper{display:block; height:100%; height:100%}
.agent-details .fixed-bar{height:156px}
.agent-details .custom-position{top:156px!important}
.gen-application-btn-wrap li{min-width:0}

.sis-output-btnwrap ul{margin-bottom:0}
.app-new-header{height:auto}
.app-loaded-header{display:block}
.lead-tab-links{display:block}


/*HSW*/
.switch-button .toggle input:checked + .track{border:1px solid #c98d33; background:transparent}
.switch-button .toggle-text .handle-text{top:4px}
.switch-button .item-toggle .toggle{top:20px}
.switch-button .toggle .track{border:1px solid #c98d33; background:transparent}
.interval-yearwrapper{position:absolute; top: -45px; left: 10px; width: 200px}
.interval-yearwrapper .start-yr{position:static}
.interval-yearwrapper .start-number{position:static}
.interval-yearwrapper .start-text{position:static; width:auto; text-align:left}
.interval-inneryearwrapper{display:block}



/*
select option{font-size:13px}
.hsw-wrapper{height:-webkit-calc(100vh - 150px)}
.hsw-innerwrapper, .hswdashboard-wrapper{height:100%}
*/



/*FHR*/
.fhr-tab-title{-webkit-transform: rotate(270deg)}
.output-lft-clr{padding-bottom:20px}
.FHR-outputdetails .tab-pane, .tab-content-area, .row-wrap, .col-wrap, .output-lft-clr, .fhr-output-lft{height:100%}
.fhr-output-lft .output-content:last-child{padding-bottom:20px}
.recomendation-height-wrapper{height:68vh; position:relative}
.bar-wrapper{height:100%; position:relative}
.inner-tile-wrapper{height:75vh; float:left; width:100%}
.fhr-tab-wrapper{position:relative}
.fhr-tab-wrapper ul{overflow-x: scroll; white-space: nowrap; width: 100%}
.fhr-next-btn{right:20px; bottom:15px; display:inline-block}
.fhr-next-btn .next-btn-link{width:140px}
.next-btn-txt{display:inline-block; line-height:1px}
.next-btn-icon span{display:inline-block}
.fhr-prev-btn{left:30px; right:auto}
.child-goal-3block .fhr-value-field{right:-7px}
.FHR-outerwrap{height: -webkit-calc(100% - 56px); height: calc(100% - 56px)}

/*Change Security Pwd*/
.change-securitypwd-wrap{margin-top:50px}


/*Menu*/
.menu_wrap{padding:0}
.menu_wrap ul{display:inline-block; width:100%}
.menu_wrap ul li{display: block; margin-bottom:0}
.menu_wrap ul li a{display: inline-block; width:100%; padding:2px 10px 10px 20px; border-bottom:1px solid #e5e5e5}
.menu_wrap .menu-txt{padding:11px 15px 11px 11px; border-bottom:0}
.menu_wrap ul li:first-child a{border-top:1px solid #e5e5e5; margin-top:10px; padding:10px 10px 10px 20px}


/*PSC*/
.psc-wrapper{margin-top:40px}

/*Downloadborder-bottom: 1px solid #e5e5e5;*/

/*.download-section{height:500px; overflow-y: scroll; -webkit-overflow-scrolling: touch;}*/
