/***** login *****/
.gc-banner {background:#1b2331 url(../img/login-header.png)no-repeat; background-position:center; height:216px; display:table; position:relative; width:100%}
.gc-banner-color-strip-wrapper {position:absolute; bottom:0px; left:0px; width:100%;}
.gc-banner-color-strip {width:20%; height:6px; background: #83b93b; float: left}
.gc-banner-color-strip:nth-child(2) {background: #e4625c}
.gc-banner-color-strip:nth-child(3) {background: #e9a33b}
.gc-banner-color-strip:nth-child(4) {background: #bb5373}
.gc-banner-color-strip:nth-child(5) {background: #844288}

.login-version-no {font-size:20px; color:#000; font-weight:600; position:absolute; bottom:10px; right:20px;}


/***** dashboard *****/
.dashboard-header {width:100%; height:57px !important; background:#fff; top: 0px; left: 0px; padding: 0px; position:absolute;}
.dashboard-header .bell-block {position: absolute; right: 0px; padding: 0px;}
.dashboard-header .bell-block span {display: block; width: 57px; height: 57px; position: absolute; top: 0px;}
.dashboard-header .bell-block span:nth-child(1) {right: 57px;}
.dashboard-header .bell-block span:nth-child(2) {right: 0px;}
.dashboard-header .bell-block span i {margin: 0px; font-size: 28px; width: 28px; top: 14.5px; right: 14.5px; position: absolute;}
.dashboard-header-menu-logo-block a {display: inline-block; color: #000;}
.dashboard-header-menu-logo-block .click-menu{position: absolute; top:0px; left:0px; width:57px; height:57px;}
.dashboard-header-menu-logo-block a i {font-size: 30px; position: relative; top: 13.5px; left: 15.5px;}
.dashboard-header-menu-logo-block .main-logo{position: absolute; top: 18px; left: 57px;}
.header-margin-rm {margin: 0px !important;}

.dashboard-root .bar-subheader {top: 56px !important; height: 60px; padding: 0px;}
.dashboard-root .bar-subheader .dashboard-nav {padding: 0px;}

.dashboard-content {display: block;}
.dashboard-content .has-header {top:115px !important; padding: 0px; margin: 0px;}
.dashboard-content .popup-blk .fav-icon-wrp {position:absolute; right:20px; bottom:20px;}


/***** lead module common styles *****/
.lead-header {height: 50px !important;}
.lead-header h2 {color: #000; font-size: 24px; padding-top: 15px; text-align: center;}
.lead-menu-icon {position: absolute;}
.lead-title {width: 100%;}


/***** addLead module *****/
.add-lead-sub-header {top: 50px !important; height: 50px; background: #1c2535; padding: 15px 20px; margin-bottom: 0px;}
.add-lead-sub-header h2 {color: #fff; font-size: 20px;}

.add-lead .has-header {top: 100px !important; bottom: 80px;}
.add-lead-content-footer-hide {bottom: 0px !important;}
.add-lead-content {padding-top: 30px; width: 90%; margin: 0px auto;}

.add-lead-footer {height: 80px; border-top: 1px solid #1c2535;}
.add-lead-footer-hide {display: none;}
.add-lead-submit-block {margin-top: 10px;}


/***** ekyc modal screen *****/
.ekyc-modal-background {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 999; background: rgba(0,0,0,0.7);}
.ekyc-modal-background .close-icon {position: absolute; top: -31px; right: -7px; font-size: 50px; color: #f26963;}
.ekyc-modal-foreground {background: #fff; padding: 25px 25px 0 25px; margin-top: 15vh !important;}
.ekyc-consent-title {text-align: center; font-size: 2em; margin-bottom: 1.5%;}
.ekyc-consent-body-english {border-right: 2px solid #263247; text-align: justify;}
.ekyc-consent-body-devanagri {text-align: justify;}
.ekyc-consent-cb-block {margin-top: 4%; margin-bottom: 4%;}
.ekyc-consent-cb-lbl-txt {font-size: 1.2em !important;}


/***** leadListing module *****/
.lead-list-sub-header {top: 50px !important; height: 95px; background: #1c2535; margin: 0px; padding: 0px;}
.lead-list-sub-header ul {margin: 0px; padding: 0px; list-style-type: none; white-space: nowrap; width: 100%; background: #1c2535; width: 100%; height: 95px;}
.lead-list-sub-header ul li {margin: 0px; padding: 0px; display:inline-block; width:50%}
.lead-list-sub-header ul li a {margin: 0px; padding: 0px; display: block; font-size: 18px; font-family: 'tata_aia_printbold'; color: #63676f; padding: 23px 20px; height: 95px;}
.lead-list-sub-header ul li.active a {border-bottom: 5px solid #f26963; color:#fff;}
.lead-list-sub-header ul .lead-list-tabs {font-size: 22px; text-align: center;}
.lead-list-sub-header ul .lead-list-tabs span {display: inline-block; margin: 0px 5px;}
.lead-list-sub-header ul .lead-list-tabs span i {font-size: 40px;}

.lead-list .has-header {top: 145px !important; background: #ecedef;}
.lead-list .tab-pane {padding: 15px 10px;}
.lead-list-block {background: #fff; padding:25px 15px; border-left: 4px solid #000; border-radius:4px; margin: 10px 0px;}
.lead-list-block a.pull-left {border-radius:50%; padding:10px; margin-right:10px; color:#fff; font-weight: 700; width: 40px; height: 40px; text-align: center;}
.lead-list-block-dtls {display: table-cell;}
.lead-list-block-dtls h4 {font-weight: 700; margin-top: 0px;}
.lead-list-block-dtls i {margin-right: 10px;}
.lead-list-block-btns {padding: 5px;}
.lead-list-block-btns a {margin-right: 5px;}
.lead-list-block-bdr-1 {border-left-color: #f26963;}
.lead-list-block-bdr-2 {border-left-color: #01b3e3;}
.lead-list-block-bdr-3 {border-left-color: #fcb040;}
.lead-list-block-bdr-4 {border-left-color: #22bcba;}
.lead-list-block-bdr-5 {border-left-color: #9b4e9e;}
.lead-list-block-bdr-6 {border-left-color: #f26963;}
.lead-list-circle-clr-1 {background: #f26963;}
.lead-list-circle-clr-2 {background: #01b3e3;}
.lead-list-circle-clr-3 {background: #fcb040;}
.lead-list-circle-clr-4 {background: #22bcba;}
.lead-list-circle-clr-5 {background: #9b4e9e;}
.lead-list-circle-clr-6 {background: #f26963;}

/***** appTracker/ policyTracker module *****/
.tab-innerCarouselWrap .tracker-carousel .carousel-demo ul {overflow: auto;}


/***** changePassword module *****/

.cp-header {width:100%; height:57px !important; background:#fff; top: 0px; left: 0px; padding: 0px; position:absolute;}
.cp-header-menu-logo-block a {display: inline-block; color: #000;}
.cp-header-menu-logo-block .click-menu{position: absolute; top:0px; left:0px; width:57px; height:57px; display: flex; align-items: center; justify-content: center;}
.cp-header-menu-logo-block a i {font-size: 30px;}
.cp-header-menu-logo-block .main-logo{position: absolute; top: 18px; left: 57px;}

.cp-sub-header {top: 57px !important; height: 50px; background: #1c2535; padding: 15px 20px; margin-bottom: 0px;}
.cp-sub-header h2 {color: #fff; width: 100%; font-size: 20px; font-weight: bold; text-align: center;}

.change-password .has-header {top: 107px !important;}
.change-securitypwd-wrap {margin: 0px; padding: 100px 40px 0 40px;}


/***** changeSecurityQuestions module *****/

.csq-header {width:100%; height:57px !important; background:#fff; top: 0px; left: 0px; padding: 0px; position:absolute;}
.csq-header-menu-logo-block a {display: inline-block; color: #000;}
.csq-header-menu-logo-block .click-menu{position: absolute; top:0px; left:0px; width:57px; height:57px; display: flex; align-items: center; justify-content: center;}
.csq-header-menu-logo-block a i {font-size: 30px;}
.csq-header-menu-logo-block .main-logo{position: absolute; top: 18px; left: 57px;}

.csq-sub-header {top: 57px !important; height: 50px; background: #1c2535; padding: 15px 20px; margin-bottom: 0px;}
.csq-sub-header h2 {color: #fff; width: 100%; font-size: 20px; font-weight: bold; text-align: center;}

.chg-sec-ques .has-header {top: 107px !important;}
.change-security-wrap {margin: 0px; padding: 50px 40px 0 40px;}


.app-blackheaderwrap {position: absolute; top: 0px; left: 0px; height: 156px; width: 100%;}
.app-form-sidebar {top: 156px; bottom: 0px; position: absolute; width: 100px; padding: 0px; margin: 0px; overflow-y: auto; overflow-x: hidden;}
.application-form-wrapper .tab-nav .tab-ul li.active:before{content:''; position: absolute; top:0; right:-14px; height:100%; width:23px; background: #ffffff; z-index: 2;}
.app-form-progress-bar .progress-bar {border-top-right-radius: 15px; border-bottom-right-radius: 15px; border-right: 1px solid darkcyan;}
.app-form-content{box-shadow: -3px -1px 3px 0px rgba(171,171,171,1); margin-left: 3px; top: 156px !important; left: 97px;}

.app-form-inner-content {width: 90%; margin: 0px auto; padding: 25px 10px 100px 10px;}

.app-form-header {height: 50px !important; padding: 0px; margin: 0px; border: none !important;}
.app-form-subheader-progress {top: 50px !important; height: 30px; padding: 0px; margin: 0px;}
.app-form-subheader-tabs {top: 80px !important; height: 76px; padding: 0px; border: none !important;}
