@charset "UTF-8";

@font-face {
  font-family: "untitled-font-2";
  src:url("../fonts/untitled-font-2.eot");
  src:url("../fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-2.woff") format("woff"),
    url("../fonts/untitled-font-2.ttf") format("truetype"),
    url("../fonts/untitled-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-add:before {
  content: "\61";
}
.icon-icon-business-start-up:before {
  content: "\62";
}
.icon-icon-dropdown-arrow:before {
  content: "\63";
}
.icon-icon-edit:before {
  content: "\64";
}
.icon-icon-education:before {
  content: "\65";
}
.icon-icon-female:before {
  content: "\66";
}
.icon-icon-fortune-garuntee:before {
  content: "\67";
}
.icon-icon-iraksha:before {
  content: "\68";
}
.icon-icon-loan-for-new-business:before {
  content: "\69";
}
.icon-icon-male:before {
  content: "\6a";
}
.icon-icon-marriage:before {
  content: "\6b";
}
.icon-icon-new-car:before {
  content: "\6c";
}
.icon-icon-next:before {
  content: "\6d";
}
.icon-icon-wealth-maxima:before {
  content: "\6e";
}
.icon-icon-vacation:before {
  content: "\6f";
}
.icon-icon-non-smoking:before {
  content: "\7a";
}
.icon-icon-smoking:before {
  content: "\71";
}
.icon-icon-subtract:before {
  content: "\72";
}
.icon-icon-smoke:before {
  content: "\73";
}
.icon-icon-smart-income-plus:before {
  content: "\74";
}
.icon-icon-second-home-down-payment:before {
  content: "\75";
}
.icon-icon-retirement:before {
  content: "\76";
}
.icon-icon-repaying-home:before {
  content: "\77";
}
.icon-icon-protection:before {
  content: "\78";
}
.icon-icon-others:before {
  content: "\79";
}
