/*! angularjs-slider - v5.8.7 - 
 (c) Rafal Zajac <rzajac@gmail.com>, Valentin Hervieu <valentin@hervieu.me>, Jussi Saarivirta <jusasi@gmail.com>, Angelin Sirbu <angelin.sirbu@gmail.com> - 
 https://github.com/angular-slider/angularjs-slider - 
 2016-11-09 */

.rzslider{position:relative;display:inline-block;width:100%;height:4px;margin:20px 0 35px;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.rzslider.with-legend{margin-bottom:40px}
.rzslider[disabled]{cursor:not-allowed}
.rzslider[disabled] .rz-pointer{cursor:not-allowed;background-color:#d8e0f3}
.rzslider[disabled] .rz-bar-wrapper.rz-draggable{cursor:not-allowed}
.rzslider[disabled] .rz-bar.rz-selection{background:#8b91a2}
.rzslider[disabled] .rz-ticks .rz-tick{cursor:not-allowed}
.rzslider[disabled] .rz-ticks .rz-tick.rz-selected{background:#8b91a2}
.rzslider span{position:absolute;display:inline-block;white-space:nowrap}
.rzslider .rz-base{width:100%;height:100%;padding:0}
.rzslider .rz-bar-wrapper{left:0;z-index:1;width:100%;height:32px;padding-top:16px;margin-top:-16px;box-sizing:border-box}
.rzslider .rz-bar-wrapper.rz-draggable{cursor:move}
.rzslider .rz-bar{left:0;z-index:1;width:100%;height:4px;background:#c98e34;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.rzslider .rz-bar.rz-selection{z-index:2;background:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.rzslider .rz-pointer{top:-11px;z-index:3;width:26px;height:26px;cursor:pointer;background-color:#fff;-webkit-border-radius:13px;-moz-border-radius:13px;border-radius:13px;-webkit-box-shadow:-6px 0 12px rgba(201,142,52,1);-moz-box-shadow:-6px 0 12px rgba(201,142,52,1);box-shadow:-6px 0 12px rgba(201,142,52,1)}
.rzslider .rz-pointer.rz-active{z-index:4}
.rzslider .rz-bubble{bottom:-50px;color:#fff;cursor:default;background:#000;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;padding:8px 6px;font-size:12px;width:35px;height:35px;text-align:center}
.rzslider .rz-bubble.rz-selection{top:16px}
.rzslider .rz-bubble.rz-limit{color:#fff;background:transparent;bottom:-30px}
.rz-bubble.rz-limit.rz-ceil{text-align:right;left:auto!important;right:0}
.rz-bubble.rz-limit.rz-floor{text-align:left}
.rz-bubble.rz-tooltip:after{content:"";position:absolute;border-bottom:6px solid #000;left:11px;top:-5px;border-left:6px solid transparent;border-right:6px solid transparent}
.rzslider .rz-ticks{position:absolute;top:-3px;left:0;z-index:1;width:100%;height:0;margin:0;list-style:none;box-sizing:border-box}
.rzslider .rz-ticks .rz-tick{position:absolute;top:0;left:0;width:10px;height:10px;margin-left:11px;text-align:center;cursor:pointer;background:#d8e0f3;border-radius:50%}
.rzslider .rz-ticks .rz-tick.rz-selected{background:#0db9f0}
.rzslider .rz-ticks .rz-tick .rz-tick-value{position:absolute;top:-30px;transform:translate(-50%,0)}
.rzslider .rz-ticks .rz-tick .rz-tick-legend{position:absolute;top:24px;max-width:50px;white-space:normal;transform:translate(-50%,0)}
.rzslider .rz-ticks.rz-ticks-values-under .rz-tick-value{top:initial;bottom:-32px}
.rzslider.rz-vertical{position:relative;width:4px;height:100%;padding:0;margin:0 20px;vertical-align:baseline}
.rzslider.rz-vertical .rz-base{width:100%;height:100%;padding:0}
.rzslider.rz-vertical .rz-bar-wrapper{top:auto;left:0;width:32px;height:100%;padding:0 0 0 16px;margin:0 0 0 -16px}
.rzslider.rz-vertical .rz-bar{bottom:0;left:auto;width:4px;height:100%}
.rzslider.rz-vertical .rz-pointer{top:auto;bottom:0;left:-14px!important}
.rzslider.rz-vertical .rz-bubble{bottom:0;left:16px!important;margin-left:3px}
.rzslider.rz-vertical .rz-bubble.rz-selection{top:auto;left:16px!important}
.rzslider.rz-vertical .rz-ticks{top:0;left:-3px;z-index:1;width:0;height:100%}
.rzslider.rz-vertical .rz-ticks .rz-tick{margin-top:11px;margin-left:auto;vertical-align:middle}
.rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-value{top:initial;left:24px;transform:translate(0,-28%)}
.rzslider.rz-vertical .rz-ticks .rz-tick .rz-tick-legend{top:initial;right:24px;max-width:none;white-space:nowrap;transform:translate(0,-28%)}
.rzslider.rz-vertical .rz-ticks.rz-ticks-values-under .rz-tick-value{right:24px;bottom:initial;left:initial}
.wrapper{background:#fff;padding:40px}
article{margin-bottom:10px}
.tab-pane{padding-top:10px}
.field-title{width:100px}
.vertical-sliders{margin:0}
.vertical-sliders>div{height:250px}
.custom-slider.rzslider .rz-bar{background:#ffe4d1;height:2px}
.custom-slider.rzslider .rz-selection{background:#00CBFF}
.custom-slider.rzslider .rz-pointer{width:8px;height:16px;top:auto;bottom:0;background-color:#333;border-top-left-radius:3px;border-top-right-radius:3px}
.custom-slider.rzslider .rz-pointer:after{display:none}
.custom-slider.rzslider .rz-limit{font-weight:700}
.custom-slider.rzslider .rz-tick{width:1px;height:10px;margin-left:4px;border-radius:0;background:#ffe4d1;top:-1px}
.custom-slider.rzslider .rz-tick.rz-selected{background:orange}