<div class="tracker-carousel">
    <div class="carousel-demo">
        <ul rn-carousel rn-carousel-index="ipc.carouselIndex" rn-carousel rn-carousel-auto-slide class="carousel5 policytracker-carousel">
            <li class="carousel-contentli" ng-repeat="issuedPolicy in ipc.issuedPolicyArr">
                <div class="col-sm-4 col-xs-4 " ng-repeat="issuedPol in issuedPolicy">
                    <div class="lead-box-bg policy-tracker-bg">
                        <div class="first-letter-wrap">
                            <div class="lead-head-ico ng-binding">{{issuedPol.FULL_NAME.split(' ')[1].charAt(0).toUpperCase()}}</div>
                            <div class="clearfix"></div>
                        </div>
                            <div class="policy-tracker-info-wrap">
                                <h2 class="ng-binding policytracker-title">{{issuedPol.FULL_NAME}}</h2>
                                <div class="lead-contact-details"> <span><i class="fa fa-phone" aria-hidden="true"></i> <span class="sol-details">{{issuedPol.MOBILE_NO}}</span></span>
                                </div>
                                <div class="policy-num policy-new-no"><span class="bold-txt ng-binding">{{issuedPol.POLICY_NO}}</span></div>
                                <div class="date-created"> <span class="date-created-lbl">Submitted on</span><span class="date-on">{{issuedPol.COMPLETION_TIMESTAMP}}</span> </div>
                                <div class="ci-initiate policy-new-no"><span class="bold-txt">{{issuedPol.POLICY_PREUW_STATUS}}</span></div>
                                <!--<div class="policy_btn">-->
                                    <!--<button class="btn btn-default" ng-click="ipc.startNewOpp(issuedPol.LEAD_ID)">Start New Opportunirty</button>-->
                                <!--</div>-->
                            </div>
                                <div class="clearfix"></div>
                                <div class="icon-btn-wrap">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="row">
                                            <div class="icon-btn last-btn">
                                                <a ng-click="ipc.startNewOpp(issuedPol.LEAD_ID)">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        <div class="clearfix"></div>
                            </div>
                </div>
            </li>
        </ul>
        <div class="carousel-pagination" rn-carousel-indicators ng-if="ipc.issuedPolicyArr.length > 1" slides="ipc.issuedPolicyArr" rn-carousel-index="ipc.carouselIndex"></div>
    </div>
</div>
