<section class="quetionaire_block">
    <div class="container">
        <form id="smrQuesForm" name="smrQuesForm" ng-submit="smrIndsC.onGenerateOutput()" novalidate>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group custom-form main-form-title">
                        <label class="form-label">Sales Manager's Assessment Report (SMR)</label>
                    </div>
                    <p class="smr-content">
                        To be completed and submited along with all indusind bank application forms
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">Type of contact:</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAnsAP" name="smrAnsA" value="Personal Meeting" ng-model="smrIndsC.smrIndsQuesData.ANS_A" required />
                                        <label for="smrAnsAP">Personal Meeting</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAnsAT" name="smrAnsA" value="Telephone" ng-model="smrIndsC.smrIndsQuesData.ANS_A" ng-change="smrIndsC.setNull('A')" required />
                                        <label for="smrAnsAT">Telephone</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="smrIndsC.smrIndsQuesData.ANS_A=='Telephone'">
                            <div class="form-group custom-form">
                                <label  class="form-label">if telephone please provide the following details </label>
                            </div>
                            <div class="form-group custom-form">
                                <label  class="form-label">Tele No called: </label>
                                <input type="number" class="form-control" name="smrAnsAa" ng-model="smrIndsC.smrIndsQuesData.ANS_Aa" ng-required="smrIndsC.smrIndsQuesData.ANS_A=='Telephone'" >
                                <div ng-messages="smrQuesForm.smrAnsAa.$error" class="error-messages" ng-show="smrQuesForm.smrAnsAa.$invalid && !smrQuesForm.smrAnsAa.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                            <div class="form-group custom-form">
                                <label  class="form-label">Tele No called from:</label>
                                <input type="number" class="form-control" name="smrAnsAb" ng-model="smrIndsC.smrIndsQuesData.ANS_Ab" ng-required="smrIndsC.smrIndsQuesData.ANS_A=='Telephone'" >
                                <div ng-messages="smrQuesForm.smrAnsAb.$error" class="error-messages" ng-show="smrQuesForm.smrAnsAb.$invalid && !smrQuesForm.smrAnsAb.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                            <div class="form-group custom-form">
                                <label  class="form-label">Date & Time:</label>
                                <input type="datetime-local" class="form-control" name="smrAnsAc" ng-model="smrIndsC.smrIndsQuesData.ANS_Ac" ng-required="smrIndsC.smrIndsQuesData.ANS_A=='Telephone'" >
                                <div ng-messages="smrQuesForm.smrAnsAc.$error" class="error-messages" ng-show="smrQuesForm.smrAnsAc.$invalid && !smrQuesForm.smrAnsAc.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">Tata AIA Life employee name & code:</label>
                                <input type="text" class="form-control" name="smrAnsEa" ng-model="smrIndsC.smrIndsQuesData.ANS_Ea" required placeholder="Employee Name" >
                                <div ng-messages="smrQuesForm.smrAnsEa.$error" class="error-messages" ng-show="smrQuesForm.smrAnsEa.$invalid && !smrQuesForm.smrAnsEa.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                                <input type="number" class="form-control" name="smrAnsEb" ng-model="smrIndsC.smrIndsQuesData.ANS_Eb" required placeholder="Employee Code" >
                                <div ng-messages="smrQuesForm.smrAnsEb.$error" class="error-messages" ng-show="smrQuesForm.smrAnsEb.$invalid && !smrQuesForm.smrAnsEb.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">Does the customer have a relationship with IndusInd Bank:</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAnsFY" name="smrAnsF" value="Y" ng-model="smrIndsC.smrIndsQuesData.ANS_F" required />
                                        <label for="smrAnsFY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAnsFN" name="smrAnsF" value="N" ng-model="smrIndsC.smrIndsQuesData.ANS_F" ng-change="smrIndsC.setNull('F')" required />
                                        <label for="smrAnsFN">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="smrIndsC.smrIndsQuesData.ANS_F=='Y'">
                            <div class="form-group custom-form">
                                <label class="form-group custom-form">If Yes provide the following</label>
                            </div>
                            <div class="form-group custom-form">
                                <label  class="form-label">IndusInd Bank account number:</label>
                                <input type="number" class="form-control" name="smrAnsFReason1" ng-model="smrIndsC.smrIndsQuesData.ANS_FReason1" ng-required="smrIndsC.smrIndsQuesData.ANS_F=='Y'">
                                <div ng-messages="smrQuesForm.smrAnsFReason1.$error" class="error-messages" ng-show="smrQuesForm.smrAnsFReason1.$invalid && !smrQuesForm.smrAnsFReason1.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                            <div class="form-group custom-form">
                                <label  class="form-label">IndusInd Bank account opening date:</label>
                                <input type="date" class="form-control" name="smrAnsFReason2" ng-model="smrIndsC.smrIndsQuesData.ANS_FReason2" ng-required="smrIndsC.smrIndsQuesData.ANS_F=='Y'">
                                <div ng-messages="smrQuesForm.smrAnsFReason2.$error" class="error-messages" ng-show="smrQuesForm.smrAnsFReason2.$invalid && !smrQuesForm.smrAnsFReason2.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">1. Are you satisfied about the identity of the Life to be insured & Proposer?</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns1Y" name="smrAns1" value="Y" ng-model="smrIndsC.smrIndsQuesData.ANS_1" required />
                                        <label for="smrAns1Y">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns1N" name="smrAns1" value="N" ng-model="smrIndsC.smrIndsQuesData.ANS_1" required />
                                        <label for="smrAns1N">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">2. Have you collected or made adequate attempts to collect information about the background of the customer;</label>
                                <input type="text" class="form-control" name="smrAns2" ng-model="smrIndsC.smrIndsQuesData.ANS_2" required  >
                                <div ng-messages="smrQuesForm.smrAns2.$error" class="error-messages" ng-show="smrQuesForm.smrAns2.$invalid && !smrQuesForm.smrAns2.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">3. Would you confirm that as per your assessment the purpose of insurance stated by the customer is legitimate and justified;</label>
                                <input type="text" class="form-control" name="smrAns3" ng-model="smrIndsC.smrIndsQuesData.ANS_3" required  >
                                <div ng-messages="smrQuesForm.smrAns3.$error" class="error-messages" ng-show="smrQuesForm.smrAns3.$invalid && !smrQuesForm.smrAns3.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">4. Is the Life to be insured / Proposer related to the Bank's Sales Manager?</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns4Y" name="smrAns4" value="Y" ng-model="smrIndsC.smrIndsQuesData.ANS_4" ng-change="smrIndsC.setNull('4b')" required />
                                        <label for="smrAns4Y">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns4N" name="smrAns4" value="N" ng-model="smrIndsC.smrIndsQuesData.ANS_4" ng-change="smrIndsC.setNull('4a')" required />
                                        <label for="smrAns4N">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="smrIndsC.smrIndsQuesData.ANS_4=='Y'">
                            <div class="form-group custom-form">
                                <label  class="form-label">a. If Yes, please state relationship:</label>
                                <input type="text" class="form-control" name="smrAns4ReasonY" ng-model="smrIndsC.smrIndsQuesData.ANS_4_ReasonY" ng-required="smrIndsC.smrIndsQuesData.ANS_4=='Y'"  >
                                <div ng-messages="smrQuesForm.smrAns4ReasonY.$error" class="error-messages" ng-show="smrQuesForm.smrAns4ReasonY.$invalid && !smrQuesForm.smrAns4ReasonY.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="smrIndsC.smrIndsQuesData.ANS_4=='N'">
                            <div class="form-group custom-form">
                                <label  class="form-label">b. If No, by whom was the Life to be insured / Proposer introduced to the Bank's Sales Manager:</label>
                                <input type="text" class="form-control" name="smrAns4ReasonN" ng-model="smrIndsC.smrIndsQuesData.ANS_4_ReasonN" ng-required="smrIndsC.smrIndsQuesData.ANS_4=='N'"  >
                                <div ng-messages="smrQuesForm.smrAns4ReasonN.$error" class="error-messages" ng-show="smrQuesForm.smrAns4ReasonN.$invalid && !smrQuesForm.smrAns4ReasonN.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">5. For how long has the Bank's Sales Manager known the Life to be insured and Proposer?</label>
                                <input type="text" class="form-control" name="smrAns5a" ng-model="smrIndsC.smrIndsQuesData.ANS_5a" placeholder="Life to be insured:" required >
                                <div ng-messages="smrQuesForm.smrAns5a.$error" class="error-messages" ng-show="smrQuesForm.smrAns5a.$invalid && !smrQuesForm.smrAns5a.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                                <input type="text" class="form-control" name="smrAns5b" ng-model="smrIndsC.smrIndsQuesData.ANS_5b" placeholder="Proposer:" required >
                                <div ng-messages="smrQuesForm.smrAns5b.$error" class="error-messages" ng-show="smrQuesForm.smrAns5b.$invalid && !smrQuesForm.smrAns5b.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">6. Have you verified the occupation of the Life to be insured / Proposer as stated in the proposal and are you satisfied with the correlation of the occupation with the income as stated in the proposal form;</label>
                                <input type="text" class="form-control" name="smrAns6" ng-model="smrIndsC.smrIndsQuesData.ANS_6" required  >
                                <div ng-messages="smrQuesForm.smrAns6.$error" class="error-messages" ng-show="smrQuesForm.smrAns6.$invalid && !smrQuesForm.smrAns6.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label  class="form-label">
                                    7. Monthly income details of the proposer:
                                </label>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Salary</th>
                                            <th class="text-center">Business</th>
                                            <th class="text-center">Agriculture</th>
                                            <th class="text-center">Other</th>
                                            <th class="text-center"><strong>Total</strong></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td nowrap>
                                                <div class="ruppe-textbox">
                                                    <input type="number" class="form-control" name="smrAns7a1" ng-model="smrIndsC.smrIndsQuesData.ANS_7a1" ng-change="smrIndsC.getTotalIncomeP()" required  >
                                                    <div ng-messages="smrQuesForm.smrAns7a1.$error" class="error-messages" ng-show="smrQuesForm.smrAns7a1.$invalid && !smrQuesForm.smrAns7a1.$pristine">
                                                        <div ng-message="required">Field cannot be empty.</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td nowrap>
                                                <div class="ruppe-textbox">
                                                    <input type="number" class="form-control" name="smrAns7a2" ng-model="smrIndsC.smrIndsQuesData.ANS_7a2" ng-change="smrIndsC.getTotalIncomeP()" required  >
                                                    <div ng-messages="smrQuesForm.smrAns7a2.$error" class="error-messages" ng-show="smrQuesForm.smrAns7a2.$invalid && !smrQuesForm.smrAns7a2.$pristine">
                                                        <div ng-message="required">Field cannot be empty.</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td nowrap>
                                                <div class="ruppe-textbox">
                                                    <div class="ruppe-textbox">
                                                        <input type="number" class="form-control" name="smrAns7a3" ng-model="smrIndsC.smrIndsQuesData.ANS_7a3" ng-change="smrIndsC.getTotalIncomeP()" required  >
                                                        <div ng-messages="smrQuesForm.smrAns7a3.$error" class="error-messages" ng-show="smrQuesForm.smrAns7a3.$invalid && !smrQuesForm.smrAns7a3.$pristine">
                                                            <div ng-message="required">Field cannot be empty.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td nowrap>
                                                <div class="ruppe-textbox">
                                                    <input type="number" class="form-control" name="smrAns7a4" ng-model="smrIndsC.smrIndsQuesData.ANS_7a4" ng-change="smrIndsC.getTotalIncomeP()" required  >
                                                    <div ng-messages="smrQuesForm.smrAns7a4.$error" class="error-messages" ng-show="smrQuesForm.smrAns7a4.$invalid && !smrQuesForm.smrAns7a4.$pristine">
                                                        <div ng-message="required">Field cannot be empty.</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td nowrap>
                                                <div class="ruppe-textbox">
                                                    <input type="number" class="form-control" name="smrAns7a5" ng-model="smrIndsC.smrIndsQuesData.ANS_7a5" ng-disabled="" required  >
                                                    <div ng-messages="smrQuesForm.smrAns7a5.$error" class="error-messages" ng-show="smrQuesForm.smrAns7a5.$invalid && !smrQuesForm.smrAns7a5.$pristine">
                                                        <div ng-message="required">Field cannot be empty.</div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <label class="form-label">
                                    State also income of Life to be insured, if he/she is different from proposer:
                                </label>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Salary</th>
                                            <th class="text-center">Business</th>
                                            <th class="text-center">Agriculture</th>
                                            <th class="text-center">Other</th>
                                            <th class="text-center"><strong>Total</strong></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td nowrap>
                                                <div class="ruppe-textbox">
                                                    <input type="number" class="form-control" name="smrAns7b1" ng-model="smrIndsC.smrIndsQuesData.ANS_7b1" ng-change="smrIndsC.getTotalIncomeI()" required  >
                                                    <div ng-messages="smrQuesForm.smrAns7b1.$error" class="error-messages" ng-show="smrQuesForm.smrAns7b1.$invalid && !smrQuesForm.smrAns7b1.$pristine">
                                                        <div ng-message="required">Field cannot be empty.</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td nowrap>
                                                <div class="ruppe-textbox">
                                                    <input type="number" class="form-control" name="smrAns7b2" ng-model="smrIndsC.smrIndsQuesData.ANS_7b2" ng-change="smrIndsC.getTotalIncomeI()" required  >
                                                    <div ng-messages="smrQuesForm.smrAns7b2.$error" class="error-messages" ng-show="smrQuesForm.smrAns7b2.$invalid && !smrQuesForm.smrAns7b2.$pristine">
                                                        <div ng-message="required">Field cannot be empty.</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td nowrap>
                                                <div class="ruppe-textbox">
                                                    <div class="ruppe-textbox">
                                                        <input type="number" class="form-control" name="smrAns7b3" ng-model="smrIndsC.smrIndsQuesData.ANS_7b3" ng-change="smrIndsC.getTotalIncomeI()" required  >
                                                        <div ng-messages="smrQuesForm.smrAns7b3.$error" class="error-messages" ng-show="smrQuesForm.smrAns7b3.$invalid && !smrQuesForm.smrAns7b3.$pristine">
                                                            <div ng-message="required">Field cannot be empty.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td nowrap>
                                                <div class="ruppe-textbox">
                                                    <input type="number" class="form-control" name="smrAns7b4" ng-model="smrIndsC.smrIndsQuesData.ANS_7b4" ng-change="smrIndsC.getTotalIncomeI()" required  >
                                                    <div ng-messages="smrQuesForm.smrAns7b4.$error" class="error-messages" ng-show="smrQuesForm.smrAns7b4.$invalid && !smrQuesForm.smrAns7b4.$pristine">
                                                        <div ng-message="required">Field cannot be empty.</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td nowrap>
                                                <div class="ruppe-textbox">
                                                    <input type="number" class="form-control" name="smrAns7b5" ng-model="smrIndsC.smrIndsQuesData.ANS_7b5" ng-disbled="true" required  >
                                                    <div ng-messages="smrQuesForm.smrAns7b5.$error" class="error-messages" ng-show="smrQuesForm.smrAns7b5.$invalid && !smrQuesForm.smrAns7b5.$pristine">
                                                        <div ng-message="required">Field cannot be empty.</div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">8. Income proof verified:</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-wrap">
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns8a" name="smrAns8" value="ITR" ng-model="smrIndsC.smrIndsQuesData.ANS_8A" ng-change="smrIndsC.setNull('8A')" required />
                                            <label for="smrAns8a">ITR</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns8b" name="smrAns8" value="Form 16" ng-model="smrIndsC.smrIndsQuesData.ANS_8A" ng-change="smrIndsC.setNull('8A')" required />
                                            <label for="smrAns8b">Form 16</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns8c" name="smrAns8" value="Pay-slip" ng-model="smrIndsC.smrIndsQuesData.ANS_8A" ng-change="smrIndsC.setNull('8A')" required />
                                            <label for="smrAns8c">Pay-slip</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns8d" name="smrAns8" value="Balance sheet" ng-model="smrIndsC.smrIndsQuesData.ANS_8A" ng-change="smrIndsC.setNull('8A')" required />
                                            <label for="smrAns8d">Balance sheet</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns8e" name="smrAns8" value="Bank statement" ng-model="smrIndsC.smrIndsQuesData.ANS_8A" ng-change="smrIndsC.setNull('8A')" required />
                                            <label for="smrAns8e">Bank statement (verified 6 months)</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns8f" name="smrAns8" value="P&L" ng-model="smrIndsC.smrIndsQuesData.ANS_8A" ng-change="smrIndsC.setNull('8A')" required />
                                            <label for="smrAns8f">P&L</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns8g" name="smrAns8" value="Others" ng-model="smrIndsC.smrIndsQuesData.ANS_8A" required />
                                            <label for="smrAns8g">Others</label>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="smrIndsC.smrIndsQuesData.ANS_8A=='Others'">
                            <div class="form-group custom-form">
                                <input type="text" class="form-control" name="smrAns8AReason" ng-model="smrIndsC.smrIndsQuesData.ANS_8A_Reason" ng-required="smrIndsC.smrIndsQuesData.ANS_8A=='Others'"  >
                                <div ng-messages="smrQuesForm.smrAns8AReason.$error" class="error-messages" ng-show="smrQuesForm.smrAns8AReason.$invalid && !smrQuesForm.smrAns8AReason.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">Other source of income:</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">Regular</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns8BRY" name="smrAns8BR" value="Y" ng-model="smrIndsC.smrIndsQuesData.ANS_8BR" required />
                                        <label for="smrAns8BRY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns8BRN" name="smrAns8BR" value="N" ng-model="smrIndsC.smrIndsQuesData.ANS_8BR" ng-change="smrIndsC.setNull('8BR')" required />
                                        <label for="smrAns8BRN">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="smrIndsC.smrIndsQuesData.ANS_8BR=='Y'">
                            <div class="form-group custom-form">
                                <input type="text" class="form-control" name="smrAns8BReasonR" ng-model="smrIndsC.smrIndsQuesData.ANS_8B_ReasonR" ng-required="smrIndsC.smrIndsQuesData.ANS_8BR=='Y'" placeHolder="Please specify" >
                                <div ng-messages="smrQuesForm.smrAns8BReasonR.$error" class="error-messages" ng-show="smrQuesForm.smrAns8BReasonR.$invalid && !smrQuesForm.smrAns8BReasonR.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">Not Regular</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns8BNRY" name="smrAns8BNR" value="Y" ng-model="smrIndsC.smrIndsQuesData.ANS_8BNR" required />
                                        <label for="smrAns8BNRY">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns8BNRN" name="smrAns8BNR" value="N" ng-model="smrIndsC.smrIndsQuesData.ANS_8BNR" ng-change="smrIndsC.setNull('8BNR')" required />
                                        <label for="smrAns8BNRN">No</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="smrIndsC.smrIndsQuesData.ANS_8BNR=='Y'">
                            <div class="form-group custom-form">
                                <input type="text" class="form-control" name="smrAns8BReasonNR" ng-model="smrIndsC.smrIndsQuesData.ANS_8B_ReasonNR" ng-required="smrIndsC.smrIndsQuesData.ANS_8BNR=='Y'" placeHolder="Please specify" >
                                <div ng-messages="smrQuesForm.smrAns8BReasonNR.$error" class="error-messages" ng-show="smrQuesForm.smrAns8BReasonNR.$invalid && !smrQuesForm.smrAns8BReasonNR.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">9. Personal assets:</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">a. House</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-wrap">
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns9aO" name="smrAns9a" value="Owned" ng-model="smrIndsC.smrIndsQuesData.ANS_9a" required />
                                            <label for="smrAns9aO">Owned</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns9aR" name="smrAns9a" value="Rented" ng-model="smrIndsC.smrIndsQuesData.ANS_9a" ng-change="smrIndsC.setNull('9a')" required />
                                            <label for="smrAns9aR">Rented</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns9aC" name="smrAns9a" value="Company provided" ng-model="smrIndsC.smrIndsQuesData.ANS_9a" ng-change="smrIndsC.setNull('9a')" required />
                                            <label for="smrAns9aC">Company provided</label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="smrIndsC.smrIndsQuesData.ANS_9a=='Owned'">
                            <div class="form-group custom-form">
                                <label class="form-label">If owned please provide:</label>
                            </div>
                            <div class="form-group custom-form">
                                <input type="text" class="form-control" name="smrAns9aReason1" ng-model="smrIndsC.smrIndsQuesData.ANS_9a_Reason1" ng-required="smrIndsC.smrIndsQuesData.ANS_9a=='Owned'" placeHolder="Location" >
                                <div ng-messages="smrQuesForm.smrAns9aReason1.$error" class="error-messages" ng-show="smrQuesForm.smrAns9aReason1.$invalid && !smrQuesForm.smrAns9aReason1.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                                <input type="text" class="form-control" name="smrAns9aReason2" ng-model="smrIndsC.smrIndsQuesData.ANS_9a_Reason2" ng-required="smrIndsC.smrIndsQuesData.ANS_9a=='Owned'" placeHolder="Approximate value" >
                                <div ng-messages="smrQuesForm.smrAns9aReason2.$error" class="error-messages" ng-show="smrQuesForm.smrAns9aReason2.$invalid && !smrQuesForm.smrAns9aReason2.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">b. Office</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-wrap">
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns9bO" name="smrAns9b" value="Owned" ng-model="smrIndsC.smrIndsQuesData.ANS_9b" required />
                                            <label for="smrAns9bO">Owned</label>
                                        </div>
                                        <div class="tick-radio-btn-wrap">
                                            <input type="radio" id="smrAns9bR" name="smrAns9b" value="Rented" ng-model="smrIndsC.smrIndsQuesData.ANS_9b" ng-change="smrIndsC.setNull('9b')" required />
                                            <label for="smrAns9bR">Rented</label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="smrIndsC.smrIndsQuesData.ANS_9b=='Owned'">
                            <div class="form-group custom-form">
                                <label class="form-label">If owned please provide:</label>
                            </div>
                            <div class="form-group custom-form">
                                <input type="text" class="form-control" name="smrAns9bReason1" ng-model="smrIndsC.smrIndsQuesData.ANS_9b_Reason1" ng-required="smrIndsC.smrIndsQuesData.ANS_9b=='Owned'" placeHolder="Location" >
                                <div ng-messages="smrQuesForm.smrAns9bReason1.$error" class="error-messages" ng-show="smrQuesForm.smrAns9bReason1.$invalid && !smrQuesForm.smrAns9bReason1.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                                <input type="text" class="form-control" name="smrAns9bReason2" ng-model="smrIndsC.smrIndsQuesData.ANS_9b_Reason2" ng-required="smrIndsC.smrIndsQuesData.ANS_9b=='Owned'" placeHolder="Approximate value" >
                                <div ng-messages="smrQuesForm.smrAns9bReason2.$error" class="error-messages" ng-show="smrQuesForm.smrAns9bReason2.$invalid && !smrQuesForm.smrAns9bReason2.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">c. Vehicle</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns9cO" name="smrAns9c" value="4 wheeler" ng-model="smrIndsC.smrIndsQuesData.ANS_9c" required />
                                        <label for="smrAns9cO">4 wheeler</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns9cR" name="smrAns9c" value="2 wheeler" ng-model="smrIndsC.smrIndsQuesData.ANS_9c" required />
                                        <label for="smrAns9cR">2 wheeler</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns9cC" name="smrAns9c" value="None" ng-model="smrIndsC.smrIndsQuesData.ANS_9c" required />
                                        <label for="smrAns9cC">None</label>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">d. Other landed property if owned</label>
                                <input type="text" class="form-control" name="smrAns9di" ng-model="smrIndsC.smrIndsQuesData.ANS_9di" placeHolder="Location" >
                                <div ng-messages="smrQuesForm.smrAns9di.$error" class="error-messages" ng-show="smrQuesForm.smrAns9di.$invalid && !smrQuesForm.smrAns9di.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                                <input type="text" class="form-control" name="smrAns9dii" ng-model="smrIndsC.smrIndsQuesData.ANS_9dii" placeHolder="Approximate value" >
                                <div ng-messages="smrQuesForm.smrAns9dii.$error" class="error-messages" ng-show="smrQuesForm.smrAns9dii.$invalid && !smrQuesForm.smrAns9dii.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">10. Based on your assessment, would you believe that the customer's lifestyle matches with the income declared by him as well as his financial background as assessed by you;</label>
                                <input type="text" class="form-control" name="smrAns10" ng-model="smrIndsC.smrIndsQuesData.ANS_10" required  >
                                <div ng-messages="smrQuesForm.smrAns10.$error" class="error-messages" ng-show="smrQuesForm.smrAns10.$invalid && !smrQuesForm.smrAns10.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">11. Any specific information about the Life to be insured / Proposer that should be known to Tata AIA Life:</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">a. Current Health status (like any physical deformity, Handicapped / Mental Retardation)</label>
                                <input type="text" class="form-control" name="smrAns11a" ng-model="smrIndsC.smrIndsQuesData.ANS_11a"  >
                                <div ng-messages="smrQuesForm.smrAns11a.$error" class="error-messages" ng-show="smrQuesForm.smrAns11a.$invalid && !smrQuesForm.smrAns11a.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">b. Any visible signs of illness / Surgery / Injury or medical investigation</label>
                                <input type="text" class="form-control" name="smrAns11b" ng-model="smrIndsC.smrIndsQuesData.ANS_11b"  >
                                <div ng-messages="smrQuesForm.smrAns11b.$error" class="error-messages" ng-show="smrQuesForm.smrAns11b.$invalid && !smrQuesForm.smrAns11b.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">c. Family background (like medical history, politically exposed member, family business)</label>
                                <input type="text" class="form-control" name="smrAns11c" ng-model="smrIndsC.smrIndsQuesData.ANS_11c"  >
                                <div ng-messages="smrQuesForm.smrAns11c.$error" class="error-messages" ng-show="smrQuesForm.smrAns11c.$invalid && !smrQuesForm.smrAns11c.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">d. Involvement in any hazardous activities by the way of occupation or activities</label>
                                <input type="text" class="form-control" name="smrAns11d" ng-model="smrIndsC.smrIndsQuesData.ANS_11d"  >
                                <div ng-messages="smrQuesForm.smrAns11d.$error" class="error-messages" ng-show="smrQuesForm.smrAns11d.$invalid && !smrQuesForm.smrAns11d.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">e. Others</label>
                                <input type="text" class="form-control" name="smrAns11e" ng-model="smrIndsC.smrIndsQuesData.ANS_11e" >
                                <div ng-messages="smrQuesForm.smrAns11e.$error" class="error-messages" ng-show="smrQuesForm.smrAns11e.$invalid && !smrQuesForm.smrAns11e.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">12. Have you ascertained or made attempts to ascertain the source of funds of the customer that matches with the premiums being paid by the customer under the proposal. Please provide the details in case of any adverse observation on the source of funds.</label>
                                <input type="text" class="form-control" name="smrAns12" ng-model="smrIndsC.smrIndsQuesData.ANS_12" >
                                <div ng-messages="smrQuesForm.smrAns12.$error" class="error-messages" ng-show="smrQuesForm.smrAns12.$invalid && !smrQuesForm.smrAns12.$pristine">
                                    <div ng-message="required">Field cannot be empty.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">13. Have you informed the customer that he/she will get a Pre Submission Call from a ‘044' number to Yes No validate application details</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns13Y" name="smrAns13" value="Y" ng-model="smrIndsC.smrIndsQuesData.ANS_13" required />
                                        <label for="smrAns13Y">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns13N" name="smrAns13" value="N" ng-model="smrIndsC.smrIndsQuesData.ANS_13" required />
                                        <label for="smrAns13N">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group custom-form">
                                <label class="form-label">14. Is the closing balance in the bank statement submitted by customer more than the initial premium value.</label>
                                <div class="tick-radio-wrap">
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns14Y" name="smrAns14" value="Y" ng-model="smrIndsC.smrIndsQuesData.ANS_14" required />
                                        <label for="smrAns14Y">Yes</label>
                                    </div>
                                    <div class="tick-radio-btn-wrap">
                                        <input type="radio" id="smrAns14N" name="smrAns14" value="N" ng-model="smrIndsC.smrIndsQuesData.ANS_14" required />
                                        <label for="smrAns14N">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                            <div class="custom-btn form-btn-wrap">
                                <button class="btn btn-default btn-block" type="submit" ng-disabled="smrQuesForm.$invalid">Generate Output</button>
                            </div>
                        </div>
                    </div>
                    <!-- end second row -->
                </div>
            </div>
        </form>
    </div>
</section>
<div class="clearfix"></div>